.div-point-detail {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 1024px) {
    margin-top: 7px;
  }
  >img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    @media screen and (max-width: 1440px) {
      width: 15px;
      height: 15px;
      margin-right: 4px;
    }
    @media screen and (max-width: 1024px) {
      width: 12px;
      height: 12px;
      margin-right: 2px;
    }
  }
  >span {
    color: #B79B53;
    @media screen and (max-width: 1024px) {
      font-size: 8px;
    }
  }
}
.div-estimate-shipping {
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and (max-width: 1024px) {

  }
}