@import '../../../../styles/colors';

.fillter-tab {
  width: 300px;
  .header-fillter {
    margin-bottom: 19px;
    width: 100%;
    justify-content: space-between;
    >div {
      .MuiSvgIcon-root {
        font-size: 18px;
        margin-right: 11px;
      }
    }
    .bt-reset {
      text-decoration: unset;
      color: $Primary-100;
    }
  }
  .list-fillter {
    .fillter-group {
      >hr {
        width: 100%;
        margin-top: 0px;
        background: $Primary-100;
      }
    }
    
  }
}

.fillter-tab-mobile {
  width: 100%;
  height: 100%;
  padding: 24px;
  .list-fillter {
    padding-bottom: 84px;
    .fillter-group {
      >hr {
        margin-top: 0px;
      }
    }
  }
  .bt-save-mobie {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 24px * 2);
    background: #F1E4CD;
    border: none;
    box-shadow: none;
    >button {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .header-back {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .bt-back-fillter {
      display: flex;
      .MuiSvgIcon-root {
        margin-right: 18px;
      }
    }
    .bt-reset-fillter {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: $Primary-100;
    }
  }

  .list-result-filter-mobile {
    display: initial;
    margin-bottom: 8px;
    .bt-result-filter {
      display: inline-block;
      height: 29px;
      background: $Primary-70;
      border: 1px solid $Primary-100;
      border-radius: 20px;
      margin-right: 12px;
      font-size: 14px;
      color: $Secondary-60;
      margin-bottom: 12px;
      padding: 0px 12px;
      .MuiSvgIcon-root {
        font-size: 15px;
        margin: 0px 4px 0px 7px;
      }
    }
  }

  .block-filter-mobile {
    >hr {
      width: 100%;
      background: $Primary-100;
      margin-top: 0px;
      margin-bottom: 18px;
    }
    .item-filter {
      margin-bottom: 18px;
      justify-content: space-between;
      padding-right: 7px;
      align-items:center;
      .body-text-s-regular {
        color: $Secondary-60;
      }
    }
  }

  .list-dropdown {
    >hr {
      width: 100%;
      background: $Primary-100;
      margin-top: 0px;
      margin-bottom: 30px;
    }
    
    .checkbox-ct {
      margin-left: 0px;
      .MuiFormControlLabel-root {
        align-items: center;
        .MuiCheckbox-root {
          padding: 9px;
          .MuiSvgIcon-root {
            color: $Primary-100;
          }
        }
      }
    }
  }

}