.comment-blog {
  margin-top: 5em;
  @media screen and (max-width: 1024px) {
    margin-top: 4em;
  }
  .leave-comment {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #8d8d8d;
    padding-bottom: 11px;
    margin-bottom: 10px;
  }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: unset;
  }
  .input-comment {
    height: 4rem;
    border: none;
    border-bottom: 1px dashed #0d0d0d;
    border-radius: 0;
    font-size: 14px;
    color: #0d0d0d;
    padding: 0;
  }
  .header-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    .reply-btn {
      color: white;
      padding: 8px 18px;
      border: none;
      background: #0d0d0d;
      display: flex;
      border-radius: 6px;
      align-items: center;
      img {
        margin-right: 8px;
      }
    }
  }
  .image-user {
    width: fit-content;
    overflow: hidden;
    position: relative;
    .image {
      float: left;
      position: relative;
      width: 40px;
      padding-bottom: 40px;
      max-height: 40px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 100%;
      margin-right: 1rem;
      @media screen and (max-width: 1024px) {
        //   padding-bottom: 80%;
      }
    }
  }
  .comment-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #e2e2e2;
    &:first-of-type {
      border-bottom: none;
    }
    .info-user {
      display: flex;
      margin-bottom: 10px;
      .info {
        display: flex;
        flex-direction: column;
        .name {
          font-weight: 500;
        }
        span {
          font-size: 14px;
        }
        .date {
          font-size: 14px;
          color: #8d8d8d;
          text-transform: lowercase;
        }
      }
    }
  }
  .comment-form {
    margin-top: 0;
    .comment-item {
      border: none;
    }
    .btn-box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      padding-top: 1em;
      button {
        color: white;
        padding: 8px 18px;
        border: none;
        background: white;
        min-width: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 6px;
        align-items: center;
        @media screen and (max-width: 1024px) {
          width: 50%;
        }
      }
      .btn-cancel {
        border: 1px solid #0d0d0d;
        color: #0d0d0d;
        margin-right: 8px;
      }
      .btn-submit {
        background: #0d0d0d;
        color: white;
      }
    }
  }
  .paging {
    text-align: center;
    padding: 2rem 0;
    @media screen and (max-width: 1024px) {
      padding: 0 0 2em;
      margin-top: -3.5em;
      position: relative;
    }
    button {
      text-transform: uppercase;
      padding: 8px 50px;
      background: #ffffff;
      border: 2px solid #0d0d0d;
      border-radius: 6px;
      letter-spacing: 0.1em;
    }
    .overlay {
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9150035014005602) 32%,
        rgba(255, 255, 255, 0.20351890756302526) 100%
      );
      height: 3em;
    }
    .btn-show-all {
      background: #0d0d0d;
      border: none;
      color: white;
      width: 100%;
    }
  }
}
