.b2b-partnership {
  margin-top: 227px;
  @media (max-width: 1440px) {
    margin-top: 170px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
  }
  .our-history {
    background: #DADADA;
    .content {
      text-align: center;
      padding: 50px 0px;
      width: 1190px;
      @media screen and (max-width: 1440px) {
        padding: 37.5px 0px;
        width: calc(1190px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        padding: 30px 0px;
        width: calc(100% - 78px);
      }
      .header_2 {
        margin-bottom: 10px;
        @media screen and (max-width: 1440px) {
          margin-bottom: 7px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
        }
      }
      .rich-text {
        >p {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px;
          @media screen and (max-width: 1440px) {
            font-size: calc(16px * 0.75);
            line-height: calc(23px * 0.75);
          }
        }
      }
    }
  }
}
