.age-quiz-ferrari {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-top: 0px;
    @media screen and (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 32px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 32px;
    }
  }
  .div-progress-bar {
    width: calc(100% - 150px * 2);
    position: relative;
    margin-bottom: 50px;
    @media screen and (max-width: 992px) {
      width: calc(100% - 100px * 2);
    }
    @media screen and (max-width: 767px) {
      width: calc(100% - 25px * 2);
    }
    .rangeslider {
      height: 12px;
      background: #303030;
      border-radius: 0px;
      box-shadow: none;
      @media screen and (max-width: 991px) {
        height: 8px;
      }
      .rangeslider__fill {
        background: #DA291C;
        box-shadow: unset;
      }
      .rangeslider__labels {
        display: inherit;
        .rangeslider__labels-item {
          font-size: 12px;
          font-weight: 600;
          color: #8F8F8F;
          font-family: 'Ferrari';
          @media screen and (max-width: 991px) {
            height: 9px;
          }
          @media screen and (max-width: 767px) {
            height: 14px;
          }
        }
        .rangeslider__label-item {
          color: #8F8F8F;
        }
        .rangeslider__label-item:nth-child(1) {
          @media screen and (max-width: 767px) {
            left: unset !important;
            right: -20px !important;
          }
        }
        .rangeslider__label-item:nth-child(2) {
          @media screen and (max-width: 767px) {
            left: 0px !important;
          }
        }
      }
      .rangeslider__handle {
        width: 72px;
        height: 72px;
        background: #DA291C;
        border-radius: 50%;
        border: none;
        box-shadow: none;
        @media screen and (max-width: 991px) {
          width: 50px;
          height: 50px;
        }
        @media screen and (max-width: 767px) {
          width: 36px;
          height: 36px;
        }
        &::after {
          width: 0px;
          height: 0px;
        }
        .rangeslider__handle-label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 24px;
          line-height: 150%;
          color: #FFFFFF;
          font-family: 'Ferrari';
          @media screen and (max-width: 991px) {
            font-size: 17px;
          }
          @media screen and (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
    }
    .lable-number {
      display: flex;
      flex-direction: row;
    }
  }
  >button {
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    >img {
      width: 42px;
      height: 42px;
      margin-left: 8px;
    }
  }
}