.club-banner {
  background-size: cover;
  background-position: center;
  min-height: 46.5rem;

  @media screen and (max-width: 767.98px) {
    min-height: 35rem;
  }

  .__header {
    p {
      margin: 0;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      line-height: normal;
    }

    .title {
      font-family: Playfair Display;
      font-weight: bold;
      font-size: 6.5rem;
      margin-bottom: 0px;
      color: #ffffff;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-size: 4.875rem;
      }

      @media screen and (max-width: 767.98px) {
        font-size: 2.75rem;
      }
    }

    .description {
      letter-spacing: 0.05em;
      font-size: 1.125rem;
      font-weight: 400;

      @media screen and (max-width: 1440px) {
        font-size: 1rem;
      }

      @media (max-width: 767.98px) {
        margin-top: 0.75rem;
        font-weight: normal;
        font-size: 14px;
        padding: 0;
      }
    }
  }

  .__content {
    margin-top: 2.875rem;
    @media (max-width: 767.98px) {
      margin-top: 5.8rem;
    }
    .price {
      p {
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        text-transform: capitalize;

        @media screen and (max-width: 1440px) {
          font-size: 1.125rem;
        }
      }
    }
    .join {
      margin-top: 1.25rem;
      a {
        background: #b79b53;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        cursor: pointer;
        padding: 1.25rem 2.25rem;
        font-weight: 500;
        font-size: 1.375rem;
        letter-spacing: 0.2em;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;

        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
      }
    }
  }
}
