.line-chart {
  display: flex;
  align-items: center;
  width: 100%;
  .text-title {
    width: 70px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #56564E;
  }
  .line-bg {
    flex: 1;
    height: 18px;
    border-radius: 12px;
    background: #EBD8B8;
    .line-value {
      height: 100%;
      border-radius: 12px;
    }
  }
}