.cart-ct {
  background: #EBD8B8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px;
  border: none;
  position: relative;
  @media screen and (max-width: 1024px) {
    border-radius: 10px;
    padding: 12px;
    box-shadow: none;
  }
}