.custom-checkbox-container {
  position: relative;
  display: flex;
  align-items: center;

  .custom-checkbox-input {
    width: 1rem;
    height: 1rem;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    & + label {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      outline: none !important;
      user-select: none;
      cursor: pointer;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        border: 1px solid #0d0d0d;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:checked {
      & + label::before {
        content: "";
        background-image: url("../../image/icon/ic-checkbox.svg");
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0.75rem;
        font-weight: bold;
        color: #fff;
        border-color: #0d0d0d;
        background-color: #0d0d0d;
      }
    }

    &.--check-all {
      &:checked + label::before {
        content: "";
        background-image: url("../../image/icon/ic-checkbox.svg");
        font-size: 1rem;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &.--disabled {
      cursor: not-allowed;

      & + label {
        cursor: not-allowed;
        opacity: 0.5;

        &::before {
          border-color: rgba(0, 0, 0, 0.1);
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      &:checked + label::before {
        border-color: #0d0d0d;
        background-color: #0d0d0d;
        opacity: 0.5;
      }
    }
  }

  .custom-checkbox-label {
    margin-left: 0.75rem;
  }
}
