.region-ask {
  width: 100vw;
  padding: 25px 0px 32px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D9D9D9!important;
  position: fixed;
  top: 0px;
  z-index: 100;
  height: 103px;
  left: 0px;
  @media screen and (max-width: 1440px){
    padding: 19px 0px 24px 0px;
    height: 80px;
  }
  @media screen and (max-width: 1024px){
    flex-direction: column;
    height: 120px;
    padding: 11px 15px 15px 20px;
    justify-content: space-between;
  }
  .text {
    font-size: 18px;
    color: #000000;
    width: 26%;
    @media screen and (max-width: 1440px){
      font-size: calc(18px * 0.75);
    }
    @media screen and (max-width: 1024px){
      width: 100%;
      font-size: 12px;
      padding-right: 30px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
    .dropdown-region {
      width: 346px;
      padding: 0px 26px;
      @media screen and (max-width: 1440px){
        width: calc(346px * 0.75);
        padding: 0px 20px;
      }
      @media screen and (max-width: 1024px){
        width: 100%;
        padding: 0px 19px 0px 0px;
      }
      .select-country {
        >div {
          border: 1px solid #0D0D0D;
          border-radius: 6px;
          min-height: 50px;
          box-shadow: none;
          @media screen and (max-width: 1440px){
            min-height: calc(50px * 0.75);
          }
          >div {
            // padding: 0px;
            >span {
              display: none;
            }
            >img {
              margin-bottom: 0px!important;
              padding-right: 0.7rem;
            }
          }
        }
        &__label {
          margin-bottom: 0.25rem;
        }
        .css-1go8zw9-container {
          .css-rmtpy5-control {
            padding: 0 1rem 0 0;
          }
          .css-8bgjdf-control {
            padding: 0 1rem 0 0;
          }
        }
        .add-btn {
          .btn {
            width: 100%;
            display: flex;
            align-items: center;
            color: #0D0D0D;
            background: none !important;
            border: none !important;
            box-shadow: none !important;
      
            .text {
              font-size: 0.875rem;
              margin-left: 0.75rem;
            }
          }
        }
      
        [class*="-indicatorContainer"] {
          margin-right: 1rem;
          padding: 0;
        }
      }
    }
    .bt-continute {
      height: 50px;
      min-width: 100px;
      padding: 0px 17px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0px;
      text-transform: none;
      @media screen and (max-width: 1440px){
        font-size: calc(18px * 0.75);
        height: calc(50px * 0.75);
      }
    }
  }
  .bt-close {
    padding-left: 26px;
    background: transparent;
    border: none;
    @media screen and (max-width: 1440px) {
      padding-left: 20px;
    }
    @media screen and (max-width: 1024px){
      position: absolute;
      top: 7px;
      right: 10px;
    }
    >img {
      width: 13px;
      height: 13px;
    }
  }
}