.progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;

    li {
        list-style-type: none;
        color:#000;
        text-transform: uppercase;
        font-size: 9px;
        width: 20%;
        float: left;
        position: relative;
        letter-spacing: 1px;
        text-align: center;

        &::before {
            content: counter(step);
            counter-increment: step;
            width: 24px;
            height: 24px;
            line-height: 26px;
            display: block;
            font-size: 12px;
            color: #333;
            background: white;
            border-radius: 25px;
            margin: 0 auto 10px auto;
        }

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        &:first-of-type:after {
            content: none
        }

        &.active:before, &.active:after {
            background: $blue-ocean;
            color: white;
        }

    }
}