.widget {
    &-box {
        padding: 0;
        box-shadow: none;
        margin: 3px 0;
        border: 1px solid #CCC;
        &.transparent {
            border-width: 0;
            &>.widget-body {
                border-width: 0;
                background-color: transparent;
            }
        }
    }

    &-body {
        background-color: #FFF;
    }

    &-main{
        padding: 12px;
        &.no-padding, &.padding-0 {
            padding: 0;
        }
    }
    
}

.timeline {
    &-container {
        position: relative;
        padding-top: 4px;
        margin-bottom: 32px;
    }
    &-label{
        display: block;
        clear: both;
        margin: 0 0 18px 34px;
    }

    &-item {
        position: relative;
        margin-bottom: 8px;

        .transparent.widget-box{
            border-left: 3px solid #DAE1E5;
        }

        .widget-box {
            margin: 0 0 0 60px;
            position: relative;
            max-width: none;
        }

        .widget-body {
            background-color: transparent;
        }

        .widget-main {
            margin: 0;
            position: relative;
            max-width: none;
            border-bottom-width: 0;
        }
    }

    &-info{
        float: left;
        width: 60px;
        text-align: center;
        position: relative;
    }

    &-style2 {
        .timeline-label {
            width: 130px;
            margin-left: 0;
            margin-bottom: 10px;
            color: #666;
            font-size: 14px;
        }

        .timeline-item {
            padding-bottom: 22px;
            margin-bottom: 0;

            &::first-of-type::before{
                display: block;
            }

            &::last-child::before {
                display: none;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 90px;
                top: 5px;
                bottom: -5px;
                border-width: 0;
                background-color: #DDD;
                width: 2px;
                max-width: 2px;
            }

            .transparent.widget-box{
                background-color: transparent!important;
                border-left: none!important;
            }

            .widget-box{
                margin-left: 112px;
            }

            
        }

        .timeline-info {
            width: 100px;
        }

        .timeline-date {
            display: inline-block;
            width: 72px;
            text-align: right;
            margin-right: 25px;
            color: #777;
        }

        .timeline-indicator {
            font-size: 0;
            height: 12px;
            line-height: 12px;
            width: 12px;
            border-width: 1px!important;
            background-color: #FFF;
            position: absolute;
            left: 85px;
            top: 3px;
            opacity: 1;
            border-radius: 100%;
            display: inline-block;
            padding: 0;

            &:hover {
                background-color: #6FB3E0!important;
            }
        }
    }
}


.timeline-item:last-child:before{display:none}