.block-scent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 64px 0px;
  background: #181818;
  @media screen and (max-width: 991px) {
    padding: 64px;
  }
  @media screen and (max-width: 767px) {
    padding: 24px 12px;
  }
  .div-content-block {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    .title-scent {
      font-family: 'Ferrari';
      font-weight: 400;
      font-size: 36px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      line-height: 150%;
      color: #FFFFFF;
      text-align: center;
      margin-top: 16px;
      margin-bottom: 24px;
      @media screen and (max-width: 991px) {
        font-size: 18px;
      }
    }
    .list-options {
      display: flex;
      margin-bottom: 24px;
      width: 880px;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      .item-option {
        width: 25%;
        height: 66px;
        font-family: 'Ferrari';
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #8F8F8F;
        display: flex;
        justify-content:center;
        align-items: center;
        @media screen and (max-width: 767px) {
          font-size: 10px;
        }
      }
      .active {
        color: #DA291C;
        border-bottom: 3px solid #DA291C;
      }
    }
  }
}