.about-instagram-blogs {
  background-color: #fff;
  padding: 0;
  margin-bottom: 2em;
  .title-insta {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    display: inline-block;
    transform: rotate(180deg);
    margin: 0 0 3rem 0;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 800;
  }
  .hr-title-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .hr {
      flex-grow: 1;
      height: 3px;
      border-radius: 50px;
      @media screen and (max-width: 1024px) {
        height: 1px;
      }
      &:first-of-type {
        background: rgb(227, 191, 97);
        background: linear-gradient(
          90deg,
          rgba(227, 191, 97, 1) 0%,
          rgba(183, 155, 83, 1) 100%
        );
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      &:last-child {
        background: rgb(183, 155, 83);
        background: linear-gradient(
          90deg,
          rgba(183, 155, 83, 1) 0%,
          rgba(227, 191, 97, 1) 100%
        );
        @media screen and (max-width: 1024px) {
          width: 100%;
          background: rgb(227, 191, 97);
          background: linear-gradient(
            90deg,
            rgba(227, 191, 97, 1) 0%,
            rgba(183, 155, 83, 1) 100%
          );
        }
      }
    }
    span {
      padding: 0 16px;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 0 0 8px;
      }
    }
  }
  @media (max-width: 1440px) {
    padding: 0;
  }

  @media (max-width: 767.98px) {
    padding: 0;
  }

  .__header {

    a {
      font-size: 1.5rem;
      letter-spacing: 0.2em;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: #000000;
      @media (max-width: 1440px) {
        font-size: 1.125rem;
      }
    }

    h4 {
      padding-top: 1.25rem;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.75rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 1440px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  .__slider {
    padding: 0 0 3rem;
    width: 86%;
    flex-grow: 1;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0 0 0;
    }
    .slick-list {
      margin: 0 -15px 0 0;
      .slick-slide {
        @media screen and (max-width: 1024px) {
          transform: translateX(-66px);
        }
      }
    }
    .__item {
      overflow: hidden;
      border-radius: 6px;
      padding: 0rem 1rem;
      img {
        transition: 0.5s;
        @media (min-width: 1024px) {
          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }

    .slick-slider {
      .slick-arrow {
        top: 50%;
        margin-top: 0px;
        &.slick-prev {
          left: -7%;
        }
        &.slick-next {
          right: -7%;
        }
      }
    }
  }
}
