.strong-perfume {
  display: flex;
  >div {
    width: 50%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  .info-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1E4CD;
    @media screen and (max-width: 991px) {
      flex: 1;
    }
    .group-strong {
      display: flex;
      flex-direction: flex-end;
      align-items: center;
      height: 309px;
      @media screen and (max-width: 767px) {
        width: 100%;
        height: 65%;
        justify-content: space-evenly;
      }
      .item-strong {
        cursor: pointer;
      }
      .item-strong:nth-child(1) {
        &.hover-status {
          .list-col {
            .content-color {
              background: linear-gradient(90deg, rgba(201, 160, 71, 0.1) -135.96%, rgba(201, 160, 71, 0.4) 348.35%);
              opacity: 1 !important;
            }
          }
        }
        .list-col {
          height: 50%;
          .content-color {
            background: linear-gradient(90deg, rgba(201, 160, 71, 0.25) -135.96%, #C9A047 348.35%);
            opacity: 0;
            transition: all 0.2s;
          }
        }
      }
      .item-strong:nth-child(2) {
        &.hover-status {
          .list-col {
            .content-color {
              background: linear-gradient(270deg, rgba(201, 160, 71, 0.4) -126.47%, rgba(201, 160, 71, 0.1) 394.83%);
              opacity: 1 !important;
            }
          }
        }
        .list-col {
          height: 67%;
          .content-color {
            opacity: 0;
            transition: all 0.2s;
            background: linear-gradient(270deg, #C9A047 -126.47%, rgba(201, 160, 71, 0.25) 394.83%);
          }
        }
      }
      .item-strong:nth-child(3) {
        &.hover-status {
          .list-col {
            .content-color {
              background: linear-gradient(270deg, rgba(201, 160, 71, 0.4) -2.82%, rgba(201, 160, 71, 0.1) 507.21%);
              opacity: 1 !important;
            }
          }
        }
        .list-col {
          height: 100%;
          .content-color {
            opacity: 0;
            transition: all 0.2s;
            background: linear-gradient(270deg, #C9A047 -2.82%, rgba(201, 160, 71, 0.25) 507.21%);
          }
        }
      }
    }
  }
}