@import '../../styles/colors';

.checkout-v2 {
  width: 100%;
  background: $Primary-10;
  // margin-top: 170px;
  // @media screen and (max-width: 1024px) {
  //   margin-top: 87px;
  // }
  .block-usp-wrap {
    background: $Primary-10;
  }
  .content-checkout-v2 {
    max-width: 1200px;
    margin: auto;
    padding: 64px 0px;
    display: flex;
    width: 100%;
    @media screen and (max-width: 1024px) {
      padding: 0px 24px 24px 24px;
    }
    .info-user-v2 {
      flex: 1;
      padding-right: 24px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding-right: 0px;
      }
    }
    .card-sum-mobile {
      margin-bottom: 24px;
    }
    .button-complete {
      width: fit-content;
      margin: 0px auto;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      &.big-bt {
        padding: 0px 90px;
      }
    }
    .text-by {
      >a {
        text-decoration: none;
        color: #2C2C22;
        font-weight: 500;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .div-shopping-bag {
      width: 450px;
      .card-shopping-bag {
        width: 100%;
        background: $Primary-60;
        border-radius: 20px;
        padding: 24px;
        .MuiTypography-h3 {
          margin-bottom: 12px;
        }
        .list-carts {
          max-height: 400px;
          overflow-y: auto;
          overflow-x: hidden;
          margin-bottom: 20px;
          padding-right: 10px;
          width: calc(100% + 10px);
          &::-webkit-scrollbar {
            width: 7px;
            background-color: #e2e2e2;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #2C2C22;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-track {
            background-color: #e2e2e2;
            border-radius: 5px;
          }
          .modal-body {
            height: 100%;
            overflow-y: auto;
          }
        }
      }
    }
  }
}