.div-image-block {
  margin-left: 10px;
  position: relative;
  @media (max-width: 600px) {
    margin-left: 0px;
  }
  &.modal-custom-mobile {
    height: 100%;
    justify-content: center;
  }

  &.quiz-page {
    .image-gallery-thumbnails-wrapper {
      margin-top: calc(30px * 1.33);
      @media screen and (max-width: 1440px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }
    }
    .image-gallery-thumbnails-container {
      overflow-x: auto;
      transform: unset !important;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      .image-gallery-thumbnail {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
      }
      >a {
        width: 101px;
        height: 101px;
        @media screen and (max-width: 1440px) {
          width: 76px;
          height: 76px;
        }
        @media screen and (max-width: 1024px) {
          width: 63px;
          height: 63px;
        }
      }
      .active {
        border-radius: 0px;
        border: 2px solid #B79B53;
      }
    }
    .image-gallery-thumbnail-inner {
      width: 100%;
      height: 100%;
      >img {
        width: 93px;
        height: 93px;
        object-fit: cover;
        border-radius: 0px;
        @media screen and (max-width: 1440px) {
          width: 68px;
          height: 68px;
        }
        @media screen and (max-width: 1024px) {
          width: 55px;
          height: 55px;
          object-fit: cover;
        }
      }
    }
    .image-gallery-image-thumbnail {
      width: 100%;
      height: 93px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1440px) {
        height: 68px;
      }
      @media screen and (max-width: 1024px) {
        height: 55px;
      }
      .image-cutome-bottle {
        height: 80%;
        width: auto;
        .image-rollon {
          height: 100%;
          object-fit: contain;
        }
        .div-image-bottle-custom {
          height: 100%;
          width: auto;
          .img-bottle {
            height: 100%;
            width: auto;
          }
          .img-name {
            height: 47px;
            width: 15px;
            top: 22px;
            border-radius: 3px;
            @media screen and (max-width: 1440px) {
              height: 34px;
              width: 12px;
              top: 17px;
            }
            @media screen and (max-width: 1024px) {
              height: 29px;
              top: 12px;
              border-radius: 0px;
            }
          }
          .image-logo {
            top: 23px;
            width: 12px;
            visibility: hidden;
            @media screen and (max-width: 1024px) {
              top: 15px;
              width: 8px;
            }
          }
          .text-des-custome {
            font-size: 1px;
            bottom: 11px;
            visibility: hidden;
            @media screen and (max-width: 1024px) {
              visibility: hidden;
            }
          }
          .text-size-custome {
            font-size: 1px;
            bottom: 9px;
            visibility: hidden;
            @media screen and (max-width: 1024px) {
              visibility: hidden;
            }
          }
          .custome-name {
            font-size: 1px;
            top: 52px;
            visibility: hidden;
            @media screen and (max-width: 1024px) {
              visibility: hidden;
            }
          }
          .div-ingredients {
            top: 45px;
            visibility: hidden;
            @media screen and (max-width: 1024px) {
              visibility: hidden;
            }
            &.onMid {
              top: 40px;
            }
            >span {
              line-height: 1px;
              font-size: 2px;
            }
          }
          .custome-only-name {
            top: 40px;
            @media screen and (max-width: 1024px) {
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  
  &.product-detail-v2 {

    &.product-detail-v3 {
      margin-left: 0px;
      @media screen and (max-width: 991px) {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .div-image {
        @media screen and (max-width: 991px) {
          width: 100%;
        }
        .image-gallery {
          .image-gallery-content {
            .image-gallery-slide-wrapper {
              width: 100%;
            }
          }
        }
      }
      .image-gallery-slide-wrapper {
        width: 500px;
        @media screen and (max-width: 991px) {
          width: 50%;
        }
        @media screen and (max-width: 767px) {
          width: calc(100% - 32px);
        }
        >span {
          >button {
            transform: unset;
            bottom: -115px;
            top: unset;
            padding: 0px;
            @media screen and (max-width: 767px) {
              visibility: hidden;
            }
            &:disabled {
              visibility: hidden;
            }
          }
          .image-gallery-left-nav {
            left: 0px;
            &:before {
              background: url('../../imagev2/svg/icon-left.svg');
              background-repeat: no-repeat;
              background-size: 100%;
            }
          }
          .image-gallery-right-nav {
            right: 0px;
            &:before {
              background: url('../../imagev2/svg/icon-right.svg');
              background-repeat: no-repeat;
              background-size: 100%;
            }
          }
        }
        .image-gallery-swipe {
          .image-gallery-slides {
            .image-gallery-slide {
              .image-gallery-image {
                @media screen and (max-width: 991px) {
                  height: 500px;
                  width: 100%;
                }
                @media screen and (max-width: 767px) {
                  width: 100%;
                  height: calc(100vw - 32px);
                }
                .video-wrapper {
                  width: 99.95%
                }
                >img {
                  border-radius: 25px;
                  width: 100%;
                  height: 500px;
                  @media screen and (max-width:767px) {
                    border-radius: 30px;
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
      .image-gallery-thumbnails-wrapper {
        &.bottom {
          margin-top: 12px;
          height: 88px;
          @media screen and (max-width: 767px) {
            height: 65px;
          }
        }
        .image-gallery-thumbnails {
          .image-gallery-thumbnails-container {
            width: 100%;
            > a {
              width: auto;
            }
            .image-gallery-thumbnail {
              width: fit-content;
              margin: 0px 5px;
              @media screen and (max-width: 991px) {
                height: 88px;
              }
              @media screen and (max-width: 767px) {
                height: 55px;
              }
              &.active {
                border: none;
                .image-gallery-image-thumbnail {
                  border: 2px solid #B79B53;
                  border-radius: 8px;
                  @media screen and (max-width: 767px) {
                    border: 1px solid #B79B53;
                  }
                }
                .image-gallery-thumbnail-inner {
                  >img {
                    border: 2px solid #B79B53;
                    @media screen and (max-width: 767px) {
                      border: 1px solid #B79B53;
                    }
                  }
                }
              }
              .image-gallery-image-thumbnail {
                height: 88px;
                width: 88px;
                @media screen and (max-width: 767px) {
                  height: 55px;
                  width: 55px;
                }
                .image-cutome-bottle {
                  margin: auto;
                  position: absolute;
                  height: 88px;
                  @media screen and (max-width: 991px) {
                    position: relative;
                  }
                  @media screen and (max-width: 767px) {
                    height: 55px;
                    position: relative;
                  }
                }
              }
              .image-gallery-thumbnail-inner {
                >img {
                  width: 88px;
                  height: 88px;
                  @media screen and (max-width: 767px) {
                    height: 55px;
                    width: 55px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .image-gallery-slide-wrapper {
      width: calc(100% - 130px);
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      .image-gallery-left-nav {
        padding-left: 0px;
      }
      .image-gallery-right-nav {
        padding-right: 0px;
      }
      .image-gallery-swipe {
        .image-gallery-slides {
          .image-gallery-slide {
            background: transparent;
            display: flex;
            justify-content: center;
            .image-gallery-image {
              background: transparent;
              display: flex;
              justify-content: center;
              width: 100%;
              @media screen and (max-width: 991px) {
                height: 280px;
                width: 201px;
              }
              .video-wrapper {
                width: 99.95%
              }
              >img {
                border-radius: 40px;
                width: 85%;
                object-fit: cover;
                @media screen and (max-width:991px) {
                  border-radius: 40px;
                  width: 100%;
                  height: 100%;
                }
              }
              // .image-cutome-bottle {
              //   @media screen and (max-width: 991px) {
              //     height: 280px;
              //   }
              //   .div-image-bottle-custom {
                  
              //     .img-name {
              //       @media screen and (max-width: 991px) {
              //         height: 147px;
              //         top: 66px;
              //         width: 48px;
              //       }
              //     }
              //     .image-logo {
              //       @media screen and (max-width: 991px) {
              //         width: 38px;
              //         top: 75px;
              //       }
              //     }
              //     .text-des-custome {
              //       @media screen and (max-width: 991px) {
              //         font-size: 4px;
              //         bottom: 30px;
              //       }
              //     }
              //     .text-size-custome {
              //       @media screen and (max-width: 991px) {
              //         bottom: 23px;
              //         font-size: 4px;
              //       }
              //     }
              //     .custome-name {
              //       @media screen and (max-width: 991px) {
              //         top: 181px;
              //         font-size: 8px;
              //       }
              //     }
              //     .custome-only-name {
              //       @media screen and (max-width: 991px) {
              //         font-size: 5px;
              //         top: 128px;
              //       }
              //     }
              //     .div-ingredients {
              //       @media screen and (max-width: 991px) {
              //         top: 141px;
              //       }                
              //       &.onMid {
              //         @media screen and (max-width: 991px) {
              //           top: 120px;
              //         }
              //       }
              //     }
              //   }
              // }
            }
          }
        }
      }
    }
    .image-gallery-thumbnails-wrapper {
      &.right {
        width: 125px;
      }
      &.bottom {
        margin-top: 12px;
        height: 68px;
      }
      .image-gallery-thumbnails {
        @media screen and (max-width: 991px) {
          padding: 0px;
          height: 100%;
        }
        .image-cutome-bottle {
          margin-left: 48px;
          @media screen and (max-width:991px) {
            margin-left: unset;
          }
        }
        .image-gallery-thumbnails-container {
          @media screen and (max-width: 991px) {
            overflow-y: hidden;
            height: 100%;
            &::-webkit-scrollbar {
              width: 0px;
              height: 0px;
              background-color: transparent;
            }
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: transparent;
            }
          }
          .image-gallery-thumbnail {
            margin-bottom: 26px;
            border: none;
            @media screen and (max-width:991px) {
              margin-bottom: 0px;
              width: 58px;
              height: 66px;
            }
            &.active {
              border: none;
              .image-gallery-thumbnail-inner {
                >img {
                  border: 1px solid #2C2C22;
                }
              }
            }
            .image-gallery-image-thumbnail {
              height: 110px;
              @media screen and (max-width:991px) {
                height: 66px;
              }
              .image-cutome-bottle {
                height: 90%;
                .div-image-bottle-custom {
                  .img-name {
                    @media screen and (max-width: 991px) {
                      height: 37px;
                      top: 17px;
                      border-radius: 2px;
                      width: 10px;
                    }
                  }
                }
              }
            }
            .image-gallery-thumbnail-inner {
              display: flex;
              justify-content: flex-end;
              @media screen and (max-width:991px) {
                display: unset;
              }
              >img {
                width: 76px;
                height: 110px;
                border-radius: 10px;
                @media screen and (max-width:991px) {
                  width: 46px;
                  height: 66px;
                  border-radius: 10px;
                }
              }
            }
          }
        }
      }
    }
  }


  .bt-close {
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 1;
    @media screen and (max-width: 1024px) {
      top: 30px;
      right: 30px;
    }
    >img {
      width: 20px;
      height: 20px;
    }
  }
  .div-name {
    
    >button {
      color: #8D8D8D;
    }
    .active {
      color: #0D0D0D;
      font-weight: 500;
    }
  }
  .image-gallery-left-nav, .image-gallery-right-nav {
    // visibility: hidden;
    &::before {
      color: transparent;
      opacity: 1;
      font-size: 60px;
      line-height: none;
      text-shadow: none;
      transition: none;
    }
    &:hover{
      &::before {
        opacity: 1;
      }
    }
  }
  .image-gallery-left-nav {
    &::before {
      background: url('../../image/icon/ic-prev-silder.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .image-gallery-right-nav {
    &::before {
      background: url('../../image/icon/ic-next-silder.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .image-gallery-thumbnails-wrapper {
    &.left, &.right {
      width: 124px;
      @media screen and (max-width: 1440px) {
        width: calc(124px * 0.75);
      }
      .image-gallery-thumbnails {
        // overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
    }
  }
  .image-gallery-slide-wrapper {
    &.left {
      width: calc(100% - 130px);
      @media screen and (max-width: 1440px) {
        width: calc(100% - 113px);
      }
    }
  }
  
  .image-gallery-thumbnails-container {
    background:transparent;
    @media screen and (max-width: 991px) {
      overflow-x: auto;
      transform: unset !important;
    }
    .image-gallery-thumbnail {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
    }
    >a {
      width: 100%;
      @media screen and (max-width: 991px) {
        width: 63px;
        height: 63px;
      }
    }
    .active {
      border-radius: 0px;
      border: 2px solid #B79B53;
    }
  }
  
  .image-gallery-image{
    background: #F5ECDC;
    @media (max-width: 767px) {
      // height: calc(100vw - 20px);
      height: 355px;
      background: #F5ECDC;
    }
    .image-cutome-bottle {
      height: 502px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 600px) {
        // height: calc(100vw - 20px);
        height: 355px;
      }

      .image-rollon {
        height: 60%;
        object-fit: contain;
      }

      .div-image-bottle-custom {
        height: 80%;
        .img-bottle {
          width: auto;
          height: 100%;
        }
        .img-name {
          height: 258px;
          width: 80px;
          top: 109px;
          border-radius: 20px;
          @media screen and (max-width: 991px) {
            height: 188px;
            top: 80px;
            width: 60px;
            border-radius: 20px;
          }
        }
        .image-logo {
          width: 58px;
          top: 121px;
          @media screen and (max-width: 991px) {
            width: 45px;
            top: 100px;
          }
        }
        .text-des-custome {
          bottom: 60px;
          width: auto;
          font-size: 8px;
          @media screen and (max-width: 991px) {
            bottom: 40px;
            font-size: 5px;
          }
        }
        .text-size-custome {
          bottom: 46px;
          font-size: 8px;
          @media screen and (max-width: 991px) {
            bottom: 30px;
            font-size: 5px;
          }
        }
        .custome-name {
          font-size: 11px;
          top: 328px;
          @media screen and (max-width: 991px) {
            top: 225px;
            font-size: 8px;
          }
        }
        .div-ingredients {
          top: 214px;
          @media screen and (max-width: 991px) {
            top: 185px;
          }
          >span {
            line-height: 12px;
            font-size: 9px;
            @media screen and (max-width: 991px) {
              line-height: 8px;
              font-size: 6px;
            }
          }
          &.onMid {
            top: 215px;
            @media screen and (max-width: 991px) {
              top: 160px;
            }
          }
        }
        .custome-only-name {
          top: 314px;
          font-size: 11px;
          @media screen and (max-width: 991px) {
            top: 160px;
            font-size: 8px;
          }
        }
      }
    }
    >img {
      height: 502px;
      object-fit: contain;
      object-position: center;
      @media (max-width: 600px) {
        // height: calc(100vw - 20px);
        height: 355px;
      }
    }
    .video-wrapper {
      height: 502px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 600px) {
        // height: calc(100vw - 20px);
        height: 355px;
      }
    }
  }
  .image-gallery-image-thumbnail {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    // @media screen and (max-width: 1440px) {
    //   height: calc(112px * 0.75);
    // }
    @media screen and (max-width: 991px) {
      height: 55px;
    }
    .image-cutome-bottle {
      height: 80%;
      width: auto;
      .image-rollon {
        height: 100%;
        object-fit: contain;
      }
      .div-image-bottle-custom {
        height: 100%;
        width: auto;
        .img-bottle {
          height: 100%;
          width: auto;
        }
        .img-name {
          height: 47px;
          width: 14px;
          top: 27px;
          border-radius: 0px;
          @media screen and (max-width: 991px) {
            height: 29px;
            top: 12px;
            border-radius: 0px;
          }
        }
        .image-logo {
          top: 29px;
          width: 12px;
          @media screen and (max-width: 991px) {
            top: 15px;
            width: 8px;
          }
        }
        .text-des-custome {
          font-size: 1px;
          bottom: 11px;
          visibility: hidden;
          @media screen and (max-width: 991px) {
            visibility: hidden;
          }
        }
        .text-size-custome {
          font-size: 1px;
          bottom: 9px;
          visibility: hidden;
          @media screen and (max-width: 991px) {
            visibility: hidden;
          }
        }
        .custome-name {
          font-size: 1px;
          top: 52px;
          visibility: hidden;
          @media screen and (max-width: 991px) {
            visibility: hidden;
          }
        }
        .div-ingredients {
          top: 50px;
          @media screen and (max-width: 991px) {
            visibility: hidden;
          }
          &.onMid {
            top: 40px;
          }
          >span {
            line-height: 1px;
            font-size: 2px;
          }
        }
        .custome-only-name {
          top: 67px;
          @media screen and (max-width: 991px) {
            visibility: hidden;
          }
        }
      }
    }
  }
  .image-gallery-thumbnail-inner {
    @media screen and (max-width: 991px) {
      width: 100%;
      height: 100%;
    }
    >img {
      width: 112px;
      height: 112px;
      object-fit: cover;
      border-radius: 0px;
      @media screen and (max-width: 1440px) {
        width: calc(112px * 0.75);
        height: calc(112px * 0.75);
      }
      @media screen and (max-width: 991px) {
        width: 55px;
        height: 55px;
        object-fit: cover;
      }
    }
  }

  .div-share {
    margin-left: 110px;
    >img {
      height: 16px;
    }
  }
}