.div-banner {
  width: 100%;
  position: relative;
  height: 415px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  color: #FFFFFF;
  @media scents and (max-width: 1024px) {
    height: 342px;
  }
  .image-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    object-position: center;
  }
  >h1 {
    font-size: 3rem;
    line-height: 59px;
    margin-bottom: 3px;
    letter-spacing: 0.1em;
    z-index: 1;
    font-weight: 400;
    @media screen and (max-width: 1440px) {
      font-size: 3.42857rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 2rem;
      line-height: 59px;
      margin-bottom: 7px;
    }
  }
  .des {
    font-size: 1rem;
    line-height: 23px;
    text-align: center;
    margin-bottom: 50px;
    z-index: 1;
    width: 400px;
    font-weight: 400;
    @media screen and (max-width: 1440px) {
      font-size: 1.1428rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1.1428rem;
      line-height: 23px;
      margin-bottom: 73px;
      width: calc(100vw - 100px);
    }
  }
  >button {
    z-index: 1;
    >img {
      height: 26px;
    }
  }
}