.gift-bespoke {
  .gift-faqs {
    padding-bottom: 64px;
    @media screen and (max-width: 991px) {
      padding-bottom: 48px;
    }
    @media screen and (max-width: 480px) {
      padding-bottom: 24px;
    }
  }
}