.about-ingredient {
  padding: 4rem 4rem 0rem 4rem;
  background-color: #fff;

  @media (max-width: 767.98px) {
    padding: 2rem 1.25rem;
  }

  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: 0.2em;


    @media (max-width: 1440px) {
      font-size: 1.25rem;
    }
  }

  .about-ingredient-list {
    height: 100%;

    .__item {
      width: 100%;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 1.25rem 2rem;

      @media (max-width: 767.98px) {
        margin-top: 1.5rem;
        padding: 0.75rem 1.25rem;
      }

      i {
        font-size: 1.5rem;
        color: #0D0D0D;
      }

      span {
        font-weight: 500;
        font-size: 1.375rem;
        letter-spacing: 0.1em;
        color: #0D0D0D;

        @media (max-width: 1440px) {
          font-size: 1.125rem;
        }

        @media (max-width: 767.98px) {
          font-size: 1rem;
        }
      }

      &.active {
        background-color: #0D0D0D;

        span {
          color: #fff;
        }

        i {
          color: #fff;
        }
      }
    }

    .__item-collapse {
      padding: 2.5rem;

      @media (max-width: 767.98px) {
        padding: 1.5rem 0.5rem;
      }

      p {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.1em;
        color: #0D0D0D;
      }
    }
  }
}
