.scroll-top-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  position: fixed;
  bottom: 4em;
  right: 1em;
  z-index: 99;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  img {
    margin-bottom: 0.5em;
  }
  @media screen and (max-width: 1024px) {
    bottom: 2em;
    right: 1em;
    position: fixed;
  }
}
.wrapper-article-blogs {
  // margin-top: 70px;
  height: calc(100vh - 104px);
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 1024px) {
    height: calc(100vh - 64px);
  }
  .up-next-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 1024px) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    span {
      font-size: 20px;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
    a {
      color: #0d0d0d;
      margin-left: 8px;
      font-size: 20px;
      text-decoration: underline;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        margin-left: 0;
        display: block;
      }
    }
  }
  @media (min-width: 1024px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      transform: translateX(20px);
    }
  }
  .back-btn {
    margin: 1.5rem 2rem;
    display: block;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    color: #0d0d0d;
    @media screen and (max-width: 1024px) {
      margin: 1rem 1rem 2rem 0px;
      font-size: 11px;
      font-size: 11px;
      line-height: 11px;
    }
    &:hover {
      opacity: 0.8;
      text-decoration: none;
      transition: 0.2s ease-out;
    }
    img {
      width: 8px;
      margin-right: 10px;
      @media screen and (max-width: 1024px) {
        width: 6px;
      }
    }
  }
  //   breadcrumb
  .breadcrumb {
    background: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      font-size: 10px;
    }
    a {
      color: #0d0d0d;
      &:hover {
        text-decoration: none;
        opacity: 0.8;
        transition: 0.1s;
      }
    }
    .breadcrumb-item.active {
      color: #0d0d0d;
    }
  }
  .banner-articles {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding-bottom: 21%;
  }
  .article-content {
    .item {
      .title {
        text-align: center;
      }
    }
    .title {
      @media screen and (max-width: 1024px) {
        display: flex;
        align-items: baseline;
      }
    }
    .content{
      width: 74%;
      margin: 86px auto;
      >p>span {
        * {
          font-family: unset;
        }
      }
      @media screen and (max-width: 1024px) {
        width: calc(100% - 60px);
        margin: 38px auto;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 160%;
        color: #0D0D0D;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
      h3 {
        font-size: 28px;
        @media screen and (max-width: 1024px) {
          font-size: 22px;
        }
      }
      h1, h2, h3, h4, h5, h6{
        margin-bottom: 30px;
        font-family: Playfair Display;
        font-weight: bold;
        line-height: 37px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #0D0D0D;

      }
      .responsive-object{
        padding-bottom: 0 !important;
      }
    }
    .numbered-list {
      line-height: 0;
      position: absolute;
      margin-left: -48px;
      margin-top: 19px;
      display: none;
      @media screen and (max-width: 1024px) {
        position: unset;
        margin-left: 0;
        margin-top: 0;
        margin-right: 8px;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 28px;
        width: fit-content;
      }
      span {
        font-size: 14px;
      }
    }
    .info-article {
      .title {
        margin: 0 0 1rem;
        font-size: 36px;
        letter-spacing: 0.05em;
        @media screen and (max-width: 1024px) {
          font-size: 32px;
          margin: 0.6em 0;
          text-align: center;
          font-family: Playfair Display;
          font-size: 32px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
        }
      }
      .info {
        font-size: 12px;
        text-transform: uppercase;
        .writer-name {
          margin-right: 1rem;
          font-weight: lighter;
          font-size: 10px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #0d0d0d;
          span {
            font-weight: 500;
          }
        }
        .date-upatde {
          color: #8d8d8d;
          font-weight: 500;
          @media screen and (max-width: 1024px) {
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
          }
        }
      }
    }

    .image-article {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin: 1rem 0;
      .author {
        display: block;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: right;
      }
      .image {
        float: left;
        position: relative;
        width: 100%;
        padding-bottom: 38.5%; /* = width for a 1:1 aspect ratio */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        margin-bottom: 0.75rem;
        @media screen and (max-width: 1024px) {
          padding-bottom: 68.2%;
        }
        >span {
          position: absolute;
          bottom: 9px;
          right: 20px;
          font-weight: 500;
          font-size: 11px;
          letter-spacing: 0.1em;
          color: #8D8D8D;
        }
      }
      .tag {
        width: fit-content;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: #b79a53;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        letter-spacing: 0.1em;
        border-radius: 4px;
      }
    }
  }

  .product-article {
    .product-section {
      padding: 72px 0px;
      border: none;
      border-top: 1px solid #E2E2E2;
      border-bottom: 1px solid #E2E2E2;
      @media screen and (max-width: 1024px) {
        padding: 32px 0px 75px 0px;
      }

      .title-center {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 38px;
        @media screen and (max-width: 1024px) {
          visibility: hidden;
          margin-bottom: 0px;
        }
      }
      .products-box {
        display: flex;
        justify-content: space-evenly;
        @media screen and (max-width: 1024px) {
          display: grid;
          grid-template-columns: auto auto;
        }
        .product {
          width: 25%;
          padding: 0px;
          border-bottom: none;
          .image-product {
            cursor: pointer;
          }
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-top: 40px;
          }
        }
      }
      .link-shop {
        width: 245px;
        height: 58px;
        border: 1px solid #0D0D0D;
        border-radius: 5px;
        margin: auto;
        text-decoration: none;
        line-height: 56px;
        margin-top: 90px;
        @media screen and (max-width: 1024px) {
          margin-top: 46px;
        }
      }
    }
  }

  .comment-blog {
    width: 74%;
    margin: 72px auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .related-stories-section {
    margin-top: 0px;
  }

  .add-this-custom {
    position: fixed;
    top: 67%;
    left: 12px;
    transition: 0.1s;
    > div {
      display: flex;
      flex-direction: column;
    }
    a {
      display: inline-block;
      padding: 4px 0;
    }
    .at300b {
      padding: 4px 2px;
      transition: 0.1s;
    }
  }
  .add-this-custom-mobile {
    margin: 2em 0;
    >div {
      display: flex;
      justify-content: center;
    }
    a {
      display: inline-block;
      margin-right: 8px;
    }
    img {
      max-width: 30px;
    }
  }
  .article-content-mobile {
    .item {
      .title {
        margin-top: 1em;
      }
    }
  }
}
#at-custom-sidebar {
  background: none !important;
  left: 10px;
  display: none;
}
.at-custom-sidebar {
  display: none !important;
  background: none;
  box-shadow: none !important;
}
.at-custom-mobile-bar{
  display: none;
}
.at-custom-side-wrapper{
  display: none;
}
.at-custom-mobile-bar.at-shfs-medium {
  height: 0 !important;
}