.input-custom {
  display: flex;
  align-items: center;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 0px 13px;
  height: 46px;
  width: 100%;
  >input {
    flex: 1;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #0D0D0D;
    border: none;
    padding: 0px;
    &::placeholder {
      color: #545454;
    }
  }
  >select {
    padding: 0px;
    border: none;
  }

  >select:focus, select:focus{
    outline: none!important;
    box-shadow: none !important;
  }

  >input:focus, input:focus{
    outline: none!important;
    box-shadow: none !important;
  }

  >textarea:focus, textarea:focus{
    outline: none!important;
    box-shadow: none !important;
  }

  >select:not([multiple]) {
    background-position: 100% 50%;
  }
  .react-datepicker-wrapper {
    width: 100%;
    height: 100%;
    .react-datepicker__input-container {
      height: 100%;
      >input {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
  .iconRight {
    height: 20px;
  }

  .text-right {
    font-size: 14px;
    color: #545454;
  }

  .custom-input-filter {
    &__checkbox {
      display: none;
      visibility: hidden;
      position: relative !important;
      margin: 0 auto !important;
      & + label {
        border-radius: 4px!important;
        border: 1px solid #E2E2E2!important;
        position: relative;
        width: 16px;
        height: 16px;
        margin: 0 auto;
        cursor: pointer;
        top: 2px;
        margin-right: 0.5rem;
      }
      &:checked + label {
        background-color: #0D0D0D;
        border: 1px solid #0D0D0D;
        color: #99a1a7;
        border-radius: 4px;
        &::after {
          content: url('../../image/icon/check_checkbox.svg');
          font-size: 15px;
          font-weight: 900;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.6);
          color: #E2E2E2;
        }
      }
    }
  }
}