.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  &.active {
    .point {
      border: 5px solid #0D0D0D;
      >button {
        background: #ffffff;
      }
    }
  }
  .point {
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    display: flex;
    >button {
      margin: auto;
      background: none;
      border: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0px;
    }
  }
  >span {
    font-weight: 400;
    font-size: 16px;
    color: #0D0D0D;
  }
}