@import '../../../styles/colors';

.cart-total-mobile {
  &.is-open {
    >div {
      .PrivateSwipeArea-root {
        height: 1px !important;
      }
    }
  }
  .footer-bottom {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    z-index: 1200;
    right: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 24px 20px;
    align-items: flex-end;
    background: #F1E4CD;
    .text-total {
      padding-left: 24px;
    }
    .price {
      font-size: 16px;
      font-weight: bold;
      color: $Secondary-60;
    }
  }
}

.full-total {
  padding: 0px 24px;
}

.mini-total {
  display: flex;
  flex-direction: row;
  padding: 36px 24px 24px 24px;
  justify-content: space-between;
  align-items: flex-end;
  .anchor-line {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    border-radius: 4px;
    background: $Primary-100;
  }
  .card-reddeem {
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .card-mobile {
      padding: 0px;
    }
  }
}
