@import '../../../styles/colors';

.block-slider-product-all {
  width: 100%;
  height: 658px;
  @media screen and (max-width: 1024px) {
    height: auto;
  }
  .slick-slider {
    .slick-dots {
      width: max-content;
      bottom: 64px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 1024px) {
        width: 100%;
        right: unset;
        left: 50%;
      }
      .slick-active {
        >button{
          border-radius: 50%;
          padding: 0px;
          &::before {
            opacity: 1;
            color: $Secondary-60;
          }
       }
      }
      >li {
        margin: 0px 8px;
        >button {
          &::before {
            opacity: 1;
            color: $Primary-70;
            font-size: 16px;
            top: 1px;
            width: 16px;
            height: 16px;
          }
        }
      } 
    }
  }
  .item-silder {
    padding: 64px 120px 144px 120px;
    // height: 774px;
    height: 658px;
    position: relative;
    @media screen and (max-width: 1024px) {
      height: auto;
      padding: 24px 24px 104px 24px;
    }
    .bg-image {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 0px;
      left: 0px;
      z-index: -1;
      @media screen and (max-width: 1024px) {
        visibility: hidden;
      }
    }
    .div-content-item {
      display: flex;
      align-items: center;
      height: 100%;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
      .div-image {
        width: 47.16%;
        height: 100%;
        padding-right: 64px;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 1024px) {
          width: 100%;
          justify-content: flex-start;
          padding-right: unset;
          height: 340px;
          align-items: center;
          justify-content: center;
        }
        .image-left {
          height: 100%;
          object-fit: contain;
        }
      }
      .div-text {
        width: 53.14%;
        display: flex;
        align-items: center;
        @media screen and (max-width: 1024px) {
          width: 100vw;
          height: auto;
          text-align: center;
          margin-top: 48px;
        }
        .text-h {
          width: 100%;
          padding-left: 64px;
          @media screen and (max-width: 1024px) {
            padding-left: unset;
            padding: 0px 24px;
          }
        }
      }
    }
  }
}