.div-checkout-express {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  @media screen and (max-width: 1024px) {
    margin-top: 37px;
    margin-bottom: 25px;
  }
  .content {
    padding-top: 35px;
    padding-bottom: 25px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      padding-top: 33px;
      padding-bottom: 23px;
    }
    .title-checkout {
      position: absolute;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 600;
      font-size: 1rem;
      color: #545454;
      width: auto;
      background: #fff;
      padding-left: 14px;
      padding-right: 14px;
    }
    .bt-express {
      width: 144px;
      height: 31px;
      background: #FFC43A;
      border-radius: 3px;
      border: none;
    }
    .bt-apple-pay {
      margin-top: 30px;
      width: 144px;
    }
  }
  .line-or {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background: #E6E6E6;
    position: relative;
    >div {
      font-size: 0.875rem;
      color: #545454;
      padding-left: 19px;
      padding-right: 19px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}