.review-article {
  padding-top: 5.5rem;
  background-color: #fff;
  padding-bottom: 5.75rem;
  height: 100%;

  .__title {
    color: #0D0D0D;

    h3 {
      font-size: 4.5rem;

      @media (max-width: 767.98px) {
        font-size: 2.25rem;
      }
    }

    p {
      text-align: center;
      font-size: 1.375rem;
      padding-top: 1rem;
    }
  }

  .article-slider {
    padding-top: 5rem;
    color: #0D0D0D;

    .slick-slider .slick-arrow.slick-prev::before {
      display: none;
    }

    .slick-slider .slick-arrow.slick-next::before {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: 4rem;
      margin-right: 1rem;
      background: url("../../../../image/icon/ic-next-whiteblue.svg");
      background-size: contain;
    }

    a {
      text-decoration: none;
    }

    .__item {
      margin-left: 0px;
      margin-right: 20rem;
      background-color: #fff;
      width: 51.125rem;
      height: 38rem;

      @media (max-width: 1440px) and (min-width: 1024px) {
        // margin-left: calc(-22vw);
        width: 37.5rem;
        padding-left: 4rem;
      }

      .cover {
        width: 51.125rem;
        height: 26rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 1440px) and (min-width: 1024px) {
          width: 37.5rem;
        }
      }

      .content {
        width: 51.125rem;

        @media (max-width: 1440px) and (min-width: 1024px) {
          width: 37.5rem;
        }

        .__item-name {
          font-weight: 600;
          font-size: 1.375rem;
          text-transform: uppercase;
          color: #8d8d8d;
        }

        .__item-content {
          font-size: 1.5rem;
          line-height: 2rem;
          color: #000000;
        }

        .__item-date {
          font-size: 0.875rem;
          color: #666666;
        }

        a {
          background-color: #0D0D0D;
          border-radius: 0.375rem;
          text-decoration: none;

          font-weight: 600;
          font-size: 1rem;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;

          color: #ffffff;
          padding: 1rem;
        }
      }
    }
  }
}
