.question-type {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  width: 100%;
  background: #F0F0F0;
  height: auto;
  transition: all 0.5s;
  &.current-question {
    min-height: calc(100vh - 130px);
    @media screen and (max-width: 1024px) {
      min-height: calc(100vh - 110px);
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 40px 17px;
  }
  .info-skin-tone {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      margin-top: 34px;
    }
    >img {
      height: 25px;
      margin-right: 15px;
      .name {
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #0D0D0D;
      }
    }
  }
  .index-question {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
    color: rgba(13, 13, 13, 0.5);
    @media screen and (max-width: 1440px) {
      font-size: 1.2857rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }
  .title-question {
    font-size: 2.375rem;
    line-height: 55px;
    color: #0D0D0D;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    @media screen and (max-width: 1440px) {
      font-size: 2.7142rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1.71428rem;
      line-height: 35px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  .sub-title-question {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2em;
    color: rgba(13, 13, 13, 0.6);
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: center;
    @media screen and (max-width: 1440px) {
      font-size: 1.14285rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 0.714285rem;
      margin-top: -15px;
      margin-bottom: 26px;
    }
  }
  .list-item-question {
    display: flex;
    align-items: center;
    justify-content:center;
    @media screen and (max-width: 1024px) {
      justify-content: space-between;
      width: 100%;
    }
    &.list-skin-tone {
      @media screen and (max-width: 1024px) {
        display: grid;
        grid-template-columns: auto auto;
      }
      .item-skin-tone:nth-child(3), .item-skin-tone:nth-child(4){
        @media screen and (max-width: 1024px) {
          margin-top: 40px;
        }
      }
    }

    .input-dob {
      width: 605px;
      height: 70px;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 6px;
      font-size: 1.125rem;
      color: #333333;
      font-weight: 400;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-size: 1.2857rem;
      }
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 40px);
        height: 46px;
        font-size: 1rem;
      }
      &::placeholder {
        color: #333333;
      }
    }

    .item-question {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 15px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        margin: auto;
      }

      &:hover, &.div-active {
        .div-image {
          .active {
            visibility: visible;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            border: 7px solid #C9A047;
            border-radius: 7px;
          }
        }
        .name {
          color: #333333;
          font-weight: 600;;
        }
      }

      &.item-gender {
        .div-image {
          @media screen and (max-width: 1024px) {
            width: calc((100vw - 22px * 2 - 20px * 2) / 3);
            height: calc((100vw - 22px * 2 - 20px * 2) / 3);
          }
        }
        .name {
          @media screen and (max-width: 1024px) {
            width: calc((100vw - 22px * 2 - 20px * 2) / 3);
          }
        }
        &:hover, &.div-active {
          .div-image {
            .active {
              visibility: visible;
              position: absolute;
              width: 100%;
              height: 100%;
              background: #C9A047;
              border-radius: 7px;
            }
          }
        }
      }
      &.male {
        .div-image {
          >img {
            width: calc(100% * 0.467);
          }
        }
      }
      &.female {
        .div-image {
          >img {
            width: calc(100% * 0.346);
          }
        }
      }
      &.unisex {
        >img {
          width: calc(100% * 0.434);
        }
      }

      &.item-skin-tone {
        margin: 0px 8px;
        .div-image {
          width: 140px;
          height: 140px;
          @media screen and (max-width: 1024px) {
            width: calc((100vw - 24px - 20px * 2) / 2);
            height: calc((100vw - 24px - 20px * 2) / 2);
          }
          >img {
            width: calc(100% * 0.571);
          }
        }
        .name {
          width: 140px;
          @media screen and (max-width: 1024px) {
            width: calc((100vw - 24px - 20px * 2) / 2);
          }
        }
      }
      .div-image {
        width: 182px;
        height: 182px;
        background: #FFFFFF;
        border-radius: 7px;
        display: flex;
        position: relative;
        @media screen and (max-width: 1024px) {
          width: calc((100vw - 25px - 20px * 2) / 2);
          height: calc((100vw - 25px - 20px * 2) / 2);
        }
        .active {
          visibility: hidden;
        }
        >img {
          margin: auto;
          width: calc(100% * 0.484);
          z-index: 1;
        }
      }
      .name {
        font-size: 1rem;
        color: #333333;
        letter-spacing: 0.2em;
        font-weight: 400;
        margin-top: 15px;
        width: 182px;
        text-align: center;
        text-transform: uppercase;
        height: 48px;
        @media screen and (max-width: 1440px) {
          font-size: 1.14285rem;
        }
        @media screen and (max-width: 1024px) {
          width: calc((100vw - 25px - 20px * 2) / 2);
          font-size: 1rem;
          height: 42px;
        }
      }
    }
    .list-text {
      width: 486px;
      display: flex;
      justify-content: space-around;
      margin-top: 16px;
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 32px);
        margin-top: 27px;
      }
      >span {
        font-size: 1rem;
        letter-spacing: 0.2em;
        color: #333333;
        font-weight: 400;
        @media screen and (max-width: 1440px) {
          font-size: 1.14285rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
    .question-strength {
      width: 486px;
      justify-content:center;
      align-items: center;
      display: flex;
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 32px);
      }
      .wrap-strength {
        position: relative;
        display: flex;
        align-items: flex-end;
        .bg-white {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          background: #fff;
          z-index: 0;
        }
        .bg-color {
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          transition: all 0.2s ease;
          z-index: 1;
          &.level-1 {
            width: 33.33%;
            background: linear-gradient(270deg, #B79B53 -82.16%, #E7D7AE 33.33%);
          }
          &.level-2 {
            width: 66.66%;
            background: linear-gradient(270deg, #B79B53 -82.16%, #E7D7AE 66.66%);
          }
          &.level-3 {
            width: 100%;
            background: linear-gradient(270deg, #B79B53 -82.16%, #E7D7AE 100%);
          }
        }
        >img {
          width: 100%;
          z-index: 2;
        }
        .user-touch {
          position: absolute;
          background: transparent;
          z-index: 3;
          height: 100%;
          width: 100%;
          display: flex;
          >div {
            height: 100%;
            width: 33.33%;
            cursor: pointer;
          }
        }
        .strength-1 {
          position: absolute;
          bottom: 0;
          left: 0;
          @media screen and (max-width: 1024px) {
            width: calc(33.3% - 20px);
          }
        }
        .strength-2 {
          @media screen and (max-width: 1024px) {
            width: calc(66.66% - 20px);
          }
        }
        .strength-3 {
          margin-left: 18px;
          @media screen and (max-width: 1024px) {
            width: calc(30%);
          }
        }
      }
    }
  }
}