.favourite-perfume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #181818;
  justify-content: center;
  padding-top: 0px;
  &.min-height {
    min-height: 100vh;
    height: unset;
  }
  .title-ferrari {
    padding-top: 30px;
    width: 1000px;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    @media screen and (max-width: 991px) {
      font-size: 24px;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .sub-title-ferrari {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #8F8F8F;
    margin-top: 12px;
    text-align: center;
  }
  .wrap-favourite-perfume {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    margin-top: 46px;
    margin-bottom: 24px;
    @media screen and (max-width: 991px) {
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
  .div-bt-list {
    width: 564px;
    display: flex;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    >button {
      width: 50%;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.05em;
      @media screen and (max-width: 991px) {
        font-size: 9px;
      }
    }
    .bt-skip-favourite {
      color: #8F8F8F;
    }
    .bt-next-favourite {
      color: #FFFFFF;
      >img {
        width: 42px;
        height: 42px;
        margin-left: 8px;
        @media screen and (max-width: 991px) {
          width: 29px;
          height: 29px;
        }
      }
    }
  }
}