@import '../../../styles/colors';
.ingredients-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  &.mobile-character {
    .block-header {
      padding: 9px;
      .content-block-header {
        padding: 12px;
        .other-Tagline {
          font-size: 10px;
        }
        .text-header {
          font-size: 20px;
        }
      }
    }
    .block-bottom {
      padding: 9px;
      .content-block-bottom {
        padding: 12px;
        &.combo-version {
          .block-scent {
            flex-direction: row;
            padding-left: 0px;
            padding-right: 0px;
            height: 168px;
            width: 260px;
            margin: auto;
            .block-scent-1 {
              height: 100%;
              .div-progress {
                .progress-circle-version-2 {
                  width: 60px;
                  >span {
                    font-size:10px;
                    margin-top: 0px;
                  }
                }
              }
            }
            .block-scent-2 {
              flex: 1;
              height: 100%;
              width: 100%;
              .block-column {
                width: 100%;
                justify-content: space-between;
                .column-chart {
                  margin: 0px;
                  .div-chart {
                    width: 36px;
                    .div-image {
                      height: 36px;
                      padding: 6px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .div-empty {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 423px;
    >img {
      width: 70px;
      height: 115px;
      margin-bottom: 26px;
      margin-top: 40px;
    }
    .body-text-s-regular {
      width: 60%;
      text-align: center;
    }
  }
  .block-header {
    background: $Primary-30;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 12px;
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
    .content-block-header {
      border: 1px solid $Secondary-60;
      border-radius: 10px;
      padding: 24px;
      align-items:center;
      justify-content: center;
      .text-header {
        margin-top: 8px;
        margin-bottom: 16px;
        font-weight: normal;
        font-size: 36px;
        line-height: 120%;
        text-transform: uppercase;
        @media screen and (max-width: 1024px) {
          margin-top: 4px;
          margin-bottom: 8px;
          font-size: 24px;
        }
      }
      .list-char {
        justify-content: center;
        >div {
          padding: 5px 20px;
          margin: 0px 4px;
          background: $Secondary-60;
          border-radius: 20px;
          border: 1px solid #969691;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $Primary-60;
          @media screen and (max-width: 1024px) {
            padding: 4px 10px;
            font-size: 10px;
          }
        }
      }
    }
  }

  .div-button-scent {
    display: flex;
    background: #F1E4CD;
    border-radius: 10px;
    padding: 12px;
    justify-content: space-between;
    margin-bottom: 12px;
    @media screen and (max-width: 1024px) {
      padding: 9px;
    }
    &.mini-candle {
      .div-bt-image-combo {
        width: calc((100% - 24px)/5);
        height: 50px;
      }
    }
    .div-bt-image-combo {
      width: calc((100% - 16px)/3);
      height: 60px;
      opacity: 0.7;
      overflow: hidden;
      border: 1px solid #2C2C22;
      border-radius: 10px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        height: 45px;
      }
      &.active {
        opacity: 1;
      }
      &.image-2 {
        display: flex;
        position: relative;
        >img {
          width: 50%;
          object-position: top;
        }
        .name-title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.1em;
          color: #EBD8B8;
          width: 100%;
          text-align: center;
          @media screen and (max-width: 1024px) {
            font-size: 9px;
          }
        }
      }
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .div-video {
    width: 100%;
    height: 260px;
    padding: 12px;
    background: $Primary-30;
    border-radius: 10px;
    margin-bottom: 12px;
    @media screen and (max-width: 1024px) {
      padding: 0px;
      height: 50vw;
    }
    .video-react-controls-enabled {
      height: 100%;
      padding-top: unset !important;
    }
  }

  .block-bottom {
    background: $Primary-30;
    border-radius: 10px;
    padding: 24px;
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
    .content-block-bottom {
      border: 1px solid $Secondary-60;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 24px;
      &.combo-version {
        .block-scent {
          height: 249px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .block-evolution {
        justify-content: center;
        @media screen and (max-width: 1024px) {
          margin-bottom: 12px;
        }
        .other-Tagline {
          margin-bottom: 8px;
        }
        .div-image {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          position: relative;
          >span {
            position: absolute;
            bottom: 15%;
            transform: translateX(-50%);
            animation: animateOpacity 2s;
            opacity: 1;
            font-weight: 400;
            color: $Secondary-40;
          }
          >span:nth-child(2) {
            left: 23%;
          }
          >span:nth-child(3) {
            left: 39%;
          }
          >span:nth-child(4) {
            left: 58%;
          }
          >span:nth-child(5) {
            left: 78%;
          }
        } 
      }
      >hr {
        width: 100%;
        background: #000000;
        margin: 16px 0px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      .block-scent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 209px;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          height: auto;
        }
        .block-scent-1, .block-scent-2 {
          width: calc((100% - 12px)/2);
          display: flex;
          flex-direction: column;
          align-items: center;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
          .other-Tagline {
            letter-spacing: 0.1em;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
          }
        }
        .block-scent-1 {
          justify-content: space-between;
          @media screen and (max-width: 1024px) {
            margin-bottom: 12px;
          }
          &.div-combo {
            width: fit-content;
            .div-progress {
              flex-direction: column;
              width: fit-content;
              height: 100%;
            }
          }
          .div-progress {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 1024px) {
              justify-content: center;
            }
            .progress-circle-version-2 {
              @media screen and (max-width: 1024px) {
                margin: 0px 10px;
              }
            }
          } 
        }
        .block-scent-2 {
          padding: 0px;
          @media screen and (max-width: 1024px) {
            height: 200px;
          }
          &.progress-combo {
            width: 215px;
          }
          .block-column {
            flex: 1;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 1024px) {
              justify-content: center;
            }
            .column-chart {
              @media screen and (max-width: 1024px) {
                margin: 0px 10px;
              }
            }
          }
        }
      }
    }
  }
}