@import '../../../../styles/colors';

.step3 {
  &.product-v2 {
    background: $Primary-30;
    .pick-scent-mobile {
      .header-mobile {
        &.product-detail-v2 {
          >button {
            top: 3px;
          }
          >h2 {
            width: 100%;
            margin-left: 52px;
            text-align: left;
          }
        }
      }
      .div-pick-ingredient {
        &.pick-ingredients-product-detail-v2 {
          height: 650px;
          .div-header-ingredient {
            margin-right: 0px;
          }
          
          .search-scent-detail-v2 {
            align-items: center;
            .div-filter {
              .dropdown-filter-product {
                .bt-fillter {
                  border: 1px solid #2C2C22;
                  @media screen and (max-width: 1024px) {
                    height: 32px;
                    font-size: 12px;
                  }
                }
                .dropdown-menu {
                  background: #FFF4E0;
                  border-radius: 10px;
                  padding: 0px;
                  .dropdown-item-filter {
                    border-bottom: 1px solid #D4C2A6;
                    padding: 8px 10px;
                    >span {
                      font-size: 14px;
                      line-height: 24px;
                      color: #2C2C22;
                    }
                  }
                  .dropdown-item-filter:last-child {
                    border-bottom: none;
                  }
                }
              }
            }
            .div-search {
              flex: 1;
              margin-left: 12px;
              height: 39px;
              border-radius: 30px;
              border: 1px solid #D4C2A6;
              background: #F1E4CD;
              padding: 0px 24px;
              @media screen and (max-width: 1024px) {
                height: 36px;
                padding: 0px 12px;
                margin-left: 8px;
              }
              >input {
                font-size: 14px;
                line-height: 24px;
                color: #2c2c2c;
                width: 100%;
                &::placeholder {
                  color: #8D826E;
                  @media screen and (max-width: 1024px) {
                    font-size: 12px;
                  }
                }
                @media screen and (max-width: 1024px) {
                  font-size: 12px;
                }
              }
            }
          }
          
          .div-scroll-ingredient {
            width: 96%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            @media screen and (max-width: 1024px) {
              width: 100%;
            }
            .div-scent-line {
              margin-top: 8px;
              >span {
                font-size: 16px;
                color: $Secondary-40;
                @media screen and (max-width: 1024px) {
                  font-size: 14px;
                }
              }
              .list-scent-item {
                >button {
                  width: 80px;
                  height: 80px;
                  margin-right: 8px;
                  margin-bottom: 16px;
                  border-radius: 8px;
                  .div-item {
                    >img {
                      border: none;
                      box-shadow: none;
                      border-radius: 8px;
                    }
                  }
                  &.out-stock {
                    .div-item {
                      &::after {
                        content: attr(data-message);
                        position: absolute;
                        bottom: -20px;
                        font-size: 8px;
                        color: #56564E;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        font-weight: 600;
                        @media only screen and (max-width: 1024px) {
                          bottom: -15px;
                          font-size: 10px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .list-button {
            padding-left: 24px;
            padding-right: 24px;
            justify-content: space-between;
            padding-top: 20px;
          }
        }
        .div-filter-search {
          margin-top: 30px;
          @media screen and (max-width: 1440px){
            margin-top: calc(30px * 0.75);
          }
          @media screen and (max-width: 1024px){
            margin-top: 25px;
          }
        }
      }
    }
  }
}