// .slick-slider.custome-message{
//   display: none;
// }
#freestyle {
  // margin-top: -40px !important;
  > .row {
    background: #0d0d0d !important;
  }
  .cd-cart--open > .cd-card__layout {
    height: calc(100vh);
  }
}
.modal-redo-mmo {
  width: 29rem !important;
  .modal-content {
    border: none;
    border-radius: 11px;
  }
  .btn-secondary:focus {
    box-shadow: none;
  }
  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #0d0d0d;
    background-color: white;
    border-color: none;
  }
  .content-redo {
    text-align: center;
    margin-top: 3rem;
    padding: 0px 4rem;
  }
  .body-modal-redo {
    padding-top: 4rem;
  }
  h3 {
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  .bt-close {
    width: 21px;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
    cursor: pointer;
  }
  .modal-footer {
    flex-direction: column;
    border: none;
    button {
      width: 24rem;
      padding: 16px 12px;
      border: none;
      background: #0d0d0d;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      margin-bottom: 12px;

      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        background: none;
        color: #0d0d0d;
        text-decoration: underline;
        border: none;
        padding-bottom: 30px;
      }
    }
  }
  .body-modal-redo-mobile {
    .modal-footer {
      button {
        width: 90%;
        font-size: 14px;
      }
    }
    .content-redo {
      padding: 0px 1rem;
    }
  }
}
.modal-redo-mmo-mobile {
  width: 85% !important;
  margin: 0 auto !important;
  .body-modal-redo {
    padding-top: 2rem;
  }
  .content-redo {
    margin-top: 2rem;
    padding: 0 0.8rem;
  }
  button {
    width: 97% !important;
    margin: 0 auto 10px !important;
    font-size: 14px !important;
    &:last-child {
      padding-bottom: 1rem !important;
    }
  }
}
.div-mmo {
  position: relative;
  .div-bottle {
    justify-content: center !important;
  }
  .div-custome-bottle-v3 {
    position: fixed;
    width: 100vw;
    height: 100vh !important;
    top: 0px !important;
    left: 0px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-product-detail {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    bottom: -4rem;
    text-decoration: underline;
  }
  .image-custom-bottle {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 71%;
    right: 0;
    top: 50%;
    border-radius: 16px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -32%);
    transition: 1s all;
    bottom: 34px;
    border-radius: 40px;
    height: 66%;
    border-radius: 70px;
    overflow: hidden;
    .info-custome {
      position: absolute;
      bottom: 7px;
      display: flex;
      font-size: 10px;
      flex-direction: column;
      align-items: center;
      left: 0;
      right: 0;
    }
    img {
      vertical-align: middle;
      height: 100%;
      object-fit: cover;
      width: 94% !important;
    }
    .image-logo {
      position: absolute;
      width: auto;
      top: 1.5rem;
      object-fit: none;
      height: fit-content;
    }
  }
}

.image-custom-bottle-mobile {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 71%;
  right: 0;
  top: 50%;
  border-radius: 16px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -34%);
  transition: 1s all;
  bottom: 34px;
  border-radius: 40px;
  height: 64%;
  border-radius: 70px;
  overflow: hidden;

  .info-custome {
    position: absolute;
    bottom: 7px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
  }
  img {
    vertical-align: middle;
    height: 100%;
    object-fit: cover;
    width: 93% !important;
  }
  .image-logo {
    position: absolute;
    width: auto;
    top: 1.5rem;
    object-fit: none;
    height: fit-content;
  }
}

.multi-step-mmo {
  // margin-top: 4rem;
  height: calc(100% - 4rem);
  min-height: 850px;
  @media screen and (max-width: 1024px) {
    margin-top: 20px;
    height: calc(100% - 5rem);
  }
  .div-title-header {
    .title {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-size: 2.8rem;
      margin-bottom: 0;
      text-align: center;
      position: relative;
      .btn-back {
        position: absolute;
        left: 2rem;
        color: #8c8d8c;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(57%);
        background: none;
        border: none;
        span {
          text-transform: uppercase;
          font-size: 16px;
          padding: 0 10px;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
  // bottle style
  .bottle-box {
    min-width: 17%;
    text-align: center;
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0px);
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      min-width: 17rem;
      text-align: center;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -45%);
    }
    @media screen and (max-width: 1024px) {
      min-width: 12%;
    }
    .wrapper-bottle {
      position: relative;
      width: 100%;
      img {
        width: 54%;
      }
    }
    .wrapper-rollon {
      display: flex;
      flex-direction: column;
      align-items: center;
      >img {
        width: 70px;
        // width: 400px;
        @media screen and (max-width: 1440px) {
          width: calc(70px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          width: 38px;
        }
      }
      .view-more {
        margin-top: 34px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 600;
        text-decoration: underline;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
          font-weight: 500;
          margin-top: 12px;
          text-transform: unset;
          letter-spacing: unset;
        }
      } 
    }
    .selection-scent {
      position: absolute;
      height: 69%;
      right: 0;
      top: 50%;
      // background: #ffffffb3;
      border-radius: 50px;
      // border: 2px dashed #8d8d8d;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -34%);
      transition: 1s all;
      background-image: url("../../../../image/placeholder-bottle.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      .scent {
        height: 50%;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 500;
        border: none !important;
        span {
          display: none;
          opacity: 0;
        }
        &:first-of-type {
          // border-bottom: 2px dashed #8c8d8c;
          // border: 2px dashed #8d8d8d;
          border-bottom: 0;
          border-radius: 50px 50px 0 0;
        }
        &:last-child {
          // border: 2px dashed #8d8d8d;
          border-radius: 0 0 50px 50px;
        }
        button {
          background: none;
          position: absolute;
          left: -80%;
          width: 32px;
          top: 50%;
          transform: translateY(-50%);
          height: 32px;
          border: 1px solid #bd5a58;
          border-radius: 5px;
          transition: 0.1s;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;
          &:hover {
            opacity: 0.8;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .bottle-large {
    min-width: 14rem;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 24.5%;
    // transition: 1s all;
    transform: translate(-50%, -47%);
    @media screen and (max-width: 1440px) {
      transform: translate(-50%, -52%);
    }
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      transform: translate(-50%, -53%);
    }
    .wrapper-bottle {
      >img {
        width: 70%;
        @media screen and (max-width: 1440px) {
          width: 58%;
        }
      }
      .selection-scent {
        width: 60%;
        @media screen and (max-width: 1440px) {
          width: unset;
        }
      }
    }
  }
  // step 1
  .step1 {
    .mode-left,
    .mode-right {
      padding-bottom: 32px;
    }
    button {
      border: none;
      background: none;
      text-align: center;
      transition: 0.1s ease-out;
      max-width: 223px;
      img {
        max-height: 11rem;
      }
      h3 {
        margin: 32px 0 8px 0;
      }
    }
    .divider-verticle {
      width: 2px;
      background: #e2e2e2;
      height: 70%;
      margin: 0 3rem;
    }
    .mode-step {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 74vh;
      width: 100%;
    }
  }
  // step2
  .step2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    .div-title-header {
      h4 {
        font-weight: normal;
        font-size: 18px;
        margin-top: 8px;
        letter-spacing: 0.2em;
        span {
          font-weight: 500;
        }
      }
    }
    .scent-bar {
      height: calc(100vh - 250px);
      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        height: 100%;
        margin-top: 6rem;
        margin-bottom: 3rem;
        padding: 0 8rem;
      }
      padding: 0 7rem;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapper-scent-info {
        >div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .scent-info-desk {
          // margin-top: -42px;
        }
        height: calc(100vw * 0.27 * 1.15);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: calc(100vw * 0.27);
        .recommend-item {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: -40px;
          cursor: pointer;
          >h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            margin-bottom: 24px;
          }
          .list-item {
            display:flex;
            justify-content: space-between;
            width: 100%;
            .item {
              height: 138px;
              width: 138px;
              margin-bottom: 26px;
              position: relative;
              @media screen and (max-width: 1440px) {
                height: calc(138px * 0.75);
                width: calc(138px * 0.75);
              }
              >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 46px;
                @media screen and (max-width: 1440px) {
                  border-radius: calc(46px * 0.75);
                }
              }
              >button {
                position: absolute;
                padding: 0px;
                bottom: 15px;
                left: 15px;
                @media screen and (max-width: 1440px){
                  bottom: 10px;
                  left: 10px;
                }
                >img {
                  width: 23px * 1.5;
                  @media screen and (max-width: 1440px) {
                    width: 23px;
                  }
                }
              }
            }
          }
          
          .div-select {
            border: 2px dashed #8D8D8D;
            box-sizing: border-box;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 28px 0px;
            @media screen and (max-width: 1440px) {
              padding: 22px 0px;
            }
            >h4 {
              font-weight: 500;
              font-size: 24px;
              text-align: center;
              letter-spacing: 0.2em;
              color: #0D0D0D;
              margin-bottom: 25px;
              @media screen and (max-width: 1440px) {
                margin-bottom: 20px;
              }
            }
            >button {
              width: calc(100% - 62px * 2);
              height: 52px;
              background: #0D0D0D;
              border-radius: 4.10526px;
              border: none;
              font-weight: 500;
              font-size: 16.4211px;
              letter-spacing: 0.2em;
              color: #ffffff;
            }
          }
        }
        .progressLine {
          .div-text {
            span {
              font-size: 16px !important;
            }
          }
        }
        .div-process-circle {
          margin-top: 0.5rem;
          padding: 0;
          margin-bottom: 0.6em;
          .progress-circle {
            width: 130px !important;
            .div-circle {
              width: 57%;
            }
            span {
              font-size: 16px !important;
            }
            .CircularProgressbar-text {
              font-size: 20px !important;
            }
          }
        }
        .title-info {
          padding-bottom: 1em;
          margin-bottom: 0.5em;
          border-bottom: 1px solid #e2e2e2;
          h4 {
            text-transform: uppercase;
            font-size: 24px;
            letter-spacing: 0.2em;
          }
        }
        .div-none-like {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          h3 {
            font-size: 24px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #0D0D0D;
            margin-bottom: 69px;
          }
          img {
            width: 45px;
            height: 45px;
          }
          span {
            padding: 16px;
            color: #8d8d8d;
            font-size: 18px;
            text-align: center;
            width: 65%;
          }
          button {
            width: calc(100% - 63px * 2);
            height: 52px;
            background: #0D0D0D;
            border-radius: 4.10526px;
            border: none;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 16.4211px;
            margin-top: 53px;
          }
        }
        .div-progress {
          flex-direction: column-reverse;
        }
      }
      .title-header-scent {
        font-size: 18px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-100%);
        padding-bottom: 16px;
        letter-spacing: 0.2rem;
        color: #0d0d0d;
        text-shadow: 2px 2px 3px #afafaf66;
      }
      .guild-box {
        padding: 2rem;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        h2 {
          font-size: 24px;
          margin-bottom: 1.8rem;
          letter-spacing: 0.15rem;
        }
      }
    }

    .scent-info {
      position: absolute;
      left: 0;
      right: 0;
      padding-top: 20px;
      .div-scent-profile {
        text-align: center;
        .div-progress {
          display: flex;
          flex-wrap: nowrap;
        }
        .div-process-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1rem;
          padding-left: 12px;
          .progress-circle > span {
            font-size: 14px;
          }
        }
        .div-process-line {
          flex-grow: 1;
          padding-right: 12px;
          .progressLine {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
    .scent-info-desk {
      padding-top: 12px !important;
      .div-process-line {
        .progressLine {
          .div-text {
            span {
              font-size: 16px !important;
            }
          }
        }
      }
      .progress-circle {
        width: 100px !important;
        span {
          font-size: 12px !important;
        }
      }
    }
  }
  // step3
  .step3 {
    width: 100%;
    // height: 100%;
    @media screen and (min-width: 1440px) {
      margin: 1rem 0px 1.5rem !important;
    }
    .div-title-header {
      h4 {
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-top: 8px;
        color: #0D0D0D;
        font-weight: normal;
        span {
          font-weight: 500;
        }
      }
    }
    .div-circle {
      width: 50%;
    }
    // scent box group
    .cancel-pro,
    .apply-pro {
      border: 1px solid #0d0d0d;
      background: white;
      text-transform: uppercase;
      padding: 8px 3rem;
      letter-spacing: 0.2rem;
      text-align: center;
      color: #0d0d0d;
      margin: 1.5rem 10px 0;
      @media screen and (min-width: 1440px) {
        margin: 3rem 10px 0;
      }
      border-radius: 6px;
    }
    .active-old-note {
      opacity: 0.7 !important;
    }
    .visibility-old-note {
      visibility: visible !important;
    }
    .apply-pro {
      background: #0d0d0d;
      color: white;
    }
    .scent-box-group {
      height: 100%;
      margin-top: 1rem;
      .title-scent img {
        margin-bottom: 15px;
        max-height: 19rem;
        width: 100%;
        object-fit: cover;
        height: 20rem;
      }
      .product-note {
        padding: 0.8rem 9rem;
        margin: 0 auto;
        max-height: 20rem;
        overflow: auto;
        border-top: 1px solid #e2e2e2;
        @media screen and (min-width: 1440px) {
          max-height: 26rem;
        }
      }
      .header-title {
        padding: 16px 20px;
        height: auto;
        text-align: center;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #e2e2e2;
        margin: 0 8px 2rem 8px;
        h3 {
          font-weight: 400;
          letter-spacing: 0.2rem;
        }
        img {
          position: absolute;
          left: 1rem;
          transform: translate(50%, 32%);
        }
      }
      .wrapper-scent-title {
        // flex-grow: 1;
        width: 50%;
        text-align: center;
        h4 {
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          margin-bottom: 2rem;
        }
      }
      .title-scent {
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        text-align: center;
        padding: 0;
        overflow: hidden;
        margin: 0 10px;
        h3 {
          text-transform: uppercase;
        }
      }
      .fadeIn {
        height: unset;
        opacity: 1;
        width: unset;
        transition: opacity 0.3s 0.3s !important;
      }
      .main-scent-note {
        height: 100%;
        display: flex;
        flex-flow: column;
        .main-scent-note-title {
          padding: 20px;
          position: relative;
          height: auto;
          text-align: center;
          cursor: pointer;
          background: #F5ECDC;
          h3 {
            margin-bottom: 0;
            font-size: 24px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
          }
          img {
            position: absolute;
            left: 1rem;
            transform: translate(50%, 32%);
          }
        }
        .items-main-scent {
          background-size: cover;
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          .item-main-scent {
            min-height: 8rem;
            flex-grow: 1;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-bottom: 2px solid #e2e2e2;
            position: relative;
          }
        }
      }
      .product {
        height: 100%;
        display: flex;
        flex-flow: column;
        .product-title {
          padding: 4px 16px 16px;
          height: auto;
          text-align: center;
          position: relative;
          cursor: pointer;
          img {
            position: absolute;
            left: 1rem;
            transform: translate(50%, 32%);
          }
          h3 {
            margin-bottom: 0;
          }
        }
      }
      .product-note {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .item-note {
          width: 33.33% !important;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-top: 10px;
          margin-bottom: 10px;
          span {
            position: absolute;
            font-size: 9px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #ffffff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100%);
            width: 97px;
            text-align: center;
            opacity: 0;
            cursor: pointer;
          }
          &.enable_hover {
            &:hover {
              > span {
                opacity: 1;
                transition: 0.2s ease-in;
              }
              .div-image {
                // opacity: 0.5;
                transition: 0.2s ease-in;
              }
              .div-bg {
                opacity: 0.2 !important;
              }
            }
          }
          >button {
            position: absolute;
            left: calc(50% - 30px);
            transform: translate(-50%, -50%);
            bottom: calc(50% - 50px);
            border: none;
            width: 20px;
            z-index: 10;
            >img {
              border: none;
            }
          }
        }
        .div-image {
          width: 110px;
          height: 110px;
          position: relative;
          img {
            border-radius: 36%;
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 1;
            border: 0.841983px solid #0d0d0d;
          }
        }
        .div-bg {
          width: 110px;
          height: 110px;
          border-radius: 36%;
          opacity: 0;
          background: #0d0d0d;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          z-index: 9;
        }
        .checked {
          z-index: 10;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
        }
      }
    }
    .wrapper-scent-info {
      display: flex;
      justify-content: center;
      transition: 1s;
      padding-top: 1rem;
      border-top: 1px solid #e2e2e2;
      .divider {
        width: 1px;
        margin-right: 16px;
        background: #e2e2e2;
      }
      .scent-info {
        width: 50%;
      }
      .div-scent-profile > p {
        font-size: 14px;
        margin: 0;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      .progress-circle {
        width: 80px;
      }
      .div-process-circle {
        .progress-circle > span {
          font-size: 11px;
        }
      }
      .div-process-line {
        .div-text > span {
          font-size: 11px;
        }
      }
    }
    .custom-mix {
      padding-top: 2rem;
      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        padding-top: 1.7rem;
      }
      .title-mix {
        display: flex;
        justify-content: space-between;
        >h3 {
          margin-bottom: 0px;
        }
      }
      .switch-roll-on {
        display: flex;
        justify-content: flex-end;
        >button {
          text-decoration: underline;
          font-size: 14px;
          font-weight: 400;
        }
      }
      .info-scent-mix {
        height: 100%;
        display: flex;
        flex-direction: column;
        .title-info {
          color: #8d8d8d;
        }
        .detail-click {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          text-decoration: underline;
          margin-left: 6px;
        }
        .content-info {
          flex-grow: 1;
          display: flex;
          font-size: 16px;
          justify-content: space-between;
          cursor: pointer;
          word-wrap: break-word;
          max-height: calc(1.8em * 3);
          overflow: hidden;
          line-height: 1.8em;
          > div {
            padding-right: 10px;
          }
          p {
            margin-bottom: 0;
          }
        }
        .detail-info {
          padding: 16px 0 0 0;
          cursor: pointer;
          .span {
            text-decoration: underline;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.15rem;
            margin-left: 4px;
          }
          &:hover {
            opacity: 0.75;
            transition: 0.1s;
          }
        }
      }

      .div-pick-ingredient {
        height: 100vh * 0.68;
        .div-scroll-ingredient {
          margin-top: 20px;
        }
        .div-filter-search {
          .div-filter-search-scent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .div-filter {
              margin-right: 26px;
              >h4 {
                font-weight: 500;
                font-size: 10px;
                align-items: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #8D8D8D;
                margin-bottom: 5px;
              }
              .header-filter {
                >span {
                  font-size: 16px;
                  color: #0D0D0D;
                  cursor: pointer;
                }
                >img {
                  margin-left: 8px;
                }
              }
              .dropdown-item-filter {
                padding: 12px 38px;
                >span {
                  font-size: 18px;
                  color: #152436;
                  cursor: pointer;
                }
              }
              .dropdown-menu {
                width: 261px !important;
                left: -95px !important;
                transform: translate3d(0px, 30px, 0px) !important;
              }
            }
            .div-search {
              border: 1px solid;
              border-radius: 20px;
              padding: 0px 10px;
              margin-right: -10px;
              display: flex;
              align-items: center;
              height: 32px;
              >button {
                background: transparent;
                border: none;
                font-size: 16px;
                color: #0D0D0D;
              }
              >input {
                width: 150px;
                border: none;
                // border-bottom: 1px solid;
                margin-left: 5px;
                font-size: 16px;
                color: #0D0D0D;
                line-height: 30px;
                height: 100%;
                background: transparent;
              }
            }
          }
          .div-filter-search-scent-mobile {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 26px;
            position: relative;
            >button {
              background: transparent;
              border: none;
              font-weight: 500;
              font-size: 16px;
              color: #0D0D0D;
              >img {
                margin: 0px 7px;
              }
            }
          }
          .div-popup-filter-search {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0px;
            left: 0px;
            background: rgba($color: #000000, $alpha: 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .div-popup-filter, .div-popup-search {
              width: calc(100vw - 30px);
              height: auto;
            }
            .div-popup-filter {
              background: #FFFFFF;
              border: 1px solid #F0F0F0;
              box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
              border-radius: 6px;
              >button {
                font-size: 18px;
                color: #152436;
                background: transparent;
                border: none;
                margin: 0px;
                padding: 13px 38px;
              }
            }
          }
        }
        .div-header-ingredient {
          .div-text-header {
            padding-left: 0px;
            .line-1 {
              >span {
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 0.2em;
                color: #0D0D0D;
              }
            }
          }
        }
      }
    }
    .div-progress {
      display: flex;
      flex-wrap: nowrap;
    }
    .div-process-circle {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 1rem;
      padding-left: 12px;
      .div-circle {
        width: 67%;
      }
      .progress-circle > span {
        font-size: 14px;
      }
    }
    .div-process-line {
      flex-grow: 4;
      padding-right: 12px;
      .progressLine {
        margin-top: 1rem;
      }
      .div-text > span {
        font-size: 14px;
        @media screen and (min-width: 1024px) and (max-width: 1440px) {
          font-size: 11px;
        }
      }
    }
    .btn-add,
    .btn-custom {
      margin: 1.5rem 0 1rem 0;
      @media screen and (min-width: 1440px) {
        margin: 3rem 0 1.5rem 0;
      }
      width: 100%;
      border: none;
      padding: 1rem 0;
      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        padding: 0.7rem 0;
      }
      background: black;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      border-radius: 4px;
      &:disabled,
      &[disabled] {
        opacity: 0.4;
      }
    }
    .btn-custom {
      background: white;
      border: 1px solid #0d0d0d;
      color: #0d0d0d;
      margin: 0rem 0 2rem 0;
    }
  }
}
.scent-mix-box-mmo {
  position: relative;
  width: 100%;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .wrapper-scent-mix {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 30%;
    overflow: hidden;
    img {
      width: 50%;
    }
  }
  span {
    position: absolute;
    color: white;
    text-align: center;
    top: 0;
    width: 100%;
    font-weight: 500;
    display: flex;
    font-size: 32px;
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      font-size: 26px;
    }
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border-radius: 30%;
    // background: #0000004f;
  }
}
.modal-detail-mix {
  text-align: center;
  .modal-content {
    border: none;
    border-radius: 2rem;
    max-height: 93vh;
    .body-modal-detail {
      height: 93vh;
      padding: 2rem 1.5rem;
      @media screen and (max-width: 1024px){
        padding: 0 1.5rem;
      }
    }
    .wrapper-modal-detail {
      overflow: auto;
      height: 100%;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #e2e2e2;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #0d0d0d;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #e2e2e2;
        border-radius: 10px;
      }
      .modal-body {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
  .bt-close {
    width: 21px;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
    cursor: pointer;
  }
  .scent-mix-box-mmo {
    width: 24%;
    margin: 3rem auto 3rem auto;
    .wrapper-scent-mix {
      box-shadow: 4px 4px 11px 0px #00000059;
    }
  }
  .content-modal-detail {
    padding: 2rem 5rem 0rem 5rem;
  }
  .modal-footer {
    border: none;
    button {
      margin: 2rem auto 2rem;
      background: #0d0d0d;
      border: none;
      padding: 0.6rem 6rem;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
  }
}

.mmo2-mobile {
  height: calc(100vh - 70px);
  .step2 {
    height: calc(100vh - 70px);
  }
  .step2-1-mobile {
    height: 100%;
  }
  .multi-step-mmo {
    height: 100vh;
    // min-height: 640px;
    .introduce-mmo-start {
      text-align: center;
      // height: 100%;
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .video-wrapper {
        margin-top: 50%;
      }
      .video-react {
        padding-top: 57%;
      }
      .title {
        font-size: 28px;
        margin-bottom: 10px;
        position: absolute;
        top: 0;
        margin-top: 35%;
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
          margin-top: 43%;
        }
      }
      .btn-start {
        // margin: 50px auto;
        // padding: 0px;
        height: 44px;
        font-size: 17px;
        position: absolute;
        top: calc(100vh - 29%);
        // font-size: 14px;
        border-radius: 4px;
        left: 0;
        right: 0;
        width: 80%;
        background: #0d0d0d;
        color: white;
        border: none;
        padding: 10px 0;
        margin: 0 auto 8px auto;
        letter-spacing: 0.2rem;
      }
    }
    .step1 {
      .title {
        font-size: 28px;
        margin-top: 23px;
      }
      button {
        background: transparent;
        color: #8d8d8d;
        font-weight: 500;
        border: none;
        padding: 0px;
        font-size: 11px;
        margin-top: unset;
        img {
          max-height: 7rem;
        }
        h3 {
          font-size: 20px;
          margin: 32px 4px 8px 4px;
          text-align: center;
        }
      }
      .btn-back {
        margin-bottom: 24px;
        display: flex;
        margin-left: 10px;
        position: unset;
        img {
          width: 14px;
        }
        span {
          font-size: 12px;
        }
      }
      .mode-step {
        height: 70vh;
      }
      .mode-right,
      .mode-left {
        width: 49%;
        text-align: center;
        padding-bottom: 0;
      }
      .divider-verticle {
        margin: 0;
        height: 67%;
        margin-top: -10px;
      }
    }
  }
}

// scent box
.scent-box {
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  min-height: 24rem;
  @media screen and (max-width: 1024px) {
    min-height: initial;
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    min-height: 20rem;
  }

  .title-scent {
    img {
      margin-bottom: 15px;
      height: 18rem;
      width: 100%;
      object-fit: cover;
    }
    h3 {
      font-size: 24px;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }
    text-align: center;
  }
  .fadeIn {
    height: unset;
    opacity: 1;
    width: unset;
    transition: opacity 0.3s 0.3s !important;
  }
  .main-scent-note {
    height: 100%;
    display: flex;
    flex-flow: column;
    .main-scent-note-title {
      padding: 20px;
      position: relative;
      height: auto;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      h3 {
        margin-bottom: 0;
        font-size: 24px;
        letter-spacing: 0.2em;
      }
      img {
        position: absolute;
        left: 1rem;
        transform: translate(50%, 8%);
      }
    }
    .items-main-scent {
      background-size: cover;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      min-height: 18rem;
      .item-main-scent {
        flex-grow: 1;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #e2e2e2;
        color: white;
        &:last-child {
          border: none;
        }
      }
    }
  }
  .product {
    height: 100%;
    display: flex;
    flex-flow: column;
    .product-title {
      padding: 16px;
      height: auto;
      text-align: center;
      position: relative;
      cursor: pointer;
      border-bottom: 1px solid #e2e2e2;
      @media screen and (max-width: 1024px) {
        border-bottom: none;
      }
      img {
        position: absolute;
        left: 1rem;
        transform: translate(50%, 20%);
      }
      h3 {
        margin-bottom: 0;
      }
    }
  }
  .product-note {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 21rem;
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      max-height: 18rem;
    }
    overflow: auto;
    padding: 0rem 0px 1rem;
    .item-note {
      width: 33.33% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 10px;
      // margin-bottom: 10px;
      position: relative;
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      span {
        position: absolute;
        font-size: 9px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #ffffff;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 97px;
        padding: 0 8px;
        text-align: center;
        opacity: 0;
        cursor: pointer;
      }
      &.enable_hover {
        &:hover {
          > span {
            opacity: 1;
            transition: 0.2s ease-in;
          }
          .div-bg {
            opacity: 0.2 !important;
          }
          .div-image {
            // opacity: 0.5;
            transition: 0.2s ease-in;
          }
        }
      }
      >button {
        position: absolute;
        left: calc(50% - 30px);
        transform: translate(-50%, -50%);
        bottom: calc(50% - 50px);
        border: none;
        width: 20px;
        z-index: 10;
        >img {
          border: none;
        }
      }
    }
    .div-image {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 16px;
      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        padding: 8px;
      }
      img {
        border-radius: 36%;
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 1;
        border: 0.841983px solid #0d0d0d;
      }
    }
    .div-bg {
      position: absolute;
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
      }
      overflow: hidden;
      padding: 8px;
      border-radius: 36%;
      opacity: 0;
      background: #0d0d0d;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
    .checked {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      z-index: 10;
    }
  }
}

// step mobile ver
.multi-step-mmo-mobile {
  position: relative;
  .bottle-box {
    transform: translate(-50%, 0%);
    min-width: 9rem;
    top: 110px;
    height: fit-content;
    z-index: 5;
    // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    //   top: 90px;
    // }
    // @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    //   top: 52%;
    // }
    // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
    //   top: 51%;
    // }
    // @media screen and (device-aspect-ratio: 40/71) {
    //   top: 55%;
    // }
  }
  .div-title-header .title {
    margin-top: 0px;
  }
  .scent {
    span {
      font-size: 14px;
    }
  }
  .div-custome-bottle-v3 {
    position: fixed;
    width: 100vw;
    height: calc(100vh) !important;
    top: 0;
    left: 0px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }
  .bottle-large-v2 {
    width: 9rem;
    text-align: center;
    height: calc(9rem * 0.54 * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 19%;
    top: 130px;
    transition: 1s all;
    &.rollon-mobile {
      @media screen and (max-width: 1024px) {
        top: 180px !important;
      }
    }
    .info-custome {
      span {
        font-size: 8px;
      }
    }
    .image-custom-bottle-mobile {
      height: 68%;
    }
  }
  .step2-mobile {
    position: absolute;
    z-index: 5;
    width: 100% !important;
    .progress-circle .div-circle {
      width: 47%;
    }
    .wrapper-bottle {
      width: 85%;
    }
    .div-title-header {
      h4 {
        text-align: center;
        font-size: 16px;
        margin: 8px 0;
      }
    }
    .btn-toggle-scent-bar {
      position: absolute;
      top: calc(9rem * 0.54 * 4 + 220px);
      // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      //   top: calc(100vh - 35%);
      // }
      // @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
      //   top: calc(100vh -36%);
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
      //   top: calc(100vh - 36%);
      // }
      font-size: 14px;
      border-radius: 4px;
      left: 0;
      right: 0;
      width: 80%;
      background: #0d0d0d;
      color: white;
      border: none;
      padding: 10px 0;
      margin: 0 auto 8px auto;
      letter-spacing: 0.2rem;
    }
    .div-title-header {
      .title {
        font-size: 28px;
        margin-top: 0px;
        .btn-back {
          background: transparent;
          color: #8d8d8d;
          font-weight: 500;
          border: none;
          padding: 0px;
          font-size: 11px;
          margin-top: unset;
          margin-bottom: 24px;
          display: flex;
          margin-left: 10px;
          position: unset;
          img {
            width: 14px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
    .scent-bar {
      padding: 0;
      margin-top: 0;
    }
    .scent-info {
      position: absolute;
      display: flex;
      padding-top: 6%;
      justify-content: flex-end;
      top: 106px;
      // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 46%;
      // }
      // @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 51%;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
      //   top: 49%;
      // }
      // @media screen and (device-aspect-ratio: 40/71) {
      //   top: 54%;
      // }

      /* height: 100%; */
      // transform: translateY(-50%);

      .div-scent-profile {
        margin-top: 0;
        width: 60%;
        padding-right: 6%;
        .divider-scent-info {
          height: 1px;
          margin: 1.5rem auto 1.7rem auto;
          width: 80%;
          background: #e2e2e2;
        }
        .div-process-circle {
          padding-left: 0;
          .progress-circle > span {
            font-size: 11px;
          }
        }
        .div-process-line .div-text > span {
          font-size: 11px;
        }
      }
    }
  }

  .btn-product-detail-mobile {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin-top: 12px;
    text-decoration: underline;
  }
  .step3-mobile {
    // position: relative;
    // z-index: 60;
    .div-process-circle {
      border-top: 1px solid #e2e2e2;
    }
    .wrapper-bottle {
      width: 61%;
    }
    .div-process-circle {
      padding-left: 0;
    }
    .div-circle {
      width: 50% !important;
      height: 100%;
    }
    .wrapper-button {
      display: flex;
      align-items: flex-end;
      margin: 1rem 0;
      justify-content: space-between;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(9rem * 0.54 * 4 + 200px);
      // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 85%;
      // }
      // @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 88%;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
      //   top: 86%;
      // }
      // @media screen and (max-height: 639px) {
      //   top: 95%;
      // }
      transform: translateY(-50%);
      .btn-add,
      .btn-custom {
        margin: 0.5rem;
        height: fit-content;
        padding: 0.5rem 0;
      }
    }
    .selected-mix {
      .delete-box {
        background: #eb5757;
        position: relative;
        border-radius: 6px;
        padding: 14px 12px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          font-size: 14px;
          margin-bottom: 3px;
          color: white;
        }
        button {
          border: none;
          background: none;
        }
        .btn-close {
          left: 0;
          position: absolute;
          top: 0;
          transform: translate(-50%, -50%);
        }
      }
      .selected-box {
        padding: 1rem 0 0rem 0;
        .selected-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
          button {
            border: none;
            background: none;
            margin-right: 8px;
          }
          h4 {
            font-size: 14px;
            margin: 0;
            text-transform: uppercase;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
    .div-title-header {
      h1 {
        font-size: 28px;
        letter-spacing: 0.2rem;
        margin: 22px 0 0px 0;
      }
    }
    .mix-ready {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      padding: 0px 15px;
      align-items: baseline;
      width: 100%;
      >h2 {
        font-size: 18px;
        font-weight: normal;
        color: #0D0D0D;
        margin-bottom: 0px;
        letter-spacing: 0px;
      }
      >span {
        font-weight: 500;
        font-size: 18px;
        color: #0D0D0D;
        letter-spacing: 0px;
      }
    }
    .switch-roll-on {
      display: flex;
      justify-content: flex-end;
      padding: 0px 15px;
      >button {
        text-decoration: underline;
        font-size: 10px;
        font-weight: 400;
      }
    }
    .btn-header-mobile {
      display: flex;
      justify-content: space-between;
      padding: 0 11px;
      .btn-back {
        position: unset;
        transform: unset;
        span {
          font-size: 11px;
        }
        img {
          width: 16px;
        }
      }
      .detail-info {
        font-size: 11px;
        border: none;
        display: flex;
        background: #0d0d0d;
        color: white;
        padding: 5px 8px;
        text-align: center;
        align-items: center;
        border-radius: 60px;
        img {
          margin: -2px 8px 0 0px;
        }
      }
    }
    .wrapper-mix-info {
      display: flex;
      justify-content: flex-end;
      min-height: 381px;
      .div-progress {
        flex-direction: column;
        margin-right: 10px;
        .div-process-circle {
          margin-top: 0;
          padding-top: 1rem;
        }
        .div-process-circle .progress-circle > span {
          font-size: 11px;
        }
        .div-process-line .div-text > span {
          font-size: 11px;
        }
      }
    }
  }
}
.modal-detail-mobile-mix {
  margin: 0 !important;
  .modal-content {
    border-radius: 0;
    max-height: 100%;
    width: calc(100% - 36px);
    margin: auto;
  }
  .bt-close {
    right: 22px;
    left: unset;
  }
  .body-modal-detail {
    height: auto !important;
  }
  .content-modal-detail {
    padding: 1rem 1rem 0rem 1rem;
  }
  .body-modal-detail {
    h3 {
      font-size: 24px;
    }
  }
  .scent-mix-box-mmo {
    width: 45%;
    margin: 3rem auto 2rem auto;
  }
}
.modal-scent-mobile-v2 {
  margin: 0 !important;
  // position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px;
  // overflow: hidden;
  background: white;
  height: 100%;
  max-width: 100%;
  .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    .step3 {
      height: 100%;
    }
    .div-search-mobile {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 28px;
      .div-result {
        width: 100%;
        height: calc(100vh - 300px);
        overflow-y: auto;
        .item-result {
          width: 100%;
          display: flex;
          margin: 12px 0px;
          >img {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            border-radius: 10px;
          }
          >span {
            font-size: 14px;
            color: #0D0D0D;
            text-align: start;
            margin: auto;
          }
        }
      }
      .div-input {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0px 17px 0px 38px;
        background: #FFFFFF;
        border: 1.2px solid #F0F0F0;
        box-sizing: border-box;
        box-shadow: 1.2px 1.2px 4.8px rgba(0, 0, 0, 0.2);
        border-radius: 117px;
        height: 48px;
        margin-bottom: 15px;
        >img {
          width: 17px;
        }
        >input {
          flex: 1;
          font-size: 14px;
          color: #0D0D0D;
          border: none;
          margin-left: 20px;
          margin-right: 7px;
          &::placeholder {
            font-size: 14px;
            color: #8D8D8D;
          }
        }
        >button {
          background: #E2E2E2;
          border-radius: 50%;
          color: #0D0D0D;
          border: none;
          padding: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .pick-scent-mobile {
      padding: 0px 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: #F5ECDC;
      .div-pick-ingredient {
        flex: 1;
      }
      .header-mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        >button {
          position: absolute;
          top: 0px;
          left: 0px;
          >img {
            height: 18px;
          }
        }
        >h2 {
          font-size: 21px;
          line-height: 30px;
          text-align: center;
          color: #0D0D0D;
          margin-bottom: 25px;
          font-weight: normal;
        }
        >span {
          font-weight: 500;
          font-size: 10px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #8D8D8D;
        }
      }
      .div-popup-filter-search-mobile {
        margin-left: -16px;
      }
      .div-filter-search-scent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .div-filter {
          .header-filter {
            height: 46px;
            width: 194px;
            justify-content: center;
            align-items: center;
            display: flex;
            border: 1px solid #0D0D0D;
            padding-left: 10px;
            padding-right: 10px;
            justify-content: space-between;
            @media screen and (max-width: 1440px) {
              height: 34px;
              width: 145px;
              padding-left: 7px;
              padding-right: 7px;
            }
            @media screen and (max-width: 1024px) {
              height: 29px;
              width: 122px;
              padding-left: 6px;
              padding-right: 6px;
            }
            >span {
              font-size: 16px;
              color: #0D0D0D;
              cursor: pointer;
              font-weight: 300;
              @media screen and (max-width: 1440px) {
                font-size: 12px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 10px;
              }
            }
            >img {
              height: 12.75px;
              @media screen and (max-width: 1440px) {
                height: 9.56px;
              }
              @media screen and (max-width: 1024px) {
                height: 8px;
              }
            }
          }
          .dropdown-item-filter {
            padding: 12px;
            >span {
              font-size: 18px;
              font-weight: 300;
              color: #152436;
              cursor: pointer;
              @media screen and (max-width: 1440px) {
                font-size: 14px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 12px;
              }
            }
          }
          .dropdown-menu {
            width: 200px !important;
            left: -10px !important;
            transform: translate3d(0px, 41px, 0px) !important;
          }
        }
        .div-search {
          border: 1px solid #0D0D0D;
          padding: 0px 10px;
          height: 46px;
          margin: 0px;
          width: 194px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media screen and (max-width: 1440px) {
            height: 34px;
            width: 145px;
          }
          @media screen and (max-width: 1024px) {
            height: 29px;
            width: 122px;
          }
          >button {
            background: transparent;
            border: none;
            font-size: 16px;
            color: #0D0D0D;
          }
          >input {
            width: 100px;
            border: none;
            font-weight: 300;
            font-size: 16px;
            color: #0D0D0D;
            height: 100%;
            background: transparent;
            @media screen and (max-width: 1440px){
              font-size: 12px;
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
              width: 90px;
              height: 39px;
            }
            &::placeholder {
              font-weight: 300;
              color: #0D0D0D;
              font-size: 16px;
              @media screen and (max-width: 1440px){
                font-size: 12px;
              }
              @media screen and (max-width: 1024px){
                font-size: 10px;
              }
            }
          }
          >img {
            height: 16px;
            @media screen and (max-width: 1440px) {
              height: 12px;
            }
            @media screen and (max-width: 1024px) {
              height: 10px;
            }
          }
        }
      }
      .div-filter-search-scent-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 26px;
        position: relative;
        >button {
          background: transparent;
          border: none;
          font-weight: 500;
          font-size: 16px;
          color: #0D0D0D;
          >img {
            margin: 0px 7px;
          }
        }
      }
      .div-scroll-ingredient {
        height: calc(100vh - 410px);
        &::-webkit-scrollbar {
          width: 0px;
          background-color: #E2E2E2;
          border-radius: 33px;
        }
        &::-webkit-scrollbar-thumb {
          background-color :#0D0D0D;
          border-radius: 33px;
        }
        .div-scent-line {
          .list-scent-item {
            >button {
              width: calc(100vw/5);
              height: calc(100vw/5);
            }
          }
        }
      }
    }
  }
}
.modal-scent-mobile {
  margin: 0 !important;
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px 32px 0 0;
  overflow: hidden;
  background: white;
  .divider-scent-mobile {
    height: 5px;
    width: 12%;
    background: rgba(38, 38, 38, 0.1);
    border-radius: 100px;
    margin: 0px auto 16px auto;
  }
  .modal-content {
    h4 {
      font-size: 16px;
      letter-spacing: 0.05rem;
    }
    border: none;
    .title-scent {
      background: white;
      p {
        margin-bottom: 0;
      }
    }
    .product-note-title {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid rgba(38, 38, 38, 0.1);;
      max-height: 25rem;
      overflow: auto;
    }
    .product-title {
      h3 {
        border-bottom: 1px solid rgba(38, 38, 38, 0.1);;
        padding-bottom: 20px;
        font-size: 24px;
        margin-bottom: 0;
      }
    }
    // scent box
    .scent-box {
      // box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
      border-radius: 0;
      height: 100%;
      overflow: hidden;
      .title-scent {
        text-align: center;
        h3 {
          text-transform: uppercase;
        }
      }
      .fadeIn {
        height: unset;
        opacity: 1;
        width: unset;
        transition: opacity 0.3s 0.3s !important;
      }
      .main-scent-note {
        height: 100%;
        display: flex;
        flex-flow: column;
        .main-scent-note-title {
          padding: 20px;
          position: relative;
          height: auto;
          text-align: center;
          cursor: pointer;
          background: #F5ECDC;
          h3 {
            font-size: 24px;
            letter-spacing: 0.2em;
            margin-bottom: 0;
            text-transform: uppercase;
          }
          img {
            position: absolute;
            left: 1rem;
            transform: translate(50%, 32%);
          }
        }
        .items-main-scent {
          background-size: cover;
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          .item-main-scent {
            min-height: 5rem;
            flex-grow: 1;
            box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-bottom: 1px solid #e2e2e2;
          }
        }
      }
      .product {
        height: 100%;
        display: flex;
        flex-flow: column;
        background: #F5ECDC;
        .product-title {
          padding: 20px 20px 10px;
          height: auto;
          text-align: center;
          position: relative;
          cursor: pointer;
          img {
            position: absolute;
            left: 1rem;
            transform: translate(50%, 2%);
          }
          h3 {
            margin-bottom: 0;
          }
        }
      }
      .product-note {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 2rem;
        min-height: 20rem;
        max-height: 22rem;
        .item-note {
          width: 33.33% !important;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-top: 10px;
          margin-bottom: 16px;
          span {
            position: absolute;
            font-size: 9px;
            letter-spacing: 0.05em;
            text-transform: capitalize;
            color: #ffffff;
            top: inherit;
            left: 50%;
            transform: translate(-50%, 100%);
            width: 100%;
            text-align: center;
            opacity: 1;
            color: black;
            text-transform: uppercase;
            cursor: pointer;
            bottom: 0px;
            font-weight: 500;
            padding: 0;
          }
          &.enable_hover {
            &:hover {
              > span {
                opacity: 1;
                transition: 0.2s ease-in;
              }
              .div-image {
                // opacity: 0.5;
                transition: 0.2s ease-in;
              }
              .div-bg {
                opacity: 0.2 !important;
              }
            }
          }
          >button {
            position: absolute;
            left: calc(50% - 30px);
            transform: translate(-50%, -50%);
            bottom: calc(50% - 50px);
            border: none;
            width: 20px;
            z-index: 10;
            >img {
              border: none;
            }
          }
        }
        .div-image {
          width: 120px;
          height: 120px;
          @media screen and (max-height: 639px) {
            width: 110px;
            height: 110px;
          }
          position: relative;
          padding: 4px;
          img {
            border-radius: 36%;
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 1;
            border: 0.841983px solid #0d0d0d;
          }
        }
        .div-bg {
          width: 110px;
          height: 110px;
          border-radius: 36%;
          opacity: 0;
          background: #0d0d0d;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
        .checked {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
          z-index: 10;
        }
      }
    }
  }
}
.mmo2-mobile {
  .mmo-step3-mobile {
    .wrapper-mix-info {
      position: absolute;
      left: 0;
      right: 0;
      top: 110px;
      // @media screen and (device-width: 360px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 57%;
      // }
      // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 52.5%;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
      //   top: 54%;
      // }
      // @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-device-height: 1200px) and (max-device-height: 1300px) and (orientation: portrait) {
      //   top: 57%;
      // }
      // @media screen and (max-height: 639px) {
      //   top: 63%;
      // }
      // transform: translateY(-50%);
      transform: translateY(0%);
    }
    .bottle-large-v2 {
      width: 9rem;
      text-align: center;
      height: calc(9rem * 0.54 * 4);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 19%;
      top: 130px;
      // @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 49%;
      // }
      // @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
      //   top: 52%;
      // }
      // @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (-webkit-device-pixel-ratio: 3) {
      //   top: 51%;
      // }
      // @media screen and (max-device-height: 639px) {
      //   top: 58%;
      // }
      transition: 1s all;
    }
  }

  .wrapper-button {
    display: flex;
    button {
      margin: 0;
    }
  }
}
