.club-description {
  padding: 3.75rem 12.25rem;
  background: #FFFFFF;
  &.free-trial-works {
    @media screen and (max-width: 1024px) {
      padding: 3.75rem 1rem;
      .__content {
        width: 100%;
        .item {
          flex-direction: row;
          width: 100%;
          max-width: unset;
          margin-top: 0px;
          margin-top: 40px;
          .__image {
            padding: 0px;
            width: 124px;
            justify-content: center;
            align-items: center;
            display: flex;
            >img {
              width: 64px;
              height: 64px;
              object-fit:content;
            }
          }
          .__text {
            flex: 1;
            margin-top: 0px;
            text-align: left;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1440px) {
    padding: 3.75rem 10rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 3.75rem 3.25rem;
  }

  .bt-link >button {
    background: #0D0D0D;
    border-radius: 6px;
    border: none;
    padding: 0px 83px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    height: 76px;
    margin-top: 80px;
    text-transform: uppercase;
    @media screen and (max-width: 1024px) {
      height: 48px;
      padding: 0px;
      width: calc(100vw - 72px);
      font-size: 14px;
      margin-top: 50px;
    }
  }
  .__header {
    h3 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.2em;
      color: #0d0d0d;

      @media screen and (max-width: 1440px) {
        font-size: 24px;
      }
    }

    p {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #0d0d0d;

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }

  .__content {
    margin-top: 4.5rem;
    @media screen and (max-width: 767.98px) {
      margin-top: 0rem;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 767.98px) {
        margin-top: 3.125rem;
      }
      max-width: 17rem;
      @media screen and (max-width: 767.98px) {
        max-width: 14.25rem;
      }
      .__image {
        padding: 0.5rem;
        span {
          width: 32px;
          height: 32px;
          top: 0;
          left: 0;
          background: #b79b53;
          border-radius: 50%;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 2rem;
          color: #ffffff;
          text-align: center;

          @media screen and (max-width: 1440px) {
            font-size: 1.125rem;
          }
        }
      }
      .__text {
        text-align: center;
        margin-top: 1.5rem;
        font-size: 22px;
        line-height: 1.625rem;
        letter-spacing: 0.05em;
        color: #0d0d0d;

        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
      }
    }
  }
}
