.workshop__banner {
  // background-image: url("https://s.scentdesigner.stage.23c.se/media/images/workshop-banner.original.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 4.5rem;
  height: 492px;
  @media (max-width: 991.98px) {
    height: 326px;
    padding-top: 2.5rem;
  }
  h1 {
    font-size: 4.5rem;
    color: #fff;
    font-weight: 400;
    @media (max-width: 991.98px) {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.375rem;
    letter-spacing: 0.2rem;
    color: #fff;
    @media (max-width: 991.98px) {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
}