.menu-mobile-v3, .menu-simple-v3 {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5ECDC;
  margin-top: 36px;
  @media screen and (max-width: 480px) {
    margin-top: 33px;
    height: 72px;
  }
  &.menu-full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-menu-full {
      max-width: 1200px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 1252px) {
        max-width: 100%;
        padding: 0px 26px;
      }

    }
    .image-logo {
      width: 115px;
      cursor: pointer;
      > img {
        width: 100%;
        height: 100%;
      }
    }
    .list-button {
      display: flex;
      width: fit-content;
      align-items: center;
      .bt-menu {
        font-family: unset;
        padding: 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #222222;
        letter-spacing: unset;
        font-family: unset;
        &.link-menu {
          &:hover {
            text-decoration: none;
          }
        }
        &.active {
          border-bottom: 1px solid;
        }
        >svg {
          width: 20px;
          height: 20px;
          margin-left: 4px;
        }
      }
    }
    .button-custome {
      >button:nth-child(2) {
        margin-left: 8px;;
      }
      .bt-all-product {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #2C2C22;
        display: flex;
        align-items: center;
        svg {
          font-size: 20px;
          margin-left: 4px;
        }
      }
    }
  }
  >img {
    width: 140px;
    cursor: pointer;
  }
}
.menu-mobile-v3 {
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  @media screen and (max-width: 991px) {
    flex-direction: row-reverse;
  }
  @media screen and (max-width: 480px) {
    flex-direction: row;
  }
  .icon-draw {
    padding: 8px;
    >svg {
      font-size: 24px;
    }
  }
  .logo {
    >img {
      height: 38px;
    }
  }
  .div-icon {
    width: fit-content;
    justify-content: flex-end;
    @media screen and (max-width: 991px) {
      display: none;
    }
    @media screen and (max-width: 480px) {
      display: flex;
    }
    .click-icon {
      position: relative;
      >svg {
        font-size: 20px;
        margin: 8px;
      }
      .number-total {
        font-size: 10px;
        position: absolute;
        top: -4px;
        right: -2px;
        line-height: 21px;
        padding: 0px 8px;
        border-radius: 15px;
        background: #EBD8B8;
        color: #2C2C22;
      }
    }
  }
}