.block-persional {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  background: #000000;
  .context-persional {
    display: flex;
    flex-direction:column;
    width: 830px;
    @media screen and (max-width: 991px) {
      max-width: 830px;
      width: 100%;
      padding: 0px 12px;
    }
    .list-switch {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-bottom: 48px;
      >button {
        width: 50%;
        font-family: 'Ferrari';
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #8F8F8F;
        height: 66px;
        @media screen and (max-width: 767px) {
          font-size: 10px;
          height: 39px;
        }
      }
      .active {
        color: #DA291C;
        border-bottom: 3px solid #DA291C;
      }
    }
    .div-info-detail {
      display: flex;
      width: 100%;
      margin-bottom: 24px;
      .line-text {
        width: 25%;
        font-family: 'Ferrari';
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 50px;
        text-align: center;
        border-right: 1px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 767px) {
          font-size: 8px;
          height: 36px;
        }
      }
      .line-text:last-child {
        border-right: none;
      }
    }
    .des-text {
      font-family: 'Ferrari';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      text-align: center;
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
}