.about-instagram {
  background-color: #fff;
  padding: 7.5rem 9.375rem;

  @media (max-width: 1440px) {
    padding: 5.625rem 8rem;
  }

  @media (max-width: 767.98px) {
    padding: 5rem 1.75rem;
    
  }

  .__header {

    a {
      font-size: 1.5rem;
      letter-spacing: 0.2em;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: #000000;
      @media (max-width: 1440px) {
        font-size: 1.125rem;
      }
    }

    h4 {
      padding-top: 1.25rem;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.75rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 1440px) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  .__slider {

    .__item {
      overflow: hidden;
      border-radius: 6px;
      padding: 0rem 1.25rem;
      
      img {
        transition: .5s;
        
        @media (min-width: 1024px) {
          &:hover {
            transform: scale(1.5);
          }  
        }
      }
    }

    .slick-slider {
      .slick-arrow {
        top: 50%;
        margin-top: 0px;
        &.slick-prev {
          left: -7%
        }
        &.slick-next {
          right: -7%
        }
      }
    }
  }
}
