.bg-image-logo-ferrari {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  >img {
    width: 206px;
    height: 100%;
  }
}
.quiz-ferrari {
  font-family: 'Ferrari';
  background: transparent;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  .height-quiz {
    position: relative;
    height: 100vh;
    padding-top: 147px;
    scroll-snap-align: start;
    @media screen and (max-width: 991px) {
      // flex-direction: column;
      // align-items: center;
      padding-top: 101px;
    }
    @media screen and (max-width: 767px){
      height: 100vh;
      padding-top: 93px;
    }
    &.full {
      padding-top: 0px;
    }
    .index-step {
      position: absolute;
      top: 0px;
    }
  }
}