.mobi--workshop__detail {
  position: relative;
  &__banner {
    >img {
      width: 100%;
      height: calc(100vw * 0.563);
      object-fit: cover;
      object-position: center;
    }
  }
  .mobi--workshop__detail__back {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 1;
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .slider-images {
    .p-1 {
      position: relative;
    }
    img {
      object-fit: cover;
      height: 3rem;
      width: 6rem;
    }
    .play-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .mobi--workshop__detail__info {
    h3 {
      font-size: 2rem;
    }

    .__price {
      font-size: 1.125rem;
      font-weight: 600;
    }

    .__content {
      font-size: 1rem;
    }
  }

  .mobi--workshop__detail__about,
  .mobi--workshop__detail__contact {
    h4 {
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .__subtitle {
      font-size: 0.875rem;
      font-weight: 600;
    }

    .__content {
      font-size: 0.875rem;
    }
  }

  .mobi--workshop__detail__bookNow {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    height: 6.25rem;
    display: flex;
    align-items: center;

    p {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 600;
    }

    button {
      display: flex;
      align-items: center;
      border: 0.0625rem solid #0D0D0D;
      border-radius: 2rem;
      width: 10rem;
      padding: 0;
      background-color: #ffffff;

      &:hover {
        color: #ffffff;
        background-color: #0D0D0D;
      }

      img {
        width: 42px;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .mobi--workshop__detail__benefit {
    padding-top: 2.5rem;
    margin-bottom: 8rem;

    .mobi--workshop__detail__benefit__title {
      letter-spacing: 0.2em;
      text-transform: uppercase;
      line-height: 1.125rem;
      font-size: 0.875rem;
      font-weight: 600;
      padding-bottom: 1rem;
    }

    .mobi--workshop__detail__benefit__item {
      margin-right: 0.5rem;
      padding: 0.625rem 0.25rem 0.725rem 0.5rem;
      font-size: 0.875rem;
      background: #ffffff;
      border: 0.0625rem solid #e2e2e2;
      box-sizing: border-box;
      height: 8rem;
      border-radius: 0.375rem;

      .mobi--workshop__detail__benefit__item__icon {
        img {
          height: 2.25rem;
          object-fit: contain;
        }
      }

      .mobi--workshop__detail__benefit__item__title {
        padding-top: 0.7rem;
        font-size: 0.75rem;
        font-weight: 600;
      }

      .mobi--workshop__detail__benefit__item__content {
        padding-top: 0.7rem;
        font-size: 0.7rem;
      }
    }
  }
}
