.step-4 {
    width: 90% !important;
    @media screen and (max-width: 1024px) {
        padding: 24px 0px 0 !important;
    }
    .wrapper-content {
        display: flex;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: unset;
        }
        h4 {
            margin: 0;
            font-size: 24px;
            font-weight: 400;
            @media screen and (max-width: 1024px) {
                font-size: 18px;
            }
        }
        .detail-form {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-right: 2%;
            > div {
                margin-bottom: 16px;
            }
            @media screen and (max-width: 1024px) {
                gap: unset;
                width: 100%;
                margin-right: 0;
                > div {
                    margin-bottom: 16px;
                }
            }
            .form-group {
                display: flex;
                flex-direction: column;
                > * {
                    margin-bottom: 16px;
                }
                @media screen and (max-width: 1024px) {
                    margin-bottom: 4px;
                    gap: unset;
                    > * {
                        margin-bottom: 16px;
                    }
                }
                .PhoneInputCountry {
                    width: 14%;
                    display: flex;
                    justify-content: center;
                    border: 1px solid #d9d9d9;
                    border-radius: 4px;
                    margin-right: 8px;
                    @media screen and (max-width: 1024px) {
                        width: 18%;
                    }
                }
                .PhoneInputCountryIconUnicode {
                    font-size: 20px;
                    padding: 0 8px 0 0;
                }
            }
            input {
                border: 1px solid #d9d9d9;
                padding: 12px;
                font-size: 14px;
                border-radius: 4px;
            }
            .login-with-social {
                p {
                    color: #545454;
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                }
                H5.divider {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: #0d0d0d;
                    font-size: 20px;
                    letter-spacing: 0.2em;
                    font-weight: 400;
                    margin: 8px 0;
                    &::before,
                    &::after {
                        content: "";
                        flex: 1;
                        border-bottom: 2px solid #e2e2e2;
                    }
                    &::before {
                        margin-right: 1em;
                    }
                    &::after {
                        margin-left: 1em;
                    }
                }
                @media screen and (max-width: 1024px) {
                    border-top: 1px solid #e2e2e2;
                    border-bottom: 0px;
                    padding: 16px 0;
                    margin-bottom: 8px !important;
                    .icon-social.facebook {
                        margin-right: 20px;
                    }
                }
            }
        }
        .summary-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 2%;
            > div {
                margin-bottom: 16px;
            }
            @media screen and (max-width: 1024px) {
                width: 100%;
                padding-top: 0;
                gap: unset;
                margin-left: 0;
                > div {
                    margin-bottom: 16px;
                }
            }
            .wrapper-summary {
                background: #f0f0f0;
                padding: 16px 24px;
            }
            .wrapper-info {
                display: flex;
                flex-direction: column;
                > * {
                    margin-bottom: 12px;
                }
                flex-grow: 1;
                min-height: 254px;
                @media screen and (max-width: 1024px) {
                    min-height: unset;
                    gap: unset;
                    > * {
                        margin-bottom: 12px;
                    }
                }
                .info-group {
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
            }
            .foot-info {
                padding-top: 20px;
                border-top: 2px solid #0d0d0d;
                @media screen and (max-width: 1024px) {
                    border-top: 1px solid #e2e2e2;
                }
                label {
                    font-weight: 400;
                    @media screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
            }
            button {
                background: #0d0d0d;
                border-radius: 4px;
                border: none;
                color: white;
                padding: 12px;
                min-width: 55%;
                margin: 10px auto 0;
                font-size: 14px;
                letter-spacing: 0.2em;
                display: block;
                text-align: center;
                @media screen and (max-width: 1024px) {
                    min-width: 64%;
                }
            }
            .custom-input-filter {
                &__checkbox {
                    display: none;
                    visibility: hidden;
                    position: relative !important;
                    margin: 0 auto !important;
                    & + label {
                        border-radius: 4px !important;
                        border: 1px solid #e2e2e2 !important;
                        position: relative;
                        width: 16px;
                        height: 16px;
                        margin: 0 auto;
                        cursor: pointer;
                        top: 2px;
                        margin-right: 0.5rem;
                    }
                    &:checked + label {
                        background-color: #0d0d0d;
                        border: 1px solid #0d0d0d;
                        color: #99a1a7;
                        border-radius: 4px;
                        &::after {
                            content: url("../../../../image/icon/check_checkbox.svg");
                            font-size: 15px;
                            font-weight: 900;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0.6);
                            color: #e2e2e2;
                        }
                    }
                }
            }
        }
    }
}
