.step-5 {
    width: 90% !important;
    @media screen and (max-width: 1024px) {
        padding: 24px 0px 0 !important;
    }
    .radio-button.active .point > button {
        background: #0d0d0d;
    }
    .wrapper-content {
        display: flex;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
        h4 {
            margin: 0;
            font-size: 24px;
            margin-bottom: 8px;
            font-weight: 400;
            @media screen and (max-width: 1024px) {
                font-size: 18px;
            }
        }
        .detail-form {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-right: 3%;
            @media screen and (max-width: 1024px) {
                width: 100%;
                margin-right: 0;
                > div {
                    margin-bottom: 16px;
                }
            }
            .form-group {
                display: flex;
                flex-direction: column;
                > * {
                    margin-bottom: 16px;
                }
                @media screen and (max-width: 1024px) {
                    > * {
                        margin-bottom: 16px;
                    }
                }
                .total-info {
                    .info {
                        display: flex;
                        p {
                            flex-grow: 1;
                            max-width: 15%;
                            white-space: nowrap;
                        }
                        .name {
                            width: 70%;
                            max-width: 70% !important;
                            white-space: pre-wrap;
                        }
                    }
                    .text-right {
                        margin-right: 8px;
                    }
                }
                .foot-info {
                    display: flex;
                    justify-content: space-between;
                }
            }
            input {
                border: 1px solid #d9d9d9;
                padding: 12px;
                font-size: 14px;
                border-radius: 4px;
            }
        }
        .foot-info {
            padding-top: 20px;
            border-top: 2px solid #0d0d0d;
            @media screen and (max-width: 1024px) {
                border-top: 1px solid #e2e2e2;
            }
        }
        .promo-code-box {
            display: flex;
            flex-wrap: nowrap;
            input {
                flex-grow: 1;
                background: #f0f0f0;
                margin-right: 8px;
            }
            button {
                background: #0d0d0d;
                border-radius: 4px;
                border: none;
                color: white;
                padding: 12px;
                min-width: 20%;
                font-size: 14px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
            }
        }
        .promo-code-apply {
            span {
                background: black;
                color: white;
                padding: 4px 8px;
                font-size: 12px;
            }
        }
        .wrapper-method {
            .payment-box {
                display: flex;
                justify-content: space-between;
                padding: 16px;
                border: 1px solid #e2e2e2;
                border-radius: 4px;
                cursor: pointer;
                font-weight: 400;
                margin-bottom: 16px;
                height: 6em;
                align-items: center;
                &.active {
                    background: #e2e2e2;
                    border: 1px solid #8d8d8d;
                }
                img {
                    height: 1.1em;
                    width: auto;
                    margin: 0 0 0 16px;
                }
                img.logo-paypal {
                    height: 3.8em;
                }
                img.logo-master {
                    height: 1.8em;
                }
                span {
                    font-size: 16px;
                    font-weight: 400;
                }
                .radio-button .point {
                    border: 1px solid #c4c4c4;
                }
                .radio-button.active .point {
                    border: 1px solid #0d0d0d;
                }
            }
        }
        .summary-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            @media screen and (max-width: 1024px) {
                width: 100%;
                padding-top: 0px;
                margin-left: 0;
            }
            .wrapper-info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                min-height: 254px;
                > * {
                    margin-bottom: 12px;
                }
                @media screen and (max-width: 1024px) {
                    min-height: unset;
                    > * {
                        margin-bottom: 12px;
                    }
                }
                .info-group {
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
            }
            .btn-confirm {
                background: #0d0d0d;
                border-radius: 4px;
                display: inherit;
                border: none;
                color: white;
                padding: 12px;
                min-width: 55%;
                margin: 0 auto;
                font-size: 14px;
                letter-spacing: 0.2em;
                @media screen and (max-width: 1024px) {
                    min-width: 64%;
                }
            }
            .custom-input-filter {
                &__checkbox {
                    display: none;
                    visibility: hidden;
                    position: relative !important;
                    margin: 0 auto !important;
                    & + label {
                        border-radius: 4px !important;
                        border: 1px solid #e2e2e2 !important;
                        position: relative;
                        width: 16px;
                        height: 16px;
                        margin: 0 auto;
                        cursor: pointer;
                        top: 2px;
                        margin-right: 0.5rem;
                    }
                    &:checked + label {
                        background-color: #0d0d0d;
                        border: 1px solid #0d0d0d;
                        color: #99a1a7;
                        border-radius: 4px;
                        &::after {
                            content: url("../../../../image/icon/check_checkbox.svg");
                            font-size: 15px;
                            font-weight: 900;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(0.6);
                            color: #e2e2e2;
                        }
                    }
                }
            }
        }
    }
}
.modal-checkout-stripe {
    max-width: 22vw;
    padding: 16px 0;
    @media screen and (max-width: 1024px) {
        max-width: unset;
        width: 90%;
        margin: 0 auto;
    }
    .btn-back {
        background: none;
        border: none;
        padding: 16px;
        width: 20%;
        margin: 0;
        display: inline-block;
    }
    .email-title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        padding: 16px;
        margin: 1em 0;
        border-top: 2px solid #0d0d0d;
        border-bottom: 2px solid #0d0d0d;
    }
    .logo {
        width: 30%;
        margin: 0 auto;
    }
    .modal-content {
        padding: 16px 0;
    }
    form {
        max-width: 30vw;
        label {
            width: 100%;
            padding: 2em;
        }
        @media screen and (max-width: 1024px) {
            max-width: unset;
            width: auto;
        }
    }
    .btn-pay {
        background: #0d0d0d;
        color: white;
        padding: 12px 24px;
        border: none;
        margin: 0 auto 32px;
        display: block;
        width: 90%;
        font-size: 17px;
        border-radius: 8px;
        letter-spacing: 0.2em;
    }
}
