.item-wear-perfume {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #D4C2A6;
  cursor: pointer;
  @media screen and (max-width: 992px) {
    height: 100%;
    width: 50%;
  }
  @media screen and (max-width: 767px) {
    width: 50%;
    height: 100%;
  }
  &.div-bottom {
    background: #EDDCBF;
  }
  &:hover {
    border: 5px solid #A59781;
  }
  &.active {
    transition: all 0.5s ease;
    background: #2c2c2c;
    .title-text {
      color: #BCAD93;
    }
    >svg {
      display: inherit;
      color: #EBD8B8;
      width: 40px;
      height: 40px;
    }
  }
  >img {
    width: 120px;
    height: 184px;
    margin-bottom: 12px;
    @media screen and (max-width: 767px) {
      width: 100px;
      height: 148px;
      margin-bottom: 24px;
    }
  }
  .title-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #2C2C22;
    text-transform: uppercase;
  }
  .des-text {
    font-weight: 400;
    font-size: 14px;
    color: #56564E;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
  >svg {
    display: none;
  }
}