.login-menu {
  position: relative;

  button {
    padding: 0.75rem;
    background: transparent;
    border: 0;
  }

  .login-modal {
    background: transparent;
    position: absolute;
    top: 4.5rem;
    left: -12rem;

    .main-modal {
      position: relative;
      border-radius: 6px;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
      &::before {
        top: -1.5rem;
        left: 12rem;
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid #f0f0f0;
      }

      .__header {
        border-radius: 6px 6px 0px 0px;
        padding: 1rem 2.25rem 1.3rem 2.25rem;
        background-color: #f0f0f0;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.375rem;
        u {
          cursor: pointer;
        }
        color: #0D0D0D;

        span {
          color: #c4c4c4;
        }
      }

      .__content {
        border-radius: 0px 0px 6px 6px;
        overflow: hidden;
        display: block;

        ul {
          margin: 0;
          background: #fff;
          padding: 1rem 6rem 1rem 2.875rem;
          list-style-type: none;
          display: block;

          li {
            padding: 1rem;
            white-space: nowrap;
            font-size: 1rem;
            color: #0D0D0D;
            z-index: 1003;
            opacity: 1;
            transform: none;
            transition: all 300ms ease 0s;
            cursor: pointer;

            i {
              font-size: 1.25rem;
            }

            &:hover {
              color: #b79b53;
            }
          }
        }
      }
    }
  }
}
