.perfume-family-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  #id-bt-next-family {
    position: absolute;
    top: 40%;
  }
  .list-item-favorite {
    display: grid;
    grid-template-columns: auto auto auto;
    .item-favorite {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 181px;
      height: 181px;
      margin: 15px;
      border-radius: 10px;
      border: 0.817017px solid #333333;
      @media screen and (max-width: 1024px){
        width: calc((100vw - 20px * 2 - 14px * 2) / 3);
        height: calc((100vw - 20px * 2 - 14px * 2) / 3);
        margin: 7px;
      }
      
      &.enable_hover {
        &:hover {
          opacity: 1 !important;
          .div-image {
            .div-bg {
              opacity: 0.5!important;
            }
          }
        }
      }
      
      &.active {
        .checked {
          visibility: visible;
          z-index: 2;
        }
      }
      
      .div-bg {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 0;
        background: #0d0d0d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        &.show {
          opacity: 0.5;
        }
        @media screen and (max-width: 1024px){
        
        }
      }
      .div-image {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 10px;
        @media screen and (max-width: 1024px){

        }
        >span {
          position: absolute;
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          opacity: 1;
          z-index: 2;
          @media screen and (max-width: 1024px){
            font-size: 10px;
          }
        }
        .ingredient {
          border-radius: 10px;
          cursor: pointer;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          opacity: 1;
          @media screen and (min-width: 768px) and (max-width: 1024px){
          
          }
          @media screen and (max-width: 767.9px){
            
          }
        }
      }
      
      .checked {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        @media screen and (max-width: 1024px){
          width: 24px;
          height: 24px;
        }
      }
    } 
  }
}