.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  .div-steps {
    width: 100%;
    display: grid;
    align-items: flex-start;
    justify-content: center;
    column-gap: 24px;

    .block-step {
      display: flex;
      .div-number {
        width: 55px;
        height: 55px;
        flex-shrink: 0;

        border-radius: 50%;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #2c2c2c;
        color: #F5ECDC;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.1em;
      }
      .div-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #2C2C22;
        text-transform: uppercase;

        &.mb-2 {
          margin-bottom: 8px;
        }
      }
      .div-description {
        font-size: 16px;
        line-height: 150%;
        color: #2C2C22;
        text-align: center;
      }
    }

    &.div-landingpage > .block-step {
      align-items: center;
      justify-content: center;
      gap: 0 16px;
      .div-title {
        text-align: center;
      }
    }
    &.div-giftpage > .block-step {
      flex-direction: column;
      align-items: center;
      gap: 16px 0;
      .div-title {
        text-align: center;
      }
    }

    @media screen and (max-width: 1024px) {
      .block-step {
        .div-number {
          width: 45px;
          height: 45px;
        }
      }
      &.div-landingpage > .block-step {
        flex-direction: column;
        align-items: center;
        gap: 16px 0;
        .div-title, .div-description {
          text-align: center;
        }
      }
    }
    @media screen and (max-width: 480px) {
      &.div-giftpage {
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 16px 0;

        > .block-step {
          flex-direction: row;
          align-items: flex-start;
          gap: 0 16px;
          .div-title, .div-description {
            text-align: left;
          }
        }
      }
      .block-step {
        .div-number {
          width: 24px;
          height: 24px;

          font-size: 12px;
        }
        .div-title, .div-description {
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
}