.video-section {
  position: relative;
  margin: 1rem 0 3rem;
  @media screen and (max-width: 1024px) {
    margin: 1rem 0 1rem;
  }
  .wrapper-video {
    width: 58%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 84%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 221px;
      position: unset;
      transform: translate(0);
      min-height: inherit;
    }
  }
  .wrapper-content {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .content-video {
    background: #e3be5d;
    padding: 4rem 7rem 4rem 11rem;
    flex-flow: 1;
    min-height: 450px;
    width: 55%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 2rem 0.5rem 2.5rem;
      min-height: inherit;
      text-align: center;
    }
    h3 {
      font-family: Playfair Display;
      font-size: 27px;
      font-weight: 500;
      span {
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 0.2em;
      }
    }
    .cat {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 500;
      margin: 1.5rem 0 0;
      @media screen and (max-width: 1024px) {
        margin: 2rem 0 0;
      }
    }
    .title {
      font-size: 20px;
      letter-spacing: 0.1em;
      @media screen and (max-width: 1024px) {
        margin-top: 8px;
      }
    }
    .info {
      // max-height: calc(1.45em * 3);
      overflow: hidden;
      p {
        display: none;
      }
      p:first-of-type {
        display: none;
        font-size: 14px;
        color: #0d0d0d;
        margin: 1.5rem 0;
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      p {
        font-size: 14px;
        margin: 1.5rem 0;
        @media screen and (max-width: 1024px) {
          margin: 2rem 2.5rem;
        }
      }
    }
    a {
      color: #0d0d0d;
      font-size: 14px;
      display: block;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}

.video-react-big-play-button {
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../../image/ic-play-blog.png") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  /* background-position: 50% calc(50% - 10px) !important; */
  border: none !important;
  box-shadow: none !important;
  &:before {
    content: "";
    display: none;
  }
  &:hover {
    background-color: transparent;
    opacity: 0.7;
  }
}
