.review-influencer {
  padding-top: 5.5rem;
  background-color: #e5e5e5;
  padding-bottom: 5rem;
  margin-top: -0.375rem;

  @media (max-width: 767.98px) {
    margin-top: 0rem;
  }

  .__title {
    color: #0D0D0D;

    h3 {
      font-size: 4.5rem;

      @media (max-width: 767.98px) {
        font-size: 2.25rem;
      }
    }

    p {
      text-align: center;
      font-size: 1.375rem;
      padding-top: 1rem;
      @media (max-width: 767.98px) {
        font-size: 0.875rem;
      }
    }
  }

  .influencer-slider {
    color: #0D0D0D;
    padding-top: 4rem;

    @media (max-width: 767.98px) {
      padding-top: 1rem;

      .slick-dots {
        bottom: -2.125rem;
      }
    }

    .slick-slider .slick-arrow.slick-prev::before {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: 4rem;
      margin-left: 1rem;
      background: url("../../../../image/icon/ic-prev-landing.svg");
      background-size: contain;
    }
    .slick-slider .slick-arrow.slick-next::before {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: 4rem;
      margin-right: 1rem;
      background: url("../../../../image/icon/ic-next-landing.svg");
      background-size: contain;
    }

    .__item {
      background-color: #fff;
      border-radius: 0.375rem;
      overflow: hidden;
      margin: 0rem 2rem;

      @media (max-width: 767.98px) {
        margin: 0rem 0.8125rem;
      }

      @media (max-width: 1440px) {
        margin: 0rem 1rem;
      }

      a {
        text-decoration: none;
      }

      .instagram {
        position: relative;
        height: 21rem;

        @media (max-width: 767.98px) {
          height: 17.5rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        p {
          margin-bottom: 0rem;
          position: absolute;
          bottom: 1.25rem;
          left: 1.25rem;
          color: #fff;
          font-weight: bold;
          font-size: 1.375rem;

          @media (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }

      .quote {
        p {
          font-size: 1rem;
          color: #000000;
          padding: 1.875rem;

          @media (max-width: 1440px) {
            padding: 1rem;
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  .influencer-all {
    padding-top: 5.5rem;

    @media (max-width: 767.98px) {
      padding-top: 3.5rem;
    }

    .__all-btn {
      background-color: #0D0D0D;
      border-radius: 0.375rem;

      font-weight: 600;
      font-size: 1.375rem;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      color: #ffffff;
      padding: 1rem 2.125rem;

      @media (max-width: 767.98px) {
        font-size: 0.875rem;
        letter-spacing: 0.1em;
      }
    }
  }
}
