@import '../../../styles/colors';

.tabs-ct {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  &.tabs-ct-mobile {
    .faq-mobile-item {
      border: none;
      box-shadow: none;
      margin-bottom: 12px !important;
      .accordion-summary-ct {
        min-height: 71px;
        border-radius: 40px;
        background: #F1E4CD;
        border: 1px solid #BCAD93;
        padding: 11px 20px;
        padding-right: 32px;
        @media screen and (max-width: 1024px) {
          padding: 0px 32px;
        }
        .MuiAccordionSummary-content {
          .MuiButtonBase-root {
            @media screen and (max-width: 1024px) {
              padding: 12px 0px;
              color: $Secondary-60;
              font-size: 14px;
              width: 100%;
            }
          }
        }
        // &.Mui-expanded {
        //   background:$Secondary-60;
        //   color: $Primary-60;
        //   .MuiAccordionSummary-content {
        //     .MuiAccordionSummary-expandIconWrapper {
        //       .css-i4bv87-MuiSvgIcon-root {
        //         color: $Primary-60;
        //       }
        //     }
        //   }
        // }
        .MuiAccordionSummary-content {
          margin: 0px;
          >button {
            font-family: unset;
            color: #2C2C22;
            font-size: 14px;
            opacity: 1;
          }
        }
      }
      .MuiCollapse-root {
        margin-top: 8px;
        &.MuiCollapse-hidden {
          margin-top: 0px;
        }
        .accordion-detail-ct {
          padding: 0px;
          .tab-panel {
            width: 100%;
            padding-left: 0px;
            .faq-mobile-item-extend {
              box-shadow: none;
              .accordion-summary-ct {
                min-height: 60px;
                border-radius: 40px;
                background: transparent;
                padding: 20px 32px;
                border: none;
                &.Mui-expanded {
                  background: transparent;
                  border: none;
                  .MuiAccordionSummary-content {
                    .MuiAccordionSummary-expandIconWrapper {
                      .MuiSvgIcon-root {
                        color: $Primary-60;
                      }
                    }
                  }
                }
              }
              .MuiCollapse-root {
                margin-top: 0px;
                .MuiCollapse-wrapper {
                  .MuiCollapse-wrapperInner {
                    .MuiAccordion-region {
                      .MuiAccordionDetails-root {
                        padding: 0px 32px 16px 32px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .div-tabs {
    width: 34.67%;
    .div-tab {
      width: 100%;
      height: 75px;
      max-width: unset;
      margin: 0px;
      border-radius: 40px;
      align-items: flex-start;
      padding: 0px 32px;
      font-size: 18px;
      text-transform: none;
      font-weight: normal;
      background: transparent;
      color: $Secondary-60;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      font-family: unset;
      &.Mui-selected {
        // background:$Secondary-60;
        background:$Primary-50;
        color: $Secondary-60;
      }
    }
    .MuiTabs-indicator {
      visibility: hidden;
    }
  }
  .tab-panel {
    width: 65.33%;
    padding-left: 48px;
    .accordion-ct {
      margin-bottom: 10px !important;
      border-radius: 40px !important;
    }
  }
}