@import '../../../../styles/colors';

.dropdown-filter {
  margin-bottom: 18px;
  display: flex;
  .MuiPaper-root {
    background: transparent;
    border: none;
    box-shadow: none;
    width: 100%;
    .MuiAccordionSummary-root {
      padding-left: 0px;
      padding-right: 10px;
      min-height: 21px;
      background: transparent !important;
      .MuiAccordionSummary-content {
        margin: 0px;
      }
    }
  }
  .header-dropdown {
    .icon-info-filter {
      padding-right: 13px;
    }
    // .bt-info {
    //   background: transparent;
    //   padding: 0px;
    //   margin-right: 13px;
    //   height: unset;
    //   min-width: unset;
    //   width: unset;
    //   color: $Primary-100;
    // }
    .name-title {
      font-size: 14px;
      font-weight: bold;
      color: $Secondary-60;
    }
  }

  .MuiPaper-root {
    .MuiCollapse-root {
      .MuiCollapse-wrapper {
        .MuiCollapse-wrapperInner {
          .MuiAccordion-region {
            .css-15v22id-MuiAccordionDetails-root {
              padding: 15px 16px 22px;
              @media screen and (max-width: 1024px) {
                padding: 10px 16px 0px 10px;
              }
            }
          }
        }
      }
    }
  }

  .list-dropdown {
    .checkbox-ct {
      margin-left: 10px;
      .MuiFormControlLabel-root {
        align-items: center;
        .MuiCheckbox-root {
          padding: 9px !important;
        }
        .MuiCheckbox-root {
          .MuiSvgIcon-root {
            color: $Primary-100;
          }
        }
      }
    }
  }
}