@import '../../../styles/colors';

.fillter-type {
  padding: 0px 24px;
  display: flex;
  align-items: center;
  .text-title {
    padding: 0px 12px;
    margin-right: 28px;
    font-weight: bold;
    font-size: 18px;
    color: $Neutral-100;
  }
  .div-list-item {
    flex: 1;
    display: flex;
    // justify-content: space-between;
    .item-filter:not(:last-child) {
      margin-right: 9px;
    }
    .item-filter {
      width: calc(100% / 3 - 18px);
      background: $Primary-60;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 0px 16px;
      height: 56px;
      display: flex;
      align-items: center;
      .checkbox-product {
        margin-left: 0px;
        width: 100%;
        .MuiFormControlLabel-root {
          margin-right: 0px;
          .MuiCheckbox-root {
            padding: 15px;
          }
          .MuiFormControlLabel-label {
            width: 100%;
            margin: auto;
          }
          .MuiSvgIcon-root {
            color: $Secondary-60;
          }
        }
        .label-checkbox {
          padding-left: 12px;
          border-left: 1px solid #BCAD93;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .text-t {
            font-size: 18px;
            line-height: 28px;
            font-weight: 500;
            color:$Secondary-60;
            padding-right: 12px;
          }
          >img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}