.wear-perfume {
  display: flex;
  align-items: center;
  position: relative;
  >div {
    width: 50%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .info-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media screen and (max-width: 991px) {
      width: 100%;
      flex: 1;
      flex-direction: row;
    }
    @media screen and (max-width: 767px) {
      flex: 1;
      height: auto;
      width: 100%;
      flex-direction: row;
    }
  }
  .bt-next-mobile {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    >img {
      width: 40px;
    }
  }
}