.modal-pick-scent {
  display: flex;
  justify-content: center;
  max-width: 900px !important;
  width: 900px !important;
  @media screen and (max-width: 1440px) {
    max-width: 675px !important;
    width: 675px !important;
  }
  @media screen and (max-width: 1024px) {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0px !important;
    margin-top: 0px !important;
  }
  .modal-content {
    max-width: 900px !important;
    width: 900px !important;
    border-radius: 0px;
    border: none;
    @media screen and (max-width: 1440px) {
      max-width: 675px !important;
      width: 675px !important;
    }
    @media screen and (max-width: 1024px) {
      max-width: calc(100vw) !important;
      width: calc(100vw) !important;
      height: 100vh;
      border-radius: 0px;
      margin-top: 0px;
    }
    .bt-close {
      width: 24px;
      height: 24px;
      display: flex;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 99;
      @media screen and (max-width: 1440px){
        width: 18px;
        height: 18px;
        top: 11.25px;
        left: 11.25px;
      }
      @media screen and (max-width: 1024px) {
        height: 18px;
        top: 34px;
        left: 15px;
      }
      >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .modal-body-pick-scent {
    padding: 60px 83px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1440px) {
      padding: 45px 63px;
      height: calc(100vh - 50px);
    }
    @media screen and (max-width: 1024px) {
      padding: 30px 17px 40px 17px;
      height: 100%;
    }
    &.full {
      padding: 0px;
    }
    .div-ingredient-local {
      height: 100%;
      .div-content-local {
        max-height: calc(100% - 80px);
        @media screen and (max-width: 1440px) {
          max-height: calc(100% - 50px);
          height: calc(100% - 50px);
        }
        @media screen and (max-width: 1440px) {
          max-height: calc(100% - 60px);
        }
        .div-ingredient-detail {
          @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            padding: 0px;
            width: 100%;
          }
          .div-banel {
            border-radius: 0px;
            height: 130px;
            z-index: 2;
            @media screen and (max-width: 1440px) {
              height: 97px;
            }
            @media screen and (max-width: 1024px) {
              height: 121px;
              width: 100%;
            }
            .div-text{
              >h2 {
                font-weight: normal;
                font-size: 36px;
                letter-spacing: 0.02em;
                @media screen and (max-width: 1440px) {
                  font-size: 27px;
                }
                @media screen and (max-width: 1024px) {
                  font-size: 21px;
                }
              }
            }
            >span {
              font-weight: normal;
              font-size: 16px;
              @media screen and (max-width: 1440px) {
                font-size: 12px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 17px;
                text-transform: inherit;
                margin-top: 5px;
              }
            }
          }
          .div-content{
            height: 100%;
            padding-top: 150px;
            @media screen and (max-width: 1440px) {
              padding-top: 117px;
            }
            @media screen and (max-width: 1024px) {
              padding-top: 0px;
              padding-top: 0px;
              width: calc(100vw - 30px);
            }
            .wrap-header {
              @media screen and (max-width: 1024px) {
                margin-top: 0px;
              }
              .div-info-v2 {
                .items-center {
                  .div-evolution {
                    height: 400px;
                    @media screen and (max-width: 1440px) {
                      height: 300px;
                    }
                    @media screen and (max-width: 1024px) {
                      height: 150px;
                      margin-top: 20px;
                    }
                    .div-title {
                      z-index: 1;
                      >span {
                        text-transform: capitalize;
                        font-weight: 300;
                      }
                    }
                    .div-image {
                      position: absolute;
                      top: -50px;
                      @media screen and (max-width: 1440px) {
                        top: -50px;
                      }
                      @media screen and (max-width: 1024px) {
                        top: 20px;
                      }
                      >span {
                        text-transform: capitalize;
                        font-weight: 300;
                      }
                    }
                  }
                  .div-strength {
                    .div-title {
                      font-weight: 300;
                      font-size: 16px;
                      @media screen and (max-width: 1440px) {
                        font-size: 12px;
                      }
                      @media screen and (max-width: 1024px) {
                        font-size: 10px;
                      }
                      >span {
                        text-transform: capitalize;
                        font-weight: 300;
                      }
                    }
                    .div-image {
                      width: 100%;
                      >span {
                        bottom: 9%;
                      }
                    }
                  }
                  .div-duration {
                    .div-title {
                      font-weight: 300;
                      font-size: 16px;
                      @media screen and (max-width: 1440px) {
                        font-size: 12px;
                      }
                      @media screen and (max-width: 1024px) {
                        font-size: 10px;
                      }
                      >span {
                        text-transform: capitalize;
                        font-weight: 300;
                      }
                    }
                    .div-image {
                      width: 65%;
                      >span {
                        bottom: -17%;
                        width: 100%;
                        text-align: center;
                      }
                    }
                  }
                  .div-persinal-image {
                    .div-title {
                      font-weight: 300;
                      font-size: 16px;
                      @media screen and (max-width: 1440px) {
                        font-size: 12px;
                      }
                      @media screen and (max-width: 1024px) {
                        font-size: 10px;
                      }
                      >span {
                        text-transform: capitalize;
                        font-weight: 300;
                      }
                    }
                    .div-image {
                      width: 72%;
                      #span-1 {
                        bottom: -5%;
                      }
                      #span-2 {
                        left: 15%;
                        top: 15%;
                      }
                      #span-3 {
                        right: 15%;
                        top: 15%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .div-list-button {
        margin-top: 50px;
        @media screen and (max-width: 1440px) {
          margin-top: 10px;
        }
        .bt-apply {
          margin: auto;
          width: 223px;
          min-width: 223px;
          height: 41.57px;
          font-size: 13px;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          border-radius: 0px;
          @media screen and (max-width: 1440px) {
            width: 167px;
            min-width: 167px;
            height: 31.18px;
            font-size: 9.75px;
          }
          @media screen and (max-width: 1024px) {
            width: 223px;
            min-width: 223px;
            height: 41.57px;
            font-size: 13px;
          }
        }
      }
    }
    .header {
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 27px;
      text-align: center;
      color: #0D0D0D;
      margin-bottom: 31px;
      width: 100%;
      @media screen and (max-width: 1440px) {
        font-size: 25px;
        line-height: 27px;
        margin-bottom: 31px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 13px;
      }
      
    }
    .div-filter {
      display: flex;
      margin-bottom: 22px;
      @media screen and (max-width: 1440px) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
      }
      .div-filter-search-scent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .div-filter {
          .header-filter {
            height: 46px;
            width: 194px;
            justify-content: center;
            align-items: center;
            display: flex;
            border: 1px solid #0D0D0D;
            padding-left: 10px;
            padding-right: 10px;
            justify-content: space-between;
            @media screen and (max-width: 1440px) {
              height: 34px;
              width: 145px;
              padding-left: 7px;
              padding-right: 7px;
            }
            @media screen and (max-width: 1024px) {
              height: 29px;
              width: 122px;
              padding-left: 6px;
              padding-right: 6px;
            }
            >span {
              font-size: 16px;
              color: #0D0D0D;
              cursor: pointer;
              font-weight: 300;
              @media screen and (max-width: 1440px) {
                font-size: 12px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 10px;
              }
            }
            >img {
              height: 12.75px;
              @media screen and (max-width: 1440px) {
                height: 9.56px;
              }
              @media screen and (max-width: 1024px) {
                height: 8px;
              }
            }
          }
          .dropdown-item-filter {
            padding: 12px;
            >span {
              font-size: 18px;
              font-weight: 300;
              color: #152436;
              cursor: pointer;
              @media screen and (max-width: 1440px) {
                font-size: 14px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 12px;
              }
            }
          }
          .dropdown-menu {
            width: 200px !important;
            left: -10px !important;
            transform: translate3d(0px, 41px, 0px) !important;
          }
        }
        .div-search {
          border: 1px solid #0D0D0D;
          padding: 0px 10px;
          height: 46px;
          margin: 0px;
          width: 194px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media screen and (max-width: 1440px) {
            height: 34px;
            width: 145px;
          }
          @media screen and (max-width: 1024px) {
            height: 29px;
            width: 122px;
          }
          >button {
            background: transparent;
            border: none;
            font-size: 16px;
            color: #0D0D0D;
          }
          >input {
            width: 100px;
            border: none;
            font-weight: 300;
            font-size: 16px;
            color: #0D0D0D;
            height: 100%;
            background: transparent;
            @media screen and (max-width: 1440px){
              font-size: 12px;
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
              width: 90px;
              height: 39px;
            }
            &::placeholder {
              font-weight: 300;
              color: #0D0D0D;
              font-size: 16px;
              @media screen and (max-width: 1440px){
                font-size: 12px;
              }
              @media screen and (max-width: 1024px){
                font-size: 10px;
              }
            }
          }
          >img {
            height: 16px;
            @media screen and (max-width: 1440px) {
              height: 12px;
            }
            @media screen and (max-width: 1024px) {
              height: 10px;
            }
          }
        }
      }
    }
    .div-scents {
      flex: 1;
      overflow-y: hidden;
    }
    .div-scroll-ingredient{
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      .div-scent-line {
        display: flex;
        flex-direction: column;
        >span {
          font-size: 16px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          margin-bottom: 11px;
          font-weight: 300;
          @media screen and (max-width: 1024px) {
            font-size: 13px;
          }
        }
        &.item-for-candle {
          .list-scent-item {
            >button {
              width: 137px;
              height: 137px;
              margin-right: 19px;
              margin-bottom: 19px;
              @media screen and (max-width: 1024px) {
                width: 65px;
                height: 65px;
                margin-right: 9px;
                margin-bottom: 9px;
              }
              &.low-stock {
                margin-bottom: 43px;
                .div-item {
                  &::after {
                    content: attr(data-message);
                    position: absolute;
                    bottom: -30px;
                    font-size: 16px;
                    color: #C9A047;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    font-weight: 500;
                  }
                }
              }
              &.out-stock {
                margin-bottom: 43px;
                .div-item {
                  &::after {
                    content: attr(data-message);
                    position: absolute;
                    bottom: -30px;
                    font-size: 16px;
                    color: #2B3033;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    font-weight: 500;
                    @media only screen and (max-width: 1024px) {
                      bottom: -20px;
                      font-size: 10px;
                    }
                  }
                }
              }
              .div-item {
                .info {
                  width: 23px;
                  height: 23px;
                  left: 19px;
                  bottom: 19px;
                  visibility: visible;
                  z-index: 1;
                  cursor: pointer;
                  @media screen and (max-width: 1024px) {
                    width: 11px;
                    height: 11px;
                    left:11px;
                    bottom: 14px;
                  }
                }
                >img {
                  border-radius: 46px;
                  @media screen and (max-width: 1024px) {
                    border-radius: 22px;
                  }
                }
                .div-choose {
                  >img {
                    width: 40%;
                    height: 40%;
                  }
                }
              }
            }
          }
        }
        .list-scent-item {
          display: initial;
          >button {
            width: 80px;
            height: 80px;
            padding: 0px;
            background: transparent;
            border: none;
            margin-right: 11px;
            margin-bottom: 11px;
            @media screen and (max-width: 1024px) {
              width: 65px;
              height: 65px;
              margin-right: 9px;
              margin-bottom: 9px;
            }
            &.low-stock {
              margin-bottom: 23px;
              .div-item {
                >img {
                  opacity: 1;
                }
                &::after {
                  content: attr(data-message);
                  position: absolute;
                  bottom: -20px;
                  font-size: 11px;
                  color: #C9A047;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 100%;
                  font-weight: 500;
                }
              }
            }
            &.out-stock {
              margin-bottom: 23px;
              .div-item {
                >img {
                  opacity: 0.5;
                }
                &::after {
                  content: attr(data-message);
                  position: absolute;
                  bottom: -20px;
                  font-size: 11px;
                  color: #2B3033;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 100%;
                  font-weight: 500;
                }
              }
            }
            .div-item {
              position: relative;
              width: 100%;
              height: 100%;
              border: none;
              .info {
                position: absolute;
                width: 12px;
                height: 12px;
                left: 11px;
                bottom: 11px;
                visibility: hidden;
                cursor: pointer;
              }
              .chose {
                opacity: 0.7;
              }
              >img {
                border: 0.634143px solid #152436;
                box-shadow: 0px 1.84694px 1.84694px rgba(0, 0, 0, 0.1);
                border-radius: 26.634px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                @media screen and (max-width: 1024px) {
                  border-radius: 21px;
                }
              }
              .div-choose {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                >img {
                  width: 50%;
                  height: 50%;
                  object-fit: contain;
                }
              }
            }
            
          }
        }
      }
    }
  }
}