@import '../../styles/colors';

.new-cartItem-v2 {
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
    padding-bottom: 24px;
    margin-top: 0px;
  }
  &.cart-item-checkout {
    .compo-remove {
      &.style-mobile {
        width: 100%;
        .div-remove {
          width: 70%;
          @media screen and (max-width: 1024px) {
            width: 75%;
          }
        }
      }
    }
    .div-text-content {
      width: 70%;
      @media screen and (max-width: 1024px) {
        width: 75%;
      }
      .div-delete-style-mobile {
        margin-top: -8px;
      }
    }
    .image-custome {
      width: 30%;
      @media screen and (max-width: 1024px) {
        width: 25%;
      }
      >img {
        width: 90% !important;
      }
    }
  }
  .compo-remove {
    @media screen and (max-width: 1024px) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .div-remove {
        width: 75%;
      }
    }
    &.style-mobile {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .div-remove {
        // width: 70%;
        width: 75%;
        margin-top: 20px;
        // @media screen and (max-width: 1024px) {
        //   width: 75%;
        // } 
        .button-add-custome, .button-edit {
          height: 34px;
          font-size: 11px;
          text-transform: capitalize;
          @media screen and (max-width: 1024px) {
            height: 23px;
            font-size: 10px;
          }
        }
        .button-add-custome {
          border: 20px !important;
          font-size: 12px;
          background: #F1E4CD;
          padding: 0px 12px;
          &:active {
            background: #F1E4CD !important;
          }
        }
        .div-button {
          height: 40px;
          padding: 0px 10px;
          @media screen and (max-width: 1024px) {
            height: 28px;
          }
          .pr-4 {
            padding-right: 7px !important;
          }
          .pl-4 {
            padding-left: 7px !important;
          }
          
        }
      }
    }
  }
  .div-text-content {
    // width: 70%;
    width: 80%;
    @media screen and (max-width: 1024px) {
      width: 75%;
    }
    .div-content {
      @media screen and (max-width: 1024px) {
        padding: 0px 24px;
      }
    }
    .dual-holder {
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #6B6B64;
      margin-top: -15px;
      margin-bottom: 20px;
      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }
      >img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
    }
  }
  .image-custome {
    position: relative;
    // width: 30%;
    width: 20%;
    @media screen and (max-width: 1024px) {
      width: 25%;
    }
    // >img {
    //   width: 90% !important;
    // }
    .div-image-bottle-custom {
      .img-bottle {
        height: 131px;
        margin-top: 10px;
        // @media screen and (max-width: 1024px) {
        //   margin-top: 0px;
        // }
      }
      .img-name {
        top: 45px;
      }
      .image-logo {
        top: 52px;
      }
      .div-ingredients {
        top: 81px;
        &.onMid {
          top: 86px;
        }
        >span {
          font-size: 2px;
        }
      }
      .custome-only-name {
        top: 109px;
      }
      .text-des-custome {
        bottom: 20px;
      }
      .text-size-custome {
        bottom: 15px;
      }
    }
    .div-text-scent {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      >span {
        font-size: 3px;
        color: #0D0D0D;
        @media screen and (max-width: 576px){
          font-size: 2.5px;
        }
        @media screen and (min-width: 576px) and (max-width: 1024px){
          font-size: 3.5px;
        }
      }
    }
  }

  .div-remove {
    height: fit-content;
    @media screen and (max-width: 1024px) {
      margin-top: 24px;
    }
    .div-button {
      height: 56px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      border: 1px solid #2C2C22;
      padding: 0px 20px;
      @media screen and (max-width: 1024px) {
        height: 28px;
        padding: 0px 15px;
      }
      >span {
        font-size: 16px;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
      }
      >button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
      }
      >button:nth-child(1) >img {
        width: 12px;
      }
      >button:nth-child(3) >img {
        height: 14px;
      }
    }
  }

  .div-content {
    width: 100%;
    justify-content: space-between;
    padding-left: 24px;
    border-left: 1px solid #BCAD93;
    @media screen and (max-width: 1024px) {
      padding: 0px 0px 0px 12px;
      height: 100%;
    }
    .div-left {
      justify-content: center;
      padding-right: 10px;
    }
    .div-gift-icon {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 2px;
      }
      >img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
        @media screen and (max-width: 1024px) {
          width: 24px;
          height: 24px;
        }
      }
      >span {
        font-size: 14px;
        line-height: 150%;
        color: $Secondary-40;
      }
    }
    .div-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sp-title {
        font-size:12px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 5px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #BCAD93;
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          margin-bottom: 2px;
        }
      }
    }
    .sp-text {
      margin-bottom: 6px;
      .div-wrapper {
        display: flex;
        align-items: flex-start;
        img {
          margin-right: 8px;
        }
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 2px;
      }
    }
    .title-name {
      margin-bottom: 16px;
      color: $Secondary-10;
      font-size: 14px;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
        margin-bottom: 8px;
      }
    }
    .text-color-candle {
      font-size: 12px;
      color: #2C2C22;
      margin-top: -10px;
      margin-bottom: 10px;
      @media screen and (max-width: 1024px) {
        font-size: 10px;
      }
    }
    .sp-title {
      color: #8D8D8D;
      text-transform: uppercase;
      font-size: 16px;
    }
    .sp-text-price {
      margin-bottom: 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      @media scent and (max-width: 1024px) {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 14px;
        color: $Secondary-60;
      }
    }
    .bt-delete {
      .icon-delete {
        color: $Secondary-60;
        font-size: 23px;
      }
    }
    .div-button {
      margin-left: 24px;
    }
    .div-custome {
      .div-edit {
        margin-top: 16px;
        .text-custom {
          font-size: 12px;
          line-height: 150%;
          color: $Secondary-10;
          margin-bottom: 0px;
        }

        .custom-button.small {
          font-size: 12px;
          height: 34px;
          border-radius: 20px;
        }
      }
    }
  }
  .add-bottle-custom {
    background: $Primary-30;
    border-radius: 10px;
    position: relative;
    padding: 8px 12px;
    width: calc(100% - 206px);
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    @media screen and (max-width: 1024px) {
      flex-direction: row;
      width: fit-content;
    }
    &.style-mobile {
      flex-direction: row;
      width: fit-content;
      cursor: pointer;
      >button {
        position: relative;
        top: unset;
        right: unset;
        min-width: unset !important;
        width: unset !important;
        padding-left: 15px !important;
      }
    }
    .title-add {
      font-weight: 500;
      font-size: 13px;
      line-height: 150%;
      color: $Neutral-100;
      margin-bottom: 0px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 0px;
      }
    }
    >button {
      font-weight: 600 !important;
      position: absolute;
      top: 8px;
      right: 12px;
      @media screen and (max-width: 1024px) {
        position: relative;
        top: unset;
        right: unset;
        min-width: unset !important;
        width: unset !important;
        padding-left: 15px !important;
      }
    }
  }
  .div-row {
    align-items: center;
  }
}