@import '../../../styles/colors';

.review-item-v2 {
  background: $Primary-30;
  border: 1px solid $Secondary-60;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  flex-direction:  column;
  width: 100%;
  height: fit-content;
  @media screen and (max-width: 1024px) {
    border-radius: 10px;
    padding: 12px;
  }
  &.version-3 {
    padding: 24px;
    width: calc((100% - 24px)/2);
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .des {
      margin-top: 0px;
      margin-bottom: 24px;
    }
    .line-start {
      margin-bottom: 8px;
      >img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
    }
    .other-Tagline {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #2C2C22;
      margin-bottom: 8px;
    }
    .text-date {
      font-weight: 400;
      font-size: 14px;
      color: #8D826E;
    }
  }
  .line-header {
    justify-content: space-between;
    margin-bottom: 8px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 4px;
    }
    .other-Tagline {
      color: $Secondary-60;
    }
    .line-start {
      display: flex;
      >img {
        width: 16px;
        height: 16px;
        margin: 0px 4px;
        @media screen and (max-width: 1024px) {
          width: 14px;
          height: 14px;
          margin: 0px 2px; 
        }
      }
    }
  }
  >span {
    color: $Secondary-40;
  }
  .des {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
}