@font-face {
  font-family: "PFDinTextAR";
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  src: url("./PFDinTextAR-Thin.otf") format("otf"); }
 @font-face {
  font-family: "PFDinTextAR";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("./PFDinTextAR-Light.otf") format("otf");
}
@font-face {
  font-family: "PFDinTextAR";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./PFDinTextAR-Regular.otf") format("otf"); }
@font-face {
  font-family: "PFDinTextAR";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("./PFDinTextAR-Medium.otf") format("otf"); }
@font-face {
  font-family: "PFDinTextAR";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("./PFDinTextAR-Bold.otf") format("otf"); }

@font-face {
  font-family: "Ferrari";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("./Ferrari-SansLight.woff") format("woff"); }

@font-face {
  font-family: "Ferrari";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./Ferrari-SansRegular.woff") format("woff"); }

@font-face {
  font-family: "Ferrari";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("./Ferrari-SansMedium.woff") format("woff"); }
  
@font-face {
  font-family: "Ferrari";
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("./Ferrari-SansBold.woff") format("woff"); }