.influencer {
  padding: 3.75rem 10rem 9rem 10rem;

  @media screen and (max-width: 1440px) {
    padding: 3.75rem 7.5rem;
  }

  @media screen and (max-width: 767.98px) {
    padding: 2rem 3rem;
  }

  .__header {
    h3 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.2em;
      color: #0d0d0d;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-size: 24px;
      }
    }

    p {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #0d0d0d;

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }
    }
  }

  .__slider {
    margin-top: 4.5rem;

    @media screen and (max-width: 767.98px) {
      margin-top: 3.125rem;
      padding-bottom: 5rem;
    }

    .slick-slider {
      .slick-arrow {
        &.slick-prev {
          &::before {
            left: -50%;
            top: 50%;
            height: 70px;
            background: url("../../../../image/icon/slider-white-left.svg");
            background-size: auto;
            background-repeat: no-repeat;
          }
        }

        &.slick-next {
          &::before {
            right: -100%;
            top: 50%;
            height: 70px;
            background: url("../../../../image/icon/slider-white-right.svg");
            background-size: auto;
            background-repeat: no-repeat;
          }
        }
      }

      .slick-dots {
        bottom: -12.5%;
        li {
          margin: 0;
          button {
            &::before {
              font-size: 10px;
            }
          }
          &.slick-active {
            button {
              &::before {
                color: #b79b53;
              }
            }
          }
        }
      }
    }

    .item {
      margin: 0rem 2rem;
      @media screen and (max-width: 767.98px) {
        margin: 0rem;
      }
      .__image {
        box-shadow: 3.85939px 2.31563px 30.8751px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          left: 0.75rem;
          bottom: 1rem;
          // font-family: Open Sans;
          font-weight: bold;
          font-size: 1rem;
          line-height: 1.4rem;
          color: #ffffff;
          @media screen and (max-width: 1440px) {
            left: 0.5625rem;
            font-size: 0.75rem;
          }
        }
      }
      .__text {
        margin-top: 1.75rem;
        span {
          font-size: 1rem;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 0.75rem;
          }

          @media screen and (max-width: 767.98px) {
            // font-family: Open Sans;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
