.item-family {
  position: relative;
  border: 2px solid #D4C2A6;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    width: calc((100vw - 90px)/3);
    height: calc((100vw - 90px)/3);
  }
  &.active {
    .text-icon {
      transition: all 0.5s;
      opacity: 1;
      background: linear-gradient(0deg, rgba(183, 155, 83, 0.5), rgba(183, 155, 83, 0.5)), linear-gradient(180deg, rgba(44, 44, 34, 0) 0%, rgba(44, 44, 34, 0.7) 100%);
      >svg {
        display: inherit;
      }
    }
  }
  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >div {
      color: #EBD8B8;
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      text-align: center;
    }
    >svg {
      width: 30px;
      height: 30px;
      color: #EBD8B8;
      display: none;
    }
  }
}