.workshop__contact {
  padding: 1rem 0;

  a {
    color: #b79b53;
  }

  p {
    font-size: 1.75rem;
  }
}

@media (max-width: 1199.98px) {
  .workshop__contact {
    padding: 1rem 0;
  }
}

@media (max-width: 991.98px) {
  .workshop__contact {
    h4 {
      font-size: 1rem;
    }

    p {
      font-size: 0.75rem;
    }
  }
}
