.gift-breadcrumb {
  display: flex;
  align-items: center;
  padding: 24px 0;

  > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    &.prev-bread {
      color: #BCAD93;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .current-bread {
    color: #2C2C22;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  .slash {
    color: #56564E;
    font-weight: 500;
    line-height: 150%;
    margin: 0 8px;
  }

  @media screen and (max-width: 1200px) {
    padding: 24px;
  }

  @media screen and (max-width: 991px) {
    padding: 24px 16px;
  }

  @media screen and (max-width: 480px) {
    > a, .current-bread {
      font-size: 12px;
    }
  }
}