.div-scent-strength-ferrari {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background: #181818;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .title-ferrari {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0px 130px 0px 120px;
    height: 100%;
    font-family: 'Ferrari';
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width: 991px) {
      font-size: 24px;
      letter-spacing: 0.05em;
      padding: 0px 64px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      padding: 80px 24px;
      width: 100%;
      text-align: center;
      height: fit-content;
    }
  }
  .wrap-scent-strength {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 24px;
    align-items: center;
    @media screen and (max-width: 767px) {
      padding: 60px 24px;
      flex: 1;
      width: 100%;
    }
    .item-scent-strength {
      width: calc((100% - 12px) / 2);
      height: calc(100vh / 3);
      @media screen and (max-width: 767px) {
        height: 100%;
      }
    }

  }
}