.gift-card-wrapper {
  flex: 1;
  width: 100%;
  height: 246px;

  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-image: url('../../../../../imagev2/png/platinum-gift-card-bg.png');

  &:hover, &.gift-card-active {
    background-color: #EBD8B8;
  }
  &.gift-card-inactive {
    opacity: 0.5;
  }

  &.gift-card-1 {
    grid-area: item-1;
  }
  &.gift-card-2 {
    grid-area: item-2;
  }
  &.gift-card-3 {
    grid-area: item-3;
  }
  &.gift-card-4 {
    grid-area: item-4;
    height: 205px;
    .gift-card-item {
      display: flex;
      justify-content: flex-end;
    }
    @media screen and (max-width: 767px) {
      height: auto;
    }
  }

  .gift-card-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;

    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      content: '';
      width: calc(100% - 16px);
      height: calc(100% - 16px);

      position: absolute;
      top: 8px;
      left: 8px;
      border: 4px solid;
      border-radius: 16px;
      overflow: hidden;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    .gift-card-img {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 12px;

      &.width-set {
        width: calc(33.33% - 22px);
      }

      img {
        height: 100%;
        object-fit: contain;
      }
    }
    .content-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      .text-price {
        font-weight: 600;
        font-size: 46px;
        line-height: 120%;
        padding: 0 24px;
        z-index: 1;

        &.decrease-fsz {
          font-size: 42px;
        }
        > span {
          font-size: 30px;
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
          &.decrease-fsz {
            font-size: 24px;
          }
        }
      }
      .div-card-name {
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 34px;
        > img {
          width: 100%;
          height: 100%;
        }
        .text-name {
          width: 100%;

          font-weight: 500;
          font-size: 38px;
          line-height: 120%;
          text-transform: uppercase;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9;

          text-align: right;
          padding: 0 24px;

          &.decrease-fsz {
            font-size: 32px;
          }
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
          margin-bottom: 60px;
          .text-name {
            font-size: 28px;
          }
          .text-name.decrease-fsz {
            font-size: 16px;
          }
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
          .text-name {
            font-size: 24px;
          }
        }

        @media screen and (max-width: 480px) {
          margin-bottom: 50px;
        }
      }
    }
    .custom-content-text {
      position: relative;
      z-index: 99;
      width: fit-content;
      height: 100%;

      display: flex;
      flex-direction: column;

      padding: 24px 32px;
      .content-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 8px;
      }
      .content-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #56564E;
        margin-bottom: 16px;
      }
      .content-submission {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 8px;

        .text-field {
          flex-grow: 1;

          input {
            width: 100%;
            height: 56px;
            padding: 0 24px;

            border-radius: 30px;
            border: 1px solid #D4C2A6;
            background-color: #F1E4CD;

            font-size: 14px;
            line-height: 170%;
            color: #8D826E;

            font-family: unset;
          }
        }
        .save-btn {
          flex-shrink: 0;
          text-transform: initial;
          &:disabled {
            opacity: 0.6;
            color: #E6D288;
            background-color: #2C2C22;
          }
        }
      }

      @media screen and (max-width: 767px) {
        padding: 24px;
        .content-submission {
          flex-direction: column;
          column-gap: 0;
          row-gap: 8px;
          .text-field, .save-btn {
            width: 100%;
          }
        }
      }
    }

    &.gift-silver {
      background: linear-gradient(90deg, #EEEEEE 0%, #FFFFFF 48.65%, #EEEEEE 100%);
      .content-text .text-price, .div-card-name .text-name {
        color: #56564E;
      }

      &:before {
        border-color: #2C2C22;
        opacity: 0.1;
      }
      &:after {
        background-image: url('../../../../../imagev2/png/silver-gift-card-bg.png');
      }
    }
    &.gift-gold {
      background: linear-gradient(0deg, #E2D5BA, #E2D5BA), linear-gradient(90deg, #E8CE92 0%, #FFF3D3 48.65%, #E8CE92 100%);
      .div-card-name > img {
        mix-blend-mode: soft-light;
      }
      .content-text .text-price, .div-card-name .text-name {
        color: #414138;
      }

      &:before {
        border-color: #FFFFFF;
        opacity: 0.75;
      }
      &:after {
        background-image: url('../../../../../imagev2/png/platinum-gift-card-bg.png');
      }
    }
    &.gift-platinum {
      background: linear-gradient(90deg, #1A1A14 0%, #2C2C22 21.84%, #494938 52.08%, #2C2C22 84.83%, #1A1A14 100%);
      .content-text .text-price, .div-card-name .text-name {
        color: #EBD8B8;
      }
      &:before {
        border-color: #EBD8B8;
        opacity: 0.75;
      }
      &:after {
        background-image: url('../../../../../imagev2/png/platinum-gift-card-bg.png');opacity: 0.25;
      }
    }
    &.gift-custom {
      background: linear-gradient(94.28deg, #AE6E55 1.53%, #D99B83 12.97%, #AE6E55 49.11%), linear-gradient(94.28deg, #D8E1E8 1.53%, #F8F9FB 12.97%, #DBE3EA 49.11%), linear-gradient(90deg, #EFE5CE 0%, #FFF9E9 48.65%, #EFE5CE 100%);

      &:before {
        border-color: #EBD8B8;
        border-radius: 12px;
        opacity: 0.4;
      }
      &:after {
        background-image: url('../../../../../imagev2/png/custom-gift-card-bg.png');
      }
    }
  }

  @media screen and (max-width: 991px) {
    min-width: 204px;
    height: 293px;
  }

  @media screen and (max-width: 480px) {
    .gift-card-item .gift-card-img.width-set {
      width: 100%;
    }
  }
}