.item-quiz-ferrari {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ferrari';
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background: rgba(48, 48, 48, 0.3);
  cursor: pointer;
  padding: 0px 16px;
  position: relative;
  &:hover {
    background: rgba(48, 48, 48, 0.7);
  }
  &.active {
    background: rgba(48, 48, 48, 0.3);
    border-bottom: 3px solid #DA291C;
    .bg-logo {
      display: inherit;
    }
  }
  @media screen and (max-width: 991px) {
    font-size: 18px;
  }
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
  .bg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    display: none;
  }
  &.item-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-icon {
      width: 100px;
      height: 100px;
      margin-bottom: 12px;
    }
    font-size: 14px;
    color: #5E5E5E;
    &:hover {
      color: #FFFFFF;
    }
    &.active {
      color: #DA291C;
    }
  }
  &.item-sub-text {
    padding: 0px 24px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text-sub {
      font-size: 12px;
      margin-top: 8px;
      color: #8F8F8F;
      line-height: 150%;
    }
  }
}