.search-bar-section {
  display: flex;
  justify-content: center;
  min-height: 44px;
  border-bottom: 1px solid #0d0d0d;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #F5ECDC;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    justify-content: left;
    align-items: center;
  }
  .wrapper-menu {
    max-width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    transition: 0.8s ease-out;
    padding: 0;
    li {
      list-style: none;
      padding: 0 1.5rem;
      font-size: 14px;
      font-weight: 500;
      a {
        color: #0d0d0d;
        text-transform: uppercase;
        white-space: nowrap;
        &:hover {
          text-decoration: none;
          opacity: 0.9;
          transition: 0.1s;
        }
      }
    }
  }
  .container-search-blog {
    display: flex;
    align-items: center;
    background: #F5ECDC;
    max-width: 32px;
    overflow: hidden;
    transition: 1s ease-out;
    transition-delay: 2s;
    i {
      font-size: 1.1rem;
      cursor: pointer;
      padding: 8px;
    }
    input {
      border: none;
      font-size: 14px;
      padding: 2px 8px 2px 0px;
      border-bottom: 1px solid #c4c4c4;
      margin-left: 4px;
      background: transparent;
    }
  }
  .container-search-blog-mobile {
    display: flex;
    align-items: center;
    background: #F5ECDC;
    min-width: 24px;
    overflow: hidden;
    transition: 0.8s ease-out;
    height: fit-content;
    ::-webkit-scrollbar {
      display: none;
    }
    i {
      font-size: 1.1rem;
      cursor: pointer;
      padding: 8px;
    }
    input {
      border: none;
      font-size: 14px;
      padding: 2px 8px 2px 0px;
      border-bottom: 1px solid #c4c4c4;
      margin-left: 4px;
    }
  }
}
// .active {
.wrapper-menu.active {
  max-width: 0;
  overflow: hidden;
  transition: 0.4s ease-out;
}
.container-search-blog.active {
  animation-name: animationSearch;
  animation-duration: 2s;
  transition-delay: 2s;
  min-width: 36rem;
  display: flex;
  input{
    flex-grow: 1;
  }
}
.container-search-blog-mobile.active {
  animation-name: animationSearchMobile;
  animation-duration: 0.4s;
  min-width: 100%;
  display: flex;
  input{
    flex-grow: 0.9;
  }
}

@keyframes animationSearch {
  0% {
    max-width: 32px;
    min-width: 0;
    overflow: hidden;
  }
  100% {
    min-width: 36rem;
    max-width: unset;
    overflow: unset;
  }
}

@keyframes animationSearchMobile {
  0% {
    min-width: 0;
    overflow: hidden;
  }
  100% {
    min-width: 100%;
    max-width: unset;
    overflow: unset;
  }
}
// }
