.modal-book-free-home {
  max-width: 1322px;
  height: calc(100vh - 80px);
  @media screen and (max-width: 1440px) {
    max-width: calc(1322px * 0.75);
  }
  .modal-content {
    height: 100%;
    .modal-body {
      padding: 0px;
      height: 100%;
      .body-book {
        padding: 86px 126px;
        overflow-y: auto;
        height: 100%;
        position: relative;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        @media screen and (max-width: 1440px) {
          padding: 64px 95px;
        }
        @media screen and (max-width: 1024px) {
          padding: 60px 20px;
        }
        .bt-close {
          position: absolute;
          width: 28px;
          height: 28px;
          top: 30px;
          right: 30px;
          @media screen and (max-width: 1440px) {
            width: calc(28px * 0.75);
            height: calc(28px * 0.75);
            top: calc(30px * 0.75);
            right: calc(30px * 0.75);
          }
        }
        >img {
          width: 100%;
          border-radius: 10px;
          @media screen and (max-width: 1440px) {
            border-radius: calc(10px * 0.75);
          }
        }
        >h2 {
          margin-top: 79px;
          margin-bottom: 41px;
          font-weight: 500;
          font-size: 34px;
          color: #152436;
          text-align: center;
          @media screen and (max-width: 1440px) {
            margin-top: calc(79px * 0.75);
            margin-bottom: calc(41px * 0.75);
            font-size: calc(34px * 0.75);
          }
        }
        .des {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          >span {
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
          }
        }
        .gender-input {
          margin: 29px 0px;
          display: flex;
          width: 100%;
          .radio-button {
            &.active {
              >span {
                color: #0D0D0D;
              }
            }
            >span {
              font-size: 14px;
              color: #545454;
              font-weight: normal;
            }
          }
          @media screen and (max-width: 1440px) {
            margin: 21px 0px;
          }
        }
        .line-input {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 14px;
          &.line-2 {
            >div {
              width: calc(100%/2 - 7px);
            }
          }
          &.line-1 {
            width: 100%;
          }
          &.scent-request {
            height:112px;
            .input-custom {
              height: 100%;
              >textarea {
                border: none;
                height: 100%;
                padding: 18px 0px;
              }
            }
          }
        }
        .preferd-language {
          width: 100%;
          >span {
            font-weight: 500;
            color: #333333;
            font-size: 14px;
          }
          .group-choose {
            display: flex;
            .input-custom {
              width: max-content;
              border: none;
              margin-right: 30px;
              padding: 0px;
            }
          }
        }
        .button-submit {
          margin: 44px 0px 90px 0px;
          display: flex;
          &.bt-disabled {
            >button {
              background: #494949;
              cursor: not-allowed;
            }
          }
          >button {
            margin: auto;
            height: 60px;
            width: 250px;
            border: none;
            background: #0D0D0D;
            border-radius: 4px;
            font-size: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}