.enter-email {
  display: flex;
  @media screen and (max-width: 991px) {
    flex-direction: column;
    height: auto;
  }
  >div {
    width: 50%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  .image-left {
    position: relative;
    @media screen and (max-width: 991px) {
      width: 100%;
      flex: 1;
      max-height: 50%;
    }
    @media screen and (max-width: 767px) {
      height: calc(100vw * 0.77);
    }
    >img {
      width: 100%;
      height: 100%;
      border-radius: 0px 80px 80px 0px;
      object-fit: cover;
      @media screen and (max-width: 991px) {
        border-radius: 0px;
      }
      @media screen and (max-width: 767px) {
        height: 100%;
      }
    }
    .bg-cover {
      display: hidden;
      @media screen and (max-width: 991px) {
        top: 0px;
        width: 100%;
        height: 101%;
        position: absolute;
        background: linear-gradient(180deg, rgba(245, 236, 220, 0) 0%, #F5ECDC 79.17%);
      }
    }
  }
  .info-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 120px 0px 64px;
    @media screen and (max-width: 991px) {
      padding: 24px;
      // align-items: center;
      // justify-content: flex-start;
      min-height: auto;
      height: auto;
      position: absolute;
      bottom: 0px;
    }
    @media screen and (max-width: 767px) {
      padding: 30px 24px;
      min-height: auto;
      height: auto;
      position: absolute;
      bottom: 0px;
    }
    &.relative-div {
      align-items: center;
      justify-content: flex-start;
      position: relative;
    }
    >div {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 991px) {
        display: flex;
        // flex-direction: row;
        // justify-content: space-around;
      }
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }
    .div-top-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .text-complete {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #389E0D;
        background: #F6FFED;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 16px;
        width: fit-content;
      }
      .text-header {
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 12px;
        @media screen and (max-width: 991px) {
          font-size: 24px;
        }
      }
      .text-des {
        color: #56564E;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 20px;
        @media screen and (max-width: 991px) {
          font-size: 14px;
        }
      }
      .list-item {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #56564E;
        margin-bottom: 22px;
        >svg {
          color: #2C2C22;
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
    .div-bottom-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (max-width: 991px) {
        width: 100%;
        margin-top: 0px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .input-email {
        margin-top: 30px;
        width: 100%;
        margin-bottom: 6px;
        @media screen and (max-width: 991px) {
          margin-top: 0px;
        }
      }
      .row-check-box {
        margin-bottom: 16px;
        width: 100%;
        .check-box-email {
          width: fit-content;
          >label {
            margin-right: 0px;
          }
        }
        .link-text {
          color: #56564E;
          @media screen and (max-width: 991px) {
            font-size:12px;
          }
          >a {
            font-weight: 600;
            color: #2c2c2c;
          }
        }
      }
      >button {
        width: 100%
      }
    }
  }
}