
@import '../../../styles/colors';

.card-reddeem {
  .card-mobile {
    @media screen and (max-width: 1024px) {
      background: transparent;
      padding: 24px 0px;
      margin-top: 22px;
    }
  }
  .card-mobile, .card-r {
    .heading {
      margin-bottom: 6px;
    }
    .div-input {
      display: flex;
      width: 100%;
      margin-top: 16px;
      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }
      .input-wrap {
        display: flex;
        width: 100%;
        position: relative;
        >img {
          position: absolute;
          width: 22px;
          height: 15px;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
        }
        .input-ct {
          flex: 1;
          margin-right: 4px;
          .content {
            >input {
              padding-left: 54px;
            }
          }
        }
      }
    }
  }
  .mesage-error {
    width: 100%;
    height: 37px;
    padding: 0px 16px;
    color: $Error-60;
    background: $Error-20;
    display: flex;
    align-items: center;
    margin-top: 16px;
    border-radius: 10px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
      margin-top: 8px;
    }
  }
  .message-success {
    margin-top: 12px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
    .MuiSvgIcon-root {
      color: $Success-60;
      font-size: 24px;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
      }
    }
    .left-text {
      margin-left: 10px;
      .body-text-s-regular {
        color: $Secondary-60;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
      }
    }
  }
}