.custom-bottle-question {
   display: flex;
   flex-direction: column;
   align-items: center;
   .div-bottle {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0px;
     .image-temp {
       width: 64px;
       @media screen and (max-width: 1024px) {
         width: 30px;
       }
     }
     .div-image-bottle-custom {
       margin: 0px 30px;
       @media screen and (max-width: 1024px) {
        margin: 0px 15px;
       }
     }
     .div-image-bottle-custom {
       .img-bottle {
         height: 326px;
         @media screen and (max-width: 1024px) {
          height: 168px;
         }
       }
       .img-name {
          height: 215px;
          top: 94px;
          width: 68px;
          border-radius: 30px;
          @media screen and (max-width: 1024px) {
            height: 110px;
            top: 48px;
            width: 35px;
            border-radius: 15px;
           }
       }
       .image-logo {
          top: 103px;
          width: 48px;
          @media screen and (max-width: 1024px) {
            top: 53px;
            width: 24px;
          }
       }
       .text-des-custome {
          bottom: 37px;
          font-size: 8px;
          width: fit-content;
          @media screen and (max-width: 1024px) {
            bottom: 19px;
            font-size: 4px;
          }
       }
       .text-size-custome {
          bottom: 23px;
          font-size: 8px;
          @media screen and (max-width: 1024px) {
            bottom: 9px;
            font-size: 4px;
          }
       }
       .custome-name {
        top: 257px;
        font-size: 10px;
        width: fit-content;
        @media screen and (max-width: 1024px) {
          top: 132px;
          font-size: 5px;
        }
       }
     }
   }

}
.block-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 100px;
  >h3 {
   font-weight: 600;
   font-size: 1.75rem;
   color: #333333;
   margin-top: 80px;
   @media screen and (max-width: 1440px) {
    font-size: 2rem;
   }
   @media screen and (max-width: 1024px) {
     font-size: 1.2857rem;
     margin-top: 60px;
   }
  }
  .div-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    .info-line {
      display: flex;
      align-items: center;
      margin-bottom: 9px;
     @media screen and (max-width: 1024px) {
       margin-bottom: 11px;
     }
     >img {
       width: 16px;
       height: 16px;
       margin-right: 10px;
       @media screen and (max-width: 1024px) {
         width: 12px;
         height: 12px;
         margin-right: 6px;
       }
     }
     >span {
       font-size: 1rem;
       color: #333333;
       @media screen and (max-width: 1440px) {
        font-size: 1.14285rem;
       }
     }
    }
  }
  .div-email {
   height: 48px;
   width: 650px;
   padding: 0rem 16px;
   background: transparent;
   justify-content: center;
   align-items: center;
   border: 1px solid #2c2c2c;
   border-radius: 4px;
   @media screen and (max-width: 1024px) {
     width: calc(100vw - 40px);
     height: 48px;
   }
   >img {
     width: 22px;
     margin-right: 10px;
   }
   >input {
     flex: 1;
     border: none;
     color: #545454;
     font-size: 0.875rem;
     background: transparent;
     @media screen and (max-width: 1440px) {
      font-size: 1rem;
     }
     &::placeholder {
       color: #545454;
       font-size: 0.875rem;
       @media screen and (max-width: 1440px) {
        font-size: 1rem;
       }
     }
     @media screen and (max-width: 600px) {
       flex: auto;
       width: 100%;
     }
   }
 }
 .div-checkbox {
   display: flex;
   width: fit-content;
   margin-top: 13px;
   margin-bottom: 20px;
   align-items: center;
   cursor: pointer;
   @media screen and (max-width: 1024px) {
     margin-bottom: 0px;
   }
   &.active {
     .checkbox {
       border: none;
       position: relative;
       >img {
         visibility: visible;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0px;
         left: 0px;
       }
     }
   }
   .checkbox {
     width: 18px;
     height: 18px;
     background: #fff;
     border: 1px solid #333333;
     border-radius: 2px;
     margin-right:10px;
     @media screen and (max-width: 1024px) {
       width: 15px;
       height: 15px;
     }
     >img {
       visibility: hidden;
     }
   }
   >span {
     font-size: 1rem;
     color: #545454;
     @media screen and (max-width: 1440px) {
       font-size: 1.14285rem;
     }
     @media screen and (max-width: 1024px) {
       font-size: 0.85714rem;
     }
   }
 }
}