@import "../../styles/colors";

.input-ct {
  position: relative;
  .other-Input-Text {
    margin-left: 16px;
    margin-bottom: 6px;
  }
  .message-error {
    margin-top: 6px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 150%;
    color: $Error-60;
  }
  .bt-right {
    margin-top: 1px;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: underline;
  }
  .content {
    >input {
      border: none;
      background: transparent;
      width: 100%;
      padding: 0px 24px;
      font-size: 14px;
      line-height: 24px;
      border-radius: 30px;
      height: 56px;
    }
    &.content-icon {
      position: relative;
      .MuiSvgIcon-root {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 24px;
        font-size: 20px;
      }
      >input {
        padding-left: 52px;
      }
    }
  }
  .PhoneInput {
    width: 100%;
    height: 56px;
    .PhoneInputCountry {
      padding: 0px 24px;
      border: 1px solid $Secondary-60;
      border-radius: 30px;
      background: $Primary-60;
      .PhoneInputCountrySelectArrow {
        color: $Secondary-60;
      }
    }
    >input {
      height: 100%;
      padding: 0px 24px;
      border: 1px solid #D4C2A6;
      background: $Primary-10;
      color: $Secondary-60;
      border-radius: 30px;
      &::placeholder {
        color: $Primary-100;
      }
      &:focus {
        border: 1px solid #2C2C22;
      }
    }
  }
  .icon-drop-input-select {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 24px;
  }
  .input-select, .input-dob {
    height: 56px;
    width: 100%;
    padding: 0px 24px;
    border: 1px solid #D4C2A6;
    background: $Primary-60;
    color: $Secondary-60;
    border-radius: 30px;
    box-shadow: none;
    &::placeholder {
      color: $Primary-100;
    }
    &:focus {
      border: 1px solid #2C2C22;
      box-shadow: none;
    }
  }
  .input-select.custom-color {
    color: #948975;
    font-size: 14px;
  }
  .input-select option:not(.custom-option) {
    color: #2C2C22;
  }
  &.s-light {
    .content {
      .MuiSvgIcon-root {
        color: $Secondary-60;
      }
      >input {
        border: 1px solid #D4C2A6;
        background: $Primary-10;
        color: $Secondary-60;
        border-radius: 30px;
        &::placeholder {
          color: $Primary-100;
        }
        &:focus {
          border: 1px solid #2C2C22;
        }
      }
    }
  }
  &.s-dark {
    .content {
      .MuiSvgIcon-root {
        color: $Primary-80;
      }
      >input {
        background: $Secondary-40 ;
        border: 1px solid #414138;
        color: $Primary-80;
        &::placeholder {
          color: $Primary-80;
        }
        &:focus {
          border: 1px solid #EBD8B8;
        }
      }
    }
  }
  &.small {
    .content {
      >input {
        height: 40px;
        border-radius: 21.4706px;
      }
    }
  }
  &.medium {
    .content {
      >input {
        height: 44px;
        border-radius: 21.4706px;
        font-size: 12px;
      }
      .message-error {
        font-size: 12px;
      }
    }
    .PhoneInput {
      height: 44px;
      >input {
        font-size: 12px;
      }
    }
    .input-select {
      height: 44px;
      font-size: 12px;
    }
  }
  &.error {
    .content {
      >input {
        border: 1px solid #F5222D;
      }
    }
    .input-select, .PhoneInputInput {
      border-color: #F5222D !important;
    }
  }
}