.block-info-quiz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @media screen and (max-width: 991px) {
    justify-content: center;
    height: calc((100vh - 82px) / 2);
  }
  @media screen and (max-width: 767px) {
    padding: 0px 16px;
    height: 28%;
  }
  &.block-short {
    justify-content: flex-start;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
    @media screen and (max-width: 767px) {
      justify-content: flex-start;
    }
    .content-info {
      align-items: center;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 24px;
      .title-quiz {
        text-align: center;
      }
      .cart-info {
        display: none;
      }
    }
  }
  .content-info {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 14.6%;
    @media screen and (max-width: 991px) {
      width: 100%;
      padding-bottom: unset;
      align-items: center;
    }
    &.p-show-button {
      padding-bottom: 9%;
    }
    .title-quiz {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #2C2C22;
      margin-bottom: 12px;
      @media screen and (max-width: 991px) {
        font-size: 48px;
        margin-bottom: 32px;
        text-align: center;
      }
      @media screen and (max-width: 767px) {
        text-align: center;
        font-size: 24px;
      }
    }
    .text-d {
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    .button-more-info {
      width: fit-content;
      background: #F1E4CD;
      border: 1px solid #D4C2A6;
      border-radius: 30px;
      padding: 6px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #56564E;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      >button {
        margin-left: 10px;
        display: flex;
        align-items: center;
        >div {
          text-decoration: underline;
        }
        >svg {
          font-size: 24px;
          color: #56564E;
          transform: rotate(180deg);
          transition: all 0.2s ease;
          @media screen and (max-width: 991px) {
            display: none;
          }
        }
      }
      .open-more {
        >svg {
          transform: rotate(0deg);
        }
      }
    }

    .cart-info {
      width: 100%;
      background: #F1E4CD;
      border: 1px solid #D4C2A6;
      border-radius: 20px;
      padding: 16px;
      display: flex;
      opacity: 0;
      transform: translateY(-23px);
      transition: all 0.2s ease;
      @media screen and (max-width: 991px) {
        display: none;
      }
      &.is-open {
        opacity: 1;
        transform: translateY(0px);
      }
      .text-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 24px;
        >div:nth-child(1) {
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #2C2C22;
          margin-bottom: 16px;
        }
        >div:nth-child(2) {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #56564E;
        }
      }
      .image-info {
        width: 200px;
        height: 200px;
        >img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          object-fit: cover;
        }
      }
    }
    .list-button {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      @media screen and (max-width: 767px) {
        justify-content: center;
      }
      >button {
        padding: 0px 102px;
        margin-top: 24px;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}