.item-menuV3-desktop {
  width: 100%;
  .menu-item-wrapper {
    padding: 24px 0px 36px 0px;
    background-color: #f5ecdc;
  }
  .menu-item-product {
    display: flex;
    flex-direction: column;
  }
  .menu-link-product,
  .submenu-link-product {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 2px;
    margin-bottom: 24px;
    .menu-title-product {
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      text-transform: uppercase;
      color: #2c2c22;
      letter-spacing: 0.1em;

      margin-right: 12px;
    }
    &:hover {
      text-decoration: none;
      .arrow-icon {
        transform: translateX(8px);
      }
    }
    .arrow-icon {
      transition: all ease 400ms;
    }
  }
  .submenu-link-product {
    padding: 2px 16px 2px 8px;
    margin-bottom: 12px;
    .menu-title-product {
      text-transform: capitalize;
    }
  }
  .menu-list-product {
    flex-grow: 1;
    display: grid;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    .item-menu-1-4 {
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .div-left-list {
        display: flex;
        flex-direction: column;
        .sub-header {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: #2c2c22;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          width: 100%;
          padding-bottom: 12px;
          border-bottom: 1px solid #bcad93;
          margin-bottom: 12px;
        }
        .list-link {
          display: flex;
          flex-direction: column;
          .item-link {
            margin-bottom: 12px;
            margin-left: 0px;
            padding: 2px 12px;
            transition: color 400ms ease;

            color: #56564e;
            font-weight: 400;
            text-transform: capitalize;
            border-radius: 5px;
            &:hover {
              background-color: #f1e4cd;
              color: #2c2c22;
              text-decoration: none;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .div-right-image {
        display: flex;
        .image-ct {
          width: 100%;
          height: 286px;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
          .content-inside {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 40px 24px 24px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-top {
              .main-title {
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;

                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #f5ecdc !important;
              }
            }
            &-bottom {
              width: fit-content;
              &:hover .guide-btn {
                background-color: #ebd8b8;
              }
              .guide-btn {
                height: 45px;

                background-color: #f1e4cd;
                border-radius: 30px;
                color: #2c2c22;
                font-weight: 600;
                font-size: 14px;
                font-family: unset;
                line-height: 150%;

                padding: 0 20px;
                border: 0;
              }
            }
          }
        }
        .bt-next {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          line-height: 150%;
          color: #2c2c22;
          &:hover {
            > svg {
              transform: translateX(8px);
            }
          }
          > svg {
            width: 20px;
            height: 20px;
            margin-left: 4px;
            transition: all 400ms ease;
          }
        }
      }
    }

    @media screen and (max-width: 1199px) and (min-width: 992px) {
      grid-column-gap: 16px;
    }
  }
  .menu-flex-row {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    .div-grid-item {
      flex-grow: 1;

      display: grid;
      justify-content: space-between;
      grid-auto-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 24px 16px;
      &.div-6-item {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
          "item-1 item-1 item-1 item-2 item-2 item-2"
          "item-3 item-3 item-4 item-4 item-5 item-5";
      }
      &.div-4-item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "item-1 item-2"
          "item-3 item-4";
      }
      &.div-3-item {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "item-1 item-2 item-3";
      }
      .item-1 {
        grid-area: item-1;
      }
      .item-2 {
        grid-area: item-2;
      }
      .item-3 {
        grid-area: item-3;
      }
      .item-4 {
        grid-area: item-4;
      }
      .item-5 {
        grid-area: item-5;
      }
      .item-menu-5 {
        display: flex;
        flex-direction: column;
        &:hover {
          text-decoration: none;
          .div-text-bottom .bt-next > svg {
            transform: translateX(8px);
          }
        }
        .image-left {
          width: 100%;
          height: 200px;
          margin-bottom: 12px;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
        .div-text-bottom {
          width: 100%;
          .bt-next {
            display: flex;
            align-items: center;

            font-weight: 500;
            line-height: 150%;
            color: #2c2c22;
            > svg {
              width: 20px;
              height: 20px;
              margin-left: 4px;
              transition: all 400ms ease;
            }
          }
        }
      }
    }
    .div-divider {
      width: 1px;
      background-color: #bcad93;
    }
    .div-image {
      flex-shrink: 0;
      width: 294px;
      display: flex;
      flex-direction: column;
      &.image-equal-height .image-ct {
        height: 200px;
      }
      &:hover {
        text-decoration: none;
        .bt-next > svg {
          transform: translateX(8px);
        }
      }
      .image-ct {
        width: 100%;
        height: 100%;

        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 12px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .bt-next {
        width: 100%;
        display: flex;
        font-weight: 500;
        line-height: 150%;
        color: #2c2c22;
        align-items: center;
        > svg {
          width: 20px;
          height: 20px;
          margin-left: 4px;
          transition: all 400ms ease;
        }
      }
    }
  }
  .menu-item-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 36px;
    grid-row-gap: 24px;
    justify-content: unset;
    &.style-1 {
      .item-text-2,
      .item-menu-2 {
        width: 32.67%;
      }
    }
    &.style-2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "item-1 item-2"
        "item-1 item-2";
    }
    &.style-3 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "item-1 item-2 item-3"
        "item-1 item-2 item-3";
    }
    .item-menu-1-4 {
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      .div-left-list {
        display: flex;
        flex-direction: column;
        .sub-header {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: #2c2c22;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          width: 100%;
          padding-bottom: 12px;
          border-bottom: 1px solid #bcad93;
          margin-bottom: 12px;
        }
        .list-link {
          display: flex;
          flex-direction: column;
          .item-link {
            margin-bottom: 12px;
            margin-left: 0px;
            padding: 2px 12px;
            transition: color 400ms ease;

            color: #56564e;
            font-weight: 400;
            text-transform: capitalize;
            border-radius: 5px;
            &:hover {
              background-color: #f1e4cd;
              color: #2c2c22;
              text-decoration: none;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .div-right-image {
        display: flex;
        .image-ct {
          width: 100%;
          height: 110%;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:before {
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
          }
          .content-inside {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 40px 24px 24px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-top {
              .main-title {
                font-weight: 400;
                font-size: 24px;
                line-height: 120%;

                letter-spacing: 0.05em;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #f5ecdc !important;
              }
            }
            &-bottom {
              width: fit-content;
              &:hover .guide-btn {
                background-color: #ebd8b8;
              }
              .guide-btn {
                height: 45px;

                background-color: #f1e4cd;
                border-radius: 30px;
                color: #2c2c22;
                font-weight: 600;
                font-size: 14px;
                font-family: unset;
                line-height: 150%;

                padding: 0 20px;
                border: 0;
              }
            }
          }
        }
        .bt-next {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          line-height: 150%;
          color: #2c2c22;
          &:hover {
            > svg {
              transform: translateX(8px);
            }
          }
          > svg {
            width: 20px;
            height: 20px;
            margin-left: 4px;
            transition: all 400ms ease;
          }
        }
      }
    }
    .div-content-item {
      .item-link {
        .item-title {
          display: flex;
          align-items: center;

          > img {
            margin-left: 12px;
            transition: all ease 400ms;
          }
        }
        &:hover {
          text-decoration: none;
          .item-title > img {
            transform: translateX(8px);
          }
        }
      }
      .item-title {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 150%;
        color: #2c2c22;

        padding-bottom: 12px;
        margin-bottom: 12px;

        border-bottom: 1px solid #bcad93;
      }
      .item-list {
        display: flex;
        flex-direction: column;
        .item-child {
          width: 100%;
          display: flex;
          column-gap: 12px;

          border-radius: 20px;
          overflow: hidden;
          text-decoration: none;
          cursor: pointer;

          padding: 12px;
          &.item-without-image {
            padding: 2px 12px;
            color: #56564e;
            transition: all ease 400ms;
            &:not(:last-child) {
              margin-bottom: 12px;
            }
            &:hover {
              border-radius: 5px;
              color: #2c2c22;
            }
          }
          &:hover {
            text-decoration: none;
            background-color: #f1e4cd;
          }
          > div {
            flex: 1 0 34%;
          }
          &-image {
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
            overflow: hidden;
            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .item-child-title {
            font-size: 16px;
            color: #2c2c22;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 4px;
          }
          .item-child-des {
            color: #56564e;
            > p {
              margin-bottom: 0;
            }
          }
        }
        .item-link {
          padding: 2px 12px;
          margin-bottom: 12px;

          color: #56564e;
          font-weight: 400;
          text-transform: capitalize;

          transition: color 400ms ease;
          border-radius: 5px;
          &:hover {
            color: #2c2c22;
            background-color: #f1e4cd;
            text-decoration: none;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .div-img {
        height: 200px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 24px;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .div-content-item-1 {
      grid-area: item-1;
    }
    .div-content-item-2 {
      grid-area: item-2;
    }
    .div-content-item-3 {
      grid-area: item-3;
    }
    .item-text-2 {
      display: flex;
      flex-direction: column;
      .sub-h-text {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2c2c22;
        margin-bottom: 8px;
      }
      .des {
        font-size: 16px;
        line-height: 150%;
        color: #56564e;
      }
    }
  }
  .menu-create {
    &-title {
      display: flex;
      align-items: center;
      padding-bottom: 12px;
      margin-bottom: 32px;

      border-bottom: 1px solid #BCAD93;
      &:hover {
        text-decoration: none;
        .menu-create-arrow {
          transform: translateX(8px);
        }
      }
    }
    &-icon {
      margin-right: 6px;
      width: 24px;
      height: 24px;

      flex-shrink: 0;
    }
    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;

      text-transform: uppercase;
      color: #2C2C22;
    }
    &-content {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;

      .menu-item {
        &-link {
          display: block;

          &:hover {
            text-decoration: none;
            .menu-item-image > img {
              transform: scale(1.2);
            }
            .menu-item-name > img {
              transform: translateX(8px);
            }
          }
        }
        &-image {
          position: relative;
          height: 200px;

          border-radius: 14px;
          overflow: hidden;

          margin-bottom: 12px;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 400ms;
          }
        }
        &-icon {
          width: 78px;
          height: 78px;
          position: absolute;
          right: 0;
          bottom: 0;

          background-color: #F5ECDC;
          border-top-left-radius: 18px;
          border-bottom-right-radius: 14px;
          overflow: hidden;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-name {
          display: flex;
          align-items: center;
          .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #2C2C22;

            margin-right: 12px;
          }
          > img {
            transition: all ease 400ms;
          }
        }
      }
    }
    &-arrow {
      margin-left: 12px;
      transition: all ease 400ms;
    }
  }
}
