@import '../../../styles/colors';

.new-pay-ment {
  margin-top: 24px;
  background: $Primary-30;
  border-radius: 10px;
  padding: 18px;
  @media screen and (max-width: 1024px) {
    padding: 18px 24px;
    border-radius: 10px;
    width: calc(100vw - 24px * 2);
    margin: 0px auto 24px auto;
  }
  >hr {
    background: $Secondary-60;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .get-now {
    padding: 0px 20px;
    align-items: center;
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
    .MuiSvgIcon-fontSizeLarge {
      color: $Secondary-60;
      font-size: 48px;
      @media screen and (max-width: 1024px) {
        font-size: 24px;
      }
    }
    .div-info-left {
      margin-left: 20px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1024px) {
        flex-direction: row;
        align-items: center;
        flex: 1;
        justify-content: space-between;
      }
      >span {
        height: 24px;
        margin-bottom: 6px;
        color: $Secondary-60;
        @media screen and (max-width: 1024px) {
          margin-bottom: 0px;
        }
      }
      >button {
        text-decoration: unset;
        text-transform: uppercase;
        font-weight: 500;    
        @media screen and (max-width: 1024px) {
          min-width: unset;
          width: 21px;
        }
      }
    }
  }
}