.text-block-v2 {
  flex: 1;
  margin: 0px 0px 0px 64px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 991px) {
    margin: 0px;
    margin-top: 52px;
  }
  .name-product {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2C2C22;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .icon-product {
      height: 32px;
      margin-left: 12px;
    }
  }
  .list-tab {
    display: flex;
    >button {
      padding: 8px 12px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #2C2C22;
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
    .active {
      border-bottom: 1px solid #2c2c2c;
    }
  }
  .content-tab {
    width: 100%;
    .div-empty {
      height: 315px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      >img {
        width: 70px;
        margin-bottom: 27px;
      }
      >span {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #56564E;
      }
    }
    .tab-creation {
      margin-top: 24px;
      margin-bottom: 12px;
      .sub-header {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 12px;
      }
      .title--image-text {
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1E4CD;
        border-radius: 12px;
        margin-bottom: 24px;
        padding: 0px 12px;
        @media screen and (max-width: 767px) {
          padding: 0px 16px;
          justify-content: flex-start;
        }
        >img {
          width: 32px;
          height: 32px;
          margin-right: 12px;
        }
        >div {
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 12px;
          color: #6B6B64;
        }
      }
      .des-mini {
        font-weight: 400;
        font-size: 12px;
        color: #56564E;
        margin-top: 12px;
        padding-left: 12px;
      }
      .block-holder-mini {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        background: #F1E4CD;
        border-radius: 8px;
        margin-top: 12px;
        >img {
          width: 48px;
          height: 48px;
          margin-right: 12px;
        }
        >div {
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2C2C22;
        }
      }
    }
    .tab-description {
      margin-top: 24px;
      .list-icon {
        display: flex;
        margin-bottom: 24px;
        @media screen and (max-width: 767px) {
          width: 100%;
          display: grid;
          grid-template-columns: auto auto auto auto auto auto;
          grid-column-gap: 12px;
        }
        >div {
          width: 58px;
          height: 58px;
          margin-right: 12px;
          @media screen and (max-width: 767px) {
            width: 100%;
            height: 100%;
            margin-right: 0px;

          }
        }
      }
      .div-description {
        .dropdown-item-wrap-v2 {
          margin-bottom: 24px;
          .div-title {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #2C2C22;
            margin-bottom: 12px;
          }
          .dropdown {
            .header-dropdown {
              height: 56px;
              width: 100%;
              background: #F1E4CD;
              border: 1px solid #D4C2A6;
              border-radius: 30px;
              padding: 0px 24px;
              cursor: pointer;
              @media screen and (max-width: 1024px) {
                height: 44px;
              }
              >span {
                font-size: 14px;
                color: #2C2C22;
                @media screen and (max-width: 1024px) {
                  font-size: 12px;
                }
              }
            }
          }
          .dropdown-menu {
            top: 0px;
            padding: 0px;
            background: #FFF4E0;
            border: 1px solid #D4C2A6;
            border-radius: 30px;
            width: 622px;
            right: 85px;
            left: unset;
            @media screen and (max-width: 1024px) {
              width: calc(100% - 48px);
              right: 24px;
            }
            .drop-down-item {
              height: 56px;
              font-size: 14px;
              color: #2C2C22;
              display: flex;
              width: 100%;
              align-items: center;
              padding: 0px 24px;
              cursor: pointer;
              @media screen and (max-width: 1024px) {
                height: 44px;
                font-size: 12px;
              }
          
            }
            >div:not(:last-child) {
              border-bottom: 1px solid #D4C2A6;
            }
          }
        }
      }
    }
  }
  .line-temp {
    margin-top: 16px;
    width: 100%;
    height: 1px;
    background: rgba(44, 44, 34, 0.1);
  }
  .div-point-price {
    display: flex;
    flex-direction: column;
    .price {
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      color: #2C2C22;
      margin-top: 10px;
      margin-bottom: 8px;
      text-align: end;
      @media screen and (max-width: 767px) {
        font-size: 32px;
        margin-top: 12px;
        margin-bottom: 8px;
      }
    }
    .line-point {
      height: 30px;
      background: #FFF4E0;
      border: 0.8px solid #BCAD93;
      border-radius: 20px;
      align-items: center;
      padding: 0px 12px;
      margin-bottom: 24px;
      width: fit-content;
      align-self: flex-end;
      @media screen and (max-width: 767px) {
        height: 24px;
        padding: 0px 6px;
        margin-bottom: 0px;
      }
      >img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      >span {
        font-size: 14px;
        @media screen and (max-width: 767px) {
          font-size: 10px;
        }
      }
    }
  }
  .add-card-block {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      padding: 12px 16px;
      position: fixed;
      border: 0px;
      display: flex;
      z-index: 3;
      background: #F5ECDC;
      width: 100%;
      left: 0px;
      bottom: 0px;
      box-shadow: 0px -1px 2px rgba(44, 44, 34, 0.1);
    }
    .div-quantity {
      height: 56px;
      min-width: 95px;
      border: 1px solid #2C2C22;
      border-radius: 30px;
      margin-right: 15px;
      padding: 0px 25px;
      .div-number {
        display: flex;
        height: 100%;
        align-items: center;
        .quanity {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 15px;
          font-weight: 500;
        }
        .disabled {
          cursor: not-allowed;
        }
        >button {
          >img {
            width: 11px;
            height: 100%;
          }
        }
      }
    }
    >button {
      flex: 1;
    }
  }
}