$height-header: 108px;
$distance-large: 64px;
$distance-medium: 48px;
$distance-small: 24px;

.gift-faqs {
  .block-faq-v2 {
    padding: $distance-large 0;
    width: 100%;

    .header-faq {
      font-size: 48px;
      margin-bottom: $distance-large;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      .header-faq {
        margin: 0 auto $distance-large;
      }
    }
    @media screen and (max-width: 991px) {
      padding: $distance-medium 0;
      .header-faq {
        font-size: 36px;
        margin-bottom: $distance-medium;
      }
    }
    @media screen and (max-width: 480px) {
      padding: $distance-small 0;
      .header-faq {
        font-size: 36px;
        margin-bottom: $distance-small;
      }
    }
  }
}
.gift-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 56px;

  display: flex;
  flex-direction: column;
  &.no-padding {
    padding-bottom: 0 !important;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0 16px !important;
  }
}
.gift-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 991px) {
    padding: 0 16px;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
  }
}
.gift-type {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin: 0 0 12px;

  font-size: 48px;
  font-weight: normal;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2c2c2c;

  @media screen and (max-width: 991px) {
    font-size: 36px;
  }
}
.padding-y {
  padding: $distance-large 0;

  @media screen and (max-width: 991px) {
    padding: $distance-medium 0;
  }
  @media screen and (max-width: 480px) {
    padding: $distance-small 0;
  }
}
.margin-y-b {
  margin-bottom: $distance-large;
  @media screen and (max-width: 991px) {
    margin-bottom: $distance-medium;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: $distance-small;
  }
}
.padding-3 {
  padding: $distance-small;
}

.shop-gift-bundles {
  display: flex;
  flex-direction: column;

  .main-title {
    text-align: center;
  }
  .gift-bundles {
    display: grid;
    justify-content: space-between;

    &.total-in-row-3 {
      grid-template-columns: repeat(3, 1fr);
      gap: $distance-medium $distance-small;
    }
    &.total-in-row-4 {
      grid-template-columns: repeat(4, 1fr);
      gap: $distance-medium $distance-small;
    }

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr) !important;
      row-gap: $distance-medium;
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr) !important;
      row-gap: $distance-small;
    }

    .bundle-item {
      display: flex;
      flex-direction: column;

      .bundle-image {
        height: 280px;
        flex-shrink: 0;
        border-radius: 15px;
        overflow: hidden;

        margin-bottom: 16px;
        cursor: pointer;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all ease 600ms;
        }
      }
      .bundle-detail {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .bundle-actual-name {
          display: flex;
          align-items: center;
          > img {
            margin-right: 6px;
          }
          font-weight: 600;
          font-size: 10px;
          line-height: 150%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #414138;

          margin-bottom: 12px;
        }
        .bundle-name, .bundle-price {
          font-size: 20px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #2C2C22;

          margin-bottom: 8px;
        }
        .bundle-description {
          font-size: 16px;
          line-height: 150%;
          color: #56564E;
          margin-bottom: 20px;
        }
        .bundle-description2 {
          font-weight: 600;
          font-size: 10px;
          line-height: 120%;

          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2C2C22;
          margin-bottom: 12px;
        }
        .bundle-price {
          margin-top: auto;
          font-weight: 600;
          line-height: 150%;
          margin-bottom: 24px;
        }
      }
      .bundle-btn {
        height: 45px;
        flex-shrink: 0;
        border-radius: 30px;
        border: 1px solid #2C2C22;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #2C2C22;
        color: #EBD8B8;
        font-weight: 500;
        font-family: unset;
        line-height: 150%;

        > img {
          margin-left: 8px;
        }
        &:hover {
          background-color: #414138;
        }
      }

      &:hover .bundle-image > img {
        transform: scale(1.25);
      }
    }
  }
}