.screen-info {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
  .index-step {
    position: absolute;
    top: 0px;
  }
  .text {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 36px;
    width: 636px;
    text-align: center;
    @media screen and (max-width: 991px) {
      font-size: 48px;
      width: calc(100% - (24px * 2));
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
      width: calc(100% - (24px * 2));
      margin-bottom: 24px;
    }
  }
  >button {
    width: 72px;
    height: 96px;
    @media screen and (max-width: 991px) {
      width: 40px;
      height: 56px;
    }
  }
}