.author-section {
  padding: 1rem;
  border: 1px solid #0e0e0e;
  margin-bottom: 1.5rem;
  background: white;
  margin-top: 4rem;
  @media screen and (max-width: 1024px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .author-info {
    display: flex;
    .image-article {
      width: fit-content;
      position: relative;
      .image {
        float: left;
        position: relative;
        width: 80px;
        padding-bottom: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        margin-right: 1.5rem;
        @media screen and (max-width: 1024px) {
          //   padding-bottom: 80%;
        }
      }
      .tag {
        width: fit-content;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: #b79a53;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        letter-spacing: 0.1em;
        border-radius: 4px;
      }
    }
    .info {
      h4 {
        font-size: 20px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .social-info {
    display: flex;
    justify-content: center;
    padding: 1rem;
    a {
      display: inherit;
      flex-grow: 1;
      &:first-of-type {
        img {
          width: 64%;
        }
      }
      :hover {
        opacity: 0.8;
        transition: 0.2s;
      }
      img {
        margin: 0 auto;
        width: 38%;
      }
    }
  }
  .btn-more {
    display: table;
    padding: 8px 24px;
    border: 1px solid #0e0e0e;
    border-radius: 4px;
    font-weight: 500;
    margin: 1rem auto 0;
    color: #0e0e0e;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:hover {
      text-decoration: none;
    }
  }
}
