@import '../../styles/colors';

.ship-block {
  width: 100%;
  height: 72px;
  background: $Primary-30;
  padding-left: calc((100% - 1040px) / 2);
  padding-right: calc((100% - 1040px) / 2);
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1024px) {
    height: 92px;
    padding-left: unset;
    padding-right: unset;
    justify-content: center;
  }
  .slick-slider {
    width: 100%;
    .slick-list {
      .slick-track {
        .slick-slide {
          >div {
            >div {
              display: flex !important;
              height: 35px;
            }
          }
        }
      }
    }
    .slick-dots {
      width: max-content;
      bottom: -8px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      .slick-active {
        >button{
          border-radius: 50%;
          padding: 0px;
          &::before {
            opacity: 1;
            color: $Secondary-60;
          }
       }
      }
      >li {
        margin: 0px 4px;
        width: 8px;
        height: 8px;
        >button {
          &::before {
            opacity: 1;
            color: $Primary-70;
            font-size: 8px;
            top: 1px;
            width: 8px;
            height: 8px;
          }
        }
      } 
    }
  }
  .item-block-ship {
    width: fit-content;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      width: 100vw;
      margin-top: -8px;
    }
    >img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      margin-right: 12px;
      @media screen and (max-width: 1024px) {
        margin-right: 18px;
      }
    }
    .text-ship {
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: $Secondary-60;
      text-transform: uppercase;
    }
  }
}