.item-comment {
  display: flex;;
  flex-direction: column;
  width: 408px;
  height: 300px;
  padding: 24px;
  justify-content: space-between;
  background: #F1E4CD;
  border-radius: 20px;
  margin-right: 24px;
  .content-text {
    >img {
      width: 48px;
      margin-bottom: 24px;
    }
    .des {
      font-weight: 400;
      font-size: 16px;
      color: #56564E;
    }
  }
  .name {
    font-weight: 600;
    font-size: 14px;
    color: #2C2C22;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}