.related-stories-section {
  background: #f4f4f4;
  padding: 3rem 0;
  margin-top: 3rem;
  .related-stories-cap {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .article {
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 1.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      margin-bottom: 0rem;
    }
    .image-article {
      width: 100%;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      .image {
        float: left;
        position: relative;
        width: 100%;
        padding-bottom: 60%; /* = width for a 1:1 aspect ratio */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (max-width: 1024px) {
          padding-bottom: 80%;
        }
      }
      .tag {
        width: fit-content;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: #b79a53;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        letter-spacing: 0.1em;
        border-radius: 4px;
      }
    }
    .info-article {
      flex-grow: 1;
      background: #ffffff;
      padding: 1.4rem;
      border-radius: 0 0px 6px 6px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        flex-grow: unset;
      }
      .info-title {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        .cat {
          font-weight: 500;
          color: #0d0d0d;
          text-transform: uppercase;
          a {
            color: #0d0d0d;
            &:hover {
              opacity: 0.7;
              text-decoration: none;
            }
          }
        }
        .date {
          color: #8d8d8d;
          white-space: nowrap;
          margin-left: 6px;
          text-transform: uppercase;
        }
      }
      .title {
        margin-top: 12px;
        font-size: 16px;
        color: #0d0d0d;
        letter-spacing: 0.03em;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      p {
        font-size: 14px;
        color: #0d0d0d;
        margin-bottom: 0;
      }
    }
  }
}
