.header-result {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-header {
    width: 1200px;
    height: 86px;
    display: flex;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      height: 101px;
    }
    >button {
      position: absolute;
      top: 0px;
      left: 0px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      @media screen and (max-width:767px) {
        font-size: 12px;
      }
      >svg {
        font-size: 20px;
        margin-right: 4px;
      }
      
    }
    >img {
      height: 50px;
      margin-top: 12px;
      @media screen and (max-width:767px) {
        height: 31px;
        margin-top: 48px;
      }
    }
  }
}