.shop-insta-blog {
  position: relative;
  border: 1px solid #0d0d0d;
  margin-bottom: 1.5rem;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-auto-rows: 1fr;
  }
  .btn-shop {
    display: inline-block;
    padding: 14px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    background: white;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 0.2em;
    text-align: center;
    cursor: pointer;
    color: #0d0d0d;
    &:hover{
        text-decoration: none;
    }
  }
}
