.quiz-4 {
  background: #F5ECDC;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  max-height: 100vh;
  overflow-y: scroll;
  .height-quiz {
    position: relative;
    height: 100vh;
    padding-top: 72px;
    scroll-snap-align: start;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: 767px){
      height: 100vh;
      padding-top: 88px;
    }
    .index-step {
      position: absolute;
      top: 0px;
    }
  }
}