@import '../../styles/colors';

.auth-page {
  display: box;
  background: $Primary-10 !important;
 .div-header-login {
  width: 100vw;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $Primary-10;
  z-index: 1;
  >img {
    width: 140px;
    cursor: pointer;
  }
 }
 .content-page {
    // margin-top: calc(227px);
    // @media screen and (max-width: 1440px) {
    //   margin-top: calc(170px);
    // }
    // @media (max-width: 1024px) {
    //   margin-top: 86px;
    // }

   display: flex;
   max-width: 1440px;
   padding: 64px 120px 100px 120px;
   background-repeat: no-repeat;
   background-size: cover;
   @media screen and (max-width: 1024px) {
    padding: 56px 20px 100px 20px;
    flex-direction: column;
   }
   .content-left {
    width: 48.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    >img {
      width: 100%;
    }
   }
   .content-right {
     width: 52.8%;
     @media screen and (max-width: 1024px) {
        width: 100%;
        margin-top: 50px;
     }
     .card-login {
       width: 100%;
       @media screen and (max-width: 1024px) {
          padding: 24px;
        }
       .body-text-s-regular {
        margin-top: 8px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        @media screen and (max-width: 1024px) {
          width: 100%;
       }
      }
      .line-2 {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
          width: 100%;
          flex-direction: column;
          justify-content: flex-start;
        }
        .input-ct {
          width: calc(100%/2 - 6px);
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
        .input-ct:nth-child(1) {
          @media screen and (max-width: 1024px) {
            margin-bottom: 12px;
          }
        }
      }
      .line-2,.line-1 {
        margin-bottom: 15px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 12px;
          width: 100%;
        }
        .input-ct {
          &.s-light {
            .content {
              .MuiSvgIcon-root {
                color: $Primary-100;
              }
              >input {
                border: 1px solid $Secondary-60;
                background: transparent;
              }
              input:-webkit-autofill {
                box-shadow: 0 0 0px 1000px#EBD8B8 inset;
                -webkit-box-shadow: 0 0 0px 1000px #EBD8B8 inset;
              }
            }
          }
          &.error {
            .content > input {
              border: 1px solid $Error-60;
            }
          }
        }
      }

      .checkbox-ct {
        margin-top: 20px;
        margin-bottom: 50px;
      }

      .div-ready-login {
        margin: 30px auto;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        justify-content: center;
        .text {
          color: $Primary-100;
          text-transform: uppercase;
        }
        >button {
          color: $Secondary-60;
          text-transform: uppercase;
          margin-left: 5px;
        }
      }

      .bt-signin {
        margin-top: 35px;
      }

      .message-show {
        padding: 8px 16px;
        background: $Success-10;
        border-radius: 10px;
        line-height: 150%;
        margin-top: 30px;
        >span {
          font-size: 14px;
          color: $Success-70;;
        }
        &.error {
          background: $Error-20;
          >span {
            color: $Error-60;
          }
        }
      }

      .text-or {
        width: 100%;
        margin-bottom: 25px;
        align-items: center;
        .line-black {
          height: 1px;
          flex: 1;
          background: $Primary-100;
        }
        .text {
          padding: 0px 24px;
          font-size: 14px;
          color: $Primary-100;
        }
      }

      .div-bt-login {
        justify-content: center;
        align-items: center;
        .bt-social {
          height: 50px;
          background: $Primary-10;
          border-radius: 8px;
          margin-left: 8px;
          margin-right: 8px;
          margin-bottom: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &.google {
            padding: 0px 22px;
            >img {
              width: 23px;
            }
          }
          &.facebook {
            padding: 0px 25px;
            >img {
              width: 16px;
            }
          }
        }
      }
     }
   }
 }
}