
.block-discovery {
  display: flex;
  flex-direction: column;
  width: 1232px;
  margin: auto;
  padding: 64px 16px;
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (max-width: 991px) {
    padding: 48px 16px;
    width: 100%;
  }
  &.sephora-discovery {
    .div-content {
      .div-left-bottle {
        .div-image-combo {
          cursor: unset;
        }
        .price-product {
          margin-bottom: 40px;
        }
      }
    }
  }
  .header-title {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    @media screen and (max-width: 991px) {
      font-size: 36px;
      margin-bottom: 56px;
    }
  }
  .toggle-button {
    display: flex;
    width: fit-content;
    background: #F1E4CD;
    border-radius: 40px;
    height: 88px;
    margin-bottom: 56px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 991px) {
      height: 70px;
      padding: 8px;
      margin-bottom: 48px;
      width: 100%;
    }
    .button-t {
      width: 304px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      font-weight: 600;
      font-size: 16px;
      text-transform: uppercase;
      color: #2C2C22;
      border: none;
      border-radius: 40px;
      @media screen and (max-width: 991px) {
        width: 50%;
        height: 54px;
        font-size: 14px;
      }
      &.active {
        background: #2C2C22;
        color: #EBD8B8;
      }
      >img {
        width: 48px;
        height: 48px;
        margin-right: 12px;
        @media screen and (max-width: 991px) {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .div-content {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
    .div-left-bottle {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;
      background: #F1E4CD;
      border-radius: 25px;
      width: 37.5%;
      position: sticky;
      top: 60px;
      height: calc(100vh - 36px - 24px - 24px);
      max-height: 781px;
      @media screen and (max-width: 991px) {
        width: 100%;
        height: auto;
        padding: 24px 16px;
        margin-bottom: 24px;
        position: relative;
        top: unset;
        max-height: unset;
      }
      .div-image-combo {
        height: calc(100vh - 36px - 24px - 24px - 310px);
        max-height: 471px;
        position: relative;
        width: 100%;
        cursor: pointer;
        @media screen and (max-width: 991px) {
          width: 100%;
          height: 322px;
          max-height: unset;
          max-width: unset;
        }
        .image-bg {
          width: 100%;
          height: 100%;
          display: flex;
          >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
          }
          >img:nth-child(1) {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
          }
          >img:nth-child(2) {
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
          }
          .text-scent-1, .text-scent-2 {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30%;
          }
          .text-scent-1 {
            left: 10%;
          }
          .text-scent-2 {
            right: 10%;
          }
        }
        .single-3ml {
          position: absolute;
          bottom: -10%;
          height: 30%;
          @media screen and (max-width: 991px) {
            bottom: -48px;
          }
          >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          &.img-left {
            left: 25%;
            @media screen and (max-width: 991px) {
              left: 50%;
              transform: translateX(-115px);
            }
          }
          &.img-right {
            right: 25%;
            @media screen and (max-width: 991px) {
              left: 50%;
              transform: translateX(75px);
              right: unset;
            }
          }
        }
        .div-img-bottle {
          position: absolute;
          bottom: -10%;
          left: 50%;
          transform: translateX(-50%);
          height: 71%;
          @media screen and (max-width: 991px) {
            height: 228px;
            width: unset;
            bottom: -48px;
          }
          .div-image-bottle-custom {
            height: 100%;
            .img-bottle {
              height: 100%;
              @media screen and (max-width: 991px) {
                height: 228px;
              }
            }
            .img-name {
              height: 65%;
              top: 26%;
              width: 86%;
              border-radius: 15px;
               @media screen and (max-width: 991px) {
                 height: 150px;
                 top: 60px;
                 width: 47px;
                 border-radius: 15px;
                }
            }
            .image-logo {
              top: 30%;
              width: 67%;
               @media screen and (max-width: 991px) {
                 top: 67px;
                 width: 33.5px;
               }
            }
            .text-des-custome {
                bottom: 14%;
               font-size: 4px;
               width: 100%;
               @media screen and (max-width: 991px) {
                 bottom: 31px;
                 font-size: 6px;
               }
            }
            .text-size-custome {
                bottom: 11%;
               font-size: 4px;
               @media screen and (max-width: 991px) {
                 bottom: 24px;
                 font-size: 6px;
               }
            }
            .custome-name {
            bottom: 17%;
            top: unset;
             font-size: 6px;
             width: fit-content;
             @media screen and (max-width: 991px) {
               top: 175px;
               font-size: 7px;
             }
            }
          }
          .div-ingredients {
            >span {
              font-size: 4px;
            }
          }
          .onMid {
            top: 55%;
            @media screen and (max-width: 991px) {
              top: 123px;
            }
          }
          .image-dual-crayon {
            // width: 48px;
            width: unset;
            height: 100%;
          }
        }
      }
      .name-product {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 12px;
        margin-top: 48px;
        width: 100%;
        @media screen and (max-width: 991px) {
          font-size: 16px;
          margin-top: 90px;
        }
      }
      .des-product {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2C2C22;
        margin-bottom: 12px;
        width: 100%;
        text-align: start;
      }
      .price-product {
        font-weight: 400;
        font-size: 24px;
        color: #2C2C22;
        margin-bottom: 16px;
        width: 100%;
        @media screen and (max-width: 991px) {
          font-size: 20px;
        }
      }
      .button-change {
        width: 100%;
        height: 56px;
        padding: 12px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        border: none;
        background: #F5ECDC;
        border-radius: 8px;
        @media screen and (max-width: 991px) {
          justify-content: space-between;
          align-items: center;
          height: auto;
        }
        >img {
          height: 42px;
          margin-right: 14px;
          @media screen and (max-width: 991px) {
            height: 45px;
          }
        }
        .div-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          @media screen and (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
          }
          .title-change {
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #2C2C22;
            margin-right: 15px;
            text-align: start;
            flex: 1;
            @media screen and (max-width: 991px) {
              margin-bottom: 6px;
              margin-right: 8px;
              text-align: start;
            }
          }
          .price {
            font-weight: 400;
            font-size: 14px;
            color: #2C2C22;
            margin-right: 4px;
            @media screen and (max-width: 991px) {
              font-size: 13px;
              margin-right: unset;
            }
          }
          >svg {
            width: 24px;
            height: 24px;
          }
        }
      }
      >button {
        width: 100%;
        height: 59px;
      }
    }
    .div-right-content {
      width: 60.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #56564E;
      @media screen and (max-width: 991px) {
        width: 100%;
        padding: 0px;
      }
      .tab-scent-character {
        width: 100%;
        margin-top: 0px;
      }
      .scent-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 8px;
        width: 100%;
        .bt-scent {
          width: 100%;
          height: 60px;
          border-radius: 10px;
          position: relative;
          display: flex;
          padding: 0px;
          overflow: hidden;
          border: none;
          >img {
            width: 100%;
            height: 100%;
          }
          &.combo-scent {
            >img {
              width: 50%;
              height: 100%;
              object-fit: cover;
            }
          }
          &.active {
            border: 2px solid #2C2C22;
            .bg-text {
              background: linear-gradient(0deg, rgba(245, 236, 220, 0.5), rgba(245, 236, 220, 0.5));
            }
            .text-scent {
              color: #2C2C22;
            }
          }
          .bg-text {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(44, 44, 34, 0.8) 0%, rgba(44, 44, 34, 0) 100%);
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
          }
          .text-scent {
            font-weight: 600;
            font-size: 12px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            position: absolute;
            width: 100%;
            padding: 0px 10px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #EBD8B8;
          }
        }
      }
      .div-chart {
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
        .div-chart-scent {
          display: flex;
          width: 100%;
          margin-bottom: 24px;
          .div-title {
            .div-icon {
              width: 28px;
              height: 28px;
              border: 1px solid #D4C2A6;
              border-radius: 5px;
              background: #EBD8B8;
              margin-right: 8px;
              font-weight: 600;
              font-size: 12px;
              color: #56564E;
              text-transform: uppercase;
              display: flex;
              >svg {
                width: 16px;
                height: 16px;
                margin: auto;
              }
            }
          }
          .chart-column {
            display: flex;
            justify-content: space-evenly;
            height: 90px;
            margin-top: 10px;
            width: 220px;
            .column-chart {
              width: 50px;
              @media screen and (max-width: 991px) {
                width: 40px;
              }
              .div-chart {
                width: 100%;
                margin-bottom: 0px;
                .column-value {
                  margin-bottom: 0px;
                  border-bottom-right-radius: 0px;
                  border-bottom-left-radius: 0px;
                }
              }
            }
          }
          .chart-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100px;
            width: fit-content;
          }
          .chart-lasting, .chart-strength {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .chart-lasting {
            border-right: 1px dashed #2C2C22;
          }
        }
        .line-top {
          width: 100%;
          height: 1px;
          border-top: 1px dashed #2C2C22;
          margin-bottom: 32px;
        }
        .chart-scent {
          width: 379px;
          margin: auto;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
          .div-title {
            margin-bottom: 12px;
            .div-icon {
              width: 28px;
              height: 28px;
              border: 1px solid #D4C2A6;
              border-radius: 5px;
              background: #EBD8B8;
              margin-right: 8px;
              font-weight: 600;
              font-size: 12px;
              color: #56564E;
              text-transform: uppercase;
              display: flex;
              >svg {
                width: 16px;
                height: 16px;
                margin: auto;
              }
            }
          }
          .line-chart {
            margin-top: 8px;
            .text-title {
              text-align: left;
            }
          }
        }
      }
      .block-video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8px;
        width: 100%;
        margin-top: 10px;
        &.full-video {
          grid-template-columns: 1fr;
        }
        .block-video-item {
          width: 100%;
          background: #F1E4CD;
          border-radius: 10px;
          overflow: hidden;
          padding: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          // @media screen and (max-width: 991px) {
          //   width: calc((100% - 24px)/2);
          // }
          .video-content {
            overflow: hidden;
            border-radius: 10px;
            @media screen and (max-width: 991px) {
              height: 200px;
            }
            >div {
              .video-react-fluid {
                height: 100%;
              }
            }
          }
          .text-video {
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #2C2C22;
            margin-bottom: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}

.modal-sephora {
  .modal-content {
    .modal-body {
      width: 600px;
      max-height: calc(100vh - 40px);
      // overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background: #2C2C22;
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      padding: 32px 40px;
      margin: auto;
      @media screen and (max-width: 648px) {
        width: calc(100vw - 24px);
        max-height: calc(100vh - 100px);
        padding: 32px 24px;
      }
      @media screen and (max-width: 400px) {
        max-height: calc(100vh - 40px);
      }
      .div-header {
        width: 100%;
        position: relative;
        margin-bottom: 38px;
        >div {
          width: 100%;
          text-align: center;
          font-weight: 400;
          font-size: 36px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #EBD8B8;
          @media screen and (max-width: 767px) {
            font-size: 22px;
          }
        }
        .bt-close {
          width: 44px;
          height: 44px;
          border: none;
          border-radius: 50%;
          background: #EBD8B8;
          display: flex;
          align-items: center;
          justify-content:center;
          padding: 0px;
          position: absolute;
          top: 0px;
          right: 0px;
          @media screen and (max-width: 767px) {
            width: 24px;
            height: 24px;
          }
          >svg {
            font-size: 20px;
            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }
        } 
      }
      .div-image {
        height: auto;
        margin-bottom: 36px;
        flex: 1;
        >div {
          height: 100px;
          width: 100%;
          min-height: 100%;
          >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        
      }
      .des-1 {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #BCAD93;
        margin-bottom: 32px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          margin-bottom: 24px;
        }
      }
      .des-2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #EBD8B8;
        margin-bottom: 16px;
        @media screen and (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 12px;
        }
      }
      .des-3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #BCAD93;
        margin-bottom: 34px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
      .custom-button {
        width: 385px;
        height: 48px;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }
  }
}