.item-menu-v3 {
  .header-1 {
    padding: 16px 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #222222;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    &.opened {
      > svg {
        transform: rotate(180deg);
      }
    }
    > svg {
      margin-left: 4px;
      font-size: 20px;
      transition: all 0.2s;
      transform: rotate(0deg);
    }
  }
  .content-header {
    padding: 0px;
    &.scroll-able {
      overflow: auto;
      height: 400px;
      @media screen and (max-width: 480px) {
        // height: 250px;
        height: auto;
      }
      .item-menu-mini {
        height: auto;
        overflow: hidden;
        @media screen and (max-width: 480px) {
          height: auto;
          display: flex;
          flex-direction: column;
        }
        // .div-link-text {
        //   width: calc(50% - 12px);
        //   @media screen and (max-width: 480px) {
        //     width: 100%;
        //   }
        // }
      }
      .link-image {
        width: calc(50% - 12px);
        height: 340px;
        padding: 12px;
        background: #f1e4cd;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        @media screen and (max-width: 480px) {
          width: 100%;
          height: 104px;
          flex-direction: row;
          margin: 14px 0px;
        }
        .image-ct {
          height: 268px;
          width: 100%;
          @media screen and (max-width: 480px) {
            width: 80px;
            height: 80px;
            margin-right: 12px;
          }
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .bt-next {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #2c2c22;
          @media screen and (max-width: 480px) {
            justify-content: flex-start;
          }
          > svg {
            font-size: 20px;
            margin-left: 4px;
          }
        }
      }
    }
    .link-menu-bold {
      display: flex;
      align-items: center;

      text-transform: uppercase;
      font-weight: 600;
      color: #2c2c22;
      margin: 24px 0;
      padding-left: 10px;
      &:hover {
        text-decoration: none;
      }
      > img {
        margin-left: 8px;
      }
    }
    .item-menu-mini {
      margin-bottom: 24px;
      padding: 0px 10px;
      max-height: 400px;
      overflow-y: auto;
      &:last-child {
        margin-bottom: 0px;
      }
      .menu-wrapper {
        width: 100%;
      }
      .div-link-text {
        display: flex;
        flex-direction: column;
        width: 100%;
        &.display-4 {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 16px;
          grid-row-gap: 24px;
          grid-template-columns: repeat(2, 1fr);
          @media screen and (max-width: 767px) {
            grid-template-columns: auto;
            grid-row-gap: 16px;
            grid-template-columns: 1fr;
          }
          .link-image:not(:last-child) {
            margin-bottom: 0px;
          }
          .link-image {
            height: 164px;
            align-items: flex-start;
            @media screen and (max-width: 767px) {
              height: 144px;
              align-items: center;
            }
            @media screen and (max-width: 480px) {
              height: 104px;
              align-items: center;
            }
            > img {
              width: 140px;
              height: 140px;
              margin-right: 16px;
              border-radius: 10px;
              @media screen and (max-width: 767px) {
                width: 120px;
                height: 120px;
              }
              @media screen and (max-width: 480px) {
                width: 80px;
                height: 80px;
              }
            }
            .text-block {
              margin-top: 12px;
              @media screen and (max-width: 767px) {
                margin-top: 0px;
              }
              .text {
                @media screen and (max-width: 480px) {
                  display: none;
                }
              }
            }
          }
        }
        &.display-5 {
          display: grid;
          grid-template-columns: auto auto;
          gap: 10px;
          grid-column-gap: 16px;
          grid-row-gap: 24px;
          grid-template-columns: repeat(2, 1fr);
          @media screen and (max-width: 767px) {
            grid-template-columns: auto;
            grid-template-columns: 1fr;
            grid-row-gap: 18px;
          }
          .link-image:not(:last-child) {
            margin-bottom: 0px;
          }
          .link-image:last-child {
            grid-column: 1 / 3;
            @media screen and (max-width: 767px) {
              grid-column: unset;
            }
          }
          .link-image:not(:last-child) {
            height: 150px;
            padding: 0px;
            background: transparent;
            align-items: flex-start;
            @media screen and (max-width: 767px) {
              height: 120px;
            }
            @media screen and (max-width: 480px) {
              height: 80px;
            }
            > img {
              width: 150px;
              height: 150px;
              @media screen and (max-width: 767px) {
                height: 120px;
                width: 120px;
              }
              @media screen and (max-width: 480px) {
                height: 80px;
                width: 80px;
              }
            }
            .text-block {
              margin-top: 8px;
              @media screen and (max-width: 767px) {
                margin-top: 0px;
                justify-content: space-between;
                height: 100%;
              }
              @media screen and (max-width: 480px) {
                margin-top: 0px;
                justify-content: center;
              }
              .text {
                @media screen and (max-width: 480px) {
                  display: none;
                }
              }
            }
          }
          .link-image:last-child {
            height: 104px;
            > img {
              height: 80px;
              width: 80px;
              margin-right: 24px;
            }
          }
        }
        .c-t-header {
          margin-bottom: 4px;
          font-size: 14px;
          line-height: 150%;
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2c2c22;
        }
        .line-menu {
          margin-top: 12px;
          margin-bottom: 16px;
          width: 100%;
          height: 1px;
          background-color: #2c2c22;
        }
        .c-t-header-2 {
          margin-bottom: 4px;
          font-size: 12px;
          line-height: 150%;
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2c2c22;
        }
        .link-menu {
          margin-bottom: 12px;
          margin-right: 12px;
          margin-left: 12px;
          margin-top: 12px;
          color: #56564e;
          font-weight: 500;
          text-decoration: none;
          font-size: 16px;
          &:hover {
            text-decoration: none;
          }
          > img {
            width: 24px;
            margin-left: 8px;
          }
          &-black {
            color: #2c2c22;
            text-transform: capitalize;
            margin-left: 0;
          }
        }
        .des-header {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2c2c22;
          margin-bottom: 4px;
        }
        .des-header-2 {
          font-size: 14px;
          line-height: 150%;
          color: #56564e;
          margin-bottom: 36px;
        }
        .link-image {
          text-decoration: none;
          padding: 12px;
          background: #f1e4cd;
          border-radius: 20px;
          height: 144px;
          display: flex;
          align-items: center;
          @media screen and (max-width: 480px) {
            height: 104px;
          }
          &:hover {
            text-decoration: none;
          }
          &:not(:last-child) {
            margin-bottom: 16px;
          }
          > img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 16px;
            @media screen and (max-width: 480px) {
              width: 80px;
              height: 80px;
            }
          }
          .text-block {
            flex: 1;
            display: flex;
            flex-direction: column;
            color: #2c2c22;
            .header-text {
              font-weight: 600;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              margin-bottom: 4px;
              font-size: 16px;
              @media screen and (max-width: 480px) {
                font-size: 12px;
              }
            }
            .text {
              margin-bottom: 12px;
              font-size: 14px;
              color: #56564e;
              @media screen and (max-width: 480px) {
                font-size: 12px;
                margin-bottom: 0px;
              }
              .rich-text {
                > p {
                  margin-bottom: 0px;
                }
              }
            }
          }
          .bt-next {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #2c2c22;
            > svg {
              width: 20px;
              height: 20px;
              margin-left: 4px;
            }
          }
        }
        .div-image {
          position: relative;
          height: 200px;
          border-radius: 20px;
          overflow: hidden;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:before {
            content: "";
            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
          }
          .div-content {
            position: absolute;
            top: 0;

            width: 100%;
            height: 100%;
            padding: 24px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #ebd8b8;
            .div-top {
              &-title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 8px;
                text-transform: uppercase;
              }
            }
            .div-bottom .guide-btn {
              height: 45px;

              background-color: #f1e4cd;
              border-radius: 30px;
              color: #2c2c22;
              font-weight: 600;
              font-size: 14px;
              font-family: unset;
              line-height: 150%;

              padding: 0 20px;
              border: 0;
            }
          }
        }
      }
      .div-link-grid {
        padding: 0 14px;
        margin-bottom: 32px;

        display: grid;
        grid-template-rows: auto;
        gap: 24px 16px;
        &.div-6-item {
          grid-template-columns: repeat(6, 1fr);
          grid-template-areas:
            "item-1 item-1 item-1 item-2 item-2 item-2"
            "item-3 item-3 item-4 item-4 item-5 item-5"
            "item-6 item-6 item-6 item-6 item-6 item-6";

          .link-menu:last-child .image-link {
            height: 200px;
          }
        }
        &.div-4-item {
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
            "item-1 item-2"
            "item-3 item-4"
        }
        &.div-3-item {
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
            "item-1 item-1"
            "item-2 item-3";
        }
      }
      .link-menu {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        .image-link {
          flex-shrink: 0;
          height: 180px;
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .link-title {
          flex-grow: 1;
          color: #2c2c22;
          font-weight: 600;
          > svg {
            margin-left: 8px;
          }
        }
        &.without-image {
          display: flex;
          align-items: center;
          flex-direction: row;


          padding: 12px 0;
          margin: 0px 16px 24px;
          border-bottom: 1px solid #BCAD93;
          .link-title {
            flex-grow: unset;
          }
          .link-image {
            margin-left: 14px;
          }
        }
        &:hover {
          text-decoration: none;
        }
        &.menu-1 {
          grid-area: item-1;
        }
        &.menu-2 {
          grid-area: item-2;
        }
        &.menu-3 {
          grid-area: item-3;
        }
        &.menu-4 {
          grid-area: item-4;
        }
        &.menu-5 {
          grid-area: item-5;
        }
        &.menu-6 {
          grid-area: item-6;
        }
      }
      .item-menu-block {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        .item-menu-banner {
          height: 200px;
          border-radius: 10px;
          overflow: hidden;

          margin-bottom: 24px;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .item-menu-title {
          color: #2c2c22;
          text-transform: uppercase;
          font-weight: 600;
          padding: 12px;
          border-bottom: 1px solid #bcad93;
          margin-bottom: 12px;
        }
        .item-menu-list {
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          padding: 0px 16px;

          .item-menu-child {
            display: flex;
            align-items: center;
            column-gap: 16px;
            &:hover {
              text-decoration: none;
            }
            .image-child {
              flex-shrink: 0;
              width: 80px;
              height: 60px;

              border-radius: 5px;
              overflow: hidden;
              > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .detail-child {
              flex-grow: 1;
              .title-child {
                color: #2c2c22;

                text-transform: uppercase;
                margin-bottom: 4px;
                font-weight: 600;
              }
              .description-child {
                font-size: 12px;
                color: #56564e;
                .rich-text > p {
                  margin-bottom: 0;
                }

                &.text-bigger {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 767px) {
        .div-link-grid {
          display: flex;
          flex-direction: column;
          row-gap: 24px;

          .link-menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 16px;

            .image-link {
              width: 80px;
              height: 60px !important;

              flex-shrink: 0;
              border-radius: 5px;
            }
          }

          &:not(.div-6-item) .link-menu {
            .link-title {
              font-size: 16px;
            }
            .image-link {
              width: 138px;
              height: 100px !important;
            }
          }
        }
      }

      @media screen and (max-width: 480px) {
        max-height: unset;
        flex-direction: column;
        .div-link-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
    .menu-create {
      margin-bottom: 24px;
      &-title {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        margin-bottom: 16px;

        border-bottom: 1px solid #BCAD93;

        &:hover {
          text-decoration: none;
        }
      }
      &-icon {
        margin-right: 6px;
        width: 24px;
        height: 24px;

        flex-shrink: 0;
      }
      &-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;

        text-transform: uppercase;
        color: #2C2C22;
      }
      &-content {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;

        .menu-item {
          &-link {
            display: block;
            &:hover {
              text-decoration: none;
            }
          }
          &-image {
            position: relative;
            height: 180px;

            border-radius: 10px;
            overflow: hidden;

            margin-bottom: 12px;

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all ease 400ms;
            }
          }
          &-icon {
            width: 78px;
            height: 78px;
            position: absolute;
            right: 0;
            bottom: 0;

            background-color: #F5ECDC;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 10px;
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
          }
          &-name {
            display: flex;
            align-items: center;
            .text {
              font-weight: 500;
              font-size: 14px;
              line-height: 150%;
              color: #2C2C22;

              margin-right: 12px;
            }
            > img {
              transition: all ease 400ms;
            }
          }
        }

        @media screen and (max-width: 767px) {
          grid-template-columns: repeat(1, 1fr);
          row-gap: 24px;
          column-gap: 0;

          .menu-item {
            &-image {
              height: 140px;
            }
          }
        }
      }
      &-arrow {
        margin-left: 12px;
      }
    }
  }
}
