@import '../../styles/colors';

.progress-circle-version-2 {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 14px;
    line-height: 150%;
    color: $Secondary-60;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 400;
    margin-top: 8px;
  }
  .div-circle {
    width: 100%;
  }
}

.progress-circle-version-3 {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .div-circle {
    width: 100%;
  }
}