@import '../../../styles/colors';

.product-creation-filter {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  @media screen and (max-width: 1024px) {
    padding: 0px;
  }
  .content-product {
    flex: 1;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .sort-product {
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 64px;
      .result-fillter {
        flex: 1;
        margin-right: 24px;
        white-space: pre-line;
        display: initial;
        .result-item {
          width: fit-content;
          background: $Primary-60;
          border-radius: 5px;
          height: 28px;
          line-height: 28px;
          padding-left: 8px;
          font-size: 12px;
          font-weight: 500;
          color: $Secondary-60;
          margin-right: 10px;
          margin-bottom: 10px;
          display: inline-block;
          >button {
            width: 28px;
            height: 28px;
            .MuiSvgIcon-root {
              font-size: 16px;
            }
          }
        }
      }
      >div {
        align-items: center;
        .other-Tagline {
          margin-right: 8px;
        }
        .bt-alpha {
          margin-left: 24px;
        }
        .bt-popular {
          margin-left: 8px;
        }
        .bt-sort {
          height: 30px;
          border: 1px solid #BCAD93;
          background: #FFF4E0;
          &.active {
            background: #EBD8B8;
          }
        }
      }
    }
  }

  .product-creation-list-filter {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 24px;
    padding-left: 64px;
    justify-content: space-between;
    align-items: flex-end;
    @media screen and (max-width: 1024px) {
      grid-template-columns: auto auto;
      padding: 0px;
      margin-top: 0px;
    }
    .product-base {
      margin-top: 24px;
      @media screen and (max-width: 1024px) {
        margin-top: -24px;
      }
    }
    .product-base:nth-child(1), .product-base:nth-child(2) {
      @media screen and (max-width: 1024px) {
        margin-top: 24px;
      }
    }
  }

  .div-load-more {
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    @media screen and (max-width: 1024px) {
      margin-top: 36px;
    }
    >button {
      width: fit-content;
    }
    >div {
      font-size: 14px;
      line-height: 150%;
      margin-top: 12px;
      color: $Secondary-40;
    }
  }

}

.product-creation {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-column-gap: 24px;
  align-items: flex-end;
  grid-template-columns: auto auto auto auto;
  @media screen and (max-width: 1290px) {
    grid-template-columns: auto auto auto;
    padding: 0px;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: auto auto;
    padding: 0px;
  }
  @media screen and (max-width: 480px) {
    grid-column-gap: 16px;
  }
  .product-base {
    margin-top: 74px;
    @media screen and (max-width: 1024px) {
      margin-top: -24px;
    }
  }
  .product-base:nth-child(1), .product-base:nth-child(2) {
    @media screen and (max-width: 1024px) {
      margin-top: 24px;
    }
  }
}