.notifi-me {
  .modal-content {
    background: #EBD8B8;
    border-radius: 20px;
    .modal-body {
      padding: 30px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1024px) {
        padding: 16px;
      }
      .header-notifi {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .body-text-s-regular {
        margin-top: 12px;
        margin-bottom: 24px;
      }
      .list-input {
        display: flex;
        .input-ct {
          flex: 1;
          margin-right: 8px;
        }
      }
    }
  }
}