@import '../../../styles/colors';

.how-to-mix-v2 {
  >button {
    display: flex;
    width: 299px;
    padding: 12px 20px;
    background: #F1E4CD;
    border-radius: 20px;
    >svg {
      width: 20px;
      height: 20px;
      margin-right: 16px;
    }
    .how-text {
      display: flex;
      flex-direction: column;
      .other-Tagline {
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 4px;
        text-align: left;
      }
      .body-text-s-regular {
        color: #56564E;
        line-height: 150%;
        text-align: left;
      }
    }
  }
}
.modal-how-to-mix {
  .modal-content {
    background: transparent;
    width: 300px;
    margin: auto;
    border: none;
    .modal-body {
      padding: 12px 20px;
      background: #F1E4CD;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      .header-modal {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        .left-text {
          flex: 1;
          display: flex;
          flex-direction: column;
          .other-Tagline {
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #2C2C22;
            margin-bottom: 4px;
          }
          .body-text-s-regular {
            color: #56564E;
            margin-bottom: 16px;
          }
        }
        .bt-close {
          width: 20px;
          height: 20px;
          margin-left: 16px;
        }
      }
      .item-how-mix:not(:last-child) {
        margin-bottom: 12px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 8px;
        }
      }
      .item-how-mix {
        cursor: pointer;
        >img {
          width: 48px;
          height: 48px;
          padding-right: 8px;
          @media screen and (max-width: 1024px) {
            width: 32px;
            height: 32px;
          }
        }
        .div-col {
          >span:nth-child(1) {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: $Secondary-60;
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
          >span:nth-child(2) {
            font-size: 14px;
            line-height: 150%;
            color: $Secondary-40;
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}