.block-email-result {
  .content-email {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 767px) {
      width: 100%;
      flex-direction: column;
      padding: 48px 48px 64px 48px;
      height: 100vh;
    }
    .content-text {
      padding-top: 64px;
      padding-bottom: 64px;
      margin-right: 64px;
      width: 592px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 991px) {
        width: 399px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
        padding-top: unset;
        padding-bottom: unset;
        margin-right: unset;
      }
      .title-email {
        font-family: 'Ferrari';
        font-weight: 400;
        font-size: 36px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 536px;
        margin-bottom: 12px;
        @media screen and (max-width: 991px) {
          width: 399px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          font-size: 24px;
        }
      }
      .des-text {
        font-family: 'Ferrari';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 32px;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
      .div-email {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
        .input-email {
          flex: 1;
          @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 8px;
          }
          .content {
            >input {
              font-family: 'Ferrari';
              background: rgba(48, 48, 48, 0.4);
              border: 1px solid #FFFFFF;
              color: #FFFFFF;
              font-size: 10px;
              height: 49px;
              @media screen and (max-width:991px) {
                height: 46px;
                font-size: 8px;
              }
              &::placeholder {
                color: #8F8F8F;
                font-size: 10px;
                @media screen and (max-width:991px) {
                  font-size: 8px;
                }
              }
            }
          }
        }
        .bt-submit {
          width: 150px;
          height: 53px;
          background: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 30px;
          font-family: 'Ferrari';
          font-size: 14px;
          line-height: 150%;
          color: #2C2C22;
          margin-left: 8px;
          @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 8px;
            height: 50px;
            font-size: 12px;
            margin-left: 0px;
          }
        }
      }
      .row-check-box {
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        .check-box-email {
          .MuiFormControlLabel-root {
            margin-right: 0px;
            .MuiCheckbox-root {
              color: #ffffff;
            }
          }
        }
        .link-text {
          color: #ffffff;
          font-size: 14px;
          line-height: 24px;
          @media screen and (max-width: 991px) {
            font-size: 9px;
          }
          >a {
            color: #ffffff;
          }
        }
      }
    }
  }
}