.about-banner {
  position: relative;
  .parallax-banner {
    height: calc(100vw * 9/16) !important;
    margin-top: 70px;
    margin-bottom: -1px;
    .parallax-inner {
      position: relative !important;
    }
    .background--letsguideyou {
      height: unset!important;
    }
  }
  .__content {
    img {
      width: 6rem;
      height: 6rem;
    }

    p {
      text-align: center;
      font-weight: bold;
      font-size: 1.75rem;
      letter-spacing: 0.1em;
      color: #fff;
    }
  }
  @media (max-width: 767.98px) {
    background-color: #0D0D0D;
  }
}

.about-banner-text {
  padding: 5rem 23rem;
  background-color: #b79b53;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;

  @media (max-width: 1440px) {
    padding: 4.5rem 18rem;
  }

  @media (max-width: 767.98px) {
    font-weight: normal;
    font-size: 1.25rem;
    padding: 3rem 2.875rem;
  }
}
