.b2b-partnership {
  margin-top: 227px;
  @media (max-width: 1440px) {
    margin-top: 170px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
  }
  .b2b-article {
    padding-top: 2rem;
    background-color: #fff;
    padding-bottom: 2rem;
    height: 100%;
    .slick-list {
      padding: 0;
    }
    .__title {
      color: #0d0d0d;

      h3 {
        font-size: 2.5rem;

        @media (max-width: 767.98px) {
          font-size: 2.25rem;
        }
      }

      p {
        text-align: center;
        padding-top: 1rem;
      }
    }
  }
  .read-more-testi {
    text-align: center;
    margin-top: 135px;
    @media screen and (max-width: 1440px) {
      margin-top: 120px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 40px;
    }
    // a {
    //   background-color: white;
    //   border-radius: 5px;
    //   border: 1px solid #0d0d0d;
    //   text-decoration: none;
    //   font-weight: 600;
    //   font-size: 1rem;
    //   line-height: 30px;
    //   text-align: center;
    //   letter-spacing: 0.2em;
    //   text-transform: uppercase;
    //   color: #0d0d0d;
    //   display: inline-block;
    //   padding: 0.8rem 9.5rem;
    //   @media (max-width: 767.98px) {
    //     padding: 0.8rem 2.5rem;
    //   }
    // }
  }
  .article-slider {
    color: #0d0d0d;

    .slick-slider .slick-arrow.slick-prev::before {
      width: 47px;
      height: 47px;
      background: url("../../../../image/icon/arrow-prev.svg");
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
    }

    .slick-slider .slick-arrow.slick-next::before {
      width: 47px;
      height: 47px;
      background: url("../../../../image/icon/arrow-next.svg");
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
    }

    a {
      text-decoration: none;
    }

    .__item {
      margin-left: 0px;
      margin-right: 20rem;
      background-color: #fff;
      width: 51.125rem;
      height: 38rem;

      @media (max-width: 1440px) and (min-width: 1024px) {
        margin-left: 0px;
        width: 37.5rem;
        padding-left: 4rem;
      }

      .cover {
        width: 85%;
        height: 22rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: 1440px) and (min-width: 1024px) {
          width: 37.5rem;
        }
      }
    }
  }
  .content {
    width: 85%;

    @media (max-width: 1440px) and (min-width: 1024px) {
      width: 37.5rem;
    }

    .__item-name {
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: #8d8d8d;
    }

    .__item-content {
      font-size: 18px;
      line-height: 2rem;
      color: #000000;
      @media (max-width: 767.98px) {
        font-size: 16px;
        line-height: 1.5rem;
      }
    }

    .__item-date {
      font-size: 0.875rem;
      color: #666666;
    }

    a {
      background-color: #0d0d0d;
      border-radius: 0.375rem;
      text-decoration: none;

      font-weight: 600;
      font-size: 1rem;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      color: #ffffff;
      padding: 1rem;
    }
  }
  .div-testimonials-items {
    p {
      font-weight: 300;
      margin-bottom: 32px;
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 0px;
        margin-top: 30px;
      }
    }
  }
  .div-testimonials .dots-custome-landing > ul > li {
    width: 160px;
    @media screen and (max-width: 1024px) {

    }
  }
  .div-testimonials {
    margin: auto;
    margin-top: 114px;
    width: calc(100vw - 60px * 2);
    background: #E2E2E2;
    padding: 42px 153px 50px 153px;
    @media scents and (max-width: 1440px) {
      margin-top: calc(114px * 0.75);
      width: calc(100vw - 45px * 2);
      padding: 31.5px 115px 37.5px 115px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 0px;
      width: 100%;
      padding: 30px 20px;
    }
    >h3 {
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      letter-spacing: 0.02em;
      text-align: center;
      color: #0D0D0D;
      margin-bottom: 35px;
      @media screen and (max-width: 1440px) {
        font-size: calc(36px * 0.75);
        line-height: calc(52px * 0.75);
        margin-bottom: calc(50px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 25px;
      }
    }
    .div-text p {
      @media (max-width: 1440px) and (min-width: 1024px) {
        padding: 0 13rem;
        .div-button {
          margin-top: 56px !important;
        }
      }
    }
  }
  .logo-slider {
    margin: 0 auto !important;
    .slick-slider .slick-arrow.slick-prev::before {
      width: 47px;
      height: 47px;
      background: url("../../../../image/icon/arrow-prev.svg");
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
    }

    .slick-slider .slick-arrow {
      top: 180%;
      @media screen and (max-width: 1440px) {
        top: 133%;
      }
    }

    .slick-slider .slick-arrow.slick-next::before {
      width: 47px;
      height: 47px;
      background: url("../../../../image/icon/arrow-next.svg");
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
    }

    .slick-slider {
      .slick-dots {
        margin-bottom: -33px;
        @media screen and (max-width: 1440px) {
          margin-bottom: -25px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: -3px;
          >li {
            margin: 0px;
            >button::before {
              color: #C4C4C4;
            }
          }
          .slick-active {
            >button::before {
              color: #B79B53;
            }
          }
        }
      }
    }
  }
}
