.workshop__detail_V2 {
  background-color: #ffffff;
  width: 100%;
  opacity: 0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

  .workshop__detail__layout {
    .workshop__detail__video {
      overflow: hidden;
    }
  }
  .workshop__detail__images__item {
    img {
      max-height: 434.25px;
      object-fit: cover;
      width: 100%;
    }
  }
  .workshop__detail__benefit_faq {
    margin: 0 -8px !important;
    > div {
      margin: 8px;
    }
  }
  .slick-arrow {
    margin-top: 60px;
  }
  .slick-dots li button:before {
    font-size: 10px;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #b79b53;
  }
  .workshop__detail__information {
    padding-left: 0rem;
    padding-right: 2rem;
    padding-top: 2.25rem;

    .information__header {
      padding-bottom: 1rem;

      .information__header__title {
        font-style: normal;
        font-weight: normal;
        font-size: 2.2rem;
      }

      .information__header__price {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        padding-bottom: 0.5rem;
        white-space: nowrap;
        p {
          margin-bottom: 0;
          white-space: pre-wrap;
        }
      }
    }

    .information__body {
      .information__body__price {
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }

      .information__body__content {
        padding-top: 1.5rem;
        font-style: normal;
        font-size: 1.125rem;
      }

      .information__body__booking {
        padding-top: 1.5rem;

        p {
          margin-bottom: 0rem;
          padding-bottom: 2.25rem;
          font-weight: bold;
          font-size: 1.125rem;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
        .booking__btn {
          padding: 0.5rem 1rem;
          border: 0.1rem solid #0d0d0d;
          box-sizing: border-box;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #0d0d0d;
          border-radius: 6px;
          width: 96%;
          text-align: center;
          height: 56px;
          &:hover {
            color: #ffffff;
            background-color: #0d0d0d;
          }
        }

        a {
          text-decoration: none;
          flex-grow: 1;
        }
      }
    }
  }
  .wrapper-select {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: 1px solid #0d0d0d;
    border-radius: 4px;
    margin-right: 16px;
    select {
      border: none;
      max-height: 46.19px;
      padding-left: 10px;
      font-size: 18px;
      width: 60px;
      &:focus {
        outline: none;
        border: none;
        box-shadow: unset;
      }
    }
  }
  .workshop__detail__benefit {
    padding-top: 1.5rem;
    padding-bottom: 0.375rem;
    max-width: 80%;
    margin: 48px auto 24px;
    .workshop__detail__benefit__title {
      padding-bottom: 6px;
      margin-bottom: 1.5rem;
      font-weight: 400;
      font-size: 1.125rem;
      display: -webkit-box;
      border-bottom: 1px solid #0d0d0d;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .workshop__detail__benefit__item {
      width: 12.5rem;
      padding: 16px;
      font-size: 0.875rem;
      background: #ffffff;
      border: 1px solid #0d0d0d;
      box-sizing: border-box;
      border-radius: 6px;
      flex-grow: 1;
      .workshop__detail__benefit__item__icon {
        text-align: center;
        img {
          height: 40px;
          width: auto;
          object-fit: contain;
        }
      }

      .workshop__detail__benefit__item__title {
        font-weight: 500;
        padding-top: 0.7rem;
      }

      .workshop__detail__benefit__item__content {
        padding-top: 0.14px;
      }
    }
  }
  .div-faq {
    max-width: 80%;
    margin: 0px auto 48px;
  }
  .div-recommend > button {
    padding: 20px !important;
    > span {
      color: #0d0d0d !important;
      font-weight: 500;
    }
  }
  .slick-slider .slick-arrow.slick-prev::before,
  .slick-slider .slick-arrow.slick-next::before {
    background: none;
  }
  .slick-slider .slick-arrow.slick-prev {
    margin: 53px 0 53px 16px !important;
  }
  .slick-slider .slick-arrow.slick-next {
    margin: 53px 16px 53px 0 !important;
  }
  .slick-slider .slick-arrow {
    width: 46px;
    height: 46px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
    background: #0d0d0da8;
  }
  .video-react .video-react-big-play-button.video-react-big-play-button-center {
    margin-top: 0px;
    margin-left: 0px;
    transform: translate(-50%, -50%);
    background: black;
    border: none;
  }
  .video-react .video-react-big-play-button {
    font-size: 3.5em;
    line-height: 1.7em;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .div-content-faq {
    & > div:first-of-type {
      // background: #0d0d0d !important;
    }
    .div-recommend {
      // border-left: 1px solid #0d0d0d !important;
      // border-right: 1px solid #0d0d0d !important;
      border-bottom: 1px solid #E2E2E2 !important;
      > button span {
        padding-right: 20px;
        font-weight: 400 !important;
        font-size: 18px !important;
        text-transform: inherit !important;
        letter-spacing: 0.05rem !important;
      }
    }
    .ReactCollapse--content {
      .rich-text {
        font-size: 14px !important;
      }
    }
  }
}
