.popup-country {
  width: 396px !important;
  max-width: 396px !important;
  position: relative;
  color: #000000;
  @media screen and (max-width: 1440px) {
    width: calc(396px * 0.75) !important;
    max-width: calc(396px * 0.75) !important;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 48px * 2) !important;
    max-width: calc(100vw - 48px * 2) !important;
    margin: auto !important;;
    margin-top: -20px !important;
  }
  .bt-close {
    position: absolute;
    top: 23px;
    right: 22px;
    z-index: 1;
    @media screen and (max-width: 1440px) {
      top: calc(20px * 0.75);
      right: calc(18px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      top: 20px;
      right: 18px;
    }
    >img {
      width: 14px;
      height: 14px;
    }
  }
  .modal-content {
    border-radius: 0px;
    .modal-body {
      padding: 50px 32px 32px 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 1440px) {
        padding: 32px 24px 24px 24px;
      }
      @media screen and (max-width: 1024px) {
        padding: 30px 16px 16px 16px;
      }
      .emojiFlag {
        font-size: 74px !important;
        @media screen and (max-width: 1440px) {
          font-size: calc(74px * 0.75) !important;
        }
        @media screen and (max-width: 1024px) {
          font-size: 40px !important;
        }
      }
      .text-des {
        margin-top: 0px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1440px) {
          margin-top: 0px;
          margin-bottom: calc(8px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 0px;
        }
        >span {
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.02em;
          @media screen and (max-width: 1440px) {
            font-size: calc(24px * 0.75);
            line-height: calc(32px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .item {
        display: flex;
        align-items: center;
        margin-top: 18px;
        width: 100%;
        @media scents and (max-width: 1440px) {
          margin-top: calc(18px * 0.75);
        }
        @media scents and (max-width: 1024px) {
          margin-top: calc(14px);
        }
        >img {
          width: 36px;
          height: 36px;
          margin-right: 16px;
          @media screen and (max-width: 1440px) {
            width: calc(36px * 0.75);
            height: calc(36px * 0.75);
            margin-right: calc(16px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            width: 24px;
            height: 24px;
            margin-right: 14px;
          }
        }
        >span {
          font-size: 24px;
          @media screen and (max-width: 1440px) {
            font-size: calc(24px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
      }
      >button {
        margin-top: 30px;
        width: 100%;
        height: 50px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(30px * 0.75);
          height: calc(50px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 18px;
          height: 42px;
        }
      }
    }
  }
}