.header-question {
  position: relative;
  z-index: 4;
  left: 0px;
  height: 60px;
  background: #F8F8F8;
  border-bottom: 6px solid #E2E2E2;
  display:flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  @media screen and (max-width: 1024px) {
    height: 37px;
    padding: 0px 15px;
    justify-content: space-between;
    top: 0px;
  }
  &.fix-position {
    position: fixed;
    top: 0px;
  }
  >button {
    font-weight: 400;
    min-width: 200px;
    font-size: 0.875rem;
    letter-spacing: 0.2em;
    color: #8D8D8D;
    text-align: center;
    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 1024px) {
      min-width: unset;
      font-size: 0.78571rem;
      letter-spacing: 0.1em;
    }
    &.active {
      font-weight: 500;
      color: #333333;
    }
    @media screen and (min-width: 1024px) {
      &:hover {
        font-weight: 500;
        color: #333333;
        text-decoration: none;
      }
    }
    
  }
  >button:nth-child(2) {
    margin: 0px 50px;
    @media screen and (max-width: 1024px) {
      margin: unset;
    }
  }
  .bar-process {
    position: absolute;
    bottom: -6px;
    left: 0px;
    height: 6px;
    background: #C9A047;
    transition: all 0.2s;
  }
}