.recent-stories-section {
  @media screen and (max-width: 1024px) {
    position: relative;
  }
  .hr-title-left {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .hr {
      flex-grow: 1;
      height: 3px;
      border-radius: 50px;
      background: rgb(227, 191, 97);
      background: linear-gradient(
        90deg,
        rgba(227, 191, 97, 1) 0%,
        rgba(183, 155, 83, 1) 100%
      );
      @media screen and (max-width: 1024px) {
        height: 1px;
        width: 100%;
      }
    }
    span {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 500;
      padding-right: 16px;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        padding-bottom: 8px;
      }
    }
  }
  .articles-box {
    .article {
      position: relative;
      margin-bottom: 3rem;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        margin-bottom: 2rem;
      }
      .wrapper-image-article {
        border-radius: 6px;
        overflow: hidden;
        max-height: 446px;
        @media screen and (max-width: 1024px) {
          border-radius: 0;
          max-height: 300px;
        }
        img {
          object-fit: cover;
          min-height: 445px;
          width: 100%;
          @media screen and (max-width: 1024px) {
            min-height: 300px;
            border-radius: 6px;
          }
        }
      }
      .content-article {
        text-align: center;
        padding: 2rem 3rem;
        border: 1px solid #0d0d0d;
        width: 90%;
        margin: -13% auto auto;
        background: #ffffff;
        transform: translate(0);
        @media screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 1rem 0rem;
          text-align: left;
          border: none;
        }
        .info-title {
          display: flex;
          justify-content: space-between;
          font-size: 10px;
          .cat {
            font-weight: 500;
            color: #0d0d0d;
            text-transform: uppercase;
            a {
              color: #0d0d0d;
              &:hover {
                opacity: 0.7;
                text-decoration: none;
              }
            }
          }
          .date {
            color: #8d8d8d;
            white-space: nowrap;
            margin-left: 6px;
            text-transform: uppercase;
          }
        }
        .cat {
          font-weight: 500;
          font-size: 12px;
          a {
            color: #0d0d0d;
            text-transform: uppercase;
            &:hover {
              opacity: 0.7;
              text-decoration: none;
            }
          }
        }
        .title-article {
          display: block;
          font-size: 24px;
          color: #0d0d0d;
          font-weight: 500;
          margin: 0.5em 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          &:hover {
            text-decoration: none;
          }
          @media screen and (max-width: 1024px) {
            font-size: 18px;
          }
        }
        h4 {
          margin: 1rem 0;
          font-size: 24px;
        }
        .date {
          font-weight: 500;
          color: #8d8d8d;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
  .paging {
    text-align: center;
    padding: 2rem 0;
    border-top: 2px solid #e2e2e2;
    p {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    button {
      text-transform: uppercase;
      padding: 8px 50px;
      background: #ffffff;
      letter-spacing: 0.2em;
      font-weight: 500;
      border: 2px solid #0d0d0d;
      border-radius: 6px;
    }
  }
  .paging-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .wrap-btn {
      background: white;
    }
    button {
      width: 100%;
      margin-bottom: 3em;
      padding: 8px;
      background: none;
      border: 2px solid #0d0d0d;
      border-radius: 6px;
      background-color: white;
      img {
        margin-left: 8px;
        width: 1em;
      }
    }
    .overlay {
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.9150035014005602) 32%,
        rgba(255, 255, 255, 0) 100%
      );
      height: 6em;
    }
  }
}
