.gift-detail-v2 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding-bottom: 64px;

  @media screen and (max-width: 991px) {
    padding-bottom: 48px;
    .block-info {
      flex-direction: column;
      padding-bottom: 48px;
    }
  }

  @media screen and (max-width: 480px) {
    padding-bottom: 24px;

    .block-info {
      padding-bottom: 24px;
    }
  }
  .gift-content {
    width: 100%;
    padding: 24px 0;
  }
  .block-info {
    display: flex;
    column-gap: 48px;

    &.no-padding {
      padding: 0 !important;
    }
    .image-slider {
      width: 550px;
      flex-shrink: 0;
      @media screen and (max-width: 991px) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 48px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
    .block-description {
      flex-grow: 1;
      @media screen and (max-width: 991px) {
        width: 100%;
        margin-right: 0px;

        height: unset;
      }
    }
  }
}

.gift-drawer {
  .MuiDrawer-paperAnchorRight {
    max-width: 600px;
    width: 100%;

    background-color: #F5ECDC;
    overflow: hidden;
    .block-description {
      height: 100%;
      padding: 24px 24px 16px;

      .detail-gift-block {
        overflow: auto;
        height: calc(100% - 72px);

        .list-btn {
          padding: 16px 24px;
          position: fixed;
          bottom: 0;
          right: 0;

          max-width: 600px;

          @media screen and (max-width: 480px) {
            button {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}