<meta charset="UTF-8" style="font-family: 'Ferrari';">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" style="font-family: 'Ferrari';">
  <meta name="viewport" content="width=device-width, initial-scale=1" style="font-family: 'Ferrari';">
  



<div style="width: 600px; margin-left: auto; margin-right: auto">
  <div style="font-family: 'Ferrari';width: 100%;height: 146px;background: #181818;display: flex;justify-content: center;align-items: center;">
    <img src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/2afa38d0-f2b1-4562-bf99-2434a5c6ae98.png" alt="logo" style="font-family: 'Ferrari';height: 50px;">
  </div>
  <img src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/437ab232-f57a-4bfe-9805-90fcfa2deedd.png" alt="car" style="font-family: 'Ferrari';width: 100%;height: 521px;">
  <div style="font-family: 'Ferrari';background: #181818;padding: 0px 24px;display: flex;flex-direction: column;align-items: center;">
    <div style="font-family: 'Ferrari';font-weight: 400;font-size: 24px;line-height: 150%;text-align: center;letter-spacing: 0.05em;text-transform: uppercase;color: #FFFFFF;padding: 24px 0px;">
      You are {{ personality_choice.personality.title }}
    </div>
    <div class="title-red" style="font-family: 'Ferrari';margin-top: 24px;font-weight: 400;font-size: 14px;line-height: 150%;text-transform: uppercase;text-align: center;width: 100%;color: #DA291C;">
      Your Personality Strengths
    </div>
    <div class="row-text" style="font-family: 'Ferrari';width: 100%;display: flex;align-items: center;justify-content: center;padding: 24px 0px;">
      {% for i in personality_choice.personality.adjectives %}
        <div class="item-row-text" style="font-family: 'Ferrari';height: 31px;width: 25%;text-align: center;font-weight: 400;font-size: 10px;line-height: 31px;letter-spacing: 0.1em;text-transform: uppercase;color: #FFFFFF;border-right: none;">
          {{ i.name }}
        </div>
      {% endfor %}
    </div>
    <div class="des-text" style="font-family: 'Jost';font-weight: 400;font-size: 18px;line-height: 150%;color: #FFFFFF;text-align: center;margin-bottom: 24px;">
      {{ personality_choice.personality.description|safe }}
    </div>
    <div class="line-row" style="font-family: 'Ferrari';width: 504px;height: 1px;background: #8F8F8F;margin: 12px 0px;"></div>
    <div class="title-red" style="font-family: 'Ferrari';margin-top: 24px;font-weight: 400;font-size: 14px;line-height: 150%;text-transform: uppercase;text-align: center;width: 100%;color: #DA291C;">
      your Scent Preference
    </div>
    <div class="row-text" style="font-family: 'Ferrari';width: 100%;display: flex;align-items: center;justify-content: center;padding: 24px 0px;">
      {% for i in personality_choice.personality.scents %}
        <div class="item-row-text" style="font-family: 'Ferrari';height: 31px;width: 25%;text-align: center;font-weight: 400;font-size: 10px;line-height: 31px;letter-spacing: 0.1em;text-transform: uppercase;color: #FFFFFF;border-right: none;">
          {{ i.name }}
        </div>
      {% endfor %}
    </div>
    <div class="des-text" style="font-family: 'Jost';font-weight: 400;font-size: 18px;line-height: 150%;color: #FFFFFF;text-align: center;margin-bottom: 24px;">
      {{ personality_choice.personality.description2|safe }}
    </div>
    <div class="line-row" style="font-family: 'Ferrari';width: 504px;height: 1px;background: #8F8F8F;margin: 12px 0px;"></div>
  </div>
  <div style="font-family: 'Ferrari';background: #050505;display: flex;flex-direction: column;align-items: center;width: 100%;">
    <div class="text-footer" style="font-family: 'Lato';font-weight: 400;font-size: 16px;line-height: 120%;text-align: center;color: #FFFFFF;padding: 24px 0px;">
      Follow
    </div>
    <img src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/854dc59c-a736-487c-afed-b58d369b94de.png" alt="logo" style="font-family: 'Ferrari';height: 45px;margin-bottom: 24px;">
    <div class="line-icon" style="font-family: 'Ferrari';display: flex;width: 216px;justify-content: space-between;align-items: center;">
      <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
        <img class="icon-logo" src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/83ae66f5-52cc-43e7-8032-fc5d98c4cc3e.png" alt="facebook" style="font-family: 'Ferrari';width: 24px;height: 24px;margin-bottom: 24px;">
      </a>
      <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
        <img class="icon-logo" src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/6f10160a-5514-4130-82a5-32a07b6f6ab4.png" alt="twitter" style="font-family: 'Ferrari';width: 24px;height: 24px;margin-bottom: 24px;">
      </a>
      <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
        <img class="icon-logo" src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/f946c411-f512-4f91-9fc3-94e4d982be87.png" alt="instagram" style="font-family: 'Ferrari';width: 24px;height: 24px;margin-bottom: 24px;">
      </a>
      <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
        <img class="icon-logo" src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/a180b248-8774-4b7e-a34e-4acbcf90f5ac.png" alt="youtube" style="font-family: 'Ferrari';width: 24px;height: 24px;margin-bottom: 24px;">
      </a>
      <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
        <img class="icon-logo" src="https://s.scentdesigner.stage.23c.se/media/django-summernote/2022-07-30/992ffe40-9c33-4505-bde4-c29deebf30b8.png" alt="tiktok" style="font-family: 'Ferrari';width: 24px;height: 24px;margin-bottom: 24px;">
      </a>
    </div>
    <div class="text-footer margin-24" style="font-family: 'Lato';font-weight: 400;font-size: 16px;line-height: 120%;text-align: center;color: #FFFFFF;margin-bottom: 24px;">
      Visit our website:
    </div>
    <a href="https://www.maison21g.com" class="text-footer" style="font-family: 'Lato';font-weight: 400;font-size: 16px;line-height: 120%;text-align: center;color: #FFFFFF;text-decoration: none;">
      www.maison21g.com
    </a>
    <div class="row-bottom" style="font-family: 'Ferrari';margin: 35px 0px;display: flex;width: fit-content;">
      <div class="text-bottom" style="font-family: 'Lato';font-weight: 400;font-size: 12px;color: #CCCCCC;margin: 0px 4px;">
        <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
          Unsubsribe
        </a>
      </div>
      <div class="text-bottom" style="font-family: 'Lato';font-weight: 400;font-size: 12px;color: #CCCCCC;margin: 0px 4px;">
        <a href="https://www.maison21g.com/" style="font-family: 'Ferrari';">
          Manage Preference
        </a>
      </div>
    </div>
  </div>
</div>