.pay-success {
  .div-content {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 64px 0px 80px 0px;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 24px;
      flex-direction: column;
      align-items: center;
    }
   .d-left {
     flex: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-right: 24px;
     @media screen and (max-width: 1024px) {
      margin-right: 0px;
     }
     >img {
       width: 120px;
       height: 120px;
       margin-bottom: 24px;
       @media screen and (max-width: 1024px) {
        width: 64px;
        height: 64px;
       }
     }
     .text-1 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #2C2C22;
      margin-bottom: 12px;
      width: 246px;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
       }
     }
     .body-text-s-regular {
      color: #56564E;
      margin-bottom: 24px;
      width: 246px;
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
       }
     }
     .text-2 {
      font-size: 16px;
      color: #2C2C22;
      margin-bottom: 24px;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
       }
     }
     >button {
       margin-bottom: 12px;
     }
     .bt-goto {
      font-size: 12px;
      color: #2C2C22;
      font-weight: 500;
     }
   } 

   .div-line-mobile {
    height: 1px;
    width: 100%;
    background: #2C2C22;
    margin: 24px 0px;
  }

   .div-card {
     width: 450px;
     height: fit-content;
     padding: 24px;
     display: flex;
     flex-direction: column;
     margin-bottom: 0px;
     background: #EBD8B8;
     border-radius: 20px;
     @media screen and (max-width: 1024px) {
       width: 100%;
       padding: 12px;
     }
     .heading {
       margin-bottom: 32px;
       font-weight: normal;
       @media screen and (max-width: 1024px) {
        margin-bottom: 12px;
      }
     }
     .line-info {
       display: flex;
       justify-content: space-between;
       color: #56564E;
       margin-bottom: 12px;
       font-weight: 300;
       @media screen and (max-width: 1024px) {
        margin-bottom: 6px;
      }
       &.point-info {
         >div:nth-child(2) {
           height: 30px;
           padding: 4px 12px;
           background: #FFF4E0;
           border: 1px solid #BCAD93;
           box-sizing: border-box;
           border-radius: 20px;
           font-size: 12px;
           align-items: center;
           display: flex;
           @media screen and (max-width: 1024px) {
            height: 26px;
            font-size: 10px;
           }
           >img {
             width: 16px;
             height: 16px;
             margin-right: 4px;
           }
         }
       }
       >div {
        font-size: 18px;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
       }
       >div:nth-child(2) {
        color: #2C2C22;
        font-weight: 600;
       }
     }
     .div-line {
       height: 1px;
       width: 100%;
       background: #2C2C22;
       margin-bottom: 12px;
       @media screen and (max-width: 1024px) {
        margin-top: 6px;
      }
     }
     .line-total {
       display: flex;
       justify-content: space-between;
       >div {
        font-size: 24px;
        color: #56564E;
        letter-spacing: 0.1em;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          margin-left: 24px;
        }
       }
       >div:nth-child(2) {
        color: #2C2C22;
        letter-spacing: unset;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
       }
     }
   }
  }
}

.data-point-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >img {
    width: 64px;
    height: 64px;
    margin-bottom: 12px;
  }
  .other-Tagline {
    font-weight: 600;
    color: #2C2C22;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 8px;
  }
  .info-text {
    font-size: 14px;
    color: #56564E;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 24px;
  }
  .line-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
    >div {
      font-size: 14px;
      color: #56564E;
    }
    >div:nth-child(2) {
      color: #2C2C22;
    }
  }
}
.modal-point {
  width: 420px;
  @media screen and (max-width: 1024px) {
    width: calc(100% - 90px);
    margin: auto;
  }
  .modal-content {
    background: #FFF4E0;
    border-radius: 20px;
    .bt-close {
      position: absolute;
      right: 24px;
    }
    .modal-body {
      padding: 24px;
    }
  }
}