.block-detail-wrapper {
  .detail-gift-block {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    .title-text {
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #2C2C22;
      margin-bottom: 16px;

      &.title-flex {
        display: flex;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        > .back-btn {
          cursor: pointer;
          margin-right: 16px;
        }
      }
    }
    .des-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #56564E;
      margin-bottom: 20px;
    }

    .input-ct {
      margin-bottom: 16px;
      .content-icon {
        > input {
          background: #F1E4CD;
          font-size: 14px;
          font-family: unset;
        }
      }
    }
    .text-note {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      .label-text {
        margin-left: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #2C2C22;
        margin-bottom: 6px;
      }
      .text-are {
        height: 187px !important;
        background: #F1E4CD;
        border: 1px solid #D4C2A6;
        border-radius: 20px;
        padding: 12px;
        color: #2C2C22;
        font-size: 14px;
        font-family: unset;
        &::placeholder {
          color: #8D826E;
          font-size: 14px;
        }
      }
    }
    select, input {
      font-family: unset;
    }
    .gift-sum-detail {
      padding: 24px;
      background: #F1E4CD;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      .title-header {
        width: 100%;
        border-bottom: 1px solid #D4C2A6;
        padding-bottom: 4px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        > div {
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #2C2C22;
        }
        >button {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: #BCAD93;
          padding: 0px 12px;
        }
      }
      .line-text {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #56564E;
        margin-bottom: 6px;
        b {
          color: #2C2C22;
          font-weight: 500;
        }
        .method {
          text-transform: capitalize;
        }
      }
      .line-text-2 {
        display: flex;
        color: #2C2C22;
        .title-2 {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
        }
        .des {
          flex: 1;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #56564E;
        }
      }
    }
    .space-div {
      flex: 1;
      @media screen and (max-width: 991px) {
        flex: unset;
      }
    }
    .list-btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0 10px;

      button {
        text-transform: initial;
        padding: 0 20px;

        &:not(.back-btn, .next-btn) {
        width: calc(100% - 120px);
          min-width: 160px;
          max-width: 100%;
        }
        &.back-btn, &.next-btn {
          flex-shrink: 0;
          width: 120px;
        }
      }

      &.equal-width {
        column-gap: 10px;
        > button {
          width: calc(50% - 5px);
        }
      }
    }
    .single-btn {
      text-align: right;
      > button {
        text-transform: initial;
      }

      @media screen and (max-width: 480px) {
        > button {
          width: 100%;
        }
      }
    }
    .list-btn, .single-btn {
      margin-top: auto;
    }
    .button-next {
      display: flex;
      justify-content: flex-end;
      > button {
        text-transform: initial;
        padding: 0px 50px;
      }
    }
    .button-bg__none {
      font-family: unset;
    }
    .input-ct .PhoneInput .PhoneInputCountry, .input-ct .PhoneInput .PhoneInputInput {
      border-color: #D4C2A6;
      background: #F1E4CD;
      font-size: 14px;
    }
    .input-ct .input-select {
      background: #F1E4CD;
      font-size: 14px;
    }
  }
}