.choose-box {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content:center;
  align-items: center;
  border: 2px solid #E2E2E2;
  border-radius: 50%;
  cursor: pointer;
  @media screen and (max-width: 1024px){
    width: 20px;
    height: 20px;
  }
  &.selected {
    border: 2px solid #0D0D0D;
    border-radius: 50%;
    .div-select {
      background: #0D0D0D;
    }
  }
  .div-select {
    width:18px;
    height: 18px;
    border-radius: 50%;
    @media screen and (max-width: 1024px){
      width: 10px;
      height: 10px;
    }
    background: #ffffff;
  }
}

.div-card-payment {
  height: 79px;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 0px 28px 0px 28px;
  @media screen and (max-width: 1024px){
    height: 60px;
    padding: 0px 26px 0px 14px;
  }
  &.selected {
    background: #F4F4F4;
  }
  .card-payment-left {
    display: flex;
    align-items:center;
    >span {
      margin-left:28px;
      font-weight: 500;
      font-size: 22px;
      color: #0D0D0D;
      @media screen and (max-width: 1024px){
        font-size: 16px;
        margin-left: 20px;
      }
    }
    >img {
      margin-left:28px;
      height: 37px;
      @media screen and (max-width: 1024px){
        height: 21px;
      }
    }
  }
  .card-image {
    display:flex;
    align-items:center;
    >img {
      margin-left: 15px;
      width: 55px;
      @media screen and (max-width: 1024px){
        margin-left: 8px;
        width: 20px;
      }
    }
  }
}

.div-item-payment {
  width: 179px;
  display: flex;
  padding: 14px 12px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  margin-right: 18px;
  flex-direction: column;
  .div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img {
      height: 19px;
      @media screen and (max-width: 1024px){
        height: 15px;
      }
    }
  }
  .serial {
    font-weight: 500;
    font-size: 28px;
    display: flex;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    margin: 24px 0px 20px 0px;
    @media screen and (max-width: 1024px){
      margin: 20px 0px 18px 0px;
    }
  }
  .div-text-name {
    color: #000000;
    display: flex;
    flex-direction:column;
    >span:nth-child(1) {
      margin-bottom: 9px;
      font-size: 14px;
      @media screen and (max-width: 1024px){
        font-size: 14px;
      }
    }
    >span {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @media screen and (max-width: 1024px){
        font-size: 12px;
      }
    }
  }
}

.div-input-payment {
  padding: 12px 28px 28px 28px;
  background: #f4f4f4;
  @media screen and (max-width: 1024px) {
    padding: 12px 14px 20px 14px;
  }
  >input {
    font-size: 18px;
    color: #0D0D0D;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
  .border-checkout {
    background: #FFFFFF;
    border: 2px solid #E2E2E2;
    border-radius: 6px;
  }
  .div-input-serial {
    margin-top: 20px;
    display: flex;
    align-items: center;
    >img {
      height: 22px;
    }
    >input, #card-number-element {
      flex: 1;
      padding-right: 29px;
      padding-left: 14px;
      font-size: 18px;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
  .div-input-security {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    >input, #card-expiry-element, #card-cvc-element {
      width: calc(100%/2 - 19px) !important;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
      .__PrivateStripeElement {
        width: 100% !important;
      }
    }
  }
  >label {
    margin-top: 20px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
  }
}
