SECTION.step-2 {
  @media screen and (max-width: 1024px) {
    padding: 8px 0 16px !important;
    .btn-back {
      position: unset;
      margin-bottom: 8px;
    }
  }
  .btn-back {
    left: -18% !important;
  }
  .item-type-workshop {
    display: flex;
    align-items: center;
    border: 2px solid #c8c8c8;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 24px;
    opacity: 0.4;
    transition: 0.2s all;
    min-height: 7em;
    width: 70% !important;
    margin: 0 auto 24px;
    @media screen and (max-width: 1024px) {
      border: 1px solid #c8c8c8;
      padding: 10px;
      min-height: 5em;
      margin-bottom: 16px;
      width: 94% !important;
    }
    .square-check {
      width: 7%;
      border: 2px solid #c8c8c8;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      margin-right: 32px;
      @media screen and (max-width: 1024px) {
        border: 1px solid #c8c8c8;
        width: 15%;
        border: 1px solid #c8c8c8;
        margin-right: 16px;
      }
      img {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translate(-50%, -50%);
        top: 50%;
        opacity: 0;
        width: 58%;
        @media screen and (max-width: 1024px) {
          width: 52%;
        }
      }
      &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        @media screen and (max-width: 1024px) {
          background: white;
        }
      }
    }
    .info {
      flex-grow: 1;
      h4 {
        font-weight: 500;
        letter-spacing: 0em;
        font-size: 20px;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
          font-weight: normal;
          margin-bottom: 4px;
        }
      }
      @media screen and (max-width: 1024px) {
        p {
          font-size: 16px;
          letter-spacing: 0;
        }
      }
    }
    &.active {
      border: 2px solid #b79b53;
      background: #e2e2e2;
      opacity: 1;
      @media screen and (max-width: 1024px) {
        border: 1px solid #b79b53;
      }
      .square-check {
        border: 2px solid #b79b53;
        @media screen and (max-width: 1024px) {
          border: 1px solid #b79b53;
        }
        img {
          opacity: 1;
        }
      }
    }
  }
  .footer-step {
    .info-step1 {
      display: flex;
      justify-content: space-between;
      margin: 32px 0 24px;
      border-bottom: 2px solid #0d0d0d;
      padding: 8px 0;
      span {
        padding: 0 32px;
        @media screen and (max-width: 1024px) {
          padding: 0 40px;
        }
      }
      @media screen and (max-width: 1024px) {
        margin: 24px -24px;
      }
    }
    BUTTON.btn-next-step {
      background: #0d0d0d;
      border-radius: 4px;
      display: inherit;
      border: none;
      color: white;
      padding: 12px;
      min-width: 40%;
      margin: 0 auto;
      font-size: 18px;
      letter-spacing: 0.2em;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        min-width: 58%;
        padding: 10px;
      }
    }
  }
}
