.pick-product-detail-v3 {
  height: 100%;
  background: #2C2C22;
  color: #EBD8B8;
  display: flex;
  position: relative;
  .recommend-scent-mobile-v2 {
    padding: 0px 24px;
    >h4 {
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #EBD8B8;
      margin-bottom:8px;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
    .scent-recommend {
      .div-scent-line {
        .list-scent-item {
          >button {
            width: 100px;
            height: 100px;
            @media screen and (max-width: 767px) {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
    }
  }
  .div-info-scent {
    width: 512px;
    padding: 0px 24px 40px 24px;
    height: 100%;
    overflow-y: auto;
    z-index: 0;
    @media screen and (max-width: 991px) {
      width: 50vw;
      padding: 0px 16px 25px 16px;
    }
    @media screen and (max-width: 767px) {
      width: 100vw;
      padding: 0px 16px;
      z-index: 3;
      position: absolute;
      height: calc(100% - 128px - 84px);
      top: 84px;
      left: 0px;
    }
    &.full-screen-scent {
      height: 100%;
      top: 0px;
    }
    .tab-scent-character {
      @media screen and (max-width: 767px) {
        margin-top: 0px;
      }
    }
  }
  .list-scent {
    width: 811px;
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 991px) {
      width: 50vw;
    }
    @media screen and (max-width: 767px) {
      width: 100vw; 
      justify-content: space-between;
    }
    .div-header-ingredient {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      padding: 32px 24px 24px 24px;
      @media screen and (max-width: 991px) {
        padding: 25px 40px 25px 40px;
      }
      @media screen and (max-width: 767px) {
        padding: 24px 16px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        z-index: 0;
      }
      >button {
        width: 44px;
        height: 44px;
        background: #EBD8B8;
        border: none;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        padding: 0px;
        display: flex;
        @media screen and (max-width: 991px) {
          width: 32px;
          height: 32px;
        }
        >svg {
          width: 16px;
          height: 16px;
        }
      }
      .div-text-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 767px) {
          margin-left: 24px;
        }
        >h3 {
          font-weight: 400;
          font-size: 36px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          @media screen and (max-width: 991px) {
            font-size: 24px;
          }
          @media screen and (max-width: 767px) {
            font-size: 18px;
          }
        }
      }
    }
    .div-filter-search {
      display: flex;
      align-items: center;
      .search-scent-detail-v2 {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 24px;
        justify-content: space-between;
        .div-filter {
          @media screen and (max-width: 991px) {
            width: fit-content;
          }
          .dropdown-filter-product {
            .bt-fillter {
              border: 1px solid #2C2C22;
            }
            .dropdown-menu {
              background: #ffffff;
              border-radius: 10px;
              padding: 0px;
              min-width: 175px;
              .dropdown-item-filter {
                padding: 8px 10px;
                cursor: pointer;
                >span {
                  font-size: 14px;
                  line-height: 24px;
                  color: #2C2C22;
                }
                &.active {
                  background: #F9F3EA;
                  border-radius: 10px;
                }
              }
              .dropdown-item-filter:last-child {
                border-bottom: none;
              }
            }
          }
        }
        .div-search {
          display: flex;
          align-items: center;
          width: 320px;
          height: 39px;
          border-radius: 30px;
          border: 1px solid #8D826E;
          background: #414138;
          padding: 0px 24px;
          @media screen and (max-width: 991px) {
            width: unset;
            flex: 1;
            margin-left: 12px;
          }
          
          >input {
            flex: 1;
            background: transparent;
            border: none;
            font-size: 14px;
            font-weight: 400;
            color: #8D826E;
            &::placeholder {
              color: #8D826E;
              font-size: 14px;
              font-style: italic;
              font-weight: 400;
            }
            @media screen and (max-width: 768px) {
              width: 130px;
            }
            @media screen and (max-width: 480px) {
              width: 113px;
            }
          }
          >svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .div-scroll-ingredient {
      padding: 0px 24px;
      flex: 1;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #E2E2E2;
        border-radius: 33px;
      }
      &::-webkit-scrollbar-thumb {
        background-color :#0D0D0D;
        border-radius: 33px;
      }
      .recommend-scent-mobile {
        align-items: center;
        margin-bottom: 20px;
        &.recommend-v2 {
          align-items: flex-start;
          margin-top: 40px;
          >h4 {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #2C2C22;
            margin-bottom: 33px;
            text-decoration: capitalize;
          }
          .scent-recommend {
            justify-content: flex-start;
            .item-recommend {
              width: 80px;
              height: 80px;
              border-radius: 8px;
              overflow: hidden;
              margin-right: 8px;
              >img {
                border-radius: 0px;
              }
            }
          }
        }
        >h4 {
          font-weight: 500;
          font-size: 13px;
          text-align: center;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          margin-bottom: 20px;
        }
        .scent-recommend {
          width: 100%;
          justify-content: space-around;
          .item-recommend {
            width: calc(100vw * 0.26);
            height: calc(100vw * 0.26);
            position: relative;
            >img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 32px;
            }
            >button {
              position: absolute;
              padding: 0px;
              left: 12px;
              bottom: 9px;
              >img {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }

    .list-button {
      justify-content: space-between;
      padding: 36px 32px;
      @media screen and (max-width: 767px) {
        z-index: 0;
      }
      >button {
        width: calc((100% - 12px)/2);
        color: #2C2C22;
        background: #EBD8B8;
        &:hover {
          background-color: #EFE0C6;
          box-shadow: none;
        }
      }
      .outlined {
        color: #EBD8B8;
        border-color: #EBD8B8;
        background: transparent;
        &:hover {
          background: transparent;
          box-shadow: none;
        }
      }
    }

    .div-scent-line {
      display: flex;
      flex-direction: column;
      margin-right: -24px;
      >span {
        font-size: 16px;
        letter-spacing: 0.05em;
        margin-bottom: 11px;
        font-weight: 300;
        @media screen and (max-width: 991px) {
          font-size: 13px;
        }
      }
      &.item-for-candle {
        .list-scent-item {
          >button {
            width: 137px;
            height: 137px;
            margin-right: 19px;
            margin-bottom: 19px;
            @media screen and (max-width: 991px) {
              width: 80px;
              height: 80px;
              margin-right: 9px;
              margin-bottom: 9px;
            }
            &.low-stock {
              margin-bottom: 43px;
              .div-item {
                &::after {
                  content: attr(data-message);
                  position: absolute;
                  bottom: -30px;
                  font-size: 16px;
                  color: #C9A047;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 100%;
                  font-weight: 500;
                  @media screen and (max-width: 991px) {
                    bottom: -22px;
                    font-size: 12px;
                  }
                }
              }
            }
            &.out-stock {
              margin-bottom: 35px;
              .div-item {
                &::after {
                  content: attr(data-message);
                  position: absolute;
                  bottom: -22px;
                  font-size: 10px;
                  color: #999999;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 100%;
                  font-weight: 500;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  @media only screen and (max-width: 991px) {
                    bottom: -20px;
                    font-size: 10px;
                  }
                }
              }
            }
            .div-item {
              .info {
                width: 23px;
                height: 23px;
                left: 19px;
                bottom: 19px;
                visibility: visible;
                z-index: 1;
                cursor: pointer;
                @media screen and (max-width: 991px) {
                  width: 11px;
                  height: 11px;
                  left:11px;
                  bottom: 14px;
                }
              }
              >img {
                border-radius: 8px;
                @media screen and (max-width: 991px) {
                  border-radius: 8px;
                }
              }
              .div-choose {
                >img {
                  width: 40%;
                  height: 40%;
                }
              }
            }
          }
        }
      }
      .list-scent-item {
        display: initial;
        >button {
          width: 120px;
          height: 120px;
          padding: 0px;
          background: transparent;
          border: none;
          margin-right: 8px;
          margin-bottom: 8px;
          @media screen and (max-width: 767px){
            width: 80px;
            height: 80px;
          }
          &.active {
            border: 2px solid #EBD8B8;
            border-radius: 8px;
            .div-item {
              .div-choose {
                >img {
                  display: none;
                }
              }
            }
          }
          &.low-stock {
            margin-bottom: 23px;
            .div-item {
              >img {
                opacity: 1;
              }
              &::after {
                content: attr(data-message);
                position: absolute;
                bottom: -20px;
                font-size: 11px;
                color: #C9A047;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                font-weight: 500;
              }
            }
          }
          &.out-stock {
            margin-bottom: 23px;
            .div-item {
              >img {
                opacity: 0.5;
              }
              &::after {
                content: attr(data-message);
                position: absolute;
                bottom: -20px;
                font-size: 11px;
                color: #2B3033;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                font-weight: 500;
              }
            }
          }
          .div-item {
            position: relative;
            width: 100%;
            height: 100%;
            border: none;
            .info {
              position: absolute;
              width: 12px;
              height: 12px;
              left: 11px;
              bottom: 11px;
              visibility: hidden;
              cursor: pointer;
            }
            .icon-out-sock {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0px;
              top: 0px;
            }
            .chose {
              opacity: 0.7;
            }
            >img {
              border: 0.634143px solid #152436;
              box-shadow: 0px 1.84694px 1.84694px rgba(0, 0, 0, 0.1);
              border-radius: 8px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            .div-choose {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              display: flex;
              justify-content: center;
              align-items: center;
              >img {
                width: 50%;
                height: 50%;
                object-fit: contain;
              }
            }
          }
          
        }
      }
    }
  }
}