.div-academy-page {
  margin-top: 70px;
  > span {
    z-index: 1;
  }
}

.div-academy-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  >img {
    width: 80%;
    // height: 348px;
    object-fit: cover;
    position: absolute;
    top: -40px;
  }
  >.div-button-dp {
    // height: 268px;
    width: 100%;
    position: relative;
    border: none;
    border-radius: 20px;
    >img, >.div-over {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;  
      z-index: 0;   
    }
    >.div-over {
      background: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
    }
    >.description {
      font-size: 20px;
      width: 60%;
      color: white;
      text-align: center;
      z-index: 1;
    }
    >.price {
      font-size: 15px;
      color: white;
      text-align: center;
      z-index: 1;
      margin-top: 20px;
    }
    >button {
      font-size: 25px;
      color: white;
      z-index: 1;
    }
  }

  .div-extend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    >.div-video {
      width: 100%;
      // height: 311px;
      >div > .video-react-controls-enabled {
        border-radius: 20px;
        >.video-react-video {
          border-radius: 20px;
        }
        // >.video-react-big-play-button {
        //   display: inherit !important;
        // }
      }
    }
    >.title {
      font-size: 24px;
      // color: white;
      text-align: center;
    }
    >.description {
      color: #3d3d3d;
    }
    >.div-info {
      > div:nth-child(1) {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.6rem 0rem;
        border: 1px solid #E6E6E6;
        border-radius: 20px 20px 0px 0px;
      }
      > div:nth-child(2) {
        width: 100%;
        padding: 0.6rem 0;
        font-size: 0.8rem;
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
      }
      > span:nth-child(3) {
        width: 100%;
        padding: 0.6rem 0;
        font-size: 0.8rem;
        text-align: center;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        border-radius: 0px 0px 20px 20px;
      }
    }
  }

}