.header-account {
  font-size: 1.4rem;
}
.title-myorder-gray {
  font-size: 0.8rem;
  color: rgba($color: #000000, $alpha: 0.4);
}
.value-myorder-black {
  font-size: 0.8rem;
  color: rgba($color: #000000, $alpha: 1.0);
}
// custome selecte
>.span-down-account {
  >.b2b-select-account {
    color: #fff;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    margin: 0;
  }
}
>.span-down-account::after {
  right: -15px;
  border-top: 10px solid #fff;
}

.input-account-detail {
  display: flex;
  flex-direction: column;
  >span:nth-child(1) {
    font-style: italic;
    color: rgba($color: #000000, $alpha: 0.25);
  }
  >.input-text {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #000000;
    padding: 7px 0px 7px 0px;
    border-radius: 0px;
    background: transparent;
    &__select {
      border-radius: 0px;
    }
  }
}

.account-avatar {
  position: 'absolute';
  z-index: 1;
}

.account-b2c {
  width: 100%;
  display: flex;
  flex-direction: row;
  // padding-top: 227px;
  // background: #F8F8F8;
  // @media screen and (max-width: 1440px) {
  //   padding-top: 170px;
  // }
  >.menu {
    max-width: 721px;
    display: flex;
    flex-direction: column;
    background: #F5ECDC;;
    width: 35%;
    padding-top: 30px;
    @media screen and (max-width: 1440px){
      max-width: 481px;
    }
    >.information {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: flex-start;
      height: auto;
      padding-left: 180px;
      background: #F5ECDC;
      @media screen and (max-width: 1440px){
        padding-left: 120px;
      }
      .avatar {
        width: 140px;
        >img {
          width: 100px;
          height: 100px;
          border-radius: 50px;
          object-fit: cover;
          object-position: center;
        }
        >.button-edit {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 45px;
          height: 45px;
          >img {
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100px;
        justify-content: center;
        position: relative;
        >.name {
          font-size: 1.2rem;
          width: fit-content;
          position: relative;
          .icon-vip {
            position: absolute;
            top: -13px;
            right: -46px;
            >span {
              font-weight: normal;
              font-size: 18px;
              color: #C9A047;
              margin-right: 2px;
              
            }
            >img {
              width: 17px;
              margin-bottom: 5px;
            }
          }
        }
        
      }
      .point {
        display: inline-flex;
        align-items: center;
        >img {
          width: 10px;
          height: 15px;
        }
        >span:nth-child(2) {
          font-size: 1.1rem;
        }
        >span:nth-child(3) {
          color: gray;
        }
      }
      >.button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  >.content {
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    padding-top: 30px;
    >.account-overview {
      padding: 0px 137px 70px 70px;
      >div {
        >div {
          .div-result-scent {
            height: unset;
          }
        }
      }
      > h1 {
        font-size: 20px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        font-weight: 500;
        text-align: left;
      }
      .div-result-scent {
        margin-top: 0px;
        overflow-y: hidden;
        height: unset;
        @media screen and (max-width: 1024px) {
          height: auto;
          margin: 0px;
        }
        .div-result-content {
          margin: 0px;
          position: relative;
          @media screen and (max-width: 1024px) {
            margin: 0px;
          }
          .div-header-text {
            width: auto;
            align-items: center;
            margin-bottom: 40px;
            .des-text {
              visibility: visible;
              text-align: center;
              margin-bottom: 20px;
              font-size: 18px;
            }
          }
          .row-content {
            .div-extend-product {
              position: relative;
              transform: unset;
              margin-top: 30px;
              @media screen and (max-width: 1024px) {
                margin-bottom: 30px;
              }
            }
          }
        }
      }
      >.product-overview {
        >.title {
          display: flex;
          flex-direction: column;
          padding: 60px 0px;
          margin: 0px;
          .div-personality-image {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            >img {
              height: 26px;
            }
            >span {
              font-size: 32px;
              font-family: Playfair Display;
              margin-left: 10px;
            }
          }
          .des {
            font-size: 16px;
            color: #0D0D0D;
          }
        }
        .div-adjective {
          width: 100%;
          display: flex;
          .result-adjective {
            .row {
              margin: 0px;
              .col-6 {
                padding: 0px;
                .__list, .__header {
                  width: calc(100% - 45px);
                }
                .__list {
                  padding: 0px;
                }
              }
              .col-6:nth-child(2) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
              }
            }
          }
        }
        .scent-results {
          width: 100%;
          display: flex;
          margin-top: 97px;
          .scent-small {
            width: 50%;
            display: flex;
            .div-wrap-item-result-scent {
              width: calc(100% - 20px);
              .div-item-result-scent-v2 {
                width: 100%;
                .div-header-combinations {
                  .div-top {
                    justify-content: center;
                    >span {
                      font-size: 14px;
                      letter-spacing: 0.1em;
                      color: #0D0D0D;
                      font-weight: 600;
                    }
                  }
                  .div-bottom {
                    justify-content: center;
                    >h2 {
                      font-size: 12px;
                      letter-spacing: 0.1em;
                      font-weight: 300;
                    }
                  }
                }
                .div-content-small {
                  .div-text-small {
                    width: 40%;
                    .text-price {
                      .vol {
                        font-size: 10px;
                        color: #0D0D0D;
                      }
                      .price {
                        font-size: 18px;
                        color: #0D0D0D;
                      }
                    }
                    .bt-add-cart {
                      width: 100%;
                      font-size: 10px;
                      padding: 0px;
                      background: transparent;
                      border: 1px solid #0d0d0d;
                      color: #0d0d0d;
                      margin-top: 8px;
                      margin-bottom: 20px;
                    }
                    .div-link-rollon {
                      font-size: 10px;
                    }
                  }
                  .div-image-small {
                    width: 60%;
                    padding-right: 30px;
                    margin: auto;
                  }
                }
              }
            }
          }
          .scent-small:nth-child(1) {
            justify-content:flex-start;
          }
          .scent-small:nth-child(2) {
            justify-content:flex-end;
          }
        } 
        >.scent-recommendation {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        > .button-recommendation {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          >button {
            >img {
              margin-right:12px;
              height: 14px;
            }
            background: transparent;
            border: 1px solid #0d0d0d;
            border-radius: 6px;
            font-size: 13.5px;
            padding: 10px 40px 10px 40px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            height: 43px;
          }
        }
      }
      >.no-product-overview {
        display: flex;
        flex-direction: column;
        >span:nth-child(1){
          font-size: 1rem;
        }
        >span:nth-child(2){
          font-size: 0.8rem;
          color: gray; 
        }
        > div > button {
          background: transparent;
          border: 1px solid gray;
          border-radius: 10px;
          padding: 10px 40px 10px 40px;
        }
      }
    }
    .change-detail, .div-my-order, 
    .div-review, .contact-preferences, 
    .div-refer-a-friend, .addressbook {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.account-b2c-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  // padding-top: 86px;
  >.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #F5ECDC;
    >.information {
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: flex-start;
      height: auto;
      background: #fff;
      .avatar {
        width: 110px;
        >img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
        >.button-edit {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 30px;
          height: 30px;
          >img {
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 80px;
        justify-content: center;
        >.name {
          font-size: 1rem;
          width: fit-content;
          position: relative;
          .icon-vip {
            position: absolute;
            top: -13px;
            right: -46px;
            >span {
              font-weight: normal;
              font-size: 18px;
              color: #C9A047;
              margin-right: 2px;
              
            }
            >img {
              width: 17px;
              margin-bottom: 5px;
            }
          }
        }
      }
      .point {
        display: inline-flex;
        align-items: center;
        >img {
          width: 10px;
          height: 15px;
        }
        >span:nth-child(2) {
          font-size: 1rem;
        }
        >span:nth-child(3) {
          color: gray;
          font-size: 0.8rem;
        }
      }
      >.button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.8rem;
      }
    }
  }
}


.boder-bottom {
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
}

.bt-menu-active {
  color: gray;
}

.item-menu {
  display: flex;
  flex-direction: column;
  padding-left: 180px;
  @media screen and (max-width: 1440px){
    padding-left: 120px;
  }
  &.active {
    background: #EBD8B8;
    .menu-man {
      >button{
        font-weight: 500;
      }
    }
  }
  .menu-man {
    display: inline-flex;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 19px;
    >img {
      // width: 24px;
      height: 20px;
    }
    >button{
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase;
    }
    .point {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #1a1a1a;
    }
  }
  .submenu-account {
    padding-left: 50px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    >.button-sub {
      font-size: 10px;
      padding-bottom: 19px;
    }
  }
}

.item-menu-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  .row {
    margin: 0px;
  }
  .menu-man {
    display: inline-flex;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    justify-content: space-between;
    text-transform: uppercase;
    > div {
      display: inline-flex;
      > img {
        // width: 24px;
        height: 20px;
      }
      > button{
        font-size: 0.8rem;
      }
    }
    
    .point {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: #1a1a1a;
    }
  }
  >.content-submenu{
    display: flex;
    flex-direction: column;
    > .submenu-account {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      >.button-sub {
        font-size: 0.7rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  .change-detail, .div-my-order, 
    .div-review, .contact-preferences, 
    .div-refer-a-friend, .addressbook {
      padding-left: 8px;
      padding-right: 8px;
    }
  >.account-overview {
    display: flex;
    flex-direction: column;
    align-items: 'center';
    padding: 0px 8px;
    >h1 {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #0D0D0D;
      margin-top: 30px;
    }
    .div-result-scent {
      height: unset;
      min-height: unset;
      margin-top: 0px;
      .div-result-content {
        margin: 0px;
        .div-header-text{
          .text {
            >img {
              height: 40px;
            }
            .div-text-name {
              .title-tx {
                font-size: 30px;
              }
            }
          }
        }
        .row-content{
          margin-bottom: 0px;
          .div-extend-product {
            margin-bottom: 30px;
          }
          .div-col-result {
            .div-wrap-item-result-scent {
              .div-item-result-scent-v2-mobile {
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
              }
            }
          }
        }
      }
    }
    >.product-overview {
      >.title {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        .div-personality-image {
          display: flex;
          align-items: center;
          justify-content: center;
          >img {
            height: 26px;
          }
          >span {
            font-size: 32px;
            font-family: Playfair Display;
            margin-left: 10px;
          }
        }
        .des {
          font-size: 12px;
          color: #0D0D0D;
          text-align: center;
          margin-top:26px;
          margin-bottom: 40px;
        }
      }
      .div-adjective {
        .result-adjective {
          width: 100%;
          .__list {
            padding: 0px;
          }
        }
      }
      .scent-results {
        // margin-top: 50px;
        .scent-small {
          margin-top: 48px;
          .div-wrap-item-result-scent {
            width: 100%;
            .div-item-result-scent-v2 {
              width: 100%;
              .div-header-combinations {
                .div-top {
                  justify-content: center;
                  >span {
                    font-size: 12px;
                    letter-spacing: 0.1em;
                    color: #0D0D0D;
                    font-weight: 600;
                  }
                }
                .div-bottom {
                  justify-content: center;
                  >h2 {
                    font-size: 10px;
                    letter-spacing: 0.1em;
                    font-weight: 300;
                  }
                }
              }
              .div-content-small {
                .div-text-small {
                  width: 40%;
                  .text-price {
                    .vol {
                      font-size: 8px;
                      color: #0D0D0D;
                    }
                    .price {
                      font-size: 15px;
                      color: #0D0D0D;
                    }
                  }
                  .bt-add-cart {
                    width: 100%;
                    font-size: 8px;
                    padding: 0px;
                    background: transparent;
                    border: 1px solid #0d0d0d;
                    color: #0d0d0d;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    height: 30px;
                  }
                  .div-link-rollon {
                    font-size: 8px;
                  }
                }
                .div-image-small {
                  width: 60%;
                  padding-right: 30px;
                  margin: auto;
                }
              }
            }
          }
        }
      }
      >.scent-recommendation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .slick-prev{
          margin-top: 46px;
          left: -33px;
        }
        .slick-next{
          margin-top: 46px;
          right: -33px;
        }
      }
      > .button-recommendation {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        >button {
          >img {
            margin-right:12px;
            height: 14px;
          }
          background: transparent;
          border: 1px solid #0d0d0d;
          border-radius: 6px;
          font-size: 13.5px;
          padding: 10px 40px 10px 40px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          height: 43px;
        }
      }
    }
    >.no-product-overview {
      display: flex;
      flex-direction: column;
      >span:nth-child(1){
        font-size: 1rem;
      }
      >span:nth-child(2){
        font-size: 0.8rem;
        color: gray; 
      }
      > div > button {
        background: transparent;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 40px 10px 40px;
      }
    }
  }
}

.addressbook {
  > span {
    font-size: 1.4rem;
  }
}

.addressboook-item-mobile {
  width: 350px;
  height: 221px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 14px;
  >.button-add-new{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 0.8rem;
    >div {
      display: flex;
      flex-direction: column;
      > span:nth-child(1) {
        font-size: 1.5rem;
      }
      > i {
        margin-top: 5px;
      }
    }
    &:hover {
      > div > i {
        transform: rotate(180deg);
        transition: transform 0.2s;
      }
    }
  }
  >.address-content {
    display: flex;
    flex-direction: row;
    padding: 40px 30px 0px 30px;
    >.address-text{
      display: flex;
      flex-direction: column;
      width: 70%;
      > input {
        border: none;
        border-bottom: 1px solid #8f8f8f;
        padding-bottom: 5px;
        padding-top: 5px;
        background: transparent;
        border-radius: 0px;
        font-size: 0.6rem
      }
      >select {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 32px;
        background: #fff;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        -webkit-appearance: none;
        font-size:0.6rem;
      }
    }
    >.address-text-disable{
      display: flex;
      flex-direction: column;
      width: 70%;
      > input {
        border: none;
        padding-bottom: 5px;
        padding-top: 5px;
        background: transparent;
        font-size: 0.6rem;
      }
      >select {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 32px;
        background: #fff;
        border: none;
        background: transparent;
        font-size: 0.6rem;
      }
    }
    >.address-button{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 30%;
      >button{
        background: transparent;
        padding: 0px;
        border: none;
        font-size: 0.6rem;
        >img {
          height: 12px;
          margin-bottom: 3px;
          margin-right: 5px;
        }
      }
    }
  }
  > .address-button-bottom {
    margin-left: 30px;
    margin-top: 20px;
    >button {
      background: transparent;
      border: none;
      font-size: 0.6rem;
      >div {
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

.addressboook-item {
  width: 427px;
  height: 270px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 14px;
  >.button-add-new{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    >div {
      display: flex;
      flex-direction: column;
      > span:nth-child(1) {
        font-size: 1.5rem;
      }
      > i {
        margin-top: 5px;
      }
    }
    &:hover {
      > div > i {
        transform: rotate(180deg);
        transition: transform 0.2s;
      }
    }
  }
  >.address-content {
    display: flex;
    flex-direction: row;
    padding: 40px 30px 0px 30px;
    >.address-text{
      display: flex;
      flex-direction: column;
      width: 70%;
      > input {
        border: none;
        border-bottom: 1px solid #8f8f8f;
        padding-bottom: 5px;
        padding-top: 5px;
      }
      >select {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 32px;
        background: #fff;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        -webkit-appearance: none;
        background: transparent;
      }
    }
    >.address-text-disable{
      display: flex;
      flex-direction: column;
      width: 70%;
      > input {
        border: none;
        padding-bottom: 5px;
        padding-top: 5px;
        background: transparent;
      }
      >select {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 32px;
        background: #fff;
        border: none;
      }
    }
    >.address-button{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 30%;
      >button{
        background: transparent;
        padding: 0px;
        border: none;
        font-size: 0.9rem;
        >img {
          height: 15px;
          margin-bottom: 3px;
          margin-right: 5px;
        }
        &.disabled {
          cursor: not-allowed;
        }
      }
    }
  }
  > .address-button-bottom {
    margin-left: 30px;
    margin-top: 20px;
    >button {
      background: transparent;
      border: none;
      font-size: 1rem;
      >div {
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

.point-active, .point {
  width: 8px;
  height: 8px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 1rem;
}
.point-active{
  background: #000;
}
.point{
  background: #fff;  
}

// My Order Task
.div-my-order-new {
  display: flex;
  flex-direction: column;
  padding: 0px 137px 70px 70px;
  overflow: hidden;
  @media screen and (max-width: 1024px){
    padding: 0px 8px;
  }
  >h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    @media screen and (max-width: 1024px){
      text-align: center;
      margin: 30px 0px;
    }
  }
  .div-button-tab {
    display: flex;
    flex-direction: row;
    width: 100%;
    .div-tab {
      width: 25%;
      border-bottom: 0.5px solid #8D8D8D;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid #0D0D0D;
        >button {
          color: #0D0D0D;
        }
      }
      >button {
        padding: 30px 0px;
        background: transparent;
        border: none;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #8D8D8D;
        position: relative;
        @media screen and (max-width: 1024px){
          font-size: 12px;
        }
        .number-item {
          visibility: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 1024px){
            position: absolute;
            border-radius: 23px;
            background: #0D0D0D;
            color: #ffffff;
            font-size: 10px;
            visibility: visible;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 26px;
            height: 26px;
            line-height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.div-order-detail-new-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 47px 0px;
  position: relative;
  position: relative;
  .anchor-scroll {
    position: absolute;
    top: -120px;
  }
  .bt-back {
    position: absolute;
    left: 16px;
    top: 0px;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
  }
  >h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
  }
  .div-address {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 16px;
    width: 100%;
    >h4 {
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      width: fit-content;
    }
    >span:nth-child(1) {
      margin-top: 14px;
    }
    >span {
      font-size: 14px;
      color: #0D0D0D;
    }
    .address-title {
      font-size: 10px;
      color: #FFFFFF;
      padding: 0px 5px;
      background: #0D0D0D;
      border-radius: 44.303px;   
      margin-top: 22px;
      margin-bottom: 12px;   
      width: fit-content;
    }
    .address {
      font-size: 12px;
      text-transform: uppercase;
      color: #0D0D0D;
      width: 70%;
    }
  }
  >hr {
    background: #8D8D8D;
    width: 100%;
  }
  .div-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px;
    .div-list-button {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      >button:nth-child(1) {
        margin-right: 10px;
      }
      >button {
        height: 37px;
        font-size: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        padding: 0px 15px;
        border: 1px solid #0D0D0D;
        box-sizing: border-box;
        border-radius: 6px;
        background: transparent;
      }
    }
  }
  .div-tracking {
    >button {
      >img {
        margin-right: 6px;
      }
      font-size: 14px;
      color: #0D0D0D;
      width: 100%;
      padding: 8px 0px;
      background: transparent;
      border: none;
    }
  }
  .div-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    .div-total-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      >span:nth-child(1) {
        color: #8D8D8D;
      }
      >span {
        font-size: 14px;
        color: #0D0D0D;
      }
    }
    >hr {
      background: #E2E2E2;
      width: 100%;
    }
    .div-total-sum {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      >span {
        font-size: 14px;
        color: #0D0D0D;
      }
      .div-price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 14px;
        >span:nth-child(2) {
          font-size: 10px;
        }
      }
    }
  }
}
.div-tracking-mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .anchor-scroll {
    position: absolute;
    top: -120px;
  }
  .bt-back {
    position: absolute;
    left: 16px;
    top: 0px;
    background: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
  }
  >h3 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
  }
  .div-tracking-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 16px;
    background: #0D0D0D;
    margin-top: 40px;
    >span {
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
  .tracking-number {
    padding: 10px 16px;
    background: #F5ECDC;
    font-size: 12px;
    color: #0D0D0D;
  }
  .div-address {
    display: flex;
    flex-direction: row;
    padding: 16px 30px 16px 16px;
    align-items: flex-start;
    >img {
      margin-right: 10px;
      margin-top: 4px;
    }
    .address {
      flex: 1;
      display: flex;
      flex-direction: column;
      >span:nth-child(1) {
        font-weight: 500;
        font-size: 12px;
        color: #0D0D0D;
      }
      >span:nth-child(2) {
        font-size: 10px;
        text-transform: uppercase;
        color: #8D8D8D;
      }
    }
  }
  >hr {
    width: 100%;
    background: #8D8D8D;
  }
  .div-order {
    padding-left: 16px;
    font-style: italic;
    font-size: 12px;
    color: #0D0D0D;
    margin-bottom: 150px;
  }
}

.div-order-detail-new {
  display: flex;
  flex-direction: column;
  padding: 0px 137px 70px 70px;
  @media screen and (max-width: 1024px){
    padding: 0px 8px;
  }
  .div-header-order {
    display: flex;
    flex-direction: row;
    .bt-back {
      background: transparent;
      border: none;
      margin: 0px;
      margin-right: 10px;
      padding: 0px;
    }
    >h3 {
      margin: 0px;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #0D0D0D;
    }
  }
  .div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    .div-left {
      .div-order {
        font-style: italic;
        font-size: 12px;
        color: #0D0D0D;
      }
      >span {
        font-style: italic;
        font-size: 12px;
        color: #8D8D8D;
      }
    }
    .div-right {
      .text-name {
        font-size: 16px;
        color: #8D8D8D;
        >b {
          color: #0D0D0D;
        }
      }
    }
  }
  .div-info {
    display: flex;
    flex-direction: row;
    .div-address {
      width: 50%;
      display: flex;
      flex-direction: column;
      >h3 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 30px;
      }
      .name {
        font-size: 14px;
        color: #0D0D0D;
        margin-bottom: 15px;
      }
      .address-text {
        display: flex;
        .address-type {
          font-size: 12px;
          color: #FFFFFF;
          padding: 2px 5px;
          background: #0D0D0D;
          border-radius: 44.303px;
          margin-right: 11px;
          height: fit-content;
        }
        .address {
          display: flex;
          flex-direction: column;
          >span {
            font-size: 14px;
            text-transform: uppercase;
            color: #0D0D0D;
          }
          >span:nth-child(1) {
            margin-bottom: 13px;
          }
        }
      }
    }
    .div-total {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      >h3 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 30px;
      }
      .div-total-item {
        display: flex;
        justify-content: space-between;
        >span {
          font-size: 14px;
          color: #0D0D0D;
        }
      }
      >hr {
        background: #E2E2E2;
        width: 100%;
      }
      .div-total-sum {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        >span {
          font-size: 14px;
          color: #0D0D0D;
        }
        .div-price {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          >span:nth-child(2) {
            font-size: 10px;
          }
        }
      }
    }
  }
}
.wrap-process-order {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  @media screen and (max-width: 1024px) {
    margin: 16px 20px;
  }
  .div-process-order {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 50px;
    @media screen and (max-width: 1024px) {
      margin: 0px;
      flex-direction: column;
    }
    .line-bg {
      width: 75%;
      position: absolute;
      height: 4px;
      background: #E2E2E2;
      margin-top: 10px;
      z-index: 0;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 1024px) {
        width: 2px; 
        height: 100%;
        flex-direction: row;
        left: 10px;
      }
    }
    .item-order {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      @media screen and (max-width: 1024px) {
        width: 100%;
        flex-direction: row;
        margin-bottom: 50px;
        align-items: flex-start;
      }
      .circle-point {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #E2E2E2;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1024px) {
          margin-top: 10px;
        }
        >img {
          visibility: hidden;
        }
        &.active {
          background: #0D0D0D;
          >img {
            visibility: visible;
          }
        }
      }
      >span {
        font-size: 10.5px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-top: 6px;
      }
      .div-text-mobile {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1024px) {
          display: flex;
          width: calc(100% - 42px);
          margin-left: 20px;
        }
        .div-left {
          display: flex;
          flex-direction: column;
          width: 45%;
          >h4 {
            font-weight: 500;
            font-size: 16px;
            color: #0D0D0D;
          }
          >span {
            font-size: 10px;
            text-transform: uppercase;
            color: #8D8D8D;
          }
        }
        .div-right {
          display: flex;
          justify-content: flex-end;
          width: 55%;
          >span {
            font-size: 10px;
            text-align: right;
            color: #8D8D8D;
          }
        }
      }
    }
  }
  .div-note {
    display: flex;
    flex-direction: row;
    background: #F0F0F0;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    margin: 0px 30px;
    margin-top: 30px;
    .wrap-arrow {
      position: absolute;
      height: 14px;
      width: calc(100% - 50px);
      top: -14px;
      .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #F0F0F0;
        position: absolute;
        top: 0px;
        left: 10.5%;
      }
    }
    .div-date {
      font-style: italic;
      font-size: 12px;
      color: #8D8D8D;
      margin-right: 10px;
    }
    .div-text {
      font-size: 12px;
      color: #0D0D0D;
      flex: 1;
    }
  }
}

.dropdown-my-order {
  .div-display-order {
    display: flex;
    flex-direction: row;
    padding: 13px 0px;
    border-bottom: 1px solid #8D8D8D;
    width: 162px;
    justify-content: space-between;
    cursor: pointer;
    >span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #8D8D8D;
    }
  }
  .dropdown-menu {
    width: 162px;
    padding: 0px;
    border: none;
    margin-top: -40px !important;
    .drop-down-item-order {
      padding: 8px 0px;
      border-bottom: 1px solid #8D8D8D;
      cursor: pointer;
    }
  }
}

.div-item-order-new {
  display: flex;
  flex-direction: column;
  margin: 36px 0px;
  .div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .div-left {
      .div-order {
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        color: #0D0D0D;
        padding: 0px;
      }
      >span {
        font-style: italic;
        font-size: 12px;
        color: #8D8D8D;

      }
    }
    .div-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      .div-status {
        padding: 0px 10px;
        background: #F0F0F0;
        border-radius: 44.303px;
        display: flex;
        flex-direction:ZZ
        >span {
          font-size: 12px;
          display: flex;
          text-align: center;
          color: #0D0D0D;
        }
      }
      >button {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-decoration: underline;
        text-transform: uppercase;
        color: #0D0D0D;
        background: transparent;
        border: none;
        padding: 0px;
      }
    }
  }
  .div-order {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    .div-left {
      width: 65%;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 1024px) {
        // width: 80%;
        flex: 1;
        padding-right: 10px;
      }
      .div-image-product {
        width: 100px;
        height: 100px;
        margin-right: 39px;
        @media screen and (max-width: 1024px) {
          width: 68px;
          height: 68px;
          margin-right: 10px;
        }
        .div-image-bottle-custom {
          display: flex;
          height: 100%;
          justify-content: center;
          .img-bottle {
            height:100%;
          }
          .img-name {
            top: 30px;
            height: 60px;
            width: 20px;
            @media screen and (max-width: 1024px){
              top: 20px;
              width: 14px;
              height: 45px;
            }
          }
          .image-logo {
            top: 35px;
            width: 17px;
            @media screen and (max-width: 1024px) {
              top: 24px;
              width: 14px;
            }
          }
          .text-des-custome {
            width: 25px;
            font-size: 2px;
            @media screen and (max-width: 1024px) {
              width: 20px;
              font-size: 2px;
              bottom: 12px;
            }
          }
          .text-size-custome {
            font-size: 2px;
            @media screen and (max-width: 1024px) {
              bottom: 9px;
            }
          }
          .custome-name {
            top: 60px;
            font-size: 3px;
            @media screen and (max-width: 1024px) {
              top: 36px;
              font-size: 2px;
            }
          }
          .div-ingredients {
            top: 55px;
            @media screen and (max-width: 1024px) {
              top: 35px;
            }
            >span {
              font-size: 3px;
              @media screen and (max-width: 1024px) {
                font-size: 2px;
              }
            }
          }
        }
      }
      .img-product {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        margin-right: 39px;
        object-fit: contain;
        @media screen and (max-width: 1024px) {
          width: 68px;
          height: 68px;
          margin-right: 10px;
        }
      }
      .div-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
      }
      .div-text-bottom {
        display: flex;
        justify-content: space-between;
        >span:nth-child(2) {
          margin-right: 50px;
        }
      }
    }
    .div-mid {
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .div-right {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        width: auto;
      }
      .bt-review {
        height: 43px;
        background: #0D0D0D;
        border-radius: 6px;
        font-size: 13.5px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0px 1rem;
        border: none;
        &.detail {
          background: transparent;
          border: none;
          text-decoration: underline;
          color: #0D0D0D;
        }
      }
      .div-status {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        .bt-reorder {
          height: 43px;
          padding: 0px 21px;
          background: #0D0D0D;
          border-radius: 6px;
          margin-top: 16px;
          border: none;
          color: #ffffff;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          font-weight: 500;
          @media screen and (max-width: 1440px) {
            height: calc(43px * 0.75);
            margin-top: calc(16px * 0.75);
          }
        }
      }
    }
    .div-left, .div-mid, .div-right {
      .text-type {
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #8D8D8D;
        @media screen and (max-width: 1024px) {
          font-size: 8px;
        }
      }
      .text_name {
        font-size: 16px;
        color: #0D0D0D;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
      .text-quantity {
        @media screen and (max-width: 1024px) {
          font-size: 12px;
          color: #8D8D8D;

        }
      }
      .text-weights {
        font-size: 12px;
        color: #8D8D8D;
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          color: #8D8D8D;

        }
      }
      .div-info-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .div-status {
          padding: 0px 10px;
          background: #F0F0F0;
          border-radius: 44.303px;
          display: flex;
          flex-direction:ZZ
          >span {
            font-size: 12px;
            display: flex;
            text-align: center;
            color: #0D0D0D;
          }
        }
        .bt-reorder {
          height: 37px;
          padding: 0px 9px;
          background: #0D0D0D;
          border-radius: 6px;
          margin-top: 12px;
          border: none;
          color: #ffffff;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      .text-number {
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          line-height: 12px;
          text-align: right;
          color: #0D0D0D;
        }
      }
      .text-total {
        font-weight: 500;
        font-size: 12px;
        text-align: right;
        color: #0D0D0D;
      }
    }
  }
}

.reward-progress{
  .step{
    background: transparent;
    height: 10px;
    border: 1px solid #0d0d0d;
  }
  > div:first-of-type .step{
    border-radius: 50px 0px 0px 50px;
    border-right: 0;
  }
  > div:nth-child(3) .step{
    border-left: 0;
    border-radius: 0px 50px 50px 0px;
  }
  .active{
    background: #B79B53;
  }
}