.cookieConsentContainer {
  z-index: 999;
  width: 350px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;
  background: #0D0D0D;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  animation: fadeIn 2s;
  border-radius: 6px;
  opacity: 0.9;

  .cookieTitle {
    span {
      // font-family: Open Sans;
      color: #ffffff;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
      display: block;
    }
  }

  .cookieDesc {
    span {
      margin: 0;
      padding: 0;
      // font-family: Open Sans;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      display: block;
      margin-top: 1.25rem;
    }
    button {
      // font-family: Open Sans;
      color: #ffffff;
      text-decoration: underline;
      border: none;
      background: transparent;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .cookieDetail {
      span {
        cursor: pointer;
        color: #fff;
        // font-family: Open Sans;
        font-size: 0.875rem;
        text-decoration-line: underline;
      }
    }

    u {
      cursor: pointer;
    }
  }
  
  .cookieButton {
    margin-top: 1.5rem;
    button {
      border-radius: 6px;
      background-color: #fff;
      display: inline-block;
      // font-family: Open Sans;
      color: #0D0D0D;
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 0.2em;
      box-sizing: border-box;
      padding: 15px 24px;
      text-align: center;
      transition: background 0.3s;
    }

    // &:hover {
    //   cursor: pointer;
    //   // background: #3e9b67;
    // }
  }
}

@media (max-width: 980px) {
  .cookieConsentContainer {
    bottom: 0px !important;
    left: 0px !important;
    width: 100% !important;
  }
}
