
@keyframes animation-image_icon {
  0% {
    width: 0%;
  }
  100% {
    width: 20px;
  }
}

.b2blandingHome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >.logo {
    height: 500px;
  }
}
.img-bags_menu{
  width: 36px;
  height: 36px;
}
.img-bags_button{
  width: 20px;
  height: 20px;
  margin: 3px 2px 3px 2px;
}
.span-menu_number{
  position: absolute;
  left: 43%;
  top: 37%;
  color: red;
}
.b2b-bt-fix_top{
  position: absolute;
  top: 35px;
  background: transparent;
  border: none;
  z-index: 2;
  > i {
    font-size: 1.7rem;
    color: black;
  }
  &-left {
    left: 40px;
  }
  &-right {
    right: 40px;
  }
  &-margin_right {
    right: 20vw;
  }
  &-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.b2b-menu {
  position: absolute;
  top: 40px;
  background-color: #1a1a1aaa;
  left: 40px;
  z-index: 4;
  > button {
    background: transparent;
    color: #fff;
    right: -0.5rem;
    position: absolute;
    font-size: 1rem;
    top: -1rem;
    border: none;
  }
  .b2b-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px 40px 20px;
    > a {
      color: #fff;
      font-size: 1.1rem;
      margin-top: 5px;
      margin-right: 5px; 
    }
  }
}

.bg{
  top: 0px;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.bg-right {
  top: 0px;
  right: 0px;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.information {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  .block1, .block2 {
    width: 65vw;
    display: flex;
    flex-direction: row;
    z-index: 1;
  }
  .block1 {
    height: 35vh;
    .div-img {
      width: 50%;
      padding-right: 50px;
      >img{
        height: 100%;
        width: fit-content;
        object-fit: cover;
        object-position: center;
      }
    }
    .div-text {
      width: 50%;
      flex: 1;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > .div-line {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
          background-color: #1a1a1a; 
          height: 1px;
          width: 100%
        } 
      }
    }
  }
  .block2 {
    margin-top: 50px;
    height: 35vh;
    > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      object-position: center;
    }
  }
}

.capsure {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .div-bg-text {
    height: 100vh;
    width: 20vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50px;
    > .div-line1 {
      height: 100px;
      width: 1px;
      background-color: #1a1a1a;
    }
    >img {
      width: 50px;
    }
    >.div-line2 {
      flex: 1;
      width: 1px;
      background-color: #1a1a1a;
    }
  }
  .body {
    width: 75vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    .b2btitle {
      font-size: 1.5rem;
    }
    .content {
      width: 55vw;
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .content-capsule {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .div-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        > button {
          background-color: transparent;
          border: 1px solid #1a1a1a;
          color: #1a1a1a;
          padding: 7px 10px 7px 10px;
        }
      }
    }
  } 
}

.capsureItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >.image{
    height: 60%;
    object-fit: cover;
    object-position: center;
  }
  >.text{
    padding-top: 10px;
    height: 30%;
    text-align: center;
  }
  >.button {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    > button{
      background: transparent;
      border: 1px solid #1a1a1a;
      > i {
        font-size: 1.3rem;
        color: #1a1a1a;
        padding-top: 4px;
      }
    }
  }
}

.bottles {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  >.bg-bottles {
    height: 100vh;
    width: calc(80vw - 100px);
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  >.body{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    >.image {
      height: 30vh;
      object-fit: cover;
      object-position: center;
    }
    >.content{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      >.div-title{
        display: inline-flex;
        margin-top: 30px;
        .line-title {
          height: 1px;
          width: 110px;
          background-color: #1a1a1a;
          position: absolute;
        }
        > img {
          height: 40px;
          margin-left: 100px;
        }
      }
      >.div-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        >img {
         height: 60%; 
        }
        >.line-bottles {
          margin-top: 1.5rem;
          width: 60%;
          background: #1a1a1a;
          height: 1px;
        }
      }
      >.control {
        height: 34%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 100px;
        >button {
          background-color: transparent;
          border: 1px solid #1a1a1a;
          width: 42.81px;
          margin-bottom: 50px;
          margin-top: 15px;
          > i{
            font-size: 1.3rem;
            color: #1a1a1a;
            padding-top: 4px;
          }
        }
        > .div-button {
          >button {
            background-color: transparent;
            border: 1px solid #1a1a1a;
            color: #1a1a1a;
            padding: 7px 10px 7px 10px;
          }
        }
      }
    }
  }
}

.alcohol {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  >.body{
    width: 60vw;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    >.image {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    >.content{
      display: flex;
      flex-direction: column;
      >.div-title{
        display: inline-flex;
        > .div-line {
          height: 1px;
          width: 200px;
          margin-left: -85px;
          margin-right: 0px;
          margin-top: 100px;
          background-color: #1a1a1a;
        }
        > img{
          height: 40px;
          margin-top: 100px;
          margin-bottom: 30px;
          margin-left: -16px;
        }
      }
      >.div-text {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        >img {
         height: 60%; 
        }
        >.line-bottles {
          margin-top: 1.5rem;
          width: 60%;
          background: #1a1a1a;
          height: 1px;
        }
      }
      >.control {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 100px;
        >button {
          background-color: transparent;
          border: 1px solid #1a1a1a;
          width: 42.81px;
          margin-bottom: 50px;
          margin-top: 15px;
          > i{
            font-size: 1.3rem;
            color: #1a1a1a;
            padding-top: 4px;
          }
        }
        > .div-button {
          >button {
            background-color: transparent;
            border: 1px solid #1a1a1a;
            color: #1a1a1a;
            padding: 7px 10px 7px 10px;
          }
        }
      }
    }
  }
}

.div-span-account {
  position: relative;
  float: left;
  width: 100%;
  >.span-down, >.span-down-header {
    
    > .b2b-select, >.b2b-select-header {
      position: relative;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: 0 0;
      border: none;
      border-radius: 0;
      font-size: 1rem;
      margin: 0;
      border-bottom: 1px solid #000000;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align-last: center;
    }
    &::after{
      content: '';
      position: absolute;
      z-index: 1;
      display: inline-flex;
      pointer-events: none;
      background: transparent url('../image/icon/arrow-down.png') no-repeat;
      background-size: 12px;
      right: 0px;
      width: 12px;
      height: 12px;
      top: 56%;
      transform: translateY(-50%);
    }
  }
  >.span-down::after {
    right: -5px;
  }
  >.span-down-header {
    &::after {
      right: -15px;
    }
    >.b2b-select {
      font-size: 1.2rem;
    }
  }
}

.div-span {
  position: relative;
  float: left;
  width: fit-content;
  >.span-down, >.span-down-header {
    
    > .b2b-select, >.b2b-select-header {
      position: relative;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: 0 0;
      border: none;
      border-radius: 0;
      font-size: 1rem;
      margin: 0;
    }
    &::after{
      // content: '';
      // position: absolute;
      // z-index: 1;
      // top: 50%;
      // -webkit-transform: translateY(-50%);
      // -ms-transform: translateY(-50%);
      // transform: translateY(-50%);
      // display: block;
      // pointer-events: none;
      // border-left: 6px solid transparent;
      // border-right: 6px solid transparent;
      // border-top: 10px solid #0B2239;
      // border-radius: 2px;

      content: '';
      position: relative;
      z-index: 1;
      display: inline-flex;
      pointer-events: none;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 10px solid #0B2239;
      border-radius: 2px;
    }
  }
  >.span-down::after {
    right: -5px;
  }
  >.span-down-header {
    &::after {
      right: -15px;
    }
    >.b2b-select {
      font-size: 1.2rem;
    }
  }
}

.packaging {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  >.content {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .image {
      width: 20%;
      display: inline-flex;
      .line-title {
        height: 1px;
        flex: 1;
        background-color: #1a1a1a;
      }
      > img {
        justify-content: flex-end;
        height: 45px;
      }
    } 
    .package{
      width: 80vw;
      padding-right: 50px;
      padding-left: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  >.div-button{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >button {
      background-color: transparent;
      border: 1px solid #1a1a1a;
      color: #1a1a1a;
      padding: 7px 10px 7px 10px;
    }
  }
}

.account_edit-text {
  display: flex;
  flex-direction: column;
  >span{
    color: #7f7f7f;
    margin-top: 20px;
  }
  >input {
    border: none;
    border-bottom: 1px solid #7f7f7f;
    padding: 4px 10px 4px 10px;
    background: transparent;
    
  }
  .text-short {
    margin-right: 100px;
  }
  .text-long {
    margin-right: 30px;
  }
}

.div-detail {
  margin-top: 20px;
}

.account-bt_edit {
  background-color: transparent;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  padding: 7px 10px 7px 10px;
}

.address-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  >.title {
    color: #7f7f7f;
    width: 120px
  }
  >.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 220px;
  }
  >.div-button {
    display: block;
    >button {
      float: right;
      background: transparent;
      border: none;
    }
  }
}
.account {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  >.div-image {
    margin-top: 50px;
    width: 100%;
    height: 120px;
    margin-left: 30vw;
    display: flex;
    flex-direction: row;
    > img{
        height: 40px;
        float: left;
    }
    >.line-logo {
      height: 1px;
      flex: 1;
      background-color: #1a1a1a;
      margin-top: 12px;
    }
  }
  >.body {
      display: flex;
      flex-direction: row;
      >.header {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-top: 20px;
        >button {
          width: fit-content;
          color: #1a1a1a;
          margin-left: 30%;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 1.1rem;
          cursor: pointer;
        }
        >.active {
          border-bottom:1px solid #1e2f45;
        }
      }
      >.image{
          width: 33%;
          display: flex;
          flex-direction: column;
          align-items: center;
          >img{
            width: 120px;
          }
      }
      >.content {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          >.div-detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            >span{
              color: #7f7f7f;
              margin-top: 20px;
            }
            >input {
              border: none;
              border-bottom: 1px solid #7f7f7f;
              padding: 4px 10px 4px 10px;
            }
            > textarea {
              margin-top: 10px;
              height: 80px;
            }
            >.div-button{
              margin-top: 80px;
              margin-bottom: 120px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              >button {
                background-color: transparent;
                border: 1px solid #1a1a1a;
                color: #1a1a1a;
                padding: 7px 10px 7px 10px;
              }
            }
            >.row >.address-content {
              width: 60%;

            }
            >.row >.address-add {
              width: 40%;
              >button {
                background: transparent;
                color: #7f7f7f;
                border: none;
              }
            }
          }
      }
  }
  
}

.order-history-item{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 90%;
  border: 1px solid #1a1a1a;
  > .body1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    >.div-line{
      height: 1px;
      background: #1a1a1a;
      width: 200px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    >.title-item {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    >.item {
      display: block;
      margin-bottom: 15px;
      > img {
        float: left;
        margin-right: 30px;
        height: 7rem;
      }
    }
    >.title-margin{
      margin-top: 15px;
    }
  }
  > .body2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
  }
}
.underline {
  text-decoration: underline;
}

.package-item {
  display: block;
  margin-right: 50px;
  >img {
    float: left;
    height: 100%;
    margin-right: 50px;
  }
  > div {
    // font-family: Roboto;
  }
}
.cd-cart {
  .cd-card__layout {
    right: -730px;
    transition: all 225ms;
    @media screen and (max-width: 1024px){
      top: 140vh;
    }
  }
  .div-bg-click {
    visibility: hidden;
  }
}
.cd-cart::before {
  content: '';
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}
.cart-drawer {
  width: 731px;
  height: calc(100vh);
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px){
    height: 100vh;
    width: 100%;
  }
}
.cd-cart.cd-cart--open {
  .div-bg-click {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background: transparent;
    z-index: 1;
    visibility: visible;
  }
  > .cd-card__layout {
    height: calc(100vh);
    top: 0px;
    // width: 440px;
    width: 731px;
    max-width: 100vw;
    z-index: 10;
    @media screen and (max-width: 1024px){
      height: 100vh;
      top: 0px;
      width: 100%;
    }
    &.top-scroll {
      top: 184px;
      @media screen and (max-width: 1440px){
        top: 150px;
      }
    }
    &.top-scroll-small {
      top: 110px;
    }
    &.show-gift {
      right: 390px;
      transition: all 0.5s;
    }
    &.not-gift {
      right: 0px;
      transition: all 225ms;
    }
    &.full {
      width: 100vw;
      display: flex;
      align-items: flex-end;
      .cd-cart__body {
        overflow: hidden;
        // width: 440px;
        width: 731px;
      }
    }
    &.div-your-gift {
      right: 0px;
      width: 390px;
      background: #F2F2F2;
      overflow: hidden;
    }
    // &.show-discount {
    //   .div-learn-more {
    //     margin-top: 223px;
    //   }
    // }
    &.div-more {
      // right: 440px;
      right: 731px;
      width: 510px;
      background: #F8F8F8;
      overflow: hidden;
      @media screen and (max-width: 1024px){
        right: 0px;
        width: 100%;
      }
      &.show-gift {
        right: 1121px;
        transition: all 225ms;
      }
      &.not-gift {
        right: 731px;
        transition: all 225ms;
      }
      &.open {
        visibility: visible;
      }
      .div-back-button {
        display: flex;
        justify-content: flex-end;
        margin: 20px;
        >button >img {
          height: 25px;
        }
        @media screen and (max-width: 1024px) {
          justify-content: flex-start;
          >button {
            transform: rotate(180deg);
          }
        }
      }
      .div-scroll {
        width: 100%;
        overflow-y: auto;
        >h3 {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          width: 100%;
          padding: 0px 30px;
          text-transform: uppercase;
        }
        .div-list-icon {
          display: flex;
          justify-content: space-between;
          padding: 40px 30px;
          width: 100%;
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            >img {
              height: 16px;
            }
            >span {
              font-size: 14px;
              color: #000000;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              margin-top: 12px;
            }
          }
        }
        .div-des {
          width: 100%;
          padding: 0px 30px 80px 30px;
          color: #0D0D0D;
        }
      }
    }
    @media only screen and (max-width: 600px) {
      width: 100vw;
      &.full {
        width: 100vw;
        .cd-cart__body {
          overflow: hidden;
        }
      }
    }
  }
  &::before{
    opacity: 1;
    visibility: visible;
  }
}
.cd-card__layout {
  position: absolute;
  width: 0px;
  height: calc(100vh);
  // height: 0px;
  top: 0px;
  right: 0px;
  z-index: 90;
  overflow: hidden;
  // border-radius: 0.25rem;
  // transition: all .4s .1s, box-shadow .3s;
  // transition: height .4s .1s, width .4s .1s, box-shadow .3s;
  // transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #fff;
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  &.top-scroll {
    top: 150px;
  }
  @media screen and (max-width: 1024px) {
    width: 100vw;
    top: 110vh;
  }
}

.div-buy-more {
  display: flex;
  width: 100%;
  padding: 17px 75px 37px 75px;
  @media screen and (max-width: 1024px){
    padding: 10px 30px 40px 30px;
  }
}

.div-free-delivery {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 9px 0px;
  border-top: none;
  border-bottom: 1px solid #E2E2E2;
}

.div-up-sell {
  display: flex;
  align-items: center;
  padding: 25px 22px;
  border-bottom: 1px solid #E2E2E2;
  // @media screen and (max-width: 1440px) {
  //   padding: 18px 20px;
  // }
  @media screen and (max-width: 1024px) {
    padding: 32px 30px;
    align-items: flex-start;
  }
  >img {
    width: 66px;
    height: 68px;
    object-fit: cover;
    object-position: center;
    margin-left: 13px;
    margin-right: 26px;
    // @media screen and (max-width: 1440px) {
    //   width: calc(66px * 0.75);
    //   height: calc(68px * 0.75);
    //   margin-left: calc(13px * 0.75);
    //   margin-right: calc(26px * 0.75);
    // }
    @media screen and (max-width: 1024px) {
      width: 61px;
      height: 63px;
      margin-left: 0px;
      margin-right: 17px
    }
  }
  .div-right {
    flex: 1;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .text-name {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: #0D0D0D;
      padding-right: 20px;
      >h3 {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 13px;
        // @media screen and (max-width: 1440px) {
        //   font-size: calc(16px * 0.75);
        //   margin-bottom: calc(13px * 0.75);
        // }
        @media screen and (max-width: 1024px) {
          font-size: 16px;
          margin-bottom: 9px;
        }
      }
      >span {
        font-size: 14px;
        // @media screen and (max-width: 1440px) {
        //   font-size: calc(14px * 0.75);
        // }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
    }
    >button {
      height: 46px;
      background: #B79B53;
      border-radius: 6px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      padding: 0px 28px;
      border: none;
      // @media screen and (max-width: 1440px) {
      //   height: calc(46px * 0.75);
      //   font-size: calc(18px * 0.75);
      //   padding: 0px 21px;
      // }
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 32px;
        font-size: 16px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        margin-top: 38px;
        border-radius: 3px;
      }
    }
  }
}

.div-learn-more {
  width: 100%;
  display: flex;
  height: 40px;
  background: #0D0D0D;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  // margin-top: 60px;
  // position: absolute;
  @media screen and (max-width: 1024px){
    // margin-top: 60px;
  }

  >span {
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.1em;
  }
  >button {
    padding: 0px;
    margin-left: 10px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0.1em;
  }
}
.cd-cart__header {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25rem 0.25rem 0 0;
  // height: 40px;
  // line-height: 40px;
  background-color:#fff;
  transition: opacity .2s 0s;
  border-bottom: 1px solid #E2E2E2;
  padding: 20px 0px;
  .div-title {
    > h2, .header-h2 {
      text-transform: uppercase;
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 500;
      color: #0D0D0D;
      letter-spacing: .1em;
      margin-top: auto;
      margin-bottom: 0px;
      margin-left: 20px;
    }
    >span {
      color: #8D8D8D;
      font-size: 1.1rem;
      letter-spacing: .1em;
      margin-left: 3px;
    }
  }
}
.cd-cart--open .cd-cart__header {
  transition: opacity .2s .2s;
  opacity: 1;
}

.cd-cart__undo {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
  color: hsl(210, 31%, 28.8%);
  color: hsl(var(--cd-color-1-h), var(--cd-color-1-s), calc(var(--cd-color-1-l)*1.2));
  font-size: 0.69444em;
  font-size: var(--text-xs);
}
.cd-cart__body {
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 0.75em;
  padding-top: var(--space-sm);
  padding-bottom: 0.75em;
  padding-bottom: var(--space-sm);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity .2s;
  // margin-bottom: 72px;
  // margin-top: 40px;
  > ul {
    padding-left: 0px;
    margin-bottom: 0px;
    > li {
      list-style-type: none;
      margin-top: 10px;
    }
  }
  .div-point-detail {
    >img {
      width: 21px;
      height: 21px;
      @media screen and (max-width: 1440px) {
        width: 17px;
        height: 17px;
      }
      @media screen and (max-width: 1024px) {
        width: 18px;
        height: 18px;
      }
    }
    >span {
      font-size: 18px;
      @media screen and (max-width: 1440px) {
        font-size: 14px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 15px;
      }
    }
  }
  .div-total {
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 20px;
    .div-point-detail {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .title-total {
      font-size:18px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      @media screen and (max-width: 1024px){
        font-size:14px;
      }
    }
    .old-price {
      font-size: 14px;
      text-decoration: line-through;
      color: #8D8D8D;
      @media screen and (max-width: 1024px){
        font-size:10px;
      }
    }
    .price {
      font-size: 22px;
      color: #0D0D0D;
      @media screen and (max-width: 1024px){
        font-size:16px;
      }
    }
  }
  .line-button {
    position: absolute;
    bottom: 40px;
    left: 0px;
    background: #ffffff;
    border-top: 1px solid rgba(129,129,129,.2);
    box-shadow: 0 0 10px 0 rgba(129, 129, 129, 0.2);
    display: flex;
    padding: 40px 60px;
    width: 100%;
    justify-content:space-between;
    z-index: 9;
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      padding: 34px 30px;

    }
    .div-bt-checkout {
      width: calc(50% - 19px);
      @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 0px;
      }
      > button {
        border: none;
        background: #0D0D0D;
        color: #ffffff;
        width: 100%;
        border-radius: 6px;
        height: 60px;
        letter-spacing: 0.2em;
        font-size: 18px;
      }
    }
    .div-bt-continue {
      width: calc(50% - 19px);
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      > button {
        border: 1px solid #0D0D0D;
        background: #ffffff;
        color: #0D0D0D;
        width: 100%;
        border-radius: 6px;
        height: 60px;
        letter-spacing: 0.2em;
        font-size: 18px;
      }
    }
  }
  
  .gift-free-mobile {
    margin: 0px 30px;
    background: #F2F2F2;
    margin-top: 20px;
  }

  .div-shipping-text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    position: absolute;
    bottom: 0px;
    background: #ffffff;
    @media screen and (max-width: 1024px) {
      margin-bottom: 40px;
      position: relative;
      bottom: unset;
    }
  }
  .get-now-pay-later {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
    margin-bottom: 201px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 235px;
    }
    >button {
      font-size: 16px;
      color: #0D0D0D;
      >img {
        margin-left: 16px;
      }
    }
  }
  .div-social {
    margin: 50px;
    justify-content: space-around;
  }
  .div-info {
    > span {
      color: #0D0D0D;
      font-size: '1.5rem';
      font-weight: 700;
    }
    > div >span {
      font-size: 0.6rem;
      color: #0D0D0D;
    }
  }
}
.cd-cart--open .cd-cart__body {
  transition: opacity 0s;
}

.cd-cart__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 72px;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 -2px 20px rgba(0,0,0,0.15);
  background:#fff;
  display: flex;
  > .value {
    flex: 1;
    height: 72px;
    background: #1a1a1a;
    > .cd-cart__checkout {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: #1a1a1a;
      border: none;
      &:hover {
        text-decoration: none;
      }
      > em {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 600;
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        > img {
          width: 30px;
          margin-left: 1rem;
        }
        &:hover {
          &::after {
            background-image: url('../image/arrow-right.svg');
            background-size: 20px 72px;
            background-repeat: no-repeat;
            display: inline-block;
            width: 20px;
            height: 71px;
            margin-left: 1rem;
            content: "";
          }
        }
      }
    }
  }
  > button{
    height: 100%;
    width: 72px;
    float: right;
    background: transparent;
    > img {
      width: 25px;
    }
  }
}

.cardItem {
  width: 100%;
  display: block;
  height: auto;
  >img{
    float: left;
    height: 70px;
  }
  >.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    >.block1 {
      margin: 10px 20px 10px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    >.block2 {
      margin: 0px 20px 0px 20px;
      display: flex;
      flex-direction: row;
      >button {
        background: transparent;
        border: none;
        color: #7f7f7f;
        margin-right: 10px;
      }
    }
  }
}

.checkout {
  width: 80%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  >.checkout-title {
    display: inline-flex;
    width: 100%;
    padding-top: 150px;
    > img {
      height: 40px;
      float: left;
    }
    > .line-checkout {
      height: 1px;
      width: 100%;
      background-color: #1a1a1a;
    }
  }
  >.content{
    display: flex;
    flex-direction: row;
    >.co-block1, .co-block2 {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    >.co-block1 {
      >.div-product {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        >.wrap-cardItem{
          flex: 1;
        }
      }
    }
    >.co-block2 {
      margin-left: 70px;
      margin-right: 70px;
      display: flex;
      flex-direction: column;
      >.div-money{
        flex:1;
        flex-direction: column;
        justify-content: flex-end;
        display: flex;
        >.text-money, >.text-money-total{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          >.name {
            font-size: 20px;
            color: #858786;
          }
          >.value {
            font-size: 20px;
            color: #1a1a1a;
          }
        }
        >.text-money-total {
          >.name{
            color: #1a1a1a;
            font-weight: 600;
          }
          >.value{
            color: #1a1a1a;
            font-weight: 600;
          }
        }
        >.checkout-bt_total{
          width: 100%;
          height: 60px;
          >button{
            width: 100%;
            border: none;
            height: 100%;
            background: #1a1a1a;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.checkout-bt{
  width: 80px;
  height: 35px;
  background-color: #d6d8d2;
  color: #1a1a1a;
  border: none;
  font-weight: 600;
  padding: 0px;
}
.co-block-data {
  display: flex;
  flex-direction: column;
  >.content {
    display:inline-flex;
    >.text{
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 40px;
      >div, >span  {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
      }
    }
    >button{
      float: right;
      width: 93px;
    }
  }
}
.checkout-input-edit {
  width: 100%;
  display: inline-flex;
  >span {
    float: left;
    width: 200px;
  }
  >input {
    border: none;
    border-bottom: 1px solid #d6d8d2;
    width: 100%;
  }
}

.new-cartItem {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E2E2E2;
  font-size: 14px;
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
  
  .image-custome {
    position: relative;
    .div-image-bottle-custom {
      .img-bottle {
        height: 131px;
        margin-top: 10px;
      }
      .div-ingredients {
        &.onMid {
          top: 86px;
        }
        >span {
          font-size: 2px;
        }
      }
    }
    .div-text-scent {
      position: absolute;
      left: 50%;
      top: 65%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      >span {
        font-size: 3px;
        color: #0D0D0D;
        @media screen and (max-width: 576px){
          font-size: 2.5px;
        }
        @media screen and (min-width: 576px) and (max-width: 1024px){
          font-size: 3.5px;
        }
      }
    }
  }
  .div-content {
    padding-right: 20px;
    .div-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sp-title {
        font-size:12px;
        width: 150px;
        @media screen and (max-width: 1024px){
          width: unset;
        }
      }
      >button {
        >img {
          height: 15px;
        }
      }
    }
    .div-remove {
      // max-width: 200px;
      @media screen and (max-width: 1024px) {
        max-width: unset;
      }
    }
    .sp-title {
      color: #8D8D8D;
      text-transform: uppercase;
      font-size: 16px;
    }
    .sp-text-price {
      margin-left: 50px;
      >span {
        color: #0D0D0D;
        font-size: 18px;
      }
    }
    .div-custome {
      margin-top: 15px;
      .title-name {
        margin: 20px 0px;
        color: #0D0D0D;
        font-size: 14px;
      }
      .sp-title {
        color: #8D8D8D;
        text-transform: uppercase;
      }
      .sp-text {
        color: #0D0D0D;
        height: 25px;
      }
      > div {
        margin-top: 15px;
        > button {
          color: #0D0D0D;
        }
      }
    }
    .div-remove {
      .div-button {
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        padding: 1px 5px;
        display: flex;
        align-items: center;
        >span {
          font-size: 18px;
        }
        >button {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        >button:nth-child(1) >img {
          width: 12px;
        }
        >button:nth-child(3) >img {
          height: 14px;
        }
      }
    }
  }
}
.div-checkout-items-web {
  width: 100%;
  .div-info {
    width: 70%;
    .div-header {
      >button {
        border: none;
      }
    }
    .div-content{
      .div-custome{
        .title-name {
          margin: 93px 0px;
        }
      }
    }
  }
  .div-price {
    width: 30%;
    .div-remove {
      .div-button {
        border: 1px solid #0D0D0D;
        padding: 5px;
        height: 39px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }
  &.div-checkout-items-web-club {
    .div-info {
      .div-content {
        justify-content: center;
        .sp-title {
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
        .div-custome {
          .title-name {
            margin: 93px 0px;
          }
        }
      }
    }
    .div-price {
      justify-content: center;
      position: relative;
      .div-remove {
        align-items: center;
        .div-button {
          visibility: hidden;
        }
        >span {
          font-weight: bold;
        }
      }
      .div-bt-remove {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }
  }
}

.border-checkout {
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: 1px solid #0D0D0D;
  border-radius: 6px;
  height: 50px;
  &.disabled {
    cursor: no-drop;
  }
  &.error {
    border: 1px solid red !important;
  }
}
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 97% 50%;
  background-repeat: no-repeat;
  background-image: url('../image/icon/ic-down.svg');
}

.free-gift {
  padding: 20px 22px;
  background: #F2F2F2;
  .div-left {
    width: 90px;
    margin-right: 22px;
    >img {
      width: 100%;
    }
  }
  .div-right {
    flex: 1;
    color: #0D0D0D;
    .div-text {
      justify-content:space-between;
      align-items:center;
      >div {
        >h3 {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 12px;
        }
        >span {
          font-size: 14px;
        }
      }
      >button {
        background: #B79B53;
        border-radius: 4px;
        width: 39px;
        height: 39px;
        border: none;
        >img {
          height: 21px;
        }
      }
    }
    .div-text-bottom {
      justify-content:space-between;
      align-items: center;
      margin-top: 27px;
      >span{
        font-size: 14px;
      }
      .text-green {
        color: #4CD964;
        margin-left: 6px;
      }
    }
  }
}