.capsule-page {
  position: relative;
  >.header{
    position: fixed;
    width: 80vw;
    height: 110px;
    background: #ffffff;
    z-index: 2
  }
  >.image-title {
    position: absolute;
    right: 0;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    >.line {
      width: 1px;
      background-color: #1a1a1a;
    }
    >img {
      height: 100px;
    }
    >.line-top {
      height: 60px;
    }
    >.line-bottom {
      height: 60px;
    }
  }
  >.content {
    padding-top: 300p;
    padding-top: 200px;
    padding-right: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    >.div-filter {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-left: 20vw;
      margin-bottom: 100px;
      >.line-space {
        height: 30px;
        width: 1px;
        background-color: #1a1a1a;
        margin-left: 32px;
        margin-right: 20px;
      }
    }
    >.div-capsule {
      width: 100%;
      margin-left: 20vw;
    }
  }
}
.icon-top {
  display: block;
  pointer-events: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 16px solid #0B2239;
  border-radius: 2px;
  float: right;
  margin-top: 0.5rem;
  margin-left: 9px;
}
.bt-back-top {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}
.capsule-detail{
  position: fixed;
  top: 200px;
  display: block;
  width: 70vw;
  left: 10vw;
  height: calc(70vw*9/16);
  >button {
    position: absolute;
    right: 0;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1a1a1a;
    color: #fff;
  }
  >.content{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    background: #1a1a1aaa;
    display: flex;
    align-items: center;
    >img {
      vertical-align: middle;
      border-style: none;
      height: 300px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 50px;
    }
    > div {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      >span {
        // font-family: Roboto;
      }
      >.price {
        font-size: 1.2rem;
        color: #fff;
        margin-bottom: 1.2rem;
      }
      >.name {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 1rem;
      }
      .description {
        color: #fff;
        width: 300px;
      }
      .div-span {
        margin-top: 1.3rem;
        margin-bottom: 1.5rem;
        > span {
          color: #fff;
        }
        >.span-down {
          >.b2b-select {
            color: #fff;
          }
          > .b2b-select {
            position: relative;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: 0 0;
            border: none;
            border-radius: 0;
            font-size: 1rem;
            margin: 0;
          }
        }
        >.span-down::after {
          right: -15px;
          border-top: 10px solid #fff;
        }
      }
      > button {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        width: 40px;
        height: 35px;
        >i {
          font-size: 1.2rem;
        }
      }
    }
  }
}