// mobile
@media only screen and (max-width: 600px) {
  .container {
    &--occasion {
      display: flex;

      &__logo {
        width: 100px;
        height: 100%;
      }

      &__image {
        justify-content: flex-start;
        width: 100%;
        flex-direction: column;
      }

      &__image-item {
        width: 200px;
        overflow-y: auto;
        max-height: 500px;
      }

      &__right {
        width: 100px;
      }
    }
  }

  .text-title {
    font-size: 1.2rem;
  }

  .container_full {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .image-gallery-image {
    >img {
      height: 240px;
      object-fit: cover;
      object-position: center;
    }
  }

  .image-gallery-thumbnail-inner {
    >img {
      width: 192px;
      height: 90px;
      object-fit: cover;
    }
  }

  .icon_size {
    width: 12px;
    height: 12px;
  }

  .button-finish {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #e3d8df;
    bottom: 0px;
    left: 0%;
    transform: translate(0, 0);
    padding-bottom: 5px;
  }

  .text__container {
    // padding-top: 35px;
    // padding-bottom: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 0px;
    &.padding-top-70 {
      padding: 70px 0px;
    }
    &.padding-top-30 {
      padding: 30px 0px;
    }
    &.padding-top-50 {
      padding: 50px 0px;
    }
    .div-content-body {
      margin-top: 60px;
      @media screen and (max-height: 1024px) {
        margin-top: 0px;
      }
    }
  }

  .background--home {
    margin-left: 0px;
  }

  .container_result {
    >.text_detail {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .container-scent {
    >.col-full {

      // >.container-text{
      //     align-items: flex-end;
      // }
      >.container-image {
        >.children:nth-child(1) {
          // display: flex;
          flex: 1;
          margin-right: 10px;
          height: auto;

          >div>img {
            width: 100%;
          }
        }

        >.children:nth-child(2) {
          display: flex;
          flex: 1;
          margin-left: 10px;
          height: auto;

          >div>img {
            width: 100%;
          }
        }
      }

      >.div-button {
        align-items: flex-start;

        >.button-order {
          margin: 0px;
        }
      }
    }

    >.div_findoutmore {
      >.input-email {
        >input {
          width: 60%;
        }

        >button {
          float: right;
        }
      }
    }
  }

  .question__container {
    &--Yes {
      font-size: 1.5rem;
    }
  }

  .div-start {
    color: #ffffff;

    >img {
      height: auto;
      width: 80vw;
    }

    >span {
      // margin-top: 50px;
      font-size: 1rem;
    }

    >.button-animal {
      margin-top: 40px;
    }
  }

  .text__title {
    &--question {
      font-size: 1.5rem;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 28px;
      }
    }
  }
}

// Ipad
@media (min-width: 576px) {
  .register__modal {
    max-width: 620px;
  }

  .col-md-3 {
    padding-top: .3rem;
    padding-bottom: .3rem;
  }

  .container-scent {
    >.div_findoutmore {
      >.input-email {
        >input {
          width: 60%;
        }

        >button {
          float: right;
        }
      }
    }
  }
}

// safari
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) {}
}