.item-content {
    @media(max-width: 1921px) and (min-width: 1367px) {
        .img-bottle {
            left: 44.5%;
        }
        .img-cropped {
            margin-top: 11%;
            left: 46.5%;
        }
        .action-custom-bottle {
            left: 29%;
        }
        .name-text-on-the-bottle {
            right: 14%;
        }
    }
}

.ReactCrop {
    z-index: 10;
}

.main-slider {
    position: relative;
    >.slick-slider {
        .ReactCrop {
            position: absolute !important;
            z-index: 1;
            height: inherit;
        }
    }
    .slick-arrow {
        &.slick-next {
            position: absolute;
            width: 40px;
            height: 63px;
            right: 0;
            top: 50%;
            margin-top: -31px;
            z-index: 10;
            background: transparent;
            &.slick-disabled {
                display: none !important;
            }
            &:before {
                content: '';
                background: url('../image/arrow.svg') 0 0/40px 63px no-repeat;
                width: 40px;
                height: 63px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &.slick-prev {
            position: absolute;
            width: 40px;
            height: 63px;
            left: 0;
            top: 50%;
            z-index: 10;
            background: transparent;
            margin-top: -31px;
            &.slick-disabled {
                display: none !important;
            }
            &::after {
                content: '';
                display: none;
                background: url('../image/arrow.svg') 0 0/40px 63px no-repeat;
                width: 40px;
                height: 63px;
                position: absolute;
                top: 0;
                right: 0;
                transform: rotate(-180deg) !important;
                transform-origin: center center !important;
            }
        }
    }
}

.sub-slider {
    position: absolute;
    left: 0;
    top: 50%;
    max-width: 60px;
    width: 100%;
    transform: translate(0, -50%);
    z-index: 1;
    .slick-list::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
    .slick-list {
        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none;  // Firefox
        .slick-slide {
            >div {
                line-height: 0;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            overflow-y: auto;
        }
        @media only screen and (max-width: 600px) {
            overflow-y: auto;
        }
    }
    .sub-slider-img {
        padding: 5px 0;
        text-align: center;
        img {
            width: 40.36px;
            height: 44.85px;
            border-radius: 20px;
            margin: 0 auto;
        }
    }
    >.slick-slider {
        .slick-arrow {
            position: absolute !important;
            background: #fff !important;
            width: 48px !important;
            height: 14px !important;
            margin-top: 0 !important;
            &.slick-prev {
                top: -15px;
                left: 5px;
                &:before {
                    content: '';
                    background: none !important;
                    border: solid black;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-135deg) !important;
                    -webkit-transform: rotate(-135deg) !important;
                    position: absolute;
                    top: 6px;
                    left: 50%;
                    margin-left: -5px;
                    width: 9px !important;
                    height: 9px !important;
                    background: none !important;
                    right: inherit !important;
                }
            }
            &.slick-next {
                bottom: -25px;
                right: 10px;
                top: inherit;
                &:before {
                    content: '';
                    background: none !important;
                    border: solid black;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg) !important;
                    -webkit-transform: rotate(45deg) !important;
                    position: absolute;
                    bottom: 5px;
                    left: 50%;
                    margin-left: -5px;
                    width: 9px !important;
                    height: 9px !important;
                    background: none !important;
                    right: inherit !important;
                    top: inherit !important;
                }
            }
        }
    }
}