@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  .image-gallery-image{
    >img {
      height: 500px;
      object-fit: cover;
      object-position: center;
    }
  }
  
  .image-gallery-thumbnail-inner {
    >img {
      width: 192px;
      height: 120px;
      object-fit: cover;
    }
  }
  
  .container_full{
    overflow-y: auto;
    overflow-x: hidden;
  }
}