@keyframes animation-right {
    0% {
        transform: translateX(50%);
        -ms-transform: translateX(50%);
        -webkit-transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

@keyframes animation-left {
    0% {
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
        -ms-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}

.video-react {
    background: #ffffff;
    > .video-react-poster {
        background-size: cover;
    }
}

.card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hiden {
    display: none;
}

.hiden-height {
    height: 0px;
}

.div-loadingImage {
    position: fixed;
    top: '50vh';
}

.bt-boder-none {
    background: transparent;
    border: none;
    padding: 0px;
}
.bt-menu {
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.1em;
    // animation: animation-menu 0.8s;
}

// .app-header.navbar .navbar-brand {
//     background-image: url('../image/logo_alpha.png')
//  }
.brand-minimized .app-header.navbar .navbar-brand {
    width: 50px;
    background-size: 24px;
    border-bottom: 1px solid #1d97c2;
}

.container_full {
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    &.overflow-none {
        overflow: inherit;
    }
}

.bt-stripe-pay {
    background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 0px 12px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    border-radius: 4px;
}

#resultHtml {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container_result {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.text_detail {
        margin-top: 10px;
        text-align: center;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    >.text--header {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000;
        // font-family: Roboto;
    }
    >.text1 {
        color: #000;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        // font-family: Roboto;
    }
    >.text-name {
        color: #000;
        font-weight: 700;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.2rem;
        // font-family: Roboto;
    }
    >.text-description {
        color: #000;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        // font-family: Roboto;
    }
    >.text-product {
        color: #000;
        // font-style: italic;
        // font-weight: 700;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        // font-family: Roboto;
    }
    >.hide-text {
        color: transparent;
    }
    >.div-button {
        height: 60px;
    }
    >.animation1 {
        animation: scale_span 2s;
    }
    >.animation2 {
        animation: scale_span 4s;
    }
    >.animation3 {
        animation: scale_span 6s;
    }
}

.container__landing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    font-size: 1.1rem;
    &--facebook {
        background-color: #4c69ba;
        border-color: #4c69ba;
        width: 100%;
        color: #fff;
        margin-top: 3px;
    }
    &--login {
        background-color: $blue !important;
        border-color: $blue !important;
        width: 100%;
    }
    &--google {
        background-color: #dd4b39;
        border-color: #dd4b39;
        width: 100%;
        color: #fff;
        margin-top: 3px;
    }
    &--create {
        background-color: $blue !important;
        border-color: $blue !important;
    }
    &--register {
        background-color: rgb(25, 133, 172) !important;
        border-color: rgb(25, 133, 172) !important;
        font-size: 1.1rem;
    }
    &--cancel {
        float: left;
    }
    &--create {
        float: right;
    }
}

.text-center {
    margin: auto;
}

.modal-footer-edit {
    display: inline-block;
}

.app-edit {
    background-color: rgb(228, 229, 230);
}

.login {
    position: relative;
    p {
        font-size: 1.1rem;
    }
    .mb-3,
    .mb-4 {
        .input-group-prepend {
            text-align: center;
            padding: 15px;
            background-color: $input-group-addon-bg;
            border: 2px solid $input-group-addon-border-color;
            border-right: none;
            font-size: 1.1rem;
        }
        input {
            border: 2px solid $input-border-color;
        }
    }
    .bg {
        &-primary-edit {
            background-color: $blue !important;
            border-color: $blue !important;
        }
    }
    .form-control {
        line-height: 2;
    }
}

.register {
    label {
        font-size: 1.1rem;
    }
    &__modal {
        .modal-title {
            font-size: 1.7rem;
        }
        .close span {
            font-size: 2.2rem;
        }
    }
}

.sweet-loading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 9999;
}

.container {
    &--body_item {
        flex-direction: column;
        height: 100%;
        margin-bottom: 50px;
    }
    &--body_button {
        margin-top: 40px;
    }
    &--occasion {
        display: flex;
        &__logo {
            width: 300px;
            height: 100%;
        }
        &__image {
            justify-content: flex-start;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__image-item {
            width: 500px;
            overflow-y: auto;
            max-height: 500px;
        }
        &__right {
            width: 300px;
        }
    }
    &--inline {
        position: relative;
        display: inline-block;
    }
}

.text__overlay--bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 1.2rem;
}

.img {
    &--logo {
        height: 150px;
    }
}

.text--header {
    font-size: 2.5rem;
    font-weight: 500;
}

.btn__landing {
    height: 66px;
    width: 150px;
    border-radius: 20px;
    margin: 10px;
}

.text__header--question {
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.checkbox_question {
    display: block;
    text-align: center;
}

.checkboxFour {
    width: 40px;
    height: 40px;
    background: #ddd;
    margin-left: 40%;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}


/**
 * Create the checkbox button
 */

.checkboxFour label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #333;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}


/**
 * Create the checked state
 */

.checkboxFour input[type=checkbox]:checked+label {
    background: #26ca28;
}

.checkboxFour input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.text--checkbox {
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: auto;
    font-size: 1.3rem;
}

.card__community {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text__community {
    &--type {
        font-size: 1.1rem;
        font-weight: 400;
        margin-top: 10px;
    }
    &--value {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 900;
    }
    &--bt_left {
        border-radius: 50%;
        background: #19A3AD;
        width: 35px;
        height: 35px;
        color: #fff;
        font-size: 1.1rem;
        &:hover {
            background: rgb(10, 102, 109);
        }
        &:active {
            background: rgb(10, 102, 109);
        }
    }
    &--bt_right {
        border-radius: 50%;
        background: #19A3AD;
        width: 35px;
        height: 35px;
        color: #fff;
        font-size: 1.1rem;
        &:hover {
            background: rgb(10, 102, 109);
        }
        &:active {
            background: rgb(10, 102, 109);
        }
    }
    &--total {
        font-size: 1.1rem;
        font-weight: 900;
        display: inline-block;
        width: 100px;
        text-align: center;
    }
}

*:focus {
    outline: 0 !important;
}

.container--community__bt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-header.navbar {
    background-color: #4d92df;
    border-color: #4d92df;
    height: 76px;
    .nav-item .nav-link .icon_drop {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        &:hover {
            /* padding: 10px; */
            border: 1px dotted transparent;
            background: rgba(0, 0, 0, .12);
            text-decoration: none;
            border-radius: 50%;
            overflow: visible;
            /* text-align: center; */
        }
    }
    .navbar-line {
        height: 26px;
        border-left-style: solid;
        border-left-width: 1px;
        border-color: #fff;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .navbar-slogan {
        font-size: 0.75rem;
        color: #ffffff;
        font-weight: 700;
    }
    .navbar-brand {
        width: auto;
        padding-top: 19px;
        height: 76px;
    }
    .navbar-nav {
        .nav-link {
            color: #fff;
            .img-avatar {
                height: 30px;
            }
        }
        &.main-menu {
            margin: 0 auto;
            .nav-item {
                padding-left: 0 !important;
                padding-right: 0 !important;
                min-width: 35px;
                a {
                    padding: 10px 2rem;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    &.selected {
                        border-bottom: 5px solid #fff;
                        font-weight: 700;
                    }
                }
                a:hover {
                    font-weight: 700;
                }
            }
        }
    }
    .dropdown-menu {
        right: auto;
        left: 14px !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border: 1.1px solid lightgrey;
    }
}

.img-logo-absolute {
    position: absolute;
    top: 74px;
    z-index: 99;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slide {
    width: 100%;
}

.text-info__center {
    text-align: center;
    margin-top: 10px;
}

.text__title {
    &--no {
        max-width: 100%;
        font-weight: unset;
        font-size: 16px;
        line-height: 24px;
        margin: 0px;
        color: #353535;
    }
    &--question {
        max-width: 100%;
        font-size: 2.5rem;
        color: #0D0D0D;
        overflow-wrap: break-word;
        text-align: center;
        margin-top: 40px;
        @media screen and (max-width: 1440px) {
            font-size: 2.857rem;
        }
        @media screen and (max-width: 1024px) {
            font-size: 2.4285rem;
            margin-top: 0px;
         }
    }
    &--img {
        font-size: 0.7rem;
        margin-left: 5px;
        margin-right: 8px;
        color: #353535;
    }
}

.text__input {
    &--div {
        margin-top: 32px;
        margin-bottom: 16px;
        input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: 15px;
        }
        input::-moz-placeholder {
            /* Firefox 19+ */
            font-size: 15px;
        }
        input:-ms-input-placeholder {
            /* IE 10+ */
            font-size: 15px;
        }
        input:-moz-placeholder {
            /* Firefox 18- */
            font-size: 15px;
        }
    }
    &--text {
        display: block;
        width: 100%;
        font-family: inherit;
        color: #757575;
        -webkit-appearance: none;
        transform: translateZ(0px);
        font-size: 30px;
        line-height: 38px;
        -webkit-font-smoothing: antialiased;
        padding: 0px 0px 8px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        outline: none;
        border-radius: 0px;
        transition: box-shadow 0.2s ease 0s;
        background: none;
    }
    &--text:not(:focus) {
        box-shadow: rgba(255, 255, 255, 0.4) 0px 1px;
    }
}

.text__button {
    &--div-root {
        display: flex;
        align-items: center;
    }
    &--div {
        height: auto;
        width: auto;
    }
    &--bt {
        position: relative;
        font-family: inherit;
        font-weight: 700;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
        min-height: 40px;
        background-color: rgb(255, 255, 255);
        color: #151515;
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
        outline: none;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        padding: 4px 14px 6px;
        border-color: transparent;
        border-radius: 4px;
        max-width: 100%;
        font-size: 20px;
        line-height: 28px;
        white-space: normal;
        margin: 0px;
        &:active {
            background-color: rgba(38, 38, 38, 0.1);
        }
    }
    &--check {
        width: 16px;
        height: 13px;
        margin-left: 7px;
    }
}

.text__text {
    margin-left: 8px;
    color: #fff;
}

.text__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 68px;
        justify-content: flex-start;
        padding: 0px 0px;
    }
    .scroll-able {
        width: 100%;
        height: 100%;
    }
    .item-choose-quiz {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 373px;
        height: 460px;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 33.33%;
            height: 320px;
            padding: 0px 10px;
        }
        @media screen and (max-width: 767.9px) {
            width: 33.33%;
            height: 250px;
            padding: 0px 10px;
        }
        cursor: pointer;
        &.border-left {
            border-left: 1px solid rgba(38, 38, 38, 0.1) !important;
        }
        &.border-right {
            border-right: 1px solid rgba(38, 38, 38, 0.1) !important;
        }
        &.choosed {
            .temp-top, .img-checked {
                visibility: visible;
            }
            >span {
                color: #B79B53;
            }
        }
        .temp-top, .img-checked {
            width: 40px;
            height: 40px;
            background: transparent;
            visibility: hidden;
            @media screen and (max-width: 1024px) {
                width: 24px;
                height: 24px;
            }
        }
        .div-image {
            height: 60%;
            display: flex;
            align-items: flex-end;
            .img-icon {
                // width: 140px;
                @media screen and (max-width: 1024px) {
                    width: 70px;
                }
            }
        }
        
        >span {
            font-weight: 500;
            font-size: 1.5rem;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            margin-top: 54px;
            text-align: center;
            padding: 0px 50px;
            @media screen and (max-width: 1440px) {
                font-size: 1.71428rem;
            }
            @media screen and (max-width: 1024px) {
                font-size: 1.42857rem;
                margin-top: 34px;
                padding: unset;
            }
            @media screen and (max-width: 767.9px) {
                font-size: 0.8571rem;
                margin-top: 20px;
                padding: unset;
            }
        }
        .sub-title {
            font-size: 1.375rem;
            letter-spacing: 0.05em;
            margin-top: 24px;
            text-transform: unset;
            font-weight: 300;
            padding: unset;
            @media screen and (max-width: 1440px) {
                font-size: 1.571rem;
            }
            @media screen and (max-width: 1024px) {
                margin-top: 12px;
                font-size: 12px;
            }
        }
        .img-checked {
            margin-top: 30px;
            @media screen and (max-width: 1024px) {
                margin-top: 18px;
            }
        }
        .temp-top {
            margin-bottom: 30px;
            @media screen and (max-width: 1024px) {
                margin-bottom: 18px;
            }
        }
    }
    .div-content-gender {
        height: 100%;
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
    .scroll-able {
        @media screen and (max-height: 1024px) {
            display: block;
            overflow-y: auto;
            height: 100%;
            padding-top: 15px;
        }
    }
    .content-multile {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;
        @media screen and (max-width: 1024px) {
            flex: unset;
            height: calc(100% - 100px);
        }
        .div-content-body {
            .item-choose-quiz {
                height: 100%;
                width: 420px;
                position: relative;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 100%;
                    min-height: 192px;
                }
                @media screen and (max-width: 767.9px) {
                    height: 100%;
                    min-height: 192px;
                }
                .div-image {
                    height: 55%;
                    >img {
                        width: 120px;
                        @media screen and (max-width: 600px) {
                            width: 70px!important;
                        }
                    }
                }
                &.border-right {
                    .div-image {
                        >img {
                            width: 120px;
                        }
                    }
                }
                >span {
                    margin-top: 20px;
                    @media screen and (max-width: 600px) {
                        font-size: 14px;
                    }
                }
                .sub-title {
                    font-size: 18px;
                    margin-top: 0px;
                    @media screen and (max-width: 600px) {
                        font-size: 12px;
                    }
                }
                .img-checked {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    margin-top: 0px;
                    @media screen and (max-width: 1024px) {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
        .div-content-body:nth-child(1) {
            border-bottom: 1px solid rgba(38, 38, 38, 0.1);
        }
    }
    .div-content-body {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: unset;
      }
    .bt-yes-no {
        width: 400px;
        height: 60px;
        margin-bottom: 30px;
        border-radius: 6px;
        border: 3px solid #8D8D8D;
        color: #0D0D0D;
        background: #ffffff;
        &.active {
            border: 3px solid #0D0D0D;
            .div-content {
                .circle{
                    border: 5px solid #0D0D0D;
                }
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 340px;
            height: 48px;
            margin-bottom: 24px;
        }
        @media screen and (max-width: 768px) {
            width: 300px;
            height: 50px;
            margin-bottom: 30px;
            border-radius: 6px;
            border: 1px solid #C5C9CD;
            color: #0D0D0D;
            background: #ffffff;
            &.active {
                border: 3px solid #0D0D0D;
            }
        }
        .div-content {
            position: relative;
           .circle {
               position: absolute;
               top: 50%;
                left: 20px;
                transform: translateY(-50%);
               border-radius: 50%;
               width: 15px;
               height: 15px;
               border: 1px solid #0D0D0D;
               @media screen and (max-width: 768px) {
                    visibility: hidden;
                }
           } 
           > span{
               color: #0D0D0D;
               font-size: 1.1rem;
               font-weight: 600px;
               letter-spacing: 0.2em;
                text-transform: uppercase;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }
               @media screen and (min-width: 768px) and (max-width: 1024px) {
                    font-size: 14px;
                }
           }
        }
    }
    .sub-header-country {
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-top: 15px;
    }
    .list-country {
        width: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-top: 100px;
        justify-content: center;
        flex: 1;
        @media screen and (max-width: 1024px) {
            width: 100%;
            // margin-top: 50px;
        }
        .button-next {
            width: 198px;
            height: 57px;
            font-weight: 500;
            font-size: 22px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 63px;
            background: #0d0d0d;
            border: none;
            border-radius: 6px;
            @media screen and (max-width: 1024px) {
                width: 144px;
                height: 34px;
                font-size: 14px;
            }
          }
        .div-search {
            width: 100%;
            box-shadow: 7.69231px 7.69231px 57.6923px rgba(0, 0, 0, 0.15);
            background: #FFFFFF;
                // box-shadow: 7.69231px 7.69231px 57.6923px rgba(0, 0, 0, 0.15);
            border-radius: 103.462px;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            &.div-small {
                width: 90%;
                @media screen and (max-width: 1024px) {
                margin-bottom: 80px;
                }
            }
            &.result {
                border-radius: 29px !important;
                .div-input {
                border-bottom: 1px solid #E2E2E2;
                justify-content: flex-start;
                >input {
                    margin-left: 40px;
                    margin-right: 40px;
                    font-size: 16px;
                    color: #8D8D8D;
                    min-width: 180px;
                }
            }
            .div-list-search {
                height: 278px;
                width: 100%;
                background: #FFFFFF;
                border-bottom-left-radius: 29px;
                border-bottom-right-radius: 29px;
                box-sizing: border-box;
                overflow-y: auto;
                @media screen and ( max-width: 1024px) {
                    height: 178px;
                }
                &::-webkit-scrollbar {
                  width: 0px;
                  background-color: #E2E2E2;
                }
                &::-webkit-scrollbar-thumb {
                  background-color :#0D0D0D;
                  border-radius: 25px;
                }
                .item-perfume {
                  display: flex;
                  flex-direction: row;
                  margin: 10px 0px;
                  padding-left: 30px;
                  padding-right: 30px;
                  align-items: center;
                  cursor: pointer;
                  >img {
                    height: 51px;
                    object-fit: contain;
                    object-position: center;
                  }
                  >span {
                    text-align: flex-start;
                    color: #0D0D0D;
                    font-size: 18px;
                    flex: 1;
                    padding-left: 16px;
                    @media screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                  }
                }
              }
        }
        .div-input {
            width: 100%;
            min-height: 57px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            @media screen and (max-width: 1024px) {
                min-height: 40px;
            }
            .icon-search {
            height: 21px;
            margin-right: 5px;
            @media screen and (max-width: 1024px) {
                height: 15px;
            }
            }
            >span {
            color: #0D0D0D !important;
            }
            >span, >input {
            // flex: 1;
            text-align: left;
            color: #8D8D8D;
            border: none;
            background: transparent;
            font-size: 16px;
            font-weight: 500;
            @media screen and (max-width: 1024px) {
                font-size: 14px;
            }
            &::placeholder {
                color: #0D0D0D;
                font-size: 16px;
                font-weight: 500;
                @media screen and (max-width: 1024px) {
                    font-size: 14px;
                }
            }
            }
            >div {
            height: 51px;
            width: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            .animate-loading {
                animation: animation-roate-360 1s infinite linear;
            }
            >img {
                height: 20px;
                object-fit: contain;
                object-position: center;
                position: absolute;
                right: 30px;
            }
            &.bg-color {
                background: #0D0D0D;
            }
            }
        }
        }
    }
    .div-choose-country {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
        @media screen and (max-width: 1024px) {
            margin-top: 30px;
            margin-bottom: 30px;
            display: block;
        }
        .line-country {
            display: flex;
            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }
            .item-country {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                padding: 40px 44px;
                @media screen and (max-width: 1024px) {
                    width: calc(100vw - 18px * 2);
                    height: 86px;
                    padding: unset;
                    flex-direction: row;
                    background: #FFFFFF;
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
                    border-radius: 20px;
                    margin-top: 18px;
                }
                >img {
                    width: 6vw;
                    height: 6vw;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    @media screen and (max-width: 1024px) {
                        height: 58px;
                        margin: auto 26px auto 29px;
                        width: auto;
                        border-radius: unset;
                    }
                }
                >span {
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-weight: 500;
                    font-size: 20px;
                    color: #0D0D0D;
                    margin-top: 22px;
                    width: 200%;
                    @media screen and (max-width: 1024px) {
                        font-weight: 500;
                        font-size: 22px;
                        color: #0D0D0D;
                        position: relative;
                        margin-top: unset;
                        left: unset;
                        bottom: unset;
                        width: unset;
                        transform: unset;
                    }
                }
                .div-check {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 6vw;
                    height: 6vw;
                    border-radius: 50%;
                    border: 5px solid #B79B53;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 1024px) {
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                    }
                    >img {
                        width: 30px;
                        height: 30px;
                        @media screen and (max-width: 1024px){
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    .search-country {
        width: 100vw;
        border-top: 1.5px solid #E2E2E2;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1024px) {
            // padding-bottom: 100px;
            display: grid;
            flex-direction: unset;
            align-items: unset;
        }
        >span {
            font-weight: 500;
            font-size: 18px;
            color: #0D0D0D;
            @media screen and (max-width: 1024px) {
                width: 100%;
                text-align: center;
            }
        }
        >button {
            font-size: 18px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            padding: 15px 50px;
            border-radius: 4.94156px;
            border: 1.64719px solid #0D0D0D;
            background: #ffffff;
            margin-top: 30px;
            @media screen and (max-width: 1024px) {
                font-size: 14px;
                padding: 9px 0px;
                width: calc(100vw - 100px);
                margin: 30px auto 100px auto;
            }
        }
    }
}

.text__container_wrap {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hide {
    display: none;
}

.radio_560_75 {
    @include aspect-ratio(560,
    75);
}

.radio_560_150 {
    @include aspect-ratio(560,
    150);
}

.question__container {
    max-width: 100%;
    color: rgb(38, 38, 38);
    // background-color:#fff;
    // box-shadow: #fff;
    opacity: 1;
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    background: transparent;
    box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
    cursor: pointer;
    opacity: 1;
    border-radius: 4px;
    >.container_absolute {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        >.container_text {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        >.container_text_benefit {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
    &--active {
        color: rgb(38, 38, 38);
        background-color: rgba(38, 38, 38, 0.1);
        box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 0px 4px inset;
        cursor: pointer;
        opacity: 1;
        height: auto;
        border-radius: 4px;
        animation: qNIWx 0.25s ease 0s 2 normal none running;
    }
    &--img,
    &--none {
        width: 50px;
        height: 45px;
        margin-right: 10px;
        z-index: 100;
        margin-left: auto;
    }
    &--Y {
        position: relative;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
        line-height: 16px;
        font-family: sans-serif;
        background-color: rgba(227, 216, 223, 0.8);
        color: rgb(38, 38, 38);
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        border-color: rgba(38, 38, 38, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    &--Yes {
        font-weight: unset;
        font-size: 2rem;
        line-height: 28px;
        overflow-wrap: break-word;
        hyphens: auto;
        margin: 0px;
        color: #fff;
        z-index: 100;
        font-style: italic;
    }
    &--benifi {
        color: #fffa;
        margin-right: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    &--video {
        position: absolute;
        top: 0px;
        width: 100%;
    }
}

.footer {
    position: fixed;
    opacity: inherit;
    right: 0px;
    left: 0px;
    bottom: 0px;
    &__container {
        background-color: #ffffff;
        border: 1px solid #E2E2E2;
        box-sizing: border-box;
        position: relative;
        height: auto;
        padding: 12px 0px 5px 0px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 768px) and (max-width: 1024px){
            padding: 15px 0px 5px 0px;
        }
        .bt-more{
            width: 100%;
            background: transparent;
            border: none;
        }
        >.text {
            color: #0D0D0D;
            font-size: 10px;
            width: 240px;
            text-transform: uppercase;
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 14px;
            }
        }
        >.bg_progressbar {
            min-width: 100px;
            max-width: 88%;
            position: relative;
            margin-bottom: 4px;
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
            height: 6px;
            background-color: #ffffff;
            border-radius: 4px;
            overflow: hidden;
            border: 1px solid #8A919B;
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                max-width: 613px;
                height: 8px;
            }
            >.active {
                height: 100%;
                width: 0%;
                background-color: #D7D7D7;
                border-radius: 4px;
                transition: all 0.4s ease 0s;
                &.yellow {
                    background-color: #B79B53;
                }
                &.orange {
                    background-color: #F18D1E;
                }
            }
        }

        &.favorite {
            padding-top: 0px;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .div-favorite-mobile {
            padding: 0px 60px;
            height: auto;
            &.not-show {
                height: 0px;
                transition: height 0.2s;
            }
            &.show {
                height: 348px;
                transition: height 0.2s;
            }
            .div-item {
                border: none;
                background: #ffffff;
                width: 100%;
                >span {
                    font-size: 0.8rem;
                    color: #0D0D0D;
                }
                .div-image {
                    >img {
                        // width: 250px;
                        height: 150px;
                    }
                    >span {
                        line-height: 60px;
                        color: #8D8D8D;
                        font-size: 0.8rem;
                        height: 150px;
                    }
                }
            }
        }
    }
}

.image-backgroud {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-y: hidden;
    @media screen and (max-width: 1024px) {
        overflow-y: auto;
    }
    .div-process-bottle {
        position: absolute;
        width: 17vw;
        left: 0px;
        bottom: 0px;
        .div-image-bottle {
            height: auto;
            width: 100%;
            position: relative;
            z-index: 1;
            .circle {
              position: absolute;
              width: 34vw;
              height: 34vw;
              border-radius: 50%;
              bottom: -17vw;
              left: -17vw;
              z-index: -1;
              background: #B79B53;
            }
            >img {
              width: 4.1vw;
            }
            > span {
              margin-top: 22px;
              margin-bottom: 39px;
              font-size: 18px;
              letter-spacing: 0.2em;
              font-weight: 600;
              color: #FFFFFF;
            }
          }
    }
}

.scroller {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    // height: 100%;
}

.space__text--top {
    height: calc(10%);
    width: 100%;
}

.space__text--bottom {
    height: calc(50% + 56px);
    width: 100%;
}

.line {
    background: rgba(38, 38, 38, 0.1);
    width: 100%;
    height: 1px;
}

.bt-submit {
    position: relative;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 6px 18px 8px;
    border-color: transparent;
    border-radius: 4px;
    &:active {
        background-color: rgba(38, 38, 38, 0.1);
    }
    max-width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0px;
}

.height__fix {
    height: 100vh;
}

.background {
    &--letsguideyou {
        height: 100vh;
        position: absolute;
        width: 100%;
        // z-index: -1;
        background-size: cover;
        background-color: transparent;
        overflow: hidden;
    }
    &--blur {
        height: 100vh;
        position: absolute;
        width: 100%;
        z-index: -1;
        background-size: cover;
        background-color: #00000077;
    }
    &--result {
        height: 100vh;
        position: absolute;
        width: 100%;
        z-index: -1;
        background-size: cover;
    }
}

.background--home {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-left: -30px;
    background-image: url('../image/home.png');
    background-size: cover;
    background-color: rgb(227, 216, 223);
}

// .video-react-big-play-button {
//     display: none;
// }
.disable-button .video-react .video-react-video {
    width: 100%;
    height: 100%;
}

.disable-button>.video-react>.video-react-big-play-button {
    display: none;
}

.video-react .video-react-big-play-button {
    font-size: 2em;
    line-height: 2em;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center {
    margin-top: 0px !important;
    margin-left: 0px !important;
    transform: translate(-50%, -50%);
}

.height-wrap {
    height: 100%;
}

.bg-benenifits {
    overflow: auto;
    height: 100vh;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    transition: transform 0.2s ease;
}

.title {
    font-size: 2rem;
    color: #1a1a1a;
    margin-top: 50px;
}

.div-carousel {
    width: 330px;
    height: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    >button {
        background: transparent;
        border: none;
        >i {
            font-size: 1.3rem;
            color: #1a1a1a;
        }
    }
    >span {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .animation-right {
        animation: animation-right 0.2s;
    }
    .animation-left {
        animation: animation-left 0.2s;
    }
}

.carousel-wrapper {
    // Replace transition-property from carousel transition variable
    transition: set-nth($carousel-transition, 1, height);
}

.container-scent {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    position: relative;
    >.col-full {
        position: relative;
        // display: inline-grid;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        >.container-text {
            display: flex;
            width: 100%;
            height: 20vh;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            min-height: 120px;
            >.text {
                font-size: 1.3rem;
                font-weight: 500;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
            }
            >.chang_mood {
                display: flex;
                flex-direction: row;
                text-align: center;
                >.carousel>.carousel-inner>.carousel-item {
                    width: 350px;
                    >span {
                        text-align: center;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: 1.3rem;
                        font-weight: 600;
                    }
                }
            }
        }
        >.container-image {
            position: relative;
            width: 100%;
            // display: flex;
            // height: 60vh;
            // flex-direction: row;
            // justify-content: center;
            // align-items: center;
            // flex: 1;
            >.children:nth-child(1) {
                // width: 100%;
                // flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin-right: 20px;
                height: 100%;
                width: 100%;
                // align-items: center;
                >div>img {
                    height: 100%;
                }
            }
            >.children:nth-child(2) {
                // width: 100%;
                // flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-left: 20px;
                height: 100%;
                width: 100%;
                >div>img {
                    height: 100%;
                }
            }
        }
        >.div-button {
            display: flex;
            justify-content: center;
            flex: 1;
            height: 20vh;
            align-items: center;
            >.button-order {
                margin: auto;
            }
        }
    }
    >.div_findoutmore {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        >span {
            text-align: center;
            font-size: 1.3rem;
        }
        >.input-email {
            margin-top: 30px;
            >input {
                width: 300px;
                padding-top: 10px;
                padding-bottom: 5px;
                border: none;
                background: #0000;
                border-bottom: 1px solid #1a1a1a;
                margin-right: 10px;
                font-size: 1.3rem;
            }
        }
    }
}

.carousel-control-next-icon {
    background-image: url('../image/right-arrow.svg');
}

.carousel-control-prev-icon {
    background-image: url('../image/left-arrow.svg');
}

.loading-page {
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9000;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    .message-bottom {
        padding: 8px 16px;
        border-radius: 4px;
        color: #fff;
        background-color: rgb(50, 50, 50);
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 225px);

    }
}

.button-finish {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}

.bt-submit-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-order {
    margin-top: 50px;
    margin-bottom: 20px;
}

.container-home {
    overflow: hidden;
    >.container-bottom_screen {
        position: fixed;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        >span {
            font-size: 1.5rem;
            font-weight: 400;
        }
        >i {
            font-size: 1.5rem;
        }
    }
    >.text--top__fix {
        position: fixed;
        top: 115px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-weight: 400;
    }
    >.background--letsguideyou {
        position: fixed;
    }
}

.container-home__hide {
    margin-top: 100vh;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 1;
    >.container-nav {
        height: 125px;
        display: flex;
        flex-direction: column;
        >.nav-1 {
            width: 100%;
            height: 35px;
            display: inline-flex;
            justify-content: flex-end;
            >.language {
                width: 215px;
                display: inline-flex;
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                margin-right: 10px;
                >.line {
                    width: 1px;
                    height: 13px;
                    margin-left: 6px;
                    margin-right: 6px;
                }
                >span:last-child {
                    margin-right: 52px;
                }
            }
            >.link-doc {
                display: inline-flex;
                align-items: center;
                >span:first-of-type {
                    color: #00000077;
                }
                ;
                >span:last-child {
                    font-weight: 700;
                    color: #26ca28;
                    margin-left: 7px;
                }
            }
        }
        >.nav-2 {
            width: 100%;
            height: 90px;
            display: flex;
            flex-direction: row;
            align-items: center;
            >span {
                margin-left: 30px;
                margin-right: 30px;
                font-size: 2rem;
            }
            >.menu {
                display: flex;
                flex: 1;
                height: 100%;
                justify-content: flex-end;
                align-items: center;
                >div,
                >button {
                    margin-right: 42px;
                    display: flex;
                    border: none;
                    cursor: pointer;
                    >span {
                        margin: auto;
                    }
                    >i {
                        margin-top: 4px;
                        font-size: 1.1rem;
                        margin-left: 5px;
                    }
                }
            }
            >.search {
                width: 280px;
            }
            >.account {
                width: 215px;
                display: inline-flex;
                justify-content: flex-end;
                >.notification {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #26ca28;
                    margin-right: 21px;
                    display: flex;
                    justify-content: center;
                    margin-left: 6px;
                }
                >span:nth-child(2) {
                    margin-left: 20px;
                }
            }
        }
        >.sub-menu {
            position: absolute;
            height: 60px;
            top: 125px;
            background: #f8fafb;
            width: 100%;
            >.row-menu {
                height: 100%;
                >.div-item {
                    margin: auto;
                    >button {
                        border: none;
                        margin-right: 45px;
                        background-color: #f8fafb;
                    }
                }
            }
        }
    }
    >.top-info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #c1c1c1;
        >span {
            color: #000;
            font-weight: 500;
        }
    }
    >.body {
        display: flex;
        flex: 1;
        width: 100%;
        background-color: #d8d8d8;
        .body-row {
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}

.container-search {
    width: 100%;
    height: 38px;
    position: relative;
    >input {
        width: 100%;
        height: 100%;
        border: 1px solid #c2cfd6;
        border-radius: 2px;
        padding-left: 0.375rem;
        padding-right: 2.5rem;
    }
    >i {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.1rem;
    }
}

.container-skin {
    margin-top: '32px';
    display: 'flex';
    flex-direction: 'column';
    align-items: center;
    // width: 966px;
    width: 80%;
    @media screen and (max-width: 767.9px) {
        width: 100%;
        overflow-y: auto;
        padding-bottom: 200px;
        padding-top: 15px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 100px;
        padding-bottom: 200px;
        padding-top: 15px;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .list-item-skintone {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 80%;
        }
        .item-skin-tone {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 30px;
            @media screen and (max-width: 1024px){
                width: 33.33%;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            &.choosed {
                .circle {
                    background: #B79B53;
                    >button {
                        >img {
                            visibility: visible;
                        }
                    }
                }
                >span {
                    color: #B79B53;
                }
            }
            .circle {
                // width: 123px;
                // height: 123px;
                width: 8.5vw;
                height: 8.5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                border-radius: 50%;
                @media screen and (max-width: 1024px){
                    width: 68px;
                    height: 68px;
                }
                >button {
                    // width: 115px;
                    // height: 115px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #F2D4CA;
                    border: none;
                    border-radius: 50%;
                    @media screen and (max-width: 1024px){
                        width: 64px;
                        height: 64px;
                    }
                    >img {
                        width: 40px;
                        height: 40px;
                        visibility: hidden;
                        @media screen and (max-width: 1024px){
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
            >span {
                margin-top: 16px;
                font-size: 23px;
                letter-spacing: 0.05em;
                color: #0D0D0D;
                text-align: center;
                @media screen and (max-width: 1024px){
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
    }
    >.skin {
        display: flex;
        height: 100%;
        flex: 1;
        padding: 0px;
        border-width: 0px;
        background-color: #555;
        &:hover {
            transition: all .2s ease-in-out;
            transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            /* IE 9 */
            -webkit-transform: scale(1.1, 1.1);
            /* Safari */
        }
    }
    & .skin_active {
        border: 2px solid #222;
    }
}
.div-note {
    margin-bottom: 50px;
    >img {
        height: 47px;
        margin-right: 22px;
        @media screen and (max-width: 768px){
            height: 25px;
            margin-right: 14px;
        }
    }
    @media screen and (max-width: 768px){
        margin: 5px 37px 10px 37px;
    }
    >span {
        font-size: 1.375rem;
        @media screen and (max-width: 1440px) {
            font-size: 1.5714rem;
        }
        @media screen and (max-width: 768px){
            font-size: 1rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 1.1428rem;
        }
    }
}

.container-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.card {
        min-width: 410px;
        max-width: 100%;
        border: none;
        border-radius: 4px;
        >.card-body {
            >p:nth-child(1) {
                font-size: 0.7rem;
                margin-bottom: 0px;
                color: #0008;
            }
            >p:nth-child(2) {
                font-size: 2rem;
            }
            >p:nth-child(3) {
                font-size: 1rem;
                margin-top: 25px;
                margin-bottom: 15px;
                color: #0008;
            }
        }
    }
    >.bt-custome {
        background-color: #00cf00;
        border-color: #00cf00;
        width: 59%;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-top: 2.5rem;
    }
}

@keyframes scale_logo {
    0% {
        transform: scale(1.5);
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    30% {
        transform: scale(1.5);
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes scale_span {
    0% {
        transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(0);
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes scale_button {
    0% {
        transform: translateY(300px);
    }
    80% {
        transform: translateY(300px)
    }
    100% {
        transform: translateY(0px)
    }
}

.div-start {
    display: flex;
    height: 100vh;
    widows: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    >img {
        height: 55vh;
        // animation: scale_logo 3s;
    }
    >span {
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
        animation: scale_span 2s;
    }
    >.button-animal {
        margin-top: 50px;
        animation: scale_button 2s;
    }
}

.div-point_scroll {
    position: absolute;
    margin-top: -140px;
    top: 0px;
}