@keyframes animation-menu {
  0% {
    transform: translateY(30px) scaleY(0);
    -ms-transform: translateY(30px) scaleY(0);
    -webkit-transform: translateY(30px) scaleY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    -ms-transform: translateY(0px) scaleY(1);
    -webkit-transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes animation-homepage {
  0% {
    transform: translateY(400px) scale(7);
    -ms-transform: translateY(400px) scale(7);
    -webkit-transform: translateY(400px) scale(7);
  }
  33% {
    transform: translateY(400px) scale(7);
    -ms-transform: translateY(400px) scale(7);
    -webkit-transform: translateY(400px) scale(7);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    -ms-transform: translateY(0px) scaleY(1);
    -webkit-transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes animation-make {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation-scent {
  0% {
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animation-footer {
  0% {
    transform: translateY(-30px) scaleY(0);
    -ms-transform: translateY(-30px) scaleY(0);
    -webkit-transform: translateY(-30px) scaleY(0);
  }
  100% {
    transform: translateY(0px) scaleY(1);
    -ms-transform: translateY(0px) scaleY(1);
    -webkit-transform: translateY(0px) scaleY(1);
  }
}

@keyframes animation-submenu-show {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 70px;
  }
}
@keyframes animation-submenu-hiden {
  0% {
    margin-top: 70px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes animation-title {
  0% {
    transform: translateY(30px) scaleY(0) translate(-50%, 0);
    -ms-transform: translateY(30px) scaleY(0) translate(-50%, 0);
    -webkit-transform: translateY(30px) scaleY(0) translate(-50%, 0);
  }
  100% {
    transform: translateY(0px) scaleY(1) translate(-50%, 0);
    -ms-transform: translateY(0px) scaleY(1) translate(-50%, 0);
    -webkit-transform: translateY(0px) scaleY(1) translate(-50%, 0);
  }
}

@keyframes animation-circle {
  0% {
    height: 40vh;
    width: 40vh;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  100% {
    height: 66vh;
    width: 66vh;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}

@keyframes animation-image_right {
  0% {
    width: 0%;
  }
  100% {
    width: 533px;
  }
}

@keyframes animation-image_left {
  0% {
    width: 0%;
  }
  100% {
    width: 213px;
  }
}

@keyframes animation-image_top_4_3 {
  0% {
    height: 0px;
  }
  100% {
    height: 216px;
  }
}

@keyframes animation-image_top_530_580 {
  0% {
    height: 0px;
  }
  100% {
    height: 315px;
  }
}

@keyframes animation-image_bottom {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes animation-text_subMenu {
  0% {
    transform: translate(-20%, 0%);
    -ms-transform: translate(-20%, 0%);
    -webkit-transform: translate(-20%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
  }
}

@keyframes animation-roate-360 {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes animation-roate-left-10 {
  0% {
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes animation-roate-right-10 {
  0% {
    transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes animation-scale-image {
  0% {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes animation-opacity-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-opacity-delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-extend-width {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animation-narrow-width {
  0% {
    width: 100vw;
  }
  100% {
    width: 50vw;
  }
}

@keyframes animation-narrow-width-flex {
  0% {
    flex: 0 0 100%;
  }
  100% {
    flex: 0 0 50%;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left-50 {
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100vw);
  }
}

@keyframes fade-in-left-out-50 {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

@keyframes fade-in-left-out {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

.div-homepage {
  // overflow: hidden;
}

.animation-narrow-width-flex {
  animation: animation-narrow-width-flex 0.6s ease-in-out;
}

.animation-extend-width {
  animation: animation-extend-width 0.7s ease-in-out;
}

.animation-narrow-width {
  animation: animation-narrow-width 0.7s ease-in-out;
}

.animation-fade-in-right {
  animation: fade-in-right 0.7s ease-in-out;
}

.animation-fade-in-right-out {
  animation: fade-in-right-out 0.7s ease-in-out;
}

.animation-fade-in-left-50 {
  animation: fade-in-left-50 0.7s ease-in-out;
}

.animation-fade-in-left-out-50 {
  animation: fade-in-left-out-50 0.7s ease-in-out;
}

.animation-fade-in-left {
  animation: fade-in-left 0.7s ease-in-out;
}

.animation-fade-in-left-out {
  animation: fade-in-left-out 0.7s ease-in-out;
}

.drawer-menu-left {
  width: 375px;
  padding: 50px 35px;
  color: #0D0D0D;
  position: relative;
  height: 100%;
  @media screen and (max-width: 1440px) {
    width: calc(375px * 0.75);
    padding: 37.5px 26.5px;
  }
  @media screen and (max-width: 1024px) {
    width: 100vw;
    padding: 50px 35px;
  }
  .button-close {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 30px;
    right: 17px;
    border: none;
    >img {
      height: 16px;
      width: 16px;
    }
    // &:hover {
    //   background-color: #B79B53;
    //   border:none;
    // }
    @media screen and (max-width: 1440px) {
      width: calc(60px * 0.75);
      height: calc(60px * 0.75);
      top: calc(30px * 0.75);
      right: calc(17px * 0.75);
      >img {
        height: 12px;
        width: 12px;
      }
    }
    @media screen and (max-width: 1024px) {
      width: 40px;
      height: 40px;
      top: 30px;
      right: 17px;
      left: unset;
      >img {
        height: 16px;
        width: 16px;
      }
    }
  }
  .list-button {
    display: flex;
    >button {
      font-weight: 400;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.15em;
      position: relative;
      padding: 3px 0px;
      text-transform: uppercase;
      @media screen and (max-width: 1440px) {
        font-size: 9.75px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
      &.active {
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -5px;
          left: 0px;
          background: #0D0D0D;
          border-radius: 53px;
          z-index: 1;
          @media screen and (max-width: 1440px) {
            bottom: -3.75px;
          }
          @media screen and (max-width: 1024px) {
            bottom: -5px;
          }
        }
      }
      
    }
    >button:nth-child(1) {
      margin-right: 23px;
      @media screen and (max-width: 1440px) {
        margin-right: 17.5;
      }
      @media screen and (max-width: 1024px) {
        margin-right: 23px;
      }
    }
  }
  .list-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    // padding-bottom: 65px;
    // overflow-y: auto;
    @media screen and (max-width: 1440px) {
      padding-top: calc(50px * 0.75);
      // padding-bottom: calc(65px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      padding-top: 50px;
      // padding-bottom: 56px;
    }
    .scroll-link {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .div-region-web {
        margin-top: 35px;
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1440px) {
          margin-top: 26.5px;
          margin-bottom: 26.5px;
        }
        @media screen and (max-width: 1024px) {
          margin-top: 35px;
          margin-bottom: 35px;
        }
        .div-region {
          // >button >div >span {
          //   font-size: 16px;
          //   @media screen and (max-width: 1440px) {
          //     font-size: 13px;
          //   }
          //   @media screen and (max-width: 1024px) {
          //     font-size: 16px;
          //   }
          // }
          >button >div >img {
            height: 17px;
            @media screen and (max-width: 1440px) {
              height: calc(17px * 0.75) !important;
            }
          } 
        }
      }
      .temp-class {
        flex: 1;
      }
      .button-black {
        margin: 0px auto 0px auto;
      }
      .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 22px;
        @media screen and (max-width: 1440px) {
          margin-bottom: 10px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 22px;
        }
        >a {
          position: relative;
          width: fit-content;
          color: #0D0D0D;
          text-decoration: none;
          // font-weight: 500;
          // font-size: 28px;
          margin-bottom: 26px;
          display: flex;
          // @media screen and (max-width: 1440px) {
          //   font-size: calc(28px * 0.75);
          // }
          // @media screen and (max-width: 1024px) {
          //   font-size: 24px;
          // }
          // &:hover {
          //   color: #B79B53;
          // }
          &::after {
            content: attr(data-message);
            position: absolute;
            bottom: 9px;
            left: 5px;
            font-size: 12px;
            color: #0d0d0d;
            font-weight: 400;
            left: unset;
            transform: translateX(100%);
            bottom: 8px;
            right: -5px;
            @media only screen and (max-width: 1440px) {
              font-size: 9px;
              left: 3.5px;
              bottom: 6px;
              right: -3.5px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 12px;
              left: 5px;
              bottom: 8px;
              right: -5px;
            }
          }
          // >span {
          //   font-size: 12px;
          //   font-weight: normal;
          //   text-transform: uppercase;
          //   margin-left: 20px;
          //   @media only screen and (max-width: 1440px) {
          //     font-size: 9px;
          //     margin-left: calc(20px * 0.75);
          //   }
          //   @media screen and (max-width: 1024px) {
          //     font-size: 12px;
          //     margin-left: 10px;
          //   }
          // }
        }
      }
      // >a {
      //   font-weight: 500;
      //   font-size: 18px;
      //   letter-spacing: 0.2em;
      //   color: #FFFFFF;
      //   width: 410px;
      //   height: 60px;
      //   line-height: 60px;
      //   border-radius: 6px;
      //   background: #B79B53;
      //   border: none;
      //   text-align: center;
      //   display: block;
      //   margin: auto;
      //   &:hover {
      //     text-decoration: none;
      //   }
      //   @media only screen and (max-width: 1440px) {
      //     font-size: calc(18px * 0.75);
      //     width: calc(410px * 0.75);
      //     height: calc(60px * 0.75);
      //     line-height: calc(60px * 0.75);
      //   }
      //   @media screen and (max-width: 1024px) {
      //     font-size: 14px;
      //     width: 100%;
      //     height: 46px;
      //     line-height: 46px;
      //   }
      // }
    }
  }
}

.div-headerHome {
  height: auto;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 5;
  background: transparent;
  flex-direction: column;
  display: flex;
  z-index: 99;
  .div-region-web {
    padding: 0rem 1.375rem;
    height: 40px;
    position: absolute;
    top: 0%;
    left: unset;
    right: 0%;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
    background: transparent;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > .div-submenu {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #1a1a1a;
    z-index: 2;
    > button {
      color: #fff;
      border: none;
      background: #0000;
      font-size: 0.7rem;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  > .animation_show {
    margin-top: 70px;
    animation: animation-submenu-show 0.4s;
  }
  > .animation_hiden {
    margin-top: 0px;
    animation: animation-submenu-hiden 0.4s;
  }
  > .hiden_submenu {
    margin-top: 0px;
  }

  > .menu-header {
    width: 100vw!important;
    height: 228px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 1;
    @media screen and (max-width: 1440px) {
      height: calc(228px * 0.75);
    }
    @media (max-width: 1024px) { 
      height: 87px;
      z-index: -1;
     }

    // new menu 2020
      &.small-height {
        height: 70px;
        margin-top: 0px;
        @media screen and (max-width: 1440px) {
          height: 70px;
        }
        @media screen and (max-width: 1024px) {
          height: 70px;
        }
        .div-icon {
          padding-top: 0px;
          height: 100%;
          border-bottom: 1px solid #E2E2E2;
          .bt-logo {
            width: 131px;
            margin-top: 2px;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 1440px) {
              width: 96px;
              margin-top: 11px;
              transform: translate(-50%, -50%);
            }
            @media screen and (max-width: 1024px){
              height: auto;
              width: 91px;
              top: 42%;
              transform: translate(-50%, -50%);
            }
            >img {
              height: 100%;
              width: 100%;
              @media screen and (max-width: 1024px) {
                margin-top: -3px;
              }
            }
          }
        }
      }
     &.position-top {
      margin-top: 0px;
     }
    .div-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 33px 0px 33px;
      height: 142px;
      z-index: 2;
      background: #ffffff;
      @media screen and (max-width: 1440px) {
        padding: 13px 24px 0px 24px;
        height: calc(110px);
      }
      @media screen and (max-width: 1024px) {
        padding: 0px 15px 0px 5px;
        height: 47px;
      }
      .bt-click {
        padding: 30px 27px;
        @media screen and (max-width: 1440px) {
          padding: 22px 20px;
        }
        @media screen and (max-width: 1024px) {
          padding: 0px 10px;
        }
        >img {
          height: 14px;
          @media screen and (max-width: 1024px) {
            height: 14px;
          }
        }
       
      }
      .bt-logo {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 1440px) {
          top: calc(10px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          top: 0px;
        }
        >img {
          height: auto;
          width: 131px;
          margin-top: 48px;
      
          @media screen and (max-width: 1440px) {
            // height: calc(75px * 0.75);
            // width: calc(330px * 0.75);
            width: 91px;
            margin-top: 35px;
          }
          @media screen and (max-width: 1024px) {
            // height: 26px;
            width: 91px;
            margin-top: 10px;
          }
        }
      }
      .right-menu {
        height: 100%;
        display: flex;
        align-items:center;
        position: relative;
        >button {
          padding: 27px;
          @media screen and (max-width: 1440px) {
            padding: calc(27px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            padding: 10px 0px;
          }
          .div-icon-cart {
            >img {
              height: 22px;
              // @media screen and (max-width: 1440px) {
              //   height: calc(22px * 0.75);
              // }
              @media screen and (max-width: 1024px) {
                height: 16px;
              }
            }
            .cart-amount {
              >span {
                font-size: 13px;
                @media screen and (max-width: 1440px) {
                  font-size: calc(13px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  font-size: 7px;
                }
              }
            }
          }
        }
        .login-menu {
          @media screen and (max-width: 1024px) {
            margin-right: 18px;
          }
          .bt-menu {
            padding: 27px;
            @media screen and (max-width: 1440px) {
              padding: calc(27px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              padding: 10px 0px;
            }
            >img {
              height: 22px;
              // @media screen and (max-width: 1440px) {
              //   height: calc(22px * 0.75);
              // }
              @media screen and (max-width: 1024px) {
                height: 16px;
              }
            }
            
          }
        }
      }
    }
    .bg-open-menu {
      position: fixed;
      z-index: -1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity .4s, visibility .4s;
    }
    .div-text-menu {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;
      // z-index: -1;
      @media screen and (max-width: 1024px) {
        z-index: -1;
      }
      .menu-text {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsl(0, 0%, 100%);
        padding: 0px 213px;
        justify-content: space-between;

        // .bg-open-menu {
        //   position: fixed;
        //   z-index: -1;
        //   height: 100%;
        //   width: 100%;
        //   top: 0;
        //   left: 0;
        //   background: rgba(0, 0, 0, 0.5);
        //   transition: opacity .4s, visibility .4s;
        // }
        @media screen and (max-width: 1440px){
          position: relative;
          padding: 0px 160px;
        }
        @media screen and (max-width: 1024px) {
          padding: 0px 20px;
        }
        @media screen and (max-width: 768px) {
          padding: unset;
          position: unset;
          overflow-x: auto;
          display: flex;
          width: 100vw;
          align-items: unset;
          justify-content: unset;
          &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
        }
        .bt-click {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding: 30px 27px;
          left: 33px;
          margin-left: 0px;
          transition: all 0.2s ease;
          opacity: 0;
          z-index: -1;
          &.active-show {
            opacity: 1;
            z-index: 1;
          }
          @media screen and (max-width: 1440px) {
            padding: 22px 20px;
            left: 24px;
          }
          >img {
            height: 14px;
          }
        }

        .right-menu {
          height: 100%;
          display: flex;
          align-items:center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 33px;
          transition: all 0.2s ease;
          opacity: 0;
          z-index: -1;
          &.active-show {
            opacity: 1;
            z-index: 1;
          }
          @media screen and (max-width: 1440px) {
            right: 24px;
          }
          >button {
            padding: 27px;
            @media screen and (max-width: 1440px) {
              padding: calc(27px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              padding: 10px 0px;
            }
            .div-icon-cart {
              >img {
                height: 22px;
                @media screen and (max-width: 1024px) {
                  height: 16px;
                }
              }
              .cart-amount {
                >span {
                  font-size: 13px;
                  @media screen and (max-width: 1440px) {
                    font-size: calc(13px * 0.75);
                  }
                  @media screen and (max-width: 1024px) {
                    font-size: 7px;
                  }
                }
              }
            }
          }
          .login-menu {
            @media screen and (max-width: 1024px) {
              margin-right: 18px;
            }
            .bt-menu {
              padding: 27px;
              @media screen and (max-width: 1440px) {
                padding: calc(27px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                padding: 10px 0px;
              }
              >img {
                height: 22px;
                // @media screen and (max-width: 1440px) {
                //   height: calc(22px * 0.75);
                // }
                @media screen and (max-width: 1024px) {
                  height: 16px;
                }
              }
              
            }
          }
        }

        >button {
          font-weight: 500;
          font-size: 1rem;
          // letter-spacing: 0.2em;
          color: #0D0D0D;
          // text-transform: uppercase;
          white-space: nowrap;
          position: relative;
          height: 100%;
          padding: 0px 27px;
          // margin: 0px 19px;
          &:hover {
            color: #B79B53;
            @media screen and (max-width: 1024px) {
              color: #0D0D0D;
            }
          }
          &.active {
            &::after {
              content: '';
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 100%;
              height: 4px;
              border-radius: 28px 28px 0px 0px;
              background: #0D0D0D;
              @media screen and (max-width: 1440px) {
                height: 3px;
              }
              @media screen and (max-width: 1024px) {
                height: 2px;
              }
            }
          }
          @media screen and (max-width: 1440px) {
            font-size: 0.93rem;
            padding: 0px 20.25px;
            // margin: 0px 14.5px;
            .header_4 {
              font-size: 0.93rem;
            }
          }
          @media screen and (max-width: 1024px) {
            font-size: 0.93rem;
            padding: 2px 15px;
            margin: unset;
            margin-left: 4px;
            margin-right: 1px;
          }
        }
      }
      .line-menu {
        height: 1px;
        width: 100%;
        background: #E2E2E2;
      }
      .div-sub-menu {
        position: absolute;
        top: -700px;
        left: 0px;
        width: 100vw;
        height: auto;
        background: #ffffff;
        transition: all 0.5s ease;
        z-index: 0;
        opacity: 0;
        @media screen and (max-width: 1024px) {
          top: -100vh;
          z-index: -1;
        }
        &.open-menu {
          opacity: 1;
          top: 86px;
          @media screen and (max-width: 1440px) {
            top: 61px;
          }
          @media screen and (max-width: 1024px) {
            top: 40px;
          }
        }
      }
    }


    > .div-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      > .bar {
        font-size: 1.5rem;
        // margin-left: 20px;
        cursor: pointer;
        animation: animation-menu 0.8s;
      }
      > button {
        background-color: transparent;
        border: none;
        // margin-left: 50px;
        display: inline-flex;
        align-items: center;
        font-size: 0.8rem;
        animation: animation-menu 0.8s;
      }
    }
    > .div-right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @media (min-width: 992px) {
        padding-left: 13rem;
      }
      align-items: center;
      > .search {
        font-size: 1.5rem;
        margin-right: 20px;
        animation: animation-menu 0.8s;
      }
      > div > button {
        margin-right: 16px;
      }
      > button {
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: #fff;
        margin-right: 16px;
        display: inline-flex;
        align-items: center;
        font-size: 1.125rem;
        animation: animation-menu 0.8s;
        @media screen and (max-width: 600px) {
          margin-right: 18px;
          padding: 0px;
        }
      }
    }
    > .div-logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      > img {
        width: auto;
        height: 45px;
        position: fixed;
      }
      > .animation-hompage {
        animation: animation-homepage 3s;
      }
      > .animation-appear {
        animation: animation-menu 0.8s;
      }
    }
  }
  .div-icon-cart {
    color: #0D0D0D;
    position: relative; 
    img {
      @media screen and (max-width: 600px) {
        height: 28px;
      }
    }

    .cart-amount {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 20%;
      left: 85%;
      background-color: #b79b53;
      border-radius: 50%;
      z-index: 1;
      padding: 0px 8px;
      @media screen and (max-width: 1024px) {
        height: 17px;
        padding: 0px 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >span {
        font-size: 0.875rem;
        font-weight: bold;
        color: #fff;
        @media screen and (max-width: 1024px) {
          line-height: 18px;
          font-size: 0.64rem;
        }
      }
    }
  }
  .bg-on-scroll {
    transition: 0.6s;
  }
}

.details-menu {
  height: 6px;
  width: 6px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 10px;
  &_white {
    height: 6px;
    width: 6px;
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 50%;
    margin-left: 10px;
    &-active {
      background-color: #fff;
    }
  }
}

.button_homepage {
  color: #777;
  border: none;
  padding: 0px;
  text-align: center;
  background-color: transparent;
  &:hover {
    border-bottom: 1px solid #1e2f45;
    color: #777;
    text-decoration: none;
  }
}

.text-title {
  font-size: 2.1rem;
  color: #a0a0a0;
  z-index: 2;
  text-align: center;
}

.img-background {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
  object-fit: cover;
}
.header-menu {
  position: relative;
  background: transparent;
}

.button_home_page {
  background: none;
  color: #4c4b6d;
  border: 1px solid #4c4b6d;
  border-radius: "0px";
}

.height_home_page {
  min-height: calc(100vh - 70px);
}

.text-about {
  margin-top: 30px;
  margin-bottom: 50px;
  > p {
    color: #000000;
    font-size: 1.2rem;
    text-align: center;
  }
}
.div-startPage {
  width: 100%;
  z-index: 2;
  background: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .div-main {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    > .circle {
      position: absolute;
      z-index: 3;
      height: 66vh;
      width: 66vh;
      border: 1px solid #777;
      border-radius: 50%;
      background-color: #ffffff63;
      top: 50%;
      left: 50%;
      animation: animation-circle 0.8s;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    > .logo {
      position: absolute;
      z-index: 1;
      height: 33vh;
      width: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    > .perfume {
      position: absolute;
      z-index: 3;
      height: 22vh;
      width: 50px;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      > .image {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: 50% bottom;
        animation: animation-image_bottom 0.8s;
      }
    }
    > span {
      position: absolute;
      z-index: 4;
      color: #000;
      font-size: 1.4rem;
      top: 70%;
      left: 50%;
      animation: animation-title 0.8s;
      transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
    }
  }
  .div-floor {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 1;
    padding: 10px 20px 10px 20px;
    bottom: 0px;
    z-index: 9;
    > .row {
      .div-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        > button {
          background-color: transparent;
          border: none;
          align-items: center;
          font-size: 0.8rem;
          animation: animation-footer 0.8s;
        }
        > button:nth-child(1) {
          color: #777;
          animation: animation-footer 0.8s;
        }
        // > button:nth-child(2) {
        //   color: #000;
        //   padding: 0px;
        // }
      }
      .div-mid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > button {
          animation: animation-footer 0.8s;
        }
      }
      .div-right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media (min-width: 992px) {
          padding-left: 13rem;
        }

        align-items: center;
        > button {
          background-color: transparent;
          border: none;
          align-items: center;
          font-size: 0.8rem;
          animation: animation-footer 0.8s;
        }

        > .symbols {
          animation: animation-footer 0.8s;
        }
      }
    }
  }
}

.symbols {
  height: 1rem;
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  background: #000;
  &_whitle {
    height: 1rem;
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    background: #fff;
  }
}

.div-scentDesign {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .img-background {
    margin-top: 70px;
  }
  > .div-title {
    padding-bottom: 20vh;
    z-index: 1;
  }
  > .div-content {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    > .item {
      width: 25vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > span:nth-child(1) {
        font-weight: 400;
        color: #000;
        padding-bottom: 1.5rem;
        text-align: center;
      }
      > span:nth-child(2) {
        font-size: 0.6rem;
        color: #777;
        padding-bottom: 2.5rem;
        text-align: center;
      }
      > .ani-1 {
        animation: animation-scent 0.8s;
      }
      > .ani-2 {
        animation: animation-scent 1.2s;
      }
      > .ani-3 {
        animation: animation-scent 1.6s;
      }
    }
  }
}

.img-howit {
  object-fit: cover;
  height: 100%;
  width: 0%;
  &_right {
    object-position: right;
  }
  &_left {
    object-position: left;
  }
  &_animation_right {
    width: 533px;
    animation: animation-image_right 2s;
  }
  &_animation_left {
    width: 213px;
    animation: animation-image_left 2s;
  }
}

.div-howitwork > .div-video .div-title-howitwork > div > p {
  text-align: center;
}

.div-howitwork {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  > .text-title {
    margin-top: 70px;
  }
  .img_bg-howitwok {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    animation: fadeIn 2s;
    width: 100%;
  }
  > .img-left {
    height: 150%;
    left: -55%;
    top: -80px;
    position: absolute;
    animation: animation-roate-left-10 0.8s;
    z-index: 1;
  }
  > .img-right {
    height: 150%;
    right: -55%;
    top: -80px;
    position: absolute;
    animation: animation-roate-right-10 0.8s;
    z-index: 1;
  }
  > .div-text {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  > .div-video {
    width: 50%;
    position: relative;
    .div-title-howitwork {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > p:nth-child(1) {
          font-size: 0.8rem;
        }
        > p:nth-child(2) {
          font-size: 0.8rem;
        }
      }
    }
    .title-hiw-ani {
      animation: fadeIn 2s;
    }
  }
  > .div-button {
    margin-top: 80px;
    margin-bottom: 160px;
    z-index: 1;
  }
  > .content1 {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    > .div-img {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
    }
    > .div-text {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;
      > span {
        font-size: 2rem;
        color: #000;
        padding-bottom: 3rem;
      }
      > div {
        color: #777;
        font-size: 0.8rem;
        width: 70%;
      }
    }
  }
  > .content2 {
    margin-top: 50px;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row;
    > .text {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      color: #777;
    }
    > .img {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      align-items: flex-start;
      position: relative;
    }
  }
}

.div-academy {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  position: relative;
  z-index: 1;
  > .img-bg {
    position: absolute;
    left: 50%;
    top: -200px;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -webkit-mask: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/sheet.png");
    -webkit-mask-size: 7000% 100%;
    mask: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/141041/sheet.png");
    mask-size: 7000% 100%;
  }
  > .text {
    color: #777;
    font-size: 0.8rem;
    width: 60%;
    text-align: center;
  }
  > .div-button {
    margin-top: 80px;
  }
}

.div-influencer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > .text {
    color: #777;
    font-size: 0.8rem;
    width: 60%;
    text-align: center;
  }
  > .text-title {
    margin-top: 200px;
  }
  > .div_img {
    display: flex;
    flex-direction: row;
    > div {
      display: flex;
      flex-direction: column;
      > .content-image {
        position: relative;
        display: flex;
        flex-direction: column;
        > span {
          font-size: 0.8rem;
          height: 40px;
          margin-top: 10px;
        }
        > .div-image-4_3 {
          width: 288px;
          height: 216px;
          > .cover-image {
            position: absolute;
            width: 288px;
            height: 216px;
            background: #fff2;
            cursor: pointer;
            &:hover {
              background: transparent;
            }
          }
          > .image {
            position: absolute;
            width: 288px;
            height: 0px;
            object-fit: cover;
            object-position: top;
            border-radius: 20px;
          }
          > .animation {
            height: 216px;
            animation: animation-image_top_4_3 2s;
          }
        }
        > .cover-image-530_580 {
          width: 288px;
          height: 315px;
          > .cover-image {
            position: absolute;
            width: 288px;
            height: 315px;
            background: #fff2;
            cursor: pointer;
            &:hover {
              background: transparent;
            }
          }
          > .image {
            position: absolute;
            width: 288px;
            height: 0px;
            object-fit: cover;
            object-position: top;
            border-radius: 20px;
          }
          > .animation {
            height: 315px;
            animation: animation-image_top_530_580 2s;
          }
        }
      }
    }
    > .div-left {
      margin-right: 50px;
    }
    > .div-right {
      margin-left: 50px;
    }
  }
  > .div-line {
    height: 1.6rem;
    width: 1px;
    background: #000;
  }
}

.div-influencer-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > .text {
    color: #777;
    font-size: 0.8rem;
    width: 60%;
    text-align: center;
  }
  > .text-title {
    margin-top: 200px;
  }
  > .div_img {
    display: flex;
    flex-direction: row;
    > div {
      display: flex;
      flex-direction: column;
      > .content-image {
        position: relative;
        display: flex;
        flex-direction: column;
        > span {
          font-size: 0.8rem;
          height: 40px;
          margin-top: 10px;
        }
        > .div-image-4_3 {
          width: 144px;
          height: 108px;
          > .cover-image {
            position: absolute;
            width: 144px;
            height: 108px;
            background: #fff2;
            cursor: pointer;
            &:hover {
              background: transparent;
            }
          }
          > .image {
            position: absolute;
            width: 144px;
            height: 0px;
            object-fit: cover;
            object-position: top;
            border-radius: 20px;
          }
          > .animation {
            height: 108px;
            // animation: animation-image_top_4_3 2s
          }
        }
        > .cover-image-530_580 {
          width: 144px;
          height: 157.5px;
          > .cover-image {
            position: absolute;
            width: 144px;
            height: 157.5px;
            background: #fff2;
            cursor: pointer;
            &:hover {
              background: transparent;
            }
          }
          > .image {
            position: absolute;
            width: 144px;
            height: 0px;
            object-fit: cover;
            object-position: top;
            border-radius: 20px;
          }
          > .animation {
            height: 157.5px;
            // animation: animation-image_top_530_580 2s
          }
        }
      }
    }
    > .div-left {
      margin-right: 50px;
    }
    > .div-right {
      margin-left: 50px;
    }
  }
  > .div-line {
    height: 1.6rem;
    width: 1px;
    background: #000;
  }
}

/*===============Footer=====================*/
.div-footer {
  width: 100vw;
  display: flex;
  padding: 50px 214px;
  flex-direction: column;
  align-items: center;
  background: #0D0D0D;
  position: relative;
  @media screen and (max-width: 1440px) {
    padding: 37.5px 160px;
  }
  @media screen and (max-width: 1024px) {
    padding: 45px 35px;
  }
  .header_4, .header_2 {
    color: #ffffff;
  }
  .header_2 {
    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }
  .space-line {
    margin-top: 2px;
    @media screen and (max-width: 1440px) {
      margin-top: 1.5px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 10px;
    }
  }
  .space-block {
    margin-top: 50px;
    @media screen and (max-width: 1440px) {
      margin-top: 37.5px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 30px;
    }
  }
  .content {
    padding: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
    .div-left {
      width: 22vw;
      display: flex;
      flex-direction: column;
      .item {
        display: flex;
        flex-direction: row;
        width: 97px;
        height: auto;
        img {
          width: 100%;
        }
      }
      .logo-conthuong {
        width: 70%;
      }
      ul {
        width: 15vw;
        margin: 0px;
        padding: 0px;
        li {
          list-style-type: none;
          color: #fff;
          // margin-bottom: 15px;
          span {
            color: #fff;
            // font-size: 0.9rem;
            // font-weight: 400;
          }
          // strong {
          //   font-weight: 700;
          // }
        }
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    .div-center {
      width: 35vw;
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      .item {
        display: flex;
        flex-direction: row;
        height: auto;
        div {
          text-transform: uppercase;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: left;
          justify-content: space-between;
          .link-connect {
            margin-top: 40px;
            @media screen and (max-width: 1440px) {
              margin-top: 30px;
            }
            @media screen and (max-width: 1024px) {
              margin-top: 20px;
            }
          }
          >a {
            @media screen and (max-width: 768px){
              font-size: 12px;
            }
          }
          a:hover {
            text-decoration: none;
          }
        }

        .__right {
          padding-right: 0rem;

          @media screen and (max-width: 768px) {
            padding-right: 0rem;
            text-align: right;
          }
        }
      }
    }
    .div-right {
      margin-top: 0px;
      width: 25vw;
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin-top: 0px;
      .header_4 {
        margin-top: 10px;
        margin-bottom: 15px;
        @media screen and (max-width: 1440px) {
          margin-top: 7.5px;
          margin-bottom: 11.25px;
        }
        @media screen and (max-width: 1024px) {
          margin-top: 10px;
          margin-bottom: 30px;
          text-align: center;
        }
      }
      .stylish-input-group {
        margin-top: 1rem;
        .form-control {
          height: 42px;
          border-right: 0;
          box-shadow: 0 0 0;
          color: #fff;
          border-color: #ccc;
          background: #050505;
          border-radius: 0px;
          border: 0px;
          font-size: 16px;
          border: 2px solid #ffffff;
          @media screen and (max-width: 1440px) {
            height: 31.5px;
            font-size: 12px;
            border: 1.5px solid #ffffff;
          }
          @media screen and (max-width: 1024px) {
            height: 47px;
            font-size: 13px;
            border: 1.2px solid #ffffff;
          }
          &::placeholder {
            color: #fff;
            font-size: 1rem;
            text-align: left;
          }
        }
        .input-group-append {
          button {
            text-transform: uppercase;
            color: #0d0d0d;
            font-size: 13px;
            border: 0;
            width: 7rem;
            letter-spacing: 0.2em;
            background: #F3F3F3;
            border-radius: 0px;
            height: 42px;
            @media screen and (max-width: 1440px) {
              font-size: 9.7px;
              height: 31.5px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              height: 47px;
            }
          }
        }
      }
    }
  }

  .space-content {
    padding: 0px;
    width: calc(100vw - 154px * 2);
    margin-top: 16px;
    @media screen and (max-width: 1440px) {
      width: calc(100vw - 115px * 2);
      margin-top: 9px;
    }
    .line-footer {
      border: 1px solid rgba(183, 155, 83, 0.6);
      @media screen and (max-width: 1440px) {
        border: 0.75px solid rgba(183, 155, 83, 0.6);
      }
    }
  }
  .connect-icon {
    padding-top: 1.25rem;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 154px * 2);
    justify-content: space-between;
    z-index: 1;
    @media screen and (max-width: 1440px) {
      width: calc(100vw - 115px * 2);
    }
    .div-left-icon {
      width: 30vw;
      display: flex;
      flex-direction: column;
      padding-left: 6px;
      .email {
        font-size: 1rem;
        font-weight: 300;
        @media screen and (max-width: 1440px) {
          font-size: 0.875rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 0.93rem;
        }
        color: #FFFFFF;
        >a {
          color: #ffffff;
          font-weight: 300;
        }
      }
      .phone-number {
        font-weight: normal;
        font-size: 1rem;
        text-transform: uppercase;
        color: #FFFFFF;
        @media screen and (max-width: 1440px) {
          font-size: 0.875rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 0.93rem;
        }
        >a {
          color: #ffffff;
        }
      }
    }
    .div-center-icon {
      width: 35vw;
      display: flex;
      flex-direction: column;
      .link-connect {
        // font-size: 12px;
        color: #C7C7C7;
        margin-top: 12px;
        @media screen and (max-width: 1440px) {
          margin-top: 9.5px;
        }
        @media screen and (max-width: 1024px) {
          margin-top: 19px;
        }
      }
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        div {
          width: 50px;
          margin: 0px 20px;
          img {
            width: 100%;
          }
        }
      }
    }
    .div-right-icon {
      width: 10rem;
      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          width: 100%;
        }
        .facebook-icon {
          margin-right: 35px;
          img {
            width: 50%;
          }
        }
      }
    }
  }
}

.phone-number {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
}
.link-connect {
  // margin-bottom: 15px;
  color: #fff;
  font-size: 0.9rem;
  &:hover {
    font-weight: bold;
    color: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  .div-footer {
    // width: 100%;
    height: auto;
    .content {
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      .div-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        ul {
          width: 100%;
          margin-top: 0px;
          >li {
            text-align: center;
          }
          .regular {
            font-weight: 300;
          }
        }
      }
      .div-center {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        .item {
          display: flex;
          flex-direction: row;
          div {
            width: 100%;
            display: flex;
            flex-direction: column;
          }
          .div-support {
            text-align: right;
          }
        }
      }
      .div-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;
        p {
          text-align: center;
          margin-bottom: 20px;
        }
        .stylish-input-group {
          margin-top: 0px;
        }
      }
    }
    .space-content {
      display: none;
    }
    .connect-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 0px;
      padding-top: 0px;
      .div-left-icon {
        width: 100%;
        margin-top: 30px;
        align-items: center;
        text-align: center;
        > span {
          margin-left: 0px;
        }
        p {
          text-align: center;
        }
      }
      .div-center-icon {
        width: 100%;
        margin-top: 0px;
        align-items: center;
        .link-connect{
          margin-top: 19.5px;
        }
      }
      .div-right-icon {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        .item {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
  }
  .link-connect {
    font-size: 0.93rem;
  }
}

.bt_footer {
  font-size: 0.6rem;
  color: #c5c5c5;
  margin-left: 15px;
  &:hover {
    border-bottom: 1px solid #c5c5c5;
  }
}
.bt-back {
  margin-top: 120px;
  z-index: 1;
  &:hover {
    border-bottom: 1px solid #c5c5c5;
  }
}

.content-menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 200px;
  > div {
    display: flex;
    flex-direction: row;
  }
}
.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  animation: animation-text_subMenu 0.8s;
}

.menuItem {
  padding-top: 10px;
  padding-bottom: 10px;
  > .menu {
    font-size: 1rem;
  }
  > button {
    &:hover {
      border: none;
    }
  }
}
.div-menu-wrap {
  position: fixed;
  width: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  background: #00000088;
}
.div-menu {
  background: #1a1a1a;
  position: fixed;
  width: 100%;
  top: 0px;
  bottom: 0px;
  > .div-startPage {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
  }
  &-mobile {
    width: 70%;
    box-shadow: 0px 0px 3px 0px #e2e2e2;
    > div {
      background: #ffffff;
      margin-top: 40px;
      overflow: auto;
      .header {
        height: 53px;
        padding-left: 30px;
        border-bottom: 1px solid #0D0D0D;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .div-itemsubmenu {
        width: 100%;
        .item-header {
          background: #ffffff;
          color: #0D0D0D;
          border-bottom: 1px solid #e2e2e2;
          width: 100%;
          height: 53px;
          padding-left: 15px;
          padding-right: 15px;
        }
        .item-content {
          background: #f6f6f6;
          border-bottom: 1px solid #e2e2e2;
          width: 100%;
          height: 53px;
          padding-left: 15px;
        }
        .items-transition-open {
          transition: all 0.5s;
        }
        .items-transition-close {
          transition: height 0.5s;
        }
      }
    }
  }
}
.color-white {
  color: #ddd;
  padding: 0px;
}
.color-dark {
  color: #000;
  padding: 0px;
}

.button-subMenu {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  padding: 0px;
  border: none;
  text-align: left;
}
.div-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  height: calc(100vh - 70px);
  > form {
    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 344px;
      > .title {
        font-size: 2rem;
        color: #000;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
      }
      > .title_input {
        color: #d4d9dd;
      }
      > input {
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #d4d9dd;
        height: 52px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.1rem;
      }
      > .div-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        > div {
          height: 1px;
          width: 45%;
          background: #d4d9dd;
        }
        > span {
          color: #d4d9dd;
        }
      }
      > .div-button {
        display: flex;
        flex-direction: row;
        justify-content: "space-between";
        margin-top: 20px;
      }
      > .div-bt_register {
        width: 100%;
        height: 54px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        > button {
          width: 250px;
          font-size: 1.2rem;
          height: 100%;
          color: #fff;
        }
      }
    }
  }
}
.btn_facebook {
  background: #19a3ad;
  color: #fff;
  width: 100%;
  font-size: 0.9rem;
  margin-right: 5px;
  height: 45px;
}
.btn_google {
  background: #19a3ad;
  color: #fff;
  font-size: 0.9rem;
  width: 100%;
  margin-left: 5px;
  height: 45px;
}
.div-community {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  position: relative;
  overflow: hidden;
  .div-bg {
    position: absolute;
    right: 0px;
    height: 235%;
    top: -82%;
  }
  .text-title {
    font-size: 2rem;
    color: #000;
    padding-bottom: 3rem;
  }
  .div-text {
    color: #777;
    font-size: 0.8rem;
    width: 60%;
    text-align: center;
  }
  .div-product {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    > .animation-1 {
      animation: animation-opacity-delay 0.8s;
    }
    > .animation-2 {
      animation: animation-opacity-delay 1.2s;
    }
    > .animation-3 {
      animation: animation-opacity-delay 1.6s;
    }
    > div:nth-child(2) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .div-product-mobile {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    > .animation-1 {
      animation: animation-opacity-delay 0.8s;
    }
    > .animation-2 {
      animation: animation-opacity-delay 1.2s;
    }
    > .animation-3 {
      animation: animation-opacity-delay 1.6s;
    }
  }
  > .div-button {
    margin-top: 70px;
    margin-bottom: 170px;
  }
}

.div-comingsoon {
  width: 100%;
  height: 100vh;
  position: relative;
  > .div-video {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
  > .div-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    > img {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 1;
      object-fit: cover;
    }
    > .animation_scale {
      animation: animation-scale-image 0.8s ease-in-out;
    }
    > .animation_show {
      animation: animation-opacity-image 0.8s ease-in-out;
    }
  }
  > .div-logo {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    > img:nth-child(1) {
      width: 480px;
      height: auto;
      position: absolute;
      z-index: 1;
      object-fit: cover;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    > img:nth-child(2) {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 2;
      object-fit: cover;
    }
  }
  > .div-make {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: transparent;
    .title-make {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      animation: fadeIn 1s ease-in;
      > img {
        height: 80px;
        object-fit: contain;
      }
      .line-make {
        height: 2px;
        width: 33%;
        background: #fff;
        margin-top: 15px;
      }
    }
    .content-make {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      flex: 1;
      z-index: 3;
    }
    .content-make-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
    }
    .content-make,
    .content-make-mobile {
      > .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        animation: fadeIn 1s ease-in;
        > span:nth-child(1) {
          font-size: 1.6rem;
          letter-spacing: 3px;
          line-height: 50px;
          color: #000000;
          font-weight: 400;
        }
        > span:nth-child(2) {
          font-size: 1rem;
          letter-spacing: 2px;
          line-height: 50px;
          color: #000000;
          font-family: "PT Sans", sans-serif;
          font-weight: 400;
        }
        > button {
          font-size: 1.1rem;
          letter-spacing: 3px;
          line-height: 50px;
          color: #000000;
          font-family: "PT Sans", sans-serif;
          font-weight: 400;
          background: url("../image/bg-info-bt.png");
          background-repeat: no-repeat;
          border: none;
          background-size: cover;
          width: 180px;
          height: 55px;
          background-size: 180px 55px;
        }
      }
    }
  }
  > .div-text {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    font-size: 10px;
    z-index: 3;
  }
  > .img-text {
    width: 400px;
    height: auto;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  > .div-button {
    width: 350px;
    height: auto;
    position: absolute;
    z-index: 1;
    object-fit: cover;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 3;
    > button {
      background: url("../image/bg_bt_comingsoon.svg");
      background-repeat: no-repeat;
      border: none;
      width: 140px;
      height: 43px;
      background-size: 140px 43px;
    }
    > button:nth-child(2) {
      float: right;
    }
  }
}

.progressbar {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-bottom: 0px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 2;
  &-left {
    left: 50px;
  }
  &-right {
    right: 50px;
  }
  &:hover {
    cursor: pointer;
  }
}

.howitwork-bt_icon {
  background: transparent;
  border: none;
}
.point-step {
  width: 50px;
  height: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #1a1a1a;
  }
  &_active {
    background: #1a1a1a;
  }
}

.bt-know-more {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 1px solid #fff;
  background: #1a1a1a;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  // font-weight: 600;
}

.bt-like {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 1px solid #fff;
  background: #1a1a1a;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  > i {
    vertical-align: middle;
  }
  > .liked {
    color: "red";
  }
  > .not-liked {
    color: #fff;
  }
}
.card_know_more {
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 300px;
  bottom: 0;

  &_open {
    right: 0;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    z-index: 999;
  }
  &_close {
    right: -300px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
}
.know_more-content {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  justify-content: flex-start;
  height: 100%;
  > .card {
    height: 100%;
  }
  > .button-back {
    width: 100%;
    display: block;
    position: fixed;
    top: 0px;
    right: 20px;
    > button {
      float: right;
      background: transparent;
      border: none;
      font-size: 1.2rem;
    }
  }
  > .title {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  > .text {
    margin-top: 10px;
  }
}

.custom-input {
  &__checkbox {
    display: none;
    visibility: hidden;
    position: relative !important;
    margin: 0 auto !important;

    & + label {
      background-color: #fafafa;
      border: 1px solid #1a1a1a;
      border-radius: 3px;
      position: relative;
      width: 15px;
      height: 15px;
      margin: 0 auto;
      cursor: pointer;
      top: 2px;
    }

    &:checked + label {
      background-color: #fafafa;
      border: 1px solid #1a1a1a;
      color: #fafafa;

      &::after {
        content: "\2713";
        font-size: 15px;
        font-weight: 900;
        position: absolute;
        top: 49%;
        left: 49%;
        transform: translate(-49%, -49%);
        color: #1a1a1a;
      }
    }
  }
}

.input-email-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > h3 {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
  }
  > span {
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  > .email {
    width: 280px;
    height: 40px;
    border: 1px solid;
    border-radius: 0px;
    text-align: center;
    color: #1a1a1a;
    background: transparent;
  }
  > .inbox {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
  > .bt-save {
    height: 40px;
    background: transparent;
    background-color: #1a1a1a;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    margin-bottom: 20px;
  }
  > .bt-continue {
    background: transparent;
    border: none;
  }
}

.animation-open-menu {
  left: 0px;
}

.animation-close-menu {
  left: -100%;
}
.animation-all {
  transition: left 0.5s !important;
}
