.body-how {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 1;
  align-items: center;
  > .div1{
    height: 19vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    > .title1 {
      font-style: italic;
      color: #888;
      font-size: 0.9rem;
    }
    > .title2{
      font-size: 2.2rem;
    }
  }
  > .div2 {
    height: 24vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #888;
  }
  > .div3{
    height: 52px;
    width: 248px;
    > .bt-find {
      height: 100%;
      width: 100%;
      background-color: #fff;
      border-color: #00cf00;
      color: #00cf00;
      border-radius: 3px;
    }
  }
  > .div4{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    >.div-image{
      height: 70%;
      width: auto;
      background-color: #444;
    }
  }
}
.body-academy{
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  >.span1 {
    font-size: 0.9rem;
    color: #888;
    font-style: italic;
    margin-top: 60px;
  }
  > .span2 {
    font-size: 2.2rem;
  }
  >.span3 {
    color: #888;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 60%;
    text-align: center;
  }
  >.bt-learn {
    background-color: #00cf00;
    border-color: #00cf00;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 60px;
    width: 250px;
    height: 54px;
  }
}
.body_influencer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 1;
  align-items: center;
  height: 100vh;
  > .span1 {
    margin-top: 100px;
    font-size: 0.9rem;
    color: #888;
    font-style: italic;
  }
  > .span2 {
    font-size: 2.2rem;
  }
  >.span3 {
    color: #888;
    padding-top: 30px;
    width: 60%;
    text-align: center;
  }
  >.div-link {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    > .link {
      color: #00cf00;
    }
  }
  > .div-infuencer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 65%;
    >.div1 {
      height: 50%;
      padding-bottom: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    >.div2 {
      height: 50%;
      padding-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.div-item {
  width: 30%;
  height: 100%;
  border: 1px solid #d8d8d8;
}
.div-influencerItem {
  display: flex;
  flex-direction: column;
  >.div-img{
    height: 74%;
    width: 100%;
    background-color: #d8d8d8;
  }
  >.div-span {
    height: 26%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}