@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .content {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > .logo {
      width: 200px;
    }
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-span {
  width: 100%;
  color: #1a1a1a;
}
.login-input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  border: 1px solid #777;
  color: #1a1a1a;
  border-radius: 5px;
}
.login-submit {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid #777;
  background: transparent;
}
.login-back {
  position: absolute;
  left: 50px;
  bottom: 50px;
  > button {
    background: transparent;
    border: none;
  }
}
.button-context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > i {
    font-size: 1.2rem;
    margin-right: 5px;
    color: #1a1a1a;
  }
}

.login-register {
  width: 32vw;
  position: fixed;
  top:35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
  height: 100vh;
}

/*=============Input Material=============*/
.group{ 
  position:relative; 
  margin-top:20px; 
}
.input-material{
  display:block;
}
.input_underline {
  background: transparent;
  border: none;
  border-bottom: 1.5px solid #E2E2E2;
  color: #0d0d0d;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
  &::placeholder {
    color: #8D8D8D;
  }
  @media screen and (max-width: 1440px) {
    font-size: calc(20px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}
.input-material:focus{
  outline:none; 
}
.label-material{
  color:#0d0d0d; 
  font-size:1rem;
  position:absolute;
  text-align: left;
  pointer-events:none;
  top:5px;
  padding-bottom: 5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
/* active state */
.input-material:focus ~ label, .input-material:valid ~ label 		{
  top:-20px;
  font-size:0.8rem;
  color:#0d0d0d;
}
/*=========================================*/

.textarea_input {
  width: 40%;
  margin-top: 45px;
  height: 108px;
  color: rgb(26, 26, 26);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #8d8d8d;
  background: transparent;
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 0.8rem;
    font-style: italic;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 0.8rem;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.8rem;
    font-style: italic;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    font-size: 0.8rem;
    font-style: italic;
  }
}

.div_login-button {
  justify-content: left;
  margin-top: 30px;
  font-weight: 500;
  > button {
    color: #B79B53;
    font-size: 1rem;
    background: transparent;
    border: none;
    font-weight: 600;
    padding: 0px;
    margin-top: 5px;
  }
  > div {
    font-size: 1.3rem;
  }
}
.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > .div-bt-login {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > button {
      background-color: #0D0D0D;
      color: white;
      border-radius: 6px;
      width: 100%;
      height: 60px;
      border: 0px;
      font-size: 18px;
      letter-spacing: 0.2em;
      // @media screen and (max-width: 1440px) {
      //   height: calc(60px * 0.75);
      //   font-size: calc(18px * 0.75);
      // }
    }
  }
  > .forgot_pwd {
    text-align: center;
    margin-top: 5px;
    a {
      text-decoration: none;
      color: #B79B53;
    }
  }
  .text-register {
    display: flex;
    align-items: center;
    justify-content: center;
    >button {
      color: #B79B53;
      margin-left: 5px;
    }
  }
  >hr {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 30px;
    background: #E2E2E2;
    @media screen and (max-width: 1440px) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 48px;
      margin-bottom: 64px;
    }
  }

  > .button-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.login-social{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 23px;
    @media screen and (max-width: 1440px) {
      margin-bottom: calc(23px * 0.75);
    }
  }
.icon-social{
    width: 3.5rem;
    height: 3.5rem;
  }
.icon-social img{
  width: 100%;
  text-align: right;
}

.icon-social button {
  border: 0px;
  background-color: transparent;
}

.icon-social.facebook{
  margin-right: 46px;
}
  @media only screen and (max-width: 768px){
    .login-social{
      font-size: 0.8rem;}
    .icon-social{
      width: 30px;
      height: 30px;
    }
  }
.login-content {
  display: flex;
  margin:0px;
  flex-direction: column;
  justify-content: center;
  > .forgot_pwd {
    text-align: center;
    margin-top: 5px;
    a {
      text-decoration: none;
      color: #B79B53;
    }
  }
  > button {
    background: transparent;
    text-align: right;
    width: 100%;
    border: none;
    font-size: 0.8rem;
  }
  > .button-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  > .div-bt-login {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > button {
      background-color: #0D0D0D;
      color: white;
      border-radius: 6px;
      width: 100%;
      height: 60px;
      font-size: 18px;
      border: 0px;
    }
  }
  .text-register {
    display: flex;
    align-items: center;
    justify-content: center;
    >button {
      color: #B79B53;
      margin-left: 5px;
    }
  }
  >hr {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 30px;
    background: #E2E2E2;
    @media screen and (max-width: 1440px) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 48px;
      margin-bottom: 64px;
    }
  }
}
.bt-popup_close {
  background: transparent;
  color: #1a1a1a;
  font-size: 1.5rem;
  border: none;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 5;
}

.div-drawer-login {
  width: 732px;
  height: 100%;
  padding: 100px 40px 40px 40px;
  color: #0D0D0D;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  @media screen and (max-width: 1440px) {
    width: calc(732px * 0.75);
    padding: 75px 30px 30px 30px;
    font-size: calc(20px * 0.75);
    background: #fff;
  }
  @media screen and (max-width: 1024px) {
    width: 100vw;
    padding: 83px 28px 28px 28px;
    font-size: 14px;
  }
  .button-close {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 40px;
    right: 40px;
    border: 3px solid #B79B5388;
    >img {
      height: 20px;
      width:20px;
    }
    &:hover {
      background-color: #B79B53;
      border:none;
    }
    @media screen and (max-width: 1440px) {
      width: calc(60px * 0.75);
      height: calc(60px * 0.75);
      top: calc(40px * 0.75);
      right: calc(40px * 0.75);
      >img {
        height: calc(20px * 0.75);
        width: calc(20px * 0.75);
      }
    }
    @media screen and (max-width: 1024px) {
      width: 40px;
      height: 40px;
      top: 33px;
      left: unset;
      right: 28px;
      >img {
        height: 13px;
        width: 13px;
      }
    }
  }
  .login_header {
    font-size: 74px;
    font-family: Playfair Display;
    @media screen and (max-width: 1440px) {
      font-size: calc(74px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 34px;
    }
  }
  .sub-header {
    font-size: 18px;
    color: #8D8D8D;
    @media screen and (max-width: 1440px) {
      font-size: calc(18px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
  .content-form {
    margin-top: 40px;
  }
}