.div-mmo {
  width: 100%;
  // min-height: 797px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  >.div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 227px;
    @media screen and (max-width: 1440px) {
      margin-top: 170px;
    }
    @media screen and (max-width: 1024px){
      margin-top: 86px;
    }
    >.title{
      font-size: 2rem;
      color: #1a1a1a;
      margin-top: 30px;
    }
    >.description {
      margin-top: 10px;
      margin-bottom: 30px;
      color: #777;
      padding: 0px;
    }
  }
  >.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    >.div-object {
      >.mmo-block1, >.mmo-block2, >.mmo-block3 {
        width: calc(260px + 40px);
        height: calc(385px + 40px);
        margin: 10px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      >.add-boder {
        border: 1px dashed #d6d8d2;
        border-radius: 20px;
      }
      >.mmo-block1, >.mmo-block3 {
        >button {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          >div {
            display: flex;
            flex-direction: column;
            > span:nth-child(1) {
              font-weight: 600;
            }
            > i {
              margin-top: 5px;
            }
          }
          &:hover {
            > div > i {
              transform: rotate(180deg);
              transition: transform 0.2s;
            }
          }
        }
      }
      >.mmo-block2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        >.video-react {
          background: #ffffff;
        }
        >.video {
          width: 100%;
          flex: 1;
        }
        >.button-bl2 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          > button{
            // width: 200px;
            height: 57px;
            padding: 0px 3.5rem;
            background: transparent;
            border-radius: 10px;
            letter-spacing: 0.2em;
            background-color: #0D0D0D;
            color: #ffffff;
          }
        }
        >.button-bl1 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          >button {
            background: transparent;
            border: none;
            align-items: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            > img{
              width: 26px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}

.div-mmo-mobile {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  >.div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 86px;
    >.title{
      font-size: 2rem;
      color: #1a1a1a;
      margin-top: 50px;
      text-align: center;
      padding: 0px 10px;
    }
    >.description {
      margin-top: 30px;
      margin-bottom: 30px;
      color: #777;
    }
  }
  >.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    justify-content: flex-start;
  }
}

.scent-selection-mobile {
  margin-top: 10px;
  margin-bottom: 10px
}

.scent-selection:hover {
  transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.scent-mmo {
  animation: fadeIn 2s;
  padding-bottom: 20px;
}
.div-selectionScent-mobile {
  width:100% !important; 
  height: calc(100vh - 140px)!important;
  margin-left: 0px !important;
}
.div-selectionScent {
  position: fixed;
  top: 122px;
  width: calc(100% - 70px);
  height: calc(100vh - 140px);
  margin-left: 35px;
  z-index: 999;
  animation: fadeIn 0.6s;
  .select-body {
    position: relative;
    padding: 0;
    height: 100%;
    overflow-y:scroll;
    .div-recommend-mobile {
      margin-top: 95px;
      .header {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        color: '#0D0D0D';
      }
    }
    >.div-headerSelection {
      position: fixed;
      width: calc(100% - 72px);
      display: flex;
      flex-direction: column;
      z-index: 8;
      background: #fff;
      @media screen and (max-width: 600px){
        border-bottom: 1px solid #0D0D0D;
      }
      >.header {
        height: 55px;
        @media screen and (max-width: 600px){
          height: 72px;
        }
        > button {
          position: absolute;
          background: transparent;
          border: none;
        }
        > button:nth-child(1) {
          left: 20px;
          top: 15px;
          @media screen and (max-width: 600px){
            top: 20px;
          }
          >img {
            width: 20px;
            height: 20px;
          }
        }
        > button:nth-child(3) {
          top: 15px;
          right: 70px;
          @media screen and (max-width: 600px){
            top: 20px;
          }
        }
        >span {
          position: absolute;
          top: 15px;
          left: 50%;
          transform: translateX(50%);
          -ms-transform:  translateX(-50%);
          -webkit-transform: translateX(-50%);
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
      .div-expend {
        height: auto;
        animation: fadeInDown 0.5s;
        .header-expend {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 80px;
          margin-right: 80px;
        }
        .div-bt-clear {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 15px;
          margin-bottom: 15px;
          >button {
            background: transparent;
            border: none;
          }
        }
      }
    }
    .content {
      display: flex;
      height: 100%;
      flex-direction: column;
      >.row {
        margin: 0;
        position: relative;
        margin: 75px 40px 20px 40px;
        height: 100%;
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

.bt-filter {
  height: 30px;
  background: transparent;
  border: 1px solid #d6d8d2;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  &-enable{
    border: 1px solid #d6d8d2;
    color: #1a1a1a;      
  }
  &-disable{
    border: 1px solid #f2f3f0;
    color: #d6d8d2;      
  }
}

.div-recommend-mmo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 20px 0px;
  .div-wrap-button {
    height: 98px;
    border: 1px solid #0D0D0D;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    >button {
      border: none;
      background-color: #0D0D0D;
      color: #ffffff;
      letter-spacing: 0.2em;
      border-radius: 6px;
      padding: 16px 21px;
      font-size: 12px;
    }
  }
}
.div-recommend-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #0D0D0D;
  border-radius: 6px;
  width: 100%;
  height: 70px;
  cursor: pointer;
  .div-image {
    width: 70px;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
  .div-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 13px 15px;
    justify-content: space-between;
    >h3 {
      color: #0D0D0D;
      align-items: center;
      text-transform: uppercase;
      font-size: 18px;
      margin: 0px;
    }
    >span{
      color: #8D8D8D;
      font-size: 12px;
    }
  }
}

.div-title-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  >h5 {
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
  }
  >span {
    font-size: 12px;
    height: 18px;
    display: flex;
    text-align: center;
    color: #0D0D0D;
  }
}