.modal-video {
  max-width: 1174px !important;
  border-radius: 20.4133px;
  @media screen and (max-width: 1440px) {
    max-width: calc(1174px * 0.75) !important;
  }
  .modal-content {
    border-radius: 20px;
    @media screen and (max-width: 1440px) {
      border-radius: calc(20px * 0.75);
    }
    @media only screen and (max-width: 1024px) {
      border-radius: calc(11px);
    }
  }
  .modal-body {
    padding: 64px;
    @media screen and (max-width: 1440px) {
      padding: calc(64px * 0.75);
    }
    @media only screen and (max-width: 1024px) {
      padding: 21px 14px;
    }
    .video-item {
      display: flex;
      flex-direction: column;
      .video-react-video {
        border-radius: 20px;
        @media screen and (max-width: 1440px) {
          border-radius: calc(20px * 0.75);
        }
        @media only screen and (max-width: 1024px) {
          border-radius: calc(11px);
        }
      }
      .video-react-poster {
        border-radius: 20px;
        @media screen and (max-width: 1440px) {
          border-radius: calc(20px * 0.75);
        }
        @media only screen and (max-width: 1024px) {
          border-radius: calc(11px);
        }
      }
      .bt-close {
        position: absolute;
        top: 30px;
        right: 30px;
        >img {
          width: 28px;
          height: 28px;
          @media screen and (max-width: 1440px) {
            width: calc(28px * 0.75);
            height: calc(28px * 0.75);
          }
          @media only screen and (max-width: 1024px) {
            width: 14px;
            height: 14px;
          }
        }
        @media screen and (max-width: 1440px) {
          top: calc(30px * 0.75);
          right: calc(30px * 0.75);
        }
        @media only screen and (max-width: 1024px) {
          top: 18px;
          right: 21px;
        }
      }
      >span {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin: auto;
        margin-bottom: 48px;
        @media screen and (max-width: 1440px) {
          font-size: calc(24px * 0.75);
          margin-bottom: calc(48px * 0.75);
        }
        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          margin-bottom: 26px;
        }
      }
    }
  }

  &.limit-height {
    margin: 0 auto;
    .modal-body {
      .video-react {
        padding-top: 480px !important;
      }
    }

    @media screen and (max-width: 991px) {
      margin: 0 48px;
    }

    @media screen and (max-width: 767px) {
      margin: 0 24px;

      .modal-body .video-react {
        padding-top: 350px !important;
      }
    }
  }
}