//let delete 'a' in .div-mooda class.
.div-mooda {
    // height: 100vh;
    width: 100vw;
    display: flex;
    >.div-body {
        // height: calc(100vh - 70px);
        width: 100%;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.img-left {
            height: 120%;
            left: -43%;
            top: 80px;
            position: fixed;
        }
        >.img-right {
            height: 120%;
            right: -43%;
            top: 80px;
            position: fixed;
        }
        >.title {
            font-size: 2rem;
            color: #1a1a1a;
            margin-top: 50px;
        }
        >.description {
            margin-top: 30px;
            margin-bottom: 30px;
            color: #777;
        }
        >.div-button {
            width: 100vw;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >.div-bt-mood {
                width: 550px;
                max-width: 98vw;
                margin-bottom: 30px;
                position: relative;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 183px;
                    object-fit: cover;
                    object-position: center;
                    z-index: 0;
                    top: 0px;
                    border-radius: 10px;
                }
                >.div-content {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 183px;
                    >span:nth-child(1) {
                        font-size: 1.3rem;
                        color: #fff;
                    }
                    >span:nth-child(2) {
                        font-size: 0.8rem;
                        // margin-bottom: 1.3rem;
                        // margin-top: 1.3rem;
                        color: #fff;
                    }
                    >button {
                        background: transparent;
                        border: none;
                        color: #fff;
                        font-size: 1.3rem;
                    }
                }
                >.div-extend {
                    margin-top: 213px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
        >.div-result {
            display: flex;
            flex-direction: row;
            width: 880px;
            justify-content: space-between;
        }
    }
}