
.avatar-edit {
  width: 417px;
  height: 200px;
  cursor: grab;
  touch-action: none;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
}
.div-recommend {
  border-bottom: 1px solid #E2E2E2;
  >button {
    padding: 30px 50px;
    @media screen and (max-width: 1440px) {
      padding: 22.5px 37.5px;
    }
    @media screen and (max-width: 1024px) {
      padding: 18px;
    }
    .header_3 {
      padding-left: 32px;
      @media screen and (max-width: 1440px) {
        padding-left: 32px;
      }
      @media screen and (max-width: 1024px) {
        padding-left: 42px;
      }
    }
    .bt-close {
      left: calc(20px * 1.33);
      @media screen and (max-width: 1440px) {
        left: 20px;
      }
      @media screen and (max-width: 1024px) {
        left: 20px;
        >img {
          width: 13px;
        }
      }
    }
  }
  .ReactCollapse--collapse {
    transition: height 500ms;
    .ReactCollapse--content {
      .text {
        padding: 30px 50px;
        padding-left: 86px;
        @media screen and (max-width: 1440px) {
          padding: 22.5px 37.5px;
          padding-left: 72px;
        }
        @media screen and (max-width: 1024px) {
          padding: 18px;
          padding-left: 62px;
        }
      }
    }
    .recommend-item-text {
      >p {
        @media screen and (max-width: 1024px) {
          text-align:center !important;
        }
        >span {
          font-size: 0.8rem!important;
          @media screen and (max-width: 1024px) {
            font-size: '0.875rem';
          }
        }
      }
    }
  }
}