.custom-labels .rangeslider-horizontal .rangeslider__handle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  border: 5px solid #0D0D0D;
}
.custom-labels .rangeslider-horizontal .rangeslider__handle-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  font-size: 20px;
  font-weight: 600;
};

.rangeslider {
  box-shadow: none;
  background: #C4C4C4;
}

.custom-labels .rangeslider-horizontal .rangeslider__handle:after {
  position: static;
}

.custom-labels .rangeslider-horizontal .rangeslider__labels .rangeslider__label-item {
  position: absolute;
  font-size: '2rem';
  cursor: pointer;
  display: inline-block;
  top: 10px;
  transform: translate3d(-50%,0,0);
}

.custom-labels .rangeslider-horizontal .rangeslider__labels .rangeslider__label-item {
  position: absolute;
  font-size: '2rem';
  cursor: pointer;
  display: inline-block;
  top: 10px;
  transform: translate3d(-50%,0,0);
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #0D0D0D;
  border-radius: 10px;
  top: 0;
}

.custom-labels {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 1024px){
    padding: 30px 0px;
    
  }
}
.custom-labels .rangeslider-horizontal .rangeslider__labels .rangeslider__label-item {
  font-size: '2rem';
}
.rangeslider__labels {
  display: none;
  > li {
    font-size: '2rem' !important;
  }
}
.rangeslider__labels .rangeslider__label-item {
  font-size: '2rem';
}