.div-scentItem {
    width: 260px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .item-title {
        width: 100%;
        height: auto;
        text-align: center;
        position: absolute;
        left: 5%;
        .custom-title {
            font-size: 13px;
            font-weight: bold;
            line-height: 25px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            text-align: center;
            font-style: normal;
            color: #000000;
        }
    }
    .div-3image {
        width: 100%;
        position: absolute;
        height: auto;
        display: flex;
        margin: 0 -15px;
        left: 10%;
        top: 10%;
        >div {
            flex: 1 0 32%;
        }
        .div-img-1,
        .div-after-shadow,
        .div-img-2 {
            padding: 0 15px;
            cursor: pointer;
        }
        .div-after-shadow::after {
            content: '';
            z-index: -1;
            -webkit-z-index: -1;
            position: absolute;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            left: 6%;
            width: 0px;
            height: 175px;
            transform: perspective(600px) rotateY(30deg);
            -webkit-transform: perspective(600px) rotate(30deg);
            box-shadow: -23px 25px 65px rgba(0, 0, 0, 0.25);
        }
        .div-img-1 {
            .img-1 {
                cursor: pointer;
                transform: perspective(600px) rotateY(30deg);
                -webkit-transform: perspective(600px) rotateY(30deg);
                border-radius: 20px;
                -webkit-border-radius: 20px;
                box-shadow: -40px 40px 80px rgba(0, 0, 0, 0.25);
                z-index: 1 !important;
                -webkit-z-index: 1 !important;
            }
        }
        .div-img-2 {
            .img-2 {
                cursor: pointer;
                transform: perspective(600px) rotateY(-30deg);
                -webkit-transform: perspective(600px) rotateY(-30deg);
                border-radius: 20px;
                -webkit-border-radius: 20px;
                box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.25);
                z-index: 1 !important;
                -webkit-z-index: 1;
            }
        }
        .div-img-3 {
            width: 100%;
            position: absolute;
            height: auto;
            z-index: 10 !important;
            top: 26%;
            left: 50%;
            margin-left: -123.5px;
            cursor: pointer;
        }
    }
    .item-detail {
        position: absolute;
        flex-direction: column;
        width: 100%;
        left: 0;
        height: 100%;
        >div>span {
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #000000;
        }
        .item-short-title,
        .item-price,
        .item-btn-options {
            position: absolute;
            left: 50%;
            font-size: 13px;
            transform: translateX(-50%);
        }
        .item-short-title {
            // margin-left: -56px;
            bottom: 25%;
            font-weight: bold;
            width: 100%;
            text-align: center;
            .custom-item-short-title {
                line-height: 18px;
            }
        }
        .item-price {
            // margin-left: -15px;
            bottom: 19%;
            font-weight: bold;
            line-height: 18px;
        }
        .item-btn-options {
            // margin-left: -121px;
            flex-direction: row;
            bottom: 11%;
            width: 100%;
            justify-content: center;
            display: flex;
            >button {
                background-color: transparent;
                mix-blend-mode: multiply;
                border: none;
                letter-spacing: 0.2em;
                font-size: 12px;
                >span {
                    text-transform: uppercase;
                }
            }
        }
    }
}
.border-carousel-product-all-mobile-2{
    .slick-arrow {
        margin-top: 0px!important;
        top: 42%!important;      
    }
}
.slick-slider {
    .slick-arrow {
        position: absolute;
        width: 75px;
        height: 46px;
        margin-top: -23px;
        z-index: 12;
        top: 35%;
        &.slick-prev {
            left: 0;
            &::before {
                content: '';
                background: url(../image/arrow-prev.svg) 0 0/100% auto no-repeat;
                width: 75px;
                height: 46px;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &.slick-next {
            right: 0;
            // mix-blend-mode: multiply;
            // background: transparent;
            &::before {
                content: '';
                background: url(../image/arrow-next.svg) 0 0/100% auto no-repeat;
                width: 75px;
                height: 46px;
                position: absolute;
                right: 0;
                overflow: hidden;
                top: 0;
            }
        }
    }
    .item-title {
        width: 100%;
        height: auto;
        text-align: center;
        position: absolute;
        .custom-title {
            font-size: 11px;
            font-weight: bold;
            line-height: 25px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-style: normal;
            color: #000000;
        }
    }
    .div-scentItem-mobile {
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 0 auto;
        .div-3image {
            width: 100%;
            position: absolute;
            height: auto;
            display: flex;
            margin: 0 -15px;
            left: 6%;
            top: 10%;
            >div {
                flex: 1 0 32%;
            }
            .div-img-1,
            .div-img-2 {
                padding: 0 15px;
                cursor: pointer;
                z-index: 1 !important;
            }
            .div-after-shadow::after {
                content: '';
                position: absolute;
                border-radius: 12px;
                left: 8%;
                width: 0px;
                z-index: -1;
                -webkit-z-index: -1;
                height: 110px;
                transform: perspective(600px) rotateY(30deg);
                -webkit-transform: perspective(600px) rotateY(30deg);
                box-shadow: -15px 8px 50px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: -15px 8px 50px rgba(0, 0, 0, 0.25);
            }
            .div-img-1 {
                .img-1 {
                    cursor: pointer;
                    transform: perspective(600px) rotateY(30deg);
                    -webkit-transform: perspective(600px) rotateY(30deg);
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    box-shadow: -40px 40px 80px rgba(0, 0, 0, 0.25);
                }
            }
            .div-img-2 {
                .img-2 {
                    cursor: pointer;
                    transform: perspective(600px) rotateY(-30deg);
                    -webkit-transform: perspective(600px) rotateY(-30deg);
                    border-radius: 15px;
                    -webkit-border-radius: 15px;
                    box-shadow: 40px 40px 80px rgba(0, 0, 0, 0.25);
                }
            }
            .div-img-3 {
                width: 100%;
                position: absolute;
                height: auto;
                z-index: 10 !important;
                -webkit-z-index: 10 !important;
                top: 27%;
                left: 50%;
                margin-left: -123.5px;
            }
        }
        .item-detail {
            position: absolute;
            flex-direction: column;
            width: 100%;
            left: 0;
            height: 100%;
            >div>span {
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #000000;
            }
            .item-short-title,
            .item-price,
            .item-btn-options {
                position: absolute;
                left: 50%;
                font-size: 10px;
                transform: translateX(-50%);
            }
            .item-short-title {
                // margin-left: -48px;
                bottom: 32%;
                font-weight: bold;
                width: 100%;
                text-align: center;
                .custom-item-short-title {
                    line-height: 18px;
                }
            }
            .item-price {
                // margin-left: -15px;
                bottom: 26%;
                font-weight: bold;
                line-height: 18px;
                @media (min-width: 413px) and (max-width: 414px) {
                    bottom: 26%;
                }
            }
            .item-btn-options {
                // margin-left: -130px;
                flex-direction: row;
                bottom: 20%;
                width: 100%;
                justify-content: center;
                display: flex;
                @media (min-width: 413px) and (max-width: 414px) {
                    bottom: 20%;
                    margin-left: -130px;
                }
                >button {
                    border: none;
                    background: transparent;
                    letter-spacing: 0.2em;
                    font-size: 8px;
                    >span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.btn-test-again-browser {
    width: 152px;
    height: 48px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #ffffff;
    color: #000000;
    border-radius: 90px;
    border: 1px solid #000000;
}

.btn-test-again-mobile {
    width: 100px;
    height: 30px;
    font-size: 9px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #ffffff;
    color: #000000;
    border-radius: 90px;
    border: 1px solid #000000;
}