.workshop {
  background-color: #f8f8f8;
  position: relative;
  // margin-top: 227px;
  // @media screen and (max-width: 1440px) {
  //   margin-top: 170px;
  // }
  // @media (max-width: 1024px) {
  //   margin-top: 86px;
  // }
}

.qna-block {
  margin-top: 9rem;
  padding: 0px 214px;
  @media screen and (max-width: 1440px) {
    padding: 0px 160px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 2rem;
    padding: 0px 15px;
  }
  .div-faq-block {
    width: 100%;
    .div-content-faq {
      .div-recommend {
        >button {
          .header_3 {
            font-weight: 400 !important;
            font-size: 18px !important;
            letter-spacing: 0.05rem !important;
          }
        }
      }
    }
  }
}

.workshop__parent {
  min-height: 65rem;
  margin-top: -12rem;
  position: relative;
  @media (max-width: 991.98px) {
    margin-top: -7rem;
  }
}

.workshop__parent2 {
  min-height: unset;
  margin-top: 0rem;
  position: relative;
  padding-top: 24px;
  @media (max-width: 991.98px) {
    margin-top: -7rem;
  }
}
.workshop__child2 {
  max-width: 78%;
  margin: auto;
  position: relative;
}
.workshop__child {
  max-width: 84.0625rem;
  margin: auto;
  position: relative;
}

@media (max-width: 991.98px) {
  .workshop__banner {
    height: 326px;
    padding-top: 2.5rem;

    h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    p {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
}

.workshop-v3 {
  padding-bottom: 48px;
  background-color: #e5e5e5 !important;
  // margin-top: 227px;
  @media screen and (max-width: 1440px) {
    // margin-top: 170px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media screen and (max-width: 1024px) {
    // margin-top: 86px;
  }
  .container-fluid {
    background: #F5ECDC;
  }
}
