.about-us-v3 {
  // margin-top: 228px;
  padding: 0px 60px;
  @media only screen and (max-width: 1440px) {
    // margin-top: calc(228px * 0.75);
    padding: 0px 45px;
  }
  @media only screen and (max-width: 1024px) {
    // margin-top: 87px;
    padding: 0px 15px;
  }
  .block-banner {
    .block-text {
      .description {
        margin: 72px 0px 0px 0px;
        @media only screen and (max-width: 1440px) {
          margin: 58px 0px 0px 0px;
        }
        @media only screen and (max-width: 1024px) {
          margin: 30px 0px 0px 0px;
        }
        >p {
          margin-bottom: 0px;
        }
      }
    }
  }
  .cta-block-our-team {
    margin-bottom: 50px;
    @media screen and (max-width: 1440px) {
      margin-bottom: calc(50px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }
  .block-banner-v2 {
    margin: 0px;
    padding: 0px;
    .block-text {
      align-items: flex-start;
      @media screen and (max-width: 1024px) {
        align-items: center;
      }
      .header_4 {
        text-align: start;
        &.tr {
          text-align: end;
          @media screen and (max-width: 1024px) {
            text-align: center;
          }
        }
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }
    }
  }
  .div-block-icon-header-v2 {
    margin-top: 50px;
    @media screen and (max-width: 1440px) {
      margin-top: 37.5px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 0px;
    }
    &.small-size {
      padding: 50px calc(100vw * 0.079);
      background: #F3F3F3;
      @media screen and (max-width: 1440px) {
        padding: 37.5px calc(100vw * 0.079);
      }
      @media screen and (max-width: 1024px) {
        padding: 50px 0px 60px 0px;
      }
    }
    >h2 {
      font-weight: 300;
      font-size: 44px;
      line-height: 48px;
      letter-spacing: 0.07em;
      @media screen and (max-width: 1440px) {
        font-size: calc(44px * 0.75);
        line-height: calc(48px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 21px;
        line-height: 30px;
        letter-spacing: unset;
      }
    }
    .div-list-icon {
      .div-item {
        @media screen and (max-width: 1024px) {
          margin-bottom: 0px;
        }
        >h4 {
          font-weight: 300;
          font-size: 25px;
          line-height: 27px;
          margin-bottom: 10px;
          margin-top: 20px;
          height: unset;
          @media screen and (max-width: 1440px) {
            font-size: calc(25px * 0.75);
            line-height: calc(27px * 0.75);
            margin-bottom: 7.5px;
            margin-top: calc(20px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 17px;
            line-height: 25px;
            margin-bottom: 0px;
            margin-top: 20px;
          }
        }
        .header_4 {
          .rich-text {
            >p:last-child {
              margin-bottom: 0px;
            }
          }
          @media screen and (max-width: 1024px) {
            padding: 0px 57px;
            text-align: center;
          }
        }
      }
    }
  }
  .div-ebook-mobile {
    
  }
  .div-ebook {
    width: 100%;
    margin: 0px auto;
    @media screen and (max-width: 1440px){
      width: 100%;
    }
    .div-bg {
      .div-bg-1 {
        // padding-top: 135px;
        padding-top: 0px;
        @media screen and (max-width: 1440px) {
          padding-top: 0px;
        }
        .div-body {
          width: 50%;
          margin-bottom: 0px;
          // >h3 {
          //   font-family: Playfair Display;
          //   font-weight: normal;
          //   font-size: 64px;
          //   align-items: center;
          //   color: #0D0D0D;
          //   letter-spacing: 0px;
          //   text-transform: unset;
          //   @media screen and (max-width: 1440px) {
          //     font-size: calc(64px * 0.75);
          //   }
          // }
          // .des-1 {
          //   font-weight: 500;
          //   font-size: 24px;
          //   text-transform: capitalize;
          //   margin: 60px 0px;
          //   @media screen and (max-width: 1440px) {
          //     font-size: calc(24px * 0.75);
          //     margin: 45px 0px;
          //   }
          // }
          &.block-text-right {
            padding-right: 10vw;
            text-align: right;
            .div-line-check {
              width: 100%;
              justify-content: flex-end;
            }
            .des-2 {
              width: 100%;
            }
          }
          .div-line-check {
            align-items: baseline;
            >span {
              font-weight: 300;
              font-size: 22px;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(22px * 0.75);
              }
            }
          }
          // .des-2 {
          //   font-weight: 500;
          //   font-size: 24px;
          //   line-height: 38px;
          //   color: #0D0D0D;
          //   margin-top: 40px;
          //   @media screen and (max-width: 1440px) {
          //     font-size: calc(24px * 0.75);
          //     line-height: calc(38px * 0.75);
          //     margin-top: calc(40px * 0.75);
          //   }
          // }
        }
      }
      .div-bg-2 {
        background: transparent;
        .div-body {
          width: 50%;
          padding-top: 16px;
          padding-bottom: 135px;
          @media screen and (max-width: 1440px) {
            padding-top: calc(16px * 0.75);
            padding-bottom: 90px;
          }
          &.block-text-right {
            padding-right: 10vw;
            align-items: flex-end;
          }
          >input {
            border-bottom: 1px solid #8D8D8D;
            color: #0d0d0d;
            &::placeholder {
              color: #8D8D8D;
            }
          }
        }
      }
    }
    .div-image {
      width: 50%;
      height: calc(100% - 75px * 2);
      bottom: 135px;
      @media screen and (max-width: 1440px) {
        height: calc(100% - 50px * 2);
        bottom: 90px;
      }
      .div-image-body {
        >img {
          height: 100%;
        }
      }
    }
  }
  .about-instagram {
    padding: 0px 9.375rem;
    @media only screen and (max-width: 1440px) {
      padding: 0px 8rem;
    }
    @media (max-width: 1024px) {
      padding: 0px 1.75rem;
    }
  }
}