.div-wrap-review {
  .div-account-review {
    display: flex;
    flex-direction: column;
    padding: 0px 54px;
    @media screen and (max-width: 1024px) {
      padding: 0px 16px;
    }
    >h3 {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #0D0D0D;
      margin-bottom: 20px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
    }
    .div-button-tab {
      display: flex;
      flex-direction: row;
      width: 100%;
      .div-tab {
        width: 50%;
        border-bottom: 0.5px solid #8D8D8D;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.active {
          border-bottom: 2px solid #0D0D0D;
          >button {
            color: #0D0D0D;
          }
        }
        >button {
          padding: 30px 0px;
          background: transparent;
          border: none;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #8D8D8D;
          position: relative;
          @media screen and (max-width: 1024px){
            font-size: 12px;
          }
        }
      }
    }
    
    .div-sub-tab {
      margin-top: 30px;
      @media screen and (max-width: 1024px){
        margin-top: 0px;
      }
      .div-none-item {
        margin-top: 146px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1024px){
          margin-top: 47px;
        }
        >h4 {
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #0D0D0D;
          @media screen and (max-width: 1024px){
            font-size: 12px;
          }
        }
        >div >button {
          margin-top: 36px;
          height: 43px;
          width: 206px;
          background: #0D0D0D;
          border: 0.75px solid #0D0D0D;
          border-radius: 6px;
          font-size: 13.5px;
          line-height: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF; 
          @media screen and (max-width: 1024px){
            margin-top: 24px;
            width: 203px;
          }
        }
      }
    }

    .div-item-reviewed {
      display: flex;
      flex-direction: column;
      margin-top: 26px;
      @media screen and (max-width: 1024px){
        margin-top: 33px;
      }
      >h5 {
        font-size: 12px;
        line-height: 14px;
        font-style: italic;
        color: #8D8D8D;
        margin: 0px;
      }
      .div-item {
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: none;
        .div-left {
          display: flex;
          flex-direction: row;
          align-items: center;
          >img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-right: 17px;
            cursor: pointer;
            @media screen and (max-width: 1024px) {
              width: 84px;
              height: 84px;
            }
          }
          .div-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            >span:nth-child(1) {
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #8D8D8D;
              margin-bottom: 3px;
              @media screen and (max-width: 1024px) {
                font-size: 8px;
              }
            }
            >span:nth-child(2) {
              font-size: 16px;
              color: #0D0D0D;
              @media screen and (max-width: 1024px) {
                font-size: 14px;
                padding-right: 5px;
              }
            }
          }
        }
        .div-button {
          >button {
            height: 43px;
            padding: 0px 60px;
            border: 0.75px solid #0D0D0D;
            border-radius: 6px;
            background: transparent;
            font-size: 13.5px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            @media screen and (max-width: 1024px) {
              padding: 0px 5px;
              height: 36px;
              font-size: 12px;
            }
          }
        }
      }
    }

    .div-item-history {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      @media screen and (max-width: 1024px){
        margin-top: 40px;
        margin-bottom: 40px;
      }
      >h5 {
        font-style: italic;
        font-size: 12px;
        color: #8D8D8D;
      }
      .div-body-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        .div-left {
          width: 60%;
          display: flex;
          flex-direction: column;
          padding-right: 10%;
          @media screen and (max-width: 1024px){
            width: 70%;
            padding-right: 5%;
          }
          .title {
            font-weight: 500;
            font-size: 10px;
            color: #0D0D0D;
            margin-top: 10px;
          }
          .comment {
            margin: 20px 0px;
            width: 100%;
            font-size: 12;
            border: 0.750521px solid #E2E2E2;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 20px;
            height: 130px;
            @media screen and (max-width: 1024px) {
              width: 100%;
              border: none;
              padding: unset;
            }
          }
          .div-product {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            @media screen and (max-width: 1024px){
              margin-top: 0px;
            }
            >img {
              width: 100px;
              height: 100px;
              object-fit: contain;
              margin-right: 17px;
              cursor: pointer;
              @media screen and (max-width: 1024px){
                width: 84px;
                height: 84px;
              }
            }
            .text-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              >span:nth-child(1) {
                font-size: 14px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #8D8D8D;
                margin-bottom: 5px;
                @media screen and (max-width: 1024px){
                  font-size: 8px;
                }
              }
              >span:nth-child(2) {
                font-size: 16.5115px;
                line-height: 22px;
                color: #0D0D0D;
                @media screen and (max-width: 1024px){
                  font-size: 14px;
                }
              }
            }
          }
        }

        .div-right {
          width: 40%;
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1024px){
            width: 30%;
          }
          .div-star {
            display: flex;
            flex-direction: column;
            >span {
              font-weight: 500;
              font-size: 10px;
              color: #0D0D0D;
              margin-bottom: 5px;
              @media screen and (max-width: 1024px){
                text-align: right;
                margin-bottom: 0px;
              }
            }
            .div-list-star {
              width: 189px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 25px;
              @media screen and (max-width: 1024px){
                width: 100%;
                margin-bottom: 10px;
              }
              >img {
                height: 30px;
                @media screen and (max-width: 1024px){
                  height: 14px;
                }
                >img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
      .title {
        font-weight: 500;
        font-size: 10px;
        color: #0D0D0D;
        margin-top: 10px;
      }
      .comment {
        margin: 20px 0px;
        width: 50%;
        font-size: 12px;
        border: 0.750521px solid #E2E2E2;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 20px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          border: none;
          padding: unset;
        }
      }
      .div-list-post-image {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .img-up {
          width: 69px;
          height: 73px;
          object-fit: contain;
          object-position: center;
          margin-right: 20px;
        }
        .div-upload-image {
          >span {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.05em;
            color: #0D0D0D;
          }
          >section {
            width: 72px;
            height: 72px;
            cursor: pointer;
            @media screen and (max-width: 1024px) {
              width: 72px;
              height: 72px;
            }
            >div {
              width: 100%;
              height: 100%;
              background: #F0F0F0;
              border: 1px dashed #8D8D8D;
              border-radius: 6px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              >img {
                height: 24px;
                @media screen and (max-width: 1024px) {
                  height: 24px;
                }
              }
              >span {
                text-align: center;
                color: #8D8D8D;
                font-size: 8px;
                @media screen and (max-width: 1024px) {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }

      .button-submit {
        >button {
          background: #0D0D0D;
          border: 0.75px solid #0D0D0D;
          border-radius: 6px;
          border: none;
          width: 206px;
          height: 43px;
          font-size: 13.5px;
          line-height: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
      .button-edit-save {
        >button {
          background: transparent;
          border: none;
          padding: 0px;
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.2em;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #0D0D0D;
        }
      }
    }
  }

  // write review
  .div-write-review {
    display: flex;
    flex-direction: column;
    padding: 0px 54px;
    @media screen and (max-width: 1024px) {
      padding: 0px 16px;
    }
    .div-header-order {
      display: flex;
      flex-direction: row;
      position: relative;
      @media screen and (max-width: 1024px) {
        margin: 47px 0px 0px 0px;
      }
      .bt-back {
        background: transparent;
        border: none;
        margin: 0px;
        margin-right: 10px;
        padding: 0px;
        @media screen and (max-width: 1024px) {
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
      >h3 {
        margin: 0px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1024px) {
          width: 100%;
          text-align: center;
        }
      }
    }

    .div-item-history {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      margin-top: 30px;
      @media screen and (max-width: 1024px){
        margin-top: 40px;
        margin-bottom: unset;
      }
      >h5 {
        font-style: italic;
        font-size: 12px;
        color: #8D8D8D;
        @media screen and (max-width: 1024px){
          width: 100%;
          text-align: center;
          margin-top: 0px;
        }
      }
      .div-body-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media screen and (max-width: 1024px){
          flex-direction: column;
        }
        .div-left {
          width: 60%;
          display: flex;
          flex-direction: column;
          padding-right: 10%;
          @media screen and (max-width: 1024px){
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0px;
          }
          .title {
            font-weight: 500;
            font-size: 10px;
            color: #0D0D0D;
            margin-top: 10px;
            @media screen and (max-width: 1024px){
              margin-top: 23px;
              margin-bottom: 13px;
            }
          }
          .comment {
            margin: 20px 0px;
            width: 90%;
            font-size: 12;
            border: 0.750521px solid #E2E2E2;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 20px;
            @media screen and (max-width: 1024px) {
              width: 100%;
              border: none;
              padding: unset;
            }
          }
          .div-product {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            @media screen and (max-width: 1024px) {
              display: flex;
              flex-direction: column;
            }
            >img {
              width: 100px;
              height: 100px;
              object-fit: contain;
              margin-right: 17px;
              cursor: pointer;
              @media screen and (max-width: 1024px){
                width: 84px;
                height: 84px;
              }
            }
            .text-info {
              display: flex;
              flex-direction: column;
              justify-content: center;
              @media screen and (max-width: 1024px){
                margin-top: 15px;
              }
              >span:nth-child(1) {
                font-size: 14px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #8D8D8D;
                margin-bottom: 5px;
                @media screen and (max-width: 1024px){
                  font-size: 8px;
                  text-align: center;
                }
              }
              >span:nth-child(2) {
                font-size: 16.5115px;
                line-height: 22px;
                color: #0D0D0D;
                @media screen and (max-width: 1024px){
                  font-size: 14px;
                }
              }
            }
          }
        }
  
        .div-right {
          width: 40%;
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1024px){
            width: 100%;
          }
          >hr {
            width: 100%;
            background: #E0E0E0;
          }
          .div-star {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1024px){
              margin-bottom: 22px;
              padding: 0px 51px;
            }
            >span {
              font-weight: 500;
              font-size: 10px;
              color: #0D0D0D;
              margin-bottom: 5px;
              @media screen and (max-width: 1024px){
                text-align: center;
                font-size: 12px;
              }
            }
            .div-list-star {
              width: 189px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 25px;
              @media screen and (max-width: 1024px){
                width: 100%;
              }
              >button {
                background: transparent;
                padding: 0px;
                border: none;
                width: 30px;
                height: 30px;
                @media screen and (max-width: 1024px){
                  width: 35px;
                  height: 35px;
                }
                >img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
      .title {
        font-weight: 500;
        font-size: 10px;
        color: #0D0D0D;
        margin-top: 10px;
      }
      .comment {
        margin: 20px 0px;
        width: 50%;
        height: 130px;
        font-size: 12;
        border: 0.750521px solid #E2E2E2;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 20px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          border: 0.750521px solid #E2E2E2;
          padding: 30px;
          border-radius: 6px;
          height: 200px;
        }
      }
      .div-list-post-image {
        width: 100%;
        display: flex;
        @media screen and (max-width: 1024px) {
          justify-content: center;
        }
        .img-up {
          width: 69px;
          height: 73px;
          object-fit: contain;
          object-position: center;
          margin-right: 20px;
          margin-bottom: 20px;
          @media screen and (max-width: 1024px) {
            width: 73px;
            height: 69px;
          }
        }
        .div-upload-image {
          @media screen and (max-width: 1024px) {
            display: flex;
            justify-content: center;
          }
          >span {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.05em;
            color: #0D0D0D;
          }
          >section {
            width: 72px;
            height: 72px;
            cursor: pointer;
            @media screen and (max-width: 1024px) {
              width: 72px;
              height: 72px;
            }
            >div {
              width: 100%;
              height: 100%;
              background: #F0F0F0;
              border: 1px dashed #8D8D8D;
              border-radius: 6px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
              >img {
                height: 24px;
                @media screen and (max-width: 1024px) {
                  height: 24px;
                }
              }
              >span {
                text-align: center;
                color: #8D8D8D;
                font-size: 8px;
                @media screen and (max-width: 1024px) {
                  font-size: 8px;
                }
              }
            }
          }
        }
      }
      
      .button-submit {
        margin-bottom: 40px;
        margin-top: 70px;
        @media screen and (max-width: 1024px) {
          display: flex;
          justify-content: center;
          margin-top: 24px;
        }
        >button {
          background: #0D0D0D;
          border: 0.75px solid #0D0D0D;
          border-radius: 6px;
          border: none;
          width: 206px;
          height: 43px;
          font-size: 13.5px;
          line-height: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }
}