$margin-header: 40px;
 $margin-mobile: 110px;
.div-address-store {
  height: calc(65vh);
  width: 100%;
  position: relative;
  margin-top: $margin-header;
  @media (max-width: 1024px) {
    height: calc(100vh - #{$margin-mobile});
    margin-top: $margin-mobile;
  }
  .div-map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    > img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
  .div-info {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    left: 50%;
    display: flex;
    align-items: center;
    margin-top: 83px;
    .div-cart {
      overflow: hidden;
      border-radius: 22px;
      width: 534px;
      height: 576px;
      margin-left: 60px;
      background: #fff;
      box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);

      .div-header {
        > button {
          height: 90px;
          background: #fff;
          border: none;
          // font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 2rem;
          letter-spacing: 0.2em;
          text-transform: uppercase;

          color: #0d0d0d;
          &.active {
            border-bottom: 2px solid #0d0d0d;
            color: #0d0d0d;
          }
        }
      }
      .div-image {
        height: 225px;
        width: 100%;
        .image-gallery-image {
          height: 225px;
          width: 100%;
          > img {
            height: 100%;
          }
        }
        .image-gallery-left-nav,
        .image-gallery-right-nav {
          font-size: 30px;
          &::before {
            color: #0d0d0d;
            opacity: 0.5;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
      }
      .div-text {
        color: #0d0d0d;
        padding: 20px;
        flex: 1;
        .div-image {
          width: 45px;
          height: auto;
          > img {
            width: 20px;
          }
        }
        > div > a {
          color: #0d0d0d;
          &:hover {
            color: #0d0d0d;
          }
        }
      }
    }
  }
}

.div-address-store-mobile {
  // margin-top: 120px;
  .div-map {
    width: 100%;
    height: 100%;
    > img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
  .div-info {
    height: 360px;
    position: relative;
    .div-cart {
      height: 360px;
      position: absolute;
      top: -50px;
      background: #fff;
      box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
      font-size: 0.7rem;
      width: 278px;
      transform: translateX(-50%);
      left: 50%;
      .div-header {
        background: #fff;
        > button {
          height: 50px;
          background: #fff;
          border: none;
          color: #8d8d8d;
          &.active {
            border-bottom: 2px solid #0d0d0d;
            color: #0d0d0d;
          }
        }
      }

      .div-image {
        height: 117px;
        width: 100%;
        .image-gallery-image {
          height: 117px;
          width: 100%;
          > img {
            height: 100%;
          }
        }
        .image-gallery-left-nav,
        .image-gallery-right-nav {
          font-size: 20px;
          &::before {
            color: #0d0d0d;
            opacity: 0.5;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }
      }

      .div-text {
        color: #0d0d0d;
        padding: 15px;
        flex: 1;
        .div-image {
          width: 40px;
          height: auto;
          > img {
            width: 15px;
          }
        }
        > div > a {
          color: #0d0d0d;
          &:hover {
            color: #0d0d0d;
          }
        }
      }
    }
  }
}
