$margin-header: 40px;
 $margin-mobile: 110px;
.block-carousel {
  position: relative;
  width: 100%;
  height: calc(100vh);
  padding-top: $margin-header;
  background: #0D0D0D;
  @media (max-width: 1024px) {
    height: calc(100vh);
    padding-top: $margin-mobile;
    background: #0D0D0D;
  }
  >.div-image {
    width: 100%;
    height: 100%;
    .ic-scroll-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      height: 40px;
      cursor: pointer;
    }
    >.slick-slider {
      >.slick-dots{
        bottom: 70px;
        > li > button:before {
          color: white;
        }
        @media only screen and (max-width: 600px) {
          top: 50vh;
          height: 30px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
          top: 50vh;
          height: 30px;
        }
      }
    }
  }

}

.div-custome-silde-mobile {
  width: 100%;
  position: relative;
  display: flex !important;
  .div-image-text {
    width: 100%;
    height: calc(100vh - #{$margin-header});
    position: relative;
    @media (max-width: 1024px) {
      height: calc(100vh - #{$margin-mobile});
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    >.div-text-absolute {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: 0px;
      padding-bottom: calc(100vh/6);
      padding-top: 200px;
      margin-bottom: -3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient( rgba(0,0,0,0), #0D0D0D);
      > h1, .div-description >div {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #0d0d0d;
        width: 100%;
        margin: 0px;
        >h4 {
          @media screen and (max-width: 1024px) {
            font-size: 1rem;
            margin-top: 20px;
          }
        }
        @media screen and (max-width: 1024px) {
          color: #ffffff;
        }
      }
      .div-description {
        margin-bottom: 30px;
      }
      >a {
        width: calc(100% - 60px);
      }
    }
  }
  > .div-text {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h1 {
      color: '#ffffff' !important;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
    }
    >span{
      width: 100%;
      text-align: center;
    }
  }
  >.div-des {
    padding: 20px 0 70px 0;
  }
}

.div-custome-silde {
  width: 100%;
  height: calc(100vh - #{$margin-header});
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1024px) {
    height: calc(100vh - #{$margin-mobile});
  }
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    @media only screen and (max-width: 600px) {
      height: 60vh;
    }
  }
  > .div-text {
    z-index: 1;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1025px){
      padding-right: 100px;
    }
    > h1 {
      font-weight: bold;
      letter-spacing: 0.1em;
      color: '#ffffff' !important;
      text-transform: uppercase;
      text-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05);
      font-size: 36px;
      @media screen and (min-width: 1800px){
        font-size: 48px;
      }
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
    }
    > .div-description >p {
      font-weight: bold;
      letter-spacing: 0.1em;
      color: '#ffffff' !important;
      text-transform: uppercase;
      font-size: 36px;
      @media screen and (min-width: 1800px){
        font-size: 48px;
      }
      @media only screen and (max-width: 600px) {
        text-align: center;
      }
    }
    @media only screen and (max-width: 600px) {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}