.div-block-saying {
  display: flex;
  flex-direction: column;
  padding: 52px 0px;
  @media screen and(max-width: 600px){
    padding: 53px 0px;
  }
  >h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #0D0D0D;
    letter-spacing: 0.2em;
    @media screen and (max-width: 600px){
      font-size: 24px;
    }
    @media screen and (min-width: 1800px){
      font-size: 34px;
    }
  }
  >span {
    font-weight: normal;
    text-align: center;
    color: #0D0D0D;
    @media screen and(max-width: 600px){
      font-size: 12px;
    }
  }
  .div-scroll {
    margin-top: 37px;
    padding: 0px 20px;
    width: 100vw;
    overflow-x: auto;
    display: flex;
    @media screen and (min-width: 1025px){
      justify-content: center;
    }
    flex-direction: row;
    
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    @media screen and(max-width: 600px){
      padding: 0px;
      margin-left: -22px;
    }
    .div-scroll-item {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      @media screen and(max-width: 600px){
        margin-left: 42px;
      }
      >div {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        >img {
          width: 252px;
          height: 252px;
          object-fit: cover;
          object-position: center;
          border-radius: 6px;
          cursor: pointer;
          transition: transform .5s ease;
          &:hover {
            transform: scale(1.4);
            @media screen and(max-width: 1024px){
              transform: scale(1);
            }
          }
          @media screen and(max-width: 600px){
            width: 245px;
            height: 245px;
          }
        }
        .text-name {
          position: absolute;
          left: 10px;
          bottom: 10px;
          color: #ffffff;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0rem;
        }
      } 

      >span {
        font-weight: normal;
        font-size: 14px;
        align-items: left;
        color: #000000;
        margin-top: 25px;
        width: 252px;
        padding-right: 30px;
        letter-spacing: 0rem;
        @media screen and(max-width: 600px){
          width: 245px;
          font-size: 11px;
        }
        &.end {
          margin-right: 50px;
          @media screen and(max-width: 600px){
            margin-right: 20px;
          }
        }
      }
    }
  }
}