.div-block-saying-v2 {
  display: flex;
  flex-direction: column;
  padding: 50px 153px;
  background: #F3F3F3;
  width: calc(100vw - 60px * 2);
  @media screen and(max-width: 1440px){
    padding: 53px 115px;
    width: calc(100vw - 45px * 2);
  }
  @media screen and(max-width: 1024px) {
    padding: 0px;
    width: calc(100vw - 15px);
    margin-left: 15px;
    padding: 15px 0px 30px 0px;
  }
  >h2 {
    text-transform: none;
    margin-bottom: 50px;
    text-align: center;
    @media screen and(max-width: 1440px) {
      margin-bottom: 37.5px;
    }
    @media screen and(max-width: 1440px) {
      margin-bottom: 30px;
    }
  }
  // >h2 {
  //   font-family: Playfair Display;
  //   font-weight: normal;
  //   text-transform: none;
  //   letter-spacing: 0rem;
  //   font-size: 48px;
  //   text-align: center;
  //   color: #0D0D0D;
  //   @media screen and (max-width: 1440px){
  //     // font-size: calc(64px * 0.75);
  //     font-size: 48px;
  //   }
  //   @media screen and (max-width: 1024px){
  //     font-size: 34px;
  //   }
  // }
  // >span {
  //   text-align: center;
  //   color: #0D0D0D;
  //   font-size: 22px;
  //   text-transform: unset;
  //   @media screen and (max-width: 1440px){
  //     font-size: calc(22px * 0.75);
  //   }
  //   @media screen and (max-width: 1024px){
  //     font-size: 34px;
  //   }
  // }
  .div-scroll {
    margin-top: 0px;
    width: 100%;
    padding: 0px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 10px){
      
    }
    @media screen and (max-width: 1024px){
      justify-content: unset;
      display: -webkit-box;
      flex-direction: row;
      margin-left: unset;
      padding: 0px;
    }
    
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    .div-scroll-item {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      width: 247px;
      @media screen and(max-width: 1440px){
        margin-left: 0px;
        width: calc(247px * 0.75);
      }
      @media screen and(max-width: 1024px){
        margin-left: 25px;
        width: 250px;
      }
      &.item-first {
        @media screen and(max-width: 1024px) {
          margin-left: calc((100vw - 250px) / 2 - 15px);
        }
      }
      >div {
        position: relative;
        overflow: hidden;
        border-radius: 0px;
        margin-bottom: 32px;
        @media screen and (max-width: 1440px) {
          margin-bottom: 24px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
        }
        >img {
          width: 247px;
          height: 337px;
          object-fit: cover;
          object-position: center;
          border-radius: 0px;
          cursor: pointer;
          transition: transform .5s ease;
          @media screen and(max-width: 1440px) {
            width: calc(247px * 0.75);
            height: calc(337px * 0.75);
          }
          @media screen and(max-width: 1024px){
            width: 250px;
            height: 250px;
          }
          &:hover {
            transform: scale(1.4);
            @media screen and(max-width: 1024px){
              transform: scale(1);
            }
          }
          
        }
        .text-name {
          position: absolute;
          left: 10px;
          bottom: 10px;
          color: #ffffff;
        }
      } 
      .header_4 {
        @media screen and(max-width: 1024px) {
          text-align: center;
        }
      }
      // .text-des {
      //   font-weight: normal;
      //   font-size: 18px;
      //   align-items: left;
      //   color: #000000;
      //   margin-top: 25px;
      //   width: 247px;
      //   padding-right: 30px;
      //   letter-spacing: 0rem;
      //   text-transform: none;
      //   overflow-y: hidden;
      //   display: -webkit-box;
      //   -webkit-line-clamp: 5;
      //   -webkit-box-orient: vertical;
      //   text-overflow: ellipsis;
      //   @media screen and (max-width: 1440px) {
      //     // font-size: calc(18px * 0.75);
      //     font-size: 18px;
      //     width: calc(247px * 0.75);
      //   }
      //   @media screen and(max-width: 1024px){
      //     width: 245px;
      //     font-size: 16px;
      //     -webkit-line-clamp: 4;
      //     line-height: 100%;
      //   }
      //   &.end {
      //     margin-right: 50px;
      //     @media screen and(max-width: 600px){
      //       margin-right: 20px;
      //     }
      //   }
      // }
    }
  }
}