.block-menu-4-m {
  padding: 0px;
  .scroll-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .list-block {
      overflow-y: auto;
      height: calc(100vh - 127px);
      padding-top: 24px;
      z-index: 2;
      .list-item {
        padding: 0px 24px;
        display: grid;
        grid-template-columns: auto auto;
        .block-menu-item-2 {
          margin-bottom: 24px;
          display: flex;
        }
        .block-menu-item-2:nth-child(odd) {
          align-items: flex-start;
        }
        .block-menu-item-2:nth-child(even) {
          align-items: flex-end;
        }
      }
      >a {
        margin-top: 54px;
        margin-bottom: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}