.block-icon-line {
  padding: 30px 234px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  @media screen and (max-width: 1440px) {
    padding: 22.5px 176px;
  }
  @media screen and (max-width: 1024px) {
    padding: 60px 68px 0px 68px;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  @media screen and (max-width: 768px) {
    padding: 60px 68px 0px 68px;
    flex-direction: column;
    align-items: flex-start;
  }
  .items {
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      margin-bottom: 60px;
    }
    >img {
      width: 44px;
      margin-right: 16px;
      @media screen and (max-width: 1440px) {
        width: calc(44px * 0.75);
        margin-right: calc(16px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        width: 45px;
        margin-right: 16px;
      }
    }
    >span {
      font-family: Playfair Display;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: #000000;
      @media screen and (max-width: 1440px) {
        font-size: calc(18px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}