.div-block-list-video {
  width: calc(100vw - 220px);
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  @media screen and (max-width: 1024px){
    width: 100vw;
  }
  >h3 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin: 40px 0px;
    @media screen and (max-width: 1024px){
      font-weight: 500;
      font-size: 18px;
    }
  }
  .div-video {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc((100vw - 220px) * 0.74 * 9 / 16);
    @media screen and (max-width: 1024px){
      flex-direction: column;
      height: unset;
    }
    .div-area-temp {
      width: 50%;
      height: 39px;
      background: #E3BE5D;
      transform: translateX(50%);
    }
    .video {
      width: 74%;
      height: 100%;
      @media screen and (max-width: 1024px){
        width: 100%;
      }
    }
    .div-info {
      display: flex;
      flex-direction: column;
      width: 26%;
      height: 100%;
      @media screen and (max-width: 1024px){
        width: 100%;
        height: auto;
      }
    }
    .div-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      padding: 52px 27px 80px 27px;
      background: #E3BE5D;
      width: 100%;
      @media screen and (max-width: 1024px){
        width: 100vw;
        align-items: center;
        padding: 39px 15px;
      }
      .div-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        >span {
          font-weight: 300;
          font-size: 18.0952px;
          letter-spacing: 0.2em;
          text-transform: lowercase;
          color: #000000;
          margin-left: 20px;
          margin-top: 5px;
        }
      }
      >h4 {
        padding: 50px 0px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #0D0D0D;
        text-align: center;
        @media screen and (max-width: 1024px){
          padding: 50px 0px 38px 0px;
        }
      }
      >span {
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #0D0D0D;
        text-align: center;
      }
    }
    .bt-youtube {
      width: 100%;
      height: 91px;
      font-weight: 500;
      font-size: 23.3852px;
      align-items: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #0D0D0D;
      border: none;
      @media screen and (max-width: 1024px){
        width: 100%;
        font-size: 15px;
        height: 61px;
        margin: 0px auto;
      }
      >img {
        height: 38px;
        margin-left: 18px;
        @media screen and (max-width: 1024px){
          height: 25px;
          margin-left: 0.5em;
        }
      }
    }
  }
  .div-slice-video {
    margin-top: 30px;
    .slick-slider {
      .slick-arrow {
        display: block;
        top: 50%;
      }
      .slick-prev {
        left: -55px;
      }
      .slick-next {
        right: -55px;
      }
      .slick-disabled {
        visibility: hidden;
      }
      .slick-list {
        .slick-track {
          .slick-slide {
            .bt-image-video {
              background: transparent;
              border: none;
              padding: 0px;
              display: flex;
              @media screen and (max-width: 1024px){
                padding: 0px 10px;
              }
              >img {
                width: 100%;
                @media screen and (max-width: 1024px){
                  border-radius: 6px;
                }
              }
              >span {
                width: 100%;
                float: left;
                text-align: left;
                margin-top: 15px;
                padding-right: 30px;
              }
            }
          }
        }
      }
    }
  }
}