.block-life {
  display: flex;
  flex-direction: column;
  align-items: center;
  >h1 {
    font-family: Playfair Display;
    font-size: 74px;
    text-align: center;
    color: #0D0D0D;
    font-weight: normal;
    margin: 26px 0px 53px 0px;
    @media screen and (max-width: 1440px) {
      font-size: calc(74px * 0.75);
      margin: 20px 0px 40px 0px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 34px;
    }
  }
  >.des {
    width: 70%;
    text-align: center;
    font-size: 24px;
    color: #0D0D0D;
    margin-bottom: 53px;
    font-weight: 300;
    @media screen and (max-width: 1440px) {
      font-size: calc(24px * 0.75);
      margin-bottom: calc(53px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 55px;
      width: calc(100% - 30px);
    }
  }
  .image-bg {
    width: 100%;
    padding: 40px 233px 72px 233px;
    margin-bottom: 56px;
    @media screen and (max-width: 1440px) {
      padding: 30px 174px 54px 174px;
      margin-bottom: calc(56px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
    >img {
      border-radius: 24px;
      width: 100%;
      @media screen and (max-width: 1024px) {
        border-radius: 0px;
      }
    }
  }
  .list-image {
    display: flex;
    overflow-x: auto;
    width: 80%;
    padding-bottom: 90px;
    scroll-behavior: initial;
    &::-webkit-scrollbar {
      height: 4px;
      background-color: #E2E2E2;
      border-radius: 33px;
      @media screen and (max-width: 1024px) {
        height: 0px;
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color :#0D0D0D;
      border-radius: 33px;
    }
    @media screen and (max-width: 1440px) {
      padding-bottom: calc(90px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      padding-bottom: unset;
      width: 100%;
    }
    >img {
      max-height: 438px;
      max-width: 580px;
      margin: 0px 33px;
      object-fit: contain;
      @media screen and (max-width: 1440px) {
        max-height: calc(438px * 0.75);
        max-width: calc(580px * 0.75);
        margin: 0px 24px;
      }
      @media screen and (max-width: 1024px) {
        max-height: 339px;
        max-width: 252px;
        margin: 0px 24px;
      }
    }
    >img:nth-child(1) {
      @media screen and (max-width: 1024px) {
        margin-left:0px;
      }
    }
  }
  .line-bottom {
    width: 80%;
    height: 1px;
    background: #C4C4C4;
    border-radius: 1px; 
    @media screen and (max-width: 1024px) {
      margin-top: 86px;
      width: 100%;
    }
  }
}