.block-column {
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  height: calc((100vw - 120px) / 3);
  @media screen and (max-width: 1440px) {
    height: calc((100vw - 90px) / 3);
  }
  @media screen and (max-width: 1024px) {
    height: calc((100vw - 30px) / 2);
  }
  &.big-size {
    >h2 {
      font-size: 44px;
      font-weight: 400;
      letter-spacing: 0.07em;
      @media screen and (max-width: 1440px) {
        font-size: calc(44px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 26px;
        font-weight: 300;
        letter-spacing: unset;
        text-align: center;
      }
    }
  }
  >h2 {
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: 0.07em;
    @media screen and (max-width: 1440px) {
      font-size: calc(44px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 26px;
      font-weight: 300;
      letter-spacing: unset;
    }
  }
  > a {
    margin-top: 58px;
    @media screen and (max-width: 1440px) {
      margin-top: calc(58px * 0.75);
    }
  }
}