.block-menu-3 {
  padding: 46px 0px 62px 0px;
  color: #0D0D0D;
  width: 100vw;
  @media screen and (max-width: 1440px) {
    padding: 34px 0px 46px 0px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0px;
  }

  .scroll-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .list-block {
      overflow-y: auto;
      height: calc(100vh - 127px);
      padding-top: 24px;
      padding-bottom: 106px;
      z-index: 2;
      .list-image {
        padding: 0px 24px;
        display: flex;
        justify-content: space-between;
        display: -webkit-box;
        overflow-x: auto;
      }
      .link-text {
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
        margin-top: 47px;
        >h3, .header-h3 {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.2em;
          color: #8D8D8D;
          margin-bottom: 0px;
        }
        >a {
          font-weight: 500;
          font-size: 16px;
          color: #0D0D0D;
          margin-top: 23px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .button-bottom {
        display: block;
        width: 100%;
        position: absolute;
        background: #fff;
        bottom: 0px;
        padding: 30px 0px;
        >a {
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
      }
      
    }

    .block-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 67px;
      @media screen and (max-width: 1440px) {
        margin-right: calc(67px * 0.75);
      }
      .div-link {
        display: flex;
        justify-content:center;
        .link-block {
          display: flex;
          flex-direction: column;
          >h3, .header-h3 {
            font-weight: 500;
            font-size: 22px;
            letter-spacing: 0.2em;
            color: #152436;
            margin-bottom: 34px;
            white-space: nowrap;
            @media screen and (max-width: 1440px) {
              font-size: calc(22px * 0.75);
              margin-bottom: calc(34px * 0.75);
            }
          }
          >a {
            font-size: 18px;
            // font-family: Open Sans;
            font-weight: normal;
            color: #152436;
            margin-bottom: 25px;
            &:hover {
              text-decoration: none;
              color: #B79B53;
            }
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
              margin-bottom: calc(25px * 0.75);
            }
          }
          .button-homepage-new-4 {
            font-weight: 500;
            color: #0D0D0D;
            margin-top: 18px;
            @media screen and (max-width: 1440px) {
              margin-top: calc(18px * 0.75);
            }
          }
        }
        .line-vertical {
          height: 204px;
          width: 1px;
          background: #E2E2E2;
          border-radius: 43px;
          margin: 0px 50px;
          @media screen and (max-width: 1440px) {
            height: calc(204px * 0.75);
            margin: 0px 37px;
          }
        }
      }
      >a {
        margin-top: 22px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(22px * 0.75);
        }
      }
    }
    .block-right {
      width: calc(100vw * 0.61 - 103px);
      @media screen and (max-width: 1440px) {
        width: calc(100vw * 0.61 - 77px);
      }
      .div-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >h3, .header-h3 {
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 0.2em;
          color: #152436;
          margin-bottom: 34px;
          margin-left: 18px;
          @media screen and (max-width: 1440px) {
            font-size: calc(22px * 0.75);
            margin-bottom: calc(34px * 0.75);
            margin-left: 14px;
          }
        }
        .div-arrow {
          margin-right: 33px;
          height: 100%;
          .inactive {
            opacity: 0.5;
            cursor: disabled;
          }
          >button {
            height: auto;
            >img {
              height: 12px;
              object-fit: contain;
            }
          }
          >button:nth-child(1) {
            margin-right: 14px;
          }
        }
      }
      .scroll-list-block {
        scroll-behavior: smooth;
        overflow-x: auto;
        display: -webkit-box;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
        &.list-club21g {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow-x: unset;
          .block-menu-item-1 {
            width: calc(100vw * 0.61/2.3);
            .div-image {
              height: calc((100vw * 0.61/2.3) * 0.47);
            }
          }
        }
      }
    }
  }
}