.block-menu-item-1 {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 0.61/3);
  color: #0D0D0D;
  padding: 0px 18px;
  >p {
    margin-bottom: 0px;
  }
  @media only screen and (max-width: 1440px) {
    padding: 0px 14px;
  }
  @media only screen and (max-width: 1024px) {
    width: 100%;
    padding-top: 24px;
  }
  .mobile-item {
    padding: 0px;
    display: flex;
    flex-direction: row;
    &:hover {
      text-decoration: none;
    }
    &.mobile-workshops-item {
      flex-direction: column;
      width: calc((100vw - 24px * 3) / 2);
      padding: 0px;
      >img {
        width: 100%;
        height: calc((100vw - 24px * 3) / 2 * 0.83);
        object-fit: cover;
        object-position: center;
        border-radius: 4px 4px 0px 0px;
      }
      .text {
        width: 100%;
        height: 59px;
        font-weight: 500;
        font-size: 0.875rem;
        letter-spacing: 0.2em;
        color: #0D0D0D;
        text-align: center;
        border: 1px solid #E2E2E2;
        border-radius: 0px 0px 4px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px;
        flex: unset;
        text-transform: uppercase;
      }
    }
    >img {
      width: calc((100vw - 24px * 2) * 0.43);
      height: calc((100vw - 24px * 2) * 0.43 * 0.84);
      object-fit: cover;
      object-position: center;
      border-radius: 4px 0px 0px 4px;
    }
    .text {
      flex: 1;
      height: calc((100vw - 24px * 2) * 0.43 * 0.84);
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2em;
      color: #0D0D0D;
      padding: 0px 15px;
      display:flex;
      justify-content:center;
      align-items: center;
      border: 1px solid #E2E2E2;
      border-radius: 0px 4px 4px 0px;
      text-decoration: none;
      &:active {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
      }

    }
  }
  .div-image {
    width: 100%;
    height: calc((100vw * 0.61/3 - 32px) * 0.51);
    position: relative;
    cursor: pointer;
    @media only screen and (max-width: 1440px) {
      height: calc((100vw * 0.61/3 - 28px) * 0.51);
    }
    &:hover {
      .hover-text {
        opacity: 1;
      }
    }
    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
    }
    .hover-text {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
      background: #B79B5399;
      border-radius: 6px;
      >span {
        color: #FFFFFF;
        font-weight: 500;
        letter-spacing: 0.2em;
        font-size: 1.5rem;
        @media only screen and (max-width: 1440px) {
          font-size: 1.29rem;
        }
      }
      >img {
        height: 20px;
        margin-left: 10px;
        @media only screen and (max-width: 1440px) {
          margin-left: calc(10px * 0.75);
          height: calc(20px * 0.75);
        }
      }
    }
  }
  .div-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    @media only screen and (max-width: 1440px) {
      margin-top: calc(10px * 0.75);
    }
    >h4, .header-h4 {
      font-weight: 500;
      font-size: 0.625rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #0D0D0D;
      margin-bottom: 0px;
    }
    >span {
      font-weight: 500;
      font-size: 0.625rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #8D8D8D;
    }
  }
  >h3, .header-h3 {
    width: 100%;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.2em;
    color: #152436;
    margin-top: 24px;
    margin-bottom: 0px;
    text-transform: uppercase;
    @media only screen and (max-width: 1440px) {
      font-size: 0.96rem;
      margin-top: calc(24px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }
  .des {
    font-size: 1rem;
    line-height: 30px;
    margin-top: 10px;
    .rich-text >p {
      margin-bottom: 0px;
    }
    @media only screen and (max-width: 1440px) {
      font-size: 0.86rem;
      line-height: calc(30px * 0.75);
      margin-top: calc(10px * 0.75);
    }
  }
}