.block-workshop-v2 {
  align-items: center;
  color: #0D0D0D;
  margin: 0px;
  margin-bottom: 50px;
  @media screen and (max-width: 1440px) {
    margin-bottom: 37.5px;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .header_3 {
    margin-bottom: 50px;
    text-align: center;
    @media screen and (max-width: 1440px) {
      margin-bottom: 37.5px;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
      padding: 0px 15px;
    }
  }
  .workshop__list_v2 {
    padding: 0px 214px;
    position: relative;
    height: calc((100vw - 214px * 2) * 0.503);
    @media screen and (max-width: 1440px) {
      padding: 0px 160px;
      height: calc((100vw - 160px * 2) * 0.503);
    }
    @media screen and (max-width: 1024px) {
      padding: 0px 15px;
      height: calc((100vw - 15px * 2));
    }
    &.workshop-slider {
      padding: 0px;
      .slider-item {
        .slick-slider {
          .slick-dots {
            bottom: -25px;
            >li {
              margin: 0px;
              >button::before {
                color: #C4C4C4;
              }
            }
            .slick-active {
              >button::before {
                color: #B79B53;
              }
            }
          }
          .slick-list {
            .slick-track {
              .item-list {
                padding: 0px 15px;
                @media screen and (max-width: 1024px) {
                  padding: 0px 80px;
                }
                @media screen and (max-width: 768px) {
                  padding: 0px 15px;
                }
                .workshop__list__item {
                  height: 100%;
                  @media screen and (max-width: 1024px) {
                    height: calc(100vw - 15px * 2);
                  }
                  .__image {
                    box-shadow: unset;
                    @media screen and (max-width: 1024px) {
                      height: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .grid-container {
      grid-gap: 37px;
      height: 100%;
      @media screen and (max-width: 1440px){
        grid-gap: 27px;
      }
      @media screen and (max-width: 1024px) {
        display: -webkit-box;
        overflow-x: auto;
        grid-template-areas: unset;
        grid-gap: unset;
        grid-auto-columns: unset;
        >div {
          margin-right: 30px;
          width: calc(100vw - 30px);
        }
      }
    }
    .workshop__list__item {
      height: 100%;
      
      &:hover {
        .hover-text {
          opacity: 0.7;
        }
      }
      .__text-des {
        z-index: 2;
        padding: 30px 28px;
        @media screen and (max-width: 1440px) {
          padding: 15.75px 10.5px;
        }
        @media screen and (max-width: 1024px) {
          padding: 7px 20px;
        }
      }
      .__image {
        border-radius: 0px;
        >img {
          border-radius: 0px;
        }
      }
      .hover-text {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        background-color:#B79B53;
        opacity: 0;
        visibility: visible;
        transition: all 0.2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        @media screen and (max-width: 1024px) {
          border-radius: 0px;
        }
        &.small {
          .text {
            >span {
              font-size: 24px;
              margin-right: 16px;
              @media screen and (max-width: 1440px) {
                font-size: 24px;
                margin-right: 10px;
              }
            }
            >img {
              height: 24px;
              @media screen and (max-width: 1440px) {
                height: calc(24px * 0.75);
              }
            }
          }
        }
        
        .text {
          display: flex;
          align-items: center;
          >span {
            font-weight: 500;
            font-size: 48px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            margin-right: 20px;
            @media screen and (max-width: 1440px) {
              font-size: calc(48px * 0.75);
              margin-right: calc(20px * 0.75);
            }
          }
          >img {
            height: 33px;
            @media screen and (max-width: 1440px) {
              height: calc(33px * 0.75);
            }
          }
        }
      }
    }
    .item1 .workshop__list__item > .__image,
    .item2 .workshop__list__item > .__image,
    .item3 .workshop__list__item > .__image,
    .item4 .workshop__list__item > .__image,
    .item5 .workshop__list__item > .__image {
      @media screen and (max-width: 1024px) {
        max-height: unset;
      }
      > img {
        @media screen and (max-width: 1024px) {
          width: calc(100vw - 30px);
          height: calc((100vw - 30px) * 1.1);
        }
      }
    }

    .item1 .workshop__list__item > .__text-des {
      border-radius: 0px;
      .bg-text {
        border-radius: 0px;
      }
      >div {
        align-items: baseline;
        .__title {
          // font-family: Jost;
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 27px;
          color: #FFFFFF;
          @media screen and (max-width: 1440px) {
            font-size: 18.75px;
            line-height: 20px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 17px;
            line-height: 25px;
          }
        }
        .__price {
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 27px;
          color: #FFFFFF;
          @media screen and (max-width: 1440px) {
            font-size: 18.75px;
            line-height: 20px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
      .__description {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
        @media screen and (max-width: 1440px) {
          font-size: 12.0022px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 19px;
          margin-top: 0px;
          margin-bottom: 5px;
        }
      }
      .__price {
        @media screen and (max-width: 1024px) {
          // font-family: Jost;
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
    .item2 .workshop__list__item > .__text-des,
    .item3 .workshop__list__item > .__text-des,
    .item4 .workshop__list__item > .__text-des,
    .item5 .workshop__list__item > .__text-des {
      padding: 21px 14px;
      @media screen and (max-width: 1440px) {
        padding: 15.63px 10.5px;
      }
      .bg-text {
        border-radius: 0px;
      }
      >div {
        align-items: baseline;
        .__title {
          // font-family: Jost;
          font-size: 16px;
          line-height: 23px;
          font-weight: normal;
          @media screen and (max-width: 1440px) {
            font-size: 12px;
            line-height: 17px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 17px;
            line-height: 25px;
            font-weight: 300;
          }
        }
        .__price {
          font-size: 16px;
          line-height: 23px;
          font-weight: 300;
          @media screen and (max-width: 1440px) {
            font-size: 12px;
            line-height: 17px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 10px;
            line-height: 14px;
          }
        }
      }
      .__description {
        font-size: 16px;
        line-height: 23px;
        @media screen and (max-width: 1440px) {
          font-size: 12px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 19px;
          margin-top: 0px;
          margin-bottom: 5px;
        }
      }
      .__price {
        @media screen and (max-width: 1024px) {
          // font-family: Jost;
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  }
  .link-text-landingpage {
    margin: 36px 0px 0px 0px;
  }
}