.cta-block-big {
  > h1 {
    color: '#0D0D0D' !important;
    text-transform: uppercase;
    font-size: 2.5rem !important;
  }
  >.description {
    color: '#0D0D0D' !important;
  }
  >.class-row {
    width: 100%;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.cta-block-item {
  width: 266px;
  >.div-img {
    height: 266px;
    position: relative;
    border-radius: 50%;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      cursor: pointer;
    }
    > div {
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 30%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      clip-path: circle(133px at 50% -53.5px);
    }
  }
}