.block-video {
  height: calc(100vh - 120px);
  width: 100vw;
  @media (min-width: 768px) and (max-width: 1024px) {
    height: auto;
  }
  @media only screen and (max-width: 600px) {
    height: auto;
  }
  .div-video {
    @media only screen and (max-width: 600px) {
      height: 50vh;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      height: 70vh;
    }
    >.background--letsguideyou {
      height: calc(100vh - 120px);
      @media (min-width: 768px) and (max-width: 1024px) {
        height: 70vh;
      }
      @media only screen and (max-width: 600px) {
        height: 50vh;
      }
      > img {
        object-fit: cover!important;
        object-position: center!important;
      }
    }
  }
  .div-text {
    @media only screen and (max-width: 600px) {
      height: 60vh;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      height: 50vh;
    }
    > div {
      color: '#ffffff';
      > h1 {
        font-family: Playfair Display;
        font-size: 60px !important;
        @media only screen and (max-width: 600px) {
          font-size: 36px !important;
        }
      }
    }
  }
}