.div-block-workshop {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
  @media screen and (max-width: 1024px){
    padding: 40px 16px;
  }
  >h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    color: #0D0D0D;
    @media screen and (max-width: 1024px){
      font-size: 24px;
    }
    @media screen and (min-width: 1800px){
      font-size: 34px;
    }
  }
  .workshop__list {
    margin-top: 40px;
    position: relative;
    .workshop__list__item {
      cursor: pointer;
      margin-bottom: 2.5rem;
      
      .__image {
        // box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        box-shadow: none;
        border-radius: 12px;
        overflow: hidden;
        img {
          border-radius: 6px;
          width: 100%;
          transition: transform .5s ease;
          &:hover {
            transform: scale(1.4);
            @media screen and (max-width: 1024px){
              transform: scale(1);
            }
          }
        }
      }
  
      .__title {
        font-weight: 600;
        font-size: 21px;
        align-items: center;
        color: #0D0D0D;
      }
  
      .__price {
        font-weight: 500;
        font-size: 16px;
      }
  
      .__description {
        font-size: 16px;
      }
    }
  }
  
  .mobi--col {
    min-width: 50%;
  }
  
  @media (max-width: 767.98px) {
    .workshop__list {
      position: relative;
    }
  }
  
  @media (max-width: 991.98px) {
    .workshop__list {
      .workshop__list__item {
        .__image {
          max-height: 13.125rem;
          overflow: hidden;
  
          img {
            border-radius: 0.625rem;
            height: 13.125rem;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
  
        .__title {
          font-size: 16px;
        }
  
        .__price,
        .__description {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 1199.98px) {
    .workshop__list {
      .workshop__list__item {
  
        img {
          border-radius: 0.625rem;
        }
  
        .__title {
          font-size: 18px;
        }
      }
    }
  }
  .div-button {
    >a {
      font-style: normal;
      font-weight: 600;
      align-items: center;
      text-decoration-line: underline;
      color: #0D0D0D;
      font-size: 20px;
      @media screen and (max-width: 1024px){
        display: inline-block;
        height: 46px;
        line-height: 46px;
        font-size: 12px;
        width: calc(100vw - 60px);
        color: #0D0D0D;
        border: 1.5px solid #0D0D0D;
        border-radius: 6px;
        background: transparent;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: #ffffff;
        }
      }
      @media screen and (min-width: 1800px){
        font-size: 28px;
      }
      >img {
        height: 20px;
        @media screen and (min-width: 1800px){
          font-size: 28px;
        }
      }
    }
  }
}
