.block-icon-line-v2 {
  padding: 30px 214px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #F5ECDC;
  @media screen and (max-width: 1440px) {
    padding: 23.5px 160px;
  }
  @media screen and (max-width: 1024px) {
    padding: 16px 0px;
    width: 100%;
    display: inline-block;
  }
  .slick-slider {
    .slick-list {
      .slick-track {
        @media screen and (max-width: 1024px) {
          height: 30px;
        }
      }
    }
  }
  .items {
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 100vw;
      display: flex !important;
    }
    >img {
      width: 44px;
      margin-right: 15px;
      @media screen and (max-width: 1440px) {
        width: calc(44px * 0.75);
        margin-right: calc(15px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        width: 30px;
        margin-right: 16px;
      }
    }
  }
}