.block-menu-1 {
  padding: 46px 0px 62px 245px;
  color: #0D0D0D;
  width: 100vw;
  @media screen and (max-width: 1440px) {
    padding: 34px 0px 46px 184px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0px;
  }
  &.wrap-mobile-about {
    padding: 46px 207px;
    @media screen and (max-width: 1440px) {
      padding: 34px 145px;
    }
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
    .scroll-menu {
      .list-item {
        .block-menu-item-1:last-child() {
          margin-bottom: 24px;
        }
        .block-menu-item-1 {
          .mobile-item {
            flex-direction: column;
            >img {
              width: 100%;
              height: calc((100vw - 24 * 2) * 0.36);
              border-radius: 4px 4px 0px 0px;
            }
            .about-des {
              color: #0D0D0D;
              padding: 22px 0px;
              border: 1px solid #E2E2E2;
              border-radius: 0px 0px 4px 4px;
              >h3, .header-h3 {
                font-weight: 500;
                font-size: 1rem;
                text-align: center;
                letter-spacing: 0.2em;
                color: #0D0D0D;
                margin-bottom: 8px;
              }
              .des {
                font-size: 1rem;
                text-align: center;
                >p {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
      .block-right {
        width: 100%;
        .list-item {
          .block-menu-item-1 {
            width: calc((100vw - 245px * 2)/3);
            @media screen and (max-width: 1440px) {
              width: calc((100vw - 183px * 2)/3);
            }
            .div-image {
              height: calc((100vw - 245px * 2)/3 * 0.49);
              @media screen and (max-width: 1440px) {
                height: calc((100vw - 183px * 2)/3 * 0.49);
              }
              >img {
                height: calc((100vw - 245px * 2)/3 * 0.49);
                @media screen and (max-width: 1440px) {
                  height: calc((100vw - 183px * 2)/3 * 0.49);
                }
              }
            }
            >h3 {
              font-size: 1.4375rem;
              @media screen and (max-width: 1440px) {
                font-size: 1.23rem;
              }
            }
            .des {
              font-size: 1.25rem;
              @media screen and (max-width: 1440px) {
                font-size: 1.07rem;
              }
            }
          }
        }
      }
    }
  }
  >p {
    margin-bottom: 0px;
  }
  .scroll-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: unset;
    }
    .list-block {
      overflow-y: auto;
      height: calc(100vh - 127px);
      z-index: 2;
      &.mobile-workshops {
        padding-top: 24px;
        .list-item {
          padding: 0px 24px;
          display: grid;
          grid-template-columns: auto auto;
          height: unset;
          padding-bottom: 106px;
          .block-menu-item-1 {
            margin-bottom: 24px;
            display: flex;
            padding: unset; 
          }
          .block-menu-item-1:nth-child(odd) {
            align-items: flex-start;
          }
          .block-menu-item-1:nth-child(even) {
            align-items: flex-end;
          }
        }
      }
      &.mobile-club21g {
        .list-item {
          .block-menu-item-1 {
            .mobile-item {
              flex-direction: column;
              >img {
                width: 100%;
                height: calc((100vw - 24px * 2) * 0.69) !important;
              }
              .text {
                visibility: hidden;
                margin: 0px;
                padding: 0px;
              }
              .club21g-des {
                color: #0D0D0D;
                margin-top: 33px;
                >h3 {
                  font-family: Playfair Display;
                  font-size: 2.125rem;
                  font-weight: normal;
                  margin-bottom: 50px;
                  text-align: center;
                }
                .des {
                  font-size: 1rem;
                  text-align: center;
                  >p {
                    margin-bottom: 0px;
                  }
                }
              }
            }
          }
        }
      }
      .list-item {
        width: 100%;
        padding-bottom: 106px;
        // height: 100%;
      }
      .div-temp {
        flex: 1;
      }
      .button-bottom {
        display: block;
        width: 100%;
        position: absolute;
        background: #fff;
        bottom: 0px;
        padding: 30px 0px;
        >a {
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-decoration: none;
        }
      }
    }
    .block-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-right: 42px;
      @media screen and (max-width: 1440px) {
        padding-right: calc(42px * 0.75);
      }
      >h2, .header-h2 {
        font-family: Playfair Display;
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 0px;
        @media screen and (max-width: 1440px) {
          font-size: 1.71rem;
        }
      }
      .des {
        font-size: 1.125rem;
        margin: 36px 0px;
        @media screen and (max-width: 1440px) {
          font-size: 0.96rem;
        }
      }
      >a {
        font-size: 1.125rem;
        @media screen and (max-width: 1440px) {
          font-size: 0.96rem;
        }
      }
    }
    .block-right {
      width: calc(100vw * 0.61);
      &.scroll-able {
        cursor: all-scroll;
        width: calc(100vw * 0.61 - 66px);
        @media screen and (max-width: 1440px) {
          width: calc(100vw * 0.61 - 50px);
        }
      }
      .div-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 17px;
        margin-top: -17px;
        @media screen and (max-width: 1440px) {
          margin-bottom: calc(17px * 0.75);
          margin-top: calc(-17px * 0.75);
        }
        >h3 {
          font-weight: 500;
          font-size: 1.375rem;
          letter-spacing: 0.2em;
          color: #152436;
          margin-bottom: 34px;
          margin-left: 18px;
          @media screen and (max-width: 1440px) {
            font-size: 1.18rem;
            margin-bottom: calc(34px * 0.75);
            margin-left: 14px;
          }
        }
        .div-arrow {
          margin-right: 16px;
          height: 100%;
          .inactive {
            opacity: 0.5;
            cursor: disabled;
          }
          >button {
            height: auto;
            >img {
              height: 12px;
              object-fit: contain;
            }
          }
          >button {
            padding-right: 7px;
            padding-left: 7px;
          }
          >button:nth-child(2) {
            padding-right: 17px;
          }
          >button:nth-child(1) {
            padding-left: 17px;
          }
        }
      }
      .list-item {
        display: -webkit-box;
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
        &.list-club21g {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow-x: unset;
          .block-menu-item-1 {
            width: calc(100vw * 0.61/2.3);
            .div-image {
              height: calc((100vw * 0.61/2.3) * 0.47);
            }
          }
        }
      }
    }
  }
}