.block-banner-v2 {
  color: #0D0D0D;
  display: flex;
  flex-direction: row;
  padding: 0px 60px;
  margin: 50px 0px;
  @media screen and (max-width: 1440px) {
    padding: 0px 45px;
    margin: 37.5px 0px;
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
    margin: 0px;
  }

  &.text-center {
    margin: 0px 0px;
    .block-text { 
      justify-content: center;
      @media screen and (max-width: 1024px) {
        align-items: center;
      }
      .header_2 {
        color: #2B3033;
      }
      .header_4 {
        text-align: start;
        color: #2B3033;
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }
      .button-custom {
        @media screen and (max-width: 1024px) {
          margin-bottom: 0px;
        }
      }
    }
  }

  &.text-right {
    .block-image {
      justify-content: flex-start;
    }
    .block-text {
      padding-left: 90px;
      padding-right: unset;
      align-items: flex-end;
      justify-content: center;
      padding: 0px 154px 0px 167px;

      @media screen and (max-width: 1440px) {
        padding: 0px 115.5px 0px 125px;
      }
      @media screen and (max-width: 1024px) {
        padding: 46px 20px 30px 20px;
        align-items: center;
      }
      .header_2 {
        color: #0d0d0d;
      }
      .header_4 {
        text-align: end;
        color: #0d0d0d;
        @media screen and (max-width: 1024px) {
          text-align: center;
        }
        .rich-text {
          >p:last-child {
            margin-bottom: 0px;
          }
        }
      }
      .button-custom {
        @media screen and (max-width: 1024px) {
          margin-bottom: 0px;
        }
      }
    }
  }
  &.browser-center {
    flex-direction: column;
    >h2 {
      font-family: Playfair Display;
      font-size: 48px;
      margin-bottom: 60px;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-size: 48px;
        margin-bottom: calc(60px * 0.75);
      }
    }
    .block-image {
      width: 100%;
      .slick-slider {
        .slick-list {
          width: 100%;
          .item-image {
            >img {
              width: 100%;
            }
          }
        }
      }
    }
    .block-text {
      padding-left: 0px;
      width: 100%;
      align-items: center;
      .description {
        text-align: center;
      }
      .signature {
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        >h3 {
          margin-top: 10px;
        }
      }
    }
  }
  .header_2 {
    margin-bottom: 30px;
    @media screen and (max-width: 1440px) {
      margin-bottom: 22.5px;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .block-image {
    width: 50%;
    justify-content: flex-end;
    .slick-slider {
      width: 100%;
      height: 100%;
      .slick-arrow {
        width: 47px;
        &.slick-prev {
          display: block;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0px;
          left: 60px;
          @media screen and (max-width: 1440px) {
            left: 50px;
          }
          &::before {
            content: '';
            background: url('../image/icon/arrow-prev.svg') 0 0/40px 47px no-repeat;
            width: 47px;
            height: 47px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        &.slick-next {
          display: block;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0px;
          right: 10px;
          &::before {
            content: '';
            background: url('../image/icon/arrow-next.svg') 0 0/40px 47px no-repeat;
            width: 47px;
            height: 47px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          .slick-slide {
            height: 100%;
            >div {
              height: 100%;
            }
          }
        }
      }
      .slick-dots {
        width: max-content;
        bottom: -30px;
        display: block;
        left: calc(50% + 22px);
        transform: translateX(-50%);
        @media screen and (max-width: 1024px) {
          width: 100%;
          right: unset;
          left: 50%;
        }
        .slick-active {
          >button{
            // border: 2px solid #B79B53;
            border-radius: 50%;
            padding: 0px;
            &::before {
              opacity: 1;
              color: #B79B53;
            }
         }
        }
        >li {
          margin: 0px 3px;
          >button {
            &::before {
              opacity: 1;
              color: gray;
              font-size: 10px;
              top: 1px;
              width: 10px;
              height: 10px;
            }
          }
        } 
      }
    }
    .item-image {
      height: 100%;
      >img {
        width: calc((100vw - 120px) / 2);
        height: calc(((100vw - 120px) / 2) * 0.6667);
        object-position: cover;
        object-fit: center;
        object-fit: cover;
        @media screen and (max-width: 1440px) {
          width: calc((100vw - 90px) / 2);
          height: calc(((100vw - 90px) / 2) * 0.6667);
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          height: calc(100vw - 30px);
          object-fit: cover;
        }
      }
    }
    >img {
      width: calc((100vw - 120px) / 2);
      height: calc(((100vw - 120px) / 2) * 0.6667);
      object-position: cover;
      object-fit: center;
      object-fit: cover;
      @media screen and (max-width: 1440px) {
        width: calc((100vw - 90px) / 2);
        height: calc(((100vw - 90px) / 2) * 0.6667);
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: calc(100vw - 30px);
        object-fit: cover;
      }
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      border-radius: 9px;
      height: calc(100vw - 30px);
    }
  }
  .block-text {
    flex: 1;
    // justify-content: center;
    align-items: flex-start;
    padding: 90px 169px 0px 154px;
    @media screen and (max-width: 1440px) {
      padding: 68px 126.66px 0px 115.5px;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 46px 20px 30px 20px;
      align-items: center;
    }
    .button-custom {
      margin-top: 30px;
      width: 223px;
      @media screen and (max-width: 1440px) {
        width: calc(223px * 0.75);
        margin-top: calc(30px * 0.75);
      }
      &.link-text {
        width: auto;
        @media screen and (max-width: 1024px) {
          width: auto;
        }
      }
    }
    .header_4 {
      @media screen and (max-width: 1024px) {
        text-align: center;
        margin-bottom: 0px;
      }
      .rich-text {
        >p:last-child {
          margin-bottom: 0px;
        }
      }
    }
    
    .info-text {
      margin-bottom: 30px;
      align-items: baseline;
      @media screen and (max-width: 1440px) {
        margin-bottom: calc(30px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 10px;
        justify-content:center;
        width: 100%;
      }
      .header_4 {
        font-size: 12px;
        @media screen and (max-width: 1440px) {
          font-size: calc(12px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
        }
      }
      >img {
        height: 18px;
        margin-right: 10px;
        @media screen and (max-width: 1440px) {
          height: calc(18px * 0.75);
          margin-right: calc(10px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          height: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}