.div-block-icon {
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  .row {
    padding: 42px 20px;
    @media screen and (min-width: 1800px){
      padding: 56px 26px;
    }
    @media screen and (max-width: 1024px){
      margin: 0px;
      padding: 0 16px 37px 16px;
    }
    .div-block-icon-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 1024px){
        margin-top: 37px;
      }
      >img {
        height: 63px;
        object-fit: contain;
        @media screen and (min-width: 1800px){
          height: 84px;
        }
        @media screen and (max-width: 1024px){
          height: 51px;
        }
      }
      >span {
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-top: 10px;
        @media screen and (min-width: 1800px){
          font-size: 28px;
        }
        @media screen and (max-width: 1024px){
          font-size: 22px;
        }
      }
    }
  }
  
}