.block-product-v2 {
  padding: 50px 214px;
  width: 100vw;
  @media screen and (max-width: 1440px) {
    padding: 37.5px 160px;
  }
  @media screen and (max-width: 1024px) {
    padding: 30px 15px;
  }
  .header {
    width: 100%;
    align-items: center;
    justify-content: center;
    >h2 {
      
    }
    .header_3 {
      margin-top: 10px;
      text-align: center;
      @media screen and (max-width: 1440px) {
        margin-top: 7.5px;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 3px;
      }
    }
  }
  .list-product {
    margin: 50px 0px;
    @media screen and (max-width: 1440px) {
      margin: 37.5px 0px;
    }
    @media screen and (max-width: 1024px) {
      margin: 30px 0px;
    }
    .row {
      .col-item-product {
        .div-product-home-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          position: relative;
          margin-top: 0px;
          font-size: 12px;
          @media screen and (max-width: 1440px) {
            font-size: calc(12px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-bottom: 0px;
          }
          .div-image {
            position: relative;
            >img {
              width: 169px;
              height: 169px;
              object-fit: contain;
              object-position: center;
              cursor: pointer;
              @media screen and (max-width: 1024px){
                width: 111px;
                height: 144px;
              }
            }
            >button {
              position: absolute;
              height: 64px;
              width: 59px;
              object-fit: contain;
              background: transparent;
              border: none;
              bottom: 0px;
              left: 0px;
              z-index: 1;
              padding: 0px;
              @media screen and (max-width: 1024px){
                width: 51.5px;
                height: 54px;
              }
            }
          }
          .header_3 {
            color: #2B3033;
            margin: 20px 0px 7.58px 0px;
            text-align: center;
            @media screen and (max-width: 1440px) {
              margin: 15px 0px 5.69px 0px;
            }
            @media screen and (max-width: 1024px) {
              margin: 10px 0px 4px 0px;
            }
          }
          .header_4 {
            color: #2B3033;
            text-align: center;
          }
          .price {
            color: #787878;
            margin: 7.58px 0px;
            @media screen and (max-width: 1440px) {
              margin: 5.69px 0px;
            }
            @media screen and (max-width: 1024px) {
              margin: 4px 0px;
            }
          }
          .add-cart {
            // margin-top: 26px;
            background: transparent;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.15em;
            color: #C9A047;
            @media screen and (max-width: 1440px) {
              font-size: 9.7px;
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
            }
            >img {
              margin-right: 0px;
              height: 11px;
              @media screen and (max-width: 1440px) {
                height: 8px;
              }
              @media screen and (max-width: 1024px){
                height: 9px;
              }
            }
          }
          .info {
            font-size: 16px;
            text-align: center;
            color: #8D8D8D;
            margin-top: 5px;
            @media screen and (max-width: 1440px) {
              font-size: calc(16px * 0.75);
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
            }
          }
          .price {
            >span:nth-child(2) {
              font-size: 10px;
              text-decoration: line-through;
              color: #8D8D8D;   
              margin-left: 5px;
            }
          }
          .price-sale-off {
            >span {
              font-size: 16px;
              text-decoration: line-through;
              color: #8D8D8D;
              @media screen and (max-width: 1440px) {
                font-size: calc(16px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                padding: 2px 10px;
                background: #0d0d0d;
                color: #ffffff;
                border-radius: 2px;
              }
            }
            >span:nth-child(2) {
              text-decoration: unset;
              color: #0d0d0d;
              margin-left: 7px;
            }
            @media screen and (max-width: 1024px) {
              position: absolute;
              top: 0px;
              right: 10px;
            }
          }
        }
      }
    }
  }
  >a {
    margin-left: auto;
    margin-right: auto;
  }
}