.block-menu-item-2 {
  display: flex;
  flex-direction: row;
  color: #0D0D0D;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  .block-left {
    display: flex;
    flex-direction: column;
    width: 358px;
    @media screen and (max-width: 1440px) {
      width: calc(358px * 0.75);
    }
    .div-image {
      width: 100%;
      height: 294px;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
      position: relative;
      @media screen and (max-width: 1440px) {
        height: calc(294px * 0.75);
      }
      &:hover {
        .hover-text {
          opacity: 1;
        }
      }
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
      }
      .hover-text {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        background: #B79B5399;
        border-radius: 6px;
        >span {
          color: #FFFFFF;
          font-weight: 500;
          letter-spacing: 0.2em;
          font-size: 1.5rem;
          @media only screen and (max-width: 1440px) {
            font-size: 1.29rem;
          }
        }
        >img {
          height: 20px;
          margin-left: 10px;
          @media only screen and (max-width: 1440px) {
            margin-left: calc(10px * 0.75);
            height: calc(20px * 0.75);
          }
        }
      }
    }
    >img {
      width: 100%;
      height: 294px;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
      
      @media screen and (max-width: 1440px) {
        height: calc(294px * 0.75);
      }
    }
    >span {
      font-size: 1rem;
      margin-top: 28px;
      margin-bottom: 54px;
      @media screen and (max-width: 1440px) {
        font-size: 0.86rem;
        margin-top: calc(28px * 0.75);
        margin-bottom: calc(54px * 0.75);
      }
    }
  }
  .block-right {
    margin-left: 50px;
    @media screen and (max-width: 14440px) {
      margin-left: calc(50px * 0.75);
    }
    >h3, .header-h3 {
      font-weight: 500;
      font-size: 1.375rem;
      letter-spacing: 0.2em;
      color: #152436;
      margin-bottom: 34px;
      text-transform: uppercase;
      @media screen and (max-width: 1440px) {
        font-size: 1.18rem;
        margin-bottom: calc(34px * 0.75);
      }
    }
    .list-menu {
      display: flex;
      flex-direction: column;
      >a {
        // font-family: Open Sans;
        font-size: 1.125rem;
        color: #152436;
        text-decoration: none;
        margin-bottom: 29px;
        font-weight: normal;
        &:hover {
          text-decoration: none;
          color: #B79B53;
        }
        @media screen and (max-width: 1440px) {
          font-size: 0.96rem;
          margin-bottom: calc(29px * 0.75);
        }
      }
    }
  }
  &.big {
    padding-right: 24px;
    .block-mobile {
      width: calc(100vw * 0.51);
      >img {
        height: calc(100vw * 0.51 * 0.66);;
      }
    }
  }
  .block-mobile {
    width: calc((100vw - 24px * 3) / 2);
    >img {
      width: 100%;
      height: calc((100vw - 24px * 3) / 2 * 0.83);
      object-fit: cover;
      object-position: center;
      border-radius: 4px 4px 0px 0px;
    }
    .div-text {
      width: 100%;
      min-height: 59px;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2em;
      color: #0D0D0D;
      text-align: center;
      border: 1px solid #E2E2E2;
      border-radius: 0px 0px 4px 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 5px;
      text-transform: uppercase;
      padding: 17px 5px;
      >h4, .header-h4 {
        font-weight: 500;
        font-size: 0.71rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #0D0D0D;
        font-style: normal;
        margin-top: 23px;
        margin-bottom: 0px;
      }
      >span {
        font-size: 0.57rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #8D8D8D;
        margin-top: 7px;
      }

    }
  }
}