.block-banner {
  color: #0D0D0D;
  display: flex;
  flex-direction: row;
  padding: 40px 233px 72px 233px;
  @media screen and (max-width: 1440px) {
    padding: 30px 174px 54px 174px;
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 30px 80px;
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 30px 15px;
    width: 100%;
  }
  &.text-right {
    .block-image {
      justify-content: flex-start;
    }
    .block-text {
      padding-left: 90px;
      padding-right: unset;
      @media screen and (max-width: 1440px) {
        padding-left: calc(90px * 0.75); 
      }
      @media screen and (max-width: 1024px) {
        padding-left: unset;
      }
    }
  }
  &.browser-center {
    flex-direction: column;
    >h2 {
      font-family: Playfair Display;
      font-size: 48px;
      margin-bottom: 60px;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-size: 48px;
        margin-bottom: calc(60px * 0.75);
      }
    }
    .block-image {
      width: 100%;
      .slick-slider {
        .slick-list {
          width: 100%;
          .item-image {
            >img {
              width: 100%;
            }
          }
        }
      }
    }
    .block-text {
      padding-left: 0px;
      width: 100%;
      align-items: center;
      .description {
        text-align: center;
      }
      .signature {
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        >h3 {
          margin-top: 10px;
        }
      }
    }
  }
  .block-image {
    width: 50%;
    justify-content: flex-end;
    .slick-slider {
      width: 100%;
      height: 100%;
      .slick-arrow {
        width: 47px;
        &.slick-prev {
          display: block;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0px;
          left: 60px;
          @media screen and (max-width: 1440px) {
            left: 50px;
          }
          &::before {
            content: '';
            background: url('../image/icon/arrow-prev.svg') 0 0/40px 47px no-repeat;
            width: 47px;
            height: 47px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        &.slick-next {
          display: block;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0px;
          right: 10px;
          &::before {
            content: '';
            background: url('../image/icon/arrow-next.svg') 0 0/40px 47px no-repeat;
            width: 47px;
            height: 47px;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          .slick-slide {
            height: 100%;
            >div {
              height: 100%;
            }
          }
        }
      }
      .slick-dots {
        width: max-content;
        bottom: -30px;
        display: block;
        left: calc(50% + 22px);
        transform: translateX(-50%);
        @media screen and (max-width: 1024px) {
          width: 100%;
          right: unset;
        }
        .slick-active {
          >button{
            // border: 2px solid #B79B53;
            border-radius: 50%;
            padding: 0px;
            &::before {
              opacity: 1;
              color: #B79B53;
            }
         }
        }
        >li {
          margin: 0px 3px;
          >button {
            &::before {
              opacity: 1;
              color: gray;
              font-size: 10px;
              top: 1px;
              width: 10px;
              height: 10px;
            }
          }
        } 
      }
    }
    .item-image {
      height: 100%;
      >img {
        width: calc(100% - 20px);
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
        float: right;
        @media screen and (max-width: 1024px) {
          border-radius: 10px;
          object-fit: cover;
        }
      }
    }
    >img {
      width: calc(100% - 20px);
      border-radius: 24px;
      object-position: cover;
      object-fit: center;
      height: 100%;
      object-fit: cover;
      @media screen and (max-width: 1024px) {
        width: 100%;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      border-radius: 9px;
      height: calc(100vw - 30px);
    }
  }
  .block-text {
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    padding-right: 90px;
    @media screen and (max-width: 1440px) {
      padding-right: calc(90px * 0.75)
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding-right: unset;
      align-items: center;
    }
    >h2 {
      font-family: Playfair Display;
      // font-size: 74px;
      font-size: 48px;
      margin-bottom: 0px;
      text-align: left;
      @media screen and (max-width: 1440px) {
        // font-size: calc(74px * 0.75);
        font-size: 48px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 34px;
        margin: 30px 0px 0px 0px;
        width: 100%;
        text-align: center;
      }
    }
    .description {
      // font-size: 24px;
      font-size: 18px;
      margin: 78px 0px 63px 0px;
      text-align: start;
      font-weight: 300;
      text-align: justify;
      @media screen and (max-width: 1440px) {
        // font-size: calc(24px * 0.75);
        font-size: 18px;
        margin: 58px 0px 43px 0px;
      }
      @media screen and (max-width: 1024px) {
        margin: 30px 0px 15px 0px;
        text-align: center;
        font-size: 16px;
        // max-width: 280px;
        max-width: 85%;
      }
    }
    .signature {
      margin-top: -78px;
      margin-bottom: 25px;
      @media screen and (max-width: 1440px) {
        margin-top: -58px;
        margin-bottom: calc(25px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -30px;
      }
      >img {
        width: 160px;
        @media screen and (max-width: 1440px) {
          width: calc(160px * 0.75);
        }
      }
      >h3 {
        font-weight: 500;
        font-size: 24px;
        color: #0D0D0D;
        margin-bottom: 15px;
        margin-top: -30px;
        @media screen and (max-width: 1440px) {
          font-size: calc(24px * 0.75);
          margin-bottom: calc(15px * 0.75);
          margin-top: calc(-30px * 0.75);
        }
      }
      >span {
        font-size: 22px;
        color: #8D8D8D;
        @media screen and (max-width: 1440px) {
          font-size: calc(22px * 0.75);
        }
      }
    }
  }
}