.div-block-sale {
  background-color: #B79B53;
  padding: 57px;
  @media screen and (max-width: 600px){
    padding: 26px 20px;
  }
  >.row {
    width: 100%;
    >.div-col-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 600px){
        align-items: flex-start;
        margin: 20px 0px;
      }
      .div-block-sale-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        >img {
          width: 30px;
          object-fit: contain;
          object-position: center;
          margin-top: 6px;
          @media screen and (max-width: 600px){
            width: 40px;
          }
        }
      }
      .div-text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 255px;
        @media screen and (max-width: 600px){
          width: 100%;
        }
        >span:nth-child(1) {
          font-size: 18px;
        }
        >span {
          font-style: normal;
          font-weight: normal;
          color: #FFFFFF;
          font-size: 14px;
        }
      }
    }
    
  }
}