.div-block-icon-header-v3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 60px;
  width: 100%;
  @media screen and (max-width: 1440px) {
    padding: 37.5px 45px;
  }
  @media screen and (max-width: 1024px) {
    padding: 30px 35px;
  }
  .header_2 {
    margin-bottom: 50px;
    @media screen and (max-width: 1440px) {
      margin-bottom: 37.5px;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }
  // >h2, .header-h3 {
  //   font-family: Playfair Display;
  //   font-size: 48px;
  //   text-align: center;
  //   color: #0D0D0D;
  //   margin-bottom: 47px;
  //   font-weight: normal;
  //   @media screen and (max-width: 1440px) {
  //     font-size: 48px;
  //     margin-bottom: calc(47px * 0.75);
  //   }
  //   @media screen and (max-width: 1024px) {
  //     font-size: 34px;
  //     margin-bottom: 30px;
  //   }
  // }
  // >span {
  //   font-size:18px;
  //   color: #0D0D0D;
  //   margin-bottom: 60px;
  //   font-weight: 300;
  //   text-align: center;
  //   @media screen and (max-width: 1440px) {
  //     // font-size: calc(24px * 0.75);
  //     font-size:18px;
  //     margin-bottom: calc(60px * 0.75);
  //   }
  //   @media screen and (max-width: 1024px) {
  //     font-size: 16px;
  //     margin-bottom: 60px;
  //   }
  // }
  .div-list-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .slick-slider {
      .slick-dots {
        @media screen and (max-width: 1024px) {
          bottom: -25px;
          >li {
            margin: 0px;
            >button::before {
              color: #C4C4C4;
            }
          }
          .slick-active {
            >button::before {
              color: #B79B53;
            }
          }
        }
      }
    }
    .div-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      border: none;
      padding: 0px 3px;
      @media screen and (max-width: 1440px) {
        padding: 0px 3px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0px;
        margin-bottom: 0px;
      }
      >img {
        width: 44px;
        height: 44px;
        object-fit: contain;
        object-position: center;
        margin: auto;
        @media screen and (max-width: 1440px) {
          width: 33px;
          height: 33px;
        }
        @media screen and (max-width: 1024px) {
          width: 45px;
          height: 45px;
        }
      }
      .header_3 {
        text-align: center;
        margin: 20px auto 11px auto;
        height: 3.5rem;
        @media screen and (max-width: 1440px) {
          margin: 15px auto 8px auto;
        }
        @media screen and (max-width: 1024px) {
          margin: 20px auto 0px auto;
          height: auto;
        }
      }
      .header_4 {
        text-align: center;
      }
    }
  }
  .link-text-landingpage {
    margin-top: 35px;
  }
}