.div-block-quiz-start {
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 40px 0px;
  @media screen and (max-width: 1024px){
    padding: 50px 0px 100px 0px;
  }
  >h1 {
    font-weight: 500;
    font-size: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0D0D0D;
    margin-top: 0px;
    margin-bottom: 0px;
    @media screen and (max-width: 1024px){
      font-size: 28px;
    }
  }
  .div-image {
    width: 100%;
    height: calc(100vh - 110px - 80px - 125px - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px){
      height: calc(100vh - 110px - 80px - 125px - 60px);
    }
    >img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
  >button {
    height: 76px;
    border: none;
    background: #0D0D0D;
    border-radius: 6px;
    font-size: 24px;
    letter-spacing: 0.2em;
    color: #FBFBFB;
    padding: 0px 73px;
    @media screen and (max-width: 1024px){
      height: 44px;
      font-size: 18px;
      padding: unset;
      width: calc(100vw - 100px);
    }
  }
}