.div-block-step {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  @media screen and (max-width: 600px){
    padding: 40px 20px;
  }
  .animate-show {
    opacity: 1;
    transform: translateZ(0);
  }
  .delay-0-5 {
    transition-delay: 0.5s !important;
  }
  .delay-1 {
    transition-delay: 1s !important;
  }
  .animate-hide {
    opacity: 0;
  }
  >h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    color: #FFFFFF;
    transition: all 3s;
    @media screen and (max-width: 600px){
      font-size: 24px;
    }
    @media screen and (min-width: 1800px){
      font-size: 34px;
    }
  }
  >.row {
    margin: 20px;
    width: 100%;
    >.col-item {
      display: flex;
    }
    >.left-item {
      justify-content: flex-start;
      @media screen and (max-width: 600px){
        justify-content: center;
        margin-bottom: 10px;
      }
    }
    >.center-item {
      justify-content: center;
      @media screen and (max-width: 600px){
        justify-content: center;
        margin-bottom: 10px;
      }
    }
    >.right-item {
      justify-content: flex-end;
      @media screen and (max-width: 600px){
        justify-content: center;
        margin-bottom: 10px;
      }
    }
    .div-block-step-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      .image-icon {
        height: 63px;
        margin-top: 20px;
        object-fit: contain;
        transition: all 3s;
        @media screen and (max-width: 1024px){
          height: 51px;
          margin-top: 0px;
        }
        @media screen and (min-width: 1800px){
          height: 84px;
        }
      }
      .header-number {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #B79B53;
        transition: all 3s;
        @media screen and (min-width: 1800px){
          font-size: 48px;
        }
        @media screen and (max-width: 1024px){
          font-size: 42px;
        }
      }
      .header-text {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-bottom: 17px;
        margin-top: 5px;
        transition: all 3s;
        @media screen and (min-width: 1800px){
          font-size: 28px;
        }
      }
      .text-description {
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        transition: all 3s;
        font-size: 16px;
        @media screen and (min-width: 1024px){
          font-weight: 400;
        }
      }
    }
  }
  .div-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    >a:nth-child(1) {
      margin-bottom: 20px;
      &:hover {
        text-decoration: none;
        color: #ffffff;
        background: #0D0D0D;
        border: none;
      }
      @media screen and (max-width: 600px){
        width: calc(100vw - 60px);
      }
    }
    >button:nth-child(2) {
      background: transparent;
      border: none;
      >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        >span {
          color: #ffffff;
          font-weight: 500;
          align-items: center;
          text-transform: none;
          font-size: 20px;
          line-height: 35px;
          border-bottom: 1px solid #ffffff;
          letter-spacing: 0px;
          width: auto;
          @media screen and (max-width: 1024px){
            font-size: 14px;
            width: auto;
            line-height: 30px;
          }
        }
        >img {
          height: 20px;
          margin-left: 5px;
          @media screen and (max-width: 1024px){
            font-size: 16px;
          }
        }
      }
    }
    >button, >a {
      height: 56px;
      line-height: 56px;
      width: 400px;
      color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 6px;
      background: transparent;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: 600;
      @media screen and (max-width: 600px){
        width: calc(100vw - 60px);
        height: 46px;
        line-height: 46px;
        font-size: 14px;
        border: 1px solid #ffffff;
      }
      @media screen and (min-width: 1800px){
        width: 479px;
        font-size: 22px;
        height: 76px;
        line-height: 76px;
      }
      &.active {
        background: #0D0D0D;
        border: none;
      }
    }
  }

  .div-video-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    &.show {
      opacity: 1;
      transition: all 0.2s;
    }
    &.close {
      opacity: 0;
      transition: all 0.2s;
      z-index: -1;
    }
    .div-video {
      width: 50%;
      height: auto;
      position: relative;
      @media screen and (max-width: 600px){
        width: 90%;
      }
      >img {
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;
        cursor: pointer;
        @media screen and (max-width: 600px){
          width: 16px;
          height: 16px;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
}