.div-block-text-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0px;
  @media screen and (max-width: 1024px) {
    padding: 46px 20px;
  }
  >h1 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    width: 400px;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      width: 100%;
    }
  }
  >span {
    font-size: 18px;
    text-align: center;
    color: #0D0D0D;
    width: 60%;
    margin: 55px 0px;
    @media screen and (max-width: 1024px) {
      margin: 40px 0px;
      width: 100%;
      font-size: 14px;
    }
  }
  >button {
    background: #0D0D0D;
    border-radius: 6px;
    height: 76px;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0px 86px;
    @media screen and (max-width: 1024px) {
      height: 48px;
      font-size: 14px;
      width: 100%;
      padding: 0px;
    }
  }
}