.block-cta {
  display: flex;
  position: relative;
  padding: 0px 60px 0px 60px;
  color: #FFFFFF;
  width: 100vw;
  @media screen and (max-width: 1440px) {
    padding: 0px 45px 0px 45px;
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
  }
  .div-image {
    width: 100%;
    position: relative;
    >img {
      width: 100%;
      height: calc((100vw - 120px) * 0.33333);
      object-fit:cover;
      @media screen and (max-width: 1440px) {
        height: calc((100vw - 90px) * 0.33333);
      }
      @media screen and (max-width: 1024px) {
        height: calc(100vw - 30px);
      }
    }
    .div-link {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      >a {
        color: #ffffff;
        background: transparent;
        display: flex;
        align-items: center;
        padding: 0px;
        font-size: 10px;
        letter-spacing: 0.2em;
        font-weight: 500;
        text-transform: uppercase;
        >img {
          height: 10px;
          margin-left: 5px;
        }
        &.text-black {
          color: #0d0d0d;
        }
      }
    }
  }
  &.right {
    justify-content: flex-end;
    .text {
      margin-left: unset;
      right: 80px;
      color: #0D0D0D;
      align-items: flex-end;
      width: 80%;
      @media screen and (max-width: 1440px) {
        right: calc(80px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        right: unset;
        width: 100%;
      }
      >h2 {
        text-align: right;
        @media screen and (max-width: 1024px) {
          text-align: center;
          width: 100%;
        }
      }
      >span {
        text-align: end;
        @media screen and (max-width: 1024px) {
          text-align: center;
          width: 100%;
        }
      }
    }
    .div-image {
      .div-link {
        right: 18px;
        width: max-content;
        left: unset;
      }
    }
  }
  .text {
    position: absolute;
    width: 33.6%;
    margin-left: 80px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    width: 80%;
    @media screen and (max-width: 1440px) {
      margin-left: calc(80px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: unset;
      width: 100%;
      top: unset;
      color: #0d0d0d;
      transform: unset;
    }
    >h2 {
      font-family: Playfair Display;
      font-size: 48px;
      margin-bottom: 0px;
      @media screen and (max-width: 1440px) {
        // font-size: calc(64px * 0.75);
        font-size: 48px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 34px;
        font-family: Playfair Display;
        margin-top: 30px;
      }
    }
    >span {
      margin: 56px 0px;
      font-size: 18px;
      @media screen and (max-width: 1440px) {
        // font-size: calc(18px * 0.75);
        font-size: 18px;
        margin: 42px 0px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        margin: 30px 0px 0px 0px;
        text-align: center;
      }
    }
  }
}