.block-menu-2 {
  padding: 46px 0px 62px 0px;
  color: #0D0D0D;
  width: 100vw;
  @media screen and (max-width: 1440px) {
    padding: 34px 0px 46px 0px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0px;
  }
  .scroll-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .bt-all-product {
      position: absolute;
      bottom: 0px;
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      background: #fff;
      z-index: 2;
      align-items: center;
      >a {
        display: block;
      }
    }
    .list-block {
      overflow-y: auto;
      height: calc(100vh - 127px);
      padding-top: 24px;
      z-index: 2;
      .list-image {
        padding: 0px 24px;
        display: flex;
        justify-content: space-between;
      }
      .link-text {
        padding: 0px 24px;
        display: flex;
        flex-direction: column;
        margin-top: 47px;
        >h3, .header-h3 {
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.2em;
          color: #8D8D8D;
          margin-bottom: 0px;
        }
        >a {
          font-weight: 500;
          font-size: 16px;
          color: #0D0D0D;
          margin-top: 23px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      >a {
        margin-top: 54px;
        margin-bottom: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .line-col {
      width: 1px;
      height: 294px;
      background: #E2E2E2;
      border-radius: 43px;
      margin: 0px 122px;
      @media screen and (max-width: 1440px) {
        height: calc(294px * 0.75);
        margin: 0px 91.5px;
      }
    }
  }
}