.div-block-month {
  display: flex;
  flex-direction: column;
  margin: 0px 70px;
  height: 367px;
  position: relative;
  @media screen and (max-width: 600px){
    height: auto;
    margin: 0px;
  }
  .div-image {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 600px){
      height: 120px;
    }
    >img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .div-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0px;
    right: 0px;
    width: 100%;
    padding: 117px;
    background-image: linear-gradient(-90deg,#B79B53, #B79B53, transparent);
    @media screen and (max-width: 600px){
      height: auto;
      position: relative;
      width: 100%;
      padding: 32px 0px;
      background-color: #B79B53;
      background-image: linear-gradient(-90deg,#B79B53, #B79B53);
      align-items: center;
    }
    .header {
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      text-align: right;
      color: #FFFFFF;
      @media screen and (max-width: 600px){
        text-align: center;
        font-size: 30px;
      }
    }
    .div-money {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      .price {
        font-weight: bold;
        font-size: 48px;
        color: #FFFFFF;
        @media screen and (max-width: 600px){
          font-size: 24px;
        }
      }
      .description {
        font-size: 22.5px;
        color: #FFFFFF;
        @media screen and (max-width: 600px){
          font-size: 11px;
        }
      }
    }
  }
  .div-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    @media screen and (max-width: 600px){
      justify-content: center;
      margin-top: 35px;
    }
    >button {
      height: 56px;
      border: 2px solid #FFFFFF;
      border-radius: 6px;
      background: transparent;
      color: #ffffff;
      padding-left: 1rem;
      padding-right: 1rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      @media screen and (max-width: 600px){
        height: 48px;
        border: 1px solid #FFFFFF;
      }
    }
  }
}