.icon-scroll {
  width: calc(100% - 120px);
  display: flex;
  color: #000000;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid #E2E2E2;
  padding: 50px 0px;
  background: #F3F3F3;
  @media screen and (max-width: 1440px) {
    width: calc(100% - 90px);
    padding: 37.5px 0px;
  }
  @media screen and (max-width: 1024px) {
    border-bottom: none;
    width: calc(100% - 30px);
    padding: 46px 20px 72px 20px;
    margin-top: 30px;
  }
  >h2 {
    text-align: center;
    margin-bottom: 42px;
    @media screen and (max-width: 1440px) {
      margin-bottom: 41.26px;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 27px;
    }
  }
  .list-item {
    display: flex;
    justify-content: space-evenly;
  }
  .slick-slider {
    .slick-dots {
      bottom: -35px;
      li {
        margin: 0px;
        button {
          &:before {
            color: #C4C4C4;
            font-size: 8px;
            opacity: 1,
          }
        }
      }
      .slick-active {
        button {
          &:before {
            color: #b79b53;
            font-size: 8px;
          }
        }
      }
    }
  }
  .icon-scroll-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    >img {
      height: 69px;
      object-fit: contain;
      object-position: center;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 0px;
      @media screen and (max-width: 1440px) {
        height: 45px;
        margin-bottom: 7px;
      }
      @media screen and (max-width: 1024px) {
        height: 83px;
        margin-bottom: 30px;
      }
    }
    .text {
      @media screen and (max-width: 1440px) {
      }
      @media screen and (max-width: 1024px) {
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        // padding: 0px 20px;
      }
      >h3 {
        text-align: center;
        margin-bottom: 5px;
        @media screen and (max-width: 1440px) {
          margin-bottom: 3px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
        }
      }
      >h4 {
        text-align: center;
        width: 271px;
        margin: auto;
        @media screen and (max-width: 1440px) {
          width: 203px;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
}