.div-block-icon-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 48px;
  width: 100%;
  @media screen and (max-width: 1024px) {
    padding: 87px 48px;
  }
  >h3 {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin-bottom: 60px;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-bottom: 52px;
    }
  }
  .div-list-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .div-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      border: none;
      padding: 0px 20px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0px;
        margin-bottom: 50px;
      }
      >img {
        width: 63px;
        height: 63px;
        object-fit: contain;
        object-position: center;
      }
      >h4 {
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin: 22px 0px 10px 0px;
        height: 40px;
      }
      >span {
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #0D0D0D;
      }
    }
  }
}