$margin-header: 40px;
$margin-mobile: 127px;
.block-carousel-v2 {
  position: relative;
  width: 100%;
  margin-top: 228px;
  background: #ffffff;
  padding: 0px 60px;
  height: 600px;
  @media (max-width: 1440px) {
    margin-top: 211px;
    padding: 0px 45px;
    height: 450px;
  }
  @media (max-width: 1024px) {
    padding: 0px 15px;
    height: auto;
    padding-top: $margin-mobile;
    margin-top: unset;
    background: #ffffff;
  }
  >.div-image {
    width: 100%;
    height: 100%;
    .ic-scroll-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      height: 39px;
      cursor: pointer;
      @media screen and (max-width: 1440px) {
        bottom: 8px;
        height: 29px;
      }
    }
    >.slick-slider {
      .slick-dots {
        width: max-content;
        bottom: 40px;
        left: 234px;
        @media screen and (max-width: 1440px) {
          left: calc(234px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          left: 50%;
          transform: translateX(-50%);
          bottom: unset;
          top: calc(100vw - 30px - 2px)
        }
        .slick-active {
          >button{
            // border: 2px solid #ffffff;
            border-radius: 50%;
            padding: 0px;
            &::before {
              opacity: 1;
              color: #B79B53;
            }
         }
        }
        >li {
          width: 16px;
          height: 16px;
          @media screen and (max-width: 1440px) {
            width: 13.5px;
            height: 13.5px;
          }
          @media screen and (max-width: 1024px) {
            width: 13.5px;
            height: 13.5px;
          }
          >button {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            @media screen and (max-width: 1440px) {
              width: 13.5px;
              height: 13.5px;
            }
            @media screen and (max-width: 1024px) {
              width: 9.5px;
              height: 9.5px;
            }
            &::before {
              opacity: 1;
              color: #C4C4C4;
              font-size: 13px;
              top: 1px;
              width: 17px;
              height: 17px;
              line-height: 16px;
              @media screen and (max-width: 1440px) {
                font-size: 9.75px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 9px;
              }
            }
          }
        }
      }
      // >.slick-dots{
      //   bottom: 70px;
      //   > li > button:before {
      //     color: white;
      //   }
      //   @media only screen and (max-width: 600px) {
      //     top: 50vh;
      //     height: 30px;
      //   }
      //   @media (min-width: 768px) and (max-width: 1024px) {
      //     top: 50vh;
      //     height: 30px;
      //   }
      // }
    }
  }

}

.div-custome-silde-mobile-v2 {
  width: 100%;
  position: relative;
  display: flex !important;
  height: auto;
  .div-image-text {
    width: 100%;
    height: auto;
    position: relative;
    @media (max-width: 1024px) {
      height: auto;
    }
    > img, > video {
      width: 100%;
      // height: 345px;
      object-fit: cover;
      object-position: center;
    }
    >.div-text-absolute {
      position: relative;
      width: 100%;
      // height: auto;
      // bottom: 0px;
      // padding-bottom: calc(100vh/6);
      // padding-top: 200px;
      // margin-bottom: -60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 1024px) {
        margin-bottom: 0px;
        // height: 100vh;
        // justify-content: space-between;
        // padding-top: 160px;
      }
      // background-image: linear-gradient( rgba(0,0,0,0), #0D0D0D);
      .title-text {
        text-align: center;
        padding: 30px 0px 15px 0px;
      }
      .header_3 {
        margin-bottom: 30px;
        width: 100%;
        padding: 0px 20px;
        text-align: center;
        .rich-text {
          >p {
            margin-bottom: 0px;
          }
        }
      }
      // .div-description {
      //   margin-bottom: 30px;
      // }
      // >a {
      //   width: calc(100% - 60px);
      // }
    }
  }
  > .div-text {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // > h1 {
    //   color: '#ffffff' !important;
    //   text-transform: uppercase;
    //   text-align: center;
    //   font-size: 20px;
    // }
    // >span{
    //   width: 100%;
    //   text-align: center;
    // }
  }
  >.div-des {
    padding: 20px 0 70px 0;
  }
}

.div-custome-silde-v2 {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1440px) {
    height: 450px;
  }
  @media (max-width: 1024px) {
    height: calc(100vh - #{$margin-mobile});
  }
  >video {
    height: 100%;
  }
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    @media only screen and (max-width: 1024px) {
      height: 345px;
    }
  }
  > .div-text {
    z-index: 1;
    margin-left: 234px;
    display: flex;
    flex-direction: column;
    &.div-right {
      width: calc(470px * 1.33);
      text-align: end;
      @media screen and (max-width: 1440px) {
        width: 470px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        text-align: unset;
      }
    }
    @media screen and (max-width: 1440px) {
      margin-left: calc(234px * 0.75);
    }
    @media screen and (max-width: 600px) {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    // > h1, >h2 {
    //   font-family: Playfair Display;
    //   font-weight: bold;
    //   letter-spacing: 0.1em;
    //   text-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05);
    //   font-size: 48px;
    //   // color: #ffffff;
    //   margin-bottom: 0px;
    //   @media screen and (max-width: 1440px){
    //     // font-size: calc(48px * 0.75);
    //     font-size: 48px;
    //   }
    //   @media only screen and (max-width: 600px) {
    //     text-align: center;
    //     font-size: 28px;
    //   }
    // }
    > .div-description {
      .rich-text {
        padding: 30px 0px;
        @media screen and (max-width: 1440px) {
          padding: 22.5px 0px;
        }
        @media screen and (max-width: 1024px) {
          max-width: 270px;
        }
        // >p {
        //   // color: #ffffff;
        //   font-family: Playfair Display;
        //   font-weight: 400;
        //   font-size: 18px;
        //   margin-bottom: 0px;
        //   @media screen and (max-width: 1440px){
        //     // font-size: calc(24px * 0.75);
        //     font-size: 18px;
        //   }
        //   @media only screen and (max-width: 600px) {
        //     text-align: center;
        //   }
        // }
      }
    }
  }
}