.div-block-icon-header-v2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 48px;
  width: 100%;
  @media screen and (max-width: 1024px) {
    padding: 40px 48px;
  }
  >h2, .header-h3 {
    font-size: 48px;
    text-align: center;
    color: #0D0D0D;
    margin-bottom: 47px;
    font-weight: normal;
    @media screen and (max-width: 1440px) {
      font-size: 48px;
      margin-bottom: calc(47px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 34px;
      margin-bottom: 30px;
    }
  }
  >span {
    font-size:18px;
    color: #0D0D0D;
    margin-bottom: 60px;
    font-weight: 300;
    text-align: center;
    @media screen and (max-width: 1440px) {
      // font-size: calc(24px * 0.75);
      font-size:18px;
      margin-bottom: calc(60px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      margin-bottom: 60px;
    }
  }
  .div-list-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .slick-slider {
      .slick-dots {
        @media screen and (max-width: 1024px) {
          bottom: -25px;
          >li {
            margin: 0px;
            >button::before {
              color: #C4C4C4;
            }
          }
          .slick-active {
            >button::before {
              color: #B79B53;
            }
          }
        }
      }
    }
    .div-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      border: none;
      padding: 0px 20px;
      @media screen and (max-width: 1440px) {
        padding: 0px 15px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0px;
        margin-bottom: 50px;
      }
      >img {
        width: 63px;
        height: 63px;
        object-fit: contain;
        object-position: center;
        margin: auto;
      }
      >h4 {
        font-size: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        font-weight: 500;
        color: #0D0D0D;
        margin: 22px 0px 0px 0px;
        height: 60px;
        @media screen and (max-width: 1440px) {
          font-size: calc(22px * 0.75);
          height: 40px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }
      >span {
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: calc(16px * 0.75);
        }
      }
    }
  }
  >a {
    width: 334px;
    text-align: center;
    margin-top: 60px;
    @media screen and (max-width: 1440px) {
      width: calc(334px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 30px * 2);
      margin-top: 0px;
    }
  }
}