.div-bottle-scent-v2 {
  position: relative;
  width: 100%;
  height: auto;
  .ic-bottle {
    width: 100%;
  }
  .selection-scent {
    position: absolute;
    height: 69%;
    right: 0;
    top: 50%;
    background: #ffffffb3;
    border-radius: 16px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -34%);
    transition: 1s all;
    width: 88%;
    .scent {
      width: 100%;
      height: 50%;
      display: flex;
      background-size: cover;
      border: 2px dashed rgb(141, 141, 141);
      &.scent-top {
        border-radius: 16px 16px 0 0;
        &.none-border {
          border-bottom: none;
        }
        &.none-border-full {
          border: none;
        }
      }
      &.scent-bottom {
        border-radius: 0px 0px 16px 16px;
        &.none-border {
          border-top: none;
        }
        &.none-border-full {
          border: none;
        }
      }
      >span {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 500;
        height: fit-content;
        margin: auto;
      }
    }
  }
}