.div-image-bottle-custom {
position: relative;
  cursor: pointer;
  .img-bottle {
    height: 300px;
  }
  .div-select-image {
    position: absolute;
    bottom: 15px;
    left: 8px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  .img-name {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    height: 85px;
    width: 28px;
    top: 49px;
    border-radius: 10px;
  }
  .image-logo {
    position: absolute;
    width: 20px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    top: 57px;
    z-index: 2;
  }
  .text-des-custome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 18px;
    width: 33px;
    text-align: center;
    z-index: 2;
    font-size: 3px;
    height: auto;
  }
  .text-size-custome {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 12px;
    z-index: 2;
    font-size: 3px;
    width: auto;
    height: auto;
  }
  .img-custome {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    height: 148px;
    width: 62px;
    top: 109px;
  }
  .custome-name {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    color: #ffffff;
    font-size: 4px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .custome-only-name-v3 {
    width: 80% !important;
    top: 400px !important;
    @media screen and (max-width: 1440px) {
      top: 280px !important;
    }
    @media screen and (max-width: 1024px) {
      top: 185px !important;;
    }
    >span {
      font-size: 10px !important;
      text-align: center !important;
      @media screen and (max-width: 1024px) {
        font-size: 6px !important;
      }
    }
    
  }
  .custome-only-name {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 82px;
    color: #0D0D0D;
    font-size: 3px;
    width: 100%;
    text-align: center;
  }
  .div-ingredients {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >span {
      color: #0D0D0D;
      font-size: 5px;
    }
    &.onMid {
      top: 170px;
    }
  }
}