.div-button-info {
  color: #0D0D0D;
  font-size: 14px;
  position: relative;
  margin-left: 0.5rem;
  > button {
    color: #0B5EC2;
  }
  .card-info {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: -142px;
    padding-bottom: 20px;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
    background: #fff;
    @media screen and (max-width: 768px) {
      left: -165px;
    }
    .header {
      padding: 20px;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .div-line {
      height: 1px;
      width: 100%;
      background: #0D0D0D;
    }
    .div-content {
      .div-item {
        width: 100%;
        border: none;
        padding: 5px 20px;
        .point-info{
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #0D0D0D;
        }
        >span {
          margin-left: 1rem;
          flex: 1;
        }
      }
    }
  }
}