.buy-more-discount {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  >h2, .header-h2 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0D0D0D;
    text-align: center;
    margin: 0px;
    @media screen and (max-width: 1024px){
      font-size: 14px;
    }
  }
  .div-progress {
    position: relative;
    width: 100%;
    margin: 30px 0px;
    .cus-progress {
      height: 6px;
      border-radius: 42px;
      background-color: #E5E5E5;
      .progress-bar {
        background-color: #B79B53;
      }
    }
    .number-percent:nth-child(2) {
      left: 50%;
    }
    .number-percent:nth-child(3) {
      left: 70%;
    }
    .number-percent {
      position: absolute;
      width: 28px;
      height: 28px;
      border-radius:50%;
      background: #E5E5E5;
      border: 3px solid #c4c4c4;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 1024px) {
        width: 24px;
        height: 24px;
      }
      &.active {
        border: 3px solid #ffffff;
        background: #B79B53;
        >div {
          >span {
            color: #ffffff;
          }
        }
        .show-bottle {
          >span {
            color: #B79B53;
          }
        }
      }
      &.div-bottle {
        background: #ffffff;
        border: 3px solid #ffffff;
        width: 40px;
        height: 40px;
        .show-bottle {
          position: relative;
          .bottle {
            >img {
              padding: 0px 1px;
              width: 10px;
            }
          }
          >span {
            position: absolute;
            bottom: -20px;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
      >div {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content:center;
        align-items: center;
        >span {
          font-weight: bold;
          font-size: 10px;
          line-height: 10px;
          text-align: center;
          color: #0D0D0D;
          margin: auto;
          @media screen and (max-width: 1024px) {
            font-size: 7px;
            line-height: 7px;
          }
        }
      }
    }
  }
  >span {
    font-size: 14px;
    color: #0D0D0D;
    text-align: center;
    &.span-bottle {
      margin-top: 24px;
    }
  }
}