@media screen and (max-width: 768px) {
    ._view-influencer{
        height: 159px!important;
        .card-header{
            .card-item{
                right:-4px!important;
                li.card-item-child{
                    margin-top: -14px!important;
                    .number-card-div{
                        top:-10px;
                        height: 92%;
                        .card-item-name{
                            font-size: 10px!important;
                            bottom: 2px!important;

                        }
                        .number-card{
                            font-size: 10px!important;
                            bottom: -14px!important;
                        }
                    }
                    .number-card-div::after {
                        box-shadow: 2px 1px 4px rgb(12, 12, 12);
                    }

                }
            }
            .card-item-2{
               right:-4px!important;
               li.card-item-child{
                    margin-top: -14px!important;
                    .number-card-div{
                        height: 92%;
                         top:-10px;
                        .card-item-name{
                            font-size: 10px!important;
                            bottom: 2px!important;
                        }
                        .number-card{
                            font-size: 10px!important;
                            bottom: -14px!important;
                        }
                    }
                    .number-card-div::after {
                        box-shadow: 2px 1px 4px rgb(12, 12, 12);
                    }
               }
            }
        }
    }
    ._view-influencer2-Content{
        margin-top: 108px!important;
        .headerTitle{
            font-size: 36px!important; 
            line-height: 48px!important;
        }
        .description{
            font-size: 16px!important;
            margin-top:41px!important;
            line-height: 32px!important;
            width:100%!important;
            margin: auto;
            >p{
                width: 70%!important;
                font-size: 15px!important;
            }
        }
        .containerList{
            margin-top: 61px!important;
            margin-bottom: 87px!important;
        }
    }  
}
@media screen and (max-width: 414px) {
    ._view-influencer{
        height: 168px!important;
    }
    ._view-influencer2-Content{
        margin-top: 73px!important;
        .headerTitle{
            font-size: 26px!important;
        }
        .description{
            margin-top:0px!important;
            width:100%!important;
            margin: auto;
            >p{
                width: 80%!important;
                font-size: 13px!important;
            }
        }
        .containerList{
            margin-top: 21px!important;
            margin-bottom: 104px!important;
        }
    }
}
._view-influencer{
    width: 91%;
    height: 240px;
    .card-header{
        height: 100%;
        width: 100%;
        position: relative;
        background: white;
        border-style: none;
        .card-item{
            width: 100%;
            box-shadow: 0px 1px 2px 1px #d1d1c6;
            padding: 32px 0px 2px 0px;
            position: absolute;
            background: white;

            li.card-item-child{
                width: 90%;
                margin: 0 auto;
                height: 100%;
                list-style-type: none;
                text-align: initial;
                margin-top: -4px;
                
            
                .img_card{
                    width: 100%;
                    margin-bottom: 17%;
                    position: relative;
                    z-index: 1;
                    max-height: 200px;
                }   
            }
            
                .number-card-div{
                    height: 88%;
                    width: 72%;
                    top: -4px;
                    position: absolute;
                    margin-top: 16px;
                    border-right: 2px solid rgb(221, 221, 206);
                    z-index: 0;
                    .card-item-name{
                        position: absolute;
                        font-weight: 800;
                        font-size: 16px;
                        bottom: -2px;
                        left: 11px;
                    }
                    .border-number-card{
                        right: 0px;
                        bottom: 0px;
                        position: absolute;
                        width: 10%;
                        height: 50%;
                        background-color: #f9f9f9;
                        z-index: -1;
                    }
                                   
                    .number-card{
                        position: absolute;
                        bottom: -12px;
                        right: 5px;
                        font-weight: 800;
                        font-size: 15px;
                        opacity: 0.5;
                    }
                    
                
                }
                .number-card-div::after {
                    content: ' ';
                    width: 1px;
                    margin-top: 20%;
                    height: 80%;
                    //background-color: black;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    box-shadow: 3px 2px 3px rgb(12, 12, 12);
                }

            }
        }
    //
        .card-item-2{
            width: 100%;
            box-shadow: 0px 1px 2px 1px #d1d1c6;
            padding: 32px 0px 2px 0px;
            position: absolute;
            background: white;

            li.card-item-child{
                width: 90%;
                margin: 0 auto;
                height: 100%;
                list-style-type: none;
                text-align: initial;
                margin-top: -4px;
            
                .img_card{
                    width: 100%;
                    margin-bottom: 17%;
                    position: relative;
                    z-index: 1;
                    max-height: 200px;
                }   
            }
            
                .number-card-div{
                    height: 86%;
                    width: 72%;
                    top: -4px;
                    position: absolute;
                    margin-top: 16px;
                    border-right: 2px solid rgb(221, 221, 206);
                    z-index: 0;
                    .card-item-name{
                        position: absolute;
                        font-weight: 800;
                        font-size: 16px;
                        bottom: -2px;
                        left: 11px;
                    }
                    .number-card{
                        position: absolute;
                        bottom: -12px;
                        right: 5px;
                        font-weight: 800;
                        font-size: 15px;
                        opacity: 0.5;
                    }
                    .border-number-card{
                        right: 0px;
                        bottom: 0px;
                        position: absolute;
                        width: 10%;
                        height: 50%;
                        background-color: #f9f9f9;
                        z-index: -1;
                    }
                }
                .number-card-div::after {
                    content: ' ';
                    width: 1px;
                    margin-top: 20%;
                    height: 80%;
                    //background-color: black;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    box-shadow: 3px -3px 3px rgb(12, 12, 12);
                }
                
        }
    //
    .card-item:nth-child(1) {
  
        // -webkit-transform: scale(1);
        // transform: scale(1);
        
        width:100%;
        transform: rotate(2deg);
    }
    .card-item:nth-child(2) {
  
        // -webkit-transform: scale(1);
        // transform: scale(1);
        width:100%;
      
        transform: rotate(-2deg);
    }

}

._view-influencer2-Content{
    margin-top: 125px;
    text-align: center;
    .headerTitle{
        font-family: playFair-display;
        font-weight: bold;
        font-size: 50px;
        font-style: normal;
        line-height: 67px;
        color: #000000;
    }
    .description{
        >p{
            margin-top: 25px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 32px;
            color: #3D3D3D;
            width: 57%;
            display: inline-block;
        }     
    }
    .containerList{
        margin-top: 145px;
        margin-bottom: 209px;
    }
}
._view-influencer-add-col{
    margin: auto;
}
._container-view-influencer{
    margin-top: 111px;
    margin-bottom: 210px;
    @media screen and (max-width: 414px) {
        margin-top: 36px;
        margin-bottom: 80px;
    }
}

@keyframes in {
    from {
        background-size: 100%;
    }
    to {
        background-size: 130%;
    }
}

#influencer > .row{
    background: #0d0d0d !important;
}
.div-influencer-new {
    // padding-top: 227px;
    width: 100vw;
    @media screen and (max-width: 1440px){
        // padding-top: 170px;
    }
    @media screen and (max-width: 1024px){
        // padding-top: 86px;
    }
    // @media (max-width: 1024px) {
    //     margin-top: $margin-mobile;
    //   }
    .div-search {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: flex-end;
        margin: auto;
        width: calc(100vw - 233px * 2);
        @media screen and (max-width: 1440px) {
            width: calc(100vw - 233px * 2 * 0.75);
            margin-top: calc(50px * 0.75);
            margin-bottom: calc(50px * 0.75);
        }
        @media screen and (max-width: 1024px) {
            margin-top: 40px;
            margin-bottom: 36px;
            width: calc(100vw - 15px * 2);
        }
        .content {
            width: max-content;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #8D8D8D;
            margin-right: 15px;
            >input {
                font-weight: normal;
                font-size: 20px;
                display: flex;
                align-items: center;
                color: #0d0d0d;
                border:none;
                line-height: 23px;
                padding: 5px 0px;
                background: transparent;
                &::placeholder {
                    font-size: 20px;
                    color: #8D8D8D;
                }
                @media screen and (max-width: 1440px) {
                    font-size: calc(20px * 0.75);
                    line-height: calc(23px * 0.75);
                    &::placeholder {
                        font-size: calc(20px * 0.75);
                    }
                }
                @media screen and (max-width: 1024px) {
                    font-size: 16px;
                    line-height: 18px;
                    &::placeholder {
                        font-size: 16px;
                    }
                }
            }
            >img {
                height: 21px;
                @media screen and (max-width: 1440px) {
                    height: calc(21px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                    height: 12px;
                }
            }
        }
    }
    .div-row {
        margin: auto;
        width: calc(100vw - 233px * 2);
        cursor: pointer;
        border-bottom: 1px solid #C4C4C4;
        @media screen and (max-width: 1440px){
            width: calc(100vw - 233px * 2 * 0.75);
        }
        @media screen and (max-width: 1024px){
            width: calc(100vw - 15px * 2);
        }
        >div {
            padding: 0px;
        }
        >div:nth-last-child(2) {
            margin-left: auto;
        } 
        >div:last-child {
            margin-right: auto;
            margin-left: auto;
        } 
    }
    .itemInfluencer-v2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        
        @media screen and (max-width: 1440px){
            margin-bottom: calc(60px * 0.75);
        }
        @media screen and (max-width: 1024px){
            margin-bottom: 44px;
        }
        >img {
            width: calc(100% - 30px);
            height: calc((100vw - 233px * 2) / 3 * 0.64);
            object-fit: cover;
            border-radius: 8px;
            @media screen and (max-width: 1440px) {
                height: calc((100vw - 233px * 2 * 0.75) / 3 * 0.64);
            }
            @media screen and (max-width: 1024px) {
                height: calc((100vw - 30px) * 0.48);
            }
        }
        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >h3 {
                width: 100%;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
                color: #0D0D0D;
                margin-bottom: 12px;
                margin-top: 30px;
                @media screen and (max-width: 1440px) {
                    font-size: calc(24px * 0.75);
                    margin-bottom: calc(12px * 0.75);
                    margin-top: calc(30px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                    font-size: 16px;
                    margin-bottom: 10px;
                    margin-top: 21px;
                }
            }
            >span {
                font-size: 20px;
                text-align: center;
                color: #8D8D8D;
                @media screen and (max-width: 1440px) {
                    font-size: calc(20px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                    font-size: 14px;
                }
            }
        }
    }
    .items-influencer {
        width: 100%;
        height: 226px;
        position: relative;
        color: #ffffff;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transition: all 0.2s;
        @media screen and (max-width: 600px){
            height: 140px;
            background-position: center;
            background-size: cover;
            &:hover {
                height: 180px;
                background-size: cover;
                transition: all 0.2s;
            }
        }
        @media screen and (min-width: 600px) and (max-width: 1024px){
            height: 220px;
            background-position: center;
            background-size: cover;
            &:hover {
                height: 260px;
                background-size: cover;
                transition: all 0.2s;
            }
        }
        &:hover {
            background-size: 130%;
            transition: all 0.2s;
            @media screen and (max-width: 600px){
                background-size: cover;
                transition: all 0.2s;
            }
            @media screen and (min-width: 600px) and (max-width: 1024px){
                background-size: cover;
                transition: all 0.2s;
            }
        }
        >img {
            width: 100%;
            height: 226px;
            object-fit: cover;
            object-position: center;
        }
        .img-hover {
            height: 250px;
            width: 150%;
        }
        
        .color-background {
            width: 100%;
            height: 100%;
            &.active {
                background-color: rgba($color: #000000, $alpha: 0.3);
            }
            &.inactive {
                background-color: rgba($color: #000000, $alpha: 0.0);
            }
        }

        .div-text {
            position: absolute;
            width: 50%;
            height: 100%;
            right: 0px;
            top: 0px;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            h2 {
                font-weight: 300;
                font-size: 2rem;
                text-transform: uppercase;
                @media screen and (max-width: 600px){
                    font-size: 30px;
                }
            }
            .description {
                width: 60%;
                padding: 0px;
                @media screen and (max-width: 600px){
                    width: 98%;
                    font-size: 10px;
                }
                @media screen and (min-width: 600px) and (max-width: 1024px){
                    width: 90%;
                }
            }
            .sub-title {
                text-transform: uppercase;
                @media screen and (max-width: 600px){
                    font-size: 10px;
                }
            }
            button {
                color: #ffffff;
                >img {
                    height: 0.6rem;
                    margin-left: 0.6rem;
                }
                @media screen and (max-width: 600px){
                    font-size: 10px;
                    >img {
                        height: 0.4rem;
                        margin-left: 0.4rem;
                    }
                }
            }
        }
    }
}