.div-checkout {
  font-size: 1rem;
  // margin-top: 70px;
  @media screen and (max-width: 1440px) {
    // margin-top: 70px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 1rem;
    // margin-top: 70px;
  }
  .div-all-clean-scent {
    margin-top:100px !important;
  }
  .des-birth {
    font-size: 0.875rem;
    color: #545454;
    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    } 
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }
  .option-birth {
    font-size: 0.875rem;
    position: absolute;
    top: 13px;
    right: 25px;
    color: #545454;
    @media screen and (max-width: 1024px) {
      font-size: 0.86rem;
      top: 13px;
      right: 10px;
    }
  }
  >h1 {
    color: #0D0D0D;
    font-size: 5rem !important;
    letter-spacing: unset !important;
    font-weight: normal;
    @media only screen and (max-width: 1024px) {
      font-size: 1.29rem !important;
      letter-spacing: 0.2rem !important;
      text-transform: uppercase;
      margin-top: 32px;
    }
  }
  .border-checkout {
    height: 46px;
    font-size: 0.874rem;
    font-weight: 400;
    border: 1px solid #D9D9D9;
    background: #ffffff;
    border-radius: 6px;
    color: #545454;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @media only screen and (max-width: 1024px) {
      height: 47px;
      font-size: 1rem;
    }
    &.bt-edit {
      height: 37px;
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 14px;
      color: #545454;
    }
    &.padding-0 {
      padding: 0px;
    }
  }
  .mt-25 {
    margin-top: 25px;
  }
  .mb-25 {
    margin-bottom: 25px;
  }
  .tx-header {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #000000;
    margin-left: 17px;
    @media only screen and (max-width: 1024px) {
      font-size: 1.28rem;
    }
  };
  .row {
    @media screen and (max-width: 1024px){
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .div-body {
    width: 100%;
    display: inherit;
    @media screen and (max-width: 1024px){
      display: flex;
      flex-direction:column;
    }
    .div-order {
      width: 55%;
      padding-left: 20px;
      padding-right: 40px;
      font-size: 0.875rem;
      color: #0D0D0D;
      border-left: 1px solid rgba(38, 38, 38, 0.1);
      background: #F5ECDC;
      @media screen and (max-width: 1024px){
        font-size: 1rem;
        border-left: none;
        width: 100%;
      }
      .scroll-item {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 7px;
          background-color: #e2e2e2;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #0d0d0d;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: #e2e2e2;
          border-radius: 5px;
        }
        .modal-body {
          height: 100%;
          overflow-y: auto;
        }
      }
      .div-header-order {
        font-size: 0.875rem;
        letter-spacing: 0.2em;
        text-align: left;
        padding-top: 44px;
        padding-bottom: 25px;
      }
      .new-cartItem {
        padding-top: 20px;
        margin-top: unset;
        .div-content {
          .div-header {
            .sp-title {
              font-size: 0.875rem;
              letter-spacing: 0.2em;
              color: #0D0D0D;
              width: 200px;
            }
          }
        }
      }
      .div-summary {
        font-size: 1rem;
        @media only screen and (max-width: 1024px) {
          font-size: 1rem;
        }
        .tx-price {
          font-size: 1.25rem;
          @media only screen and (max-width: 1024px) {
            font-size: 1rem;
          }
        }
        .free-shipping{
          padding-bottom: 15px;
          >span {
            color: #C9A047;
          }
          .tx-price {
            font-size: 1rem;
          }
        }
      }
    }
    .div-summary {
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0px 35px;
        margin-bottom: 30px;
      }
    }
    .div-infor {
      // padding-left: 40px;
      padding-bottom: 30px;
      align-items: center;
      width: 45%;
      padding-top: 33px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        padding: 0px 35px;
      }
      .header-title {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          margin-bottom: 15px;
        }
        >h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 1.125rem;
          line-height: 26px;
          color: #0D0D0D;
          margin-bottom: 0px;
        }
        .login-web {
          flex: 1;
          align-items: center;
        }
      }
      .div-customer {
        max-width: 570px;
        width: 100%;
        @media screen and (max-width: 1024px){
          max-width: unset;
          width: 100%
        }
        .div-header {
          border-bottom: 1px solid rgba(38, 38, 38, 0.1);
          padding: 20px 0px 11px 0px;
          @media screen and (max-width: 1024px){
            border-bottom: none;
          }
          &.border-mobile {
            @media screen and (max-width: 1024px){
              border-bottom: 1px solid rgba(38, 38, 38, 0.1);
            }
          }
          .header-text {
            padding-bottom: 11px;
            @media screen and (max-width: 1024px){
              align-items: flex-start;
            }
            .div-content-header {
              display: flex;
              @media screen and (max-width: 1024px) {
                flex-direction: column;
              }
            }
            .html-right {
              flex: 1;
              justify-content: 'space-between';
              .login-mobile {
                margin-top: 30px;
                margin-left: -30px;
              }
            }
          }
        }
        .div-content {
          margin-top: 0px;
          @media screen and (max-width: 1024px) {
            margin-top: 0px;
          }
          .PhoneInput {
            >input {
              border: none;
              font-size: 0.875rem;
              color: #0D0D0D;
            }
            .PhoneInputCountry {
              .PhoneInputCountryIconUnicode {
                width: 20px;
                height: 20px;
                font-size: 1.75rem;
                line-height: 23px;
                padding-right: 30px;
              }
            }
          }
          .checkbox-offers {
            margin-top: 14px;
            @media screen and (max-width: 1024px) {
              margin-top: 20px;
            }
            >label {
              >span {
                font-size: 0.875rem;
                line-height: 20px;
                font-style: normal;
                font-weight: normal;
                color: #545454;
              }
            }
            >label::before {
              width: 24px;
              height: 24px;
              background-size: 70%;
              background-position: center;
            }
          }
          .input-select {
            @media screen and (max-width: 1024px) {
              width: 50%;
            }
            >div {
              border: 1px solid #D9D9D9;
              padding: 0px;
              box-shadow: none;
            }
            .css-1pahdxg-control, .css-yk16xz-control {
              height: 46px;
              >div {
                >img {
                  margin-left: 10px;
                }
              }
              .css-1hb7zxy-IndicatorsContainer {
                height: 100%;
                >img {
                  margin-left: 10px;
                }
              }
            }
          }
          .row {
            >div {
              margin-top: 14px;
              @media screen and (max-width: 1024px) {
                margin-top: 24px;
              }
            }
          }
        }
        .div-list-button {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @media screen and (max-width: 1024px) {
            flex-direction: column-reverse;
            justify-content: center;
          }
        }
        .bt-text {
          height: 51px;
          min-height: 51px;
          margin-top: 27px;
          margin-bottom: 47px;
          font-size: 0.875rem;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-top: 0px;
            margin-bottom: 32px;
            font-size: 1rem;
          }
        }
        .bt-next {
          font-weight: 400;
          margin-top: 27px;
          margin-bottom: 47px;
          font-size: 0.9375rem;
          width: 315px;
          height: 51px;
          background: #B79B53;
          letter-spacing: 0.15em;
          border-radius: 0px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-top: 23px;
            margin-bottom: 10px;
            font-size: 1rem;
          }
        }
        .bt-place-order {
          margin-top: 50px;
        }
      }
    }
  }
}

.bt-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #E2E2E2;
  border: none;
  display: inline-block;
  @media screen and (max-width: 1024px) {
    width: 27px;
    height: 27px;
  }
  &.active {
    background: #0D0D0D;
  }
  >span {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    line-height: 23px;
    padding: 0px;
    margin: 0px;
    @media screen and (max-width: 1024px) {
      font-size: 1.28rem;
      line-height: 27px;
    }
  }
}

.div-option-checkout-wrap {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .div-description-text {
    // border-left: 1px solid #E2E2E2;
    // border-right: 1px solid #E2E2E2;
    border-top: 1px solid #D9D9D9;
    background: #FAFAFA;
    padding: 20px 72px;
    font-size: 0.75rem;
    @media screen and (max-width: 1024px){
      padding: 20px 0px;
    }
    .div-list-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      width: 100%;
      max-width: unset !important;
      padding: 20px 0px 30px 0px;
      @media screen and (max-width: 1024px){
        justify-content: space-evenly;
      }
      .div-item-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
        @media screen and (max-width: 1024px){
          margin: 0px;
        }
        >img {
          width: 31px;
          height: 31px;
          object-fit: contain;
          object-position: center;
        }
        >span {
          font-weight: 500;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #000000;
  
        }
      }
    }
    .text-1, .text-2 {
      @media screen and (max-width: 1024px) {
        margin-left: 24px !important;
      }
    }
    .text-2 {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    >div {
      color: #0D0D0D;
      margin-left: 0px 72px;
      text-align: center;
    }
    >div:nth-child(2) {
      margin-top: 10px;
    }
    &.bottom-border {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
.div-subInfo {
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.text-extend {
  // padding-left: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  @media screen and (max-width: 1024px){
    flex-direction: column;
    align-items: center;
    padding: 14px 0px;
  }
  .bt-express-option {
    width: 160px;
    height: 48px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.125rem;
    margin: 0px 14px;
    background: #ffffff;
    &.active {
      border: 1px solid #B79B53;
    }
    @media screen and (max-width: 1024px){
      margin: 14px 0px;
    }
  }
}
.note-require {
  color: #333333;
  font-size: 0.875rem;
  display: flex;
  justify-content: flex-end;
  // background: #fff;
  padding-top: 20px;
}
.div-option-checkout {
  min-height: 46px;
  padding: 10px 0px;
  background-color: #ffffff;
  cursor: pointer;
  // border-left: 1px solid #E2E2E2;
  // border-right: 1px solid #E2E2E2;
  @media screen and (max-width: 1024px) {
    min-height: 60px;
    height: unset;
  }
  .text-yellow {
    color: #C9A047;
    @media screen and (max-width: 1024px) {
      margin-left: 45px;
      margin-top: 10px;
    }
  }
  // &.active {
  //   background: #ffffff;
  //   @media screen and (max-width: 1024px) {
  //     background: #F4F4F4;
  //   }
  // }
  &.top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  // &.mid {
  //   border-left: 1px solid #E2E2E2;
  //   border-right: 1px solid #E2E2E2;
  //   border-top-left-radius: 0px;
  //   border-top-right-radius: 0px;
  // }
  &.bottom-extend {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #D9D9D9;
  }
  &.bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  // &.bottom-sub {
  //   border: 1px solid #E2E2E2;
  //   border-bottom-left-radius: 0px;
  //   border-bottom-right-radius: 0px;
  // }
  &.full-border {
    border-radius: 4px;
  }
  .div-button {
    width: 45px;
    height: 100%;
    > div:nth-child(1) {
      width: 18px;
      height: 18px;
      border: 1px solid #C4C4C4;
      border-radius: 50%;
      &.selected {
        border: 5px solid #0D0D0D;
      }
      > button {
        background: none;
        border: none;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0px;
        padding: 0px
      }
    }
  }
  .name-payment {
    width: unset;
    flex: 2;
  }
  .div-name {
    width: 130px;
    color: #545454;
    font-size: 0.875rem;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
      flex: 1;
      font-size: 1.14rem;
    }
    .text-address {
      font-size: 0.875rem;
      color: #333333;
    }
  }
  .div-info {
    flex: 1;
    font-size: 0.875rem;
    color: #545454;
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
    .text-yellow {
      color: #C9A047;
    }
  }
  .div-price {
    width: '80px';
    color: #333333;
    font-size: 0.875rem;
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }
  .div-button-change {
    justify-content: center;
    @media screen and (max-width: 1024px) {
      justify-content: flex-start;
    }
    >button {
      color: #0B5EC2;
      font-weight: 300;
    }
  }
  .div-card {
    >img {
      height: 15px;
      @media screen and (max-width: 600px){
        height: 9px;
      }
    }
  }
}
.bt-choose {
  background: #ffff!important;
}
.tx-more-infor {
  color: #545454;
  font-size: 0.875rem;
  width: 80%;
}
.div-promotion-gift {
  width: 100%;
  margin-top: 20px;
  @media screen and (max-width: 1024px){
    width: 100%;
    padding-left: 0px;
  }
  .gift-free {
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 6px;
    font-size: 0.75rem;
    color: #0D0D0D;
    .header {
      >h2 {
        font-size: 0.875rem;
        font-weight: 400;
        color: #0D0D0D;
      }
    }
    .text-green {
      font-size: 0.75rem;
    }
    .list-gift {
      margin-bottom: 20px;
      .item-gift {
        height: 89px;
        .div-image {
          width: 12%;
          padding: 16px 6px;
          @media screen and (max-width: 1024px) {
            width: 20%;
          }
          >img {
            @media screen and (max-width: 1024px) {
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}
.div-packaging {
  color: #0D0D0D;
  >h4 {
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin-top: 38px;
    margin-bottom: 26px;
    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }
  .div-option {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  .div-packaing-option-item:nth-child(2) {
    @media screen and (max-width: 1024px){
      margin-top: 15px;
    }
  }
  .div-packaing-option-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 11px);
    padding: 8px 15px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
    @media screen and (max-width: 600px){
      margin-left: 0px;
      width: 100%;
    }
    .div-button {
      width: 212px;
      height: 272px;
      background: none;
      border: 1px solid #E2E2E2;
      border-radius: 4px;
      position: relative;
      @media screen and (max-width: 600px){
        width: 132px;
        height: 169px;
        border-radius: 2px;
      }
      &.active {
        border: 3px solid #0D0D0D;
        .div-checked {
          visibility: visible;
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0px;
          left: 0px;
          background: rgba($color: #ffffff, $alpha: 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          >img {
            height: 33px;
          }
        }
      }
    }
    .div-image {
      height: 50px;
      object-position: center;
      object-fit: cover;
      cursor: pointer;
      border-radius: 6px;
      @media screen and (max-width: 1024px) {
        width: 58px;
        object-fit: contain;
      }
    }
    .radio-button {
      .point {
        width: 18px;
        height: 18px;
        >button {
          width: 8px;
          height: 8px;
        }
      }
      >span {
        font-size: 0.875rem;
        color: #333333;
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
  }

  .gift-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0D0D0D;
    padding: 26px 28px;
    background: #F4F4F4;
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    margin-top: 60px;
    cursor: pointer;
    @media screen and (max-width: 1440px) {
      padding: 20px 21px;
      margin-top: calc(60px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      padding: 25px 14px;
      margin-top: 30px;
    }
    .text {
      display: flex;
      align-items: center;
      flex: 1;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
      }
      >h3 {
        font-weight: 500;
        font-size: 1.375rem;
        margin-bottom: 0px;
        margin-right: 100px;
        @media screen and (max-width: 1440px) {
          font-size: 1.18rem;
          margin-right: calc(100px * 0.75);
          @media screen and (max-width: 1024px) {
            margin-bottom: 16px;
            font-size: 1.14rem;
          }
        }
      }
      >span {
        font-size: 1rem;
        @media screen and (max-width: 1440px) {
          font-size: 0.857rem;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 0.857rem;
        }
      }
    }
    .price {
      font-weight: 500;
      font-size: 1.375rem;
      min-width: 200px;
      text-align: right;
      @media screen and (max-width: 1440px) {
        font-size: 1.18rem;
        min-width: calc(200px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
        min-width: 80px;
      }
    }
  }
}
.bt-checkout {
  height: 46px;
  font-size: 0.875rem;
  letter-spacing: 0.2em;
  @media screen and (max-width: 1440px) {
    font-size: 1rem;
  }
}
.div-total {
  font-weight: normal;
  font-size: 1rem;
  padding: 20px 0px;
  @media screen and (max-width: 1440px) {
    font-size: 1.14rem;
  }
  @media only screen and (max-width: 1024px) {
    font-size: 1.71rem;
    padding: 10px 0px;
  }
  .div-right {
    justify-content: center;
    align-items: center;
    .coupon__tag {
      cursor: pointer;
      border: 2px solid #4FBB62;
      border-radius: 0px;
      font-size: 0.6875rem;
      font-weight: 500;
      height: 22px;
      color: #4FBB62;
      position: relative;
      @media screen and (max-width: 1440px) {
        font-size: 0.78rem;
      }
      &::before {
        content: "";
        left: -7px;
        transform: rotate(-45deg);
        width: 10px;
        height: 10px;
        background-color: rgb(255, 255, 255);
        border-width: 2px;
        border-style: solid;
        border-color: transparent #4FBB62 #4FBB62 transparent;
        border-image: initial;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        border-radius: 50%;
      }
      &::after {
        right: -7px;
        transform: rotate(135deg);
        content: "";
        width: 10px;
        height: 10px;
        background-color: rgb(255, 255, 255);
        border-width: 2px;
        border-style: solid;
        border-color: transparent #4FBB62 #4FBB62 transparent;
        border-image: initial;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        border-radius: 50%;
      }
      >span {
        padding: 0px 10px;
        line-height: 18px;
      }
    }
    .strike {
      font-size: 0.875rem !important;
      color: #8D8D8D;
      @media screen and (max-width: 1440px) {
        font-size: 1rem !important;
      }
    }
    .total-price {
      font-size: 1.25rem;
      color: #0d0d0d;
      @media only screen and (max-width: 1440px) {
        font-size: 1.43rem;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 1.71rem;
      }
    }
  }
  >span:nth-child(2) {
    font-size: 1.25rem;
    @media only screen and (max-width: 1440px) {
      font-size: 1.43rem;
    }
    @media only screen and (max-width: 1024px) {
      font-size: 1.71rem;
    }
  }
}
.div-point-detail {
  padding-bottom: 20px;
  margin-top: -10px;
  justify-content: flex-start;
  >img {
    width: 21px;
    height: 21px;
    @media screen and (max-width: 1440px) {
      width: 17px;
      height: 17px;
    }
    @media screen and (max-width: 1024px) {
      width: 18px;
      height: 18px;
    }
  }
  >span {
    font-size: 1.125rem;
    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 1.07rem;
    }
  }
}
.div-expand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 0.5rem 0px;
  width: 100%;
  &.close-expand {
    .div-content-expand {
      height: 0px;
      transition: all 0.2s;
      * {
        visibility: hidden;
      }
    }
  }
  &.open-expand {
    .div-content-expand {
      height: auto;
      transition: all 0.2s;
      * {
        visibility: visible;
      }
    }
  }
  .div-header-expand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 0px;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      padding: 10px 0px;
    }
    .div-promo-apply {
      width: 100%;
      height: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      >span {
        font-weight: 500;
        font-size: 1rem;
        color: #0D0D0D;
        @media screen and (max-width: 1024px) {
          font-size: 1.14rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 1.14rem;
        }
      }
      >button {
        margin-left: 13px;
        >img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .div-left-gift {
      .title {
        font-weight: 600;
        color: #0D0D0D;
        font-size: 1.25rem;
        text-transform: uppercase;
        @media screen and (max-width: 1440px) {
          font-size: 1.43rem;
        }
      }
      .text-green {
        font-weight: 500;
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        color: #34C01E;
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
      }
    }
    >span {
      font-weight: normal;
      color: #0D0D0D;
      font-size: 1rem;
      text-transform: uppercase;
      @media screen and (max-width: 1440px) {
        font-size: 1.14rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 1.14rem;
        text-transform: unset;
      }
    }
    >button {
      padding: 8px 0px 8px 8px;
      color: #0D0D0D;
      border: none;
      background: transparent;
    }
  }
  .div-content-expand {
    width: 100%;
    .div-promo {
      .group {
        width: 100%;
        margin-top: 0px;
        position: relative;
        .icon-show {
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
          width: 20px;
          position: absolute;
        }
        >input {
          &:focus {
            border: 2px solid #B79B53;
            padding-top: 18px;
          }
        }
        .error {
          border: 2px solid #EB5757;
        }
        .success {
          border: 2px solid #4CD964;
        }
        .input-text-bottom {
          padding-top: 18px;
        }
        .label-material {
          padding-bottom: 0px;
          padding-left: 15px;
          margin-bottom: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
        .has-text, .input-material:focus ~ label {
          top: 12px;
          font-size: 0.625rem;
          color: #545454;
          @media screen and (max-width: 1440px) {
            font-size: 0.71rem;
          }
        }
      }
      
      >button {
        margin-left: 20px;
        height: 46px;
        padding: 0px 25px;
        background:#0D0D0D;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        font-size: 1rem;
        @media screen and (max-width: 1440px) {
          font-size: 1.14rem;
        }
        &.disabled {
          background:#C8C8C8;
          
        }
      }
    }
  }
}

.div-header-mini {
  margin-top: 25px;
  margin-bottom: 25px;
  >span {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #0D0D0D;
    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }
  }
}
.div-shipping-address {
  >input {
    margin-top:14px;
  }
  .row >div {
    margin-top:14px;
  }
  .info-sa {
    font-size: 0.6875rem;
    color: #545454;
    line-height: 1;
    @media screen and (max-width: 1440px) {
      font-size: 0.78rem;
    }
  }
}
.div-grid {
  display: grid;
  grid-template-columns: auto;
  border-radius: 6px;
  grid-gap: 1px;
  background-color: #D9D9D9;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}
.div-payment-club {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1024px){
    padding-left: 0px;
  }
  .div-grid {
    .div-option-checkout {
      border-radius: 5px;
    }
  }
  // .div-card {
  //   display: flex;
  //   flex-direction: column;
  //   background: #F4F4F4;
  //   border: 0.750973px solid #E2E2E2;
  //   border-radius: 6px;
  //   padding: 8px 16px;
  //   .div-type-card {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     // margin-bottom: 2rem;
  //     align-items: center;
  //     .div-button-check {
  //       display: flex;
  //       flex-direction: row;
  //       align-items: center;
  //       .div-button {
  //         width: 50px;
  //         height: 100%;
  //         > div:nth-child(1) {
  //           width: 28px;
  //           height: 28px;
  //           border: 1px solid #C4C4C4;
  //           border-radius: 50%;
  //           @media screen and (max-width: 1024px) {
  //             width: 20px;
  //             height: 20px;
  //           }
  //           > button {
  //             background: none;
  //             border: none;
  //             width: 18px;
  //             height: 18px;
  //             border-radius: 50%;
  //             margin: 0px;
  //             padding: 0px;
  //             @media screen and (max-width: 1024px) {
  //               width: 12px;
  //               height: 12px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //     .div-icon {
  //       >img {
  //         height: 16px;
  //         @media screen and (max-width: 1024px){
  //           height: 12px;
  //         }
  //       }
  //     }
  //   }
  // }
  .div-image-receive {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    @media screen and (max-width: 1024px){
      justify-content: space-between;
      margin-bottom: 30px;
    }
    
    .div-item-receive {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      max-width: 90px;
      @media screen and (max-width: 1024px){
        margin-right: 0px;
      }
      >img {
        height: 41px;
        margin-bottom: 5px;
      }
    }
  }
}

.div-all-clean-scent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
  @media screen and (max-width: 1024px){
    margin-bottom: 20px;
  }
  >h3 {
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin: 0px;
    @media screen and (max-width: 1440px){
      font-size: 1.28rem;
    }
  }
  .div-list-item {
    margin-top: 60px;
    width: 100%;
    display: flex;
    @media screen and (max-width: 1024px){
      flex-direction: column;
      align-items: center;
    }
    .div-item-all-clean-scent {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 1024px){
        width: 100%;
        margin-bottom: 52px;
      }
      >img {
        height: 62px;
        @media screen and (max-width: 1024px){
          height: 84px;
        }
      }
      >h4 {
        font-weight: 500;
        font-size: 0.9375rem;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin: 0px;
        margin-top: 22px;
        @media only screen and (max-width: 1440px) {
          font-size: 1.07rem;
        }
        @media screen and (max-width: 1024px){
          font-size: 1.28rem;
          margin-top: 25px;
        }
      }
      >span {
        font-size: 0.875rem;
        text-align: center;
        letter-spacing: 0.05em;
        color: #0D0D0D;
        margin-top: 25px;
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
      }
    }
  }

}
.list-payment-method.vnpays {
  border: 1px solid #E2E2E2;
  border-radius: 5px;

  .div-option-checkout-wrap {
    +.div-option-checkout-wrap {
      border-top: 1px solid #E2E2E2;
    }

    &:first-of-type,
    &:first-of-type>div {
      border-radius: 5px 5px 0 0;
    }

    &:last-child,
    &:last-child>div {
      border-radius: 0 0 5px 5px;
    }

    .div-option-checkout {
      border: none;

      .div-name {
        .note {
          display: block;
          font-size: .9em;
          font-weight: 500;
          color: #b79b53;
        }
      }

      .div-card {
        >img {
          height: 20px;
        }
      }
    }
  }
}
.popover-checkout {
  text-align: center;

}