.div-create-perfume-boutique {
  position: relative;
  color: #0D0D0D;
  .bt-back {
    position: absolute;
    top: 38px;
    left: 100px;
    letter-spacing: 0.2em;
    font-size: 16px;
    text-transform: uppercase;
    color: #8D8D8D;
    margin: 0px;
    &:hover {
      border-bottom: none;
    }
    @media screen and (max-width: 1366px) {
      font-size: 14px;
    }
    @media screen and (max-width: 1024px) {
      top: 22px;
      left: 15px;
      font-size: 11px;
      >img {
        height: 10px;
        margin-right: 6px;
      }
    }
    >img {
      height: 14px;
      margin-right: 13px;
    }
  }
  .div-header {
    text-align: center;
    color: #0D0D0D;
    margin-top: 25px;
    @media screen and (min-width: 767.9px) and (max-width: 1024px){
      margin-top: 70px;
    }
    @media screen and (max-width: 767.9px){
      margin-top: 54px;
    }
    >h2 {
      font-weight: 500;
      font-size: 52px;
      letter-spacing: 0.1em;
      margin-bottom: 5px;
      @media screen and (max-width: 1366px) {
        font-size: 30px;
      }
      @media screen and (max-width: 1024px){
        font-size: 28px;
      }
    }
    >span {
      font-size: 18px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      @media screen and (max-width: 1024px){
        font-size: 14px;
      }
    }
  }
  .div-custom-mixes {
    @media screen and (max-width: 1024px){
      height: auto !important;
    }
  }
  .div-custom-mixes, .div-create-custom-mix {
    width: 100vw;
    height: calc(100vh - 104px);
    margin-top: 0px;
    position: relative;
    &.full-height {
      height: 100vh;
      margin-top: 0px;
    }
    
    .bt-combo-view {
      position: absolute;
      top: 38px;
      right: 48px;
      height: 26px;
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #0D0D0D;
      border: none;
      border-radius: 85px;
      padding: 0px 17px;
      @media screen and (max-width: 1024px){
        top: 16px;
        right: 20px;
      }
      >img {
        margin-left: 12px;
      }
      &.bg-white {
        border: 1px solid #000000;
        background: #ffffff;
        color: #0D0D0D;
      }
    }
    .div-content-boutique {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      
    }
    .div-content-create {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      .click-prev, .click-next {
        position: absolute;
        z-index: 1;
        width: 260px;
        display: flex;
        top: 0px;
        height: 100%;
        @media screen and (max-width: 1440px) {
          width: calc(260px * 0.75);
        }
        >button >img {
          height: 48px;
          @media screen and (max-width: 1440px) {
            height: calc(48px * 0.75);
          }
        }
      }
      .click-prev {
        left: 0px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #F5ECDC 0%, rgba(255, 255, 255, 0) 104.89%);
      }
      .click-next {
        right: 0px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(270deg, #F5ECDC 0%, rgba(255, 255, 255, 0) 104.89%);
      }
      .content-create {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.scroll-able {
          display: -webkit-box;
          overflow-x: auto;
          scroll-behavior: smooth;
          &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: 80%;
        }
        @media screen and (max-width: 767.9px) {
          width: 100%;
        }
        .ver-line {
          height: calc(100vh * 0.47);
          width: 1px;
          background: #E2E2E2;
        }
      }
    }
    .div-result-mix {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .div-image-info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        .text-left, .text-right {
          display: flex;
          flex-direction: column;
          color: #0D0D0D;
          @media screen and (max-width: 1024px){
            width: calc(100vw * 0.315);
            padding: 0px 10px;
          }
          >h4 {
            font-size: 18px;
            letter-spacing: 0.1em;
            margin-bottom: 5px;
            @media screen and (max-width: 1024px){
              font-size: 14px;
              text-align: center;
            }
          }
          >span {
            font-size: 16px;
            @media screen and (max-width: 768px){
              font-size: 12px;
              text-align: center;
              width: 100%;
            }
          }
        }
        .text-left {
          align-items: flex-end;
          >span {
            @media screen and (min-width: 768px) and (max-width: 1024px){
              text-align: right;
            }
          }
        }
        .text-right {
          align-items: flex-start;
          >span {
            @media screen and (min-width: 768px) and (max-width: 1024px){
              text-align: left;
            }
          }
        }
        .image-mix {
          height: calc(100vh * 0.258);
          width: calc(100vh * 0.258);
          display: flex;
          position: relative;
          margin: 0px 30px;
          @media screen and (min-width: 768px) and (max-width: 1024px){
            height: calc(100vw * 0.21);
            width: calc(100vw * 0.21);
            margin: 0px 0px;
          }
          @media screen and (max-width: 767.9px){
            height: calc(100vw * 0.37);
            width: calc(100vw * 0.37);
            margin: 0px 0px;
          }
          >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          .img-left {
            border-top-left-radius: calc(100vh * 0.258 * 0.33);
            border-bottom-left-radius: calc(100vh * 0.258 * 0.33);
            @media screen and (max-width: 1024px){
              border-top-left-radius: 47px;
              border-bottom-left-radius: 47px;
            }
          }
          .img-right {
            border-top-right-radius: calc(100vh * 0.258 * 0.33);
            border-bottom-right-radius: calc(100vh * 0.258 * 0.33);
            @media screen and (max-width: 1024px){
              border-top-right-radius: 47px;
              border-bottom-right-radius: 47px;
            }
          }
          >span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
            font-size: 26.6437px;
            text-align: center;
            letter-spacing: 0.2em;
            color: #FFFFFF;
          }
        }
      }
      .div-profile-info {
        width: 687px;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 768px) and (max-width: 1024px){
          width: calc(100vw * 0.65);
          padding: 0px 30px;
        }
        @media screen and (max-width: 767.9px){
          width: 100vw;
          padding: 0px 30px;
        }
        .div-process-line {
          width: 58.4%;
          @media screen and (max-width: 1024px) {
            width: 70%;
          }
          .progressLine {
            margin-bottom: 10px;
            @media screen and (min-width: 768px) and (max-width: 1024px){
              margin-bottom: 30px;
            }
            @media screen and (max-width: 767.9px) {
              margin-bottom: 15px;
            }
            .div-text {
              font-size: 16px;
            }
          }
        }
        .div-process-circle {
          display: flex;
          @media screen and (max-width: 1024px) {
            flex-direction: column;
            width: 30%;
          }
          .progress-circle:nth-child(1) {
            @media screen and (max-width: 1024px) {
              margin-bottom: 12px;
            }
          }
          .progress-circle {
            @media screen and (max-width: 1024px) {
              width: 100%;
            }
            >span {
              font-size: 14px;
              @media screen and (max-width: 1024px) {
                font-size: 10px;
              }
            }
            .div-circle {
              width: 70%;
              height: auto;
              @media screen and (max-width: 1024px) {
                width: 50%;
              }
            }
          }
        }
      }
    }
    .div-button-save {
      margin-bottom: 30px;
      &.hiddenButton {
        height: 76px;
        @media screen and (max-width: 1440px) {
          height: calc(76px * 0.75);
        }
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
          height: 70px;
          width: calc(100vw * 0.65);
          font-size: 18px;
        }
        @media screen and(max-width: 1024px) {
          height: 34px;
        }
        >button {
          visibility: hidden;
        }
      }
      >button {
        height: 76px;
        background: #0D0D0D;
        border-radius: 6px;
        border: none;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0px 40px;
        @media screen and (max-width: 1440px) {
          height: calc(76px * 0.75);
        }
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
          height: 70px;
          width: calc(100vw * 0.65);
          font-size: 18px;
        }
        @media screen and(max-width: 767.9px) {
          height: 34px;
          font-size: 14px;
          width: calc(100vw - 92px);
        }
      }
    }
  }
  .item-ingredient-custome:last-child() {
    border-right: none;
  }
  .item-ingredient-custome {
    // height: calc(100vh * 0.47);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(38, 38, 38, 0.1);
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: 1024px) {
      width: 49.5%;
      padding: 0px 13px;
    }
    &.item-left {
      padding: 0px 73px;
      @media screen and (max-width: 1440px) {
        padding: 0px 54px; 
      }
      @media screen and (max-width: 1024px) {
        margin-right: 0px;
      }
    }
    &.item-right {
      padding: 0px 73px;
      @media screen and (max-width: 1440px) {
        padding: 0px 54px; 
      } 
      @media screen and (max-width: 1024px) {
        margin-left: 0px;
      }
    }
    .div-bottle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      >img {
        height: calc(100vh * 0.199);
        margin-bottom: 55px;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          height: 120px;
        }
        @media screen and (max-width: 767.9px) {
          height: 100px;
        }
      }
      >span {
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 20px;
        }
        @media screen and (max-width: 767.9px) {
          font-size: 14px;
        }
      }
    }
    .div-profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .no {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #0D0D0D;
        top: 0px;
        left: 0px;
        position: absolute;
        transform: translatex(-100%);
        @media screen and (max-width: 1440px) {
          font-size: calc(20px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      .bt-delete {
        top: 0px;
        right: 0px;
        position: absolute;
        height: 20px;
        transform: translatex(100%);
        @media screen and (max-width: 1440px) {
          height: calc(20px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          height: 14px;
          transform: unset;
          right: 8px;
        }
      }
      .div-image-ingredient {
        position: relative;
        margin-bottom: 30px;
        .img-ingredient {
          height: calc(100vh * 0.198);
          width: calc(100vh * 0.198);
          border-radius: calc(100vh * 0.198 * 0.34);
          box-shadow: 0px 4.73968px 4.73968px rgba(0, 0, 0, 0.1);
          object-fit: cover;
          object-position: center;
          cursor: pointer;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            height: 120px;
            width: 120px;
            border-radius: 40px;
          }
          @media screen and (max-width: 767.9px){
            height: 103px;
            width: 103px;
            border-radius: 35px;
          }
        }
        >span {
          position: absolute;
          top: 65%;
          left: 50%;
          width: 100%;
          text-align: center;
          transform: translateX(-50%);
          font-weight: 500;
          font-size: 9px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #FFFFFF;
          @media screen and (max-width: 1024px){
            font-size: 7px;
          }
        }
        >button {
          position: absolute;
          bottom: 10px;
          left: 10px;
          border: none;
          padding: 0px;
          background: transparent;
          >img {
            height: calc(100vh * 0.198 * 0.20);
            @media screen and (min-width: 768px) and (max-width: 1024px) {
              height: 25px;
            }
            @media screen and (max-width: 767.9px){
              height: 20px;
            }
          }
        }
      }
      .profile-info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .div-process-circle {
          display: flex;
          margin-bottom: 15px;
          .progress-circle {
            >span {
              font-size: 14px;
              letter-spacing: 0.2em;
              @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 12px;
              }
              @media screen and (max-width:767.9px) {
                font-size: 10px;
              }
            }
            .div-circle {
              width: 50%;
              @media screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 60%;
              }
            }
          }
        }
        .div-process-line {
          display: flex;
          flex-direction: column;
          width: 100%;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 100%;
          }
          @media screen and (max-width:767.9px) {
            width: 87%;
          }
          .progressLine {
            margin-bottom: 8px;
            .div-text {
              >span{
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                  font-size: 12px;
                }
                @media screen and (max-width:767.9px) {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  // custom mixes
  .div-custom-mixes {
    width: 100%;
    .div-custom-mixes-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      .div-list-mixes {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        position: relative;
        @media screen and (max-width: 1024px) {
          padding-top: 30px;
          display: unset;
          align-items: unset;
          justify-content: unset;
          width: unset;
        }
        .slick-slider {
          width: 100%;
          .slick-arrow {
            margin-top: 0px;
            top: 50%;
            transform: translateY(-50%);
          }
          .slick-disabled {
            visibility: hidden;
          }
          .slick-slide {
            >div {
              padding: 30px 20px;
            }
          }
        }
        .div-wrap-mix {
          display: flex !important;
          flex-direction: row;
          .div-note {
            height: calc(100vh * 0.4) !important;
            width: 212px;
            background: #FFFFFF;
            box-shadow: 16.7677px 14.532px 44.7138px rgba(0, 0, 0, 0.15);
            border-radius: 8.78517px;
            margin-left: 24px;
            margin-bottom: 0px;
            padding: 30px 11px;
            display: flex;
            flex-direction: column;
            position: relative;
            >h4 {
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.1em;
              color: #0D0D0D;
            }
            >textarea {
              flex: 1;
              width: 100%;
              font-size: 18px;
              color: #0D0D0D;
              border: none;
              resize: none;
            }
            .bt-edit-done {
              position: absolute;
              bottom: 20px;
              right: 20px;
              padding: 0px;
              width: 25px;
            }
          }
        }
        .div-item-mix {
          height: calc(100vh * 0.4) !important;
          width: calc(100vh * 0.55) !important;
          background: #FFFFFF;
          box-shadow: 10.9878px 9.52273px 29.3007px rgba(0, 0, 0, 0.15);
          border-radius: 8.79021px;
          position: relative;
          &.add-card {
            background: #E2E2E2;
            opacity: 0.5;
            border: 1px dashed #8D8D8D;
            box-sizing: border-box;
            border-radius: 8.79021px;
            cursor: pointer;
          }
          .add-mix {
            font-weight: 500;
            font-size: 24px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #0D0D0D;
            font-weight: 500;
          }
          .div-content {
            padding: 26px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            >h4 {
              font-weight: 500;
              font-size: 24px;
              text-align: center;
              letter-spacing: 0.1em;
              color: #0D0D0D;
              margin-bottom: 0px;
            }
            .div-image-scent {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 60%;
              &.multiple-scent {
                width: 65%;
                height: calc(100% - 70px);
              }
            }
            .bt-editmix {
              height: 43.95px;
              background: #0D0D0D;
              border: none;
              border-radius: 4.3951px;
              font-size: 16.1154px;
              color: #ffffff;
              padding: 0px 40px;
            }
          }
        }
        .bt-edit {
          bottom: 80px !important;
        }
        .bt-edit, .bt-delete {
          position: absolute;
          left: 20px;
          bottom: 26px;
          border: none;
          background: transparent;
        }
      }
      .div-wrap-mix-mobile {
        display: flex;
        flex-direction: column;

        .div-item-mix-mobile {
          width: calc(100vw - 34px);
          height: calc((100vw - 34px) * 0.5);
          border-radius: 12px;
          padding: 10px;
          display: flex;
          align-items: center;
          background: #FFFFFF;
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          margin-bottom: 23px;
          margin-left: auto;
          margin-right: auto;
          &.open-edit {
            margin-bottom: 0px;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: calc(100vw * 0.664);
            height: calc((100vw * 0.664) * 0.368);
          }
          &.add-card {
            background: #E2E2E2;
            opacity: 0.5;
            border: 1px dashed #8D8D8D;
            box-sizing: border-box;
            cursor: pointer;
            .div-content {
              margin: 0px auto;
            }
            .add-mix {
              font-weight: 500;
              font-size: 24px;
              color: #0D0D0D;
            }
          }
          &.multiple-scent {
            .div-mid {
              height: 100%;
            }
          }
          .div-left, .div-right {
            width: 22%;
            display: flex;
            flex-direction: column;
          }
          .div-mid {
            width: 66%;
          }
          .div-left {
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
            .name {
              display: flex;
              flex-direction: column;
              >span:nth-child(1) {
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 0.1em;
                text-align: center;
                color: #0D0D0D;
              }
              >span:nth-child(2) {
                font-size: 8px;
                letter-spacing: 0.1em;
                text-align: center;
                color: #0D0D0D;
              }
            }
            .div-bt {
              display: flex;
              flex-direction: column;
              .bt-edit-mobile {
                margin-bottom: 10px;
              }
              .bt-edit-mobile, .bt-delete-mobile {
                width: 30px;
                height: 30px;
              }
            }
          }
          .div-right {
            justify-content: center;
            align-items: center;
          }
        }
        .div-note {
          width: calc(100vw - 34px);
          padding: 10px 10px 22px 10px;
          display: flex;
          flex-direction: column;
          position: relative;
          background: #FFFFFF;
          box-shadow: 10.0606px 8.71919px 26.8283px rgba(0, 0, 0, 0.15);
          border-radius: 12px;
          margin-top: 16px;
          margin-bottom: 23px;
          >h4 {
            font-weight: 500;
            font-size: 8px;
            letter-spacing: 0.1em;
            color: #0D0D0D;
          }
          >input {
            font-size: 16px;
            color: #0D0D0D;
            border: none;
          }
          .bt-edit-done {
            position: absolute;
            right: 27px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
          }
        }
      }
      .div-input-email {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0px;
        // height: 200px;
        justify-content: center;
        border-top: 1px solid rgba(38, 38, 38, 0.1);
        width: 100%;
        @media screen and (max-width: 1024px) {
          height: unset;
          border-top: unset;
          padding: 20px 0px 150px 0px;
        }
        &.sent {
          >h4 {
            font-size: 24px;
            margin-bottom: 13px;
          }
        }
        >h4 {
          font-weight: 500;
          font-size: 14.8247px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 20px;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 14px;
          }
          @media screen and (max-width: 767.9px) {
            font-size: 12px;
          }
        }
        >h3 {
          font-weight: 500;
          font-size: 24px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #0D0D0D;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 14px;
          }
          @media screen and (max-width: 767.9px) {
            font-size: 12px;
          }
        }
        >span {
          font-size: 18px;
          text-align: center;
          color: #0D0D0D;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: 18px;
          }
          @media screen and (max-width: 767.9px) {
            font-size: 10px;
          }
        }
        .text-sub {
          font-size: 12px;
        }
        .div-input {
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            flex-direction: row;
            width: calc(100vw * 0.81);
            justify-content: space-between;
          }
          @media screen and (max-width: 767.9px) {
            flex-direction: column;
          }
          .div-create-accout {
            .label-account {
              margin-top: 20px;
              @media screen and (max-width: 767.9px) {
                margin-bottom: 15px;
                margin-top: 0px;
              }
            }
            .div-enter {
              display: flex;
              @media screen and (max-width: 767.9px) {
                flex-direction: column;
              }
              .div-line-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .div-line {
                  flex: 1;
                  height: 1px;
                  background: #E2E2E2;
                }
                >span {
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  color: #8D8D8D;
                  padding: 30px 10px;
                }
              }
              .login-account {
                display: flex;
                margin-left: 40px;
                border-left: 1px solid #E2E2E2;
                align-items: center;
                @media screen and (max-width: 767.9px) {
                  border-left: none;
                  margin-left: 0px;
                  justify-content: center;
                  align-items: center;
                }
                .icon-social {
                  margin: 0px 40px;
                  width: 38px;
                  height: fit-content;
                  @media screen and (max-width: 767.9px) {
                    margin: 0px 15px;
                  }
                }
                .icon-social:nth-child(2) {
                  margin: 0px;
                  @media screen and (max-width: 767.9px) {
                    margin: 0px 15px;
                  }
                }
              }
              .input-email {
                height: 62px;
                width: 307px;
                padding: 0rem 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #0D0D0D;
                border-radius: 6px;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                  width: 60%;
                  margin-bottom: 0px;
                  height: 62px;
                }
                @media screen and (max-width: 767.9px) {
                  width: calc(100vw - 34px);
                  height: 48px;
                  margin-bottom: 15px;
                }
                > img {
                  width: 20px;
                  margin: 0px 10px;
                }
                > input {
                  flex: 1;
                  border: none;
                  color: #0D0D0D;
                  background: transparent;
                  @media screen and (max-width: 1024px) {
                    flex: auto;
                    width: 100%;
                  }
                }
              }
              >button {
                height: 62px;
                border: none;
                background: #0D0D0D;
                border-radius: 4.5px;
                padding: 0px 40px;
                color: #ffffff;
                margin-left: 14px;
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                  width: 38%;
                  height: 62px;
                }
                @media screen and (max-width: 767.9px) {
                  width: calc(100vw - 34px);
                  height: 48px;
                  margin-left: unset;
                }
              }
            }
          }
          
        }
      }
    } 
  }

  //popup sucess
  .div-popup-success {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      align-items: flex-start !important;
    }
    @media screen and (max-width: 767.9px) {
      align-items: flex-start !important;
      .div-content {
        width: calc(100vw - 56px) !important;
        height: calc(100vh - 200px) !important;
        margin-top: 70px;
      }
    }
  }
  .popup-exit {
    .div-content {
      position: relative;
      height: calc(100vh - 160px) !important;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 531px !important;
        height: 630px !important;
        margin: auto 0px;
      }
      @media screen and (max-width: 767.9px) {
        height: calc(100vh - 220px) !important;
      }
      .bt-close {
        position: absolute !important;
        top: 10px !important;
        right: 15px !important;
        width: 23px !important;
        height: 23px !important;
      }
      .div-content-popup {
        justify-content: space-between;
        width: 100%;
        >h3 {
          margin-bottom: 0px !important;
        }
        .div-info-text-exit {
          display: flex;
          flex-direction: column;
          >span {
            font-size: 24px;
            color: #0D0D0D;
            text-align: center;
            @media screen and (min-width: 768px) and (max-width: 1024px) {
              font-size: 18px;
            }
            @media screen and (max-width: 767.9px) {
              font-size: 14px;
            }
          }
          >span:nth-child(2) {
            margin: 20px 0px;
          }
        }
        .bt-exit {
          display: flex;
          flex-direction: column;
          align-items: center;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
          >button:nth-child(1) {
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            background: #0D0D0D;
            border-radius: 4.5px;
            padding: 0px 70px;
            height: 63px;
            @media screen and (min-width: 768px)  and (max-width: 1024px) {
              height: 80px;
              font-size: 18px;
              width: 90%;
              padding: 0px;
            }
            @media screen and (max-width: 767.9px) {
              font-size: 14px;
              height: 48px;
              width: 100%;
              padding: 0px;
            }
          }
          >button:nth-child(2) {
            background-color: transparent;
            border: none;
            color: #0D0D0D;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            text-decoration: underline;
            margin: 20px 0px;
            @media screen and (min-width: 768px) and (max-width: 1024px) {
              font-size: 14px;
            }
            @media screen and (max-width: 767.9px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  .div-pop-pick-scent, .div-popup-success {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #0d0d0d88;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    color: #0D0D0D;
    .div-content {
      width: 784px;
      height: calc(100vh - 80px);
      background: #ffffff;
      border-radius: 16.4719px;
      position: relative;
      overflow-y: auto;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 531px ;
        height: 865px ;
        margin: auto 0px;
      }
      .bt-close {
        position: absolute;
        width: 23px;
        height: 23px;
        top: 25px;
        left: 25px;
        @media screen and (max-width: 1024px){
          position: relative;
          top: unset;
          bottom: unset;
          margin: 5px 0px;
          height: auto;
          left: unset;
          width: auto;
        }
      }
      .div-content-popup {
        padding: 45px 140px 45px 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        @media screen and (max-width : 1024px){
          padding: 37px 26px;
        }
        >h3 {
          font-weight: 500;
          font-size: 32px;
          text-align: center;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          margin-bottom: 50px;
          @media screen and (min-width: 768px) and (max-width : 1024px){
            font-size: 28px;
            margin-bottom: 17px;
          }
          @media screen and (max-width : 767.9px){
            font-size: 24px;
            margin-bottom: 17px;
          }
        }
        >img {
          height: 233px;
          object-fit: cover;
          object-position: center;
          margin-bottom: 20px;
          @media screen and (max-width : 1024px){
            height: 215px;
          }
        }
        .div-info-text {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .header1 {
            width: 100%;
            text-align: center;
            font-size: 24px;
            color: #0D0D0D;
            @media screen and (min-width: 768px) and (max-width : 1024px){
              font-size: 22px;
              padding: 54px;
            }
            @media screen and (max-width : 767.9px){
              font-size: 14px;
            }
          }
          .description {
            flex: 1;
            text-align: center;
            margin: 20px 0px 10px 0px;
            @media screen and (min-width: 768px) and (max-width : 1024px){
              font-size: 18px;
            }
            @media screen and (max-width : 767.9px){
              font-size: 14px;
            }
          }
          >button {
            height: 63px;
            width: 231px;
            background: #0D0D0D;
            border: none;
            border-radius: 4.5px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media screen and (min-width: 768px) and (max-width : 1024px){
              font-size: 18px;
              width: 392px;
              height: 80px;
              margin-bottom: 0px;
            }
            @media screen and (max-width : 767.9px){
              height: 48px;
              margin-bottom: 36px;
              font-size: 14px;
              width: calc(100vw - 84px);
            }
          }
        }
      }
    }
  }
  .div-pop-pick-scent {
    @media screen and (max-width: 1024px) {
      align-items: flex-end;
      flex-direction: column;
    }
    .div-content {
      @media screen and (max-width: 1024px) {
        height: 70%;
        width: 100%;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .div-content-popup {
        padding: 45px 68px;
        overflow-y: hidden;
        @media screen and (max-width: 1024px) {
          padding: 0px 20px;
        }
        .div-header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 0px;
          >h4 {
            font-size: 46px;
            font-weight: 300;
            margin-bottom: 10px;
            @media screen and (max-width: 1024px) {
              font-size: 24px;
              width: 100%;
              text-align: center;
              font-weight: 500;
            }
          }
          .div-filter-search {
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            margin-right: -40px;
            .header-filter {
              font-weight: 500;
              font-size: 10px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #8D8D8D;
              text-align: start;
            }
          }
        }
        .sub-header {
          font-size: 18px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #8D8D8D;
          width: 100%;
          @media screen and (max-width: 1024px) {
            font-size: 10px;
            width: 100%;
            text-align: center;
          }
        }
        .div-filter-search-mobile {
          width: 100%;
          .div-filter-search-scent-mobile{
            margin-top: 10px;
            >button {
              padding: 0px;
            }
          }
        }
        .div-scroll-ingredient {
          margin-top: 22px;
          margin-right: -40px;
          flex: 1;
          overflow-y: auto;
          width: 100%;
          @media screen and (max-width: 1440px) {
            margin-top: calc(22px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-right: 0px;
            margin-top: 28px;
            flex: 1;
            padding-bottom: 100px;
            
          }
          &::-webkit-scrollbar {
            width: 8px;
            background-color: #E2E2E2;
            border-radius: 33px;
          }
          &::-webkit-scrollbar-thumb {
            background-color :#0D0D0D;
            border-radius: 33px;
          }
          .div-scent-line {
            display: flex;
            flex-direction: column;
            >span {
              font-size: 16px;
              letter-spacing: 0.05em;
              color: #0D0D0D;
              margin-bottom: 11px;
              @media screen and (max-width: 1024px) {
                font-size: 13px;
              }
            }
            .list-scent-item {
              display: initial;
              >button {
                width: 80px;
                height: 80px;
                padding: 0px;
                background: transparent;
                border: none;
                margin-right: 11px;
                margin-bottom: 11px;
                @media screen and (max-width: 1024px) {
                  width: 80px;
                  height: 80px;
                  margin-right: 9px;
                  margin-bottom: 9px;
                }
                .div-item {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  border: none;
                  .chose {
                    opacity: 0.7;
                  }
                  >img {
                    border: 0.634143px solid #152436;
                    box-shadow: 0px 1.84694px 1.84694px rgba(0, 0, 0, 0.1);
                    border-radius: 26.634px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    @media screen and (max-width: 1024px) {
                      border-radius: 21px;
                    }
                  }
                  .div-choose {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >img {
                      width: 50%;
                      height: 50%;
                      object-fit: contain;
                    }
                  }
                }
                
              }
            }
          }
        }
      }
    }
  }

  .div-filter-search-scent {
    display: flex;
    .div-filter {
      margin-right: 26px;
      .header-filter {
        >span {
          font-size: 16px;
          color: #0D0D0D;
          cursor: pointer;
        }
        >img {
          margin-left: 8px;
        }
      }
      .dropdown-item-filter {
        padding: 12px 38px;
        >span {
          font-size: 18px;
          color: #152436;
          cursor: pointer;
        }
      }
      .dropdown-menu {
        width: 261px !important;
        left: -95px !important;
        transform: translate3d(0px, 30px, 0px) !important;
      }
    }
    .div-search {
      border: 1px solid #0D0D0D;
        border-radius: 56px;
        height: 32px;
        width: 144px;
        padding: 0px 10px;
        display: flex;
      >button {
        background: transparent;
        border: none;
        font-size: 16px;
        color: #0D0D0D;
      }
      >input {
        border: none;
        margin-left: 5px;
        font-size: 16px;
        color: #0D0D0D;
        width: 105px;
        border: none;
      }
      >img {
        width: 14px;
      }
    }
  }
  .div-filter-search-scent-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    position: relative;
    >button {
      background: transparent;
      border: none;
      font-weight: 500;
      font-size: 16px;
      color: #0D0D0D;
      >img {
        margin: 0px 7px;
      }
    }
  }
  .div-popup-filter-search {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div-popup-filter, .div-popup-search {
      width: calc(100vw - 30px);
      height: auto;
    }
    .div-popup-filter {
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      >button {
        font-size: 18px;
        color: #152436;
        background: transparent;
        border: none;
        margin: 0px;
        padding: 13px 38px;
      }
    }
  }
}