.cta-block-our-team {
  display: flex;
  padding: 0px;
  background: #F3F3F3;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    width: 1190px;
    @media screen and (max-width: 1440px) {
      padding: 37.5px 0px;  
      width: calc(1190px * 0.75);
      margin-bottom: 7.5px;
    }
    @media screen and (max-width: 1024px) {
      padding: 30px 20px;
      width: 100%;
      margin-bottom: 10px;
    }
    .header_2 {
      @media screen and (max-width: 1024px) {
        text-align: center;
      }
    }
    .des {
      text-align: center;
      margin-top: 10px;
      @media screen and (max-width: 1440px) {
        margin-top: 7.5px;
      }
      @media screen and (max-width: 1440px) {
        margin-top: 10px;
      }
      .rich-text {
        >p:last-child {
          margin-bottom: 0px;
        }
      }
    }
    .signature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      >img {
        width: 200px;
        @media screen and (max-width: 1440px) {
          width: calc(200px * 0.75);
        }
      }
      >h4 {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        margin-top: 12px;
        @media screen and (max-width: 1440px) {
          font-weight: calc(18px * 0.75);
          margin-top: calc(12px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }
      >span {
        font-family: Roboto;
        font-size: 16px;
        color: #FFFFFF;
        @media screen and (max-width: 1440px) {
          font-size: calc(16px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
    }
  }
  
}