.div-custome-bottle {
  width: 100%;
  .div-image {
    height: 413px;
    background: #F6F6F6;
    position: relative;
    .div-bottle {
      height: 353px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .div-name {
      height: 228px;
      width: 73px;
      bottom: 53px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
    }
    .text-name {
      position: absolute;
      bottom: 69px;
      font-size: 6px;
      color: #ffffff;
      opacity: 1;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      background: transparent;
      border: none;
      text-align: center;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:#ffffff;
        opacity: 1;
      }
      &::placeholder {
        color:#ffffff;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
        color:#ffffff;
      } 
        
      &::-ms-input-placeholder { /* Microsoft Edge */ 
        color:#ffffff;
      } 
    }
    .image-bottle {
      position: absolute;
      width: 70px;
      height: 168px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      bottom: 84px;
    }
  }
  .div-func {
    margin-top: 1rem;
    @media (max-width: 1024px) {
      font-size: 0.7rem;
    }
    > div > button > div> img {
      height: 20px;
      margin-right: 10px;
      @media (max-width: 1024px) {
        height: 15px;
      }
    }
    .line {
      height: 27px;
      margin: 0px 10px;
      width: 1px;
      background: #E2E2E2;
      @media (max-width: 1024px) {
        margin: 0px 5px;
      }
    }
    @media (max-width: 1024px) {
      justify-content: space-between;
    }
  }
}

.div-custome-bottle-v2 {
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background: rgba($color: #000000, $alpha: 0.5);
  
  .div-content {
    background: #FFFFFF;
    border: 1px solid #0D0D0D;
    position: relative;
    margin: 45px 143px 0px 143px;
    overflow-y: auto;
    height: 100vh;
    @media screen and (max-width: 600px){
      margin: auto;
    }
    .div-sroll {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      .bt-close {
        width: 21px;
        position: absolute;
        top: 22px;
        left: 22px;
        z-index: 1;
        cursor: pointer;
      }
      .div-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        > h1 {
          font-style: normal;
          font-size: 36px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #0D0D0D;
          margin-top: 40px;
          @media screen and (max-width: 600px){
            font-size: 24px;
            margin-top: 80px;
          }
        }
      }
      
      .div-image-bottle {
        position: relative;
        height: 410px;
        .ReactCrop {
          position: absolute;
          z-index: 4;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 300px;
          height: 300px;
        }
        .div-backgroud {
          position: absolute;
          z-index: 1;
          height: 75%;
          bottom: 0px;
          width: 100%;
          background: #F7F7F7;
        }
        .div-bottle {
          position: absolute;
          z-index: 1;
          height: 85%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          &.show-bottle {
            opacity: 1;
            transition: all 0.5s;
          }
          &.hidden-bottle {
            opacity: 0;
          }
        }
        .div-name {
          height: 225px;
          width: 70px;
          margin-top: 42px;
          border-radius: 28px;
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
        .text-name, .text-name-text {
          width: auto;
          height: auto;
          position: absolute;
          z-index: 1;
          left: 50%;
          transform: translateX(-50%);
          bottom: 75px;
          z-index: 2;
          background: transparent;
          border: none;
          color: #ffffff;
          text-align: center;
          font-size: 8px;
          &.black {
            color: #000000;
            &::placeholder {
              color: #000000;
            }
          }
          &::placeholder {
            color: #ffffff;
          }
        }
        .text-name-text {
          bottom: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          margin-top: 40px;
          color: #0D0D0D;
          &::placeholder {
            color: #0D0D0D;
          }
        }
        .ingredients-name {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          margin-top: 85px;
          z-index: 2;
          display: flex;
          flex-direction: column;
          >span {
            font-size: 6px;
            text-align: center;
            color: #0D0D0D;
          }
        }
        .image-logo {
          position: absolute;
          height: auto;
          width: 46px;
          height: auto;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          top: 156px;
          z-index: 2;
        }
        .text-des-custome {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          bottom: 65px;
          z-index: 2;
          font-size: 6px;
          width: auto;
          height: auto;
        }
        .text-size-custome {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          bottom: 55px;
          z-index: 2;
          font-size: 6px;
          width: auto;
          height: auto;
        }
        .image-bottle {
          height: 171px;
          width: 74px;
          margin-top: 39px;
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .div-button-image {
          position: absolute;
          bottom: 20px;
          z-index: 1;
          >button:nth-child(1) {
            border-right: 1px solid #E2E2E2;;
          }
          >button {
            border: none;
            background: transparent;
            padding: 3px 20px;
            @media screen and (max-width: 600px){
              padding: 3px 10px;
            }
            >img {
              height: 1rem;
              margin-right: 10px;
              margin-bottom: 3px;
            }
          }
        }
      }
      .div-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        >button {
          width: 240px;
          height: 56px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #8D8D8D;
          border-bottom: 1px solid #8D8D8D;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          background: transparent;
          font-size: 14px;
          background: transparent;
          font-weight: 600;
          &.active {
            color: #0D0D0D;
            border-bottom: 1px solid #0D0D0D;
          }
          @media screen and (max-width: 600px){
            font-size: 10px;
            width: 160px;
          }
          .detail-bt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >span:nth-child(2) {
              font-size: 10px;
            }
          }
        }
      }
      .div-input-image {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 50px;
        .div-text-color {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 20px;
          width: 480px;
          @media screen and (max-width: 600px) {
            flex-direction: column;
            width: 100%;
          }
          .drop-down-item {
            display: flex;
            padding: 10px 0px 10px 20px;
            border-bottom: 1px solid;
            align-items: center;
            cursor: pointer;
            &.none-border {
              border: none;
              padding: 0px;
            }
            .div-square {
              width: 30px;
              height: 30px;
              box-sizing: border-box;
              border-radius: 6px;
              background: #ffffff;
              border: 1px solid #000000;
              &.black {
                background: #000000;
                border: 1px solid #000000;
              }
            }
          }
          .dropdown-menu {
            transform: translate3d(0px, 56px, 0px) !important;
            top: 0px !important;
            width: 230px !important;
            padding-bottom: 0px;
            padding-top: 0px;
            border: 1px solid;
          }
          .div-text {
            width: 48%;
            @media screen and(max-width: 600px){
              width: 100%;
              padding: 0px 20px;
            }
            >span {
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
              margin-bottom: 10px;
            }
            .div-input {
              margin-top: 10px;
              @media screen and(max-width: 600px){
                width: 100%;
              }
            }
          }
          .div-color {
            width: 48%;
            @media screen and(max-width: 600px){
              width: 100%;
              padding: 0px 20px;
              margin-top: 20px;
            }
            >span {
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
            }
          }
        }
        .slice-image {
          position: relative;
          width: 480px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          @media screen and (max-width: 600px){
            flex-direction: column;
            width: 100%;
            padding: 0px 20px;
          }
          .div-line-space {
            width: 1px;
            background: #8D8D8D;
            height: 180px;
            @media screen and (max-width: 600px){
              visibility: hidden;
              height: 0px;
              padding: 0px 20px;
            }
          }
          @media screen and (max-width: 600px){
            width: 100%;
            padding: 0px 20px;
          }

          .div-button-crop {
            width: 150px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            >section {
              cursor: pointer;
            }
            @media screen and (max-width: 600px){
              width: 100%;
              align-items: flex-start;
            }
            .image-crop-done {
              width: 112px;
              height: 112px;
              border-radius: 6px;
              object-fit: contain;
            }
            .div-section-more {
              >div {
                width: 125px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: auto;
                background: transparent;
                border: none;
                margin-top: 5px;
                >img {
                  height: 1rem;
                  margin-right: 3px;
                  @media screen and (max-width: 600px){
                    margin-bottom: 0px;
                  }
                }
                >span {
                  text-align: center;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  color: #0D0D0D;
                }
              }
            }
            >section {
              @media screen and (max-width: 600px){
                width: 100%;
              }
              >div {
                width: 112px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 112px;
                background: #F0F0F0;
                border: 1px dashed #8D8D8D;
                box-sizing: border-box;
                border-radius: 6px;
                @media screen and (max-width: 600px){
                  width: 100%;
                }
                >img {
                  height: 39px;
                  @media screen and (max-width: 600px){
                    margin-bottom: 12px;
                  }
                }
                >span {
                  text-align: center;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  color: #8D8D8D;
                }
              }
            }
            .ReactCrop {
              width: 112px;
              height: 112px;
            }
            >span {
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
              margin-bottom: 5px;
            }
          }
          .div-path-slice {
            width: 300px;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            @media screen and (max-width: 600px){
              width: 100%;
              // padding: 0px 20px;
            }
            >span {
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
            }
            .item-slice {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              margin-left: -5px;
              @media screen and (max-width: 600px){
                margin-left: 0px;
              }
              .line-image {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .div-image {
                  display: inline-block;
                  > img {
                    width: 51px;
                    height: 51px;
                    object-fit: cover;
                    object-position: center;
                    margin: 5px;
                    border-radius: 6px;
                    cursor: pointer;
                  }
                  .active {
                    border: 2px solid #0D0D0D;
                    border-radius: 6px;
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
        
        .div-input {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 480px;
          &.short {
            width: 100%;
          }
          &.input-only-text {
            @media screen and (max-width: 600px){
              padding: 0px 20px;
            }
          }
          @media screen and (max-width: 600px){
            width: 100%;
          }
          >.div-input-text {
            width: 100%;
            height: 56px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid;
            margin-top: 60px #0D0D0D;
            border-radius: 6px;
            color: #0D0D0D;
            >input {
              width: 80%;
              height: 100%;
              padding-left: 20px;
              padding-right: 20px;
              color: #0D0D0D;
              background: transparent;
              border: none;
            }
            >span {
              width: 20%;
              text-align: center;
              color: #0D0D0D;
            }
          }
          >span {
            width: 100%;
            text-align: center;
            margin-top: 20px;
          }
        }
      }
      .div-button-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 600px){
          width: 100%;
          padding: 0px 20px;
          margin-bottom: 100px;
        }
        >button {
          width: 480px;
          height: 56px;
          background: #ffffff;
          color: #0D0D0D;
          letter-spacing: 0.2em;
          border: none;
          border-radius: 6px;
          &.active {
            background: #0D0D0D;
            color: #ffffff;
            letter-spacing: 0.2em;
          }
          @media screen and (max-width: 600px){
            width: 100%;
            margin: 0px 20px;
          }
        }
      }
    }
  }
}
