.div-custome-bottle-v3 {
  // position: fixed;
  // width: 100vw;
  // height: calc(100vh - 70px) !important;
  // top: 70px;
  // left: 0px;
  z-index: 9999;
  background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  .div-gui-upload-image {
    position: absolute;
    width: 100vw;
    top: 0px;
    // height: calc(100vh - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background: #0D0D0D88;
    z-index: 9;
    .div-back {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 5px;
      >img {
        width: 50px;
        height: 50px;
        margin-left: 13px;
        margin-right: 14px;
      }
      >span {
        font-size: 14px;
      }
    }
    .div-bottom {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      .img-gui {
        width: 74px;
        height: 240px;
        >img {
          width: 100%;
          height: 100%;
        }
      }
      .text-upload {
        font-size: 14px;
        margin-top: 17px;
      }
      .bt-tap-start {
        width: calc(100vw - 108px);
        border: 2px solid #FFFFFF;
        border-radius: 6px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.2em;
        height: 44px;
        background: transparent;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .bt-checked {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        >img {
          width: 57px;
          height: 63px;
          margin-left: 12px;
        }
      }
      >span {
        text-align: center;
        width: 100%;
        font-size: 14px;
      }
      >img {
        width: 100%;
        margin-top: 18px;
      }
    }
  }

  .div-image-bottle-v3 {
    .img-bottle {
      height: 461px;
      @media screen and (max-width: 1440px){
        height: calc(461px * 0.75);
      }
      @media screen and (max-width: 1024px){
        height: 271px;
      }
    }
    .img-name {
      height: 303px;
      width: 95px;
      top: 135px;
      @media screen and (max-width: 1440px) {
        height: calc(303px * 0.75);
        width: calc(95px * 0.75);
        top: calc(135px * 0.75);
        border-radius: 25px;
      }
      @media screen and (max-width: 1024px){
        height: 178px;
        width: 56px;
        top: 78px;
        border-radius: 21px;
      }
    }
    .image-logo {
      width: 65px;
      top: 157px;
      @media screen and (max-width: 1440px) {
        width: calc(65px * 0.75);
        top: calc(157px * 0.75);
      }
      @media screen and (max-width: 1024px){
        width: 38.5px;
        top: 92.5px;
      }
    }
    .text-des-custome {
      width: 98px;
      font-size: 10px;
      bottom: 45px;
      @media screen and (max-width: 1440px) {
        width: calc(98px * 0.75);
        font-size: calc(10px * 0.75);
        bottom: calc(45px * 0.75);
      }
      @media screen and (max-width: 1024px){
        width: 57.5px;
        font-size: 6px;
        bottom: 26.5px;
      }
    }
    .text-size-custome {
      bottom: 30px;
      font-size: 10px;
      @media screen and (max-width: 1440px) {
        bottom: calc(30px * 0.75);
        font-size: calc(10px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        bottom: 17.5px;
        font-size: 6px;
      }
    }
    .custome-name {
      font-size: 10px;
      top: 375px;
      @media screen and (max-width: 1440px) {
        font-size: calc(10px * 0.75);
        top: calc(375px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 6px;
        top: 224px;
      }
    }
    .custome-only-name {
      font-size: 12px;
      top: 258px;
      @media screen and (max-width: 1440px) {
        font-size: calc(12px * 0.75);
        top: calc(258px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 7px;
        top: 151.5px;
      }
    }
  }

  .div-content {
    background: #FFFFFF;
    border: 1px solid #0D0D0D;
    position: relative;
    width: 900px;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    border-radius: 0px;
    border: none;
    @media screen and (max-width: 1440px){
      width: calc(900px * 0.75);
      max-height: calc(100vh - 45px);
    }
    @media screen and (max-width: 1024px){
      width: 100vw;
      height: 100%;
      max-height: unset;
      padding: 0px;
    }
    .div-sroll {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 100%;
      background: transparent;
      &.fix-height {
        height: 100%;
      }
      @media screen and (max-width: 1024px){
        height: auto;
        &.fix-height {
          height: 100%;
        }
      }
      .bt-close {
        width: 21px;
        position: absolute;
        top: 22px;
        left: 22px;
        z-index: 1;
        cursor: pointer;
        @media screen and (max-width: 1024px){
          right: 22px;
          left: unset;
          width: 19px;
          &.bt-left {
            left: 22px;
            right: unset;
            width: 24px;
          }
          &.close-normal {
            width: 15px;
          }
        }
      }

      .div-main-page-custome-bottle {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background: #F7F7F7;
        background: transparent;
        .div-header {
          width: 100%;
          background: #F7F7F7;
          display: flex;
          justify-content: center;
          >h1 {
            margin-top: 36px;
            margin-bottom: 30px;
            font-weight: normal;
            font-size: 25px;
            line-height: 27px;
            text-align: center;
            color: #0D0D0D;
            @media screen and (max-width: 1440px){
              font-size: calc(25px * 0.75);
              line-height: calc(27px * 0.75);
              margin-top: calc(36px * 0.75);
              margin-bottom: calc(30px * 0.75);
            }
            @media screen and (max-width: 1024px){
              font-size: 21px;
              line-height: 30px;
              margin-top: 15px;
              margin-bottom: 10px;
            }
          }
        }
        .div-custome-image-v3 {
          width: 100%;
          display: flex;
          padding: 20px 86px;
          height: 482px;
          position: relative;
          background: #F7F7F7;
          padding: 0px 140px;
          @media screen and (max-width: 1440px){
            padding: 0px 105px;
            height: calc(482px * 0.75);
          }
          @media screen and (max-width: 1024px){
            padding: 0px 15px 30px 15px;
            height: auto;
            flex-direction: column;
            align-items: center;
          }
          .div-delete {
            position: absolute;
            width: 55px;
            height: 55px;
            left: 30px;
            bottom: 30px;
            border: none;
            padding: 0px;
            >img {
              width: 100%;
              height: 100%;
            }
            @media screen and (max-width: 1440px){
              width: calc(55px * 0.75);
              height: calc(55px * 0.75);
              left: 22px;
              bottom: 22px;
            }
            @media screen and (max-width: 1024px){
              width: 36px;
              height: 36px;
              left: 16px;
              bottom: unset;
              top: 50%;
              transform: translateY(-50%);
              margin-top: -45px;
            }
          }
          .auth-design {
            position: absolute;
            top: 160px;
            left: 30px;
            color: #0D0D0D;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1440px){
              top: calc(160px * 0.75);
              left: 22px;
            }
            @media screen and (max-width: 1024px){
              top: unset;
              right: 22px;
              bottom: 110px;
              left: unset;
              text-align: right;
            }
            >span:nth-child(1) {
              font-size: 20px;
              letter-spacing: 0.05em;
              @media screen and (max-width: 1440px){
                font-size: calc(20px * 0.75);
              }
              @media screen and (max-width: 1024px){
                font-size: 12px;
              }
            }
            >span:nth-child(2) {
              font-weight: 500;
              font-size: 24px;
              @media screen and (max-width: 1440px){
                font-size: calc(24px * 0.75);
              }
              @media screen and (max-width: 1024px){
                font-size: 14px;
              }
            }
          }
          .div-bottle {
            flex: 1;
            height: 100%;
            padding-right: 55px;
            display: flex;
            // align-items: center;
            justify-content: center;
            @media screen and (max-width: 1440px){
              padding-right: calc(55px * 0.75);
            }
            @media screen and (max-width: 1024px){
              padding-right: unset;
              margin-bottom: 10px;
            }
            .div-image-bottle {
              width: fit-content;
              height: fit-content;
            }
          }
          .div-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 280px;
            @media screen and (max-width: 1440px){
              width: calc(280px * 0.75);
            }
            @media screen and (max-width: 1024px){
              width: 100%;
              display: -webkit-box;
            }
            .div-dropdown-category {
              width: 100%;
              margin-top: 23px;
              margin-bottom: -34px;
              .dropdown-category {
                width: fit-content;
                .div-toggle {
                  cursor: pointer;
                }
                .dropdown-menu {
                  top: -20px !important;
                  >div {
                    padding-bottom: 10px;
                    cursor: pointer;                
                  }
                  >div:last-child() {
                    padding-bottom: 0px;
                  }
                }
              }
            }
            .bt-upload-image {
              width: 100%;
              background-color: #2D2D2D;
              border-radius: 6px;
              height: 85px;
              cursor: pointer;
              @media screen and (max-width: 1440px){
                height: calc(85px * 0.75);
              }
              @media screen and (max-width: 1024px){
                width: 44px;
                height: 44px;
                border-radius: 3px;
                margin-top:30px;
              }
              >section {
                width: 100%;
                height: 100%;
                >div {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  >img {
                    width: 28px;
                    @media screen and (max-width: 1440px){
                      width: calc(28px * 0.75);
                    }
                    @media screen and (max-width: 1024px){
                      width: 24px;
                    }
                  }
                  >span {
                    font-size: 12px;
                    color: #FFFFFF;
                    margin-top: 10px;
                    font-weight: 300;
                    @media screen and (max-width: 1440px){
                      font-size: 10px;
                    }
                  }
                }
              }
            }

            .div-slice-image {
              width: 100%;
              margin-top: 10px;
              @media screen and (max-width: 1440px){
                margin-top: calc(10px * 0.75);
              }
              @media screen and (max-width: 1024px){
                display: inline;
              }
              .slick-slider {
                .slick-dots {
                  bottom: -18px;
                  @media screen and (max-width: 1440px) {
                    bottom: -13px;
                  }
                }
              }
              .list-image-selection {
                display: flex;
                flex-direction: row;
                overflow-x: auto;
                padding-left: 12px;
                position: relative;
                @media screen and (max-width: 1024px){
                  height: '100%';
                  width: calc(100vw - 74px);
                  overflow-x: scroll;
                  overflow-y: hidden;
                  display: -webkit-box;
                  margin-bottom: 0px;
                  padding-top: 30px;
                }
                .div-image {
                  width: 44px;
                  height: 44px;
                  border-radius: 3px;
                  margin-right: 12px;
                  position: relative;
                  &::after {
                    content: attr(category);
                    position: absolute;
                    top: -25px;
                    left: 0px;
                    z-index: 999;
                    font-size: 13px;
                    font-weight: 300;
                    @media screen and (max-width: 1440px) {
                      font-size: 13px;
                    }
                    @media screen and (max-width: 1024px) {
                      font-size: 13px;
                    }
                  }
                }
              }
              .item-slice {
                width: 100%;
                display: flex;
                flex-direction: column;
                .line-image {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 22px;
                  margin-top: 40px;
                  @media screen and (max-width: 1440px){
                    margin-bottom: calc(22px * 0.75);
                    margin-top: calc(40px * 0.75);
                  }
                  .div-image {
                    width: 68px;
                    height: 68px;
                    cursor: pointer;
                    position: relative;
                    &::after {
                      content: attr(category);
                      position: absolute;
                      top: -25px;
                      left: 0px;
                      z-index: 999;
                      font-weight: 300;
                    }
                    @media screen and (max-width: 1440px){
                      width: calc(68px * 0.75);
                      height: calc(68px * 0.75);
                    }
                    >img {
                      width: 100%;
                      height: 100%;
                      object-fit: contain;
                      border-radius: 6px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .div-text-custome {
        background: transparent;
        padding: 32px 57px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (max-width: 1440px){
          padding: 22.5px 42.75px;
        }
        @media screen and (max-width: 1024px){
          padding: 5px 15px 20px 15px;
        }
        .title-text {
          font-weight: 300;
          font-size: 18px;
          line-height: 26px;
          color: #0D0D0D;
          width: 100px;
          @media screen and (max-width: 1440px){
            font-size: calc(18px * 0.75);
            width: calc(100px * 0.75);
          }
          @media screen and (max-width: 1440px){
            font-size: 13px;
          }

        }
        .div-text-color {
          display: flex;
          @media screen and (max-width: 1024px){
            flex-direction: column;
          }
          .div-text {
            flex: 1;
            padding-right: 74px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @media screen and (max-width: 1440px){
              padding-right: calc(74px * 0.75);
            }
            @media screen and (max-width: 1024px){
              padding: 0px;
            }
            .div-input {
              border-bottom: 1px solid #E2E2E2;
              position: relative;
              padding: 10px 0px;
              flex: 1;
              >input {
                font-size: 16px;
                color: #0D0D0D;
                border: none;
                width: 100%;
                &::placeholder {
                  color: #8D8D8D;
                }
                @media screen and (max-width: 1440px){
                  font-size: calc(16px * 0.75);
                }
                @media screen and (max-width: 1024px){
                  font-size: 13px;
                }
              }
              >span {
                font-weight: 300;
                font-size: 16px;
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
                @media screen and (max-width: 1440px){
                  font-size: calc(16px * 0.75);
                }
                @media screen and (max-width: 1024px){
                  font-size: 13px;
                }
              }
            }
          }
          .div-color {
            width: 333px;
            display: flex;
            align-items: center;
            @media screen and (max-width: 1440px){
              width: calc(333px * 0.75);
            }
            @media screen and (max-width: 1024px){
              margin-top: 20px;
              margin-bottom: 20px;
            }
            .div-list-color {
              display: flex;
              flex-direction: row;
              flex: 1;
              justify-content: space-between;
              .outline-bt {
                border-radius: 6px;
                background: transparent;
                width: 51px;
                height: 51px;
                @media screen and (max-width: 1440px){
                  width: 39px;
                  height: 39px;
                }
                @media screen and (max-width: 1024px){
                  width: 38px;
                  height: 38px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                &.selected {
                  background: #B79B53;
                  >button {
                    border: none;
                  }
                }
                >button {
                  width: 47px;
                  height: 47px;
                  border-radius: 6px;
                  @media screen and (max-width: 1440px){
                    width: 35px;
                    height: 35px;
                  }
                  @media screen and (max-width: 1024px){
                    width: 34px;
                    height: 34px;
                  }
                  &.black {
                    background: #0D0D0D;
                    border: none;
                  }
                  &.white {
                    background: #ffffff;
                    border: 1.36512px solid #E2E2E2;
                  }
                  &.yellow {
                    background: #B79B53;
                    border: none;
                  }
                }
              }
            }
          }
        }
        .div-font {
          display: flex;
          align-items: center;
          margin-top: 45px;
          @media screen and (max-width: 1440px) {
            margin-top: calc(45px * 0.75);
          }
          @media screen and (max-width: 1024px){
            margin-top: 0px;
            align-items: flex-start;
          }
          .title-text {
            margin-top: 20px;
            @media screen and (max-width: 1024px) {
              margin-top: 0px;
            }
          }
          .list-font {
            display: flex;
            @media screen and (max-width: 1024px){
              flex-direction: column;
              flex: 1;
              width: calc(100vw - 110px);
            }
            .list-font-item {
              // display: flex;
              // flex-direction: row;
              // justify-content: space-between;
              width: 100%;
              display: flex;
              overflow-x: auto;
              &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                background-color: transparent;
              }
              >button {
                background: transparent;
                border: none;
                padding: 0px;
                font-size: 41px;
                margin-right: 28px;
                color: #8D8D8D;
                @media screen and (max-width: 1440px) {
                  font-size: calc(41px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  font-size: 20px;
                }
                &.active {
                  color: #0D0D0D;
                }
              }
            }
            .active {
              color: #0D0D0D;
            }
            .font-roboto {
              font-family: 'Roboto';
            }
            .font-Playfair-Display {
              font-family: 'Playfair Display';
            }
            .font-Dancing-Script {
              font-family: 'Dancing Script';
            }
            .font-Balsamiq-Sans {
              font-family: 'Balsamiq Sans';
            }
            .font-Permanent-Marker {
              font-family: 'Permanent Marker';
            }
            .font-Nunito {
              font-family: 'Nunito';
            }
            >button {
              background: transparent;
              border: none;
              padding: 0px;
              font-size: 40px;
              margin-right: 34px;
              color: #8D8D8D;
              @media screen and (max-width: 1440px) {
                font-size: calc(40px * 0.75);
                margin-right: calc(34px * 0.75);
              }
            }
          }
        }
        .div-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
          @media screen and (max-width: 1440px) {
            margin-top: calc(30px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-top: 23px;
            width: 100%;
            margin-bottom: 30px;
          }
          // >button {
          //   background: transparent;
          //   border: none;
          //   font-size: 24px;
          //   letter-spacing: 0.2em;
          //   color: #0D0D0D;
          //   height: 76px;
          //   width: 581px;
          //   @media screen and (max-width: 1440px){
          //     font-size: calc(24px * 0.75);
          //     height: calc(76px * 0.75);
          //     width: calc(581px * 0.75);
          //   }
          //   @media screen and (max-width: 1024px) {
          //     width: 80%;
          //     border-radius: 6px;
          //   }
          //   &.bt-bg-black {
          //     background: #0D0D0D;
          //     color: #ffffff;
          //   }
          // }
        }
      }

      .div-custome-v3 {
        display: flex;
        flex-direction: row;
        min-height: 860px;
        height: 100%;
        position: relative;
        @media screen and (max-width: 1440px){
          min-height: calc(860px * 0.75);
        }
        @media screen and (max-width: 1024px){
          flex-direction: column;
          height: 100%;
          min-height: unset;
          overflow-y: auto;
        }
        .bottom-list-button {
          position: absolute;
          width: 100%;
          display: flex;
          flex-direction: column;
          z-index: 3;
          overflow: hidden;
          .div-text-use {
            margin-bottom: 40px;
            font-size: 14px;
            letter-spacing: 0.05em;
            color: #0D0D0D;
            text-align: center;
            width: 100%;
            text-align: center;
          } 
          &.bg-gray {
            background: #C4C4C4;
          }
          .list-button {
            display: flex;
            flex-direction: row;
            height: 59px;
            z-index: 9;
            .div-text {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              background: #ffffff;
              font-size: 16px;
              letter-spacing: 0.2em;
              border-top: 1px solid #E2E2E2;
            }
            .bt-black {
              width: 58px;
              height: 100%;
              padding: 0px;
              border: none;
              background-color: #0D0D0D;
              >img {
                height: 17px;
              }
            }
            .list-bt-edit {
              flex: 1;
              display: flex;
              >section, >button {
                width: 100%;
                height: 100%;
                padding: 0px;
                border: none;
                border-top: 1px solid #E2E2E2;
                background-color: #FFFFFF;
                >img {
                  height: 18px;
                }
              }
              >section {
                >div {
                  height: 100%;
                  >button {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background: #ffffff;
                    >img {
                      height: 18px;
                    }
                  }
                }
              }
              .bt-mid {
                border-left: 1px solid #E2E2E2;
                border-right: 1px solid #E2E2E2;
              }
            }
          }

          .div-content-custome {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #ffffff;
            .wrap-text {
              padding: 30px 0px 30px 30px;
              .content-text-edit {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px;
                width: 100%;
                .title-text {
                  width: 83px;
                  font-weight: 500;
                  font-size: 16px;
                  letter-spacing: 0.2em;
                  text-transform: uppercase;
                  color: #0D0D0D;
                  @media screen and (max-width: 1440px) {
                    font-size: calc(16px * 0.75);
                    width: calc(83px * 0.75);
                  }
                }
                .div-text-edit {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  .div-input {
                    flex: 1;
                    position: relative;
                    margin-right: 50px;
                    >input {
                      width: 100%;
                      padding-bottom: 9px;
                      border: none;
                      border-bottom: 1px solid #E2E2E2;
                      font-size: 16px;
                      color: #0D0D0D;
                      &::placeholder {
                        color: #8d8d8d;
                      }
                      @media screen and (max-width: 1440px) {
                        font-size: calc(16px * 0.75);
                      }
                      @media screen and (max-width: 1024px) {
                        font-size: 18px;
                      }
                    }
                    >span {
                      position: absolute;
                      top: 50%;
                      right: 0px;
                      transform: translateY(-50%);
                    }
                  }
                }
                .div-add-color {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 100%;
                  margin-top: 30px;
                  margin-bottom: 30px;
                  .list-button {
                    display: flex;
                    align-items: center;
                    .outline-bt {
                      border-radius: 6px;
                      background: transparent;
                      width: 61px;
                      height: 61px;
                      margin-right: 30px;
                      @media screen and (max-width: 1440px){
                        width: 47px;
                        height: 47px;
                        margin-right: calc(30px * 0.75);
                      }
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      &.selected {
                        background: #B79B53;
                        >button {
                          border: none;
                        }
                      }
                      >button {
                        width: 55px;
                        height: 55px;
                        border-radius: 6.55262px;
                        border: none;
                        @media screen and (max-width: 1440px) {
                          width: calc(55px * 0.75);
                          height: calc(55px * 0.75);
                          
                        }
                        &.black {
                          background: #0D0D0D;
                        }
                        &.white {
                          background: #ffffff;
                          border: 1.0921px solid #E2E2E2;
                        }
                        &.yellow {
                          background: #B79B53;
                        }
                      }
                    }
                  }
                }
                .div-font-text {
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  width: 100%;
                  .title-text {
                    margin-top: 10px;
                  }
                  .wrap-list-font {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    .list-font {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      overflow-x: auto;
                      width: calc(100vw - 90px);
                      .active {
                        color: #0D0D0D;
                      }
                      >button {
                        background: transparent;
                        border: none;
                        font-size: 40px;
                        padding: 0px;
                        margin-right: 28px;
                        // padding-right: 30px;
                        color: #8D8D8D;
                      }
                    }
                  }
                }
              }
            }
            .div-scale-photo {
              width: 50%;
              height: 58px;
              display: flex;
              align-items: center;
              .div-wrap-scale {
                width: 100%;
                .div-scale {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  .input-range__label--value{
                    visibility: hidden;
                  }
                  .input-range__label {
                    visibility: hidden;
                  }
                  .input-range__slider {
                    width: 20px;
                    height: 20px;
                    margin-top: -12px;
                    background: #0D0D0D;
                    border: none;
                  }
                  .input-range__track--background, .input-range__track--active {
                    background: #C4C4C4;
                  }
                }
              }
            }
          }
        }
        .div-custome-left {
          width: 631px;
          position: relative;
          @media screen and (max-width: 1440px){
            width: calc(631px * 0.75);
          }
          @media screen and (max-width: 1024px){
            width: 100%;
            height: 100%;
          }
          &.bg-gray {
            background: #C4C4C4;
          }
          .div-bottle-left {
            height: 100%;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #E2E2E2;
            @media screen and (max-width: 1024px){
              align-items: flex-start;
              overflow-y: auto;
            }
            .wrap-custome-bottle {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .img-bottle {
                height: 100%;
                object-fit: contain;
              }
            }
            .div-image-bottle-custom {
              @media screen and (max-width: 1024px){
                margin-top: 70px;
              }
              .div-select-image {
                width: 147px;
                height: 460px;
                bottom: 35px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 50px;
                overflow: hidden;
                position: absolute;
                @media screen and (max-width: 1440px){
                  bottom: 27px;
                  width: 102px;
                  height: 332px;
                }
                @media screen and (max-width: 1024px){
                  // width: 66px;
                  // height: 198px;
                  // bottom: 18px;
                  border-radius: 21px;
                  width: 85%;
                  height: 63.68%;
                  bottom: 5%;
                  background: transparent;
                }
                .drop-suggestion {
                  width: 59px;
                  height: 59px;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  position: absolute;
                  @media screen and (max-width: 1440px){
                   width: calc(59px * 0.75);
                   height: calc(59px * 0.75);
                  }
                  @media screen and (max-width: 1024px){
                    width: 31px;
                    height: 31px;
                  }
                }
                .div-ver {
                  width: 1px;
                  height: 100%;
                  position: absolute;
                  top: 0px;
                  background: white;
                  &.left {
                    left: 32%;
                  }
                  &.right {
                    left: 66%;
                  }
                }
                .div-hor {
                  height: 1px;
                  width: 100%;
                  background: white;
                  position: absolute;
                  left: 0px;
                  &.top {
                    top: 32%;
                  }
                  &.bottom {
                    top: 66%;
                  }
                }
              }
            }
            .img-bottle {
              // height: 541px;
              height: 703px;
              @media screen and (max-width: 1440px){
                height: calc(703px * 0.75);
              }
              @media screen and (max-width: 1024px){
                height: 308px;
              }
            }
            .img-name {
              height: 450px;
              width: 145px;
              top: 215px;
              @media screen and (max-width: 1440px) {
                height: calc(450px * 0.75);
                width: calc(145px * 0.75);
                top: calc(215px * 0.75);
              }
              @media screen and (max-width: 1024px){
                // height: 197px;
                // width: 63.5px;
                // top: 165px;
                top: unset;
                bottom: 4%;
                height: 63.68%;
                width: 85%;
                border-radius: 30px;
              }
            }
            .image-logo {
              width:90px;
              top: 250px;
              @media screen and (max-width: 1440px) {
                width: calc(90px * 0.75);
                top: calc(250px * 0.75);
              }
              @media screen and (max-width: 1024px){
                // width:39px;
                // top: 180px;
                width: unset;
                height: 5%;
                top: 37%;
              }
            }
            .text-des-custome {
              width: 150px;
              font-size: 15.5px;
              bottom: 69px;
              @media screen and (max-width: 1440px) {
                width: calc(150px * 0.75);
                font-size: calc(15.5px * 0.75);
                bottom: calc(69px * 0.75);
              }
              @media screen and (max-width: 1024px){
                // width: 66px;
                // font-size: 7px;
                // bottom: 30px;
                width: 100%;
                font-size: 7px;
                bottom: 9%;
              }
            }
            .text-size-custome {
              bottom: 45px;
              font-size: 15.5px;
              @media screen and (max-width: 1440px) {
                bottom: calc(45px * 0.75);
                font-size: calc(15.5px * 0.75);
              }
              @media screen and (max-width: 1024px){
                // bottom: 20px;
                // font-size: 7px;
                bottom: 6%;
                font-size: 7px;
              }
            }
            .custome-name {
              font-size: 15.5px;
              top: 585px;
              @media screen and (max-width: 1440px) {
                font-size: calc(15.5px * 0.75);
                top: calc(585px * 0.75);
              }
              @media screen and (max-width: 1024px){
                font-size: 7px;
                // top: 324px;
                top: unset;
                bottom: 13%;
              }
            }
            .custome-only-name {
              font-size: 18px;
              top: 394px;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
                top: calc(394px * 0.75);
              }
              @media screen and (max-width: 1024px){
                font-size: 8px;
                top: 172px;
              }
            }
          }
          .div-text-use {
            position: absolute;
            bottom: 36px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            letter-spacing: 0.05em;
            color: #0D0D0D;
            text-align: center;
            width: 100%;
            @media screen and (max-width: 1440px){
              bottom: calc(36px * 0.75);
              font-size: calc(16px * 0.75);
            }
          } 
        }
        .div-custome-right {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          .div-top-image {
            width: 100%;
            flex: 1;
            flex-direction: column;
            .div-none-select {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              .div-image {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                >img {
                  width: 232px;
                  height: 232px;
                  @media screen and (max-width: 1440px) {
                    width: calc(232px * 0.75);
                    height: calc(232px * 0.75);
                  }
                }
              }
              >span {
                letter-spacing: 0.05em;
                color: #0D0D0D;
                font-size: 16px;
                padding: 0px 66px 55px 66px;
                text-align: center;
                @media screen and (max-width: 1440px) {
                  font-size: calc(16px * 0.75);
                  padding: 0px 50px 41px 50px;
                }
              }
            }

            .div-add-text {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              overflow: hidden;
              >h3 {
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                text-align: center;
                margin-top: 78px;
                @media screen and (max-width: 1440px){
                  font-size: calc(20px * 0.75);
                  margin-top: calc(78px * 0.75);
                }
              }
              .wrap-text {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                .content-text-edit {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 0px 36px;
                  width: 100%;
                  @media screen and (max-width: 1440px) {
                    padding: 0px 27px;
                  }
                  .title-text {
                    width: 83px;
                    font-weight: 500;
                    font-size: 16px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #0D0D0D;
                    @media screen and (max-width: 1440px) {
                      font-size: calc(16px * 0.75);
                      width: calc(83px * 0.75);
                    }
                  }
                  .div-text-edit {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .div-input {
                      flex: 1;
                      position: relative;
                      >input {
                        width: 100%;
                        padding-bottom: 9px;
                        border: none;
                        border-bottom: 1px solid #E2E2E2;
                        font-size: 16px;
                        color: #0D0D0D;
                        &::placeholder {
                          color: #8d8d8d;
                        }
                        @media screen and (max-width: 1440px) {
                          font-size: calc(16px * 0.75);
                        }
                        @media screen and (max-width: 1024px){
                          font-size: 18px;
                        }
                      }
                      >span {
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translateY(-50%);
                      }
                    }
                  }
                  .div-add-color {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    margin-top: 90px;
                    margin-bottom: 90px;
                    @media screen and (max-width: 1440px) {
                      margin-top: calc(90px * 0.75);
                      margin-bottom: calc(90px * 0.75);
                    }
                    .list-button {
                      display: flex;
                      align-items: center;
                      .outline-bt {
                        border-radius: 6px;
                        background: transparent;
                        width: 61px;
                        height: 61px;
                        margin-right: 30px;
                        @media screen and (max-width: 1440px){
                          width: 47px;
                          height: 47px;
                          margin-right: calc(30px * 0.75);
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.selected {
                          background: #B79B53;
                          >button {
                            border: none;
                          }
                        }
                        >button {
                          width: 55px;
                          height: 55px;
                          border-radius: 6.55262px;
                          border: none;
                          @media screen and (max-width: 1440px) {
                            width: calc(55px * 0.75);
                            height: calc(55px * 0.75);
                            
                          }
                          &.black {
                            background: #0D0D0D;
                          }
                          &.white {
                            background: #ffffff;
                            border: 1.0921px solid #E2E2E2;
                          }
                          &.yellow {
                            background: #B79B53;
                          }
                        }
                      }
                    }
                  }
                  .div-font-text {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    width: 100%;
                    .title-text {
                      margin-top: 10px;
                    }
                    .wrap-list-font {
                      display: flex;
                      flex-direction: column;
                      flex: 1;
                      .list-font {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .active {
                          color: #0D0D0D;
                        }
                        >button {
                          background: transparent;
                          border: none;
                          font-size: 43.9901px;
                          padding: 0px;
                          // padding-right: 30px;
                          color: #8D8D8D;
                          @media screen and (max-width: 1440px) {
                            font-size: calc(43px * 0.75);
                            // padding-right: calc(30px * 0.75)
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .div-scale-photo {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              >h3 {
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                text-align: center;
                margin-top: 78px;
                @media screen and (max-width: 1440px){
                  font-size: calc(20px * 0.75);
                  margin-top: calc(78px * 0.75);
                }
              }
              .div-wrap-scale {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 321px;
                @media screen and (max-width: 1440px){
                  width: calc(321px * 0.75);
                }
                .div-scale {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  .input-range__label--value{
                    visibility: hidden;
                  }
                  .input-range__label {
                    visibility: hidden;
                  }
                  .input-range__slider {
                    width: 20px;
                    height: 20px;
                    margin-top: -12px;
                    background: #0D0D0D;
                    border: none;
                  }
                  .input-range__track--background, .input-range__track--active {
                    background: #C4C4C4;
                  }
                  .input-scale {
                    margin-top: 33px;
                    width: 77px;
                    height: 36px;
                    border: 1px solid #E2E2E2;
                    background: #FFFFFF;
                    border-radius: 4px;
                    text-align: center;
                    @media screen and (max-width: 1440px){
                      width: calc(77px * 0.75);
                      height: calc(36px * 0.75);
                    }
                  }
                }
              }
            }

            .div-upload-photo {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              >h3 {
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                text-align: center;
                margin-top: 78px;
                @media screen and (max-width: 1440px){
                  font-size: calc(20px * 0.75);
                  margin-top: calc(78px * 0.75);
                }
              }
              .div-upload-image {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .div-section-more {
                  width: 321px;
                  height: 309px;
                  @media screen and (max-width: 1440px){
                    width: calc(321px * 0.75);
                    height: calc(309px * 0.75);
                  }
                  >div {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px dashed #8D8D8D;
                    border-radius: 43px;
                    @media screen and (max-width: 1440px){
                      border-radius: calc(43px * 0.75);
                    }
                    >span {
                      font-size: 16px;
                      letter-spacing: 0.05em;
                      color: #0D0D0D;
                      @media screen and (max-width: 1440px){
                        font-size: calc(16px * 0.75);
                      }
                    }
                    >button {
                      height: 36px;
                      background: #0D0D0D;
                      border-radius: 61px;
                      padding: 0px 20px;
                      font-size: 16px;
                      color: #FFFFFF;
                      border: none;
                      @media screen and (max-width: 1440px){
                        font-size: calc(16px * 0.75);
                        border-radius: calc(61px * 0.75);
                      }
                    }
                  }
                }
              }
            }
          }
          .div-list-bt {
            display: flex;
            flex-direction: column;
            width: 100%;
            .div-list-option {
              display: flex;
              flex-direction: row;
              .active {
                background: #F4F4F4;
              }
              .mid {
                border-left: 1px solid #E2E2E2;
                border-right: 1px solid #E2E2E2;
              }
              >button {
                height: 60px;
                width: 135px;
                border: none;
                border-top: 1px solid #E2E2E2;
                color: #0D0D0D;
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: center;
                padding: 0px;
                background: #ffffff;
                @media screen and (max-width: 1440px){
                  height: calc(60px * 0.75);
                  width: calc(135px * 0.75);
                }
                >img {
                  width: 14px;
                  margin-right: 12px;
                  @media screen and (max-width: 1440px){
                    width: calc(14px * 0.75);
                    margin-right: calc(12px * 0.75);
                  }
                }
              }
              .bg-black {
                background: #0D0D0D;
                width: 61px;
                @media screen and (max-width: 1440px){
                  width: calc(61px * 0.75);
                }
                >img {
                  width: 27px;
                  margin: 0px;
                  @media screen and (max-width: 1440px){
                    width: calc(27px * 0.75);
                  }
                }
              }
            }
            .bt-continute {
              width: 100%;
              height: 60px;
              @media screen and (max-width: 1440px){
                bottom: calc(60px * 0.75);
                height: calc(60px * 0.75);
              }
              >button {
                border: none;
                display: flex;
                align-items: center;
                background: #0D0D0D;
                font-size: 18px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #FFFFFF;
                border: none;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: 1440px){
                  font-size: calc(18px * 0.75);
                }
                >img {
                  width: 16px;
                  margin-right: 14px;
                  @media screen and (max-width: 1440px){
                    width: calc(16px * 0.75);
                    margin-right: calc(14px * 0.75);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}