.div-discover-scents {
  display: flex;
  flex-direction: column;
  padding: 75px 0px;
  @media screen and (max-width: 1024px){
    padding: 50px 0px 0px 0px;
  }
  .div-scent-character {
    .div-info {
      .div-process-circle {
        .progress-circle {
          .div-circle {
            width: 65% !important;
          }
        }
      }
    }
  }
  .mmo2-mobile {
    height: auto;
    .step2 {
      height: calc(100vh - 100px);
    }
    .mmo-step3-mobile, .mmo-step2-1-mobile, .mmo-step2-mobile {
      padding: 0px;
      // height: 640px;
      height: calc(100vh - 100px);
      position: relative;
      .step3-mobile {
        .btn-toggle-scent-bar {
          position: absolute;
          font-size: 14px;
          border-radius: 4px;
          left: 0;
          right: 0;
          width: 80%;
          background: #0d0d0d;
          color: white;
          border: none;
          padding: 10px 0;
          margin: 0 auto 8px auto;
          letter-spacing: 0.2rem;
          top: unset;
          bottom: 0px;
          text-transform: uppercase;
        }
        .wrapper-mix-info {
          height: calc(100% - 60px);
          position: relative;
          transform: unset;
          top: 0px;
          padding: 0px;
          .div-progress {
            width: 60%;
            height: fit-content;
            margin: auto 0px;
            .div-process-line {
              .progressLine {
                .div-progress {
                  width: 100%;
                  height: 6px;
                }
              }
            }
          }
        }
      }
      .step2-mobile {
        position: relative;
        .scent-info {
          height: calc(100% - 60px);
          position: relative;
          transform: unset;
          top: 0px;
          padding: 0px;
          .div-scent-profile {
            height: fit-content;
            margin: auto 0px;
          }
        }
        .btn-toggle-scent-bar {
          top: unset;
          bottom: 0px;
        }
      }
      .bottle-box {
        height: auto;
        top: 0px;
        .wrapper-bottle {
          >img {
            width: 119px;
          }
          .selection-scent {
            width: 110px;
          }
        }
      }
      
    }
    .multi-step-mmo {
      position: relative;
      min-height: unset;
      margin-top: 1rem;
    }
  }
  >h3 {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin-bottom: 65px;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-bottom: 0px;
    }
  }
  .description {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0D0D0D;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .div-scent-null {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    >img {
      width: 70px;
    }
    >span {
      font-size: 20px;
      color: #8D8D8D;
      margin-top: 34px;
    }
  }
  .div-scent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 175px;
    @media screen and (max-width: 1024px){
      padding: 0px;
      flex-direction: column;
    }
    .bottle-scent {
      width: 10%;
      height: 100%;
      margin: auto;
      @media screen and (max-width: 1024px){
        width: 119px;
      }
    }
    .bt-choose-scent {
      width: calc(100vw - 40px);
      height: 39px;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0.2em;
      background: #0D0D0D;
      border: 1px solid #0D0D0D;
      box-shadow: 0px -2.62813px 5.25626px rgba(0, 0, 0, 0.05);
      border-radius: 3.9422px;
      margin: 0px auto;
      margin-top: 30px;
    }
    .scent-box-right {
      .header-mix {
        margin: 15px 0px;
      }
      >div {
        height: calc((100vw - 350px) * 0.35 * 194 / 380) !important;
        .scent-box {
          min-height: unset;
          .title-scent{
            >img{
              height: 50%;
            }
          }
        }
      }
    }
    .scent-box-left {
      >div {
        height: calc((100vw - 350px) * 0.35 * 438 / 380) !important;
      }
    }
    .scent-box-left, .scent-box-right {
      height: fit-content;
      width: 35%;
      @media screen and (max-width: 1024px){
        visibility: hidden;
      }
      >h4 {
        font-size: 18.0222px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        width: 100%;
        margin-bottom: 30px;
      }
      >div {
        .scent-box {
          .product {
            .product-note {
              max-height: unset;
            }
          }
        }
        .scent-box .title-scent{
          cursor: pointer;
          display: flex;
          flex-direction: column;
          height: 100%;
          >img{
            flex: 1;
            margin-bottom: 0px;
          }
          >div {
            padding: 15px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            >p {
              margin-bottom: 0px;
            }
          }
        } 
      }
    }
  }
}