.div-block-product {
  >.row {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.block-product-item {
  width: 300px;
  > img {
    cursor: pointer;
  }
  > h2 {
    color: '#0D0D0D' !important;
  }
}