.div-rewards {
  display: flex;
  flex-direction: column;
  padding: 0px 137px 70px 70px;
  overflow: hidden;
  @media screen and (max-width: 1024px){
    padding: 0px 8px;
  }
  >h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin-bottom: 38px;
    @media screen and (max-width: 1024px){
      text-align: center;
      margin: 30px 0px;
      margin-bottom: 32px;
    }
  }
  .des {
    font-size: 16px;
    color: #0D0D0D;
    @media screen and (max-width: 1024px){
      font-size: 12px;
      text-align: center;
    }
  }
  .points {
    margin: 42px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px){
      margin: 31px 23px;
    }
    >img {
      width: 47px;
      height: 47px;
      margin-right: 16px;
      @media screen and (max-width: 1024px){
        width: 34px;
        height: 34px;
        margin-right: 12px;
      }
    }
    .price {
      font-weight: bold;
      font-size: 50px;
      color: #0D0D0D;
      @media screen and (max-width: 1024px){
        font-size: 36px;
      }
    }
  }
  .see-history {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    >button {
      >img {
        height: 11px;
        margin-right: 6px;
      }
      .timer {
        font-size: 12px;
        color: #8D8D8D;
      }
    }
  }
  .tabs {
    width: 100%;
    display: flex;
    position: relative;
    >button {
      width: calc(100% / 3);
      padding: 36px 0px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
        padding: 17px 0px;
      }
    }
    .active {
      color: #0D0D0D;
    }
    .line-active {
      position: absolute;
      width: calc(100% / 3);
      height: 2px;
      background: #0D0D0D;
      border-radius: 7px;
      bottom: 0px;
      left: 0px;
      transition: all 0.2s ease
    }
  }
  .tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .content-point {
      margin-top: 42px;
      @media screen and (max-width: 1024px){
        margin-top: 27px;
      }
      >h3 {
        margin: 0px 0px 42px 0px;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1024px){
          margin: 0px 0px 27px 0px;
        }
      } 
      .item-earn-point {
        display: flex;
        align-items: center;
        margin-bottom: 21px;
        padding: 0px 120px;
        @media screen and (max-width: 1024px){
          padding: 0px;
        }
        .div-left {
          flex: 1;
          display: flex;
          align-items: center;
          >img {
            width: 62px;
            height: 62px;
            margin-right: 19px;
          }
          >span {
            font-size: 16px;
            color: #0D0D0D;
            padding-right: 20px;
          }
        }
        .div-right {
          display: flex;
          align-items: center;

          >img {
            width: 26px;
            height: 26px;
            margin-right: 8px;
            @media screen and (max-width: 1024px) {
              width: 18px;
              height: 18px;
            }
          }
          >h3 {
            font-weight: bold;
            font-size: 28px;
            text-transform: uppercase;
            color: #0D0D0D;
            margin-bottom: 0px;
            @media screen and (max-width: 1024px) {
              font-size: 20px;
            }
          }
          >span {
            font-size: 14px;
            margin-top: 7px;
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
          .transparent-text {
            color: transparent;
          }
        }
      }
      .item-reward-point {
        display: flex;
        align-items: center;
        margin-bottom: 21px;
        @media screen and (max-width: 1024px) {
          height: 89px;
          border: 0.646154px solid #E2E2E2;
          border-radius: 5.16923px;
        }
        &.disabled {
          opacity: 0.5;
        }
        .div-left-mobile {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          >img {
            height: 89px;
            margin-right: 15px;
          }
        }
        .div-right-mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          flex: 1;
          position: relative;
          >h3 {
            font-weight: 500;
            font-size: 16px;
            color: #0D0D0D;
            margin-bottom: 0px;
          }
          .card-point {
            position: absolute;
            bottom: 14px;
            right: 14px;
            cursor: pointer;
            @media screen and (max-width: 1024px){
              display: flex;
              align-items: center;
              bottom: 2px;
              right: 2px;
            }
            &.disable {
              background: #F0F0F0;
              cursor: no-drop;
              >span {
                color: #8D8D8D;
              }
            }
            >img {
              width: 20px;
              height: 20px;
              margin-right: 4px;
            }
            >span {
              font-weight: bold;
              font-size: 21px;
              text-transform: uppercase;
              color: #0D0D0D;
            }
          }
          .text-info {
            display: flex;
            flex-direction: column;
            >span {
              font-size: 12px;
              color: #8D8D8D;
              margin: 5px 0px 8px 0px;
            }
            >button {
              font-weight: 500;
              font-size: 16px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
              text-align: left;
            }
          }
          .text-used {
            position: absolute;
            font-size: 12px;
            color: #FFFFFF;
            padding: 2px 7px;
            background: #8D8D8D;
            border-radius: 44.303px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
        }
        
        .div-left {
          display: flex;
          align-items: center;
          flex: 1;
          >img {
            height: 62px;
            // width: 128px;
            margin-right: 15px;
          }
          .div-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            >h3 {
              font-weight: 500;
              font-size: 16px;
              color: #0D0D0D;
              margin-bottom: 0px;
            }
            >span:nth-child(1) {
              margin-top: 11px;
            }
            >span {
              font-size: 12px;
              color: #8D8D8D;
            }
          }
        }
        .div-right {
          .card-point {
            display: flex;
            height: 54px;
            background: #0D0D0D;
            border-radius: 6px;
            padding: 0px 16px;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            &.disable {
              background: #F0F0F0;
              cursor: no-drop;
              >span {
                color: #8D8D8D;
              }
            }
            >img {
              height: 26px;
              margin-right:8px;
            }
            >span {
              font-weight: bold;
              font-size: 28px;
              text-transform: uppercase;
              color: #FFFFFF;
            }
          }
          .div-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            >div {
              background: #F0F0F0;
              border-radius: 44.303px;
              padding: 3px 15px;
              font-size: 12px;
            }
            >button {
              font-weight: 500;
              font-size: 16px;
              text-align: right;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
            }
            .inactive {
              color: #8D8D8D;
              cursor: no-drop;
            }
          }
        }
      }
    }
  }
}