.cd-dropdown {
	padding-top: 1rem;
  position: absolute;
  overflow: hidden;
  border-radius: 6px;

  ul {
    margin: 0;
    padding: 1rem 5rem 1rem 2.875rem;
    width: 100%;
    height: 100%;
    background: #fff;
    list-style-type: none;
    display: block;
    border-radius: 6px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

    li {
      padding: 1rem;
      white-space: nowrap;
      font-size: 0.875rem;
      color: #0D0D0D;
      z-index: 1003;
      opacity: 1;
      transform: none;
      transition: all 300ms ease 0s;
      cursor: pointer;

      &:hover {
        color: #b79b53;
      }
    }
  }
}
// .cd-dropdown
// .cd-dropdown ul li {
//   position: absolute;
//   width: 100%;
//   background: #fff;
//   line-height: 60px;
//   padding: 0 20px 0 20px;
//   display: block;
//   cursor: pointer;
//   font-size: 0.8rem;
//   font-family: Roboto;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
// }
// .cd-dropdown ul li {
//   // height: 60px;
//   z-index: 1003;
//   left: 0px;
//   margin-left: 0px;
//   opacity: 1;
//   transform: none;
//   transition: all 300ms ease 0s;
//   width: 250px;
// }
// .cd-dropdown ul li {
//   display: block;
// }
