.div-favorite {
  color: #0D0D0D;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  @media screen and (max-width: 1024px){
    justify-content: flex-start;
    overflow-y: auto;
    align-items: center;
    padding-top: 20px;
    display: block;
    &::-webkit-scrollbar {
      display: none;
    }
    .div-slider-like { 
      width: calc(100vw - 30px);
      padding-bottom: 100px;
      padding-top: 20px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 450px;
      }
      .div-bt-quiz {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >button {
          font-size: 10px;
          color: #8D8D8D;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          max-width: 40%;
        }
      }
      .div-none-like {
        display: flex;
        flex-direction: column;
        align-items: center;
        >img {
          width: 35px;
          height: 35px;
          margin-bottom: 13px;
        }
        >span {
          width: 60%;
          font-size: 12px;
          color: #8D8D8D;
          text-align: center;
        }
      }
      .slick-slider {
        width: 100%;
        .slick-dots {
          bottom: -18px;
          z-index: -1;
          >li {
            margin: 0px 1px;
          }
        }
        .div-scent-profile {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          >h3 {
            font-size: 14px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            color: #0D0D0D;
            font-weight: bold;
            margin-bottom: 4px;
          }
          >h4 {
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 10px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #0D0D0D;
            margin-bottom: 22px;
          }
          .div-progress {
            display: flex;
            .div-process-line {
              width: 50%;
              .progressLine {
                margin-bottom: 15px;
                .div-text {
                  >span {
                    font-size: 12px;
                  }
                }
              }
            }
            .div-process-circle {
              width: 50%;
              display: flex;
              padding-left: 20px;
              margin-top: 12px;
              @media screen and (min-width: 768px) and (max-width: 1024px) {
                justify-content: center;
              }
              .div-circle {
                width: 48px;
              }
              .progress-circle {
                >span {
                  font-size: 10px;
                  letter-spacing: 0.2em;
                  text-transform: uppercase;
                  color: #0D0D0D;
                }
              }
            }
          }
        }
      }
    }
  }
  .id-scroll {
    position: absolute;
    top: -110px;
    left: 0px;
  }
  .div-header {
    @media screen and (min-width: 768px) and (max-width: 1024px){
      margin-bottom: 45px;
    }
    @media screen and (max-width: 767.9px){
      margin-bottom: 0px;
    }
  }
  .header {
    >img {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
    >h2 {
      color: #CC9410;
      font-size: 2rem;
    }
    
  }
  .description {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    @media screen and (max-width: 768px){
      font-size: 10px;
      line-height: 14px;
    }
  }
  .text-header {
    color: #0D0D0D;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    @media screen and (max-width: 768px){
      font-size: 24px;
      line-height: 32px;
      margin-top: 10px;
    }
  }

  .div-ingridients {
    // max-width: 690px;
    // width: 45vw;
    height: calc(100vh - 300px);
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 1024px){
      display: flex;
      justify-content: flex-start;
      max-width: unset;
      width: unset;
      flex-direction: column;
      margin-top: 30px;
    }
    .content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: 1024px){
        width: 100%;
        // flex-direction: column;
        // flex-wrap: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .item-favorite {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        @media screen and (max-width: 1024px){
          width: 33.33%;
          margin: 0px;
          margin-bottom: 18px;
        }
        
        &.enable_hover {
          &:hover {
            opacity: 1 !important;
            .div-image {
              .div-bg {
                opacity: 0.5!important;
              }
            }
          }
        }
        
        &.active {
          .checked {
            visibility: visible;
            z-index: 9;
          }
        }
        
        .div-bg {
          max-width: 180px;
          max-height: 180px;
          width: 13vw;
          height: 13vw;
          border-radius: 30%;
          opacity: 0;
          background: #0d0d0d;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          &.show {
            opacity: 0.5;
          }
          @media screen and (max-width: 1024px){
            width: 100%;
            max-width: unset;
            border-radius: 34px;
            height: 102px;
          }
        }
        .div-image {
          max-width: 180px;
          max-height: 180px;
          width: 13vw;
          height: 13vw;
          position: relative;
          @media screen and (max-width: 1024px){
            width: 102px;
            max-width: unset;
            // height: 76px;
            height: 102px;
            border-radius: 34px;
          }
          >span {
            position: absolute;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.2em;
            text-transform: capitalize;
            color: #FFFFFF;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 170px;
            text-align: center;
            opacity: 1;
            z-index: 2;
            @media screen and (max-width: 1024px){
              width: 90px;
              font-size: 12px;
              text-transform: uppercase;
            }
          }
          .bt-info {
            position: absolute;
            bottom: 16px;
            left: 16px;
            background: transparent;
            border: none;
            padding: 0px;
            @media screen and (max-width: 767.9px){
              bottom: 10px;
              left: 10px;
            }
            >img {
              width: 34px;
              @media screen and (max-width: 767.9px){
                width: 24px;
              }
            }
          }
          .ingredient {
            border-radius: 30%;
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 1;
            border: 0.841983px solid #0D0D0D;
            @media screen and (min-width: 768px) and (max-width: 1024px){
              width: 100% !important;
              height: 100% !important;
              border-radius: 34px !important;
            }
            @media screen and (max-width: 767.9px){
              width: 100% !important;
              height: 100% !important;
              border-radius: 34px !important;
            }
          }
        }
        
        .checked {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
          @media screen and (max-width: 1024px){
            width: 24px;
            height: 24px;
          }
        }
      } 
    }
  }
  .div-button {
    width: 100%;
    .div-bt-next {
      margin-bottom: 40px!important;
      width: 198px;
      >button {
        background: #ffffff;
        border: 1px solid #0D0D0D;
        border-radius: 6px;
        width: 100%;
        .div-style-button {
          position: relative;
          font-size: 0.8rem;
          >img {
            height: 10px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}