.footer-checkout-mobile {
  width: 100%;
  color: #0D0D0D;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 13;
  background: transparent;
  transition: all 0.5s;
  &.show-div {
    bottom: 0px;
  }
  &.hide-div {
    bottom: -150px;
  }
  .div-card-error {
    width: 250px;
    height: 56px;
    padding: 14px 12px;
    background: #EB5757;
    border-radius: 6px;
    margin-left: 11px;
    margin-bottom: 13px;
    >img {
      height: 100%;
      margin-right: 16px;
    }
    >span {
      font-size: 12px;
      color: #FFFFFF;
      line-height: 14px;
    }
  }
  .add-promotion {
    height: 48px;
    padding: 0px 11px;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
    background: #ffffff;
    >span {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.05em;
    }
    >button {
      padding-right: 14px;
      >img {
        width: 20px;
      }
    }
    .div-input-add {
      flex: 1;
      padding-right: 8px;
      position: relative;
      >span {
        font-weight: 500;
        font-size: 16px;
        margin-right: 10px;
      }
      >input {
        background: #F0F0F0;
        border: 1px solid #E2E2E2;
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        color: #0D0D0D;
        width: 100%;
        height: 34px;
        padding: 0px 10px;
      }
      .div-relative {
        position: relative;
        >img {
          width: 8px;
          height: 8px;
        }
      }
      .div-ab {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        >img {
          width: 8px;
          height: 8px;
        }
      }
      .has-bg {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #8D8D8D;
        border: none;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0px;
      }
      .bg-red {
        background: #EB5757;
      }
    }
    .bg-normal {
      background: #0D0D0D;
      width: 99px;
      height: 34px;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      border-radius: 6px;
      padding: 0px;
      &.disabled {
        background: #8D8D8D;
      }
    }
  }
  .total {
    height: 52px;
    border-bottom: 1px solid #E2E2E2;
    background: #ffffff;
    .text-total {
      flex: 1;
      padding: 11px;
      >h4 {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.1em;
        color: #8D8D8D;
        margin-bottom: 0px;
      }
      >span {
        font-size: 18px;
        font-weight: bold;
        .old-price {
          font-size: 10px;
          color: #8D8D8D;
          text-decoration: line-through;
          margin-left: 5px;
        }
      }
    }
    >button {
      height: 100%;
      width: 150px;
      font-size: 14px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      background: #0D0D0D;
      border: none;
    }
  }

  &.card-total-item {
    background: #ffffff;
    padding: 20px 0px;
    .div-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #F4F4F4;
      border-radius: 4px;
      width: calc(100% - 40px);
      margin: auto;
      .left-card {
        display: flex;
        align-items: center;
        .div-image {
          padding: 10px 19px 10px 15px;
          .img-detail {
            width: 48px;
            height: 48px;
            position: relative;
            .img-temp, >img {
              position: absolute;
              border: 1px solid #C8C8C8;
              border-radius: 2px;
              width: 100%;
              height: 100%;
              object-fit: contain;
              padding: 4px 0px;
            }
            .img-temp {
              background: #fff;
            }
          }
        }
        .title-item-card {
          >h2 {
            letter-spacing: 0.2em;
            color: #0D0D0D;
            margin-bottom: 5px;
            font-size: 14px;
          }
          >span {
            color: #545454;
            font-size: 14px;
          }
        }
      }
      >h3 {
        font-size: 24px;
        color: #0D0D0D;
        padding-right: 15px;
        margin-bottom: 0px;
      }
    }
  }
}