
.div-funnel-wrap-v2 
{
    position: relative;
    .div-funnel-new {
        position: relative;
        display: flex;
        flex-direction: column; 
        height: calc(100vh - 104px);
        // margin-top: 70px;
        width: 100vw;
        @media screen and (max-width: 1024px){
            height: calc(100vh - 64px);
        }
        .header-text {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1024px) {
                margin-bottom: 15px;
            }
            >h2 {
                font-size: 46px;
                text-align: center;
                color: #0D0D0D;
                font-weight: normal;
                margin-top: 0px;
                margin-bottom: 15px;
                @media screen and (max-width: 1024px){
                    font-size: 24px;
                    margin-top: 25px;
                    margin-bottom: 10px;
                }
            }
            .des-text {
                font-size: 18px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                font-weight: normal;
                text-align: center;
                @media screen and (max-width: 1024px){
                    font-size: 10px;
                }
            }
        }
        .div-wrap-item-funnel {
            flex: 1;
            padding: 60px 60px 60px 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100% - 127px);
            @media screen and (max-width: 1024px){
                height: calc(100% - 83px);
                flex-direction: column;
                padding: 0px 20px;
            }
        }
    }
    .div-item-funnel-v2 {
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media screen and (max-width: 1024px){
            height: 33%;
            width: 100%;
            flex-direction: row;
            padding: 22px 0px;
        }
        &.mid {
            border-left: 2px solid rgba(38, 38, 38, 0.1);
            border-right: 2px solid rgba(38, 38, 38, 0.1);
            @media screen and (max-width: 1024px){
                border-bottom: 1px solid rgba(38, 38, 38, 0.1);
                border-top: 1px solid rgba(38, 38, 38, 0.1);
                border-left: unset;
                border-right: unset;
            }
        }
        .div-image {
            height: 40%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @media screen and (max-width: 1024px){
                height: unset;
                width: 30%;
                justify-content: flex-start;
                height: 100%;
                align-items: center;
            }
            >img {
                // height: 204px;
                height: 80%;
                margin-bottom: 20px;
                @media screen and (max-width: 1024px){
                    margin-bottom: unset;
                    height: 62%;
                    object-fit: contain;
                    width: 75%;
                }
            }
        }
        .info-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            height: 60%;
            @media screen and (max-width: 1024px){
                height: 100%;
                width: 75%;
                margin-bottom: unset;
                justify-content: center;
                align-items: flex-start;
            }
            >h4 {
                font-weight: 500;
                font-size: 24px;
                text-align: center;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                margin-top: 20px;
                margin-bottom: 0px;
                @media screen and (max-width: 1024px){
                    font-size: 14px;
                    text-align: start;
                    margin-top: unset;
                    letter-spacing: 0.1em;
                }
            }
            .line {
                width: 64px;
                height: 2px;
                background: #E2E2E2;
                margin: 20px 0px;
                @media screen and (max-width: 1024px){
                    width: unset;
                    height: unset;
                    margin: 0px;
                }
            }
            .text-des {
                font-size: 18px;
                text-align: center;
                color: #0D0D0D;
                >p {
                    margin-bottom: 0px;
                }
                @media screen and (max-width: 1024px){
                    font-size: 14px;
                    text-align: start;
                    margin: 12px 0px 0px 0px;
                }
            }
            .div-time {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                @media screen and (max-width: 1024px){
                    margin-top: unset;
                }
                >img {
                    height: 20px;
                    margin-right: 8px;
                    @media screen and (max-width: 1024px){
                        height: 20px;
                    }
                }
                >span {
                    font-weight: 500;
                    font-size: 18px;
                    align-items: center;
                    letter-spacing: 0.1em;
                    color: #0D0D0D;
                    @media screen and (max-width: 1024px){
                        font-size: 14px;
                    }
    
                }
            }
        }
    }
} 

