.div-funnel-wrap {
  position: relative;
  .div-detail-page {
      position: absolute;
      top: -110px;
      left: 0px;
      width: 100%;
      height: auto;
  }
  .div-funnel-new {
    position: relative;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    // margin-top: 70px;
    @media (max-width: 1024px) {
        height: calc(100vh - 70px);
        // margin-top: 70px;
    }
    .div-wrap-item {
        width: 33%;
        height: 100%;
        @media screen and (max-width: 600px){
            width: 100%;
            height: 187px;
        }
    }
    @media screen and (max-width: 600px){
        flex-direction: column;
    }
  }
  .div-item-funnel {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    @media (min-width: 1024px) {
        &:hover {
            background-size: 130%;
            transition: all 0.2s;
        }
    }
    .div-content {
        height: 70%;
        width: 100%;
        padding: 60px 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 600px){
            height: 100%;
            padding: 20px 10px;
            justify-content: space-around;
        }
        .div-header {
            >h1 {
                width: 100%;
                text-align: center;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media screen and (max-width: 600px){
                    font-size: 18px;
                }
            }
            .div-subtitle {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                >img {
                    height: 24px;
                    margin-right: 10px;
                    @media screen and (max-width: 600px){
                        height: 17px;
                        margin-right: 5px;
                    }
                }
                >span {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    @media screen and (max-width: 600px){
                        font-size: 14px;
                    }
                }
            }
        }
        .text-description {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 600px){
                padding: 10px 0px;
            }
            >span {
                font-style: normal;
                font-size: 15px;
                text-align: center;
                color: #FFFFFF;
                width: 100%;
                >p {
                    margin: 0px;
                }
                @media screen and (max-width: 600px){
                    font-size: 12px;
                }
            }
            &.hidden-funnel {
                opacity: 0;
                height: 0px;
                visibility: hidden;
            }
            &.show-funnel {
                opacity: 1;
                height: auto;
                visibility: visible;
                transition: all 0.2s;
            }
        }
        .div-button {
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 600px){
                height: 24px;
            }
            &.hidden-funnel {
                opacity: 0;
                height: 0px;
                visibility: hidden;
            }
            &.show-funnel {
                opacity: 1;
                height: auto;
                transition: all 0.2s;
                visibility: visible;
            }
            >button {
                height: 56px;
                background: #ffffff;
                border-radius: 6px;
                border: none;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                padding: 0px 2rem;
                font-weight: 600px;
                &:hover {
                    background: #0D0D0D;
                    color: #ffffff;
                }
                >img {
                    height: 11px;
                    margin-bottom: 2px;
                }
                @media screen and (max-width: 600px){
                    background: transparent;
                    font-size: 10px;
                    color: #ffffff;
                    font-weight: 600;
                    height: 24px;
                }
            }
        }
    }
  }
}
.view-funnelPage{
  margin-top: 109px;
  margin-bottom: 214px;
  @media (max-width: 414px) {
      margin-top: 87px;
      margin-bottom: 151px;
  }
  .header1{
      font-size: 27px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.272px;
      font-weight: 600;
      color:  #e4ab57;
      @media (max-width: 414px) {
          font-size: 25px;
          letter-spacing: 0.60px;
          margin: auto;  
          width: 70%;
      }
      @media (max-width: 375px) {
          font-size: 21px;
          width: 80%;
      }
  }
  .header2{           
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.272px;
      color: rgba(103, 72, 33, 0.4);
      @media (max-width: 414px) {
          margin-top: 17px;
          margin: auto;  
          font-size: 16px;
          line-height: 20px;
          width: 52%;
          padding-top: 15px;
      }
      @media (max-width: 375px) { 
          font-size: 15px;
          width: 65%;
      }
  }
  .swiper-container {
      margin-top:34px;
      width:370px;
      height:450px;
      @media (max-width: 414px) {
          height:360px;
          width:290px;
          margin-top:25px;
      }
      // @media (max-width: 375px)  {
      //     height:310px;
      //     width:300px;
      // }
      // padding:0px 24px;
      .swiper-wrapper{
      
          .swiper-slide{

              .img{
                  width:100%;
                  height:100%;
                  border-radius:25px;
                  position: absolute;
                  @media (max-width: 414px) {
                      border-radius:13px;
                  }
              }
              .content{
                  top: 0px;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 1;
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  .border-content{
                     
                      .content1{
                          color: white;
                          font-size: 18px;
                          width: 60%;
                          margin: auto;
                          line-height: 18px;
                          font-weight: 500;
                          margin-bottom: 18px;
                      }
                      .content2{
                          color: white;
                          width: 83%;
                          font-size: 12px;
                          margin: auto;
                      }
                      .button-content{
                          padding-left: 7%;
                          padding-right: 7%;
                          font-weight: 500;
                          height: 23%;
                          border-radius: 6px;
                          font-size: 11px;
                          margin-top: 17px;
                          background-color: #f9f8f8;
                          opacity: 0.7;
                          border: none;
                      }
                  }
                 
              }      
          }
          .swiper-slide-prev{
              padding-left: 7px;
              margin-top: 10px;
              height: 433px;
              @media (max-width: 414px) {
                  margin-top: 15px;
                  height:332px;
                  padding-left: -1px;
              }

          }
          .swiper-slide-next{
              margin-top: 10px;
              height: 433px;
              @media (max-width: 414px) {
                  margin-top: 10px;
                  height:340px;
                
               }
          }
          .swiper-slide-active{
              .img{
                  border-radius: 16px;
              }
              margin-right: -179px!important;
              @media (max-width: 414px) {
                  margin-right: -178px!important;      
              }
          }    
      }
     
  }
  .border-swiper-pagination{
      width:100%;
      margin: auto;
      justify-content: center;
      display: flex;
      .swiper-pagination{
          margin-left: 1%;
          margin-top:50px;
          @media (max-width: 414px) {
              margin-left: 12px;
              margin-top: 32px;
           }
   
          .swiper-pagination-bullet-active{
              background-color: #b37700f0;
              height: 10px;
              width: 10px;
          }
          .swiper-pagination-bullet{
              margin-right: 25px;
              background-color: #b37700f0;
              height: 10px;
              width: 10px;
            
          }
      }
  }
  .swiper-button-next{
      background-image: url('');
      margin-top: 90px;
      margin-right: 28%;
      &::before {
          content: '';
          border: solid  #b37700f0;;
          border-width: 0 7px 7px 0;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          position: absolute;
          right: 3px;
          margin-top: -5px;
          display: inline-block;
          padding: 12px;

          @media (max-width: 768px) {
              border-width: 0 2px 2px 0;
          }
      }
  }
  .swiper-button-prev{
      background-image: url('');
      margin-top: 90px;
      margin-left: 28%;
      &::before {
          content: '';
          border: solid  #b37700f0;;
          border-width: 0 7px 7px 0;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          position: absolute;
          left: 3px;
          margin-top: -5px;
          display: inline-block;
          padding: 12px;

          @media (max-width: 768px) {
              border-width: 0 2px 2px 0;
          }
      }
  }
  
} 
