.div-gift-receiver {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  .div-block-icon-header-v2 {
    >h2 {
      font-family: Playfair Display;
    }
  }
  >h1 {
    margin-top: 60px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    text-align: center;
    // @media (max-width: 1440px) {
    //   font-size: calc(24px * 0.75);
    //   margin-top: 107px;
    // }
    @media screen and (max-width: 1024px) {
      margin-top: 40px;;
      font-size: 18px;
    }

  }
  .div-card-body {
    width: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 128px;
    padding: 40px 54px 62px 54px;
    background: #FFFFFF;
    box-shadow: 15px 13px 40px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    // @media (max-width: 1440px) {
    //   width: calc(564px * 0.75);
    //   margin-top: calc(50px * 0.75);
    //   margin-bottom: calc(128px * 0.75);
    //   padding: 30px 40px 46px 40px;
    //   border-radius: calc(12px * 0.75);
    // }
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 40px);
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 23px 30px 36px 30px;
    }
    .div-image {
      .custome-gift-receiver {
        .img-bottle {
          height: 245px;
          @media screen and (max-width: 1024px) {
            height: 200px;
          }
        }
        .img-name {
          height: 162px;
          width: 51px;
          top: 68px;
          @media screen and (max-width: 1024px) {
            height: 135px;
            width: 42px;
            top: 56px;
          }
        }
        .image-logo {
          width: 35px;
          top: 84px;
          @media screen and (max-width: 1024px) {
            width: 30px;
            top: 70px;
          }
        }
        .text-des-custome {
          width: 52px;
          font-size: 4px;
          bottom: 24px;
          @media screen and (max-width: 1024px) {
            width: 43px;
            font-size: 4px;
            bottom: 20px;
          }
        }
        .text-size-custome {
          bottom: 16px;
          font-size: 4px;
          @media screen and (max-width: 1024px) {
            bottom: 13.5px;
            font-size: 4px;
          }
        }
        .custome-name {
          font-size: 4px;
          top: 185px;
          @media screen and (max-width: 1024px) {
            font-size: 5px;
            top: 155px;
          }
        }
        .custome-only-name {
          font-size: 5px;
          top: 138px;
          @media screen and (max-width: 1024px) {
            font-size: 5px;
            top: 114px;
          }
        }
      }
    }
    .div-enter-redeem {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      >span {
        font-size: 14px;
        color: #0D0D0D;
        margin-top: 62px;
        // @media (max-width: 1440px) {
        //   font-size: calc(14px * 0.75);
        //   margin-top: calc(62px * 0.75);
        // }
        @media (max-width: 1024px) {
          font-size: 8px;
          margin-top: 36px;
        }
      }
      >input {  
        width: 361px;
        height: 53px;
        border: 0.750521px solid #0D0D0D;
        box-sizing: border-box;
        border-radius: 4.50313px;
        text-align: center;
        font-size: 16px;
        color: #8D8D8D;
        margin-top: 22px;
        margin-bottom: 35px;
        // @media (max-width: 1440px) {
        //   height: calc(53px * 0.75);
        //   font-size: calc(16px * 0.75);
        //   margin-top: calc(22px * 0.75);
        //   margin-bottom: calc(35px * 0.75);
        //   width: calc(361px * 0.75);
        // }
        @media (max-width: 1024px) {
          height: 31px;
          font-size: 9px;
          margin-top: 13px;
          margin-bottom: 20px;
          width: 213px;
        }
      }
    }
    .div-redeem {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      >h3 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-top: 30px;
        margin-bottom: 0px;
        // @media (max-width: 1440px) {
        //   font-size: calc(18px * 0.75);
        //   margin-top: calc(30px * 0.75);
        // }
        @media (max-width: 1024px) {
          font-size: 14px;
          margin-top: 15px;
        }
      }
      .div-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 40px;
        &.have-message {
          margin-top: 14px;
          // @media (max-width: 1440px) {
          //   margin-top: calc(14px * 0.75);
          // }
          @media (max-width: 1024px) {
            margin-top: 13px;
          }
        }
        // @media (max-width: 1440px) {
        //   margin-top: calc(28px * 0.75);
        //   margin-bottom: calc(40px * 0.75);
        // }
        @media (max-width: 1024px) {
          margin-top: 13px;
          margin-bottom: 32px;
        }
        >span {
          font-size: 14px;
          color: #0D0D0D;
          // @media (max-width: 1440px) {
          //   font-size: calc(14px * 0.75);
          // }
          @media (max-width: 1024px) {
            font-size: 8px;
          }
        }
      }
      .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 31px;
        // @media (max-width: 1440px) {
        //   margin-bottom: calc(31px * 0.75);
        // }
        @media (max-width: 1024px) {
          margin-bottom: 31px;
        }
        >span {
          font-size: 14px;
          color: #0D0D0D;
          text-align: center;
          // @media (max-width: 1440px) {
          //   font-size: calc(14px * 0.75);
          // }
          @media (max-width: 1024px) {
            font-size: 8px;
          }
        }
      }
    }
    .button-bg {
      min-width: 239px;
      height: 53px;
      font-size: 16px;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      background: #0D0D0D;
      border: none;
      border-radius: 4.50313px;
      padding: 0px 36px;
      // @media (max-width: 1440px) {
      //   height: calc(53px * 0.75);
      //   font-size: calc(16px * 0.75);
      //   padding: 0px 27px;
      // }
      @media (max-width: 1024px) {
        height: 31px;
        font-size: 9px;
        width: calc(100% -78px);
      }
    }
  }
}