.div-faq-gift {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  border-top: 1px solid rgba(38, 38, 38, 0.1);
  @media screen and (max-width: 1024px) {
    padding-top: 56px;
  }
  .div-content-faq-gift {
    width: 60%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    >h3 {
      font-weight: 300;
      font-size: 2.25rem;
      color: #0D0D0D;
      margin-bottom: calc(40px * 1.33);
      width: 100%;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-weight: 300;
        font-size: 1.9285rem;
        margin-bottom: 40px;
      }
      @media screen and(max-width: 1024px) {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
    }
  }
}

.b-faq {
  width: 90%;
  @media screen and (max-width: 1024px) {
    padding: 0px 15px;
    width: 100%;
  }
}

.div-gift {
  // ===== new UI =====
  display: flex;
  flex-direction: column;
  width: calc(100vw - 320px * 2);
  min-width: 1350px;
  padding-top: 30px;
  padding-bottom: 120px;
  // margin-top: 70px;
  // margin-top: 227px;
  @media screen and (max-width: 1440px) {
    // margin-top: 170px;
    width: calc(100vw - 320px * 0.75 * 2);
    min-width: calc(1350px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    // margin-top: 86px;
    padding: 0px;
    flex-direction: column;
    width: 100vw;
    display: flex;
    min-width: unset;
  }
  .div-left {
    width: 100%;
    height: calc((100vw - 320px * 2) * 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1440px) {
      height: calc((100vw - 320px 0.75 * 2) * 0.39);
    }
    @media screen and (max-width: 1024px) {
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
    }
    >img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
      @media screen and (max-width: 1440px) {
        border-radius: calc(20px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        border-radius: 0px;
        object-fit: cover;
        object-position: center;
        height: calc(100vw * 0.3);
      }
      @media screen and (max-width: 768px) {
        border-radius: 0px;
        object-fit: cover;
        object-position: center;
        height: calc(100vw * 0.3);
      }
    }

    .info-text {
      position: absolute;
      color: #FFFFFF;
      align-items: center;
      @media screen and (max-width: 1024px) {
        position: relative;
        color: #0d0d0d;
        padding: 25px 15px;
      }
      >h1 {
        font-family: Playfair Display;
        font-size: 48px;
        margin-bottom: 0px;
        @media screen and (max-width: 1440px) {
          font-size: calc(48px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 28px;
          font-weight: normal;
          text-align: center;
        }
      }
      > h2 {
        font-size: 48px;
        margin-bottom: 69px;
        @media screen and (max-width: 1440px) {
          font-size: calc(48px * 0.75);
          margin-bottom: calc(69px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 24px;
          font-weight: 500;
          margin-top: 20px;
          margin-bottom: 30px;
        }
      }
      >div {
        font-weight: 500;
        font-size: 24px;
        width: 70%;
        text-align: center;
        @media screen and (max-width: 1440px) {
          font-size: calc(24px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          width: 100%;
          
        }
      }
    }
    
    // .custome-gift {
    //   .img-bottle {
    //     height: 450px;
    //     @media screen and (max-width: 1024px) {
    //       height: 200px;
    //     }
    //   }
    //   .img-name {
    //     height: 300px;
    //     width: 95px;
    //     top: 126px;
    //     @media screen and (max-width: 1024px) {
    //       height: 135px;
    //       width: 42px;
    //       top: 56px;
    //     }
    //   }
    //   .image-logo {
    //     width: 66px;
    //     top: 155px;
    //     @media screen and (max-width: 1024px) {
    //       width: 30px;
    //       top: 70px;
    //     }
    //   }
    //   .text-des-custome {
    //     width: 97px;
    //     font-size: 8px;
    //     bottom: 45px;
    //     @media screen and (max-width: 1024px) {
    //       width: 43px;
    //       font-size: 4px;
    //       bottom: 20px;
    //     }
    //   }
    //   .text-size-custome {
    //     bottom: 30px;
    //     font-size: 8px;
    //     @media screen and (max-width: 1024px) {
    //       bottom: 13.5px;
    //       font-size: 4px;
    //     }
    //   }
    //   .custome-name {
    //     font-size: 10px;
    //     top: 345px;
    //     @media screen and (max-width: 1024px) {
    //       font-size: 5px;
    //       top: 155px;
    //     }
    //   }
    //   .custome-only-name {
    //     font-size: 10px;
    //     top: 255px;
    //     @media screen and (max-width: 1024px) {
    //       font-size: 5px;
    //       top: 114px;
    //     }
    //   }
    // }
  }
  .div-right {
    width: 100%;
    // padding: 0px 20px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0px 15px;
    }
    .div-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: 45px;
      padding-right: 45px;
      @media screen and (max-width: 1024px) {
        padding: 0px;
      }
      >h1 {
        font-size: 28px;
        color: #0D0D0D;
        margin: 0px;
        @media screen and (max-width: 1024px) {
          font-size: 24px;
        }
      }
      .subtitle {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #8D8D8D;
        margin-bottom: 2.5px;
        @media screen and (max-width: 1024px) {
          font-size: 10px;
        }
      }
      .price {
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
        color: #152436;
        @media screen and (max-width: 1024px) {
          font-size: 24px
        }
      }
    }

    .list-work-shop {
      .bt-click-link {
        margin-top: 72px;
        width: 100%;
        height: 56px;
        background: #0D0D0D;
        border-radius: 6px;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        >img {
          height: 26px;
          margin-left: 30px;
          @media screen and (max-width: 1440px) {
            height: calc(26px * 0.75);
            margin-left: calc(30px * 0.75);;
          }
        }
        @media screen and (max-width: 1440px) {
          font-size: 18px;
        }
      }
      .text-bottom {
        font-size: 18px;
        color: #0D0D0D;
        margin-top: 34.5px;
        text-align: center;
        @media screen and (max-width: 1440px) {
          font-size: 14px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
      .list-item {
        margin-top: 60px;
        max-height: calc(172px * 3);
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 8px;
          background-color: #E2E2E2;
          border-radius: 33px;
        }
        &::-webkit-scrollbar-thumb {
          background-color :#0D0D0D;
          border-radius: 33px;
        }
        @media screen and (max-width: 1440px) {
          margin-top: calc(60px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 55px;
          max-height: unset;
        }
        >div {
          >hr {
            width: 100%;
            background-color: #e2e2e2;
          }
          .item-work-shop {
            padding: 48px 20px 48px 40px;
            border-bottom: 1px solid rgba(38, 38, 38, 0.1);
            cursor: pointer;
            @media screen and (max-width: 1440px) {
              padding: 36px 15px 36px 30px;
            }
            @media screen and (max-width: 1024px) {
              padding: 20px 0px;
            }
            >img {
              width: 203px;
              height: 133px;
              border-radius: 6px;
              @media screen and (max-width: 1440px) {
                width: calc(203px * 0.75);
                height: calc(133px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                width: 96px;
                height: 63px;
              }
            }
            .right {
              flex: 1;
              padding-left: 53px;
              @media screen and (max-width:1440px) {
                padding-left: calc(53px * 0.75);
              }
              @media screen and (max-width:1440px) {
                padding-left: 14px;
              }
              .title {
                width: 237px;
                margin-top: 0px;
                @media screen and (max-width:1440px) {
                  width: calc(237px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  width: 160px;
                }
                >h3 {
                  font-weight: 500;
                  font-size: 18px;
                  letter-spacing: 0.1em;
                  margin-bottom: 21px;
                  text-decoration: uppercase;
                  @media screen and (max-width: 1440px) {
                    font-size: calc(18px * 0.75);
                    margin-bottom: calc(21px * 0.75);
                  }
                  @media screen and (max-width: 1024px) {
                    font-size: 12px;
                    margin-bottom: 11px;
                  }
                }
                >span {
                  font-size: 18px;
                  @media screen and (max-width: 1440px) {
                    font-size: calc(18px * 0.75);
                  }
                  @media screen and (max-width: 1024px) {
                    font-size: 12px;
                  }
                }
              } 
              .div-price-button {
                >span {
                  font-weight: 500;
                  font-size: 18px;
                  letter-spacing: 0.05em;
                  text-align: end;
                  @media screen and (max-width: 1440px) {
                    font-size: calc(18px * 0.75);
                  }
                  @media screen and (max-width: 1024px) {
                    font-size: 12px;
                  }
                }
                >button {
                  background: transparent;
                  width: 34px;
                  height: 34px;
                  padding: 0px;
                  border-radius: 50%;
                  border: 2px solid #E2E2E2;
                  margin-top: 36px;
                  @media screen and (max-width: 1440px) {
                    width: calc(34px * 0.75);
                    height: calc(34px * 0.75);
                    margin-top: calc(36px * 0.75);
                  }
                  @media screen and (max-width: 1024px) {
                    width: 16px;
                    height: 16px;
                    border: 1px solid #E2E2E2;
                    margin-top: 15px;
                  }
                  &.active {
                    border: 14px solid #0D0D0D;
                    @media screen and (max-width: 1440px) {
                      border: 7px solid #0D0D0D;
                    }
                    @media screen and (max-width: 1024px) {
                      border: 5px solid #0D0D0D;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .div-option-select {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 35px;
      width: 100%;
      &.small-select {
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
          justify-content: center;
        }
      }
      @media screen and (max-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media screen and (max-width: 767px) {
        padding: 0px;
        margin-top: 33px;
        display: -webkit-box;
        overflow-x: auto;
        padding-bottom: 15px;
        &.center-div {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          .item-gift {
            margin-right: 0px;
          }
        }
      }

      .item-gift {
        position: relative;
        cursor: pointer;
        width: calc(100% * 0.18);
        min-width: 258px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        background: #FFFFFF;
        box-shadow: 10.0606px 8.71919px 26.8283px rgba(0, 0, 0, 0.15);
        border-radius: 38px;
        color: #0D0D0D;
        transition: all 0.2s;
        @media screen and (max-width: 1440px) {
          padding: 26.7px 34.3px;
          border-radius: calc(38px * 0.75);
          min-width: 172px;
        }
        @media screen and (max-width: 1024px) {
          width: 91px;
          height: 138px;
          padding: 15px 9px;
          margin-right: 30px;
          border-radius: 15px;
          box-shadow: 4.00029px 3.46692px 10.6674px rgba(0, 0, 0, 0.15);
          min-width: unset;
        }

        @media screen and (max-width: 767px) {
          margin-right: 13px;
        }

        &.active {
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 5px;
            border: 3px solid #B79B53;
            border-radius: 38px;
            @media screen and (max-width: 1440px) {
              border: 2px solid #B79B53;
              border-radius: calc(38px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              border-radius: 15px;
            }
          }
        }
        &.small-card {
          width: calc(100% * 0.234);
          padding: 18px 14px;
          flex-direction: row;
          border-radius: 20px;
          @media screen and (max-width: 1440px) {
            padding: 13.5px 10.5px;
            border-radius: calc(20px * 0.75);
          }
          &.active {
            &:after {
              border-radius: 20px;
              @media screen and (max-width: 1440px) {
                border: 2px solid #B79B53;
                border-radius: calc(20px * 0.75);
              }
            }
          }
          >img {
            height: 78px;
            max-width: 28%;
            object-fit: contain;
          }
          .image-extends {
            bottom: 14px;
            height: 24px;
            top: unset;
            @media screen and (max-width: 1440px) {
              bottom: calc(14px * 0.75);
              height: calc(24px * 0.75);
            }
          }
          .text {
            margin-left: 14px;
            margin-top: 0px;
            align-items: flex-start;
            >h4 {
              font-weight: 400;
              width: 100%;
              margin-bottom: 20px;
              text-align: left;
              letter-spacing: 0em;
              text-transform: unset;
              @media screen and (max-width: 1440px) {
                margin-bottom: calc(20px * 0.75);
              }
            }
            >h5 {
              font-weight: 700;
              text-align: left;
              margin-bottom: 0px;
            }
          }
        }
        >img {
          height: 113px;
          @media screen and (max-width: 1440px) {
            height: calc(113px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 44px;
          }
        }
        .image-extends {
          height: 24px;
          position: absolute;
          top: 20px;
          right: 20px;
          @media screen and (max-width: 1440px) {
            height: calc(24px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 9px;
            top: 7px;
            right: 7px;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 23px;
          @media screen and (max-width: 1440px) {
            margin-top: calc(23px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-top: 15px;
          }
          >h4 {
            width: 80%;
            font-size:20px;
            font-weight: 500;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            text-align: center;
            @media screen and (max-width: 1440px) {
              font-size: calc(20px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
          >h5 {
            font-size:20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            text-align: center;
            @media screen and (max-width: 1440px) {
              font-size: calc(20px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
        }
      }

      >h3 {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #0D0D0D;
        margin-bottom: calc(48px * 0.75);
      }
      .list-option {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .div-border {
          width: 29%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          border-radius: 6px;
          &.active {
            background: #B79B53;
          }
          
          .wrap {
            width: calc(100% - 8px);
            height: auto;
            margin-top: 4px;
            margin-bottom: 4px;
            position: relative;
            cursor: pointer;
            .div-bg {
              position: absolute;
              width: 100%;
              height: 100%;
              // background: #0D0D0D;
              opacity: 0.5;
              top: 0px;
              border-radius: 6px;
              @media screen and (max-width: 1024px) {
                border: none;
              }
            }
            >img {
              width: 100%;
            }
            .text {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              >h3 {
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                padding: 0px 10px;
                margin: 0px;
                text-transform: uppercase;
                line-height: 22px;
                @media screen and (max-width: 1024px) {
                  font-size: 10px;
                  padding: 0px 5px;
                  line-height: 16px;
                }
              }
              >hr {
                width: 20%;
                margin: 10px 0px;
                background: #FFFFFF;
              }
              >span {
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                @media screen and (max-width: 1024px) {
                  font-size: 10px;
                  padding: 0px 5px;
                }
              }
            }
          }
        }
        
      }
    }

    .gift-bundles {
      @media screen and (max-width: 1024px) {
        margin-bottom: 65px;
        .row {
          .col-item-product:nth-last-child(2) {
            margin-left: auto;
          } 
          .col-item-product:last-child {
              margin-right: auto;
              margin-left: auto;
          }
        }
      }
    }
  }

  .div-how-it-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: unset !important;
    margin-top: 97px !important;
    padding-top: unset !important;
    width: unset !important;
    @media screen and (max-width: 1024px) {
      margin-top: 32px !important;
    }
    >h3 {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #0D0D0D;
      margin-bottom: 70px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 50px;
      }
    }
    .list-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
        padding: 0px 15px;
      }
      .item-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        @media screen and (max-width: 1024px) {
          margin-bottom: 50px;
          width: 100%;
        }
        >img {
          height: 63px;
          @media screen and (max-width: 1024px) {
            height: 68px;
          }
        }
        >h4 {
          font-size: calc(20px * 0.75);
          text-align: center;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          margin-top: calc(27px * 0.75);
          margin-bottom: 0px;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
        >span {
          font-size: 14px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          text-align: center;
          margin-top: 15px;
        }
      }
    }
  }

  .div-create-card-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    width: unset !important;
    @media screen and (max-width: 1024px) {
      margin: 0px;
    }
    >hr {
      width: 100%;
      background: #E2E2E2;
      margin-top: 38px;
      margin-bottom: 0px;
    }
    .div-amount {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 36px 0px;
      align-items: center;
      border-bottom: 1px solid #E2E2E2;
      >h3 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #0D0D0D;
        margin-bottom: 32px;
      }
      .div-list-amount {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        @media screen and (max-width: 1024px) {
          display: flex;
          justify-content: space-evenly;
        }
        @media screen and (max-width: 767px) {
          display: -webkit-box;
          overflow-x: auto;
        }
        >div {
          position: relative;
          cursor: pointer;
          width: 256px;
          height: 165px;
          letter-spacing: 0.1em;
          font-size: 16px;
          background-repeat: none;
          background-size: cover;
          border-radius: 20px;
          @media screen and(max-width: 1440px){
            height: calc(165px * 0.75);
            width: calc(256px * 0.75);
          }
          @media screen and(max-width: 1024px){
            width: 142px;
            height: 91px;
            border-radius: 12px;
            margin-right: 24px;
          }
          &.active {
            &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              border-radius: 20px;
              border: 3px solid #B79B53;
              @media screen and (max-width: 1024px) {
                border-radius: 12px;
              }
            }
          }
          .price {
            color: #ffffff;
            position: absolute;
            bottom: 15px;
            right: 23px;
            @media screen and(max-width: 1440px){
              bottom: 0px;
              right: 10px;
            }
            >span:nth-child(1) {
              font-size: 18px;
              margin-top: 8px;
              @media screen and(max-width: 1024px){
                font-size: 14px;
              }
            }
            >span:nth-child(2) {
              font-size: 39px;
              font-weight: 600;
              @media screen and(max-width: 1024px){
                font-size: 32px;
              }
            }
          }
        }
      }
    }
    .div-purchase {
      margin-top: 72px;
      width: 100%;
      height: 56px;
      background: #0D0D0D;
      border-radius: 6px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      border: none !important;
    }
    .text-bottom {
      font-size: 14px;
      color: #0D0D0D;
      margin-top: 34.5px;
    }
  }

  .div-gift-create-perfume {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 45px;
    // margin-right: 45px;
    width: unset !important;
    @media screen and (max-width: 1024px) {
      margin: 0px;
    }
    >hr {
      width: 100%;
      background: rgba(38, 38, 38, 0.1);
      margin-top: 38px;
      margin-bottom: 0px;
    }
    .div-purchase {
      margin-top: 72px;
      width: 100%;
      height: 56px;
      background: #0D0D0D;
      border-radius: 6px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      border: none;
    }
    >span {
      font-size: 14px;
      color: #0D0D0D;
      margin-top: 34.5px;
    }
  }
  .div-input-gift {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    height: 78px;
    width: 100%;
    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
    >span {
      width: 20%;
      font-weight: 500;
      font-size: 14px;
      align-items: center;
      letter-spacing: 0.1em;
      color: #0D0D0D;
      @media screen and (max-width: 1024px) {
        width: 30%;
      }
    }
    .div-input {
      width: 80%;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1024px) {
        width: 70%;
      }
      >input {
        font-size: 16px;
        color: #0d0d0d;
        border: none;
        width: 100%;
        background: transparent;
        &::placeholder {
          color: #8D8D8D;
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
      >select {
        border: none;
        height: 23px;
        padding: 0px;
        margin-top: 0px;
        font-size: 16px;
        color: #0d0d0d;
        background: transparent;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }
      .react-datepicker-wrapper {
        width: 100%;
        .react-datepicker__input-container {
          >input {
            background: transparent;
          }
        }
        .input-border {
          border: none;
          font-size: 16px;
          color: #0d0d0d;
          @media screen and (max-width: 1024px) {
            font-size: 14px;
          }
        } 
      }
      .div-input-image {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        .div-left-input {
          display: flex;
          align-items: center;
          >img {
            height: 54px;
            width: 54px;
          }
          >span {
            font-size: 14px;
            color: #0D0D0D;
            margin-left: 13px;
          }
        }
        >button {
          background: transparent;
          padding: none;
          border: none;
          display: flex;
          align-items: center;
          >img {
            height: 14px;
            @media screen and (max-width: 1024px) {
              height: 28px;
            }
          }
          >span {
            font-size: 14px;
            display: flex;
            text-decoration-line: underline;
            color: #0D0D0D;
            margin-left: 5px;
          }
        }
      }
    }
  }

  .div-create-workshop {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    @media screen and(max-width: 1024px) {
      padding: 0px;
    }
    >hr {
      width: 100%;
      background: #E2E2E2;
      margin-bottom: 0px;
      margin-top: 62px;
      @media screen and(max-width: 1024px) {
        margin-top: 28px;
      }
    }
    .div-item-shop {
      padding: 40px 0px;
      display: flex;
      border-bottom: 1px solid #E2E2E2;
      @media screen and(max-width: 1024px) {
        padding: 20px 0px;
      }
      >img {
        width: 152px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
        @media screen and(max-width: 1024px) {
          width: 96px;
          height: 63px;
        }
      }
      .div-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        @media screen and(max-width: 1024px) {
          padding-left: 13px;
          padding-top: 0px;
          padding-right: 0px;
        }
        .div-title {
          display: flex;
          justify-content: space-between;
          >h4 {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.1em;
            color: #0D0D0D;
            margin-bottom: 0px;
            text-transform: uppercase;
            @media screen and(max-width: 1024px) {
              font-size: 12px;
            }
          }
          >span {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.05em;
            color: #0D0D0D;
            @media screen and(max-width: 1024px) {
              font-size: 10px;
            }
          }
        }
        .div-des {
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          @media screen and(max-width: 1024px) {
            margin-top: 10px;
          }
          >span {
            font-size: 14px;
            color: #0D0D0D;
            width: 70%;
            @media screen and(max-width: 1024px) {
              font-size: 12px;
            }
          }
          .icon-choose {
            width: 34px;
            height: 34px;
            background: #ffffff;
            border: 2px solid #E2E2E2;
            box-sizing: border-box;
            border-radius: 50%;
            @media screen and(max-width: 1024px) {
              width: 16px;
              height: 16px;
            }
            &.selected {
              border: 10px solid #0D0D0D;
              @media screen and(max-width: 1024px) {
                border: 5px solid #0D0D0D;
              }
            }
          }
        }
      }
    }
    .bt-shop {
      width: 100%;
      min-height: 56px;
      background: #0D0D0D;
      border-radius: 6px;
      font-weight: 500;
      margin-top: 63px;
      position: relative;
      @media screen and(max-width: 1024px) {
        min-height: 43px;
        margin-top: 75px;
      }
      >span {
        font-size: 18px;
        letter-spacing: 0.2em;
        color: #FFFFFF;  
      }
      >img {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 23px;
        transform: translateY(-50%);
        @media screen and(max-width: 1024px) {
          width: 18px;
          height: 18px;
        }
      }
    }
    .des {
      font-size: 14px;
      color: #0D0D0D;
      margin-top: 34px;
      @media screen and(max-width: 1024px) {
        margin-top: 42px;
      }
    }
  }
  // ===== End new UI =====
}

.div-product-gift-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 130px;
  position: relative;
  @media screen and (max-width: 1440px) {
    margin-top: calc(130px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    margin-top: 43px;
  }
  .div-image {
    position: relative;
    >img {
      width: 169px;
      height: 169px;
      object-fit: contain;
      object-position: center;
      cursor: pointer;
      @media screen and (max-width: 1024px){
        width: 144px;
        height: 144px;
      }
    }
    >button {
      position: absolute;
      height: 64px;
      width: 59px;
      object-fit: contain;
      background: transparent;
      border: none;
      bottom: 0px;
      left: 0px;
      z-index: 1;
      padding: 0px;
      @media screen and (max-width: 1024px){
        width: 51.5px;
        height: 54px;
      }
    }
  }
  .name {
    font-size: 24px;
    text-align: center;
    color: #152436;
    margin-top: 26px;
    @media screen and (max-width: 1440px) {
      font-size: calc(24px * 0.75);
    }
    @media screen and (max-width: 1024px){
      font-size: 14px;
    }
  }
  .add-cart {
    margin-top: 26px;
    background: transparent;
    border: none;
    color: #B79B53;
    font-weight: 500;
    font-size: 24px;
    padding: 0px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1440px) {
      font-size: calc(24px * 0.75);
    }
    @media screen and (max-width: 1024px){
      font-size: 14px;
      margin-top: 20px;
    }
    >img {
      margin-right: 8px;
    }
  }
  .info {
    font-size: 16px;
    text-align: center;
    color: #8D8D8D;
    margin-top: 5px;
    @media screen and (max-width: 1440px) {
      font-size: calc(16px * 0.75);
    }
    @media screen and (max-width: 1024px){
      font-size: 10px;
    }
  }
  .price {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #0D0D0D;
    margin-top: 7px;
    margin-bottom: 7px;
    @media screen and (max-width: 1440px) {
      font-size: calc(28px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: calc(14px);
    }
    >span:nth-child(2) {
      font-size: 10px;
      text-decoration: line-through;
      color: #8D8D8D;   
      margin-left: 5px;
    }
  }
  .price-sale-off {
    >span {
      font-size: 16px;
      text-decoration: line-through;
      color: #8D8D8D;
      @media screen and (max-width: 1440px) {
        font-size: calc(16px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        padding: 2px 10px;
        background: #0d0d0d;
        color: #ffffff;
        border-radius: 2px;
      }
    }
    >span:nth-child(2) {
      text-decoration: unset;
      color: #0d0d0d;
      margin-left: 7px;
    }
    @media screen and (max-width: 1024px) {
      position: absolute;
      top: 0px;
      right: 10px;
    }
  }
}