.gift-free {
  width: 100%;
  height: 100%;
  padding: 38px 32px;
  color: #0D0D0D;
  overflow-y: auto;
  .mb-40 {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 1024px) {
    overflow-y: unset;
    padding: 20px;
  }
  .header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    >h2, .header-h2 {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin-bottom: 0px;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
    >button {
      >img {
        height: 14px;
        @media screen and (max-width: 1024px) {
          height: 9px;
        }
      }
    }
    >span {
      font-size: 14px;
    }
  }

  .div-check {
    margin-top: 50px;
    margin-bottom: 20px;
    >img {
      width:12px;
      margin-right: 4px;
    }
    >span {
      font-size: 16px;
      font-weight: 500;
      color: #4CD964;
    }
  }

  .list-gift {
    width: 100%;
    margin-bottom: 48px;
  }

  .progress-packaging {
    align-items: center;
    .progress {
      flex: 1;
      height: 6px;
      border-radius: 42px;
      .progress-bar {
        width: 50%;
        background-color: #B79B53;
        border-radius: 42px;
      }
    }
    >img {
      margin-left: 10px;
    }
  }

  .item-gift {
    color: #0D0D0D;
    margin-top: 21px;
    background: #FFFFFF;
    border-radius: 6px;
    opacity: 0.7;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &.selected {
      border: 2px solid #B79B53;
      opacity: 1;
    }
    &:hover {
      border: 2px solid #B79B53;
      opacity: 1;
    }
    &.disabled {
      &:hover {
        border: unset;
        opacity: 0.7;
      }
    }
    .div-image {
      width: 20%;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 6px;
      >img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-height: 43px;
      }
    }
    .div-text-right {
      padding: 11px 11px 11px 0px;
      flex: 1;
      >h3, .header-h3 {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 0px;
      }
      .div-info {
        justify-content:space-between;
        align-items: center;
        .div-text {
          >span {
            font-size: 10px;
          }
        }
        >button {
          >img {
            width: 20px;
          }
        }
      }
    }
  }
}