@import "./colors";

.bg-version-2 {
  background: $Primary-10;
}
.body-text-s-regular {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  // color: $Secondary-30;
  &.l-size {
    font-size: 18px;
  }
  &.m-size {
    font-size: 16px;
  }
  &.s-size {
    font-size: 12px;
  }
  &.s-s-size {
    font-size: 10px;
  }
  &.heading {
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.other-Tagline {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $Secondary-60;
  &.s-size {
    font-size: 12px;
  }
}

.other-Input-Text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $Secondary-60;
}

.MuiPopover-root {
  .MuiPaper-root {
    border-radius: 20px;
  }
}