/*!
 * GenesisUI - Bootstrap 4 Admin Template
 * @version v1.8.12
 * @link https://genesisui.com
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license https://genesisui.com/license.html
 */

 $margin-header: 40px;
 $margin-mobile: 110px;
 .no-js {
   font-size: 16px;
   background-color: #F5ECDC;
   .container_full{
     > div{
       background: #F5ECDC;
     }
   }
   @media (max-width: 1440px) {
    font-size: 14px;
  }

  &.font-plus-2 {
    font-size: 18px;
    @media (max-width: 1440px) {
      font-size: 16px;
    }
  } 

  &.bg-yellow {
    background: #F5ECDC;
  }
 }
 
 @mixin aspect-ratio($width, $height) {
   position: relative;
 
   &:before {
     display: block;
     content: " ";
     width: 100%;
     padding-top: ($height / $width) * 100%;
   }
 }
 
 .MuiDrawer-root {
   z-index: 1049!important;
 }
 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0;
   /* <-- Apparently some margin are still there even though it's hidden */
 }
 
 input[type=number] {
   -moz-appearance: textfield;
   /* Firefox */
 }
 
 [type=button] {
   -webkit-appearance: none!important;
 }
 
//  .title-global {
//    font-size: 24px !important;
//    font-weight: 500 !important;
//    letter-spacing: 0.2em !important;
//    text-transform: uppercase !important;
//  }
 
 .div-col {
   display: flex;
   flex-direction: column;
 }
 
 .icon_size {
   width: 24px;
   height: 24px;
 }
 
 .div-row {
   display: flex;
   flex-direction: row;
 
   &_v-center {
     align-items: center;
   }
 }
 
 .disable-sroll {
   overflow-y: hidden;
 }
 
 button {
   cursor: pointer;
 }

 .bt-checkout {
  background: #0D0D0D;
  border: none;
  color: #ffffff;
  padding: 0rem 2rem;
  border-radius: 6px;
  height: 76px;
  &.disable {
    cursor: not-allowed;
  }
  &.border-mobile {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &.out-stock {
    background: #FFFFFF;
    border: 1px solid #0D0D0D;
    color: #0D0D0D;
    cursor: not-allowed;
  }
  @media screen and (max-width: 1024px) {
    height: 60px;
  }
}

 .text {
  &-filter-active {
    color: #0D0D0D!important;
    font-size: 14px;
  }
  &-filter {
    color: #E2E2E2!important;
    font-size: 14px;
  }
  &-filter-header {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  &-underline {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #E2E2E2;
  }
}
 
 .button {
   &-bg__none {
     background: transparent;
     border: none;
     padding: 0px;
   }
 
   &-padding-landing {
     padding: 1rem 3.5rem !important;
 
     @media screen and (max-width: 600px) {
       padding: 0.75rem 3.1rem !important;
     }
   }
 
   &-homepage-new {
     border: none;
     background: #0D0D0D;
     font-weight: 600;
     padding: 0rem 3.5rem;
     height: 56px;
     line-height: 56px;
     color: #ffffff;
     border-radius: 6px;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     text-align: center;
     transition: all 0.5s ease;
     &:hover {
       text-decoration: none;
       color: #ffffff;
       transition: all 0.5s ease;
     }
     @media screen and (min-width: 1800px){
       font-size: 22px;
       height: 76px;
     }
     @media screen and (max-width: 1024px){
       font-size: 14px;
       height: 46px;
       line-height: 46px;
       width: 100%;
       margin: 0px 37px;
       border: 1px solid #ffffff;
     }
     &.animated-hover {
       background: transparent;
       color: #ffffff;
       &:hover, &:active {
         background: #B79B53;
         color: #ffffff;
         -webkit-tap-highlight-color: #B79B53;
       }
       &:active {
         border: none;
       }
     }
   }
 
   &-homepage-new-2 {
     border: 2px solid #0d0d0d;
     color: #0d0d0d;
     background: #ffffff;
     padding: 0rem 2.5rem;
     border-radius: 6px;
     line-height: 56px;
     height: 56px;
     font-size: 16px;
     letter-spacing: 0.2em;
     
     @media screen and (max-width: 1024px){
       line-height: 46px;
       padding: 0rem 2.5rem;
       height: 46px;
       font-size: 14px;
       
     }
     @media screen and (min-width: 1800px){
       line-height: 76px;
       padding: 0rem 2.5rem;
       height: 76px;
       font-size: 22px;
     }
     &.animated-hover {
       background: #ffffff;
       color: #0d0d0d;
       &:hover {
         background: #B79B53;
         color: #ffffff;
         border: none;
       }
     }
   }
 
   &-homepage-new-3 {
     display: inline-block;
     height: 56px;
     line-height: 56px;
     width: 400px;
     color: #0D0D0D;
     border: 1.5px solid #0D0D0D;
     border-radius: 6px;
     background: transparent;
     text-align: center;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     font-weight: 600;
     @media screen and (max-width: 1024px){
       width: calc(100vw - 60px);
       height: 46px;
       line-height: 46px;
       font-size: 14px;
     }
     @media screen and (min-width: 1800px){
       font-size: 22px;
       height: 76px;
       line-height: 76px;
       width: 479px;
     }
     &.color-white {
       color: #ffffff;
       border: 1.5px solid #ffffff;
       &:hover {
         background: #0d0d0d;
         color: #ffffff;
         border: none;
       }
     }
   }
   &-a {
     display: inline-block;
     text-decoration: none;
     &:hover {
       text-decoration: none;
       color: #ffffff;
     }
   }
 
   &-homepage-new-3 {
     background: none;
     border-top: none;
     border-left: none;
     border-right: none;
     color: #0D0D0D;
     border-bottom: 1px solid #0D0D0D;
     padding: 0;
     &:hover{
       text-decoration: none;
     }
   }
   &-homepage-new-4 {
     position: relative;
     font-weight: 500;
     font-size: 22px;
     line-height: 36px;
     letter-spacing: 0.2em;
     color: #0D0D0D;
     // border-bottom: 2px solid #B79B53;
     width: max-content;
     @media screen and (max-width: 1440px) {
       font-size: calc(22px * 0.75);
       line-height: calc(36px * 0.75);
     }
     @media screen and (max-width: 1024px) {
       font-size: 14px;
     }
     &::after {
       content: '';
       position: absolute;
       width: 100%;
       height: 2px;
       bottom: 0px;
       left: 0px;
       background: #B79B53;
       border-radius: 1px;
       z-index: 1;
     }
     &.animated-hover {
       transition: all 0.2s ease;
       &:hover{
         color: #B79B53 !important;
         text-decoration: none;
       }
     }
   }
   &-homepage-new-5 {
     font-weight: 500;
     font-size: 20px;
     line-height: 62px;
     height: 62px;
     letter-spacing: 0.2em;
     color: #0D0D0D;
     text-transform: uppercase;
     border: 1px solid #0D0D0D;
     border-radius: 4px;
     padding: 0px 40px;
     background: #ffffff;
     @media screen and (max-width: 1440px) {
       font-size: calc(20px * 0.75);
       line-height: calc(62px * 0.75);
       height: calc(62px * 0.75);
       padding: 0px 30px;
     }
     &.animated-hover {
       transition: all 0.2s ease;
       &:hover{
         background: #0d0d0d;
         color: #ffffff;
         transform: translateY(-10px);
         text-decoration: none;
       }
     }
   }
   &-homepage-new-6 {
     font-weight: bold;
     font-size: 20px;
     line-height: 72px;
     text-align: center;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     height: 68px;
     padding: 0px 40px;
     border-radius: 4px;
     background: #ffffff;
     color: #0D0D0D;
     border: none;
     width: max-content;
     &.text-black {
       background: #0D0D0D;
       color: #ffffff;
       &.animated-hover {
         &:hover{
           background: #353535;
           color: #ffffff;
         }
       }
     }
     @media only screen and (max-width: 1440px) {
       font-size: calc(20px * 0.75);
       line-height: calc(72px * 0.75);
       height: calc(68px * 0.75);
       padding: 0px 30px;
     }
     &.animated-hover {
       transition: all 0.2s ease;
       &:hover{
         background: #DCDCDC;
         transform: translateY(-10px);
         text-decoration: none;
         color: #0D0D0D;
       }
     }
   }
 
   &-homepage-new-7 {
     color: #ffffff;
     padding: 0rem 40px;
     line-height: 66px;
     height: 66px;
     font-size: 20px;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     background: #B79B53;
     border-radius: 4px;
     text-align: center;
     border: 1px solid #B79B53;
     @media screen and (max-width: 1440px) {
       padding: 0px 30px;
       line-height: calc(66px * 0.75);
       height: calc(66px * 0.75);
       font-size: calc(20px * 0.75);
     }
     
     @media screen and (max-width: 1024px){
       line-height: 46px;
       height: 46px !important;
       font-size: 14px;
       width: calc(100vw - 37px * 2);
       &:hover {
        color: #ffffff;
        text-decoration: unset;
      }
     }
     &.animated-hover {
       transition: all 0.2s ease;
       &:hover {
         transform: translateY(-10px);
         background: #CCAF65;
         border: 1px solid #CCAF65;
       }
     }
   }
 
   &-underline {
     padding: 0px;
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid;
     background: transparent;
   }
 
   &-border-bg-whilte {
     padding: 0.5rem 1.5rem;
     border-radius: 6px;
     background: #ffffff;
     border: 1px solid #0D0D0D;
     color: #0D0D0D;
   }
   &-border-bg-black {
     padding: 0.5rem 1.5rem;
     border-radius: 6px;
     background: #0D0D0D;
     border: 1px solid #ffffff;
     color: #ffffff;
   }
 }
 
 #body {
   overflow-x: hidden;
 }
 
 .hidden {
   display: none !important;
 }
 
 * {
   font-family: Jost;
 }
 
 .f-open-sans {
   * {
     font-family: Open Sans;
   }
 }

//  .f-mirza {
//   * {
//     font-family: Mirza;
//   }
//  }

 .f-PFDinTextAR {
  * {
    font-family: PFDinTextAR;
  }
 }
 
 .cursor-pointer {
   cursor: pointer;
 }
 
 .styled-checkbox {
   position: absolute; // take it out of document flow
   opacity: 0; // hide it
 
   &+label {
     position: relative;
     cursor: pointer;
     padding: 0;
   }
 
   // Box.
   &+label:before {
     content: '';
     margin-right: 10px;
     display: inline-block;
     vertical-align: text-top;
     width: 20px;
     height: 20px;
     background: white;
   }
 
   // Box hover
   &:hover+label:before {
     background: #f35429;
   }
 
   // Box focus
   &:focus+label:before {
     box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
   }
 
   // Box checked
   &:checked+label:before {
     background: #f35429;
   }
 
   // Disabled state label.
   &:disabled+label {
     color: #b8b8b8;
     cursor: auto;
   }
 
   // Disabled box.
   &:disabled+label:before {
     box-shadow: none;
     background: #ddd;
   }
 
   // Checkmark. Could be replaced with an image
   &:checked+label:after {
     content: '';
     position: absolute;
     left: 5px;
     top: 9px;
     background: white;
     width: 2px;
     height: 2px;
     box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
     transform: rotate(45deg);
   }
 }
 
 .container-fluid {
   &.custom {
     max-width: 112.5rem;
   }
 }
 .modal-full-screen {
   width: 100% !important;
   height: 100%;
   margin: 0px !important;
   max-width: unset !important;
   .modal-content {
     width: 100%;
     height: 100%;
     background: transparent;
     .modal-body {
       padding: 0px;
       .div-custome-bottle-v3 {
         height: 100vh;
         top: 0px;
       }
     }
   }
   
 }

 .div-temp-region {
   width: 100%;
   height: 103px;
   background: #fff;
   @media screen and (max-width: 1440px) {
    height: 80px;
   }
   @media screen and (max-width: 1024px) {
    height: 90px;
   }
 }

 .modal-open .modal {
  overflow-y: hidden !important;
 }

 .header_1 {
  // font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  letter-spacing: 0.02em;
  color: #0D0D0D;
  margin-bottom: 0px;
  line-height: 48px;
  @media screen and (max-width: 1440px) {
    font-size: 33px;
    line-height: 36px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
  }
};

.header_2 {
  // font-family: Jost;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0.02em;
  color: #0D0D0D;
  margin-bottom: 0px;
  @media screen and (max-width: 1440px) {
    font-size: 27px;
    line-height: 39px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 21px;
    line-height: 30px;
  }
}

.header_3 {
  // font-family: Jost;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 27px;
  color: #0D0D0D;
  margin-bottom: 0px;
  @media screen and (max-width: 1440px) {
    font-size: 18.7px;
    line-height: 25px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 17px;
    line-height: 20px;
  }
}

.header_4 {
  // font-family: Jost;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0px;
  color: #0D0D0D;
  line-height: 23px;
  @media screen and (max-width: 1440px) {
    font-size: 14px;
    line-height: 17px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 15px;
    line-height: 19px;
  }
  &.regular {
    font-weight: 500;
  }
}

.header_5 {
  // font-family: Jost;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #0D0D0D;
  margin-bottom: 0px;
  @media screen and (max-width: 1024px) {
    font-size: 10px;
  }
}

// ios remove border
input[type=text] {   
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  
}
 
 // Override Boostrap variables
 // @import "bootstrap-variables";
 // Import Bootstrap source files
 @import "node_modules/bootstrap/scss/bootstrap";
 
 // Override core variables
 // @import "core-variables";
 // Import core styles
 // @import "core/core";
 // Import UI Kits
 // @import "uikits/uikits";
 
 @import "../includes/fonts/font-face.css";
 @import "toastr";
 // Custom styles
 @import "custom";
 @import "landing";
 @import "homepage";
 @import "moods";
 // @import 'scentItem';
 @import "login";
 @import "b2b";
 @import "b2bcapsule";
 @import "mmo";
 @import "account";
 @import "products";
 @import "academy";
 @import "workshop";
 
 // Custome mobile
 @import "custom_mobile";
 // custome tablet
 @import "custom_tablet";
 //tachyons styles
 @import "tachyons.min.css";
 //animation
 @import "animation";
 @import "rangeBar";
 
 @import 'askCookies';
 @import "_scentItemNew.scss";
 @import "selectionPerfume.scss";