.div-header-partnership .div-content .div-language .div-value .div-name > span{
  margin-left: 5px!important;
}
.div-header-partnership .div-content .div-language .div-value > img{
  height: 8px;
}
.div-header-partnership {
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  background: #ffffff;
  &.black {
    background: #000000;
  }
  .cd-cart--open > .cd-card__layout {
    height: 100vh;
    top: 0px;
  }
  .cd-card__layout {
    height: 100vh;
    top: 0px;
  }
  .button-left {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: transparent;
    border: none;
    @media screen and (max-width: 600px){
      font-size: 12px;
    }
    >img {
      margin-right: 6px;
      height: 1rem;
      @media screen and (max-width: 600px){
        height: 12px;
      }
    }
  }
  .div-content-header {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    .div-logo {
      display: inline;
      >img {
        height: 35px;
        @media screen and (max-width: 600px){
          height: 25px;
        }
      }
      >img:nth-child(2) {
        margin-left: 40px;
        @media screen and (max-width: 600px){
          margin-left: 20px;
        }
      }
    }
    .button-cart {
      background: transparent;
      border: none;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 600px){
        right: 10px;
      }
      .div-icon-cart {
        color: #0D0D0D;
        position: relative;
    
        img {
          @media screen and (max-width: 600px) {
            height: 28px;
          }
        }
    
        .cart-amount {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 20%;
          left: 85%;
          background-color: #b79b53;
          border-radius: 50%;
          z-index: 1;
          span {
            font-size: 0.875rem;
            font-weight: bold;
            color: #fff;
          }
        }
      }
    }
    .div-language {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 70px;
      width: 166px;
      height: 31px;
      @media screen and (max-width: 600px){
        width: 110px;
        height: 28px;
        right: 60px;
      }
      .div-value {
        padding: 5px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #000000;
        &.black {
          color: #ffffff;
        }
        &.border-none {
          border: none;
        }
        cursor: pointer;
        &.black {
          border: 1px solid #ffffff;
        }
        .div-name {
          display: flex;
          align-items: center;
          >img {
            height: 20px;
          }
          >span {
            font-size: 14px;
            color: #ffffff;
            &.black {
              color: #000000;
            }
          }
        }        
      }
      .dropdown-language {
        height: 100%;
        >img {
          margin-right: 2px;
          height: 9px;
        }
      }
      .div-drop-menu {
        width: 100%;
        border-radius: 0px;
        max-height: 200px;
        overflow-y: auto;
        transform: none !important;
        top: 29px !important;
        border: 1px solid #0D0D0D;
        border-top: none;
        padding: 0px;
      }
    }
  }
}