.div-image-scent-mix {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  >img {
    height: 80%;
  }
  .list-scent {
    flex: 1;
    display: flex;
    padding-left: 20px;
    @media screen and (max-width: 1024px) {
      padding-left: 14px;
    }
    &.scents-4 {
      display: inline-flex;
      flex-wrap: wrap;
    }
    &.scents-5 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .line-scent {
        display: flex;
        &.line-2 {
          padding: 0px 30px;
        }
      }
    }
    .line-scent >img,
    >img {
      width: 70px;
      height: 70px;
      border-radius: 20px;
      margin: 5px;
      @media screen and (max-width: 1440px) {
        width: calc(70px * 0.75);
        height: calc(70px * 0.75);
        border-radius: calc(20px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        width: 44px;
        height: 44px;
        border-radius: 14.8516px;
        margin: 3px;
      }
    }
  }
}