.above-card-detail-item{
     //position: relative;
     -webkit-animation-name: showHideDetailCardInfluencer; /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
     animation-name: showHideDetailCardInfluencer;
     animation-duration: 4s;
     margin-bottom:172px;
    @media (max-width: 768px) {
        margin-bottom:154px;
    }
    @media (min-width: 375px) and (max-width: 490px) {
        margin-top:76px;
    }
@-webkit-keyframes showHideDetailCardInfluencer {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes showHideDetailCardInfluencer {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
.card-detail-item {
    margin-top: 4%;
    height: 100%;
    text-align: right;
    @media (max-width: 768px) {
        left: 35%;
    }
    @media (min-width: 375px) and (max-width: 490px) {
        left: 20%;
    }

    .btn-close {
        background-color: white;
        border-radius: 14px;
        border: 1px solid #d9d9d9;
        width: 175px;
        height: 41px;
        font-size: 18px;
        position: relative;
        margin-right: 108px;
        @media (max-width: 768px) {
            width: 88px;
            height: 21px;
            font-size: 10px;
            margin-right: 108px;
        }
        @media (min-width: 375px) and (max-width: 490px) {
            width: 66px;
            height: 21px;
            font-size: 10px;
            margin-right: 20px;
        }
    }
}
}
.view-influencer-detail {
    @media (max-width: 414px) {
        margin-top: -29px;
    }
    .main-title {
        text-align: center;
        max-width: 767px;
        margin: 0 auto;
        position: relative;

        &::before {
            content: '';
            width: 114px;
            height: 2px;
            background: #000;
            position: absolute;
            top: 50%;
            left: 10%;
            margin-top: -3px;
            z-index: 0;
            opacity: 0.3;

            @media (max-width: 768px) {
                left: 15%;
                width: 101px;
            }
            
            @media (max-width: 414px) {
                width: 45px;
            }
        }

        &::after {
            content: '';
            width: 117px;
            height: 2px;
            background: #000;
            position: absolute;
            top: 50%;
            right: 10%;
            margin-top: -3px;
            z-index: 0;
            opacity: 0.3;

            @media (max-width: 768px) {
                right: 10%;
                width: 101px;
            }

            @media  (max-width: 414px) {
                width: 45px;
            }
        }

        .tit {
            display: inline-block;
            font-size: 52px;
            color: #000;
            line-height: 2em;
            position: relative;
            z-index: 1;
            padding: 0 50px;
            font-family: playFair-display-regular;  

            @media (max-width: 768px) {
                font-size: 35px;
            }
            @media (max-width: 414px) {
                font-size: 31px;
            }
        }
    }

    .slick-slider {
        .slick-list{
            @media (min-width: 769px) {
                width: 1211px;
                padding-left: 34px;
                padding-right: 34px;
                margin-left: 28px;
            } 
       
            @media (max-width: 414px) {
                margin-bottom: 20px;
            }      
        }
        .slick-slide {     
            >div {
                padding-top: 5%;
                @media (max-width: 768px) {
                    padding: 0 10px;
                }

                .carousel-item {
                    .item-img {
                        border-radius: solid 4px;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        img {
                            width: 90%;
                            height: 185px;
                            display: block;
                            border-radius: 9%;
                            -webkit-border-radius: 9%;
                            object-fit: cover;
                            @media (max-width: 768px) {
                                height: 124px;
                                width: 100%;
                            }
                            @media (max-width: 414px) {
                                height: 107px;
                                border-radius: 19px;
                            }
                        }

                        figure {
                            margin: 0 0.5rem;
                        }

                        .item-caption {
                            >p{
                                font-family: playFair-display;
                                position: absolute;
                                font-style: normal;
                                width: 80%;
                                margin: auto;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                font-size: 17px;
                                color: #fff;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 700;
                                @media (max-width: 768px) {
                                    font-size: 15px;
                                }
                                @media (max-width: 768px) {
                                    font-size: 13px;
                                }
                            }
                           
                        }
                    }

                    .item-price {                  
                        p {
                            text-align: center;
                            font-size: 17px;
                            font-weight: 700;
                            color: #747070;
                            line-height: 1.5em;
                            margin: 10px 0 0 -30px;
                            font-family: ptSan-font;
                            letter-spacing:0.8px;
                            @media (max-width: 768px) {
                                font-size: 15px;
                                margin: 10px 0 0 0px;
                            }
                            @media (max-width: 414px) {
                                font-size: 14px;
                                margin: 5px 0 8px 0px;
                            }
                          
                        }
                    }
                }
            }
        }
        .slick-arrow {
            top:41%!important;
            margin-top:0px!important;
            @media (max-width: 768px) {
                top:36%!important;
            }

            &.slick-prev {
                left: 0;
             
                @media (max-width: 768px) {
                    width: 55px!important;
                    height: 30px!important;
                    margin-left: -26px!important;
                }
                @media (max-width: 414px) {
                    margin-left: -24px!important;
                    width: 50px!important;           
                }

                &::before {
               
                    @media (max-width: 768px) {
                        width: 55px!important;
                    }
                    @media (max-width: 414px) {
                        width: 50px!important;
                        height: 30px!important;
                    }
                }
            }

            &.slick-next {
                right: 0;
                @media (max-width: 768px) {
                    width: 55px!important;
                    height: 30px!important;
                    margin-right: -26px!important;
                }
                @media (max-width: 414px) {
                    margin-right: -24px!important;
                    width: 50px!important;
                   
                }
                &::before {
                    
                    @media (max-width: 768px) {
                        width: 55px!important;
                        height: 30px!important;
                    }
                    @media (max-width: 414px) {
                        width: 50px!important;
                     
                    }
                }
            }
        }

    }
}