.influencer-detail-new {
  // margin-top: 227px;
  @media (max-width: 1440px) {
    // margin-top: 170px;
  }
  @media (max-width: 1024px) {
    // margin-top: 86px;
  }
  .div-block-1 {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px){
      flex-direction: column;
    }
    .div-left, .div-right {
      width: 50%;
      min-height: calc(100vw/2*920/1100);
      position: relative;
      @media screen and (max-width: 768px){
        width: 100%;
        height: calc(100vw*237/409);
      }
    }
    .div-left {
      .full-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .div-text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: #ffffff;
        background: rgba($color: #000000, $alpha: 0.5);
        padding: 30px 20px;
        h5 {
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          @media screen and (max-width: 768px){
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2em;
          }
        }
        span {
          letter-spacing: 0.2em;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 21px;
          @media screen and (max-width: 768px) {
            font-size: 8px;
            line-height: 11px;
          } 
        }
        .icon {
          height: 1rem;
          cursor: pointer;
        }
      }
    }
    .div-right {
      color: #0D0D0D;
      align-items: center;
      @media screen and (max-width: 768px){
        height: auto;
      }
      >h1 {
        font-weight: 300;
        font-size: 53px;
        @media screen and (max-width: 768px) {
          font-size: 24px;
          line-height: 32px;
          margin-top: 22px;
          margin-bottom: 0px;
        }
      }
      >h3 {
        font-weight: 300;
        font-size: 43px;
        line-height: 58px;
        @media screen and(max-width: 768px){
          visibility: hidden;
          height: 0px;
        }
      }
      .title-product {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-top: 30px;
        @media screen and(max-width: 768px){
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          margin-top: 0rem;
        }
      }
      .sub-title-product {
        text-transform: uppercase;
        color: #8D8D8D;
        letter-spacing: 0.2em;
        font-size: 12px;
        line-height: 16px;
        @media screen and(max-width: 768px){
          font-weight: 600;
          font-size: 10px;
          line-height: 14px;
        }
      }
      .div-product {
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 30px;
        cursor: pointer;
        @media screen and(max-width: 768px){
          margin-top: 30px;
        }
      }
    }
  }

  .items-product-influencer {
    height: 340px;
    width: 300px;
    position: relative;
    &.big {
      height: 408px;
      width: 360px;
    }
    @media screen and (max-width: 768px){
      height: 181px;
      width: 160px;
      &.big {
        height: 217px;
        width: 192px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      height: 340px;
      width: 300px;
      position: relative;
      &.big {
        height: 408px;
        width: 360px;
      }
    }
    .image {
      height: 80%;
      width: 100%;
      padding: 20px 0px;
      >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
       
      }
    }
    .div-text {
      >h6{
        font-size: 1rem;
        color: #0D0D0D;
        font-weight: 300px;
        letter-spacing: 0.2em;
        @media screen and (max-width: 768px){
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 0px;
        }
      }
      >span {
        color: #8D8D8D;
        font-size: 12px;
        line-height: 16px;
        @media screen and (max-width: 768px){
          font-size: 10px;
          line-height: 14px;
        }
      }
      .text-price {
        @media screen and (max-width: 768px){
          font-size: 14px;
          line-height: 14px;
          margin-top: 10px;
          color: #0D0D0D;
        }
      }
    }

    .div-hover {
      color: #ffffff;
      background: rgba($color: #000000, $alpha: 0.5);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      transition: all 0.2s;
      > div {
        visibility: hidden;
      }
      &:hover{
        opacity: 1;
        transition: all 0.2s;
        > div {
          visibility: visible;
        }
        @media screen and (max-width: 600px){
          opacity: 0;
          > div {
            visibility: hidden;
          }
        }
      }
      .div-text {
        flex: 1;
        >h3 {
          font-size: 1.5rem;
          margin-top: 30px;
          @media screen and (max-width: 768px){
            font-size: 12px;
            line-height: 16px;
          }
        }
        .mid {
          >h6 {
            font-size: 1rem;
            @media screen and (max-width: 768px){
              font-size: 10px;
            }
          }
          >span {
            font-size: 0.8rem;
            @media screen and (max-width: 768px){
              font-size: 8px;
            }
          }
        }
        .price {
          > h5 {
            font-size: 0.8rem;
            font-weight: 700;
            @media screen and (max-width: 768px){
              font-size: 10px;
            }
          }
          > h2 {
            font-size: 1.1rem;
            font-weight: 700;
            @media screen and (max-width: 768px){
              font-size: 12px;
            }
          }
        }
      }
      .div-button {
        >button:nth-child(1) {
          font-size: 1rem;
          width: 100%;
          padding: 0.7rem 0px;
          background: #0D0D0D;
          border: none;
          color: #ffffff;
          @media screen and (max-width: 768px){
            font-size: 12px;
          }
        }
        >button:nth-child(2) {
          font-size: 0.8rem;
          width: 100%;
          padding: 0.4rem 0px;
          background: #B79B53;
          border: none;
          color: #ffffff;
          @media screen and (max-width: 768px){
            font-size: 10px;
          }
        } 
      }
    }
  }

  .div-block-2 {
    padding: 180px 20px;
    color: #0D0D0D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
      flex-direction: column;
      padding: 0px;
      margin:50px 0px;

    }
    .div-text, .div-video {
      width: 50%;
      @media screen and (max-width: 768px){
        width: 100%;
      }
    }
    .div-text {
      @media screen and (max-width: 768px){
        margin-top: 30px;
        text-align: center;
        padding: 0px 20px;
      }
      h2 {
        font-size: 60px;
        margin-bottom: 40px;
        @media screen and (max-width: 768px){
          font-size: 24px;
          line-height: 32px;
        }
      }
      span {
        font-size: 18px;
        @media screen and (max-width: 768px){
          font-size: 12px;
          line-height: 150%;
        }
      }
    }
  }

  .div-block-3 {
    display: flex;
    flex-direction: column;
    color: #0D0D0D;
    .div-header {
      display: flex;
      flex-direction: column;
      letter-spacing: 0.2em;
      padding: 50px 80px;
      width: 100%;
      @media screen and (max-width: 768px){
        padding: 50px 15px;
      }
      >h2 {
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0.2em;
        @media screen and (max-width: 768px){
          font-size: 20px;
          line-height: 27px;
        }
      }
      >span {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 30px;
        @media screen and (max-width: 768px){
          margin-top: 10px;
          font-size: 10px;
          width: 60%;
          line-height: 14px;
          letter-spacing: 0.2em;
        }
      }
    }
    //menu influencer
    .div-menu-influencer {
      display: flex;
      flex-direction: row;
      height: 80px;
      justify-content: center;
      padding: 0px 50px;
      border-bottom: 1px solid #D8D8D8;
      position: relative;
      @media screen and (max-width: 768px){
        height: 76px;
        padding: 0px 15px;
      }
      .menu-left-influencer {
        display: flex;
        flex-direction: row;
        flex: 1;
        @media screen and (max-width: 768px){
          visibility: hidden;
          width: 0px;
        }
        .button-text {
          margin: 0px 25px;
          color: #8D8D8D;
          &.active {
            color: #0D0D0D;
          }
        }
      }
      
      .menu-right-influencer {
        display: flex;
        flex-direction: row;
        width: auto;
        position: relative;
        @media screen and (max-width: 768px){
          width: 100%;
        }
        .dropdown-menu-influencer {
          margin-right: 25px;
          .drop-down-items {
            margin-top: 27px;
            color: #8D8D8D;
            border-bottom: 2px solid #C4C4C4;
            cursor: pointer;
            >img {
              margin-left: 5px;
            }
          }
          .drop-down-item {
            width: 250px;
            margin: 5px 0px;
            cursor: pointer;
          }
        }
        >button {
          margin: 0px 25px;
          color: #8D8D8D;
          &.active {
            color: #0D0D0D;
          }
          @media screen and (max-width: 768px){
            visibility: hidden;
            margin: 0px;
            padding: 0px;
          }
        }
      }
      .div-detail-filter {
        position: absolute;
        width: 100%;
        padding: 30px 75px;
        .div-content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .item-sub-filter {
            >h2 {
              font-size: 20px;
              padding: 5px 0px;
            }
          }
        }
      }
    }

    //list product
    .div-list-product {
      .col {
        padding: 0px;
        margin: 15px 0px;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      .div-button-more {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px){
          margin: 40px 0px 80px 0px;
        }
        >button {
          width: 70%;
          background: #ffffff;
          border: 1px solid #0D0D0D;
          border-radius: 6px;
          padding: 5px 0px;
          @media screen and (max-width: 768px){
            padding: 10px 0px;
            width: 90%;
          }
          .div-style-button {
            position: relative;
            font-size: 0.8rem;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            >img {
              height: 10px;
              position: absolute;
              top: 50%;
              right: 30px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
  .div-block-4 {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 100px;
    @media screen and (max-width: 768px){
      margin-top: 0px;
    }
    .block-div-text {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      >img {
        width: 100%;
        object-fit: contain;
        object-position: center;
        height: min-intrinsic;
        @media screen and (max-width: 768px){
          width: 100%;
        }
      }
    }
    .div-image {
      position: relative;
      height: 550px;
      margin-top: 100px;
      width: 100%;
      @media screen and (max-width: 768px){
        height: 155px;
      }
      >img {
        object-fit: cover;
        object-position: center;
      }
      >img:nth-child(1) {
        position: absolute;
        top: 0px;
        height: 550px;
        width: 350px;
        @media screen and (max-width: 768px){
          width: 100px;
          height: 155px;
        }
      }
      >img:nth-child(2) {
        position: absolute;
        width: 550px;
        height: 350px;
        bottom: 0px;
        right: 23%;
        @media screen and (max-width: 768px){
          width: 138px;
          height: 80px;
        }
      }
      >img:nth-child(3) {
        position: absolute;
        height: 500px;
        width: 350px;
        bottom: 50px;
        right: 0px;
        @media screen and (max-width: 768px){
          height: 140px;
          width: 100px;
          right: 0px;
          bottom: 20px;
        }
      }
      >img:nth-child(4) {
        position: absolute;
        height: 550px;
        width: 495px;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 768px){
          height: 114px;
          width: 127px;
          top: -30px;
        }
      }
      >img:nth-child(5) {
        position: absolute;
        height: 300px;
        width: 280px;
        bottom: 50px;
        left: 75px;
        @media screen and (max-width: 768px){
          height: 90px;
          width: 85px;
          bottom: 20px;
        }
      }
    }
  }
}