@keyframes animateBanel {
  from {top: 110px;}
  to {top: 0px;}
}

@keyframes animateOpacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.div-bg-full {
  position: fixed;
  z-index: 998;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
}
.div-ingredient-detail {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: calc(100vh);
  // height: calc(100vh - 70px);
  // margin-top: 70px;
  // background: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  // background: #0d0d0d80 !important;
  &.full {
    height: 100vh !important;
    margin-top: 0px !important;
    // transition: all 0.6s;
    .div-banel {
      position: fixed;
      top: 0px;
      left: 0px;
      // animation: animateBanel 0.2s
    }
  }
  &.full-ios {
    // height: 100vh !important;
    margin-top: 0px !important;
    // transition: all 0.6s;
    .div-banel {
      position: fixed;
      top: 0px;
      left: 0px;
      // animation: animateBanel 0.2s
    }
  }
  &.min-top-height {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
  &.boder-none {
    .div-banel {
     border-radius: 0px;   
    }
  }
  &.hidden {
    z-index: -1;
    opacity: 0;
    @media screen and (max-width: 600px){
      align-items: flex-end;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    @media (min-width: 768px) and (max-width: 1024px){
      align-items: flex-end;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
  &.show {
    // opacity: 1;
    z-index: 99;
  }
  &.detail-min {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    .div-banel {
      width: 100%;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
  }
  &.text-big-size {
    .div-banel {
      .div-text {
        >h2 {
          font-size: 50px;
        }
      }
      >span {
        font-size: 18px;
      }
    }
    .div-content {
      .div-info-v2 {
        .div-title {
          >span {
            font-size: 14px;
          }
        }
        .div-image {
          >span {
            font-size: 14px;
          }
          #span-1 {
            font-size: 14px;
          }
          #span-2 {
            font-size: 14px;
          }
          #span-3 {
            font-size: 14px;
          }
        }
      }
      .div-about {
        >h6 {
          font-size: 14px;
        }
        >span {
          font-size: 16px;
        }
      }
      .div-benefits {
        >h6 {
          font-size: 14px;
        }
        .benefits {
          >span {
            font-size: 16px;
          }
        }
      }
    }
  }

  &.detail-min-mobile {
    display: block;
    position: relative;
    .div-banel {

    }
    .div-content {
      height: calc(100vh - 224px);
      overflow-y: auto;
      flex: 1;
      .wrap-header {
        margin-top: 0px;
        height: 100%;
        .div-info-v2 {
          .div-strength {
            width: 100%;
            margin: 0px 0px 20px 0px;
            .div-title {
              margin-bottom: 0px;
            }
            .div-image {
              >span {
                bottom: 13%;
              }
            }
          }
          .div-duration {
            width: 100%;
            margin: 0px 0px 20px 0px;
            .div-title {
              margin-bottom: 0px;
            }
            .div-image {
              width: 50%;
              >span {
                bottom: -17px;
                width: 100%;
                text-align: center;
              }
            }
          }
          .div-persinal-image {
            width: 50%;
            margin: 0px 0px 20px 0px;
            .div-title {
              margin-bottom: 0px;
            }
            .div-image {
              >span {
                bottom: 13%;
              }
              #span-1 {
                bottom: 2%;
              }
              #span-2 {
                left: 17%;
                top: 17%;
              }
              #span-3 {
                right: 17%;
                top: 17%;
              }
            }
          }
          .div-evolution {
            margin-top: 30px;
            
            .div-title {
              margin-bottom: 0px;
              z-index: 1;
              
            }
            .div-image {
              margin-top: -40px;
              >span {
                bottom: 18%;
              }
            }
          }
        }
      }
    }
    .div-list-button {
      width: 100%;
      padding: 30px 15px;
      justify-content: center;
      background: #fff;
      >button {
        min-width: calc((100% - 30px)/2);
      }
    }
  }
  
  .bt-close {
    position: absolute;
    top: 78px;
    left: 145px;
    z-index: 2;
    >img {
      width: 35px;
      height: 35px;
      padding: 8px;
    }
    @media screen and (max-width: 600px){
      top: 10px;
      left: 10px;
      >img {
        width: 35px;
        height: 35px;
        padding: 8px;
      }
    }
    @media (min-width: 768px) and (max-width: 1024px){
      top: 15px;
      left: 15px;
      >img {
        width: 35px;
        height: 35px;
        padding: 8px;
      }
    }
  }
  .div-banel {
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 140px;
    width: calc(100vw - 280px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 140px;
    @media screen and (max-width: 600px){
      height:120px;
      top: unset;
      bottom: unset;
      width: 100%;
      left: unset;
      position: relative;
      border-radius: 0px;
    }
    @media (min-width: 768px) and (max-width: 1024px){
      height:200px;
      top: auto;
      bottom: unset;
      width: 100%;
      left: unset;
      position: relative;
      border-radius: 0px;
    }
    .bt-close-mobile {
      position: absolute;
      top: 0px;
      right: 0px;
      border: none;
      padding: 5px;
      border-bottom-left-radius: 6px;
      background: #ffffff;
      >img {
        width: 22px;
      }
    }
    .div-text {
      >h2 {
        font-weight: 300;
        font-size: 48px;
        letter-spacing: 0.1em;
        font-weight: 500;
        color: #FFFFFF;
        margin: 0px;
        @media screen and (max-width: 600px){
          font-size: 32px;
        }
      }
    }
    >span {
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-top:5px; 
      @media screen and (max-width: 600px){
        font-size: 14px;
        margin-top: 12px;
      }
    }
  }
  .div-content {
    width: calc(100vw - 280px);
    height: calc(100vh - 250px);
    padding-top: 160px;
    position: relative;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
      height: 100%;
      padding-top: unset;
  }
    
    // &.show-content {
    //   height: auto;
    // }
    // &.hidden-content {
    //   height: 0px;
    // }
    @media screen and (min-width: 600px){
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #ffffff;
      }
      &::-webkit-scrollbar-thumb {
        background-color :#0D0D0D;
        border-radius: 33px;
      }
    }

    @media (min-width: 768px) and (max-width: 1024px){
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #ffffff;
      }
      &::-webkit-scrollbar-thumb {
        background-color :#0D0D0D;
        border-radius: 33px;
      }
    }
    
    @media screen and (max-width: 600px){
      width: 100vw;
      height: 100%;
      box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 768px) and (max-width: 1024px){
      width: 100vw;
      height: 100%;
      box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .wrap-header {
      @media screen and (max-width: 600px){
        border: none;
        margin-top: 48px;
      }
      @media (min-width: 768px) and (max-width: 1024px){
        border: none;
        margin-top: 48px;
      }
    }

    .div-video-ingredient {
      width: 50%;
      margin: 60px auto;
      @media screen and (max-width: 1024px){
        width: calc(100% - 64px);
        margin-top: 0px;
      }
      .video-react-controls-enabled {
        >video {
          border-radius: 8px;
        }
      }
    }
    // .div-banel {
    //   position: relative;
    //   height: 197px;
    //   width: 100%;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   background-position: center;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   @media screen and (max-width: 600px){
    //     height:200px;
    //   }
    //   @media (min-width: 768px) and (max-width: 1024px){
    //     height:200px;
    //   }
    //   .div-text {
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     height: 100%;
    //     >h2 {
    //       font-weight: bold;
    //       font-size: 54px;
    //       text-align: center;
    //       letter-spacing: 0.2em;
    //       text-transform: uppercase;
    //       color: #ffffff;
    //       margin: 0px;
    //       @media screen and (max-width: 600px){
    //         font-size: 26px;
    //         line-height: 35px;
    //       }
    //     }
    //   }
    //   >span {
    //     font-size: 24px;
    //     color: #ffffff;
    //     padding: 18px;
    //     width: 100%;
    //     text-align: center;
    //     background: rgba($color: #0D0D0D, $alpha: 0.5);
    //     @media screen and (max-width: 600px){
    //       font-size: 16px;
    //       padding: 10px;
    //     }
    //   }
    // }
    .div-info-v2 {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      .div-persinal-image {
        width: 70%;
        .div-image {
          >span {
            position: absolute;
            bottom: 20%;
          }
        }
      }
      .div-evolution {
        width: 100%;
        @media screen and (max-width: 1024px) {
          margin-top: 50px;
        }
        .div-image {
          width: 100%;
          font-size: 12px;
          font-weight: 500;
          >span {
            position: absolute;
            bottom: 20%;
            transform: translateX(-50%);
            animation: animateOpacity 2s;
            opacity: 1;
            font-weight: 300;
          }
          >span:nth-child(2) {
            left: 23%;
          }
          >span:nth-child(3) {
            left: 39%;
          }
          >span:nth-child(4) {
            left: 58%;
          }
          >span:nth-child(5) {
            left: 78%;
          }
        } 
      }
      .div-duration {
        width: 70%;
        @media screen and (max-width: 1024px) {
          margin-top: 50px;
          margin-bottom: 50px;
        }
        .div-image {
          font-size: 12px;
          color: #0D0D0D;
          font-weight: 300;
          width: 83%;
          >span {
            position: absolute;
            animation: animateOpacity 2s;
            opacity: 1;
            left: 50%;
            bottom: 15%;
            transform: translateX(-50%);
          }
        }
      }
      .div-strength {
        width: 70%;
        @media screen and (max-width: 1024px) {
          margin-top: 50px;
          margin-bottom: 50px;
        }
        .div-image {
          font-size: 12px;
          color: #0D0D0D;
          font-weight: 300;
          width: 83%;
          >span {
            position: absolute;
            animation: animateOpacity 2s;
            opacity: 1;
          }
          >span:nth-child(2) {
            left: 5%;
            bottom: 15%;
          }
          >span:nth-child(3) {
            right: 5%;
            bottom: 15%;
          }
          >span:nth-child(4) {
            bottom: 30%;
            right: 26%;
            font-size: 16px;
          }
        }
      }
      .div-title {
        width: 230px;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (max-width: 600px){
          width: 100%;
          margin-bottom: 15px;
        }
        >span {
          width: 100%;
          text-align: center;
          font-weight: 300;
          letter-spacing: 0.1em;
          font-size: 12px;
          text-transform: uppercase;
          color: #0D0D0D;

          @media screen and (max-width: 600px){
            font-size: 12px;
          }
        }
      }
      .div-image {
        position: relative;
        width: 75%;
        #span-1 {
          position: absolute;
          left: 50%;
          bottom: 6%;
          transform: translateX(-50%);
          font-weight: 300;
          font-size: 12px;
          animation: animateOpacity 2s;
          opacity: 1;
          letter-spacing: 0.01rem;
        }
        #span-2 {
          position: absolute;
          left: 20%;
          top: 20%;
          font-weight: 300;
          font-size: 12px;
          animation: animateOpacity 2s;
          opacity: 1;
          letter-spacing: 0.01rem;
        }
        #span-3 {
          position: absolute;
          right: 20%;
          top: 20%;
          font-weight: 300;
          font-size: 12px;
          animation: animateOpacity 2s;
          opacity: 1;
          letter-spacing: 0.01rem;
        }
      }
      
    }
    .div-info {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      .item-ingredient {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        @media screen and (max-width: 600px){
          margin-bottom: 50px;
          margin-left: 30px;
          margin-right: 30px;
        }
        
        .div-title {
          width: 230px;
          text-align: center;
          margin-bottom: 20px;
          @media screen and (max-width: 600px){
            width: 100%;
            margin-bottom: 15px;
          }
          >span {
            width: 100%;
            text-align: center;
            font-weight: 300;
            letter-spacing: 0.1em;
            font-size: 12px;
            text-transform: uppercase;
            color: #030202;

            @media screen and (max-width: 600px){
              font-size: 12px;
            }
          }
        }
        >img {
          // width: 230px;
          height: 168px;
          @media screen and (max-width: 600px){
            width: 100%;
            height: auto;
          }
          @media (min-width: 768px) and (max-width: 1024px){
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .div-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 80px 200px 0px 200px;
      @media screen and (max-width: 600px){
        flex-direction: column;
        margin: 40px 40px 0px 40px;
      }
      @media (min-width: 768px) and (max-width: 1024px){
        flex-direction: column;
        margin: 40px 40px 0px 40px;
      }
      .div-item-detail {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 600px){
          margin-top: 30px;
        }
        @media (min-width: 768px) and (max-width: 1024px){
          margin-top: 30px;
        }
        .div-title {
          border-bottom: 1px solid #E2E2E2;
          >h6 {
            font-weight: 600;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-size: 14px;
          }
          @media screen and (max-width: 600px){
            font-size: 12px;
          }
        }
        .div-list {
          margin-top: 10px;
          .item-list {
            display: flex;
            flex-direction: row;
            color: #0D0D0D;
            align-items: center;
            margin: 7px 0px;
            .point {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #0D0D0D;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .div-logo {
      margin-bottom: 70px;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      @media screen and (max-width: 1024px) {
        width: calc(100% - 94px);
        margin-bottom: 150px;
      }
    }

    .div-about {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0px 44px;
      margin: auto;
      >h6 {
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 34px;
      }
      >span {
        font-size: 14px;
        color: #0D0D0D;
        text-align: center;
        font-weight: 300;
      }
      
    }

    .div-benefits {
      margin: 47px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      >h6 {
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #0D0D0D;
      }
      .benefits {
        width: 90%;
        margin: 34px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 1024px){
          padding: 0px 20px;
          width: 100%;
          margin: 20px 0px;
        }
        
        >span {
          font-size: 14px;
          color: #0D0D0D;
          margin: 0px 39px;
          white-space: nowrap;
          line-height: 30px;
          font-weight: 300;
          @media screen and (max-width: 1024px){
            margin: 0px 10px;
          }
          >i {
            color: #B79B53;
          }
        }
      }
      
    }
    .div-bt-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 1024px) {
        width: calc(100% - 160px);
      }
      >h2 {
        font-weight: 300;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 34px;
      }
      >button {
        width: 100%;
        height: 62px;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 0.2em;

        color: #0D0D0D;
        border: 1px solid #0D0D0D;
        border-radius: 5px;
        background: #FFFFFF !important;
        @media screen and (max-width: 1024px){
          font-size: 14px;
          height: 43px;
        }
        &:hover {
          background: #0D0D0D !important;
          color: #FFFFFF !important;
          border: none;
        }
      }
    }

    .div-bt-footer-mobile {
      display: flex;
      margin: 0px 20px;
      margin-bottom: 100px;
      justify-content: center;
      >button {
        padding: 0.8rem 2rem;
        font-size: 14px;
        border: 1px solid #0D0D0D;
        border-radius: 6px;
        background: #ffffff;
        color: #0D0D0D;
        font-weight: 300;
        text-transform: uppercase;
        &:active{
          background: #0D0D0D;
          color: #ffffff;
        }
      }
    }
  }
}