.join-team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  @media screen and (max-width: 1440px) {
    margin-bottom: 75px;
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }
  .header_2 {
    margin-bottom: 50px;
    @media screen and (max-width: 1440px) {
      margin-bottom: calc(50px * 0.75px);
    }
    @media screen and (max-width: 1440px) {
      margin-bottom: 30px;
    }
  }
  .header_4 {
    text-align: center;
  }
  >button {
    height: 68px;
    padding: 0px 63px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #0D0D0D;
    border-radius: 4.94156px;
    border: none;
    @media screen and (max-width: 1440px) {
      font-size: calc(22px * 0.75);
      height: calc(68px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 14px;
      height: 46px;
      width: calc(100vw - 37px * 2);
      padding: unset;
    }
  }

}