.message-menu {
  background: #000;
  color: #fff;
  height: 40px;
  max-height: 40px;
  z-index: 9;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  .header_4 {
    color: #fff;
  }
}
.custome-message {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .slick-list {
    .slick-slide {
      .text-message {
        .rich-text {
          >p >a {
            color: #B79B53;
          }
        }
      }
    }
  }
  > .slick-arrow {
    position: absolute;
    border: none;
    outline: none;
    padding: 0;
    top: 50%;
    left: 0;
    display: none;
    background: none;
    height: 20px;
    width: 20px;
    transform: translateY(-50%);
  }
  .bt-arrow-menu {
    position: absolute;
    border: none;
    outline: none;
    padding: 0;
    background: black;
    height: 20px;
    width: 20px;
    > i {
      color: #fff;
    }
    &-right {
      right: 22%;
      @media (min-width: 768px) and (max-width: 1024px) {
        right: 17%;
      }
      @media only screen and (max-width: 600px) {
        right: 6%;
      }
    }
    &-left {
      left: 22%;
      z-index: 2;
      @media (min-width: 768px) and (max-width: 1024px) {
        left: 17%;
      }
      @media only screen and (max-width: 600px) {
        left: 6%;
      }
    }
  }
}

.region {
  padding: 0rem 1.375rem;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 90%;
  border-left: 1px solid #1E1E1E;
  border-right: 1px solid #1E1E1E;
}
