.div-mmo-gift{
  display: flex;
  flex-direction: column;
  align-items: center;
  .div-header-mmo-gift {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    margin-top: 46px;
    position: relative;
    width: 100%;
    > h1 {
      font-size: 34px;
      display: flex;
      text-align: center;
      color: #0D0D0D;
      margin-bottom: 0px;
      @media screen and (max-width: 1440px){
        font-size: calc(34px * 0.75);
      }
    }
  }
  .button-back {
    position: absolute;
    left: 105px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8D8D8D;
    background: transparent;
    border: none;
    padding: 0px;
    display: flex;
    align-items: center;
    >img {
      margin-right: 8px;
    }
  }
  .div-card-mmo-gift {
    width: 100%;
    .div-create-perfume-adapt {
      margin: 0px 97px 60px 97px;
      // height: calc((100vw - 194px) * 0.5);
      @media screen and(max-width: 1024px){
        margin: 0px 15px 60px 15px;
      }
    }
    .div-right .slick-slider .div-cutome-bottle {
      // height: calc((100vw - 194px) * 0.5) !important;
    }
  }

  // component search
  .div-filter-search-scent {
    display: flex;
    flex-direction: row;
    .div-filter {
      margin-right: 26px;
      .header-filter {
        >span {
          font-size: 16px;
          color: #0D0D0D;
          cursor: pointer;
        }
        >img {
          margin-left: 8px;
        }
      }
      .dropdown-item-filter {
        padding: 12px 38px;
        >span {
          font-size: 18px;
          color: #152436;
          cursor: pointer;
        }
      }
      .dropdown-menu {
        width: 261px !important;
        left: -95px !important;
        transform: translate3d(0px, 30px, 0px) !important;
      }
    }
    .div-search {
      >button {
        background: transparent;
        border: none;
        font-size: 16px;
        color: #0D0D0D;
      }
      >input {
        width: 120px;
        border: none;
        border-bottom: 1px solid;
        margin-left: 5px;
        font-size: 16px;
        color: #0D0D0D;
      }
    }
  }
  .div-filter-search-scent-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    position: relative;
    >button {
      background: transparent;
      border: none;
      font-weight: 500;
      font-size: 16px;
      color: #0D0D0D;
      >img {
        margin: 0px 7px;
      }
    }
  }
  .div-popup-filter-search {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div-popup-filter, .div-popup-search {
      width: calc(100vw - 30px);
      height: auto;
    }
    .div-popup-filter {
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      >button {
        font-size: 18px;
        color: #152436;
        background: transparent;
        border: none;
        margin: 0px;
        padding: 13px 38px;
      }
    }
  }
}