.div-modal-payment {
  width:100%;
  height: 100%;
  background: #88000000;
  display: flex;
  justify-content: center;
  align-items: center;
  .div-content {
    position: relative;
    width: calc(100% - 480px);
    height: calc(100vh - 100px);
    background: #ffffff;
    border-radius: 20px;
    @media screen and (max-width: 1024px) {
      width: 100vw;
      height: 100vh;
      border-radius: 0px;
    }
    .div-content-scroll {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      .bt-close {
        position: absolute;
        top: 31px;
        left: 31px;
        >img {
          width: 25px;
        }
      }
      .div-content-payment {
        padding: 60px 91px 47px 91px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1024px) {
          padding: 40px 20px 0px 20px;
          margin-bottom: 30px;
        }
        .div-header-mobile {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 59px;
          >h3 {
            width: 80%;
            font-size: 18px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
          }
          .bt-close {
            position: relative;
            width: 19px;
            top: unset;
            left: unset;
          }
        }
        >h3 {
          font-weight: 500;
          font-size: 22px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #0D0D0D;
          margin-bottom: 59px;
        }  
        .list-payment-save {
          display: -webkit-box;
          overflow-x: auto;
          margin-bottom: 20px;
          width: 100%;
        }    
        .grid-payment {
          display: grid;
          grid-template-columns: auto;
          width:100%;
          .item {
            border: 1px solid #E2E2E2;
          }
        }
      }
      >hr {
        background: #E2E2E2;
        margin-top:0px;
        margin-bottom: 44px;
        width: 100%;
        height: 1px;
      }
      .bt-confirm {
        background: #0D0D0D;
        border: none;
        border-radius: 6px;
        color: #ffffff;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        line-height: 43px;
        width: 276px;
        margin: auto;
      }
      .bt-cancel {
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #0D0D0D;
        margin-bottom: 39px;
        margin-top: 10px;
      }
    }
  }
}