.modal-picture {
  width: 1174px;
  height: 788px;
  min-width: 1174px;
  min-height: 788px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0px;
  @media screen and (max-width: 1440px) {
    width: calc(1174px * 0.75);
    height: calc(788px * 0.75);
    min-width: calc(1174px * 0.75);
    min-height: calc(788px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 30px);
    height: calc((100vw - 30px) * 0.75);
    min-width: calc(100vw - 30px);
    min-height: calc((100vw - 30px) * 0.75);
  }
  .modal-picture-body {
    padding: 30px 64px 56px 64px;
    @media screen and (max-width: 1440px) {
      padding: 22.5px 48px 42px 48px;
    }
    @media screen and (max-width: 1024px) {
      padding: 8px 18px 42px 16px;
    }
    .bt-close {
      >button {
        border: none;
        background: transparent;
        width: 27px;
        height: 27px;
        padding: 0px;
        margin-right: -48px;
        @media screen and (max-width: 1440px) {
          width: calc(27px * 0.75);
          height: calc(27px * 0.75);
          margin-right: -32px;
        }
        @media screen and (max-width: 1024px) {
          width: 9px;
          height: 9px;
          margin-right: -10px;
        }
      }
    }
    .div-name {
      margin-bottom: 40px;
      @media screen and (max-width: 1440px) {
        margin-bottom: calc(40px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 14px;
      }
      >h2 {
        font-weight: 500;
        font-size: 24px;
        color: #152436;
        margin-right:25px;
        margin-bottom: 0px;
        @media screen and (max-width: 1440px) {
          font-size: calc(24px * 0.75);
          margin-right: calc(25px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          margin-right: 17px;
        }
      }
      .line-star {
        >img {
          height: 23px;
          margin-right: 6px;
          @media screen and (max-width: 1440px) {
            height: calc(23px * 0.75);
            margin-right: calc(6px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 14px;
            margin-right: 4px;
          }
        }
      }
    }
    .div-image {
      >img {
        border-radius: 20px;
        @media screen and (max-width: 1440px) {
          border-radius: calc(20px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          border-radius: 6px;
        }
      }
      .slick-slider {
        >button {
          top: 50%;
          transform: translateY(-50%);
          margin-top: 0px;
          width: calc(40px * 1.5);
          height: calc(24px * 1.5);
          &:before {
            width: calc(40px * 1.5);
            height: calc(24px * 1.5);
          }
          @media screen and (max-width: 1440px) {
            width: 40px;
            height: 24px;
            &:before {
              width: 40px;
              height: 24px;
            }
          }
          @media screen and (max-width: 1024px) {
            width: 35px;
            height: 20px;
            &:before {
              width: 35px;
              height: 20px;
            }
          }
          
        }
        .slick-prev {
          left: -60px;
          @media screen and (max-width: 1440px) {
            left: -40px;
          }
          @media screen and (max-width: 1024px) {
            left: -25px;
          }
        }
        .slick-next {
          right: -60px;
          @media screen and (max-width: 1440px) {
            right: -40px;
          }
          @media screen and (max-width: 1024px) {
            right: -25px;
          }
        }
        .image-view {
          width: 100%;
          height: 588px;
          object-fit: contain;
          @media screen and (max-width: 1440px) {
            height: calc(588px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 172px;
          }
        }
      }
    }
  }
  
}