$margin-header: 40px;
$margin-mobile: 130px;
.div-not-found {
  display: flex;
  width: 100%;
  height: calc(100vh - 140px);
  flex-direction: row;
  padding: 0px 145px 0px 200px;
  align-items: center;
  // margin-top: 268px;
  @media (max-width: 1440px) {
    height: calc(100vh - 140px);
    padding: 0px 108px 0px 150px;
    // margin-top: 211px;
  }
  @media (max-width: 1024px) {
    height: calc(100vh - 102px);
    padding: 0px 35px 46px 35px;
    // margin-top: #{$margin-mobile};
    flex-direction: column-reverse;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #0D0D0D;
    width: 60%;
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 40%;
      align-items: center;
    }
    >h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      letter-spacing: 0.05em;
      margin-bottom: 0px;
      @media screen and (max-width: 1440px) {
        font-size: calc(48px * 0.75);
      }
      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }
    >span {
      font-size: 24px;
      margin: 55px 0px;
      @media screen and (max-width: 1440px) {
        font-size: calc(24px * 0.75);
        margin: 41px 0px;
      }
      @media (max-width: 1024px) {
        font-size: 9px;
        margin: 25px 0px;
      }
    }
  }
  .image-content {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 60%;
    }
    .div-image {
      position: relative;
      width: fit-content;
      height: 80%;
      display: flex;
      justify-content: center;
      >img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}