.our-team {
  // margin-top: 228px;
  padding: 0px 60px;
  @media only screen and (max-width: 1440px) {
    // margin-top: calc(228px * 0.75);
    padding: 0px 45px;
  }
  @media only screen and (max-width: 1024px) {
    // margin-top: 87px;
    padding: 0px 15px;
  }
  .more-text-info {
    width: calc(100vw - 233px * 2);
    padding-top: 55px;
    padding-bottom: 55px;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    @media screen and (max-width: 1440px) {
      width: calc(100vw - 175px * 2);
      padding-top: calc(55px * 0.75);
      padding-bottom: calc(55px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 30px);
      padding-top: 30px;
      padding-bottom: 30px;
    }
    >div {
      text-align: center;
      font-size: 24px;
      @media screen and (max-width: 1440px) {
        font-size: calc(24px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 16px;
      }
    }
  }
  .our-team-boutique {
    .item-boutique {
      .card-info {
        visibility: hidden;
      }
    }
  }
  .block-banner-v2 {
    padding: 0px;
    .block-text {
      .header_2 {
        width: 60%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
  // .block-banner {
  //   .description {
  //     margin: 72px 0px 63px 0px;
  //     @media screen and (max-width: 1440px) {
  //       margin: 54px 0px 43px 0px;
  //     }
  //     @media screen and (max-width: 1024px) {
  //       margin: 30px 0px 15px 0px;
  //       max-width: unset;
  //     }
  //   }
  //   .block-image {
  //     .slick-dots {
  //       @media screen and (max-width: 1024px) {
  //         width: max-content;
  //         right: calc(30px * 0.75);;
  //       }
  //     }
  //     .item-image {
  //       >img {
  //         width: calc(100% - 47px);
  //         @media screen and (max-width: 1440px) {
  //           width: calc(100% - 35px);
  //         }
  //         @media screen and (max-width: 1024px) {
  //           width: 100%;
  //           border-radius: 10px;
  //         }
  //       }
  //     }
  //     >img {
  //       width: calc(100% - 47px);
  //       @media screen and (max-width: 1440px) {
  //         width: calc(100% - 35px);
  //       }
  //       @media screen and (max-width: 1024px) {
  //         width: 100%;
  //         border-radius: 10px;
  //       }
  //     }
  //   }
  //   &.text-right {
  //     .block-text {
  //       .description {
  //         margin-bottom: 0px;
  //         // font-size: 20px;
  //         @media screen and (max-width: 1440px) {
  //           // font-size: calc(20px * 0.75);
  //         }
  //         @media screen and (max-width: 1024px) {
  //           // font-size: 16px;
  //         }
  //       }
  //     }
  //   }
  // }
}