.our-boutique {
  // margin-top: 228px;
  padding: 0px 60px;
  @media only screen and (max-width: 1440px) {
    // margin-top: calc(228px * 0.75);
    padding: 0px 45px;
  }
  @media only screen and (max-width: 1024px) {
    // margin-top: 87px;
    padding: 0px 15px;
  }
  .header {
    width: 100%;
    height: calc((100vw - 60px * 2) * 0.333);
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 1440px) {
      height: calc((100vw - 45px * 2) * 0.333);
    }
    @media screen and (max-width: 1024px) {
      height: calc((100vw - 15px * 2) * 0.501);
    }
  }
  >h1 {
    margin: 50px 0px;
    letter-spacing: 0.07em;
    font-weight: 300;
    text-align: center;
    @media screen and (max-width: 1440px) {
      margin: 37.5px 0px;
    }
    @media screen and (max-width: 1024px) {
      margin: 30px 0px;
    }
  }
  .block-banner-v2 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    &.text-right {
      .block-text {
        align-items: flex-start;
        @media screen and (max-width: 1024px) {
          align-items: center;
        }
        .header_4 {
          text-align: left !important;
          @media screen and (max-width: 1024px) {
            text-align: center !important;
          }
        }
      }
    }
    .block-text {
      align-items: flex-start;
      @media screen and (max-width: 1024px) {
        align-items: center;
      }
      .header_4 {
        margin-bottom: 30px;
        text-align: left;
        @media screen and (max-width: 1440px) {
          margin-bottom: calc(30px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
          text-align: center;
        }
      }
      .info-text {
        .header_4 {
          margin-bottom: 0px;
        }
      }
    }
    .block-image {
      .item-image {
        >img {
          // height: 100%;
        }
      }
    }
  }
  .div-space {
    height: 175px;
    @media screen and (max-width: 1440px) {
      height: calc(175px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      height: 70px;
    }
  }
}
.item-boutique {
  width: 100vw * 0.73;
  margin-top: 110px;
  transform: translateX(70px);
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 1440px) {
    margin-top: calc(110px * 0.75);
    transform: translateX(calc(70px * 0.75));
  }
  @media screen and (max-width: 1024px) {
    margin-top: 34px;
    width: calc(100vw - 70px);
    transform: unset;
  }
  &.right {
    .card-info {
      left: unset;
      right: 80px;
      @media screen and (max-width: 1440px) {
        right: 80px;
      }
    }
    // .slick-slider {
    //   .slick-dots {
    //     bottom: 30px;
    //     left: 117px;
    //     right: unset;
    //     @media screen and (max-width: 1440px) {
    //       bottom: calc(30px * 0.75);
    //       left: calc(117px * 0.75);
    //     }
    //   }
    // }
  }
  .slick-slider {
    width: 100%;
    height: 100%;
    &.slider-center {
      .slick-arrow {
        visibility: visible;
      }
      .div-image {
        padding: 0px 30px;
        @media screen and (max-width: 1440px) {
        }
        @media screen and (max-width: 1024px) {
        }
      }
      .slick-next {
        display: block;
        right: -70px;
        top: 50%;
        transform: translateY(-50%);
      }
      .slick-prev {
        display: block;
        left: -70px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .slick-arrow {
      width: 47px;
      &.slick-prev {
        display: block;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0px;
        left: 20px;
        @media screen and (max-width: 1440px) {
          left: 20px;
        }
        &::before {
          content: '';
          background: url('../image/icon/arrow-prev.svg') 0 0/40px 47px no-repeat;
          width: 47px;
          height: 47px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      &.slick-next {
        display: block;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0px;
        right: 10px;
        &::before {
          content: '';
          background: url('../image/icon/arrow-next.svg') 0 0/40px 47px no-repeat;
          width: 47px;
          height: 47px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
    .slick-dots {
      width: max-content;
      bottom: -30px;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 1024px) {
        width: 100%;
        right: unset;
        bottom: -20px;
      }
      .slick-active {
        >button{
          border-radius: 50%;
          padding: 0px;
          &::before {
            opacity: 1;
            color: #B79B53;
          }
       }
      }
      >li {
        margin: 0px 3px;
        >button {
          &::before {
            opacity: 1;
            color: gray;
            font-size: 10px;
            top: 1px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .div-image {
      width: 100vw * 0.73;
      height: 679px;
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
        @media screen and (max-width: 1024px) {
          border-radius: 5px;
        }
      }
      @media screen and (max-width: 1440px) {
        height: calc(679px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        height: calc((100vw - 70px) * 0.8);
        width: calc(100vw - 70px);
      }
    }
  }

  .card-info {
    position: absolute;
    width: 454px;
    // height: 593px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 0px;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    height: calc((100vw - 175px * 2 - 65px) * 680 / 1440 - 87px);
    @media screen and (max-width: 1440px) {
      width: calc(454px * 0.75);
      // height: calc(593px * 0.75);
      height: calc((100vw - 175px * 2 - 65px) * 680 / 1440 - 65px);
      // left: calc(-130px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 35px * 2);
      height: unset;
      // min-height: calc((100vw - 35px * 2) * 1.24);
      position: relative;
      align-items: center;
      left: unset;
      top: unset;
      transform: unset;
      margin: 25px 0px;
    }
    .body-card-info {
      width: calc(100% - 34px * 2);
      height: calc(100% - 34px * 2);
      border: 1px solid #0D0D0D;
      box-sizing: border-box;
      border-radius: 0px;
      padding: 33px;
      color: #0D0D0D;
      overflow-x: auto;
      @media screen and (max-width: 1440px) {
        width: calc(100% - 34px * 0.75 * 2);
        height: calc(100% - 34px * 0.75 * 2);
        padding: calc(33px * 0.75);
      }
      >h2 {
        font-family: Playfair Display;
        font-size: 38px;
        margin-bottom: 22px;
        @media screen and (max-width: 1440px) {
          font-size: calc(38px * 0.75);
          margin-bottom: calc(22px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 24px;
          text-align: center;
          margin-bottom: 25px;
        }
      } 
      .text {
        padding-bottom: 22px;
        font-size: 18px;
        @media screen and (max-width: 1440px) {
          padding-bottom: calc(22px * 0.75);
          font-size: calc(18px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 12px;
          text-align: center;
        }
      }
      .line-info {
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        @media screen and (max-width: 1440px) {
          padding-top: calc(20px * 0.75);
          padding-bottom: calc(20px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          padding-top: 8px;
          padding-bottom: 8px;
        }
        >img {
          height: 24px;
          width: 24px;
          object-fit: contain;
          @media screen and (max-width: 1440px) {
            height: calc(24px * 0.75);
            width: calc(24px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 15px;
            width: 15px;
          }
        }
        >span {
          margin-left: 9px;
          font-size: 14px;
          @media screen and (max-width: 1440px) {
            margin-left: calc(9px * 0.75);
            font-size: calc(14px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 12px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}