.our-ingredients-block {
  width: 980px;
  color: #0D0D0D;
  margin: 0px auto 0px auto;
  @media screen and (max-width: 1440px) {
    width: calc(980px * 0.75);
    margin: 0px auto 0px auto;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 90px);
  }
  .header_1 {
    font-weight: 300;
    letter-spacing: 0.07em;
    margin: 50px 0px 40px 0px;
    @media screen and (max-width: 1440px) {
      margin: 37.5px 0px 30px 0px;
    }
    @media screen and (max-width: 1024px) {
      margin: 30px 0px 25px 0px;
    }
  }
  .item-block {
    position: relative;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    @media screen and (max-width: 1440px) {
      margin-bottom: calc(125px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: unset;
      padding-bottom: 51px;
    }
    &.right-item {
      .image-text {
        flex-direction: row-reverse;
        .text-info {
          margin: auto 70px auto 0px;
          @media screen and (max-width: 1440px) {
            margin: auto 52px auto 0px;
          }
        }
      }
      .line-contact {
        &::before {
          left: 0px;
          top: 0px;
        }
        &::after {
          right: 0px;
          top: -45px;
          @media screen and (max-width: 1440px) {
            top: calc(-45px * 0.75);
          }
        }
      }
    }
    .image-text {
      display: flex;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }
      >img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        @media screen and (max-width: 1440px) {
          width: calc(300px * 0.75);
          height: calc(300px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          width: 188px;
          height: 188px;
        }
      }
      .text-info {
        display: flex;
        flex-direction: column;
        margin: auto 0px auto 70px;
        @media screen and (max-width: 1440px) {
          margin: auto 0px auto 52px;
        }
        @media screen and (max-width: 1024px) {
          margin: 50px auto auto 0px;
        }
        .header_2 {
          letter-spacing: 0.02em;
          margin-bottom: 30px;
          @media screen and (max-width: 1440px) {
            margin-bottom: calc(30px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-bottom: 15px;
            text-align: center;
          }
        }
        // >h2 {
        //   font-weight: 500;
        //   font-size: 32px;
        //   margin-bottom: 57px;
        //   color: #0D0D0D;
        //   @media screen and (max-width: 1440px) {
        //     font-size: calc(32px * 0.75);
        //     margin-bottom: calc(57px * 0.75);
        //   }
        //   @media screen and (max-width: 1024px) {
        //     font-size: 22px;
        //     margin-bottom: 30px;
        //     text-align: center;
        //   }
        // }
        >span {
          text-align: justify;
        }
        .tr {
          text-align: right !important;
        }
        >span >.rich-text >p {
          // font-weight: 300;
          // font-size: 20px;
          // color: #0D0D0D;
          margin-bottom: 0px;
          @media screen and (max-width: 1440px) {
            // font-size: calc(20px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            // font-size: 16px;
            text-align: center;
          }
        }
      }
    }
    .line-contact {
      position: absolute;
      width: calc(100% - 300px);
      height: 1px;
      background: #B79B53;
      bottom: -62px;
      margin-left: auto;
      margin-right: auto;
      @media screen and (max-width: 1440px) {
        width: calc(100% - 225px);
        bottom: calc(-62px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        height: 100%;
        width: 1px;
        left: -23px;
        bottom: -94px;
      }
      &.line-right-mobile {
        left: unset;
        right: -23px;
        &::before {
          left: -48px;
        }
        &::after {
          left: -48px;
        }
      }
      &::before {
        content: '';
        width: 1px;
        height: 45px;
        background: #B79B53;
        position: absolute;
        left: 0px;
        top: -45px;
        @media screen and (max-width: 1440px) {
          height: calc(45px * 0.75);
          top: calc(-45px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          height: 1px;
          width: 48px;
          left: 0px;
          top: 0px;
        }
      }
      &::after {
        content: '';
        width: 1px;
        height: 45px;
        background: #B79B53;
        position: absolute;
        right: 0px;
        @media screen and (max-width: 1440px) {
          height: calc(45px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          height: 1px;
          width: 48px;
          left: 0px;
          bottom: 0px;
          right: unset;
        }
      }
    }
  }
}