.our-boutique-block {
  color: #0D0D0D;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  @media screen and (max-width: 1440px) {
    margin-bottom: calc(50px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 30px;
  }
  &.store-block {
    margin-bottom: 30px;
  }
  
  .paragraph-text {
    visibility: hidden;
  }
  .list-tab {
    display: flex;
    position: relative;
    width: 752px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1440px) {
      width: calc(752px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .line-active {
      position: absolute;
      width: 120px;
      height: 2px;
      background:#0D0D0D;
      bottom: 0px;
      left: 0px;
      transition: all 0.2s;
    }
    >button {
      font-size: 16px;
      padding: 36px 15px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      @media screen and (max-width: 1440px) {
        font-size: calc(16px * 0.75);
        padding: 27px 12px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 12px;
        padding: 17px 5px;
      }
      &.active {
        color: #0D0D0D;
        font-weight: 500;
        // border-bottom: 2px solid #0D0D0D;
      }
    }
  }
  .item-boutique {
    width: 100%;
    height: calc((100vw - 120px) / 3);
    transform: unset;
    margin-top: 6px;
    @media screen and (max-width: 1440px) {
      height: calc((100vw - 90px) / 3);
    }
    @media screen and (max-width: 1024px) {
      height: calc(100vw - 30px);
    }
    .slick-slider {
      .slick-dots {
        bottom: -30px;
      }
      .div-image {
        @media screen and (max-width: 1024px) {
          height: calc(100vw - 30px);
        }
        >img {
          border-radius: 0px;
          @media screen and (max-width: 1024px) {
            height: calc(100vw - 30px);
          }
        }
      }
      .slick-list {
        height: 100%;
        @media screen and (max-width: 1440px) {
          
        }
        @media screen and (max-width: 1024px) {
          border-radius: unset;
        }
      }
    }
  }
  .header_2 {
    margin-top: 100px;
    margin-bottom: 30px;
    @media screen and (max-width: 1440px) {
      margin-top: 75px;
      margin-bottom: calc(30px * 0.75);
    }
    @media screen and (max-width: 1440px) {
      margin-top: 46px;
      margin-bottom: 11px;
    }
  }
  .header_4 {
    width: 1190px;
    text-align: center;
    @media screen and (max-width: 1440px) {
      width: calc(1190px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}