.div-pemade-product {
  align-items: center;
  padding: 47px 0px;
  @media screen and (max-width: 1024px) {
    padding: 0px 0px 50px 0px;
  }
  &.product-detail-v2 {
    width: 1248px;
    margin: auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0px;
    }
    .header {
      margin-bottom: 90px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 38px;
        padding: 0px 24px;
        text-align: center;
      }
    }
    .slice-image {
      @media screen and (max-width: 1024px) {
        padding: 0px 9px;
      }
      .slick-slider {
        .slick-prev {
          left: -50px;
        }
        .slick-next {
          right: -85px;
        }
        .slick-list {
          .list-mobile {
            .col-6 {
              @media screen and (max-width: 1024px) {
                margin-bottom: 24px;
              }
            }
          }
        }
      }
    }
  }
  .header {
    align-items:center;
    padding: 0px 45px 40px 0px;
    width: 100%;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      padding: 0px 15px 30px 0px;
    }
    .line {
      flex: 1;
      background: #0D0D0D;
      border-radius: 41px;
      height: 1px;
    }
    >h3 {
      font-weight: 300;
      font-size: 36px;
      line-height: 52px;
      letter-spacing: 0.02em;
      color: #0D0D0D;
      padding: 0px 45px;
      margin-bottom: 0px;
      @media only screen and (max-width: 1440px) {
        font-size: calc(36px * 0.75);
        line-height: calc(52px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        padding: 0px 11px;
        font-size: 18px;
      }
    }
  }
  .item-premade {
    font-size: 16px;
    text-align: center;
    color: #8D8D8D;
    align-items: center;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
    >img {
      height: 188px;
      width: 80%;
      object-fit:contain;
      cursor: pointer;
      margin: 17px 0px;
      @media screen and (max-width: 1024px) {
        height: 144px;
      }
    }
    >h4 {
      color: #152436;
      margin-bottom: 6px;
    }
    .price {
      color: #787878;
      margin-top: 6px;
    }
  }
  .slice-image {
    .slick-arrow {
      display: block;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0px;
      @media screen and (max-width: 1024px) {
        visibility: hidden;
      }
      &.slick-next {
        &::before {
          background: url('../image/icon/ic-next-silder.svg');
          background-repeat: no-repeat;
        }
      }
      &.slick-prev {
        &::before {
          background: url('../image/icon/ic-prev-silder.svg');
          background-repeat: no-repeat;
        }
      }
    }
    .slick-disabled {
      visibility: hidden;
    }
    .list-mobile {
      .row {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
    // .slick-slider >.slick-list >.slick-track {
    //   @media screen and(max-width: 1024px) {
    //     width: 100% !important;
    //   }
    //   .slick-slide {
    //     @media screen and(max-width: 1024px) {
    //       width: 100% !important;
    //     }
    //   }
    // }
  }
}