.div-perfume-combination {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 227px;
  @media screen and (max-width: 1440px) {
    margin-top: 170px;
  }
  @media screen and (max-width: 600px) {
    margin-top: 86px;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: repeat;
    background-size: contain;
  }
  >button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8D8D8D;
    >img {
      height: 1rem;
      margin-right: 5px;
      margin-top: -5px;
    }
  }
  > h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
    color: #0D0D0D;
    margin-top: 40px;
    @media screen and (max-width: 600px) {
      font-size: 24px;
      margin-top: 50px;
    }
  }
  >span {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8D8D8D;
    margin-top: 10px;
    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }

  .list-perfume-result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 60px 0px;
    width: 100%;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      margin: 20px 0px;
    }
    .div-item-result {
      width: 470px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 600px) {
        width: 100%;
        margin-top: 30px;
      }
      &.border-right-item {
        border-right: 1px solid rgba(38, 38, 38, 0.1);
        border-bottom: none;
        @media screen and (max-width: 600px) {
          border-right: none;
          border-bottom: 1px solid rgba(38, 38, 38, 0.1);
          padding-bottom: 30px;
        }
      }
      .div-wrap-item-result-scent {
        display: flex;
        justify-content: center;
      }
      .div-item-result-scent-v2-mobile {
        .div-name-price {
          .div-header {
            .name {
              font-weight: normal;
              font-size: 12px;
              letter-spacing: 0.1em;
              text-transform: unset;
            }
          }
          .div-des {
            >span:nth-child(1) {
              font-size: 18px;
              font-weight: 500;
            }
            >span:nth-child(2) {
              font-weight: 300;
            }
          }
        }
      }
      .div-item-result-scent-v2 {
        letter-spacing: 0.1em;
        color: #0D0D0D;
        .div-item-image-scent {
          .scent-image {
            .div-img-bottle {
              .custome-name {
                font-size: 3px;
              }
              .text-size-custome {
                font-size: 2px;
              }
              .text-des-custome {
                font-size: 2px;
              }
              .div-image-bottle-custom {
                .div-ingredients {
                  width: 80%;
                  >span {
                    font-size: 3px;
                  }
                }
              }
            }
          }
        }
        .div-content-item {
          .div-slide-color {
            .div-process-line {
              .progressLine {
                .div-text {
                  >span {
                    font-size: 12px;
                  }
                }
              }
            }
            .div-process-circle {
              .progress-circle {
                >span {
                  font-size: 12px;
                }
                .div-circle {
                  width: 35%;
                }
              }
            }
          }
        }
      }
      >span {
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #8D8D8D;
        margin-top: 60px;
        margin-bottom: 20px;
      }
    }
  }
}