$margin-header: 40px;
 $margin-mobile: 110px;
.div-personality {
  .save-result-email {
    position: absolute;
    height: calc(100vh - 70px);
    width: 100%;
    min-height: 600px;
    overflow-y: auto;
    left: 0px;
    color: #0D0D0D;
    z-index: -1;
    &.open-video {
      z-index: 1;
      background: #F5ECDC;
      margin-top: 0px;
    }
    @media screen and (max-width: 1024px) {
      padding: 0px 15px;
      min-height: unset;
    }
    .button-back {
      position: absolute;
      top: 44px;
      left: 89px;
      color: #8d8d8d;
      >img {
        margin-right: 13px;
        height: 14px;
        @media screen and (max-width: 1024px) {
          margin-right: 6px;
          height: 11px;
        }
      }
      @media screen and (max-width: 1024px) {
        top: 28px;
        left: 15px;
        font-size: 0.7857rem;
      }
    }
    .header {
      margin-top: 44px;
      @media screen and (max-width: 1024px) {
        margin-top: 38px;
      }
      >h2 {
        font-size: 1.875rem;
        margin-bottom: 22px;
        @media screen and (max-width: 1440px) {
          font-size: 1.285rem;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 15px;
        }
      }
      >span {
        font-size: 1rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        @media screen and (max-width: 1440px) {
          font-size: 1.143rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }
      }
    }
    .video {
      height: calc(100vh - 370px);
      @media screen and (max-width: 1024px) {
        height: calc(100vh - 380px);
      }
      .background--letsguideyou {
        height: 100%;
        position: relative;
        width: 100%;
        background-size:contain;
      }
    }
    .div-input-email {
      width: 100%;
      .text-title-input {
        font-size: 0.875rem;
        text-transform: uppercase;
        color: #0D0D0D;
        letter-spacing: 0.1em;
        font-weight: 500;
        margin-bottom: 20px;
        a {
          text-decoration: n;
        }
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 15px;
        }
      }
      >label {
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
          width: calc(100% - 32px);
        }
      }

      .div-input {
        width: 80%;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        .div-email {
          height: 62px;
          width: 370px;
          padding: 0rem 0.5rem;
          justify-content: center;
          align-items: center;
          border: 1px solid #0D0D0D;
          border-radius: 6px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-top: 0px;
            height: 48px;
          }
          > img {
            width: 20px;
            margin: 0px 10px;
          }
          > input {
            flex: 1;
            border: none;
            color: #0D0D0D;
            background: transparent;
            @media screen and (max-width: 600px) {
              flex: auto;
              width: 100%;
            }
          }
        }
        > button {
          margin-left: 10px;
          height: 62px;
          width: 236px;
          background: #0D0D0D;
          color: #ffffff;
          border-radius: 6px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          border: none;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-top: 1rem;
            margin-left: 0px;
            height: 48px;
          }
        }
      }

      .text-continue {
        font-style: normal;
        text-decoration-line: underline;
        color: #8d8d8d;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 30px;
        @media screen and (max-width: 1024px) {
          margin-top: 14px;
          margin-bottom: 70px;
          font-size:1rem;
        }
      }
    }
  }
  .block-video-quiz {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background: #ffffff;
    &.open-video {
      z-index: 2;
    }
    @media screen and (max-width: 1024px){
      min-height: 600px;
    }
    .div-text-mix {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
      background: #F5ECDC;
      @media screen and (max-width: 1024px){
        font-size: 1.428rem;
      }
      >span {
        font-size: 3.75rem;
        letter-spacing: 0.2em;
        text-align: center;
        font-weight: 500;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: 4.2857rem;
        }
        @media screen and (max-width: 1024px){
          font-size: 1.571rem;
        }
      }
    }
    .div-button-next {
      position: fixed;
      z-index: 3;
      top: 120px;
      right: 92px;
      animation-duration: 0.2s;
      @media screen and (max-width: 1024px){
        top: 95px;
        right: 15px;
      }
      >button {
        font-size: 1rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        height: 37px;
        padding: 0px 30px;
        border: 1px solid #0D0D0D;
        border-radius: 120px;
        background: #ffffff;
        @media screen and (min-width: 1025px) {
          &:hover {
            color: #ffffff;
            border: none;
            background: #0d0d0d;
          }
        }
        @media screen and (max-width: 1440px) {
          font-size: 1.1428rem;
        }
        @media screen and (max-width: 1024px) {
          height: 26px;
          font-size: 0.786rem;
          border-radius: 85px;
          padding: 0px 15px;
        }
      }
    }
    .div-text {
      position: fixed;
      z-index: 3;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      animation-duration: 0.2s;
      @media screen and (max-width: 1024px){
        width: 80%;
        text-align: center;
        bottom: 50px;
      }
      >span {
        font-size: 1.875rem;
        text-transform: uppercase;
        color: #0D0D0D;
        animation-duration: 0.2s;
        text-align: center;
        @media screen and (max-width: 1440px){
          font-size: 2.1428rem;
        }
        @media screen and (max-width: 1024px){
          font-size: 1.4285rem;
        }
      }
    }
  }
  .div-start-partnerShip {
    height: calc(100vh - 70px);
    margin-top: 70px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .div-content {
      width: 560px;
      height: auto;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 600px){
        width: 100%;
        padding: 0px 10px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px){
        width: 100%;
        padding: 0px 20px;
      }
      .div-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
        >img:nth-child(1){
          height: 84px;
          margin-right: 30px;
          @media screen and (max-width: 600px){
            height: 60px;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px){
            height: 120px;
          }
        }
        >img:nth-child(2) {
          height: 33px;
          @media screen and (min-width: 768px) and (max-width: 1024px){
            height: 44px;
          }
          @media screen and (max-width: 600px){
            height: 28px;
          }
        }
      }
      >h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 2.1875rem;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width: 1440px) {
          font-size: 2.5rem;
        }
        @media screen and (max-width: 600px){
          font-size: 2rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
          font-size: 2.714rem;
        }
      }
      >span {
        margin: 60px 0px;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #FFFFFF;
        font-size: 0.875rem;
        @media screen and (max-width:1440px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 600px){
          font-size: 0.857rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
          font-size: 2rem;
        }
      }
      .div-duration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >span {
          color: #ffffff;
          font-size: 0.875rem;
          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
          @media screen and (max-width: 600px){
            font-size: 0.8571rem;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px){
            font-size: 1.5714rem;
          }
        }
        .div-time {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          >img {
            height: 1rem;
            margin-right: 6px;
            @media screen and (max-width: 600px){
              height: 12px;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px){
              height: 22px;
            }
          }
          >span {
            color: #ffffff;
            font-size: 0.875rem;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 600px){
              font-size: 0.8571rem;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px){
              height: 22px;
            }
          }
        }
      }
      .button-animal {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        >button {
          background: #ffffff;
          color: #0D0D0D;
          padding: 0rem 4rem;
          height: 56px;
          border: none;
          border-radius: 6px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          @media screen and (max-width: 600px){
            padding: 0.5rem 3rem;
          }
        }
      }
    }
  }
  
  .div-start {
    color: #ffffff;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &.full-screen {
      height: 100vh;
      margin-top: 0px;
    }
    .logo-maison {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      >img {
        width: 140px;
        height: 45px;
        margin: 64px 0px;
      }
    }
    .content-personality {
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-bottom: 64px;
      &.style-bmw {
        justify-content: unset;
        .tx-header {
          font-weight: normal;
        }
        .div-des {
          width: 100%;
          .image {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0px 20px 0px;
            @media screen and (max-width: 600px) {
              margin: 40px 0px 20px 0px;
            }
            >img:nth-child(1) {
              width: 99px;
              margin-right: 23px;
              @media screen and (max-width: 600px) {
                width: 67px;
              }
            }
            >img:nth-child(2) {
              width: 140px;
              @media screen and (max-width: 600px) {
                width: 94px;
              }
            }
          }
          .description {
            color: #EBD8B8;
            margin-bottom: 16px;
            width: 100%;
            >div
            {
              >h4 {
                font-size: 21px;
                font-weight: normal;
                // font-family: Open Sans;
                width: 80%;
                margin: 0px auto;
                @media screen and (min-width: 1910.1px) {
                  font-size: 24px;
                }
                @media screen and (max-width: 1024px) {
                  font-size: 18px;
                }
                @media screen and (max-width: 767.9px) {
                  font-size: 16px;
                  width: 100%;
                }
              }
              @media screen and (max-width: 767.9px) {
                width: 100%;
                padding: 0px 20px;
                font-size: 16px;
                letter-spacing: 0.1em;
              }
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
              width: 440px;
            }
          }
        }
        .div-bottom {
          flex: 1;
        }
      }
      .tx-header {
        font-weight: 400;
        font-size: 48px;
        text-transform: uppercase;
        width: 782px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #EBD8B8;
        margin-bottom: 12px;
        @media screen and (max-width: 991px) {
          font-size: 36px;
          padding: 0px 64px;
          width: 100%;
        }
        @media screen and (max-width: 767px) {
          font-size: 36px;
          width: 100%;
          padding: 0px 24px;
        }
        
      }

      .description {
        color: #BCAD93;
        margin-bottom: 16px;
        width: 100%;
        @media screen and (max-width: 767px) {
          width: 100%;
          padding: 0px 20px;
          font-size: 14px;
          letter-spacing: 0.1em;
        }
        .rich-text>h4 {
          font-size: 18px;
          font-weight: 400;
          width: 782px;
          margin: 0px auto;
          letter-spacing: 0px;
          @media screen and (max-width: 991px) {
            padding: 0px 64px;
            width: 100%;
          }
          @media screen and (max-width: 767px) {
            font-size: 16px;
            width: 100%;
            padding: 0px 24px;
          }
        }
      }

      .div-bottom {
        justify-content: center;
        align-items: center;
        .div-time {
          margin-bottom: 32px;
         .div-watch {
           justify-content: center;
           align-items: center;
           font-weight: 500;
           font-size: 16px;
           color: #EBD8B8;
         } 
        }
        
        .button-animal {
          >button {
            background: #ffffff;
            color: #0D0D0D;
            padding: 0px 84px;
            height: 76px;
            border: none;
            border-radius: 6px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font-weight: 500;
            font-size: 24px;
            @media screen and (min-width: 1910.1px) {
              padding: 0px 126px;
              font-size: 24px;
              height: 114px;
            }
            @media screen and (max-width: 1024px) {
              height: 70px;
              width: calc(100vw - 200px);
              font-size: 18px;
            }
            @media screen and (max-width: 767.9px){
              padding: 0px;
              height: 44px;
              font-size: 18px;
              width: calc(100vw - 100px);
            }
          }
        }
      }
    }
  }
}

.wrap-component-persional {
  height: calc(100vh - 70px);
  margin-top: 70px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  &.full-screen {
    height: 100vh;
    margin-top: 0px;
  }
  &.full-height {
    height: 100vh;
    margin-top: 0px;
    @media (min-width: 768px) and (max-width: 1024px){
      padding-top: 70px;
    }
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 0px;
    margin-top: 64px;
    height: calc(100vh - 70px);
    // min-height: 600px;
    width: 100%;
    left: 0px;
    padding: 0px 15px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  @media (min-width: 768px) and (max-width: 1024px){
    padding: 0px 40px;
    min-height: 600px;
  }
  .div-process {
    position: absolute;
    height: 100%;
    width: 17.57vw;
    left: 0px;
    bottom: 0px;
    top: unset;
    justify-content: flex-end;
    .bt-back {
      position: absolute;
      top: 50px;
      margin: 0px;
      height: 40px;
      background: transparent;
      color: #8D8D8D;
      border: none;
    }
    .div-image-bottle {
      height: auto;
      width: 100%;
      position: relative;
      .circle {
        position: absolute;
        width: 49.4vw;
        height: 49.4vw;
        border-radius: 50%;
        bottom: -17.57vw;
        left: -17.57vw;
        z-index: -1;
        background: #B79B53;
      }
      >img {
        width: 23.44%;
      }
      > span {
        margin-top: 22px;
        margin-bottom: 39px;
        font-size: 18px;
        letter-spacing: 0.2em;
        font-weight: 600;
        color: #FFFFFF;
      }
    }
  }
  .button-back-mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    >.bt-back{
      background: transparent;
      color: #8D8D8D;
      font-weight: 500;
      border: none;
      padding: 0px;
      font-size: 11px;
      margin-top: unset;
      >img {
        height: 11px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px){
        font-size: 14px;
        >img {
          height: 14px;
        }
      }
    }
    .bt-skip {
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      background: transparent;
      border: none;
    }
    .bt-next {
      font-weight: 500;
      padding: 0px 15px;
      height: 26px;
      background: #0D0D0D;
      border-radius: 85px;
      font-size: 11px;
      letter-spacing: 0.2em;
      text-transform: uppercase;  
      color: #FFFFFF;
      border: none;
      >img {
        margin-left: 5px;
        height: 11px;
      }
    }
  } 
  .div-children {
    width: 100%;
    padding-left: 100px;
    padding-right:100px;
    height: 100%;
    &.scroll-div {
      overflow-y: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 767.9px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    .question-strength {
      flex: 1;
      width: 60%;
      justify-content:center;
      align-items: center;
      display: flex;
      @media screen and (max-width: 1024px) {
        width: calc(100% - 30px);
      }
      .wrap-strength {
        position: relative;
        display: flex;
        align-items: flex-end;
        .bg-color {
          width: 0%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: -1;
          transition: all 0.2s ease;
          &.level-1 {
            width: 33.33%;
            background: linear-gradient(270deg, #B79B53 -82.16%, #E7D7AE 33.33%);
          }
          &.level-2 {
            width: 66.66%;
            background: linear-gradient(270deg, #B79B53 -82.16%, #E7D7AE 66.66%);
          }
          &.level-3 {
            width: 100%;
            background: linear-gradient(270deg, #B79B53 -82.16%, #E7D7AE 100%);
          }
        }
        .user-touch {
          position: absolute;
          background: transparent;
          z-index: 1;
          height: 100%;
          width: 100%;
          display: flex;
          >div {
            height: 100%;
            width: 33.33%;
            cursor: pointer;
          }
        }
        .strength-1 {
          position: absolute;
          bottom: 0;
          left: 0;
          @media screen and (max-width: 1024px) {
            width: calc(33.3% - 20px);
          }
        }
        .strength-2 {
          @media screen and (max-width: 1024px) {
            width: calc(66.66% - 20px);
          }
        }
        .strength-3 {
          margin-left: 18px;
          @media screen and (max-width: 1024px) {
            width: calc(30%);
          }
        }
      }
      .wrap {
        width: 200px;
        height: 190px;
        position: relative;
        display: flex;
      }
      .triangle-up {
        height: 100%;
        width: 100%;
        clip-path: polygon(100% 70%, 0 100%, 100% 100%);
        background: red;
        cursor: pointer;
      }
      .triangle-up-abs {
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        clip-path: polygon(100% 70%, 0 100%, 100% 100%);
        background: #ffffff;
        cursor: pointer;
      }
      .trapezoid-1 {
        height: 100%;
        width: 100%;
        margin-left: 20px;
        clip-path: polygon(0 68%, 100% 38%, 100% 100%, 0 100%);
        background: red;
        cursor: pointer;
      }
      .trapezoid-2 {
        height: 100%;
        width: 100%;
        margin-left: 20px;
        clip-path: polygon(0 36%, 100% 0, 100% 100%, 0 100%);;
        background: red;
        cursor: pointer;
      }
      
    }
    .custom-labels {
      width: 100%;
      height: 100%;
      justify-content: flex-start;

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: flex-start;
        margin-top: 68px;
      }
      @media only screen and (max-width: 1024px) {
        height: 75%;
      }
      >.div-margin {
        margin-top: 60px;
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
          margin-top: 120px;
        }
      }
      .div-dob {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &.error {
          .input-dob{
            border: 1px solid red;
          }
        }
        .input-dob {
          width: 506px;
          height: 120px;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          border-radius: 26px;
          font-size: 46px;
          font-weight: 500;
          text-align: center;
          color: #0D0D0D;
          &::placeholder {
            color: #0D0D0D;
          }
          @media screen and (max-width: 767.9px) {
            width: calc(100% - 47px * 2);
            height: 46px;
            border: 1px solid #D9D9D9;
            border-radius: 6px;
            font-size: 14px;
          }
        }
      }
      .div-content-age {
        flex: 1;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        .rangeslider-horizontal {
          .rangeslider__fill {
            background-color: #0D0D0D;
          }
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: 80%;
          .rangeslider-horizontal {
            height: 16px;
          }
          .div-text {
            font-size: 18px;
          }
        }
        @media screen and (max-width: 767.9px) {
          width: 100%;
        }
        .rangeslider, .div-text {
          width: 100%;
        }
      }
      .div-text {
        font-weight: 600;
        font-size: 28px;
        color: #0D0D0D;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 22px;
        }
        @media screen and (max-width: 767.9px) {
          font-size: 14px;
        }
      }
      .div-list-age {
        flex: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        margin-top: -120px;
        @media screen and (max-width: 1024px){
          margin-top: 0px;
          overflow-x: hidden;
        }
        .slick-slider {
          width: 100%;
          .slick-slide {
            height: 150px;
            align-items: center;
            display: flex;
            >div {
              width: 100%;
            }
          }
        }
        .div-circel {
          position: absolute;
          width: 150px;
          height: 150px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          border: 1px solid #B79B53;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 1024px){
            width: 80px;
            height: 80px;
          }
          &.selected {
            background: #B79B53;
            >span, >img {
              visibility: visible;
            }
          }
          >span {
            font-size: 80px;
            color: #FFFFFF;
            visibility: hidden;
            @media screen and (max-width: 1024px){
              font-size: 48px;
            }
          }
          >img {
            position: absolute;
            width: 30px;
            height: 30px;
            bottom: -15px;
            visibility: hidden;
            @media screen and (max-width: 1024px){
              width: 24px;
              height: 24px;
              bottom: -12px;
            }
          }
        }
      }
      .item-age {
        display: flex !important;
        cursor: pointer;
        &.center-item {
          justify-content: center;
          font-size: 80px;
        }
        &.left-item {
          justify-content: flex-start;
          font-size: 50px;
          >span {
            color: #0D0D0D88;
          }
        }
        &.right-item {
          justify-content: flex-end;
          font-size: 50px;
          >span {
            color: #0D0D0D88;
          }
        }
        >span {
          color: #0D0D0D;
        }
      }
    }
    .div-bt-next {
      margin-bottom: 80px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: center;
        >button {
          width: 80%;
          height: 70px;
          font-size: 18px;
        }
      }
      @media screen and (max-width: 767.9px) {
        margin-bottom: 25vh;
      }
      .div-temp {
        height: 49px;
        @media screen and (max-width: 767.9px) {
          height: 40px;
        }
      }
      > button {
        background: #0D0D0D;
        border: none;
        border-radius: 6px;
        padding: 1rem 3.5rem;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @media screen and (max-width: 600px){
          padding: 0.5rem 3rem;
        }
      }
      .bt-skip {
        border: 1px solid #0D0D0D;
        background: #ffffff;
        color: #0D0D0D;
      }
    }
  }

  .top-full-screen {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      top: 158px !important;
    }
  }
  .div-right {
    width: 25%;
    height: auto;
    position: absolute;
    // top: 60px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      top: 88px;
    }
    .div-none-like {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      >img {
        width: 34px;
        height: 34px;
        margin-top: 50px;
      }
      >span {
        color: #8D8D8D;
        font-size: 14px;
        margin-top: 22px;
        width: 60%;
        text-align: center;
      }
    }
    .div-scent-profile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      >h3 {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        text-align: center;
      }
      >span {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 33px;
        text-align: center;
      }
      .div-progress {
        display: flex;
        width: 100%;
        .div-process-line {
          width: 50%;
          .progressLine {
            margin-bottom: 15px;
            .div-text {
              >span {
                font-size: 12px;
              }
            }
          }
        }
        .div-process-circle {
          width: 50%;
          display: flex;
          padding-left: 20px;
          margin-top: 12px;
          .progress-circle {
            >span {
              font-size: 10px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
            }
          }
          .div-circle {
            width: 52px;
          }
        }
      }
    }
    .text-title {
      color: #0D0D0D;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-size: 18.0222px;
      text-align: center;
      width: 100%;
      margin-bottom: 36px;
      font-weight: 500;
    }
    .div-scent-dna {
      > h3 {
        font-size: 1rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-weight: 600;
      }
      .name-scent {
        font-size: 12px;
        line-height: 15px;
        color: #0D0D0D;
      }
      >img {
        width: 175px;
        height: 150px;
        object-fit: contain;
        object-position: center;
      }
      > span {
        color: #8D8D8D;
        line-height: 150px;
      }
    }
    .div-bt-next {
      > button {
        background: #0D0D0D;
        border: none;
        border-radius: 6px;
        padding: 1rem 3.5rem;
        color: #ffffff;
        text-transform: uppercase;
        @media screen and (max-width: 600px){
          padding: 0.5rem 3rem;
        }
      }
      .bt-skip {
        background: #ffffff;
        border: 1px solid #0D0D0D;
        color: #0D0D0D;
      }
    }
  }  
}