.div-body-product {
  height: 100vh;
  margin-top: 0px;
  &.add-header {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }
  .div-personaltity-instore {
    display: flex;
    flex-direction: row;
    .div-scroll-menu {
      width: 220px;
      background-color: #0D0D0D;
      height: 100vh;
      overflow-y: auto;
      @media screen and (max-width: 600px){
        width: 107px;
      }
      .div-item-menu-instore {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        >img {
          width: 100%;
          height: 200px;
          object-fit: contain;
          object-position: center;
          cursor: pointer;
          @media screen and (max-width: 600px){
            height: 98px;
          }
        }
        >span {
          margin-top: 10px;
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
          @media screen and (max-width: 600px){
            font-size: 6px;
            line-height: 10px;
          }
        }
        .arrow-left {
          width: 0; 
          height: 0; 
          border-top: 33px solid transparent;
          border-bottom: 33px solid transparent; 
          border-right: 33px solid #ffffff;
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%); 
          @media screen and (max-width: 600px){
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent; 
            border-right: 15px solid #ffffff;
          }
        }
      }
    }

    .div-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow-y: auto;
      .div-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px 20px;
        position: relative;
        @media screen and (max-width: 600px){
          padding: 30px 10px;
          flex-direction: row;
          justify-content: space-between;
          align-items: self-start;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        .div-title {
          text-align: center;
          @media screen and (max-width: 600px){
            text-align: start;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px){
            text-align: start;
          }
          >h1 {
            font-weight: normal;
            font-size: 32px;
            color: #0D0D0D;
            @media screen and (max-width: 600px){
              font-size: 16px;
              line-height: 16px;
              margin: 0px;
            }
          }
          >span {
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            @media screen and (max-width: 600px){
              font-size: 7px;
            }
          }
        }
        .div-search {
          border: 2px solid #0D0D0D;
          box-sizing: border-box;
          border-radius: 24px;
          position: absolute;
          top: 50%;
          right: 40px;
          transform: translateY(-50%);
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 38px;
          width: 170px;
          @media screen and (max-width: 600px){
            height: 25px;
            width: 95px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            top: 0px;
            right: 0px;
            transform: translateY(0%);
          }
          @media screen and (min-width: 768px) and (max-width: 1024px){
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: 0px;
            right: 0px;
            transform: translateY(0%);
          }
          >input {
            flex: 1;
            height: 100%;
            color: #0D0D0D;
            font-weight: 600;
            font-size: 16px;
            background: transparent;
            border: none;
            padding: 0px 10px;
            width: 94px;
            @media screen and (max-width: 600px){
              width: 47px;
              font-size: 8px;
            }
          }
          >img {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            @media screen and (max-width: 600px){
              width: 11px;
              height: 11px;
            }
          }
        }
      }
    }

    .div-list-perfume {
      overflow-y: auto;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 600px){
        display: initial;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px){
        display: initial;
      }
      .row {
        width: 650px;
        @media screen and (max-width: 600px){
          width: 100%;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
          width: 100%;
        }
        .col-item {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 600px){
            width: 50%;
          }
          .div-item-perfume {
            width: 200px;
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 600px){
              width: 75px;
            }
            &.active {
              >.div-image {
                >.img-scent {
                  opacity: 0.5;
                }
              }
            }
            .div-image {
              width: 100%;
              position: relative;
              .hover-active {
                position: absolute;
                width: 31px;
                height: 31px;
                border-radius: 50.6049px;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media screen and (max-width: 600px){
                  border-radius: 25px;
                  width: 24px;
                  height: 24px;
                }
              }
              @media screen and (min-width: 600px) and (max-width: 1024px){
                width: 160px;
              }
              @media screen and (max-width: 600px){
                width: 75px;
              }
              >.img-scent {
                width: 100%;
                height: 200px;
                object-fit: cover;
                object-position: center;
                // box-shadow: 0px 3.50921px 3.50921px rgba(0, 0, 0, 0.1);
                border-radius: 50.6049px;
                cursor: pointer;
                @media screen and (max-width: 600px){
                  border-radius: 25px;
                  height: 75px;
                }
                @media screen and (min-width: 600px) and (max-width: 1024px){
                  height: 160px;
                }
              }
            }
            
            >span {
              font-style: normal;
              font-weight: normal;
              text-align: center;
              color: #0D0D0D;
              margin-top: 10px;
              @media screen and (max-width: 600px){
                font-size: 11px;
                width: 75px;
              }
              @media screen and (min-width: 600px) and (max-width: 1024px){
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .div-button-instore-table {
      position: fixed;
      bottom: 0px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      z-index: 3;
      >span {
        width: 100%;
        background-color: #0D0D0D;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        padding: 10px 0px;
        text-align: center;
        @media screen and (max-width: 600px){
          font-size: 12px;
          line-height: 14px;
        }
      }
      .div-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;;
        align-items: center;
        background: #ffffff;
        padding: 15px 10px;
        .bt-instore-temp {
          width: 48%;
          height: 68px;
          @media screen and (max-width: 600px){
            height: 50px;
          }
        }
        .bt-instore {
          width: 48%;
          height: 68px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #0D0D0D;
          border-radius: 6px;
          background: #0D0D0D;
          color: #FFFFFF;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          @media screen and (max-width: 600px){
            height: 50px;
            font-size: 16px;
          }
          &.inactive {
            background: #FFFFFF;
            color: #0D0D0D;
          }
        }
      }
    }

    .div-button-instore {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      position: fixed;
      bottom: 0px;
      width: 100vw;
      background: #ffffff;
      border: 2px solid #E2E2E2;
      z-index: 3;
      > span {
        color: #0D0D0D;
        font-size: 18px;
      }
      .div-button {
        display: flex;
        flex-direction: row;
        .bt-instore {
          width: 183px;
          height: 51px;
          border: 2px solid #0D0D0D;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 14px;
          background: #0D0D0D;
          color: #ffffff;
          &.inactive {
            background: #FFFFFF;
            color: #0D0D0D;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .div-order-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: #153623;
    >h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 46px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 90px;
      margin-bottom: 50px;
    }
    .div-content {
      height: calc(100vh - 310px);
      padding: 0px 20px;
      width: 60%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #0D0D0D;
      }
      &::-webkit-scrollbar-thumb {
        background-color :#E2E2E2;
        border-radius: 33px;
      }
      @media screen and (max-width: 1024px){
        width: 100%;
        height: calc(100vh - 400px);
      }
      @media screen and (max-width: 600px){
        padding: 0px 10px;
      }
      .item-order {
        background: #FFFFFF;
        border-radius: 6px;
        padding: 0px 20px;
        margin-bottom: 40px;
        .div-body {
          display: flex;
          flex-direction: row;
          &.header {
            padding: 20px 0px;
            border-bottom: 1px solid #E2E2E2;
            margin-bottom: 12px;
          }
          &.padding-item {
            padding: 8px 0px;
          }
          &.padding-button {
            padding: 20px 0px;
          }
          .body-1 {
            width: 35%;
            display: flex;
            justify-content: flex-start;
          }
          .body-2 {
            width: 30%;
            display: flex;
            justify-content: center;
          }
          .body-3 {
            width: 35%;
            display: flex;
            justify-content: flex-end;
          }
          .body {
            .name {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #0D0D0D;
              @media screen and(max-width: 600px){
                font-size: 12px;
              }
            }
            .number {
              font-weight: bold;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-align: center;
              color: #0D0D0D;
            }
            .remove {
              border: 2px solid #E85252;
              border-radius: 3px;
              width: 117px;
              height: 35px;
              font-weight: 600;
              color: #E85252;
              background: #FFFFFF;
            }
            .edit-total {
              width: 35px;
              height: 35px;
              background: #0D0D0D;
              border-radius: 3px;
              color: #ffffff;
              font-size: 18px;
              font-weight: 600;
            }
            .edit-total-temp {
              width: 35px;
              height: 35px;
            }
            .edit {
              width: 117px;
              height: 35px;
              background: #0D0D0D;
              border-radius: 3px;
              color: #ffffff;
            }
            .text-number {
              width: 68px;
              height: 35px;
              border: 1px solid #0D0D0D;
              box-sizing: border-box;
              border-radius: 3px;
              margin: 0px 2px;
              text-align: center;
              font-size: 16px;
              color: #0D0D0D;
              font-weight: 600;
              line-height: 35px;
            }
          }
        }
      }
    }
    .div-footer-order-browser {
      width: 100%;
      position: fixed;
      bottom: 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      padding: 20px;
      .div-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >span {
          font-weight: 600;
          font-size: 28px;
          align-items: center;
          color: #0D0D0D;
          margin-right: 30px;
        }
      }
      .div-button {
        display: flex;
        flex-direction: row;
        .bt-instore {
          width: 183px;
          height: 51px;
          border: 2px solid #0D0D0D;
          box-sizing: border-box;
          border-radius: 6px;
          font-size: 14px;
          background: #0D0D0D;
          color: #ffffff;
          font-weight: 600;
          &.inactive {
            background: #FFFFFF;
            color: #0D0D0D;
            margin-right: 20px;
          }
        }
      }
    }
    .div-footer-order {
      width: 100%;
      position: fixed;
      bottom: 0px;
      .div-total {
        display: flex;
        flex-direction: row;
        background-color: #0D0D0D;
        justify-content: space-between;
        padding: 30px 20px;
        >span {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          align-items: center;
          color: #FFFFFF;
        }
      }
      .div-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;;
        align-items: center;
        background: #ffffff;
        padding: 15px 10px;
        .bt-instore {
          width: 48%;
          height: 68px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #0D0D0D;
          border-radius: 6px;
          background: #0D0D0D;
          color: #FFFFFF;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          &.inactive {
            background: #FFFFFF;
            color: #0D0D0D;
          }
        }
      }
    }
  }

  .div-send-email-instore {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // padding: 0px 60px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      padding-left: 25%;
      padding-right: 25%;
    }
    .div-button-back {
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 10;
      >button {
        background: transparent;
        border: none;
        color: #ffffff;
        letter-spacing: 0.2rem;
        >img {
          height: 0.8rem;
          margin-right: 5px;
        }
      }
      @media screen and (max-width: 600px) {
        visibility: hidden;
      }
    }
    .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      >image {
        width: 70px;
        height: 106px;
      }
      @media screen and (min-width: 1024px) {
        visibility: hidden;
        margin-top: 0px;
        height: 0px;
      }
    }
    .div-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin: 60px 0px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 60px 60px 0px 60px;
      }
      >span {
        font-size: 35px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (min-width: 1024px) {
          font-size: 35px;
        }
        @media screen and (max-width: 600px) {
          font-size: 25px;
          margin-top: 20px;
        }
      }
    }
    .div-video {
      height: 280px;
      margin: 20px 0px;
      @media screen and(min-width: 768px) and (max-width: 1024px){
        margin: 40px 0px;
        height: 330px;
      }
      >img {
        vertical-align: middle;
        border-style: none;
        object-fit: contain;
        object-position: center;
        height: 100%;
      }
      @media screen and (min-width: 1024px) {
        // margin: 40px 0px;
        height: 260px;
      }
    }
    .send-email {
      display: flex;
      flex-direction: column;
      min-width: 523px;
      @media screen and (max-width: 600px){
        min-width: 100%;
      }
      >span {
        width: 100%;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        @media screen and (max-width: 600px){
          padding: 0px 20px;
        }
      }
      .div-email {
        display: flex;
        flex-direction: column;
        width: 100%;
        // margin-top: 30px;
        >button:nth-child(1) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .input {
          flex: 1;
          display: flex;
          flex-direction: row;
          height: 100%;
          background: #FFFFFF;
          border-radius: 6px;
          padding: 0px 22px;
          margin-right: 10px;
          >img {
            width: 24px;
          }
          >input {
            flex: 1;
            background: transparent;
            border: none;
            padding-left: 22px;
          }
        }
        .bt-send-email {
          width: 144px;
          height: 68px;
          background: #FFFFFF;
          border-radius: 6px;
          color: #0D0D0D;
          text-transform: uppercase;
          @media screen and (max-width: 600px){
            margin: 0px 20px 40px 20px;
            width: calc(100% - 40px)!important;
          }
          &.full {
            width: 100%; 
          }
          &.no-active {
            background: transparent;
            border: 2px solid #FFFFFF;
            color: #ffffff;
          }
        }

        .div-infor {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 20px 0px;
          @media screen and (max-width: 600px){
            flex-direction: column;
            padding: 0px 20px;
          }
          .div-input {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 68px;
            width: 48%;
            background: transparent;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 6px;
            @media screen and (max-width: 600px){
              width: 100%;
              margin: 10px 0px;
            }
            >input {
              background: transparent;
              padding: 0px 20px;
              height: 100%;
              flex: 1;
              border: none;
              color: #ffffff;
              &::placeholder {
                color: #ffffff;
              }
            }
            >img {
              width: 16px;
              height: 16px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    .div-footer-email {
      position: fixed;
      bottom: 30px;
      height: auto;
      >span {
        width: 100%;
        font-style: normal;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      @media screen and (min-width: 1024px) {
        visibility: hidden;
        bottom: 10px;
      }
      @media screen and (max-width: 600px) {
        visibility: hidden;
        bottom: 10px;
      }
    }
  }
}