.div-popup-save-address {
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
  .div-content {
    width: 953px;
    max-height: 80vh;
    border-radius: 20px;
    background: #FFFFFF;
    position: relative;
    overflow-y: auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: 100Vh;
      border-radius: 0px;
    }
    .div-item-address {
      display: flex;
      flex-direction: column;
      width: 30%;
      color: #0D0D0D;
      @media screen and (max-width: 1024px){
        width: 100%;
        padding: 24px 0px;
        border-bottom: 1px solid #e2e2e2;
      }
      .div-info-text {
        display: flex;
        align-items: center;
        .div-button-choose {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #e2e2e2;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 18px;
          &.choosed {
            border: 1px solid #0d0d0d;
            >button {
              visibility: visible;
            }
          }
          >button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #0D0D0D;
            padding: 0px;
            border: none;
            visibility: hidden;
          }
        }
        .div-info {
          display: flex;
          flex-direction: column;
          flex: 1;
          >h4 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 19px;
          }
          >span {
            font-size: 14px;
            text-transform: uppercase;
          }
          >span:nth-child(3) {
            margin-bottom: 22px;
          }
        }
      }
      >button {
        width: 100%;
        height: 43px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        background: #0D0D0D;
        border: none;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 12px;
        &.choosed {
          letter-spacing: 0.2em;
          text-transform: uppercase;
          font-size: 12px;
          color: #8D8D8D;
          border: 2px solid #8D8D8D;
          background: transparent;
        }
      }
    }
    .button-close {
      position: absolute;
      height: 27px;
      top: 31px;
      left: 31px;
      >img {
        height: 100%;
      }
      @media screen and (max-width: 1024px) {
        height: 18px;
        top: 40px;
        right: 29px;
        left: unset;
      }
    }
    .div-header {
      width: 100%;
      margin-top: 60px;
      @media screen and (max-width: 1024px){
        position: absolute;
        margin: 0px;
        top: 40px;
        width: 70%;
        left: 29px;
      }
      >h3 {
        width: 100%;
        text-align: center;
        font-size: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1024px){
          font-size: 18px;
          text-align: left;
        }
      }
    }
    .content-new-address {
      padding: 45px 50px;
    }
    .div-list-address {
      width: 100%;
      padding: 60px 50px 40px 50px;
      @media screen and (max-width: 1024px){
        padding: 29px;
        margin-top: 90px;
        height: calc(100% - 90px);
        overflow-y: auto;
      }
      .slick-slider {
        >button {
          visibility: hidden;
        }
      }
      .div-line-address-mobile {
        width: 100%;
        height: 100%;
      }
      .div-address-slider {
        width: 100%;
      }
      .div-line-address {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .div-control-page {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
      >span {
        margin: 0px 15px;
      }
      >button {
        >i {
          height: 8px;
          color: #0D0D0D;
        }
        &.disable {
          >i {
            color: #8D8D8D;
          }
        }
      }
      
    }

    .button-add-address {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 44px 0px;
      border-top: 1px solid #E2E2E2;
      >button {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #0D0D0D;
        border: 0.75px solid #0D0D0D;
        border-radius: 6px;
        height: 43px;
        padding: 0px 30px;
      }
      .link-button {
        color: #0D0D0D;
        text-decoration: underline;
        background: transparent;
        border: none;
        text-transform: unset;
      }
    }
  }
}