.popup-history {
  width: 785px;
  height: 90vh;
  background: #FFFFFF;
  border-radius: 16.4719px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  @media screen and (max-width: 1024px) {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
  }
  &.popup-confirm {
    height: auto;
    .div-des {
      >h3 {
        width: 100%;
        text-align: center;
      }
    }
    .list-bt {
      width: 100%;
      justify-content: space-evenly;
    }
  }
  &.congratulation {
    height: auto;
    .logo-money {
      width: 151px;
      height: 151px;
      margin-top:22px;
    }
    .header-point-1 {
      font-weight: bold;
      font-size: 36px;
      color: #B79B53;
      margin-top: 20px;
      margin-bottom:30px;
      width: max-content;
    }
    .des {
      font-size: 16px;
      color: #0D0D0D;
      padding-bottom: 33px;
      width: 100%;
      padding-left: 190px;
      padding-right: 190px;
      border-bottom: 1px solid #E2E2E2;
      text-align: center;
    }
    .div-text {
      padding-top: 15px;
      width: 100%;
      padding-left: 86px;
      padding-right: 86px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      >h4 {
        font-weight: 500;
        font-size: 20px;
        color: #0D0D0D;
        margin-bottom: 0px;
      }
      >span {
        font-weight: 500;
        font-size: 36px;
        color: #0D0D0D;
      }
    }
    .div-button {
      display: flex;
      width: 100%;
      padding: 0px 85px;
      justify-content: space-between;
      >button {
        width: 285px;
      }
    }
  }
  .div-des {
    padding: 50px 0px 0px 0px;
  }
  
  .bt-x {
    width: 30px;
    height: 30px;
    padding: 0px;
    position: absolute;
    top: 25px;
    left: 25px;
    @media screen and (max-width: 1024px) {
      width: 19px;
      height: 19px;
      top: 20px;
      right: 20px;
      left: unset;
    }
  }
  >h1 {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    margin: 49px 0px 24px 0px;
  }
  .header-point {
    padding: 0px 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #E2E2E2;
    width: 100%;
    >h2 {
      font-weight: 500;
      font-size: 20px;
      color: #0D0D0D;
    }
    >span {
      font-weight: 500;
      font-size: 36px;
      color: #B79B53;
    }
  }
  .sub-header {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #0D0D0D;
    margin: 40px 0px 29px 0px;
    .active {
      font-weight: 500;
    }
    >button {
      padding: 0px 10px;
    }
  }
  .div-list-point {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding: 0px 86px;
    @media screen and (max-width: 1024px) {
      padding: 0px 28px;
    }
    .item-list-point {
      padding: 20px 0px;
      border-bottom: 1px solid #E2E2E2;
      .line-1 {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 500;
        >span:nth-child(1) {
          color: #8D8D8D;
        }
        >span:nth-child(2) {
          color: #0D0D0D;
        }
      }
      .line-2 {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        color: #0D0D0D;
      }
    }
  }
  .bt-close {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    width: 213px;
    height: 57px;
    background: #0D0D0D;
    border-radius: 6px;
    margin-bottom: 49px;
    margin-top: 49px;
    border: none;
    @media screen and (max-width: 1024px) {
      height: 48px;
      width: calc(100vw - 17px * 2);
    }
    &.outline-bt {
      border: 2px solid #0D0D0D;
      color: #0D0D0D;
      background: #ffffff;
    }
  }
}