.div-popup-landing-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .div-background {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    z-index: 0;
  }

  .div-body-popup {
    width: 1126px;
    background: #FFFFFF;
    box-shadow: 15px 13px 40px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    position: relative;
    @media screen and (max-width: 1440px){
      width: calc(1126px * 0.75);
    }
    @media screen and (max-width: 1024px){
      width: calc(100vw - 60px);
    }
    .button-close {
      position: absolute;
      top: 50px;
      right: 50px;
      background: transparent;
      border: none;
      padding: 0px;
      @media screen and (max-width: 1440px){
        top: calc(50px * 0.75);
        right: calc(50px * 0.75);
      }
      @media screen and (max-width: 1024px){
        top: 16px;
        right: 16px;
      }
      >img {
        width: 34px;
        @media screen and (max-width: 1440px){
          width: calc(34px * 0.75);
        }
        @media screen and (max-width: 1024px){
          width: 13px;
        }
      }
    }
    .h3-header {
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #0D0D0D;
      margin: 50px 16px 26px 16px;
      @media screen and (max-width: 1440px){
        font-size: calc(24px * 0.75);
      }
      @media screen and (max-width: 1024px){
        font-size: 18px;
        margin: 33px 40px 24px 40px;
      }
    }
    .sub-header {
      font-size: 18px;
      text-align: center;
      color: #0D0D0D;
      @media screen and (max-width: 1440px){
        font-size: 14px;
      }
      @media screen and (max-width: 1024px){
        font-size: 14px;
        padding: 0px 24px;
      }
    }
    .div-body {
      padding: 40px 46px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1440px){
        padding: 30px 34px;
      }
      @media screen and (max-width: 1024px){
        padding: 20px 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .div-image {
        width: 422px;
        height: 379px;
        cursor: pointer;
        @media screen and (max-width: 1440px){
          width: calc(422px * 0.75);
          height: calc(379px * 0.75);
        }
        @media screen and (max-width: 1024px){
          width: 209px;
          height: 187px;
        }
        >img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      .div-scent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        @media screen and (max-width: 1024px){
          align-items: center;
        }
        .span-name {
          font-weight: 500;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #0D0D0D;
          margin-bottom: 10px;
          @media screen and (max-width: 1440px){
            font-size: 14px;
          }
          @media screen and (max-width: 1024px){
            font-size: 12px;
          }
        }
        .div-scent {
          display: flex;
          flex-direction: row;
          align-items: center;
          >img {
            width: 115px;
            height: 115px;
            border: 1px solid #0D0D0D;
            border-radius: 38px;
            margin-left: 25px;
            object-fit: cover;
            object-position: center;
            @media screen and (max-width: 1440px){
              width: calc(115px * 0.75);
              height: calc(115px * 0.75);
              border-radius: calc(38px * 0.75);
              margin-left: 18px;
            }
            @media screen and (max-width: 1024px){
              width: 52px;
              height: 52px;
              border-radius: 17px;
              margin-left: 5px;
              margin-right: 5px;
            }
          }
        }
        .div-text-small {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .text-small {
            font-size: 14px;
            margin-top: 5px;
            @media screen and (max-width: 1440px){
              font-size: calc(14px * 0.75);
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
              margin-right: 5px;
            }
          }
        }
        .button-normal {
          background: #0D0D0D;
          border-radius: 6px;
          height: 76px;
          font-weight: 500;
          font-size: 22px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
          padding: 0rem  2rem;
          margin-top: 20px;
          border: none;
          @media screen and (max-width: 1440px){
            height: calc(76px * 0.75);
            font-size: calc(22px * 0.75);
          }
          @media screen and (max-width: 1024px){
            font-size: 16px;
            height: 43px;
          }
        }
      }
    }
    >hr {
      background: #E2E2E2;
      margin: 0px;
      @media screen and (max-width: 1024px){
        visibility: hidden;
      }
    }
    .div-footer-popup {
      padding: 54px 46px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 1440px){
        padding: 40px 34px;
      }
      @media screen and (max-width: 1024px){
        padding: 0px 0px 15px 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      >span {
        color: #0D0D0D;
        width: 579px;
        font-size: 18px;
        @media screen and (max-width: 1440px){
          font-size: 14px;
          width: calc(579px * 0.75);
        }
        @media screen and (max-width: 1024px){
          visibility: hidden;
        }
      }
      >button {
        font-weight: 500;
        font-size: 20px;
        text-align: right;
        text-decoration: underline;
        color: #0D0D0D;
        background: transparent;
        border: none;
        @media screen and (max-width: 1440px){
          font-size: calc(20px * 0.75);
        }
        @media screen and (max-width: 1024px){
          font-size: 12px;
        }
      }
    }
  }
}