.div-popup-success-mix {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #0d0d0d88;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  color: #0D0D0D;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    align-items: flex-start !important;
  }
  @media screen and (max-width: 767.9px) {
    align-items: flex-start !important;
    .div-content {
      width: calc(100vw - 56px) !important;
      height: calc(100vh - 200px) !important;
      margin-top: 70px;
    }
  }
  .div-content {
    width: 784px;
    height: calc(100vh - 80px);
    background: #ffffff;
    border-radius: 16.4719px;
    position: relative;
    overflow-y: auto;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 531px ;
      height: 865px ;
      margin: auto 0px;
    }
    .bt-close {
      position: absolute;
      width: 23px;
      height: 23px;
      top: 25px;
      left: 25px;
      @media screen and (max-width: 1024px){
        position: relative;
        top: unset;
        bottom: unset;
        margin: 5px 0px;
        height: auto;
        left: unset;
        width: auto;
      }
    }
    .div-content-popup {
      padding: 45px 140px 45px 140px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // height: 100%;
      width: 100%;
      @media screen and (max-width : 1024px){
        padding: 37px 26px;
      }
      >h3 {
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #0D0D0D;
        margin-bottom: 50px;
        @media screen and (min-width: 768px) and (max-width : 1024px){
          font-size: 28px;
          margin-bottom: 17px;
        }
        @media screen and (max-width : 767.9px){
          font-size: 24px;
          margin-bottom: 17px;
        }
      }
      >img {
        height: 233px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
        @media screen and (max-width : 1024px){
          height: 215px;
        }
      }
      .div-info-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .header1 {
          width: 100%;
          text-align: center;
          font-size: 24px;
          color: #0D0D0D;
          @media screen and (min-width: 768px) and (max-width : 1024px){
            font-size: 22px;
            padding: 54px;
          }
          @media screen and (max-width : 767.9px){
            font-size: 14px;
          }
        }
        .description {
          flex: 1;
          text-align: center;
          margin: 20px 0px 10px 0px;
          @media screen and (min-width: 768px) and (max-width : 1024px){
            font-size: 18px;
          }
          @media screen and (max-width : 767.9px){
            font-size: 14px;
          }
        }
        >button {
          height: 63px;
          width: 231px;
          background: #0D0D0D;
          border: none;
          border-radius: 4.5px;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
          @media screen and (min-width: 768px) and (max-width : 1024px){
            font-size: 18px;
            width: 392px;
            height: 80px;
            margin-bottom: 0px;
          }
          @media screen and (max-width : 767.9px){
            height: 48px;
            margin-bottom: 36px;
            font-size: 14px;
            width: calc(100vw - 84px);
          }
        }
      }
    }
  }
}