.div-product-all {
  margin-top: 120px;
  .div-left, .div-right {
    width: 20%;
  }
  .div-center {
    width: 60%;
  }
  .image-product-all {
    position: relative;
    >button {
      background: transparent;
      width: 76px;
      position: absolute;
      bottom: 0px;
      left: -5px;
      z-index: 1;
      border: none;
    }
  }
}
.button-product {
  background: #0D0D0D;
  font-weight: 600;
  padding: 0rem 2.5rem;
  height: 56px;
  line-height: 56px;
  color: #ffffff;
  border-radius: 6px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    width: 100%;
    margin: 0px 37px;
    border: 1px solid #ffffff;
    padding: 0rem 0.5rem;
  }
}

.custom-input-filter {
  &__checkbox {
    display: none;
    visibility: hidden;
    position: relative !important;
    margin: 0 auto !important;
    & + label {
      border-radius: 4px!important;
      border: 1px solid #E2E2E2!important;
      position: relative;
      width: 16px;
      height: 16px;
      margin: 0 auto;
      cursor: pointer;
      top: 2px;
      margin-right: 0.5rem;
    }
    &:checked + label {
      background-color: #0D0D0D;
      border: 1px solid #0D0D0D;
      color: #99a1a7;
      border-radius: 4px;
      &::after {
        content: url('../image/icon/check_checkbox.svg');
        font-size: 15px;
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.6);
        color: #E2E2E2;
      }
    }
  }
}

.div-product-all-mobile {
  margin-top: 120px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  >.title-result {
    background: #B79B53;
    color: #ffffff;
    > span {
      padding-top: 4px;
      padding-bottom: 4px;
      text-transform: uppercase;
    }
  }
  .image-product-all {
    position: relative;
    >button {
      background: transparent;
      width: 46px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 1;
      border: none;
      padding: 0px;
    }
  }
}
.bt-filter {
  &-mobile {
    background: transparent;
    border: 1px solid #0D0D0D;
    color: #0D0D0D;
    width: 150px;
    margin: 20px;
    padding: 0.5rem 0.3rem;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.div-popup-choose {
  position: fixed;
  width: calc(100vw - 20px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 999;
  -webkit-box-shadow: 2px 4px 5px 2px#e2e2e2;
  -moz-box-shadow: 2px 4px 5px 2px #e2e2e2;
  box-shadow: 2px 4px 5px 2px #e2e2e2;
  >.div-content {
    width: 80%;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    >button {
      width: 100%;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      border: none;
      border-bottom: 1px solid #E2E2E2;
      background: transparent;
    }
  }
}

.popup-filter {
  position: fixed;
  height: calc(100vh - 110px);
  top: 110px;
  width: 100%;
  z-index: 9;
  background: white;
  -webkit-overflow-scrolling: touch;
  >.div-body {
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    position: relative;
    .div-header {
      position: relative;
      > button {
        position: absolute;
        left: 20px;
        top: 0px;
        height: 100%;
        padding-right: 30px;
      }
    }
    >.div-line {
      width: 100%;
      height: 1px;
      background: #0D0D0D;
    }
    >.div-filter {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 65px;
      
    }
    >.div-button-apply {
      position: fixed;
      width: 100%;
      bottom: 0px;
      left: 0px;
      >.bt-left {
        width: 50%;
        height: 58px;
        background: #E2E2E2;
        border: none;
      }
      >.bt-right {
        width: 50%;
        height: 58px;
        background: #0D0D0D;
        color: white;
        border: none;
      }
    }
  }
}