@import '../components/ProductAllV2/ProductBlock/pick-ingredient.scss';
@import '../components/ProductAllV2/ProductBlock/add-customization.scss';
@import '../components/ProductAllV2/ProductBlock/show-list-product.scss';

.div-product-block-v2 {
  display: flex;
  flex-direction: column;
  position: relative;
  .div-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    .div-image-bg {
      width: 100%;
      height: 100%;
      position: relative;
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .div-tranparent {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 80px;
        background-image: linear-gradient(transparent, #0D0D0D);
      }
    }
  }
  .div-data {
    position: relative;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    .div-header {
      display: flex;
      flex-direction: column;
      padding: 90px 20px 171px 20px;
      width: 100%;
      @media screen and (max-width: 1024px){
        padding: 90px 40px 90px 40px;
        width: 100%;
        align-items: center;
      }
      >h1 {
        font-weight: 500;
        font-size: 52px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin: 0px;
        text-align: center;
        @media screen and (max-width: 1024px){
          font-size: 28px;
          text-align: center;
        }
      }
      .bt-header {
        text-decoration: none;
        display: block;
        height: 66px;
        line-height: 66px;
        background: #B79B53;
        border-radius: 6px;
        font-size: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0px 36px;
        width: fit-content;
        margin-top: 60px;
        border: none;
        width: inherit;
        @media screen and (max-width: 1024px){
          height: 44px;
          line-height: 44px;
          font-size: 18px;
        }
      }
    }

    .global-item {
      width: 29.2vw;
      height: 29.22vw;
      position: relative;
      border: 6px;
      margin-left: 24px;
      margin-right: 24px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 30px);
        height: calc((100vw - 30px) * 0.72);
        margin: auto;
      }
      >img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 6px;
      }
      >button {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: #B79B53;
        opacity: 0.8;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
        
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        width: 100%;
        border: none;
        padding: 36px 0px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        @media screen and (max-width: 1024px) {
          padding: 21px 0px;
        }
        >img {
          height: 18px;
          margin-left: 18px;
          @media screen and (max-width: 1024px) {
            height: 16px;
            margin-left: 16px;
          }
        }
      }
    }

    .global-product {
      display: flex;
      flex-direction: row;
      margin-bottom: 70px;
      justify-content: center;
      @media screen and (max-width: 1024px){
        flex-direction: column;
        width: 100%;
        margin-bottom: 47px;
        .global-item:nth-child(2) {
          margin-top: 14px;
        }
      }
    }

    .div-list-product-v2 {
      display: flex;
      padding: 0px 97px 70px 97px;
      margin: 0px !important;
      height: auto !important;
      .div-cart-product {
        flex: 1;
        position: relative !important;
        height: 29.22vw !important;
        .div-scent {
          width: 100% !important;
          margin-top: -40px !important;
          height: 130% !important;
          margin-top: -15% !important;
          .wrap-line-product {
            height: 50% !important;
            .div-line-product {
              .div-product-item {
                >img {
                  height: 60% !important;
                }
              }
              &.line-50 {
                .div-product-item {
                  width: 50%;
                }
              }
            }
          }
          .line-v-1, .line-v-2, .line-v-3  {
            position: absolute;
            height: 76%;
            width: 1px;
            background: #E2E2E2;
            top: 50%;
            transform: translateY(-50%);
          }
          .line-v-1 {
            left: 33%;
          }
          .line-v-2 {
            left: 66%;
          }
          .line-v-3 {
            left: 50%;
          }
        }
      }
    }

    .div-list-product-v2, .div-product {
      margin: 0px 97px 70px 97px;
      height: calc((100vw - 194px) * 0.614);
      // height: calc((100vw - 194px) * 0.414);
      position: relative;
      transition: height 0.2s ease;
      &.div-product-2line {
        height: calc((100vw - 194px) * 0.414);
        .div-cart-product {
          .div-scent {
            .wrap-line-product {
              height: 50%;
            }
          }
        }
      }
      .scroll-product {
        position: absolute;
        top: -230px;
      }
      &.detail {
        height: calc((100vw - 194px) * 0.31);
        // padding-top: 31.13%;
      }
      .div-cart-product-detail {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        &.hiddenPrev {
          .slick-slider{
            .slick-prev {
              display: none !important;
            }
          }
        }
        &.hiddenNext {
          .slick-slider{
            .slick-next {
              display: none !important;
            }
          }
        }
        .slick-slider {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .slick-arrow {
            display: block;
            top: 50%;
            margin-top: 0px;
            transform: translateY(-50%);
          }
          .slick-dots {
            bottom: 10px;
          }
          .slick-list {
            width: 100%;
          }
          .detail {
            justify-content: space-evenly !important;
            height: calc((100vw - 194px) * 0.25);
          }
          .second-detail {
            justify-content: flex-start !important;
            margin-left: 60px;
          }
        }
      }
      .div-cart-product {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        display: flex;
        justify-content: center;
        .div-scent {
          width: 90%;
          height: 108%;
          display: flex;
          flex-direction: column;
          margin-top: -130px;
          .wrap-line-product {
            height: 33%;
            width: 100%;
          }
          .wrap-line-product:nth-child(1) {
            padding-bottom: 30px;
          }
          .wrap-line-product:nth-child(2) {
            padding-bottom: 30px;
          }
        }
      }
    }
  }

  .div-create-perfume-adapt {
    margin: 170px 97px 60px 97px;
    height: 660px;
    position: relative;
    &.height-premade {
      height: 1080px;
      .div-card {
        .div-wrap {
          height: 660px;
        }
      }
    }
    @media screen and (max-width: 1024px){
      position: relative;
      margin: 120px 15px 15px 15px;
      height: auto;
    }
    .div-card {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 1024px){
        position: relative;
        flex-direction: column;
      }
      .div-wrap {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 1024px){
          flex-direction: column;
          height: 100%;
        }
        .bt-close {
          position: absolute;
          top: 0px;
          right: 0px;
          background: #FFFFFF;
          border-radius: 0px 6px;
          z-index: 9999;
          cursor: pointer;
          >img {
            width: 40px;
            height: 40px;
            padding: 14px;

          }
        }
      }
      
      .div-left {
        width: 57.6%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: space-between;
        overflow: hidden;
        @media screen and (max-width: 1024px){
          width: 100%;
          padding: 25px 15px;
        }
        .div-option-create {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          height: 100%;
        }
        .div-header {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0px;
          .line-1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media screen and (max-width: 1024px){
              width: 100%;
              align-items: center;
            }
            >h3, >span {
              font-weight: normal;
              font-size: 38px;
              color: #0D0D0D;
              margin: 0px;
              @media screen and (max-width: 1024px){
                font-size: 24px;
              }
            }
            >span {
              font-size: 32px;
              font-weight: 500;
              @media screen and (max-width: 1024px) {
                font-size: 24px;
                font-weight: normal;
              }
            }
          }
          .line-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 1024px){
              justify-content: flex-start;
              width: 100%;
            }
            >span {
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #8D8D8D;
              width: fit-content;
              @media screen and (max-width: 1024px){
                font-size: 12px;
              }
            }
            >button {
              font-weight: normal;
              font-size: 16px;
              text-decoration: underline;
              color: #0D0D0D;
              padding: 0px;
              background: transparent;
              border: none;
              @media screen and (max-width: 1366px){
                font-size: 14px;
              }
            }
          }
          
        }

        .div-choose-size {
          height: 100%;
          .div-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            >button {
              background: transparent;
              border: none;
            }
            .div-text-header {
              display: flex;
              flex-direction: column;
              flex: 1;
              padding-left: 40px;
              @media screen and (max-width: 1024px) {
                padding-left: 30px;
              }
              .line-1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >h3 {
                  font-size: 38px;
                  display: flex;
                  color: #0D0D0D;
                  margin: 0px;
                  @media screen and (max-width: 1024px) {
                    font-size: 24px;
                  }
                }
              }
              >span {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #8D8D8D;
                margin-top: 10px;
                @media screen and (max-width: 1024px) {
                  font-size: 12px;
                }
              }
            }
          }
          .div-body {
            flex: 1;
            padding: 40px 0px;
          }
          .div-button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media screen and (max-width: 1024px) {
              margin-bottom: 15px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .text-left {
              margin-top: 21px;
              display: flex;
              flex-direction: column;
              >button >img {
                width: 76px;
                height: 76px;
              }
            }
            .div-bt-right {
              margin-top: 21px;
              flex-direction: row;
              justify-content: flex-end;
              align-items: flex-start;
              @media screen and (max-width: 1024px) {
                margin-top: 20px;
              }
              .disable {
                background: #8D8D8D !important;
                cursor: not-allowed;
              }
              >button {
                width: 169px;
                height: 76px;
                border-radius: 6px;
                border: none;
                @media screen and (max-width: 1024px) {
                  height: 44px;
                  width: 120px;
                }
              }
              .bt-cancel {
                border: 2px solid #0D0D0D;
                font-size: 24px;
                letter-spacing: 0.2em;
                color: #0D0D0D;
                background: #fff;
                @media screen and (max-width: 1024px) {
                  font-size: 18px;
                  border: 1px solid #0D0D0D;
                }
              }
              .bt-apply {
                font-size: 24px;
                letter-spacing: 0.2em;
                color: #FFFFFF;
                background: #0D0D0D;
                margin-left: 24px;
                @media screen and (max-width: 1024px) {
                  font-size: 18px;
                  border: 1px solid #0D0D0D;
                }
              }
            }
          }
        }
        .div-list-option {
          padding: 40px 0px;
        }
        .div-choose-size, .div-list-option {
          width: 100%;
          display: flex;
          flex-direction: column;
          height: 100%;
          .div-item-perfume-adapt {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #E2E2E2;
            cursor: pointer;
            .icon {
              object-fit: contain;
              box-shadow: unset;
              border-radius: unset;
            }
            .div-text-image {
              display: flex;
              flex-direction: row;
              align-items: center;
              >span {
                font-weight: 500;
                letter-spacing: 0.1em;
                color: #0D0D0D;
                text-transform: uppercase;
              }
              >span:nth-child(1) {
                font-size: 38px;
              }
              >span:nth-child(2) {
                font-size: 20px;
                margin-top: 11px;
              }
            }
            >img {
              width: 65px;
              height: 65px !important;
              height: 100%;
              object-fit: cover;
              object-position: center;
              box-shadow: 0px 1.5145px 1.5145px rgba(0, 0, 0, 0.1);
              border-radius: 21.84px;
              @media screen and (max-width: 1024px) {
                width: 36px;
                height: 36px !important;
                box-shadow: 0px 0.838782px 0.838782px rgba(0, 0, 0, 0.1);
                border-radius: 12.0957px;
              }
            }
            .div-text-info {
              padding-left: 23px;
              flex: 1;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              position: relative;
              .div-text {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                >h4 {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 18px;
                  letter-spacing: 0.1em;
                  color: #0D0D0D;
                  margin: 0px;
                  @media screen and (max-width: 1024px) {
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    margin-bottom: 0px;
                  }
                }
                >span {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  color: #8D8D8D;
                  margin-top: 8px;
                  @media screen and (max-width: 1024px) {
                    font-size: 12px;
                  }
                }
              }
              .bt-delete {
                position: absolute;
                top: 50%;
                left: 60%;
                transform: translateY(-50%);
                background: transparent;
                color: #EB5757;
                border: none;
                z-index: 2;
                @media screen and (max-width: 1024px) {
                  left: 68%;
                }
                >img {
                  margin-right: 4px;
                }
              }
              >img {
                height: unset;
                @media screen and (max-width: 1024px) {
                  height: 9px;
                }
              }
              .bt-text {
                height: 34px;
                background: #0D0D0D;
                border-radius: 6px;
                border: none;
                font-weight: 500;
                font-size: 18px;
                display: flex;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                padding: 0px 15px;
                align-items: center;
                &.disabled {
                  background: #DADADA;
                  color: #8D8D8D;
                }
              }
            }
            .div-circle-choose {
              width: 34px;
              height: 34px;
              position: relative;
              @media screen and (max-width: 1024px) {
                width: 22px;
                height: 22px;
              }
              &.active {
                .div-circle-big {
                  background: #0D0D0D;
                  border: 1px solid #0D0D0D;
                }
                .div-circle-small {
                  width: 18px;
                  height: 18px;
                  @media screen and (max-width: 1024px) {
                    width: 10px;
                    height: 10px;
                  }
                }
              }
              .div-circle-big {
                width: 100%;
                height: 100%;
                background: #E2E2E2;
                border-radius: 50%;
                border: 1px solid #E2E2E2;
              }
              .div-circle-small {
                width: 28px;
                height: 28px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #fff;
                border-radius: 50%;
                @media screen and (max-width: 1024px) {
                  width: 18px;
                  height: 18px;
                }
              }
            }
          }
        }
        .div-bottom-price-gift {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .bt-bg-drak {
            height: 76px;
            background: #0D0D0D;
            border-radius: 6px;
            padding: 0px 68px;
            font-weight: 500;
            font-size: 24px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            border: none;
            &.disabled {
              cursor: no-drop;
              background: #0D0D0D88;
            }
            @media screen and (max-width: 1024px) {
              height: 44px;
              width: calc(100% - 60px);
              font-size: 18px;
              padding: 0px;
            }
          }
        }
        .div-bottom-price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .div-text {
            display: flex;
            flex-direction: column;
            >h3 {
              font-style: normal;
              font-weight: 500;
              font-size: 32px;
              text-transform: uppercase;
              color: #152436;
              @media screen and (max-width: 1366px){
                font-size: 30px;
              }
            }
            >button {
              font-weight: normal;
              font-size: 16px;
              text-decoration: underline;
              color: #0D0D0D;
              padding: 0px;
              background: transparent;
              border: none;
              @media screen and (max-width: 1366px){
                font-size: 14px;
              }
            }
          }
          .div-button {
            display: flex;
            flex-direction: row;
            height: 68px;
            justify-content: space-between;
            width: 100%;
            >input {
              width: 76px;
              background: transparent;
              background: #FFFFFF;
              border: 1px solid #E2E2E2;
              box-sizing: border-box;
              border-radius: 6px;
              font-weight: 500;
              font-size: 24px;
              color: #0D0D0D;
              margin-right: 17px;
              text-align: center;
            }
            >div {
              display: flex;
              .view-detail {
                height: 100%;
                border:1px solid #0D0D0D;
                background: #ffffff;
                border-radius: 6px;
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                letter-spacing: 0.2em;
                color: #0D0D0D;
                // padding: 0px 18px;
                width: 193px;
                cursor: pointer;
                &.disabled {
                  border:1px solid #8D8D8D;
                  color: #8D8D8D;
                  cursor: not-allowed;
                }
                @media screen and (max-width: 1366px){
                  font-size: 18px;
                }
              }
              >button {
                height: 100%;
                background: #0D0D0D;
                border-radius: 6px;
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                letter-spacing: 0.2em;
                color: #FFFFFF;
                // padding: 0px 18px;
                width: 193px;
                border: none;
                margin-left: 20px;
                @media screen and (max-width: 1366px){
                  font-size: 20px;
                }
              }
              .disable {
                background: #8D8D8D;
                cursor: not-allowed;
              }
            }
          }
        }
        .div-bottom-price-mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          // margin-top: 30px;
          .div-button {
            width: 100%;
            padding: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            >button {
              border-radius: 6px;
              font-weight: 500;
              font-size: 12px;
              text-align: center;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              width: calc(100%/2 - 10px);
              height: 36px;
              padding: 0px;
            }
            .view-detail {
              background: #ffffff;
              border: 1px solid #0D0D0D;
              color: #0D0D0D;
              border-radius: 6px;
              &.disabled {
                border: 1px solid #8D8D8D !important;
                color: #8D8D8D !important;
                cursor: not-allowed;
                background: #ffffff !important;
              }
            }
            .add-cart {
              background: #0D0D0D;
              color: #ffffff;
              border: none;
              border-radius: 6px;
            }
            .disable {
              background: #8D8D8D;
              cursor: not-allowed;
              border: none;
            }
          }
          .div-quanity {
            display: flex;
            flex-direction: row;
            background: #FFFFFF;
            border: 1px solid #0D0D0D;
            box-sizing: border-box;
            border-radius: 6px;
            align-items: center;
            margin-top: 20px;
            >button {
              height: 36px;
              margin: 0px 10px;
              background: transparent;
              border: none;
              font-size: 28px;
              line-height: 36px;
              color: #0D0D0D;
              font-weight: 500;
              padding: 0px 7px;
            }
            >span {
              font-weight: 600;
              font-size: 16px;
              text-align: center;
              text-transform: uppercase;
              color: #0D0D0D;
              margin: 0px 10px;
            }
          }
          >button {
            margin-top: 15px;
            font-size: 12px;
            text-decoration-line: underline;
            color: #0D0D0D;
            background: transparent;
            border: none;

          }
        }
      }
      .div-right {
        width: 43.4%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F7F7F7;
        position: relative;
        @media screen and (max-width: 1024px){
          width: 100%;
          height: calc((100vw - 30px) * 0.88);
        }
        .div-react-crop {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          .ReactCrop {
            position: absolute;
            z-index: 4;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            @media screen and (max-width: 1024px){
              height: 149px;
            }
          }
        }
        .slick-slider {
          width: 100%;
          height: 100%;
          .div-scent-profile, .div-cutome-bottle {
            // height: calc((100vw - 194px) * 0.53);
            height: 660px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 1024px){
              height: calc((100vw - 30px) * 0.88);
              width: 100%;
            }
          }
          .div-cutome-bottle {
            position: relative;
            .div-button-delete {
              position: absolute;
              left: 24px;
              top: 50%;
              transform: translateY(-50%);
              width: 36px;
              height: 36px;
              z-index: 3;
              @media screen and (min-width: 1024.1px) {
                visibility: hidden;
              }
            }
            .div-line-scale {
              position: absolute;
              width: 100%;
              height: auto;
              bottom: 52px;
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (max-width: 1024px) {
                flex-direction: column;
                bottom: unset;
                top: 0px;
                right: 15px;
                height: 100%;
                width: auto;
                align-items: center;
                margin-top: 40px;
                justify-content: flex-start;
              }
              .input-range {
                width: 50%;
              }
              .tx-title {
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                margin-right: 52px;
                @media screen and (max-width: 1024px) {
                  margin-right: unset;
                  margin-bottom: 10px;
                  margin-top: 10px;
                }
              }
              .input-scale {
                width: 39px;
                text-align: center;
                background: #FFFFFF;
                border: 0.506494px solid #E2E2E2;
                border-radius: 2.02597px;
                margin-left: 18px;
              }
              .input-range__label--value{
                visibility: hidden;
              }
              .input-range__label {
                visibility: hidden;
              }
              .input-range__slider {
                width: 20px;
                height: 20px;
                margin-top: -12px;
                background: #0D0D0D;
                border: none;
              }
              .input-range__track--background, .input-range__track--active {
                background: #C4C4C4;
              }
            }
            .div-arrow-next {
              position: absolute;
              bottom: 55px;
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              >span {
                font-weight: 500;
                font-size: 12px;
                text-align: center;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                margin-bottom: 12px;
              }
            }
            .div-select-image-product-all {
              // width: 147px;
              // height: 460px;
              // bottom: 35px;
              // left: 50%;
              // transform: translateX(-50%);
              // border-radius: 50px;
              // overflow: hidden;
              // position: absolute;
              // @media screen and (max-width: 1440px){
              //   bottom: 27px;
              //   width: 102px;
              //   height: 332px;
              // }
              // @media screen and (max-width: 1024px){
              //   border-radius: 21px;
              //   width: 85%;
              //   height: 63.68%;
              //   bottom: 5%;
              //   background: transparent;
              // }
              height: 225px;
              width: 70px;
              margin-top: 42px;
              border-radius: 28px;
              position: absolute;
              z-index: 2;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              overflow: hidden;
              cursor: pointer;
              @media screen and (max-width: 1024px){
                height: 167px;
                width: 52px;
                margin-top: 32px;
              }
              .drop-suggestion {
                width: 59px;
                height: 59px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                @media screen and (max-width: 1440px){
                 width: calc(59px * 0.75);
                 height: calc(59px * 0.75);
                }
                @media screen and (max-width: 1024px){
                  width: 31px;
                  height: 31px;
                }
              }
              .div-ver {
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0px;
                background: white;
                &.left {
                  left: 32%;
                }
                &.right {
                  left: 66%;
                }
              }
              .div-hor {
                height: 1px;
                width: 100%;
                background: white;
                position: absolute;
                left: 0px;
                &.top {
                  top: 32%;
                }
                &.bottom {
                  top: 66%;
                }
              }
            }
          
           >img {
             max-height: 71%;
             max-width: 59%;
             object-fit: contain;
             object-position: center;
           }
           .div-button-image {
            position: absolute;
            bottom: 20px;
            z-index: 1;
            @media screen and (max-width: 1024px){
              top: 10px;
              bottom: unset;
              left: 0px;
              display: flex;
              flex-direction: column;
            }
            >button:nth-child(1) {
              border-right: 1px solid #E2E2E2;
              @media screen and (max-width: 1024px){
                border: none;
                padding-bottom: 5px;
              }
            }
            >button {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              background: transparent;
              border: none;
              padding: 0px 20px;
              font-size: 14px;
              font-weight: 600;
              >img {
                height: 16px;
                margin-right: 10px;
              }
            }
            // >button {
            //   border: none;
            //   background: transparent;
            //   padding: 3px 20px;
            //   @media screen and (max-width: 600px){
            //     padding: 3px 10px;
            //   }
            //   >img {
            //     height: 1rem;
            //     margin-right: 10px;
            //     margin-bottom: 3px;
            //   }
            // }
          }
            .div-image-bottle {
              position: relative;
              width: 100%;
              height: 410px;
              @media screen and (max-width: 1024px) {
                height: 303px;
              }
              
              .ReactCrop {
                position: absolute;
                z-index: 4;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 300px;
              }
              .div-backgroud {
                position: absolute;
                z-index: 1;
                height: 75%;
                bottom: 0px;
                width: 100%;
                background: #F7F7F7;
              }
              .div-bottle {
                position: absolute;
                z-index: 1;
                height: 85%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &.show-bottle {
                  opacity: 1;
                  transition: all 0.5s;
                }
                &.hidden-bottle {
                  opacity: 0;
                }
                &.bottle-home {
                  margin-top: 15px;
                }
              }
              .div-name {
                height: 225px;
                width: 70px;
                margin-top: 42px;
                border-radius: 28px;
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                @media screen and (max-width: 1024px){
                  height: 167px;
                  width: 52px;
                  margin-top: 32px;
                }

              }
              .text-name, .text-name-text {
                width: auto;
                height: auto;
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                bottom: 75px;
                z-index: 2;
                background: transparent;
                border: none;
                color: #ffffff;
                text-align: center;
                font-size: 8px;
                @media screen and (max-width: 1024px){
                  font-size: 7px;
                  bottom: 61px;
                }
                &.black {
                  color: #000000;
                  &::placeholder {
                    color: #000000;
                  }
                }
                &::placeholder {
                  color: #ffffff;
                }
              }
              .text-name-text {
                bottom: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin-top: 40px;
                color: #0D0D0D;
                &::placeholder {
                  color: #0D0D0D;
                }
              }
              .ingredients-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                margin-top: 40px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 1024px){
                  margin-top: 30px;
                }
                >span {
                  font-size: 6px;
                  text-align: center;
                  color: #0D0D0D;
                }
                &.ingredients-name-text {
                  top: 60%;
                  .text-name {
                    bottom: 60px;
                    color: #0D0D0D;
                  }
                }
              }
              
              .space-roll-on {
                margin-top: 74px !important;
              }
              .image-logo {
                position: absolute;
                height: auto;
                width: 46px;
                height: auto;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                top: 156px;
                z-index: 2;
                @media screen and (max-width: 1024px){
                  width: 35px;
                  top: 114px;
                }
              }
              .text-des-custome {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                bottom: 65px;
                z-index: 2;
                font-size: 6px;
                width: auto;
                height: auto;
                @media screen and (max-width: 1024px){
                  font-size: 5px;
                  bottom: 52px;
                }
              }
              .text-size-custome {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                bottom: 55px;
                z-index: 2;
                font-size: 6px;
                width: auto;
                height: auto;
                @media screen and (max-width: 1024px){
                  font-size: 5px;
                  bottom: 42px;
                }
              }
              .image-bottle {
                height: 171px;
                width: 74px;
                margin-top: 39px;
                position: absolute;
                z-index: 3;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          .slick-dots {
            transform: rotate(90deg) translateX(-10px);
            top: 50%;
            right: -42%;
            bottom: auto;
            @media screen and (max-width: 1024px){
              right: calc(-50% + 30px);
              bottom: 5px; 
              transform: unset;
              top: unset;
            }
          }
        }
        .div-scent-profile {
          display: flex;
          flex-direction: column;
          padding: 0px 90px;
          height: 100%;
          @media screen and (max-width: 1024px){
            padding: 0px 60px;
          }
          >h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.1em;
            color: #0D0D0D;
          }
          .div-process-line {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 15px 0px;
            .progressLine {
              margin-bottom: 13px;
            }
          }
          .div-process-circle {
            display: flex;
            flex-direction: row;
            height: 78px;
          }
        }
      }
    }
  }
}

.div-line-product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  padding: 10px 0px;
  .div-product-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    // margin: 0px 20px;
    width: 33%;
    >img {
      height: 66%;
      width: 70%;
      object-fit: contain;
      object-position: center;
    }
    >span {
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      color: #152436;
      margin: 16px 0px 10px 0px;
    }
    .line-scent {
      background: #B79B53;
      border-radius: 23px;
      width: 48px;
      height: 4px;
    }
  }
}
.div-product-mobile {
  position: relative;
  .scroll-product {
    position: absolute;
    top: -140px;
  }
  .row {
    margin: 0px !important;
    .col-6 {
      padding: 0px !important;
    }
    .full {
      display: flex;
      justify-content: center;
      .div-product-item-mobile {
        width: 100%;
        padding-top: 67.5%;
      }
    }
    .start {
      display: flex;
      justify-content: flex-start;
      .div-product-item-mobile {
        margin-left: 15px;
      }
    }
    .end {
      display: flex;
      justify-content: flex-end;
      .div-product-item-mobile {
        margin-right: 15px;
      }
    }
  };
}

.div-popup-filter-search-mobile  {
  z-index: 101;
  top: 0px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg-close {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .div-popup-filter, .div-popup-search {
    width: calc(100vw - 30px);
    height: auto;
    padding: 15px 0px;
  }
  .div-popup-filter {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    >button {
      font-size: 18px;
      color: #152436;
      background: transparent;
      border: none;
      margin: 0px;
      padding: 12px 38px;
      width: 100%;
      text-align: left;
    }
  }
  .div-popup-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div-input {
      width: 100%;
      height: 74px;
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 0px 21px;
      
      >img {
        margin-right: 20px;
        width: 27px;
      }
      >input {
        flex: 1;
        border: none;
        border-left: 1px solid #0D0D0D;
        padding: 0px 5px;
        color: #0D0D0D;
        height: 27px;
        border-radius: 0px;
        font-size: 16px;
      }
    }
    >button {
      width: 140px;
      height: 44px;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      background: #0D0D0D;
      border-radius: 6px;
      margin-top: 22px;
      border: none;
    }
  }
}


.div-product-item-mobile {
  width: calc(100% - 20px);
  padding-top: 135%;
  position: relative;
  margin-bottom: 12px;
  .div-card-item {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 10.8185px 10.8185px 28.8494px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    >img {
      height: 62.5%;
      margin: 20px 0px;
      object-fit: contain;
      object-position: center;
    }
    >span {
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #152436;
      margin-bottom: 15px;
    }
    .line-scent {
      background: #B79B53;
      border-radius: 16.5884px;
      height: 3px;
      width: 20%;
    }
  } 
}

