
.drawer-pick-scent {
  .MuiDrawer-paperAnchorRight {
    width: fit-content;
  }
}
.div-product-detail {
  margin-left: 70px;
  margin-right: 70px;
  color: #0D0D0D;
  position: relative;
  margin-top: 24px;
  overflow: hidden;
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-left: 40px;
    margin-right: 40px;
  }
  &.product-detail-v3 {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 1248px) {
      padding: 0px 24px;
    }
    @media screen and (max-width: 992px) {
      padding: 0px;
      width: calc(100% - (64px * 2));
      margin: auto;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    @media screen and (max-width: 768px) {
      width: unset;
      margin-left: 16px;
      margin-right: 16px;
    }
    .video-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 64px 0px;
      @media screen and (max-width: 767px) {
        margin: 24px 0px;
      }
      .text-header {
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 60px;
        width: 650px;
        text-align: center;
        @media screen and (max-width: 767px) {
          font-size: 36px; 
          width: 100%;
          margin-bottom: 32px;
        }
      }
      .div-video {
        width: 799px;
        height: 449px;
        border-radius: 8px;
        overflow: hidden;
        @media screen and (max-width: 767px) {
          width: calc(100vw - 32px);
          height: calc((100vw - 32px) / 16 * 9);
        }
        .video-react {
          .video-react-poster {
            background-size: cover;
          }
        }
      }
    }
    .show-page-1 {
      .div-scent-character {
        .video-ingredient {
          .list-video {
            .video-item {
              @media screen and (min-width: 992px) {
                width: calc((100% - (40px*3)) / 3);
                margin: 0px 20px;
              }
              
              .thumbnail-video {
                @media screen and (min-width: 992px) {
                  width: 360px;
                }
                
              }
            }
          }
        }
      }
      .div-route-link {
        width: 1200px;
        margin: auto;
        height: 72px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 991px) {
          width: 100%;
          margin-bottom: 24px;
        }
        @media screen and (max-width: 767px) {
          // display: none;
          margin-bottom: 12px;
        }
        >button {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          cursor: pointer;
          text-transform: uppercase;
          color: #BCAD93;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        .active {
          color: #2C2C22;
          cursor: not-allowed;
        }
        >span {
          margin: 0px 8px;
          font-size: 16px;
          line-height: 150%;
          color: #858585;
        }
      }
      .row {
        .col-md-6:nth-child(1) {
          padding-left: 0px;
          padding-right: 0px;
          width: 500px;
          max-width:unset;
          flex: unset;
          @media screen and (max-width: 992px) {
            width: 50%;
            padding-right: 36px;
          }
        }
        .col-md-6:nth-child(2) {
          width: 100%;
          max-width: unset;
          flex: 1;
          padding-left: 0px;
          padding-right: 0px;
          .div-text-block {
            padding-left: 64px;
            @media screen and (max-width: 992px) {
              padding-left: 0px;
            }
          }
        }
        .col-md-12 {
          padding-right: 0px;
          padding-left: 0px;
        }
      }
    }
  }
  .hidden-page-1 {
    left: -100vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .hidden-page-2 {
    left: 100vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .show-page-1 {
    left: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .show-page-2 {
    left: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  @media (max-width: 600px) {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 0.8rem;
  }
  .div-ingredient-local {
    height: 100%;
    display: flex;
    flex-direction: column;
    .div-content-local {
      width: 100%;
      flex: 1;
      .div-ingredient-detail {
        .div-content {
          padding-top: 80px;
          // height: 500px;
          height: auto;
          overflow-y: hidden;
        }
        .div-banel {
          height: 130px;
          z-index: 2;
          border-radius: 0px;
          @media screen and (max-width: 1440px) {
            height: 80px;
          }
          @media screen and (max-width: 1024px) {
            height: 84px;
          }
          .bt-close {
            position: absolute;
            top: 19px;
            left: 19px;
            @media screen and (max-width: 1440px) {
              top: calc(19px * 0.75);
              left: calc(19px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              top: 29px;
              left: 19px;
            }
          }
          .div-text {
            >h2 {
              font-size: 36px;
              font-weight: normal;
              @media screen and (max-width: 1440px) {
                font-size: calc(36px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-size: 21px;
              } 
            }
          }
          >span {
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
        .wrap-header {
          .div-info-v2 {
            &.list-secondary {
              margin-top: -10px;
            }
            .div-strength, .div-duration, .div-persinal-image {
              .div-title {
                z-index: 1;
                margin-bottom: 0px;
                >span {
                  font-size: 14px;
                  font-weight: 300;
                }
              }
              .div-image {
                width: 110%;
              }
            }
            .div-duration {
              height: 100%;
              .div-image {
                width: 75%;
                height: 100%;
                >span {
                  bottom: 13%;
                  width: 100px;
                  text-align: center;
                  font-weight: 300;
                }
              }
            }
            .div-strength {
              .div-image {
                width: 120%;
                >span {
                  bottom: 13%;
                  font-weight: 300;
                }
              }
            }
            .div-persinal-image {
              .div-image {
                width: 90%;
                #span-1 {
                  bottom: 0px;
                  font-weight: 300;
                }
                #span-2 {
                  left: 17%;
                  top: 17%;
                  font-weight: 300;
                }
                #span-3 {
                  right: 17%;
                  top: 17%;
                  font-weight: 300;
                }
              }
            }
            .div-evolution {
              .div-title {
                z-index: 1;
                margin-bottom: 0px;
                margin-top: 20px;
                >span {
                  font-size: 14px;
                  font-weight: 300;
                }
              }
              .div-image {
                margin-top: -60px;
                width: 80%;
                >span {
                  font-size: 12px;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
    .div-list-button {
      display: flex;
      justify-content: center;
      
    }
  }
  .div-page1, .div-page2 {
    position: relative;
    top: 0px;
    width: 100%;
    padding-bottom: 40px;
    .div-pick-ingredient {
      height: 550px;
      .div-header-ingredient {
        margin-right: 0px;
        .div-text-header {
          
        }
      }
      .div-scroll-ingredient {
        margin-right: -15px;
      }
    }
    .div-filter-search {
      margin-top: 30px;
      @media screen and (max-width: 1440px){
        margin-top: calc(30px * 0.75);
      }
      @media screen and (max-width: 1024px){
        margin-top: 25px;
      }
    }
    .div-filter-search-scent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .div-filter {
        .header-filter {
          height: 46px;
          width: 194px;
          justify-content: center;
          align-items: center;
          display: flex;
          border: 1px solid #0D0D0D;
          padding-left: 10px;
          padding-right: 10px;
          justify-content: space-between;
          @media screen and (max-width: 1440px) {
            height: 34px;
            width: 145px;
            padding-left: 7px;
            padding-right: 7px;
          }
          @media screen and (max-width: 1024px) {
            height: 29px;
            width: 122px;
            padding-left: 6px;
            padding-right: 6px;
          }
          >span {
            font-size: 16px;
            color: #0D0D0D;
            cursor: pointer;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: 12px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
          >img {
            height: 12.75px;
            @media screen and (max-width: 1440px) {
              height: 9.56px;
            }
            @media screen and (max-width: 1024px) {
              height: 8px;
            }
          }
        }
        .dropdown-item-filter {
          padding: 12px;
          >span {
            font-size: 18px;
            font-weight: 300;
            color: #152436;
            cursor: pointer;
            @media screen and (max-width: 1440px) {
              font-size: 14px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
        .dropdown-menu {
          width: 200px !important;
          left: -10px !important;
          transform: translate3d(0px, 41px, 0px) !important;
        }
      }
      .div-search {
        border: 1px solid #0D0D0D;
        padding: 0px 10px;
        height: 46px;
        margin: 0px;
        width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1440px) {
          height: 34px;
          width: 145px;
        }
        @media screen and (max-width: 1024px) {
          height: 29px;
          width: 122px;
        }
        >button {
          background: transparent;
          border: none;
          font-size: 16px;
          color: #0D0D0D;
        }
        >input {
          width: 100px;
          border: none;
          font-weight: 300;
          font-size: 16px;
          color: #0D0D0D;
          height: 100%;
          background: transparent;
          @media screen and (max-width: 1440px){
            font-size: 12px;
          }
          @media screen and (max-width: 1024px){
            font-size: 10px;
            width: 90px;
            height: 39px;
          }
          &::placeholder {
            font-weight: 300;
            color: #0D0D0D;
            font-size: 16px;
            @media screen and (max-width: 1440px){
              font-size: 12px;
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
            }
          }
        }
        >img {
          height: 16px;
          @media screen and (max-width: 1440px) {
            height: 12px;
          }
          @media screen and (max-width: 1024px) {
            height: 10px;
          }
        }
      }
    }

    .div-text-block {
      color: #0D0D0D;
      &.block-bestSeller {
        .content-tab {
          .tab-scent-character {
            margin-top: 10px;
          }
        }
        .list-tab {
          display: flex;
          margin-bottom: 8px;
          margin-top: -10px;
          >button {
            padding: 8px 12px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #2C2C22;
            @media screen and (max-width: 767px) {
              font-size: 12px;
            }
          }
          .active {
            border-bottom: 1px solid #2c2c2c;
          }
        }
        .list-tag {
          display: flex;
          flex-wrap: wrap;
          >div {
            margin-top: 8px;
            width: fit-content;
            border-radius: 5px;
            padding: 0px 10px;
            height: 30px;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #EBD8B8;
            margin-right: 12px;
            @media scent and (max-width: 767px) {
              height: 24px;
              padding: 0px 8px;
              font-size: 10px;
              margin-right: 8px;
            }
            >img {
              width: 12px;
              height: 12px;
              margin-right: 8px;
              @media scent and (max-width: 767px) {
                width: 10px;
                height: 10px;
              }
            }
            .dot {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #F3E8D4;
              margin-right: 8px;
              @media scent and (max-width: 767px) {
                width: 10px;
                height: 10px;
              }
            }
          }
          .d-tag-0 {
            background: #414138;
            color: #EBD8B8;
          }
          .d-tag-1 {
            background: #8D826E;
            color: #F3E8D4;
          }
          .d-tag-2 {
            background: #EBD8B8;
            color: #56564E;
          }
        }
        .name-title {
          font-weight: 400;
          font-size: 48px;
          line-height: 150%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #2C2C22;
          padding-top: 16px;
          padding-bottom: 16px;
          @media screen and (max-width: 767px) {
            font-size: 20px;
            padding-top: 24px;
            padding-bottom: 12px;
          }
        }
        .detail-text {
          padding: 8px 12px;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #2C2C22;
          border-bottom: 1px solid #2C2C22;
          margin-bottom: 16px;
          width: fit-content;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        .text-des-m {
          font-size: 16px;
          line-height: 150%;
          color: #2C2C22;
          margin-bottom: 16px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        .intensity {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #2C2C22;
          margin-right: 12px;
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
          &.intensity-des {
            margin-bottom: 0px;
            >span {
              font-weight: 400;
              margin-left: 12px;
              @media screen and (max-width: 767px) {
                font-size: 10px;
              }
            }
          }
          .list-point {
            display: flex;
            margin-left: 12px;
            .point-i {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              margin-right: 6px;
              background: #BCAD93;
              &.active {
                background: #56564E;
              }
            }
          }
        }
        .list-scent {
          display: flex;
          // margin-bottom: 16px;
          flex-wrap: wrap;
          .item-scent {
            // padding: 6px;
            height: 54px;
            width: 100px;
            margin-bottom: 16px;
            // display: flex;
            // align-items: center;
            // font-weight: 400;
            // font-size: 12px;
            // line-height: 150%;
            // color: #56564E;
            margin-right: 12px;
            padding: unset;
            // background: #F1E4CD;
            @media screen and (max-width: 767px) {
              height: 64px;
              width: calc((100% - 12px)/2);
              margin-right: 6px;
              margin-bottom: 6px;
            }
            >img {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              object-fit: cover;
            }
          }
        }

        .div-description {
          .show-hidden {
            max-height: 30px;
            @media screen and (max-width: 767px) {
              max-height: 70px;
            }
          }
          >span >p, >span >p >span, >span >ul >li >span{
            font-weight: 300 !important;
            font-size: 16px !important;
            line-height: 26px !important;
            // text-align: justify;
            background-color: transparent!important;
            @media screen and (max-width: 767px) {
              font-size: 12px !important;
              line-height: 19px !important;
            }
          }
        }
        .line-temp {
          margin-top: 16px;
          width: 100%;
          height: 1px;
          background: rgba(44, 44, 34, 0.1);
        }
        .div-point-price {
          display: flex;
          flex-direction: column;      
          @media screen and (max-width: 767px) {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 24px;
          }
          .price {
            font-weight: 600;
            font-size: 32px;
            line-height: 150%;
            color: #2C2C22;
            margin-top: 10px;
            margin-bottom: 8px;
            text-align: end;
            @media screen and (max-width: 767px) {
              font-size: 20px;
              margin-top: 0px;
              margin-bottom: 0px;
            }
          }
          .line-point {
            height: 30px;
            background: #FFF4E0;
            border: 0.8px solid #BCAD93;
            border-radius: 20px;
            align-items: center;
            padding: 0px 12px;
            margin-bottom: 24px;
            width: fit-content;
            align-self: flex-end;
            @media screen and (max-width: 767px) {
              height: 24px;
              padding: 0px 6px;
              margin-bottom: 0px;
            }
            >img {
              width: 16px;
              height: 16px;
              margin-right: 4px;
            }
            >span {
              font-size: 14px;
              @media screen and (max-width: 767px) {
                font-size: 10px;
              }
            }
          }
        }
        .add-card-block {
          display: flex;
          align-items: center;
          @media screen and (max-width: 767px) {
            padding: 12px 16px;
            position: fixed;
            border: 0px;
            display: flex;
            z-index: 14;
            background: #F5ECDC;
            width: 100%;
            left: 0px;
            bottom: 0px;
            box-shadow: 0px -1px 2px rgba(44, 44, 34, 0.1);
          }
          .div-quantity {
            height: 44px;
            min-width: 95px;
            border: 1px solid #2C2C22;
            border-radius: 30px;
            margin-right: 15px;
            padding: 0px 15px;
            .div-number {
              display: flex;
              height: 100%;
              align-items: center;
              .quanity {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 15px;
                font-weight: 500;
              }
              .disabled {
                cursor: not-allowed;
              }
              >button {
                >img {
                  width: 11px;
                  height: 100%;
                }
              }
            }
          }
          >button {
            flex: 1;
          }
        }

      }
      .div-point-detail {
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 1024px) {
          margin: 8px 0px;
        }
        >img {
          width: 17px;
          height: 17px;
          margin-right: 5px;
          @media screen and (max-width: 1440px) {
            width: 15px;
            height: 15px;
            margin-right: 4px;
          }
          @media screen and (max-width: 1024px) {
            width: 11px;
            height: 11px;
            margin-right: 3px;
          }
        }
        >span {
          color: #B79B53;
          @media screen and (max-width: 1024px) {
            font-size: 8px;
          }
        }
      }
      .choose-type-perfume {
        display: flex;
        border: 1px solid rgba(38, 38, 38, 0.1);
        >div {
          width: 50%;
        }
        &.list-hand_sanitizer {
          border-top: none;
          >div {
            width: 100%;
          }
        }
      }
      .option-sanitizer {
        margin-top: 50px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(50px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 10px;
        }
        .dropdown-hand-sanitizer {
          &.show {
            >span {
              .item-hand-sanitizer {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-bottom: none;
              }
            }
          }
          >span {
            .item-hand-sanitizer {
              border-radius: 6px;
              cursor: pointer;
            }
          }
          .dropdown-menu {
            width: 100%;
            border: unset;
            padding: 0px;
            border: none;
            top: 37px!important;
            transform: unset !important;
            .item-hand-sanitizer {
              border-bottom: none;
              cursor: pointer;
              &.active {
                background: linear-gradient(0deg, #7C7C7C, #7C7C7C), #FFFFFF;
                .title {
                  >h2, >span {
                    color: #FFFFFF;
                  }
                }
              }
            }
            .item-hand-sanitizer:last-child() {
              border-bottom: 1px solid #E2E2E2;
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
        }
        .item-hand-sanitizer {
          display: flex;
          height: 51px;
          padding: 0px 20px;
          align-items: center;
          justify-content:space-between;
          border: 1px solid #E2E2E2;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            height: 38px;
            padding: 0px 15px;
          }
          .title {
            display: flex;
            align-items: center;
            margin: 0px;
            >h2 {
              font-size: 18px;
              font-weight: 300;
              color: #0D0D0D;
              margin-bottom: 0px;
              margin-right: 8px;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
            >span {
              font-weight: 300;
              font-size: 18px;
              color: #545454;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
          }
          >img {
            height: 18px;
            transform: rotate(90deg);
            @media screen and (max-width: 1440px) {
              height: calc(18px * 0.75);
            }
          }
        }
      }

      .item-select-type-perfume {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 24px 0px;
        cursor: pointer;
        @media screen and (max-width: 1440px) {
          padding: 18px 0px;
        }
        @media screen and (max-width: 1024px) {
          padding: 10px;
        }
        &.b-right {
          border-right: 1px solid #E2E2E2;
        }
        &.active {
          background: rgba(255, 233, 175, 0.1);
          border: 1px solid #B79B53;
        }
        >div {
          display: flex;
          >img {
            height: 80px;
            margin-right: 27px;
            @media screen and (max-width: 1440px) {
              height: calc(80px * 0.75);
              margin-right: calc(27px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              height: 62px;
              margin-right: 18px;
            }
          }
          .item-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            >h3 {
              margin-bottom: 0px;
              font-size: 24px;
              font-weight: normal;
              text-align: center;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(24px * 0.75);
              }
              @media screen and (max-width: 1440px) {
                font-size: 10px;
              }
            }
            >span {
              padding: 5px 0px;
              color: #545454;
              font-size: 14px;
              font-weight: 300;
              @media screen and (max-width: 1440px) {
                padding: 3.5px 0px;
                font-size: calc(14px * 0.75);
              }
              @media screen and (max-width: 1440px) {
                font-size: 10px;
              }
            }
            >h4 {
              margin-bottom: 0px;
              font-weight: 500;
              font-size: 20px;
              text-align: center;
              color: #B79B53;
              @media screen and (max-width: 1440px) {
                font-size: calc(20px * 0.75);
              }
              @media screen and (max-width: 1440px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      .item-scent-select {
        display: flex;
        align-items: center;
        padding: 21px 0px;
        cursor: pointer;
        flex-direction: column;
        @media screen and (max-width: 1440px) {
          padding: 15px 0px;
        }
        @media screen and (max-width: 1024px) {
          padding: 13px 0px;
          flex-direction: column;
        }
        .item-scent-select-body {
          display: flex;
          width: 100%;
          align-items: center;
        }
        .image-scent {
          width: 65px;
          height: 65px;
          margin-right: 23px;
          >img {
            height: 100%;
            width: 100%;
            // object-fit: contain;
            object-fit: cover;
            border-radius: 16px;
          }
          .icon {
            object-fit: contain;
          }
          @media screen and (max-width: 1440px) {
            width:calc(65px * 0.75);
            height: calc(65px * 0.75);
            margin-right: calc(23px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            width: 48px;
            height: 48px;
          }
        }
        .name-scent {
          flex: 1;
          >div {
            >h3 {
              font-weight: 300;
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 0px;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-weight: 300;
                font-size: 17px;
                line-height: 25px;
              }
            }
            >button {
              display: flex;
              padding-left: 12px;
              padding-right: 12px;
              @media screen and (max-width: 1024px) {
                padding-left: 15px;
                padding-right: 15px;
              }
              >img {
                width: 20px;
                height: 20px;
                @media screen and (max-width: 1440px) {
                  width: calc(20px * 0.75);
                  height: calc(20px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  width: 20px;
                  height: 20px;
                }
              }
            }
            >span {
              font-weight: 500;
              font-size: 14px;
              color: #BC5A59;

            }
          }
          >span {
            font-weight: 300;
            font-size: 18px;
            color: #8D8D8D;
            line-height: 26px;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
              line-height: calc(26px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-weight: 300;
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
        .recommend-data {
          display: flex;
          flex-direction: column;
          margin-top: 19px;
          @media screen and (max-width: 1440px) {
            margin-top: calc(19px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-right: 0px;
            flex-direction: column;
            width: 100%;
            padding: unset;
            margin-top: 27px;
          }
          >h3 {
            font-size: 18px;
            line-height: 26px;
            font-weight: normal;
            text-align: center;
            margin-bottom: 13px;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
              line-height: calc(26px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 10px;
              line-height: 14px;
              margin-bottom: 15px;
              text-align: center;
            }
          }
          .list-scent {
            display: flex;
            justify-content: center;
            @media screen and (max-width: 1024px) {
              justify-content: space-around;
            }
            .image-content {
              width: 95px;
              height: 95px;
              margin-right: 10px;
              cursor: pointer;
              margin: 0px 30px;
              position: relative;
              @media screen and (max-width: 1440px) {
                width: calc(95px * 0.75);
                height: calc(95px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                width: 73px;
                height: 73px;
                margin: unset;
                margin-right: 0px;
              }
              .scent {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 31px;
                box-shadow: 0px 5.33333px 5.33333px rgba(0, 0, 0, 0.25);
                @media screen and (max-width: 1440px) {
                  border-radius: calc(31px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  border-radius: 20px;
                }
              }
              .info {
                width: 17px;
                height: 17px;
                bottom: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                @media screen and (max-width: 1440px) {
                  width: calc(17px * 0.75);
                  height: calc(17px * 0.75);
                  bottom: calc(10px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  width: 11px;
                  height: 11px;
                  bottom: 9px;
                }
              }
            }
          }
        }
        >img {
          height: 21px;
          @media screen and (max-width: 1440px) {
            height: calc(21px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 13px;
          }
        }
      }
      >.div-custome-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .header-text {
          display: flex;
          flex-direction: row;
          >span {
            font-weight: 600;
            font-size: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            padding-right: 20px;
            border-right: 1px solid #8D8D8D;
          }
          >button {
            background: transparent;
            border: none;
            color: #8D8D8D;
            height: 1rem;
            margin-left: 10px;
          }
        }
        .div-image {
          display: flex;
          flex-direction: row;
          >img {
            height: 55px;
            object-fit: contain;
            object-position: center;
            margin-right: 20px;
            margin-top: 10px;
          }
          >.div-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            >span {
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              display: flex;
              align-items: center;
              color: #0D0D0D;
            }
            >button {
              font-size: 12px;
              background: transparent;
              border: none;
              padding: 0px;
              >img {
                height: 12px;
                margin-right: 5px;
              }
            }
          }
          
        }
      }

      .text-gify-buy {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #B79B53;
        margin-left: 20px;
        @media screen and (max-width: 1440px) {
          font-size: calc(16px * 0.75);
          line-height: calc(23px * 0.75);
          margin-left: calc(20px * 0.75); 
        }
        @media screen and (max-width: 1024px) {
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
          margin-left: 0px;
        }
      }

      .header {
        @media (max-width: 1024px) {
          margin-top: 1.5rem;
        }
        >h1 {
          font-size: 25px;
          line-height: 27px;
          font-weight: normal;
          margin-bottom: 0px;
          @media screen and (max-width: 1440px) {
            font-size: calc(25px * 0.75);
            line-height: calc(27px * 0.75);
          }
          @media (max-width: 1024px) {
            font-size: 17px;
            line-height: 25px;
          }
        }
        > span {
          font-weight: 300;
          font-size: 25px;
          line-height: 27px;
          @media only screen and (max-width: 1440px) {
            font-size: calc(25px * 0.75);
          }
          @media (max-width: 600px) {
            font-size: 17px;
            line-height: 25px;
          }
        }
        
      }
      .header2 {
        padding: 10px 0px;
        width: 100%;
        justify-content: space-between;
        >span {
          color: #8D8D8D;
          letter-spacing: 2px;
        }
        .div-review {
          >button {
            padding: 0px;
            font-weight: normal;
            background: transparent;
            border-bottom: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-left: 6px;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.15em;
            @media screen and (max-width: 1440px) {
              font-size: calc(13px * 0.75);
              line-height: calc(19px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
        .div-point-detail {
          flex: 1;
          justify-content: flex-end;
          >img {
            width: 17px;
            height: 17px;
            margin-right: 5px;
            @media screen and (max-width: 1440px) {
              width: 15px;
              height: 15px;
              margin-right: 4px;
            }
            @media screen and (max-width: 1024px) {
              width: 12px;
              height: 12px;
              margin-right: 2px;
            }
          }
          >span {
            color: #B79B53;
          }
        }
        &.div-line-start {
          @media screen and (max-width: 1024px) {
            width: 100%;
            height: 44px;
            border-radius: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .line-star {
            display: flex;
            align-items: center;
            >img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              @media screen and (max-width: 1440px) {
                width: calc(20px * 0.75);
                height: calc(20px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      .line {
        height: 1px;
        width: 100%;
        background: rgba(38, 38, 38, 0.1);
      }

      .bt-out-line {
        background: #C9A047;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
      .div-add-cart {
        width: 100%;
        @media screen and (max-width: 1024px) {
          display: flex;
        }
        &.none-border {
          border-top: none;
        }
        &.main-add-card {
          >select {
            @media screen and (max-width: 1024px) {
              height: 42px !important;
              background-color: #F5ECDC;
            }
          }
          .bt-checkout {
            @media screen and (max-width: 1024px) {
              height: 42px !important;
            }
          }
        }
        &.footer-add-cart-mobile {
          width: 100%;
          color: #0D0D0D;
          position: fixed;
          bottom: 0px;
          left: 0px;
          z-index: 21;
          display: flex;
          >select {
            border-radius: 0px;
            border: 1px solid rgba(38, 38, 38, 0.1);
            background-color: #F5ECDC;
          }
          >button {
            border-radius:0px;
          }
        }
        .bt-checkout {
          border-radius:0px;
        }
        .bt-out-line {
          margin-right: 10px;
          @media screen and (max-width: 1440px) {
            margin-right: calc(10px * 0.75);
          }
        }
        .div-quantity {
          display: flex;
          flex-direction:column;
          align-items: center;
          .header_4 {
            margin-bottom: 7px;
            @media screen and (max-width: 1440px) {
              margin-bottom: calc(7px * 0.75);
            }
          }
          .div-number {
            display: flex;
            height: 42px;
            align-items: center;
            @media screen and (max-width: 1440px) {
              height: calc(42px * 0.75);
            }
            .quanity {
              height: 100%;
              width: 67px;
              border: 1px solid #0D0D0D;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0px 15px;
              @media screen and (max-width: 1440px) {
                width: calc(67px * 0.75);
                margin: 0px calc(15px * 0.75);
              }
            }
            .disabled {
              cursor: not-allowed;
            }
            >button {
              >img {
                width: 11px;
                height: 100%;
              }
            }
          }
        }
        >select {
          margin-right: 30px;
          width: 81px;
          height: 50px;
          padding: 0.5rem 1rem 0.5rem 2rem !important;
          @media (max-width: 1024px) {
            margin-right: 0px;
            width: 100px;
            border-radius: 0px;
          }
        }
        >button {
          height: 50px;
          flex: 1;
          letter-spacing: 2px;
          @media (max-width: 1024px) {
            height: 42px;
          }
        }
        .border-checkout {
          padding: 0.5rem 1rem;
          height: 50px;
          border-radius: 6px;
          &.disabled {
            cursor: no-drop;
          }
          @media screen and (max-width: 1024px) {
            border-radius: 0px;
          }
        }
        select:not([multiple]) {
          background-position: 80% 50%;
          background-image: url('../image/icon/ic-select.svg')
        }
      }

      

      .div-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        line-height: 159%;
        @media screen and (max-width: 1440px) {
          font-size: 14px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 19px;
        }
        >span >p {
          margin-bottom: 0px;
          // text-align: justify;
        }
        >span >p, >span >p >span, >span >ul >li >span{
          font-weight: 300 !important;
          font-size: 18px !important;
          line-height: 26px !important;
          // text-align: justify;
          background-color: transparent!important;
          @media screen and (max-width: 1440px) {
            font-size: 14px !important;
            line-height: 17px !important;
          }
          @media screen and (max-width: 1024px) {
            font-size: 13px !important;
            line-height: 19px !important;
          }
        }
        .name-description {
          font-size: 21px;
          color: #152436;
        }
        .show-hidden {
          max-height: 70px;
          overflow-y: hidden;
          &.smalle-des {
            max-height: 50px;
          }
          @media screen and (max-width: 1024px) {
            height: 70px;
          }
        }
       .bt-hidden-mobile {
         position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 50px;
            top: -40px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F5ECDC 100%);;
            z-index: 2;
            position: absolute;
          }
        }
        >div >button {
          font-weight: 300;
          background: transparent;
          padding: 0px;
          border-bottom: 1px solid;
          border-left: none;
          border-right: none;
          border-top: none;
          color: #152436;
        }
      }
      .div-scent {
        >button {
          padding: 13px 0px;
          border-left: none;
          border-top: 1px solid #E2E2E2;
          border-bottom: 1px solid #E2E2E2;
          border-right: none;
          color: #8D8D8D;
          background: transparent;
          @media (max-width: 1024px) {
            border: 1px solid #E2E2E2;
          }
           >div >img {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            object-position: center;
            border-radius: 50%;
            object-fit: cover;

          }
        }
        .active {
          border-bottom: 2px solid #0D0D0D;
          font-weight: 700px;
          color: #0D0D0D;
          @media (max-width: 1024px) {
            border-bottom: 1px solid #0D0D0D;
            border: 1px solid #0D0D0D;
          }
        }
      }

      .div-make-designs {
        >span {
          letter-spacing: 1px;
        }
        .slick-slider {
          margin-top: 1.5rem;
          .slick-list {
            margin-left: 50px;
            margin-right: 50px;
          }
          .sub-slice {
            display: flex!important;
            flex-direction: column;
            justify-content: center!important;
            align-items: center!important;
            cursor: pointer;
          }
          .slick-arrow {
            &.slick-next {
                height: 64px;
                margin-top: 0px;
                top: 0px;
                &:before {
                    height: 64px;
                    top: 50%;
                    transform: translateY(10px);
                }
            }
            &.slick-prev {
                height: 64px;
                margin-top: 0px;
                top: 0px;
                &:before {
                  height: 64px;
                  top: 50%;
                  transform: translateY(10px);
                }
            }
          }
        }
        @media (max-width: 1024px) {
          .slick-slider .slick-list {
            margin-left: 35px;
            margin-right: 35px;
          }
          .slick-slider .slick-arrow.slick-prev:before {
            height: 42px;
            top: 50%;
            transform: translateY(10px);
            width: 42px;
          }
          .slick-slider .slick-arrow.slick-next:before {
            height: 42px;
            top: 50%;
            transform: translateY(10px);
            width: 42px;
          }
          .slick-slide {
            width: 50px!important;
            .sub-slice {
              display: flex!important;
              flex-direction: column;
              justify-content: center!important;
              align-items: center!important;
              cursor: pointer;
              >img {
                height: 42px !important;
              }
            }
            // .slick-arrow {
            //   &.slick-next {
            //       height: 42px;
            //       margin-top: 0px;
            //       top: 0px;
            //       &:before {
            //           height: 42px;
            //           top: 50%;
            //           transform: translateY(10px);
            //       }
            //   }
            //   &.slick-prev {
            //       height: 42px;
            //       margin-top: 0px;
            //       top: 0px;
            //       &:before {
            //         height: 42px;
            //         top: 50%;
            //         transform: translateY(10px);
            //       }
            //   }
            // }
          }
        }
      }
      .div-custom-name {
        >span {
          letter-spacing: 1px;
        }
        .div-input {
          width: 274px;
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          @media (max-width: 1024px) {
            width: 100%;
            height: 42px;
          }
          >input {
            width: 200px;
            border: none;
            @media (max-width: 1024px) {
              width: calc(100% - 60px);
              font-size: 0.8rem;
            }
          }
        }
      }
      .button-back {
        height: 50px;
        letter-spacing: 1px;
      }
    }
  }

  .list-pre-made {
    margin-top: 75px;
    @media screen and (max-width: 1440px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 50px;
    }
  }

  .div-scent-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &.scent-best-seller {
      max-width: 1200px;
      @media screen and (max-width: 991px) {
        padding: 0px;
      }
      .header_2 {
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #2C2C22;
        margin: 64px 0px;
        text-transform: uppercase;
        @media screen and (max-width: 991px) {
          margin: 48px 0px;
          font-size: 24px;
          line-height: 120%;
        }
      }
      .img-scent-mobile {
        width: calc(100vw - 32px);
        height: calc((100vw - 32px) * 0.75);
        border-radius: 25px;
        margin-bottom: 32px;
      }
      .div-button-scent {
        @media screen and (max-width: 767px) {
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 16px 16px;
          width: fit-content;
          margin-bottom: 0px;
        }
        >button {
          width: 100px;
          height: 54px;
          margin: 0px;
        }
      }
      .div-info {
        .div-process-circle {
          @media screen and (max-width: 767px) {
            margin-bottom: 12px;
          }
        }
        .div-process-line {
          width: 100%;
        }
      }
      .info-character {
        @media screen and (max-width: 991px) {
          width: 100%;
        }
        .info-character-right {
          width: 410px;
          height: 328px;
          margin-right: 64px;
          @media screen and (max-width: 991px) {
            margin-right: 36px;
          }
          .div-image {
            >img {
              border-radius: 25px;
            }
          }
        }
        .info-character-left {
          margin: unset;
          width: 528px;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
          .div-button-scent {
            margin-bottom: 48px;
            margin-left: -8px;
            >button {
              width: 120px;
              height: 54px;
              margin: 0px 8px;
            }
          }
          .div-info {
            flex-direction: row-reverse;
            .div-process-line {
              flex: 1;
              @media screen and (max-width: 991px) {
                width: auto;
                flex: 1;
                height: 100%;
              }
              @media screen and (max-width: 767px) {
                width: 100%;
              }
            }
            .div-process-circle {
              margin-left: 0px;
              margin-right: 24px;
              @media screen and (max-width: 1024px) {
                margin-top: unset;
                width: unset;
                flex-direction: column;
              }
              @media screen and (max-width: 991px) {
                width: auto;
                flex-direction: column;
                margin-top: 0px;
                margin-right: 24px;
              }
            }
          }
        }
      }
    }
    &.div-multiple {
      .div-info {
        .div-info-detail {
          >img {
            margin: auto;
          }
          .text-info {
            margin-left: 30px;
          }
          .div-image-combo {
            margin: auto;
          }
          .text-info-combo {
            margin-left: 30px;
          }
        }
      }
    }
    >h3 {
      margin: 65px 0px;
      font-weight: 300;
      text-align: center;
      color: #0D0D0D;
      @media screen and (max-width: 1440px) {
        margin-top: calc(65px * 0.75);
        margin-bottom: calc(65px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        margin: 36px 0px;
      }
    }
    .info-character {
      // width: 90%;
      width: fit-content;
      .info-character-right {
        width: 305px;
        height: 305px;
        margin-right: 122px;
        @media screen and (max-width: 1440px) {
          width: calc(305px * 0.75);
          height: calc(305px * 0.75);
          margin-right: calc(122px * 0.75);
        }
        .div-image-combo {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          position: relative;
          &.multiple-4 {
            display: grid;
            grid-gap: 0px 0px;
            grid-template-columns: auto auto;
            >img {
              width: 100%;
              height: calc(305px/2);
              object-position: center;
              @media screen and (max-width: 1440px) {
                height: calc(305px * 0.75 / 2);
              }
            }
            >img:nth-child(1) {
              border-top-left-radius: 102px;
              border-bottom-left-radius: 0px;
              @media screen and (max-width: 1440px) {
                border-top-left-radius: calc(102px * 0.75);
                border-bottom-left-radius: 0px;
              }
            }
            >img:nth-child(2) {
              border-top-right-radius: 102px;
              border-bottom-right-radius: 0px;
              @media screen and (max-width: 1440px) {
                border-top-right-radius: calc(102px * 0.75);
                border-bottom-right-radius: 0px;
              }
            }
            >img:nth-child(3) {
              border-top-left-radius: 0px;
              border-bottom-left-radius: 102px;
              @media screen and (max-width: 1440px) {
                border-top-left-radius: 0px;
                border-bottom-left-radius: calc(102px * 0.75);
              }
            }
            >img:nth-child(4) {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 102px;
              @media screen and (max-width: 1440px) {
                border-top-right-radius: 0px;
                border-bottom-right-radius: calc(102px * 0.75);
              }
            }
          }
          >img {
            width: 50%;
            object-fit: cover;
            object-position: bottom;
          }
          >img:nth-child(1) {
            border-top-left-radius: 102px;
            border-bottom-left-radius: 102px;
            @media screen and (max-width: 1440px) {
              border-top-left-radius: calc(102px * 0.75);
              border-bottom-left-radius: calc(102px * 0.75);
            }
          }
          >img:nth-child(2) {
            border-top-right-radius: 102px;
            border-bottom-right-radius: 102px;
            @media screen and (max-width: 1440px) {
              border-top-right-radius: calc(102px * 0.75);
              border-bottom-right-radius: calc(102px * 0.75);
            }
          }
          >span {
            font-weight: bold;
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        }
        .div-image {
          width: 100%;
          height: 100%;
          >img {
            width: 100%;
            height: 100%;
            border-radius: 102px;
            object-fit: cover;
            object-position: center;
            @media screen and (max-width: 1440px) {
              border-radius: calc(102px * 0.75);
            }
          }
        }
      }
      .info-character-left {
        flex: 1;
        margin: auto;
      }
    }
    .list-button {
      margin-bottom: 65px;
      font-size: 24px;
      @media screen and (max-width: 1440px) {
        font-size: calc(24px * 0.75);
        margin-bottom: calc(65px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        margin-bottom: 36px;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
      }
      >button:nth-child(1) {
        border-right: 1px solid #E2E2E2;
      }
      >button {
        padding: 0px 46px;
        color: #8D8D8D;
        &.active {
          color: #000000;
        }
        @media screen and (max-width: 1024px) {
          width: max-content;
          white-space: nowrap;
        }
      }
    }
    .div-button-scent {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      margin-left: -14px;
      @media screen and (max-width: 1440px) {
        margin-bottom: calc(30px * 0.75);
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 36px;
        margin-left: unset;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        display: -webkit-inline-box;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
      .none-select {
        opacity: 0.5;
      }
      >button {
        width: 234px;
        height: 78px;
        background: transparent;
        border: none;
        margin: 0px 14px;
        padding: 0px;
        @media only screen and (max-width: 1440px) {
          width: calc(234px * 0.75);
          height: calc(78px * 0.75);
        }
        &.multiple-4 {
          .div-bt-image-combo {
            >img {
              width: 25%;
            }
          }
        }
        .div-bt-image-combo {
          display: flex;
          flex-direction: row;
          position: relative;
          width: 100%;
          height: 100%;
          .full-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
          }
          >img:nth-child(1) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          >img:nth-child(2) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          >span {
            font-weight: bold;
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 12px;
          @media screen and (max-width: 1440px) {
            border-radius: calc(12px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            border-radius: 8px;
          }
        }
        @media screen and (max-width: 1440px) {
          width: calc(194px * 0.75);
          height: calc(78px * 0.75);
          margin: 0px 11px;
        }
        @media screen and (max-width: 1024px) {
          width: 136px;
          height: 55px;
          margin: 0px 11px;
        }
      }
    }
    .img-scent-mobile {
      width: 175px;
      height: 175px;
      border-radius: 58px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 36px;
    }
    .div-image-combo-mobile {
      width: 175px;
      height: 175px;
      margin-bottom: 36px;
      position: relative;
      &.multiple-4 {
        display: grid;
        grid-gap: 0px 0px;
        grid-template-columns: auto auto;
        >img {
          width: 100%;
          height: calc(175px/2);
          object-position: center;
        }
        >img:nth-child(1) {
          border-top-left-radius: 58px;
          border-bottom-left-radius: 0px;
        }
        >img:nth-child(2) {
          border-top-right-radius: 58px;
          border-bottom-right-radius: 0px;
        }
        >img:nth-child(3) {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 58px;
        }
        >img:nth-child(4) {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 58px;
        }
      }
      >img {
        width: 50%;
        object-fit: cover;
        object-position: bottom;
        height: 100%;
      }
      >img:nth-child(1) {
        border-top-left-radius: 58px;
        border-bottom-left-radius: 58px;
      }
      >img:nth-child(2) {
        border-top-right-radius: 58px;
        border-bottom-right-radius: 58px;
      }
    } 
    .span-info-mobile {
      font-size: 14px;
      text-align: center;
      color: #152436;
      margin-bottom: 36px;
      
    }
    .div-bt-view > button {
      background: transparent;
      border: none;
      padding: 0px;
      margin-top: 40px;
      @media screen and (max-width: 1440px) {
        margin-top: calc(40px * 0.75);
      }
      >img {
        width: 19px;
        height: 19px;
        margin-right: 5px;
        @media screen and (max-width: 1440px) {
          width: calc(19px * 0.75);
          height: calc(19px * 0.75);
        }
      }
      >span{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.2em;
        text-decoration: underline;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: calc(18px * 0.75);
        }
      }
    }
    .div-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }
      .div-process-line {
        width: 324px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        @media screen and (max-width: 1440px) {
          width: calc(324px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          width: 85%;
        }
        .progressLine {
          .div-text {
            >span {
              font-size: 18px;
              font-weight: 300;
              letter-spacing: unset;
              text-transform: unset;
              text-transform: capitalize;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      .div-process-circle {
        // width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 76px;
        margin-right: 22px;
        @media screen and (max-width: 1440px) {
          margin-left: calc(76px * 0.75);
          margin-right: calc(22px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 20px;
          width: 80%;
          justify-content: center;
          margin-left: 0px;
          margin-right: 0px;
          flex-direction: row;
        }
        .progress-circle:nth-child(1) {
          margin-bottom: 20px;
          @media screen and (max-width: 1440px) {
            margin-bottom: calc(20px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-bottom: unset;
          }
        }
        .progress-circle {
          width: 117px;
          @media screen and (max-width: 1440px) {
            width: 88px;
          }
          @media screen and (max-width: 1024px) {
            width: 100px;
          }
          .div-circle {
            width: 45%;
          }
          >span {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: unset;
            text-transform: unset;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
      }
      
      .div-info-detail {
        display: flex;
        flex-direction: row;
        width: 40%;
        padding-left: 45px;
        border-left: 1px solid #E2E2E2;
        @media screen and (max-width: 1440px) {
          padding-left: calc(45px * 0.75);
        }
        .div-image-combo {
          width: 175px;
          height: 175px;
          display: flex;
          flex-direction: row;
          position: relative;
          @media screen and (max-width: 1440px) {
            width: calc(175px * 0.75);
            height: calc(175px * 0.75);
          }
          >img {
            width: 50%;
            object-fit: cover;
            object-position: bottom;
          }
          >img:nth-child(1) {
            border-top-left-radius: 58px;
            border-bottom-left-radius: 58px;
            @media screen and (max-width: 1440px) {
              border-top-left-radius: calc(58px * 0.75);
              border-bottom-left-radius: calc(58px * 0.75);
            }
          }
          >img:nth-child(2) {
            border-top-right-radius: 58px;
            border-bottom-right-radius: 58px;
            @media screen and (max-width: 1440px) {
              border-top-right-radius: calc(58px * 0.75);
              border-bottom-right-radius: calc(58px * 0.75);
            }
          }
          >span {
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: 300;
          }
        }
        >img {
          width: 175px;
          height: 175px;
          border-radius: 58px;
          object-fit: cover;
          object-position: center;
          @media screen and (max-width: 1440px) {
            width: calc(175px * 0.75);
            height: calc(175px * 0.75);
            border-radius: calc(58px * 0.75);
          }
        }
        .text-info-combo {
          display: flex;
          flex: 1;
          flex-direction: column;
          // margin-left: 59px;
          justify-content: center;
          @media screen and (max-width: 1440px) {
            // margin-left: calc(59px * 0.75);
          }
          >span{
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            color: #152436;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
          }
        }
        .text-info {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          // margin-left: 59px;
          @media screen and (max-width: 1440px) {
            // margin-left: calc(59px * 0.75);
          }
          >span {
            font-size: 18px;
            color: #152436;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
          }
          .div-bt-view > button {
            background: transparent;
            border: none;
            padding: 0px;
            margin-top: 40px;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              margin-top: calc(40px * 0.75);
            }
            >img {
              width: 19px;
              height: 19px;
              margin-right: 5px;
              @media screen and (max-width: 1440px) {
                width: calc(19px * 0.75);
                height: calc(19px * 0.75);
              }
            }
            >span{
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              letter-spacing: 0.2em;
              text-decoration: underline;
              text-transform: uppercase;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
          }
        }
      }
    }
  }
  .div-scent-selection {
    overflow: hidden;
    .div-1 {
      display: flex;
      flex-direction: column;
      .div-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >h3 {
          font-size: 38px;
          align-items: center;
          color: #0D0D0D;
          margin: 0px;
          @media screen and (max-width: 1440px) {
            font-size: calc(38px * 0.75);
          }
        }
        .div-select {
          display: flex;
          flex-direction: row;
          >button {
            background: transparent;
            border: none;
            width: 120px;
            color: #8D8D8D;
            height: 38px;
            @media screen and (max-width: 1440px) {
              height: calc(38px * 0.75);
            }
          }
          .bt-active {
            color: #0D0D0D;
          }
          >button:nth-child(1) {
            float: left;
            border-right: 1px solid #8D8D8D;
          }
          >button:nth-child(2) {
            float: right;
          }
        }
      }
      .div-list-scent {
        .div-item-scent-selection {
          display: flex;
          flex-direction: row;
          position: relative;
          padding: 20px 0px;
          border-bottom: 1px solid #E2E2E2;
          cursor: pointer;
          @media screen and (max-width: 1440px) {
            padding-top: calc(20px * 0.75);
            padding-bottom: calc(20px * 0.75);
          }
          >img {
            width: 65px;
            height: 65px;
            border-radius: 21px;
            object-fit: cover;
            object-position: center;
            @media screen and (max-width: 1440px) {
              width: calc(65px * 0.75);
              height: calc(65px * 0.75);
              border-radius: calc(21px * 0.75);
            }
          }
          .div-text {
            display: flex;
            flex-direction: column;
            margin-left: 23px;
            justify-content: center;
            @media screen and (max-width: 1440px) {
              margin-left: calc(23px * 0.75);
            }
            >h3 {
              font-weight: 500;
              font-size: 18px;
              letter-spacing: 0.1em;
              color: #0D0D0D;
              margin-bottom: 3px;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
            >span {
              font-size: 16px;
              color: #8D8D8D;
              @media screen and (max-width: 1440px) {
                font-size: calc(16px * 0.75);
              }
            }
          }
          .bt-click-more {
            background: transparent;
            border: none;
            height: 21px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: (translateY(-50%));
            @media screen and (max-width: 1440px) {
              height: calc(21px * 0.75);
            }
          }
        }
      }
    }
    .div-2 {
      display: flex;
      flex-direction: column;
      .div-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
        cursor: pointer;
        @media screen and (max-width: 1440px) {
          margin-bottom: calc(24px * 0.75);
        }
        >button {
          background: transparent;
          border: none;
          margin-right: 37px;
          @media screen and (max-width: 1440px) {
            margin-right: calc(37px * 0.75);
          }
        }
        >h3 {
          font-size: 38px;
          align-items: center;
          color: #0D0D0D;
          margin: 0px;
          @media screen and (max-width: 1440px) {
            font-size: calc(38px * 0.75);
          }
        }
      }
      .div-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >button {
          width: 186px;
          height: 186px;
          border: none;
          background: transparent;
          padding: 0px;
          >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 62px;
            @media screen and (max-width: 1440px) {
              border-radius: calc(62px * 0.75);
            }
          }
          @media screen and (max-width: 1440px) {
            width: calc(186px * 0.75);
            height: calc(186px * 0.75);
          }
        }
      }
    }
    .div-text-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0px;
      @media screen and (max-width: 1440px) {
        padding-top: calc(24px * 0.75);
        padding-bottom: calc(24px * 0.75);
      }
      >button {
        background: transparent;
        border: none;
        font-size: 18px;
        text-decoration: underline;
        padding: 0px;
        margin: 0px;
        @media screen and (max-width: 1440px) {
          font-size: calc(18px * 0.75);
        }
      }
      >span {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: #152436;
        @media screen and (max-width: 1440px) {
          font-size: calc(32px * 0.75);
        }
      }
    }
  }
}

.modal-view-full-image {
  max-width: 100vw;
  margin: 0px;
  height: 100vh;
  overflow-y: hidden;
  .modal-content {
    height: 100%;
    border-radius: 0px;
    background: #F5ECDC;
    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
    .modal-body {
      padding: 110px 64px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1440px) {
        padding: 82px 48px;
      }
      @media screen and (max-width: 1024px) {
        padding: 20px;
        display: unset;
        align-items: unset;
        flex: unset;
      }
      .div-image-block {
        width: 100%;
        .div-image {
          .image-gallery {
            .image-gallery-content {
              .image-gallery-slide-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  .image-gallery {
    .image-gallery-content {
      display: flex;
      @media screen and (max-width: 1024px) {
        display: unset;
      }
      .image-gallery-thumbnails-wrapper {
        height: 100vh;
        @media screen and (max-width: 1024px) {
          height: auto;
        }
      }
    }
  }

  &.modal-workshop {
    .image-gallery .image-gallery-content {
      display: unset;
    }
  }
}