.div-product-v2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  .qna-block-product {
    padding: 0px 48px 50px 48px;
    width: 100%;
    margin-top: -40px;
    @media screen and (max-width: 1024px){
      padding: 0px 15px 50px 15px;
      margin-top: -80px;
    }
    .div-faq-block {
      width: 100%;
    }
  }
  .div-text-block {
    padding: 50px 97px;
    background: #161616;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: #fff;
    width: 100%;
    @media screen and (max-width: 1024px){
      padding: 38px 15px;
      font-size: 18px;
    }
  }

  .div-text-image-block {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    @media screen and (max-width: 1024px){
      flex-direction: column;
    }
    &.start {
      justify-content: flex-start;
    }
    &.end {
      justify-content: flex-end;
    }
    .div-wrap-text {
      display: flex;
      align-items: center;
      width: 50%;
      @media screen and (max-width: 1024px){
        width: 100%;
        margin-top: 270px;
        margin-bottom: 32px;
      }
      .div-text {
        margin: 50px 90px;
        padding: 60px;
        background: #FFFFFF;
        box-shadow: 5px 3px 40px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        @media screen and (max-width: 1024px){
          margin: 0px 15px;
          padding: 38px;
        }
        >h3 {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          margin-bottom: 40px;
          @media screen and (max-width: 1024px){
            font-size: 18px;
          }
        }
        >span {
          font-size: 18px;
          color: #0D0D0D;
          @media screen and (max-width: 1024px){
            font-size: 12px;
          }
        }
      }
    }
    
  }

  .div-become-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .div-content {
      width: 100%;
      margin: 72px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      >h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-align: center;
        @media screen and (max-width: 1024px){
          font-size: 20px;
        }
      }
      >span {
        font-size: 18px;
        display: flex;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        @media screen and (max-width: 1024px){
          font-size: 12px;
        }
      }
      >a {
        text-decoration: none;
        height: 66px;
        background: #0D0D0D;
        border-radius: 6px;
        line-height: 66px;
        width: fit-content;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0px 36px;
        margin-top: 40px;
        @media screen and (max-width: 1024px){
          height: 44px;
          line-height: 44px;
          font-size: 16px;
        }
      }
    }
  }

  .div-filter-search-scent {
    display: flex;
    flex-direction: row;
    .div-filter {
      margin-right: 26px;
      .header-filter {
        >span {
          font-size: 16px;
          color: #0D0D0D;
          cursor: pointer;
        }
        >img {
          margin-left: 8px;
        }
      }
      .dropdown-item-filter {
        padding: 12px 38px;
        >span {
          font-size: 18px;
          color: #152436;
          cursor: pointer;
        }
      }
      .dropdown-menu {
        width: 261px !important;
        left: -95px !important;
        transform: translate3d(0px, 30px, 0px) !important;
      }
    }
    .div-search {
      border: 1px solid;
      border-radius: 20px;
      padding: 0px 10px;
      margin-right: -10px;
      >button {
        background: transparent;
        border: none;
        font-size: 16px;
        color: #0D0D0D;
      }
      >input {
        width: 120px;
        border: none;
        // border-bottom: 1px solid;
        margin-left: 5px;
        font-size: 16px;
        color: #0D0D0D;
        line-height: 30px;
      }
    }
  }
  .div-filter-search-scent-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    position: relative;
    >button {
      background: transparent;
      border: none;
      font-weight: 500;
      font-size: 16px;
      color: #0D0D0D;
      >img {
        margin: 0px 7px;
      }
    }
  }
  .div-popup-filter-search {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .div-popup-filter, .div-popup-search {
      width: calc(100vw - 30px);
      height: auto;
    }
    .div-popup-filter {
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      >button {
        font-size: 18px;
        color: #152436;
        background: transparent;
        border: none;
        margin: 0px;
        padding: 13px 38px;
      }
    }
  }
}