.div-region {
  color: #0D0D0D;
  z-index: 9;
  .border-region {
    height: auto;
    padding: 0.2rem 1.2rem;
  }
}

.div-dialog-region {
  position: absolute;
  height: fit-content !important;
  width: 440px !important;
  max-width: calc(100vw - 20px);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 20px * 2);
    max-width: calc(100vw - 20px * 2);
  }
  &.version-2 {
    border-radius: 20px;
    background-color: #ebd8b8;
    width: 350px !important;
    .header {
      padding: 36px 36px 15px 36px;
      justify-content: center;
      border-bottom: unset;
      position: relative;
      &::after {
        content: '';
        width: 80%;
        height: 1px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        background: #0D0D0D;
      }
      >span {
        font-size: 20px;
        color: #2c2c22;
        line-height: 120%;
        font-weight: 300;
        text-transform: uppercase;
      }
      >button {
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
    .div-body {
      padding: 16px 36px 36px 36px;
      .infor {
        font-weight: 500;
      }
      .select-country {
        margin-bottom: 36px !important;
        >div {
          background-color: #f5ecdc;
          border: 1px none #000;
          border-radius: 5px;
          min-height: 36px;
          color: '#333333';
        }
      }
    }
  }
  .header {
    padding: 15px 20px;
    border-bottom: 1px solid #0D0D0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >span {
      font-weight: 600;
    }
  }
  .div-body {
    padding: 20px;
    .select-country {
      >div {
        border: 1px solid #0D0D0D;
        border-radius: 6px;
        min-height: 50px;
        box-shadow: none;
        >div {
          // padding: 0px;
          >span {
            display: none;
          }
          >img {
            margin-bottom: 0px!important;
            padding-right: 0.7rem;
          }
        }
      }
      &__label {
        margin-bottom: 0.25rem;
      }
      .css-1go8zw9-container {
        .css-rmtpy5-control {
          padding: 0 1rem 0 0;
        }
        .css-8bgjdf-control {
          padding: 0 1rem 0 0;
        }
      }
      .add-btn {
        .btn {
          width: 100%;
          display: flex;
          align-items: center;
          color: #0D0D0D;
          background: none !important;
          border: none !important;
          box-shadow: none !important;
    
          .text {
            font-size: 0.875rem;
            margin-left: 0.75rem;
          }
        }
      }
    
      [class*="-indicatorContainer"] {
        margin-right: 1rem;
        padding: 0;
      }
  
      // >div {
      //   background: #ffffff;
      //   border: 1px solid #0D0D0D;
      //   border-radius: 6px;
      //   min-height: 50px;
      //   >div:nth-child(1) {
      //     padding-left: 1rem;
      //   }
      //   >div:nth-child(2) {
      //     padding-right: 1rem;
      //   }
      //   >div {
      //     padding: 0px;
      //     >span {
      //       display: none;
      //     }
      //     >img {
      //       margin-bottom: 0px!important;
      //     }
      //   }
      // }
    }
    >.infor {
      >div {
        width: 2rem;
        height: 2rem;
        border: 1px solid #0D0D0D;
        border-radius: 50%;
      }
    }
    >button {
      padding: 10px 0px;
      border: none;
      background: #fff;
      border-radius: 6px;
    }
    .button-save {
      background: #0D0D0D;
      color: #fff;
      border-radius: 6px;
    }
  }
}

.dropdown-region {
  color: #0D0D0D;
  .dropdown-menu {
    width: 100%;
    border-radius: 0px;
    max-height: 200px;
    overflow-y: auto;
    transform: none!important;
    top: 43px!important;
    border: 1px solid #0D0D0D;
  }
  .drop-down-item {
    padding: 10px 17px;
    border-radius: none!important;
    border-bottom: 1px solid;
    cursor: pointer;
  }
}

.region-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  >button {
    width: 70%;
  }
  
}