.save-result-email {
  position: relative;
  height: calc(100vh - 70px);
  min-height: 600px;
  overflow-y: auto;
  margin-top: 70px;
  color: #0D0D0D;
  &.full-screen {
    height: 100vh;
    margin-top: 0px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0px 15px;
    min-height: unset;
  }
  .button-back {
    position: absolute;
    top: 44px;
    left: 89px;
    color: #8d8d8d;
    >img {
      margin-right: 13px;
      height: 14px;
      @media screen and (max-width: 1024px) {
        margin-right: 6px;
        height: 11px;
      }
    }
    @media screen and (max-width: 1024px) {
      top: 28px;
      left: 15px;
      font-size: 11px;
    }
  }
  .header {
    margin-top: 44px;
    @media screen and (max-width: 1024px) {
      margin-top: 68px;
    }
    >h2 {
      font-size: 30px;
      margin-bottom: 22px;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    >span {
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }
  .video {
    height: calc(100% - 320px);
    @media screen and (max-width: 1024px) {
      height: calc(100% - 380px);
    }
    .background--letsguideyou {
      height: 100%;
      position: relative;
      width: 100%;
      background-size:contain;
    }
  }
  .div-input-email {
    width: 100%;
    .text-title-input {
      font-size: 14px;
      text-transform: uppercase;
      color: #0D0D0D;
      letter-spacing: 0.1em;
      font-weight: 500;
      margin-bottom: 27px;
      a {
        text-decoration: n;
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 15px;
      }
    }

    .div-input {
      width: 80%;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      .div-email {
        height: 62px;
        width: 370px;
        padding: 0rem 0.5rem;
        justify-content: center;
        align-items: center;
        border: 1px solid #0D0D0D;
        border-radius: 6px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin-top: 0px;
          height: 48px;
        }
        > img {
          width: 20px;
          margin: 0px 10px;
        }
        > input {
          flex: 1;
          border: none;
          color: #0D0D0D;
          @media screen and (max-width: 600px) {
            flex: auto;
            width: 100%;
          }
        }
      }
      > button {
        margin-left: 10px;
        height: 62px;
        width: 236px;
        background: #0D0D0D;
        color: #ffffff;
        border-radius: 6px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border: none;
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin-top: 1rem;
          margin-left: 0px;
          height: 48px;
        }
      }
    }

    .text-continue {
      font-style: normal;
      text-decoration-line: underline;
      color: #8d8d8d;
      cursor: pointer;
      margin-top: 27px;
      margin-bottom: 30px;
      @media screen and (max-width: 1024px) {
        margin-top: 14px;
        margin-bottom: 26px;
        font-size:14px;
      }
    }
  }
}
.div-result-scent {
  position: relative;
  // margin-top: 70px;
  min-height: 45vw;
  // height: calc(100vh - 70px);
  // overflow-y: auto;
  overflow-x: hidden;
  &.boutique-quiz {
    min-height: calc(100vh - 40px);
    // margin-top: 40px;
    @media screen and (max-width: 768px){
      margin-top: -20px;
    }
  }
  &.full-height {
    height: 100vh;
    margin-top: 0px;
  }
  .div-buy-more {
    position: absolute;
    top: 80px;
    right: 45px;
    padding: 0px;
    width: 270px;
    border: 2px solid #D9D9D9;
    padding: 16px 10px;
    border-radius: 6px;
    @media only screen and (max-width: 1024px) {
      position: relative;
      width: 100%;
      top: unset;
      right: unset;
      margin-top: -180px;
      margin-bottom: 200px;
      border: none;
      padding: 0px 20px;
    }
  }
  .list-option {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      display: -webkit-box;
      overflow-x: auto;
    }
    .div-option {
      width: 169px;
      height: 60px;
      border: 1px solid #2C2C22;
      border-radius: 12px;
      align-items: center;
      display: flex;
      margin-left: 7px;
      cursor: pointer;
      &.active {
        border: 2px solid #B79B53;
      }
      >img {
        width: 35px;
        margin-left: 7px;
      }
      >span {
        padding: 0px 9px;
        font-weight: 500;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: 0.8571rem
        }
      }
    }
  }
  .bt-retake-boutique {
    position: fixed;
    background: transparent;
    border: none;
    top: 38px;
    left: 100px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #8D8D8D;
    padding: 0px;
    letter-spacing: 0.2em;
    @media screen and (max-width: 1440px) {
      font-size: 1.1428rem;
    }
    >img {
      height: 16px;
      margin-right: 10px;
      margin-bottom: 6px;
    }
  }
  .div-row-bt {
    margin: 62px 145px;
    @media screen and (max-width: 1440px){
      margin: 41px 97px;
    }
    @media screen and (max-width: 768px){
      margin: 27px 16px;
    }
    .div-bt-retake {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .bt-retake {
        background: #ffffff;
        border: 2px solid #0D0D0D;
        border-radius: 6px;
        color: #0D0D0D;
        height: 84px;
        width: 450px;
        letter-spacing: 0.2em;
        font-weight: 500;
        font-size: 1.125rem;
        @media screen and (max-width: 1440px){
          font-size: 1.1428rem;
          height: 56px;
          width: 300px;
        }
        @media screen and (max-width: 768px){
          font-size: 0.92857rem;
          width: 100%;
          height: 48px;
        }
        &.bg-dark-result{
          border: none;
          background: #0D0D0D;
          color: #ffffff;
          @media screen and (max-width: 768px){
            margin-top: 20px;
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 0px;
  }
  .div-result-sub-quiz, .div-result-content {
    position: relative;
    margin: 41px 97px;
    @media screen and (max-width: 1440px){
      margin: 41px 97px;
      margin-top: 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px){
      margin: 0px 16px 27px 16px;
    }
    @media screen and (max-width: 768px){
      margin: 0px 16px 27px 16px;
    }
    .div-extend-product {
      position: absolute;
      width: 270px;
      height: 270px;
      border-radius: 12px;
      padding: 28px;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      border: 1px solid #D9D9D9;
      cursor: pointer;
      z-index: 1;
      background: #fff;
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: auto;
        padding: 12px;
        top: unset;
        left: unset;
        transform: unset;
        position: relative;
        flex-direction: row;
        width: calc(100% - 30px);
      }
      &.active {
        border: 2px solid #B79B53;
      }
      .div-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          margin-left: 18px;
          align-items: start;
        }
        >h1 {
          font-size: 0.8125rem;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 0.1em;
          margin-bottom: 40px;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 0.92857rem;
          }
          @media screen and (max-width: 1024px) {
            font-size: 1rem;
            margin-bottom: 14px;
          }
        }
        >span {
          font-size: 1rem;
          font-weight: normal;
          color: #152436;
          margin-bottom: 28px;
          text-align: center;
          @media screen and (max-width: 1440px) {
            font-size: 1.1428rem;
          }
          @media screen and (max-width: 1024px) {
            font-size: 1.1428rem;
            margin-bottom: 0px;
            text-align: left;
          }
        }
      }
      .div-image {
        width: 65px;
        display: flex;
        >img {
          height: 80px;
          margin: auto;
          @media screen and (max-width: 1024px) {
            height: 65px;
          }
        }
      }
    }
    .text-header-sub-quiz {
      font-weight: 500;
      font-size: 2.6875rem;
      color: #0D0D0D;
      margin: 50px 0px 30px 0px;
      @media screen and (max-width: 1440px) {
        font-size: 3.0714rem;
      }
      @media screen and (max-width: 768px){
        font-size: 1.71428rem;
        color: #0D0D0D;
        margin: 30px 0px;
      }
    }
    .div-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 60px 0px 50px 0px;
      >img {
        height: 260px;
        @media screen and (max-width: 1024px){
          height: 110px;
        }
      }
      >span {
        font-size: 1.125rem;
        text-align: center;
        @media screen and (max-width: 1440px) {
          font-size: 1.2857rem;
        }
        @media screen and (max-width: 1024px){
          font-size: 1rem;
        }
      }
      .text-name {
        padding: 60px 0px 30px 0px;
        width: 758px;
        @media screen and (max-width: 1024px) {
          padding: 24px 36px; 
          width: 100%;
        }
      }
      .text-des {
        width: 758px;
        margin-bottom: 52px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 68px;
          width: 100%;
        }
      }
      >button {
        height: 76px;
        background: #0D0D0D;
        border-radius: 6px;
        border: none;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        padding: 0px 80px;
        @media screen and (max-width: 1440px) {
          font-size: 1.7142rem;
        }
        @media screen and (max-width: 1024px) {
          width: calc(100vw - 72px);
          height: 48px;
          font-weight: 500;
          font-size: 1rem;
          padding:unset;
        }
      }
      .text-redirect {
        font-size: 0.875rem;
        margin: 21px 0px 10px 0px;
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 1024px) {
          font-size: 0,8571rem;
          margin: 11px 0px 0px 0px;
        }
      }
    }
    .bt-back-result, .bt-retake-quiz-result {
      position: absolute;
      top: 0px;
      left: 0px;
      background: transparent;
      color: #8D8D8D;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border: none;
      z-index: 1;
      >img {
        margin-right: 5px;
        margin-bottom: 3px;
        height: 14px;
      }
      @media screen and (max-width: 1440px){
        font-size: 1rem;
      }
      @media screen and (max-width: 768px){
        visibility: hidden;
      }
    }
    .bt-retake-quiz-result {
      right: 0px;
      left: auto;
      >img {
        height: 1rem;
      }
    }
    .bt-retake-quiz-result-mobile {
      font-weight: 500;
      font-size: 0.7857rem;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      border: none;
      background: transparent;
      margin-top: 10px;
      >img {
        height: 11px;
        margin-right: 5px;
        margin-bottom: 3px;
      }
      @media screen and (min-width: 1024px){
        visibility: hidden;
      }
    }
    .div-header-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px auto;
      align-items: flex-end;
      width: max-content;
      padding-top: 20px;
      padding-bottom: 15px;
      @media screen and (max-width: 1024px){
        transform: unset;
        margin-left: unset;
        align-items: center;
        width: 100%;
      }
      .text {
        padding: 10px 0px;
      }
      .des-text {
        visibility: hidden;
        @media screen and (min-width: 768px) and (max-width: 1024px){
          visibility: visible;
          font-weight: 500;
          font-size: 1.1428rem;
          text-align: center;
          letter-spacing: 0.1em;
          padding: 20px 40px;
        }
        @media screen and (max-width: 767.9px){
          visibility: visible;
          font-weight: 500;
          font-size: 1rem;
          text-align: center;
          letter-spacing: 0.1em;
          padding: 20px 0px;
        }
      }
      .des-text-tx {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #CC9410;
        position: absolute;
        top: 50%;
        left: 0px;
        opacity: 0;
        transition: all 0.2s;
        transform: translateY(-50%);
        min-width: 400px;
        &.show {
          opacity: 1;
        }
        @media screen and (min-width: 1910px){
          font-size: 25px;
        }
      }
      .text {
        display: flex;
        align-items: center;
        .div-text-name {
          position: relative;
          min-width: 400px;
          @media screen and (max-width: 1024px){
            min-width: unset;
          }
          .des-text-tx {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.1em;
            color: #CC9410;
            position: absolute;
            top: 50%;
            left: 0px;
            opacity: 0;
            transition: all 0.2s;
            transform: translateY(-50%);
            min-width: 400px;
            &.show {
              opacity: 1;
            }
            @media screen and (min-width: 1910px){
              font-size: 25px;
            }
          }
        }
        >img {
          height: 60px;
          margin-right: 27px;
          @media screen and (min-width: 1910px){
            height: 70px;
          }
          @media screen and (max-width: 1024px){
            height: 65px;
            margin-right: 20px;
          }
        }
        .title-tx {
          font-size: 3.055rem;
          color: #CC9410;
          font-family: Playfair Display;
          transition: all 0.2s;
          opacity: 0;
          &.show {
            opacity: 1;
          }
          @media screen and (min-width: 1910px){
            font-size: 3.055rem;
          }
          @media screen and (max-width: 1440px) {
            font-size: 3.9285rem;
          }
          @media screen and (min-width: 768px) and (max-width: 767.9px){
            font-size: 3.5rem;
          }
          @media screen and (max-width: 767.9px){
            font-size: 2.4285rem;
          }
        }
      }
      >button {
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 0.2em;
        text-decoration: underline;
        text-transform: uppercase;
        padding: 0px;
        border: none;
        background: transparent;
        @media screen and (min-width: 1910px){
          font-size: 1.125rem;
        }
        @media screen and (max-width: 1440px) {
          font-size: 0.8571rem
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
          font-size: 1rem;
        }
        >img {
          height: 13px;
          margin-right: 5px;
          @media screen and (min-width: 1910px){
            height: 18px;
          }
          @media screen and (min-width: 768px) and (max-width: 1024px){
            height: 14px;
          }
        }
      }
    }
    >h1 {
      font-size: 2.125rem;
      text-align: center;
      color: #0D0D0D;
      width: 100%;
      @media screen and (max-width: 1440px){
        font-size: 1.8571rem;
      }
      @media screen and (max-width: 768px){
        font-size: 1.7142rem;
        font-weight: 300;
        padding-top: 25px;
      }
    }
    .row-content {
      margin-top: 25px;
      justify-content: center;
      position: relative;
      @media screen and (max-width: 1440px){
        margin-top: 25px;
      }
      @media screen and (max-width: 768px){
        margin-top: 27px;
        margin-bottom: 200px;
      }
      .div-col-result {
        .div-wrap-item-result-scent {
          .div-item-result-scent-v2  {
            width: 700px;
            padding: 40px;
            @media screen and (max-width: 1440px) {
              width: 550px;
              padding: 20px;
            }
          }
        }
      }
      .div-col-result-left, .div-col-result-right {
        display: flex;
        flex-direction: column;
      }
      .div-col-result-left {
        align-items: flex-start;
      }
      .div-col-result-right {
        align-items: flex-end;
      }
    }
  }

  .bg-modal{
    &::before {
      content: '';
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      opacity: 1;
      transition: opacity .4s, visibility .4s;
    }
  }

  .div-result-footer-mobile {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px 12px 0px 0px;
    max-height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 16px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
    transition: max-height 0.5s ease;
    transform: translate3d(0,0,0);
    &.div-result-footer-extend-mobile{
      max-height: 100vh;
    }
    .div-image-scent {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 10px;
      .div-size-image {
        flex: 1;
      }
      >span {
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: #0D0D0D;
        margin: 0px 10px;
        @media screen and (max-width: 1440px) {
          font-size: 1.28571rem;
        }
      }
    }
    .div-text-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      >img {
        height: 44px;
        margin-right: 12px;
      }
      .div-text-price {
        flex: 1;
        flex-direction: row;
        display: flex;
        justify-content:space-between;
        align-items:center;
        .div-header, .div-des {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          .text-line-through {
            text-decoration: line-through;
            font-size: 0.75rem;
            @media screen and (max-width: 1440px) {
              font-size: 0.8571rem;
            }
          }
          .name {
            font-weight: 500;
            font-size: 0.875rem;
            letter-spacing: 0.1em;
            color: #0D0D0D;
            line-height: 14px;
            text-transform: uppercase;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
          }
          .price {
            font-style: normal;
            font-weight: 500;
            font-size: 1.375rem;
            color: #0D0D0D;
            line-height: 20px;
            @media screen and (max-width: 1440px){
              font-size: 1.5714rem
            }
          }
        }
        .div-des {
          >span {
            font-style: normal;
            font-weight: 500;
            font-size: 0.875rem;
            letter-spacing: 0.1em;
            color: #0D0D0D;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .button-add-cart-mobile {
      margin: 15px 0px 5px 0px;
      height: 48px;
      background: #0D0D0D;
      box-shadow: 0px -2.62813px 5.25626px rgba(0, 0, 0, 0.05);
      border-radius: 6px;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
    }
    .bt-back-result {
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      background: transparent;
      border: none;
      padding: 10px;

      >img {
        height: 11px;
        margin-right: 5px;
      }
    }
  }

  .bt-icon-extend {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    transition: all 0.5s ease;
    &.extended {
      transform: translateX(-50%) rotate(180deg);
    }
    >img {
      height: 1.5rem;
      @media screen and (max-width: 1440px){
        height: 0.9rem;
      }
      @media screen and (max-width: 768px){
        height: 8px;
        position: relative;
        top: 0px;
      }
    }
    @media screen and (max-width: 1440px){
      top: 5px;
    }
    @media screen and (max-width: 768px){
      top: 8px;
      position: relative;
      top: 0px;
    }
  }

  .div-result-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 147px;
    background: #FFFFFF;
    border-top: 2px solid #E2E2E2;
    transition: height 0.5s ease;
    @media screen and (max-width: 1440px){
      height: 80px;
    }
    &.div-footer-extend {
      height: 310px;
      @media screen and (max-width: 1440px){
        height: 160px;
      }
    }

    .div-small-footer {
      width: 100%;
      height: 100%;
      padding: 0px 145px;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 1440px){
        padding: 0px 97px;
      }
      .footer-left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        >img {
          height: 84px;
          @media screen and (max-width: 1440px){
            height: 40px;
          }
        }
      }
      .footer-right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .div-price {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
        }
      }
    }
    .div-small-footer-extened {
      width: 100%;
      height: 100%;
      padding: 0px 124px;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 1440px){
        padding: 0px 82px;
      } 
      .div-scent {
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .div-image-footer {
          width: 330px;
          @media screen and (max-width: 1440px){
            width: 200px;
          } 
        }
        .icon-plus-footer {
          color: #0D0D0D;
          font-weight: 500;
          font-size: 3.1875rem;
          margin: 0px 30px;
          @media screen and (max-width: 1440px){
            font-size: 2.4285rem;
            margin: 0px 20px;
          } 
        }
      }
      .div-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        .div-price {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          margin: 30px 0px;
          @media screen and (max-width: 1440px){
            margin: 10px 0px;
          } 
        }
      }
    }
    .title-scent {
      font-weight: 500;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      letter-spacing: 0.2em;
      color: #0D0D0D;
      text-transform: uppercase;
      @media screen and (max-width: 1440px){
        font-size: 1.2857rem;
      }
    }
    .des-scent {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      color: #8D8D8D;
      @media screen and (max-width: 1440px){
        font-size: 1rem;
      }
    }
    .new-price {
      font-weight: 500;
      font-size: 3.4375rem;
      line-height: 55px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #0D0D0D;
      @media screen and (max-width: 1440px){
        font-size: 1.7857rem;
        line-height: 25px;
      }
    }
    .old-price {
      font-weight: 500;
      font-size: 1.375rem;
      line-height: 22px;
      text-decoration-line: line-through;
      color: #0D0D0D;
      @media screen and (max-width: 1440px){
        font-size: 1rem;
        line-height: 14px;
      }
    }
    .bt-cart-footer {
      height: 76px;
      background: #0D0D0D;
      border: 2px solid #0D0D0D;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 0px 2rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 1.375rem;
      @media screen and (max-width: 1440px){
        height: 46px;
        font-size: 1.0714rem;
      }
    }
  }
}

.div-wrap-item-result-scent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) and (max-width: 1024px){
    width: 100%;
    margin: 0px auto;
  }
  .bt-add-cart {
    // margin: 0px 46px;
    padding: 0px 30px;
    height: 35px;
    background: #0D0D0D;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    @media screen and (max-width: 1440px) {
      font-size: 0.85714rem;
    }
    &.bt-black {
      background: #0D0D0D;
      border: none;
      color: #ffffff;
    }
    &.bt-outline {
      background: #ffffff;
      color: #0D0D0D;
      border: 1px solid #0D0D0D;

    }
    @media screen and (max-width: 1024px) {
      height: 48px;
    }
  }

  .div-button-func-like {
    >button {
      display: flex;
      justify-content: center;
      background: transparent;
      border: none;
      margin: 25px 0px;
    }
    >hr {
      background: #C4C4C4;
      width: 30px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .div-button-func-like, .div-button-func {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.div-left {
      // align-items: center;
      transform: translateX(-10px);
      padding: 0px 8px;
    }
    &.div-right {
      // align-items: center;
      transform: translateX(10px);
      padding: 0px 8px;
    }
    // @media screen and (min-width: 768px) and (max-width: 1339px) and (orientation: landscape) {
    //   width: 100%;
    //   flex-direction: row;
    //   margin-top: 50px;
    // }
    @media screen and (max-width: 768px){
      width: 100%;
      flex-direction: row;
      margin-top: 50px;
      // margin-bottom: 20px;
    }
    .bt-add-cart {
      width: 312px;
      height: 60px;
      border: 2px solid #0D0D0D;
      border-radius: 6px;
      background: transparent;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      &.bt-black {
        background: #0D0D0D;
        border: none;
        color: #ffffff;
      }
      @media screen and (max-width: 1440px){
        height: 40px;
        width: 208px;
      }
    }
    .div-icon-button {
      display: flex!important;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 200px;
      cursor: pointer;
      @media screen and (max-width: 1440px){
        height: 133px;
      }
      @media screen and (min-width: 768px) and (max-width: 1399px) and (orientation: landscape){
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      @media screen and (max-width: 768px){
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      .div-item-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        >img {
          height: 29px;
          margin-bottom: 9px;
          transition: all 0.5s ease;
          &.roate-animate {
            transform: rotate(180deg);
          }
          @media screen and (max-width: 1440px){
            height: 22px;
          }
          @media screen and (max-width: 768px){
            height: 22px;
          }
        }
        >span {
          font-size: 0.875rem;
          text-align: center;
          color: #0d0d0d;
          text-transform: capitalize;
          font-weight: 500px;
          letter-spacing: 0px;
          @media screen and (max-width: 1440px){
            font-size: 0.7142rem;
          }
          @media screen and (max-width: 768px){
            font-size: 0.8571rem;
            width: 100px;
          }
        }
      }
      >hr {
        background: #E2E2E2;
        margin: 24px 30px;
        @media screen and (max-width: 1440px){
          font-size: 16px;
        }
        @media screen and (max-width: 768px){
          visibility: hidden;
          margin: 0px;
        }
      }
    }
    .div-icon-button-s2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      .div-item-icon-s2 {
        >img {
          height: 29px;
          @media screen and (max-width: 1440px){
            font-size: 19px;
          }
        }
        >span {
          font-size: 0.75rem;
          text-align: center;
          color: #000000;
          @media screen and (max-width: 1440px){
            font-size: 0.5714rem;
          }
        }
      }
    }
  }

  .div-slide-color {
    width: 99%!important;
    margin: auto;
    display: flex!important;
    flex-direction: row;
    .div-process-line {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    .div-process-circle {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
  .div-item-result-scent-krisshop-v2 {
    .div-price-result {
      width: 100%;
      margin-top: 35px !important;
      .div-left {
        .text-price {
          >span {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0px;
            padding: 0px;
            @media screen and (max-width: 1440px) {
              font-size: 1.7142rem;
            }
          }
        }
      }
      .bt-add-cart {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: 0.2em;
        height: 43px;
        width: unset;
        margin: unset;
      }
    }
  }

  .div-item-result-scent-krisshop-v2, .div-item-result-scent-boutique-v2 {
    width: 500px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header-result {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &.header-boutique {
        justify-content: center;
        .header {
          justify-content: center;
          >h1 {
            font-weight: 500;
            font-size: 1.125rem;
            letter-spacing: 0.1em;
            color: #0D0D0D;
            margin-bottom: 10px;
            text-transform: uppercase;
            @media screen and (max-width: 1440px) {
              font-size: 1.28571rem;
            }
          }
          >span {
            letter-spacing: 0.05em;
            color: #0D0D0D;
            font-size: 0.875rem;
            text-align: center;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
          }
        }
      }
      .header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        >h1 {
          font-weight: 500;
          font-size: 1.125rem;
          text-align: left;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          margin: 0px;
          text-transform: uppercase;
          @media screen and (max-width: 1440px){
            font-size: 1.2857rem;
          }
        }
        >span {
          font-weight: 500;
          font-size: 0.875rem;
          text-align: left;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          display: inline-block;
          width: 100%;
          font-weight: normal;
          @media screen and (max-width: 1440px){
            font-size: 1rem;
            
          }
        }
      }
      .div-bt-change {
        display: flex;
        align-items: center;
        >button:nth-child(1) {
          padding-right: 14px;
          border-right: 1px solid #C4C4C4;
        }
        >button:nth-child(2) {
          padding-left: 14px;
        }
        >button {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          font-size: 0.6875rem;
          font-weight: 500;
          color: #C4C4C4;
          letter-spacing: 0.05em;
          @media screen and (max-width: 1440px) {
            font-size: 0.7857rem;
          }
          &.active {
            color: #0D0D0D;
          }
          >img {
            width: 25px;
            margin-bottom: 9px;
          }
        }
      }
    }
  }
  .div-item-result-scent-krisshop-v2, .div-item-result-scent-boutique-v2, .div-item-result-scent-v2 {
    width: 98%;
    height: auto;
    box-shadow: 15px 13px 40px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #FFFFFF;
    padding: 37px;
    transition: height 0.5s ease;
    &.right-margin {
      display: inline-block;
      float: right;
    }
    @media screen and (max-width: 1920px){
      width: 80%;
    }
    @media screen and (max-width: 1440px){
      padding: 10px;
      width: 78%;
    }
    .div-header-combinations {
      display: flex;
      flex-direction: column;
      width: 100%;
      .div-top, .div-bottom {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        >span {
          font-size: 0.6875rem;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 0.78571rem;
          }
        }
        >h2 {
          font-weight: bold;
          color: #0D0D0D;
          margin-bottom: 0px;
        }
      }
      .div-top {
        >h2 {
          font-size: 1.375rem;
          @media screen and (max-width: 1440px) {
            font-size: 1.571rem;
          }
        }
      }
      .div-bottom {
        >h2 {
          font-size: 0.9375rem;
          letter-spacing: 0.1em;
          @media screen and (max-width: 1440px) {
            font-size: 1.0714rem;
          }
        }
        >span {
          font-size: 0.8125rem;
          @media screen and (max-width: 1440px) {
            font-size: 0.92857rem;
          }
        }
      }
    }
    .div-header-quiz {
      display: flex;
      justify-content: space-between;
      .header-text {
        display: flex;
        flex-direction: column;
        >h4 {
          font-weight: 500;
          font-size: 1.125rem;
          font-style: normal;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          margin-bottom: 5px;
          text-transform: uppercase;
          @media screen and (max-width: 1440px) {
            font-size: 1.2857rem;
          }
        }
        >span {
          font-size: 0.875rem;
          letter-spacing: 0.05em;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }
      .div-price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        >h4 {
          font-weight: 500;
          font-size: 1.875rem;
          color: #0D0D0D;
          margin-bottom: 0px;
          @media only screen and (max-width: 1440px) {
            font-size: 2.1428rem;
          }
        }
        >span {
          font-size: 0.875rem;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }
    }
    >h1 {
      font-weight: 600;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 0.1em;
      color: #0D0D0D;
      margin: 0px;
      text-transform: uppercase;
      @media screen and (max-width: 1440px){
        font-size: 1.4285rem;
      }
    }
    >span {
      font-weight: 500;
      font-size: 1.25rem;
      text-align: center;
      letter-spacing: 0.1em;
      color: #0D0D0D;
      display: inline-block;
      width: 100%;
      font-weight: normal;
      @media screen and (max-width: 1440px){
        font-size: 1rem;
        
      }
      
    }
    
  
    .text-price {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      .price{
        font-weight: 600;
        font-size: 1.625rem;
        align-items: center;
        color: #0D0D0D;
        @media screen and (max-width: 1440px){
          font-size: 1.8571rem;
        }
      }
      .vol {
        font-weight: 500;
        font-size: 1rem;
        align-items: center;
        color: #0D0D0D;
        margin-left: 8px;
        margin-bottom: 5px;
        @media screen and (max-width: 1440px){
          font-size: 1.1428rem;
        }
      }
    }
    .div-link-rollon {
      font-size: 1rem;
      font-weight: 500;
      align-items: center;
      text-decoration-line: underline;
      color: #0D0D0D;
      background: transparent;
      border: none;
      padding: 0px;
      @media screen and (max-width: 1440px){
        font-size: 1.14285rem;
      }
    }
  
    .div-content-small {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-end;
      .div-image-small, .div-text-small {
        width: 50%;
        height: 100% !important;
      }
      .div-text-small {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content:center;
        .div-price-small {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
        .bt-add-cart {
          margin-top: 24px;
          margin-bottom: 52px;
          @media screen and (max-width: 1440px){
            margin-top: 16px;
            margin-bottom: 35px;
          }
        }
      }
    }
  
    .div-icon-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px 0px 22px 0px;
      cursor: pointer;
      width: 100%;
      >img {
        width: 19px;
        transition: all 0.5s ease;
        &.roate-animate {
          transform: rotate(180deg);
        }
        @media screen and (max-width: 1440px){
          height: 21px;
        }
        @media screen and (max-width: 768px){
          height: 21px;
        }
        
      }
      >span {
        font-size: 0.75rem;
        color: #000000;
        width: 64px;
        text-align: center;
        margin-top: 5px;
        @media screen and (max-width: 1440px) {
          font-size: 0.8571rem;
        }
      }
    }
    .bt-create-custome-mix {
      background: #0D0D0D;
      border: none;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 1rem;
      height: 43px;
      padding: 0px 43px;
      border-radius: 4.3951px;
      margin-top: 0px;
      @media screen and (max-width: 1440px) {
        font-size: 1.1428rem;
      }
    }
    .div-content-item {
      padding: 10px 0px;
      width: 100%;
      .slick-dots li {
        margin: 0px;
      }
      .slick-dots li button:before {
        font-size: 0.625rem;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: 0.7142rem;
        }
      }
      .div-slide-scent {
        width: 99% !important;
        margin: auto;
        display: flex !important;
        flex-direction: row;
        .slick-track {
          height: auto !important;
        }
        .div-scent-image {
          width: 64%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  
    .div-price-result {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      &.div-center{
        justify-content: center;
        align-items: center;
      }
      .div-left {
        display: flex;
        flex-direction: column;
        
      }
      .div-button-add {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .div-bottom-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        .line-button {
          display: flex;
          justify-content: center;
          >button {
            margin-top: 0px;
            margin: 0px 7px;
          }
        }
        .div-link-rollon {
          font-size: 0.875rem;
          font-weight: normal;
          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }
      .bottom-quiz {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .list-bt {
          display: flex;
          justify-content: center;
          align-items: center;
          >button {
            height: 44px;
            width: 200px;
            font-size: 1rem;
            border-radius: 4.3951px;
            margin: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media  screen and (max-width: 1440px) {
              font-size: 1.14285rem;
            }
          }
          .bt-cutome {
            border: 1.46504px solid #0D0D0D;
            font-size: 1rem;
            background: #ffffff;
            @media  screen and (max-width: 1440px) {
              font-size: 1.14285rem;
            }
            >img {
              width: 16px;
              margin-right: 10px;
            }
          }
        }
        .div-link-rollon {
          font-weight: normal;
          font-size: 0.875rem;
          margin-top: 20px;
          @media  screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }
    }
  }  
  .boutique-quiz-item  {
    padding: 40px;
    width: 700px !important;
    @media screen and (max-width: 1440px) {
      width: 550px !important;
      padding: 20px;
    }
    .bt-create-custome-mix {
      margin-top: 40px;
      @media screen and (max-width: 1440px) {
        margin-top: 20px;
      }
    }
  }

  .button-add-cart-mobile {
    margin: 0px 46px;
    height: 48px;
    background: #0D0D0D;
    box-shadow: 0px -2.62813px 5.25626px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
  }

  .div-item-result-scent-v2-mobile {
    width: 100%;
    height: auto;
    box-shadow: 15px 13px 40px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: #FFFFFF;
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
    padding: 16px 14px;
    margin-bottom: 20px;
    @media screen and (max-width: 1024px) {
      padding: 16px 14px 29px 14px;
    }
    &.result-boutique {
      .div-icon-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0px 22px 0px;
        cursor: pointer;
      }
      .div-name-price {
        display: flex;
        justify-content: space-between;
        .div-header {
          flex-direction: column !important;
          align-items: flex-start !important;
          justify-content: flex-start !important;
        }
      }
      
    }
    &.boutique-quiz-item-mobile {
      .bt-create-custome-mix {
        margin-top: 30px;
      }
    }
    .header-boutique {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >h1 {
          font-weight: 500;
          font-size: 1rem;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        >span {
          font-size: 0.857rem;
          letter-spacing: 0.05em;
          color: #0D0D0D;
        }
      } 
    }
    .button-link-mobile {
      font-weight: 500;
      font-size: 1rem;
      text-decoration: underline;
      color: #0D0D0D;
      background: transparent;
      border: none;
    }
    .div-name-price {
      width: 100%;
      .div-des {
        > span:nth-child(1) {
          font-size: 14px !important;
        }
      }
      .div-header, .div-des {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .name {
          font-weight: 500;
          font-size: 0.875rem;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          line-height: 14px;
          text-transform: uppercase;
          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
        .price {
          color: #0D0D0D;
          font-size: 1.375rem;
          font-weight: bold;
          margin-top: 5px;
          @media screen and (max-width: 1440px) {
            font-size: 1,571rem;
          }
        }
      }
      .div-bt-change {
        display: flex;
        align-items: center;
        >button:nth-child(1) {
          padding-right: 14px;
          border-right: 1px solid #C4C4C4;
        }
        >button:nth-child(2) {
          padding-left: 14px;
        }
        >button {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          font-size: 0.6875rem;
          font-weight: 500;
          color: #C4C4C4;
          letter-spacing: 0.05em;
          @media screen and (max-width: 1440px) {
            font-size: 0.785rem;
          }
          &.active {
            color: #0D0D0D;
          }
          >img {
            width: 25px;
            margin-bottom: 9px;
          }
        }
      }
      .div-des {
        >span {
          font-style: normal;
          font-size: 0.875rem;
          letter-spacing: 0.1em;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }
    }

    .bottom-quiz-mobile {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: 40px;
      >button {
        height: 36px;
        width: calc(100% - 40px);
        margin-bottom: 12px;
        font-size: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media  screen and (max-width: 1440px) {
          font-size: 0.857rem;
        }
      }
      .bt-cutome {
        border: 1px solid #152436;
        border-radius: 2.95102px;
        background: #fff;
        >img {
          width: 14px;
          margin-right: 10px;
        }
      }
      .button-add-cart-mobile {
        margin-top: 0px;
      }
      .button-link-mobile {
        height: unset;
        margin-bottom: 0px;
      }
    }

    .div-content-slide {
      margin-top: 15px;
      padding: 0px 45px;
      .slick-dots li {
        margin: 0px;
      }
      .slick-dots li button:before {
        font-size: 10px;
        color: #0D0D0D;
      }
      @media screen and (max-width: 1440px){
        padding: 0px 45px;
      }
      @media screen and (max-width: 1024px){
        // padding: 0px 14px;
        padding: 0px 0px;
        .div-slide-scent-mobile {
          width: 100%;
          display: flex !important;
          flex-direction: row;
          justify-content: center;
          .slick-track {
            height: auto !important;
          }
          .div-scent-image-mobile {
            width: 73%;
          }
          .div-button-func-like {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 13.5%;
            margin: 0px;
            >button {
              display: flex;
              justify-content: center;
              background: transparent;
              border: none;
              margin: 25px 0px;
              padding: 0px;
            }
            >hr {
              background: #C4C4C4;
              width: 18px;
              margin-top: 0px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }
    .div-icon-button {
      display: flex;
      align-items: flex-start;
      margin: 0px;
      cursor: pointer;
      >img {
        width: 19px;
        transition: all 0.5s ease;
        &.roate-animate {
          transform: rotate(180deg);
        }
        @media screen and (max-width: 1440px){
          height: 21px;
        }
        @media screen and (max-width: 768px){
          height: 21px;
        }
        
      }
      >span {
        font-size: 0.5625rem;
        color: #000000;
        width: 64px;
        text-align: center;
        margin-top: 5px;
        @media screen and (max-width: 1440px) {
          font-size: 0.6428rem;
        }
      }
    }
    .bt-create-custome-mix {
      background: #0D0D0D;
      border: none;
      font-weight: 500;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 0.875rem;
      height: 48px;
      width: 100%;
      border-radius: 4.3951px;
      margin-top: 0px;
      @media screen and (max-width: 1440px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px){
        width: 60%;
        margin: 0px auto;
      }
    }
  }  
}

.div-item-image-scent {
  width: 100%;
  position: relative;
  padding-top: 67.9%;
  height: fit-content;
  .scent-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .img-left {
      position: absolute;
      width: 50%;
      height: 85%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 31.9%;
      border-bottom-left-radius: 31.9%;
      cursor: pointer;
      // @media screen and (max-width: 1440px){
      //   border-top-left-radius: 38.9%;
      //   border-bottom-left-radius: 38.9%;
      // }
      // @media screen and (max-width: 768px){
      //   border-top-left-radius: 38.9%;
      //   border-bottom-left-radius: 38.9%;
      // }
    }
    .img-roll-on {
      width: 55% !important;
      border-radius: 31.9%;
      // @media screen and (max-width: 1440px){
      //   border-radius: 31.9%;
      // }
    }
    .img-right {
      position: absolute;
      width: 50%;
      height: 85%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      object-fit: cover;
      object-position: center;
      border-top-right-radius: 31.9%;
      border-bottom-right-radius: 31.9%;
      cursor: pointer;
      // @media screen and (max-width: 1440px){
      //   border-top-right-radius: 38.9%;
      //   border-bottom-right-radius: 38.9%;
      // }
      // @media screen and (max-width: 768px){
      //   border-top-right-radius: 38.9%;
      //   border-bottom-right-radius: 38.9%;
      // }
    }
    .div-text-scent {
      position: absolute;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(-50%);
      bottom: 17%;
      >span {
        font-size: 3.5px;
        color: #0D0D0D;
        @media screen and (max-width: 1024px){
          font-size: 3px;
        }
      }
    }
    .div-img-bottle {
      position: absolute;
      height: 100%;
      width: 30%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      .custom-wrap {
        height: 100%;
      }
      .text-ingredients {
        &.small {
          >span {
            font-size: 3px;
            text-align: center;
            @media screen and (max-width: 1024px){
              font-size: 2px;
            }
          }
        }
        top: 60%;
        >span {
          font-size: 4px;
          text-align: center;
          @media screen and (max-width: 1024px){
            font-size: 3px;
          }
        }
      }
      .text-ingredients-name {
        top: 69%;
        &.small {
          >span {
            font-size: 3px;
            @media screen and (max-width: 1024px){
              font-size: 2px;
            }
          }
        }
        >span {
          font-size: 4px;
          @media screen and (max-width: 1024px){
            font-size: 3px;
          }
        }
      }
      .name-only {
        top: 57%;
        font-size: 6px;
        @media screen and (max-width: 1024px){
          font-size: 4.5px;
        }
        &.small {
          font-size: 4px;
          @media screen and (max-width: 1024px){
            font-size: 3px;
          }
        }
      }
      .custom-image-name {
        top: 28%;
        width: 50%;
        height: 67%;
        border-radius: 20px;
      }
      .custom-image-logo {
        top: 33%;
        width: auto;
        height: 6%;
      }
      .custom-text-name {
        color: rgb(255, 255, 255);
        top: 80%;
        font-size: 6px;
        @media screen and (max-width: 1024px){
          font-size: 4.5px;
        }
        &.small {
          font-size: 4px;
          @media screen and (max-width: 1024px){
            font-size: 3px;
          }
        }
      }
      .custom-des {
        color: rgb(255, 255, 255);
        top: 85%;
        font-size: 4px;
        @media screen and (max-width: 1024px){
          font-size: 3px;
        }
        &.small {
          font-size: 3px;
          @media screen and (max-width: 1024px){
            font-size: 2px;
          }
        }
      }
      .custom-size {
        color: rgb(255, 255, 255);
        top: 89%;
        font-size: 4px;
        @media screen and (max-width: 1024px){
          font-size: 3px;
        }
        &.small {
          font-size: 3px;
          @media screen and (max-width: 1024px){
            font-size: 2px;
          }
        }
      }
    }
    .img-bottle {
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
    .img-bottle-rollon {
      height: 100%;
      bottom: 0px;
      top: auto;
      object-fit: contain;
    }
    .div-info {
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: #0D0D0D;
      border-radius: 30.7836px;
      padding: 0px 10px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        padding: 0px 7px;
        height: 16px;
      }
      &.left-info {
        bottom: 45px;
        left: calc(25% - 10px);
        transform: translateX(-50%);
        @media screen and (max-width: 1024px) {
          bottom: 28px;
          left: calc(25% - 7px);
        }
        // left: 35px;
        // @media screen and (max-width: 1440px) {
        //   left: 15px;
        // }
      }
      &.right-info {
        bottom: 45px;
        right: calc(25% - 10px);
        transform: translateX(50%);
        @media screen and (max-width: 1024px) {
          bottom: 28px;
          right: calc(25% - 7px);
        }
        // right: 35px;
        // @media screen and (max-width: 1440px) {
        //   right: 15px;
        // }
      }
      >img {
        width: 11px;
        margin-right: 7px;
        @media screen and (max-width: 1024px) {
          width: 8px;
          margin-right: 4px;
        }
      }
      >span {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media screen and (max-width: 1024px) {
          font-size: 8px;
        }
      }
    }
    .img-left-info, .img-right-info {
      position: absolute;
      z-index: 1;
      cursor: pointer;
      width: 8%;
      top: 16%;
    }
    .img-left-info {
      left: 5%;
    }
    .img-right-info {
      right: 5%;
    }
  }
}

.progressLine {
  width: 100%;
  position: relative;
  @media screen and (max-width: 1024px){
    margin-bottom: 10px;
  }
  &.ver-2 {
    .div-text {
      font-weight: 400;
      font-size: 14px;
      color: #56564E;
    }
    .div-progress {
      height: 16px;
      .bg-progress {
        background: #EBD8B8;
        border-radius: 11.8098px;
      }
      .tint-color {
        border-radius: 11.8098px;
      }
    }
  }
  .div-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    >span {
      font-weight: 500;
      font-size: 1.125rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #0D0D0D;
      @media screen and (max-width: 1440px){
        font-size: 1.1428rem;
      }
      @media screen and (max-width: 768px){
        font-size: 0.8571rem;
      }
    }
  }
  .div-progress {
    position: relative;
    height: 8px;
    width: 100%;
    @media screen and (max-width: 1440px){
      height: 6px;
    }
    .bg-progress {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: '#E2E2E2';
    }
    .tint-color {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      left: 0;
      border-radius: 4px;
    }
  }
}

.progress-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  @media screen and (max-width: 768px){
    width: 90px;
  }
  >span {
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    @media screen and (max-width: 1440px){
      font-size: 1.1428rem;
    }
    @media screen and (max-width: 768px){
      font-size: 0.5714rem;
    }
  }
  .div-circle {
    width: 38%;
    height: 100%;
    .CircularProgressbar-path {
      stroke: #0D0D0D;
    }
    .CircularProgressbar-trail {
      stroke: #E2E2E2;
    }
    .CircularProgressbar-text {
      fill: #0D0D0D;
    }
  }
}