.div-result-quiz-wrap {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: relative;
}
.div-full-popup {
  position: fixed;
  z-index: 9;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .4s, visibility .4s;
  @media screen and (max-width: 1024px){
    z-index: 100;
  }
}
.div-card-popup-result-quiz {
  position: absolute;
  height: calc(100vh - 160px);
  top: 120px;
  width: 1176px;
  left: 50%;
  transform: translate(-50%);
  overflow-y: auto;
  border-radius: 16.4719px;
  background: #FFFFFF;
  @media screen and (max-width: 1440px){
    width: 784px;
  }
  @media screen and (max-width: 1024px) {
    width: 100vw;
    height: 100vh;
    transform: unset;
    top: 0px;
    left: 0px;
    border-radius: 0px;
  }
  .bt-close {
    position: absolute;
    top: 25px;
    left: 25px;
    border: none;
    background: transparent;
    z-index: 1;
    @media screen and (max-width: 1024px) {
      top: 20px;
      left: unset;
      right: 20px;
    }
    >img {
      width: 23px;
      height: 23px;
    }
  }
}
.div-result-new {
  color: #0D0D0D;
  position: relative;
  background: #ffffff;
  &.boutique-quiz {
    min-height: calc(100vh);
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.partner-ship {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0px 40px;
  }
  > h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #0D0D0D;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 38px;
    }
  }
  .div-content {
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    @media screen and (max-width: 768px) {
      margin-left: 10px;
      margin-right: 10px;
      justify-content: center;
      align-items: center;
    }
    .div-product {
      flex: 1;
      @media screen and (max-width: 768px) {
        width: 100%;
        flex: auto;
      }
    }
  }

  .div-reqiuz {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > button {
      background: transparent;
      border: none;
      border-top: 1px solid #e2e2e2;
      color: #8d8d8d;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      padding: 30px 120px;
      font-size: 12px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 25px 0px;
      }
      > img {
        margin-right: 8px;
      }
    }
  }
  .div-button-instore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    > button {
      padding: 1rem 0px;
      width: 300px;
      letter-spacing: 0.2em;
      font-weight: 600;
      @media screen and(max-width: 600px) {
        width: 160px;
      }
    }
    .bt-left {
      background: #ffffff;
      border: 2px solid #0D0D0D;
      border-radius: 6px;
      color: #0D0D0D;
      margin-right: 27px;
      @media screen and(max-width: 600px) {
        margin-right: 8px;
      }
    }
    .bt-right {
      background: #0D0D0D;
      border: 2px solid #0D0D0D;
      border-radius: 6px;
      color: #ffffff;
      margin-left: 27px;
      @media screen and(max-width: 600px) {
        margin-left: 8px;
      }
    }
  }

  .div-wall {
    width: 4rem;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      width: 300px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .div-line {
      height: 100%;
      flex: 1;
      width: 1px;
      background: #e2e2e2;
      @media screen and (max-width: 600px) {
        height: 1px;
        width: 100%;
      }
    }
    > span {
      padding: 15px 0px;
      @media screen and (max-width: 600px) {
        padding: 0px 15px;
      }
    }
  }

  .div-send-email {
    // margin-left: 40px;
    // margin-right: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    @media screen and (max-width: 600px) {
      margin-left: 10px;
      margin-right: 10px;
    }
    > h1 {
      color: #0D0D0D;
      font-weight: 300;
      font-size: 1.5rem;
      @media screen and (max-width: 600px) {
        font-size: 1.714rem;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 2.714rem;
      }
    }
    .header {
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 30px;
        margin: 58px 0px 77px 0px !important;
        align-items: center;
      }
      > img {
        width: 80px;
        height: 80px;
        margin-right: 1rem;
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: auto;
          height: 90px;
        }
      }
      > h2 {
        color: #cc9410;
        font-size: 3rem;
        text-transform: uppercase;
        margin: 58px 0px 77px 0px;
        @media screen and (max-width: 1440px) {
          font-size: 3.4285rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 1.7857rem;
          margin: 70px 0px 54px 0px;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 3.5rem;
          margin: 0px;
        }
      }
      @media screen and (max-width: 600px) {
        margin-top: 30px;
      }
    }
    .description {
      padding: 45px 0px;
      @media screen and (max-width: 1024px) {
        padding: 0px 13px 40px 13px;
      }

      span {
        font-size: 0.875rem;
        text-align: center;
        letter-spacing: 0.1em;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
      }

      > button {
        background: transparent;
        border: none;
        border-bottom: 1px solid #0D0D0D;
        font-size: 1rem;
        padding: 0px;
        margin-left: 5px;
      }
    }

    .text-title-input {
      font-size: 0.875rem;
      text-transform: uppercase;
      color: #0D0D0D;
      letter-spacing: 0.1em;
      font-weight: 500;
      a {
        text-decoration: n;
      }
      @media screen and (max-width: 1440px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 70px;
      }
      @media screen and (max-width: 767.9px) {
        font-size: 0.75rem;
        margin-top: 30px;
      }
    }

    .div-input {
      width: 80%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: 30px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 15px;
      }
      .div-email {
        height: 62px;
        width: 55%;
        padding: 0rem 0.5rem;
        justify-content: center;
        align-items: center;
        border: 1px solid #0D0D0D;
        border-radius: 6px;
        @media screen and (max-width: 600px) {
          width: 100%;
          margin-top: 0px;
        }
        > img {
          width: 20px;
          margin: 0px 10px;
        }
        > input {
          flex: 1;
          border: none;
          color: #0D0D0D;
          @media screen and (max-width: 600px) {
            flex: auto;
            width: 100%;
          }
        }
      }
      > button {
        margin-left: 10px;
        height: 62px;
        background: #0D0D0D;
        color: #ffffff;
        border-radius: 6px;
        width: 25%;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border: none;
        @media screen and (max-width: 600px) {
          width: 340px;
          width: 100%;
          margin-top: 1rem;
          margin-left: 0px;
          margin-bottom: 130px;
        }
      }
    }

    .text-continue {
      font-style: normal;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 2.375rem;
      text-decoration-line: underline;
      color: #8d8d8d;
      cursor: pointer;
      @media screen and (max-width: 1440px) {
        font-size: 1.428rem;
      }
    }
  }

  .div-shop {
    width: 100%;
    padding: 20px 30px;
    border-top: 1px solid #e2e2e2;
    justify-content: space-between;
    // position: fixed;
    bottom: 0px;
    background: #ffffff;
    z-index: 2;
    @media screen and (max-width: 768px) {
      padding: 20px 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 20px 0px;
    }
    .div-product {
      .items-product {
        position: relative;
        .products {
          width: 50px;
          height: 50px;
          object-fit: cover;
          object-position: center;
          cursor: pointer;
          &.left {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          &.right {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
          @media screen and (max-width: 768px) {
            width: 30px;
            height: 30px;
          }
        }
        .bottle {
          height: 50px;
          position: absolute;
          top: 5px;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
          @media screen and (max-width: 768px) {
            height: 30px;
            top: 3px;
          }
        }
      }
      .text {
        .title {
          color: #8d8d8d;
          margin-top: 0px;
          font-size: 1rem;
          text-transform: uppercase;
          @media screen and (max-width: 1440px) {
            font-size: 1.1428rem;
          }
          @media screen and (max-width: 768px) {
            font-size: 0.5rem;
          }
        }
        .name {
          color: #0D0D0D;
          @media screen and (max-width: 768px) {
            font-size: 0.5rem;
          }
        }
      }
    }

    .div-price {
      @media screen and (max-width: 768px) {
        min-width: 70px;
      }
      .old-price {
        color: #0D0D0D;
        text-decoration: line-through;
        line-height: 0.9rem;
        @media screen and (max-width: 768px) {
          font-size: 0.5rem;
          line-height: 0.5rem;
        }
      }
      .new-price {
        color: #0D0D0D;
        font-size: 1.5rem;
        line-height: 1.4rem;
        @media screen and (max-width: 768px) {
          font-size: 0.8rem;
          line-height: 0.8rem;
        }
      }
    }
  }
}

.div-point {
  position: absolute;
  right: 0px;
  top: 0px;
  .out,
  .in {
    border-radius: 50%;
  }
  .out {
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
    justify-content: center;
    align-items: center;
    &.active {
      border: 2px solid #0D0D0D;
    }
  }
  .in {
    width: 8px;
    height: 8px;
    background: #0D0D0D;
    cursor: pointer;
  }
}

.item-result {
  > h3 {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    @media screen and (max-width: 1440px) {
      font-size: 1.3714rem;
    }
  }
  > span {
    text-align: center;
    width: 100%;
    color: #8d8d8d;
  }
  .min-title {
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    color: #0D0D0D;
    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }
  }
  .div-image {
    width: 100%;
    position: relative;
    justify-content: center;
    .image-left,
    .image-right {
      width: 190px;
      height: 190px;
      position: relative;
      @media screen and (max-width: 768px) {
        width: 150px;
        height: 150px;
      }
      > img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .image-left > img {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .image-right > img {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .bt-knowmore-left,
    .bt-knowmore-right {
      position: absolute;
      border: none;
      background: transparent;
      // padding: 10px;
      bottom: 0px;
      z-index: 2;
      background: #0D0D0D;
      width: 35px;
      height: 35px;
      > img {
        width: 5px;
        object-fit: cover;
        object-position: center;
      }
    }
    .bt-knowmore-left {
      left: 0px;
      border-top-right-radius: 35px;
      > img {
        margin-right: 10px;
      }
    }
    .bt-knowmore-right {
      right: 0px;
      border-top-left-radius: 35px;
      > img {
        margin-left: 10px;
      }
    }
    .img-bottle {
      height: 190px;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      @media screen and (max-width: 768px) {
        height: 150px;
        top: 15px;
      }
    }
  }
  .div-shop-item {
    justify-content: space-between;
    align-items: center;
    width: 380px;
    border: none;
    margin-top: 3rem;
    padding: 0px;
    &.div-center {
      justify-content: center;
      >button {
        background: #0D0D0D;
        color: #ffffff;
        border: none;
        letter-spacing: 0.2em;
      }
    }
    @media screen and (max-width: 768px) {
      width: 300px;
      margin-top: 2rem;
    }
    > button {
      border: 1px solid #0D0D0D;
      color: #0D0D0D;
      padding: 1rem 3.5rem;
      background: #ffffff;
      border-radius: 6px;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 600;
      @media screen and (max-width: 1440px) {
        font-size: 0.9142rem;
      }
      &:hover {
        background: #0D0D0D;
        color: #ffffff;
      }
      @media screen and (max-width: 768px) {
        padding: 0.4rem 1.7rem;
      }
    }
  }
}

.result-adjective {
  width: 95vw;
  .__header {
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.875rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0D0D0D;
    text-transform: uppercase;
    padding-bottom: 2rem;
    @media screen and (max-width: 1440px) {
      font-size: 1.5714rem;
    }
    @media (max-width: 767.98px) {
      padding-bottom: 1.5rem;
      font-size: 1rem;
    }
  }

  .__list {
    padding: 0rem 41px 0px 54px;
    @media (max-width: 767.98px) {
      padding: 0px 33px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 0rem 10px 0px 14px;
    }
    .__list-item {
      padding-bottom: 0.875rem;
      ._list-item-progress {
        height: 5px;
        background-color: #e2e2e2;
        border-radius: 4px;
        position: relative;
        ._list-item-progress-percentage {
          position: relative;
          height: 5px;
          width: 0px;
          border-radius: 2.5px;
          transition: 1s;

          ._list-item-progress-dot {
            content: "";
            border-radius: 3px;
            width: 10px;
            height: 10px;
            top: -2.5px;
            right: 0px;
            position: absolute;
            background-color: #cc9410;
          }
          // &::before {
          //   content: "";
          //   border-radius: 3px;
          //   width: 10px;
          //   height: 10px;
          //   top: -2.5px;
          //   right: 0px;
          //   position: absolute;
          //   background-color: #cc9410;
          // }
        }
       
      }

      ._list-item-content {
        padding-bottom: 0.375rem;
        span {
          font-weight: bold;
          font-size: 1.125rem;
          line-height: 1.5rem;
          letter-spacing: 0.1em;
          color: #0D0D0D;
        }
      }
    }
  }

  .slick-dots {
    li {
      margin: 0px;
      button {
        &:before {
          color: #b79b53;
          font-size: 10px;
        }
      }
    }
  }
}