.wrap-review {
  background: #F5ECDC;
  padding: 80px 0px;
}
.div-review-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 979px;
  position: relative;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  #anchor-reviews {
    position: absolute;
    top: -60px;
    @media screen and (max-width: 1024px) {
      top: -70px;
    }
  }
  &.review-product-v3 {
    padding: 64px 0px;
    width: 1200px;
    margin: auto;
    @media screen and (max-width: 991px) {
      width: 100%;
      padding: 64px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 64px 16px;
    }
    .wrap-item-review {
      .react-bootstrap-table-pagination {
        .react-bootstrap-table-pagination-list {
          align-items: center;
          justify-content: center;
          display: flex;
          transform: translateX(-50%);
          @media screen and (max-width: 767px) {
            transform: none;
          }
        }
      }
    }
    .div-header-review-mobile {
      width: 100%;
      margin-bottom: 48px;
      color: #2C2C22;
      .title-header {
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      .text-sub {
        align-items: center;
        justify-content: space-between;
        .text-review {
          font-weight: 400;
          font-size: 18px;
          color: #56564E;
        }
        >button {
          height: 32px;
          font-size: 12px;
          font-weight: 600;
          color:#2C2C22 !important;
          padding: 0px 12px !important;
          >svg {
            color:#2C2C22 !important;
          }
        }
      }
    }
    .div-header-review {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 48px;
      .div-text-left {
        display: flex;
        flex-direction: column;
        .title-header {
          font-weight: 400;
          font-size: 64px;
          letter-spacing: 0.05em;
          color: #2C2C22;
          margin-bottom: 12px;
        }
        .text-review {
          font-weight: 400;
          font-size: 18px;
          color: #56564E;
        }
      }
      >button {
        height: 32px;
        font-size: 12px;
        font-weight: 600;
        color:#2C2C22 !important;
        padding: 0px 12px !important;
        >svg {
          color:#2C2C22 !important;
        }
      }
    }
  }
  &.review-product-v2 {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0px 24px;
      margin-top: -80px;
    }
    .div-header {
      .heading {
        font-weight: 400;
        margin-bottom: 16px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 8px;
        }
      }
    }
    .div-line-start {
      align-items: center;
      margin-bottom: 33px;
      @media screen and (max-width: 1024px){
        margin-bottom: 29px; 
      }
      >span {
        font-weight: 600;
        font-size: 24px;
        
        @media screen and (max-width: 1024px){
          font-size: 14px;
        }
      }
      .line-star {
        margin-left: 13px;
        >img {
          width: 24px;
          height: 24px;
          margin: 0px 4px;
          @media screen and (max-width: 1024px){
            width: 14px;
            height: 14px;
            margin: 0px 2px;
          }
        }
      }
    }
    .div-sort {
      align-items: center;
      margin-bottom: 8px;
      .title-sort {
        .other-Tagline {
          color: #2c2c2c;
          margin-right: 8px;
          @media screen and (max-width: 1024px) {
            margin-right: 4px;
            font-size: 13px;
          }
        }
      }
      .list-button {
        margin-left: 24px;
        @media screen and (max-width: 1024px) {
          margin-left: 12px;
        }
        >button {
          margin-right: 8px;
          height: 30px;
          @media screen and (max-width: 1024px) {
            margin-right: 4px;
          }
        }
        .active {
          background: #EBD8B8;
        }
      }
    }
    .div-result-review {
      margin-bottom: 33px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 24px;
        justify-content: space-between;
      }
      .info-start {
        width: 96px;
        height: 36px;
        margin-right: 8px;
        background: #FFF4E0;
        border-radius: 40px;
        border: 1px solid #BCAD93;
        color: #2C2C22;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.active {
          background: #EBD8B8;
        }
        @media screen and (max-width: 1024px) {
          height: 26px;
          width: calc((100% - 16px)/5);
          margin-right: 0px;
        }
        >span {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          @media screen and (max-width: 1024px) {
            font-size: 12px;
          }
        }
        >img {
          width: 16px;
          height: 16px;
          @media screen and (max-width: 1024px) {
            width: 14px;
            height: 14px;
          }
        }
        .text-number {
          margin-left: 12px;
          font-size: 12px;
          line-height: 28px;
          @media screen and (max-width: 1024px) {
            font-size: 10px;
            line-height: 150%;
            margin-left: 6px;
          }
        }
      }
    }
    .wrap-item-review {
      .div-row-data {
        width: 100%;
        &.justify-start {
          .review-item-v2 {
            margin-right: 24px;
            @media screen and (max-width: 1024px) {
              margin-right: 0px;
            }
          }
        }
        .review-item-v2 {
          width: calc((100% - 48px) / 3);
          margin-bottom: 33px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  >h3 {
    margin: 65px;
    margin-top: 80px;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #0D0D0D;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .text-total {
    font-size: 18px;
    color: #8D8D8D;
    margin-top: 25px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 48px;
    }
  }

  .header-review {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: flex-end;
    @media screen and (max-width: 1024px) {
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      padding: 0px 15px;
    }
    .div-left {
      display: flex;
      flex-direction: column;
      >h3 {
        font-weight: 500;
        font-size: 36px;
        color: #0D0D0D;
        text-align: center;
        margin-bottom: 13px;
        @media screen and (max-width: 1440px){
          font-size: calc(36px * 0.75);
          margin-bottom: calc(13px * 0.75);
        }
      }
      .header_2 {
        margin-bottom: 13px;
        font-size: 25px;
        @media screen and (max-width: 1440px){
          margin-bottom: calc(13px * 0.75);
          font-size: 19px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 15px;
          font-size: 25px;
        }
      }
      .line-star {
        margin-top: 15px;
        margin-bottom:20px;
        >img {
          width: 31px;
          height: 31px;
          margin: 0px 4px;
          @media screen and (max-width: 1440px){
            width: calc(31px * 0.75);
            height: calc(31px * 0.75);
          }
        }
        >span {
          color: #8D8D8D;
          font-size: 20px;
          @media screen and (max-width: 1440px){
            font-size: calc(20px * 0.75);
            align-items: center;
          }
        }
      }
    }
    .div-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media screen and (max-width: 1024px) {
        margin-top: 30px;
        align-items: center;
      }
      >span {
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.1em;
        color: #8D8D8D;
      }
      .dropdown-review {
        >button {
          background: transparent;
          border: none;
          padding: 0px;
          &:focus {
            outline: 0;
            border: none;
            box-shadow: none;
          }
          .value {
            >span {
              font-weight: 300;
              font-size: 20px;
              color: #0D0D0D;
              margin-right: 8px;
              @media only screen and (max-width: 1440px) {
                font-size: calc(20px * 0.75);
              }
            }
            >img {
              height: calc(8px * 0.75);
            }
          }
        }
        .dropdown-menu {
          padding: 0px 15px;
          >div {
            font-size: 16px;
            padding: 5px 0px;
            cursor: pointer;
            font-weight: 300;
          }
          .active {
            font-weight: 500;
          }
        }
      }
    }
  }

  >hr {
    background: #E2E2E2;
    width: 100%;
    margin: 0px;
    margin-top: 38px;
  }

  .div-review-line-start {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &.column-mobile {
      flex-direction: column;
      align-items: center;
      .item-line-start {
        width: 100%;
        align-items: center;
        margin-bottom: 46px;
        .line-star {
          margin-top: 22px;
          >span {
            font-size: 14px;
          }
          >img {
            width: 34px;
            height: 34px;
            margin-left: 8px;
          }
          >span {
            font-size: 24px;
          }
        }
      }
    }

    .item-line-start {
      display: flex;
      flex-direction: column;
      >span {
        font-weight: 500;
        font-size: 18px;
        color: #0D0D0D;
        @media screen and (max-width: 1024px){
          font-size: 10px;
        }
      }
      .line-star {
        display: flex;
        flex-direction: row;
        align-items: center;
        >img {
          width: 25px;
          height: 25px;
          margin-right: 7px;
          @media screen and (max-width: 1024px){
            width: 14px;
            height: 14px;
            margin-right: 3px;
          }
        }
        >span {
          font-weight: 500;
          font-size: 20px;
          color: #0D0D0D;
          margin-left: 10px;
        }
      }
    }
  }

  .div-review-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 54px 0px 27px 0px;
    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
    color: #0D0D0D;  
    @media screen and (max-width: 1440px) {
      padding: 40px 0px 20px 0px;
    }
    @media screen and (max-width: 1024px){
      flex-direction: column;
      align-items: center;
      padding: 25px 15px 25px 15px;
      align-items: flex-start;
    }
    .div-leff {
      width: 25%;
      @media screen and (max-width: 1024px) {
        width: 100%;
        align-items:center;
      }
      .line-star {
        @media screen and (max-width: 1024px) {
          margin-right: 14px;
        }
        >img {
          height: 22px;
          margin-right: 6px;
          @media screen and (max-width: 1440px) {
            height: calc(22px * 0.75);
            margin-right: calc(6px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 16px;
            margin-right: 4px;
          }
        }
      } 
      >h2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 14px;
        margin-bottom: 10px;
        @media only screen and (max-width: 1440px) {
          margin-top: calc(14px * 0.75);
          margin-bottom: calc(10px * 0.75);
          font-size: calc(18px);
        }
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          margin-bottom: unset;
          margin-top: unset;
        }
      }
      >span {
        font-size: 16px;
        font-weight: 300;
        color: #8D8D8D;
        @media only screen and (max-width: 1440px) {
          font-size: calc(16px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          flex: 1;
          text-align: end;
        }
      }
    }
    .div-right {
      width: 75%;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      >span {
          font-weight: 300;
          font-size: 25px;
          color: #0D0D0D;
          margin-bottom: 23px;
          @media screen and (max-width: 1440px){
            font-size: calc(25px * 0.75);
            margin-bottom: calc(23px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 13px;
            margin-bottom: 16px;
          }
      }
      .list-image {
          width: 100%;
          display: -webkit-flex;
          overflow-x: auto;
          >img {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            margin-right: 16px;
            object-fit: cover;
            cursor: pointer;
            @media screen and (max-width: 1440px){
              height: calc(50px * 0.75);
              width: calc(50px * 0.75);
              border-radius: calc(4px * 0.75);
              margin-right: calc(16px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              height: 50px;
              width: 50px;
              border-radius: 4px;
              margin-right: 16px;
            }
          }
      }
    }
    .div-image {
      width: 115px;
      height: 115px;
      @media screen and (max-width: 1024px){
        width: 68px;
        height: 68px;
        margin-bottom: 32px;
      }
      >img {
        width: 100%;
        height: 100%;
      }
    }
    .div-text {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 23px;
      @media screen and (max-width: 1024px){
        padding: 0px;
        width: 100%;
      }
      .name {
        display: flex;
        @media screen and (max-width: 1024px){
          width: 100%;
          justify-content: center;
          margin: 32px 0px;
        }
        >span:nth-child(1) {
          font-weight: 500;
          font-size: 18px;
          color: #0D0D0D;
          @media screen and (max-width: 1024px){
            font-size: 14px;
          }
        }
        >span:nth-child(2) {
          font-size: 14px;
          color: #8D8D8D;
          margin-left: 23px;
          @media screen and (max-width: 1024px){
            font-size: 12px;
          }
        }
      }
      .des {
        font-size: 16px;
        color: #8D8D8D;
        margin-top: 15px;
        margin-bottom: 36px;
        @media screen and (max-width: 1024px){
          font-size: 14px;
          margin-top: 0px;
        }
      }
    }
  }
  .wrap-item-review {
    .react-bootstrap-table-pagination {
      .react-bootstrap-table-pagination-list {
        align-items: center;
        justify-content: center;
        display: flex;
        transform: translateX(-50%);
        @media screen and (max-width: 1024px){
          transform: unset;
        }
        .react-bootstrap-table-page-btns-ul {
          .active {
            font-weight: 600;
          }
          .page-item {
            >a {
              background: transparent;
              color: #000000;
              border: none;
              &:focus {
                outline:0 !important;
              }
            }
          }
        }
      }
    }
  } 
  .table-react-next-custom {
    border: none;
    >thead >tr>th {
      padding: 0px;
      border: none;
    }
    >tbody >tr >td {
      padding: 0px;
      border: none;
    }
  }
}