.div-scentItem-mmo {
  width: 260px;
  height: 385px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #777;
  border-radius: 20px;
  background: #ffffff;
  >.div-2image {
    width: 100%;
    // height: 235px;
    height: 61%;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    >.div-img-1, >.div-img-2{
      width: 50%;
      height: 100%;
      position: relative;
      > img {
        object-fit: cover;
        object-position: center;
      }
    }
    >.div-img-1 >img {
      border-top-left-radius: 20px;
      // margin-right: 2px;
    }
    >.div-img-2 >img {
      border-top-right-radius: 20px;
      // margin-left: 2px;
    }
  }
  >.div-img {
    width: 100%;
    // height: 235px;
    height: 61%;
    border-radius: 20px 20px 0 0;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 20px 20px 0 0;
    }
  }
  >.div-gender {
    position: absolute;
    background: #fff;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    text-align: center;
    line-height: 2;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 0.7rem;
  }
  >.div-body{
    width: 100%;
    // height: 150px;
    height: 39%;
    display: flex;
    flex-direction: column;
    >.block-1{
      width: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > span {
      }
      > div {
        > span:nth-child(1) {
          font-size: 0.7rem;
          color: #777;
          font-style: italic;
        }
        > span:nth-child(2) {
          font-size: 0.7rem;
          color: #1a1a1a;
        }
      }
    }
    >.block-2 {
      height: 35px;
      font-size: 0.7rem;
    }
    >.block-3 {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      >span{
        color: #1a1a1a;
        font-size: 1.1rem;
      }
      >button{
        border: none;
        background: transparent;
        padding: 0;
        font-size: 0.8rem;
      }
    }
  }
}

.div-scentItem-mobile-mmo {
  width: 173.3px;
  height: 192.5px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #777;
  border-radius: 10px;
  background: #fff;
  >.div-2image {
    position: relative;
    width: 100%;
    height: 117.5px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    >.div-img-1, >.div-img-2{
      position: relative;
      width: 50%;
      height: 100%;
      > img {
        object-fit: cover;
        object-position: center;
      }
    }
    >.div-img-1 >img {
      border-top-left-radius: 10px;
      // margin-right: 1px;
    }
    >.div-img-2 >img {
      border-top-right-radius: 10px;
      // margin-left: 1px;
    }
  }
  >.div-img {
    width: 100%;
    height: 117.5px;
    border-radius: 10px 10px 0 0;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px 10px 0 0;
    }
  }
  >.div-gender {
    position: absolute;
    background: #fff;
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
    text-align: center;
    line-height: 2;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 0.7rem;
  }
  >.div-body{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    >.block-1{
      width: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      > span {
        font-size: 0.5rem;
      }
      > div {
        > span:nth-child(1) {
          font-size: 0.35rem;
          color: #777;
          font-style: italic;
        }
        > span:nth-child(2) {
          font-size: 0.35rem;
          color: #1a1a1a;
        }
      }
    }
    >.block-2 {
      height: 17.5px;
      font-size: 0.35rem;
    }
    >.block-3 {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      >span{
        color: #1a1a1a;
        font-size: 0.51rem;
      }
      >button{
        border: none;
        background: transparent;
        padding: 0;
        font-size: 0.4rem;
      }
    }
  }
}