.div-scentItemMood {
    width: 260px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .div-3image {
        width: 100%;
        position: absolute;
        height: auto;
        display: flex;
        // margin: 0 -15px;
        // left: 10%;
        top: 10%;
        >div {
            flex: 1 0 32%;
        }
        //2 div ảnh
        .div-img-1,
        .div-after-shadow,
        .div-img-2 {
            padding: 0 15px;
            cursor: pointer;
            z-index: 1;
        }
        .div-after-shadow::after {
            content: '';
            z-index: -1;
            -webkit-z-index: -1;
            position: absolute;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            left: 6%;
            width: 100px;
            height: 175px;
            transform: perspective(600px) rotateY(30deg);
            -webkit-transform: perspective(600px) rotateY(30deg);
            box-shadow: -23px 25px 65px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: -23px 25px 65px rgba(0, 0, 0, 0.25);
        }
        .div-img-1 {
            .img-1 {
                cursor: pointer;
                width: 100%;
                height: 100%;
                transform: perspective(600px) rotateY(30deg);
                border-radius: 20px;
                -webkit-border-radius: 20px;
            }
        }
        .div-img-2 {
            .img-2 {
                cursor: pointer;
                width: 100%;
                height: 100%;
                transform: perspective(600px) rotateY(-30deg);
                border-radius: 20px;
                -webkit-border-radius: 20px;
                box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.25);
            }
        }
        .div-img-3 {
            width: 100%;
            position: absolute;
            height: auto;
            z-index: 10;
            -webkit-z-index: 10;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 20px;
            cursor: pointer;
            @media (min-width: 768px) and (max-width: 1024px) {
                top: 29%;
            }
        }
    }
    .item-detail {
        position: absolute;
        flex-direction: column;
        width: 100%;
        left: 0;
        height: 100%;
        >div>span {
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #000000;
        }
        .item-short-title,
        .item-price,
        .item-btn-options {
            position: absolute;
            left: 50%;
            font-size: 13px;
            transform: translateX(-50%)
        }
        .item-short-title {
            margin-left: -56px;
            bottom: 25%;
            font-weight: bold;
            .custom-item-short-title {
                line-height: 18px;
            }
        }
        .item-price {
            // margin-left: -15px;
            bottom: 18%;
            font-weight: bold;
            line-height: 18px;
            @media (max-width: 768px) {
                bottom: 18%;
                // margin-left: -17px;
            }
        }
        .item-btn-options {
            // margin-left: -121px;
            flex-direction: row;
            bottom: 11%;
            width: 100%;
            justify-content: center;
            display: flex;
            @media (max-width: 768px) {
                bottom: 8%;
                // margin-left: -127px;
            }
            >button {
                mix-blend-mode: multiply;
                border: none;
                background: transparent;
                letter-spacing: 0.2em;
                font-size: 12px;
                >span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.div-scentItemMood-mobile {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    .div-3image {
        width: 100%;
        position: relative;
        height: auto;
        display: flex;
        margin: 0 -27px;
        left: 8%;
        top: 10%;
        @media (min-width: 413px) and (max-width: 414px) {
            left: 7%;
        }
        >div {
            flex: 1 0 32%;
        }
        .div-img-1,
        .div-img-2 {
            padding: 0 12px;
            cursor: pointer;
            z-index: 1 !important;
            -webkit-z-index: 1;
        }
        .div-after-shadow::after {
            content: '';
            position: absolute;
            border-radius: 12px;
            left: 8%;
            width: 62px;
            z-index: -1;
            -webkit-z-index: -1;
            height: 110px;
            transform: perspective(600px) rotateY(30deg);
            -webkit-transform: perspective(600px) rotateY(30deg);
            box-shadow: -15px 8px 50px rgba(0, 0, 0, 0.25);
            -webkit-box-shadow: -15px 8px 50px rgba(0, 0, 0, 0.25);
        }
        .div-img-2 {
            .img-2 {
                width: 100%;
                height: 100%;
                transform: perspective(600px) rotateY(-30deg);
                -webkit-transform: perspective(600px) rotateY(-30deg);
                border-radius: 15px;
                -webkit-border-radius: 15px;
                box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.25);
            }
        }
        .div-img-1 {
            .img-1 {
                width: 100%;
                height: 100%;
                transform: perspective(600px) rotateY(30deg);
                -webkit-transform: perspective(600px) rotateY(30deg);
                border-radius: 15px;
                -webkit-border-radius: 15px;
            }
        }
        .div-img-3 {
            width: 100%;
            position: absolute;
            height: auto;
            z-index: 10;
            -webkit-z-index: 10;
            top: 13%;
            left: 50%;
            transform: translateX(-50%);
            padding: 0 20px;
            // margin-left: -87.5px;
            @media (min-width: 413px) and (max-width: 414px) {
                top: 16%;
                // margin-left: -96.5px;
            }
        }
    }
    .item-detail {
        position: absolute;
        flex-direction: column;
        width: 100%;
        left: 0;
        height: 100%;
        >div>span {
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #000000;
        }
        .item-short-title,
        .item-price,
        .item-btn-options {
            position: absolute;
            left: 50%;
            transform: translateX(-50%)
        }
        .item-short-title {
            margin-left: -45px;
            bottom: 34%;
            font-weight: bold;
            font-size: 10px;
            .custom-item-short-title {
                line-height: 18px;
            }
        }
        .item-price {
            // margin-left: -15px;
            bottom: 23%;
            font-weight: bold;
            line-height: 18px;
            font-size: 10px;
            // @media (min-width: 413px) and (max-width: 414px) {
            //     bottom: 18%;
            // }
            // @media (min-width: 415px) and (max-width: 460px) {
            //     bottom: 16%;
            // }
        }
        .item-btn-options {
            // margin-left: -92px;
            flex-direction: row;
            bottom: 19%;
            width: 100%;
            font-size: 8px;
            justify-content: center;
            display: flex;
            // @media (min-width: 413px) and (max-width: 414px) {
            //     bottom: 17%;
            //     margin-left: -99px;
            // }
            // @media (min-width: 415px) and (max-width: 460px) {
            //     bottom: 10%;
            //     margin-left: -110px;
            // }
            >button {
                border: none;
                background: transparent;
                letter-spacing: 0.2em;
                padding: 0;
                // mix-blend-mode: multiply;
                >span {
                    text-transform: uppercase;
                }
            }
        }
    }
}