.div-selection-perfume {
  min-height: calc(100vh - 227px);
  // margin-top: 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  justify-content: center;
  @media screen and (max-width: 1440px) {
    min-height: calc(100vh - 170px);
    // margin-top: 170px;
  }
  @media screen and (max-width: 1024px){
    min-height: calc(100vh - 86px);
    // margin-top: 86px;
    padding: 0px 10px;
    background-repeat: repeat;
    background-size: contain;
    justify-content: flex-start;
  }
  &.quiz-screen {
    margin-top: 0px;
    min-height: calc(100vh - 40px);
    @media screen and (max-width: 1024px) {
      height: calc(100vh - 100px);
    }
    .div-list-item {
      .div-item-perfume-selection {
        @media screen and (max-width: 1024px) {
          width: calc(100vw - 30px);
          margin-left: auto;
          margin-right: auto;
        }
        .div-search {
          .div-input {
            @media screen and (max-width: 1024px) {
              justify-content: start;
              padding-left: 30px;
            }
          }
          .div-list-search {
            @media screen and (max-width: 1024px) {
              height: 220px;
            }
          }
        }
      }
    }
  }
  .legal-appointment {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 20px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    &.mg-bottom {
      margin-bottom: 100px;
    }
    
    .bt-legal {
      font-size: 1.125rem;
      margin-bottom: 50px;
      @media screen and (max-width: 1440px) {
        font-size: 1.2857rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }
    }
    .div-appoinment {
      display: flex;
      padding-top: 46px;
      padding-left: 100px;
      padding-right: 100px;
      border-top: 1px solid rgba(38, 38, 38, 0.1);
      font-size: 1.125rem;
      @media screen and (max-width: 1440px) {
        font-size: 1.2857rem;
      }
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 1rem;
      }
      >span {
        margin-right: 3px;
        @media screen and (max-width: 1024px) {
          padding-left: 15px;
          padding-right: 15px;
          margin-right: 0px;
          text-align: center;
        }
      }
      >button {
        font-weight: 500;
      }
    }
  }
  >button {
    position: absolute;
    top: 24px;
    left: 1.9vw;
    padding: 0px;
    background: transparent;
    border: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8D8D8D;
    @media only screen and (max-width: 1024px) {
      top: 20px;
      font-size: 11px;
    }
    >img {
      height: 1rem;
      margin-right: 5px;
      margin-top: -5px;
      @media only screen and (max-width: 1024px) {
        height: 11px;
        margin-top: unset;
      }
    }
  }
  >h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    text-align: center;
    color: #0D0D0D;
    margin-top: 24px;
    @media screen and (max-width: 1440px){
      font-size: 2.1428rem;
    }
    @media screen and (max-width: 1024px){
      font-size: 1.7142rem;
    }
    &.center-div {
      margin-top: 0px;
      @media screen and (max-width: 1024px){
        margin-top: 50px;
      }
    }
  }
  >span {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #8D8D8D;
    @media screen and (max-width: 1440px){
      font-size: 0.8571rem;
    }
    @media screen and (max-width: 1024px){
      font-size: 1rem;
    }
  }
  .div-list-item {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px 0px;
    flex: 0;
    
    &.center-item {
      align-items: center;
      @media screen and (max-width: 1024px){
        margin-bottom: 30px;
        flex: unset;
      }
      // margin-bottom: 150px;
      // flex: 1;
    }
    @media screen and (max-width: 1024px){
      width: 100%;
      flex-direction: column;
      margin: 20px 0px;
    }
    .item-temp {
      width: calc(100vw / 3);
      background: transparent;
    }
  }
  
  .div-item-result {
    width: calc(100vw / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 30px;
    }
    &.border-right-item {
      border-right: 1px solid rgba(38, 38, 38, 0.1);
      border-bottom: none;
      @media screen and (max-width: 1024px) {
        border-right: none;
        border-bottom: 1px solid rgba(38, 38, 38, 0.1);
        padding-bottom: 30px;
      }
    }
    .div-wrap-item-result-scent {
      display: flex;
      justify-content: center;
    }
    .div-item-result-scent-v2-mobile {
      .button-link-mobile {
        font-weight: normal;
        font-size: 1rem;
      }
      .line-button {
        margin-top: 40px;
        >button {
          width: 150px;
          height: 36px;
          font-size: 0.8571rem;
          margin: 0px 6px;
          padding: 0px;
        }
      }
      .div-name-price {
        .div-header {
          .name {
            font-weight: normal;
            font-size: 0.8571rem;
            letter-spacing: 0.05em;
            text-transform: unset;
          }
          .price {
            font-size: 1.8571rem;
            font-weight: bold;
          }
        }
        .div-des {
          >span:nth-child(1) {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.05em;
          }
          >span:nth-child(2) {
            font-weight: 300;
            font-size: 0.7142rem;
          }
        }
      }
      .div-button-func {
        margin-top: 27px;
        .div-icon-button {
          .div-item-icon {
            >img {
              height: 20px;
            }
            >span {
              font-size: 0.7142rem;
            }
          }
        }
      }
    }
    .div-item-result-scent-v2 {
      letter-spacing: 0.1em;
      color: #0D0D0D;
      .div-header-combinations {
        .div-top {
          >span {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.1em;
            @media screen and ( max-width: 1440px) {
              font-size: calc(12px * 0.75);
            }
          }
          >h2 {
            font-size: 24px;
            font-weight: bold;
            @media screen and ( max-width: 1440px) {
              font-size: calc(24px * 0.75);
            }
          }
        }
        .div-bottom {
          >h2 {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            @media screen and ( max-width: 1440px) {
              font-size: calc(16px * 0.75);
            }
          }
          >span {
            font-size: 12px;
            font-weight: normal;
            @media screen and ( max-width: 1440px) {
              font-size: calc(12px * 0.75);
            }
          }
        }
      }
      .div-price-result  {
        .div-bottom-button {
          .div-link-rollon {
            font-size: 14px;
            @media screen and ( max-width: 1440px) {
              font-size: calc(14px * 0.75);
            }
          }
        }
      }
      .div-item-image-scent {
        .scent-image {
          .div-img-bottle {
            .custome-name {
              font-size: 3px;
            }
            .text-size-custome {
              font-size: 2px;
            }
            .text-des-custome {
              font-size: 2px;
            }
            .div-image-bottle-custom {
              .div-ingredients {
                width: 80%;
                >span {
                  font-size: 3px;
                }
              }
            }
          }
          .div-info {
            height: 18px;
            bottom: 32px;
            padding: 0px 7px;
            >img {
              width: 7px;
              margin-right: 4px;
              @media screen and (max-width: 1024px){
                width: 8px;
              }
            }
            >span {
              font-size: 7px;
              @media screen and (max-width: 1024px){
                font-size: 8px;
              }
            }
          }
        }
      }
      .div-content-item {
        padding: 0px;
        .slick-slider {
          .slick-dots {
            bottom: -15px;
          }
          .slick-list {
            .slick-track {
              .slick-slide {
                >div {
                  .div-slide-scent {
                    .div-button-func {
                      .div-icon-button {
                        .div-item-icon {
                          >span {
                            font-size: 7px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .div-slide-color {
          .div-process-line {
            .progressLine {
              .div-text {
                >span {
                  font-size: 12px;
                }
              }
            }
          }
          .div-process-circle {
            .progress-circle {
              >span {
                font-size: 12px;
              }
              .div-circle {
                width: 35%;
              }
            }
          }
        }
      }
    }
    >span {
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #8D8D8D;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }

  .div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 500px;
    padding-top: 40px;
    border-top: 1px solid rgba(38, 38, 38, 0.1);
    @media screen and (max-width: 1024px){
      width: 100%;
      padding-top: 22px;
      flex-direction: column;
      border-top: unset;
      flex: 1;
    }
    >hr {
      width: 100vw;
      background: #E2E2E2;
    }
    .out-line {
      background: #fff;
      color: #0D0D0D;
      border: 1px solid #0D0D0D;
    }
    >button {
      letter-spacing: 0.2em;
      color: #ffffff;
      background: #0D0D0D;
      border: 2px solid #0D0D0D;
      box-sizing: border-box;
      border-radius: 6px;
      height: 56px;
      padding: 0px 1rem;
      text-transform: uppercase;
      width: 220px;
      margin: 0px 10px;
      @media screen and (max-width: 1024px){
        font-size: 14px;
        letter-spacing: 0.1em;
        width: 144px;
        height: 38px;
        margin-bottom: 30px;
        @supports (-webkit-touch-callout: none) {
          /* CSS specific to iOS devices */ 
          margin-bottom: 110px;
       }
       
      }
    }
  }
}

.div-item-perfume-selection {
  width: calc(100vw / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1024px){
    width: 100%;
    margin-top: 10px;
  }
  .div-search {
    width: 120%;
    box-shadow: 7.69231px 7.69231px 57.6923px rgba(0, 0, 0, 0.15);
    background: #FFFFFF;
      // box-shadow: 7.69231px 7.69231px 57.6923px rgba(0, 0, 0, 0.15);
    border-radius: 103.462px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    &.div-small {
      width: 90%;
      @media screen and (max-width: 1024px) {
        margin-bottom: 30px;
      }
    }
    &.result {
      border-radius: 29px !important;
      .div-input {
        border-bottom: 1px solid #E2E2E2;
        justify-content: flex-start;
        >input {
          margin-left: 40px;
          margin-right: 40px;
          font-size: 16px;
          color: #8D8D8D;
          min-width: 180px;
        }
      }
    }
    &.result-quiz {
      min-height: 57px;
      display: flex;
      align-items: center;
      position: relative;
      .bottle-scent {
        height: 45px;
        padding: 0px 15px 0px 30px;
        @media screen and (max-width: 1024px) {
          height: 15px;
        }
      }
      >span {
        font-size: 16px;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          padding-right: 50px;
        }
      }
      .bt-close {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
      }
    }
    .div-input {
      width: 100%;
      min-height: 57px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      .icon-search {
        height: 21px;
        margin-right: 5px;
      }
      >span {
        color: #0D0D0D !important;
      }
      >span, >input {
        // flex: 1;
        text-align: left;
        color: #8D8D8D;
        border: none;
        background: transparent;
        font-size: 1rem;
        font-weight: 500;
        &::placeholder {
          color: #0D0D0D;
          font-size: 1rem;
          font-weight: 500;
        }
        @media screen and ( max-width: 1440px) {
          font-size: 1.1428rem;
          &::placeholder {
            font-size: 1.1428rem;
          }
        }
        
      }
      >div {
        height: 51px;
        width: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        .animate-loading {
          animation: animation-roate-360 1s infinite linear;
        }
        >img {
          height: 20px;
          object-fit: contain;
          object-position: center;
          position: absolute;
          right: 30px;
        }
        &.bg-color {
          background: #0D0D0D;
        }
      }
    }
  }
  .div-list-search {
    height: 278px;
    width: 100%;
    background: #FFFFFF;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    box-sizing: border-box;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
      background-color: #E2E2E2;
    }
    &::-webkit-scrollbar-thumb {
      background-color :#0D0D0D;
      border-radius: 25px;
    }
    .item-perfume {
      display: flex;
      flex-direction: row;
      margin: 10px 0px;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center;
      cursor: pointer;
      >img {
        height: 51px;
        object-fit: contain;
        object-position: center;
      }
      >span {
        text-align: flex-start;
        color: #0D0D0D;
        font-size: 18px;
        flex: 1;
        padding-left: 16px;
      }
    }
  }

  .div-result {
    width: 70%;
    background: #FFFFFF;
    border: 2px solid #0D0D0D;
    box-sizing: border-box;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
    .div-perfume {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #E2E2E2;
      padding: 8px 0px;
      >img {
        height: 40px;
        margin-left: 10px;
      }
      >span {
        color: #0D0D0D;
        flex: 1;
        text-align: center;
        font-size: 14px;
      }
      >button {
        background: transparent;
        border: none;
        >img {
          height: 14px;
        }
      }
    }
    .div-characteristics {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      >span {
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        font-size: 12px;
        padding: 0px 0px 20px 0px;
        width: 100%;
      }
      .div-list-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0px;
        width: 100%;
        .div-item-character {
          display: flex;
          flex-direction: row;
          width: 100%;
          padding: 5px 0px;
          >span {
            width: 110px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            font-size: 12px;
          }
          .div-process {
            position: relative;
            flex: 1;
            .process-bg {
              height: 8px;
              background: #E2E2E2;
              border-radius: 4px;
              width: 100%;
              position: absolute;
              top: 50%;
              left: 0px;
              transform: translateY(-50%);
            }
            .process-percent {
              height: 8px;
              background: #6AC684;
              border-radius: 4px;
              width: 50%;
              position: absolute;
              top: 50%;
              left: 0px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

.modal-legal-note {
  min-width: 785px;
  border-radius: 16px;
  @media screen and (max-width: 1024px) {
    min-width: unset;
    border-radius: 12px;
  }
  .modal-content {
    border-radius: 16px;
    @media screen and (max-width: 1024px) {
      border-radius: 12px;
    }
  }
  .modal-body {
    padding: 0px;
    .body-content {
      padding: 80px 70px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #0d0d0d;
      @media screen and (max-width: 1024px) {
        padding: 46px;
      }
      .bt-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 23px;
        @media screen and (max-width: 1024px) {
          top: 20px;
          right: 20px;
          width: 15px;
        }
      }
      >h1 {
        font-family: Playfair Display;
        font-weight: normal;
        font-size: 26px;
        text-align: center;
        margin-bottom: 28px;
        @media screen and (max-width: 1024px) {
          font-size: 24px;
          margin-bottom: 40px;
        }
      }
      >span {
        text-align: center;
        font-size:16px;
      }
    }
  }
}