.step-block-home-alt {
  margin: 50px 0px;
  padding: 50px 0px;
  width: calc(100vw - 60px * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;
  color: #fff;
  @media screen and (max-width: 1440px) {
    padding: 37.5px 0px;
    margin: 37.51px 0px;
    width: calc(100vw - 45px * 2);
  }
  @media screen and (max-width: 1024px) {
    padding: 54px 39px;
    margin: 0px 0px;
    width: calc(100vw - 15px * 2);
  }
  .text-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header_2 {
      color: #2B3033;
      text-align: center;
    }
    .header_4 {
      color: #2B3033;
      margin: 30px auto 60px auto;
      width: 579px;
      text-align: center;
      @media screen and (max-width: 1440px) {
        margin: 22px auto 44px auto;
        width: 434px;
      }
      @media screen and (max-width: 1024px) {
        margin: 10px auto 30px auto;
        width: 100%;
      }
    }
  }
}