@import "global.scss";
@import "custom-product-detail";
@import "animations.scss";
.b2b-partnership {
  .block-icon-line-v2 {
    width: 100vw;
    margin-left: -60px;
    @media screen and (max-width: 1440px) {
      margin-left: -45px;
    }
    @media screen and (max-width: 1024px) {
      margin-left: -15px;
    }
  }
}