.div-sub-quiz {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
  .div-question {
    padding: 0px 20px;
    >.text__container {
      margin: 40px 0px;
      @media screen and (max-width: 1024px) {
        margin: unset;
      }
      >div >.text__title--question {
        margin-bottom: 40px !important;
      }
    }
  }
  .div-start-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: calc(100vh - 110px);
    padding: 100px 20px 70px 20px;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      height: auto;
      padding: 30px 15px 37px 15px;
    }
    >h1 {
      font-weight: 500;
      font-size: 52px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 0px;
      z-index: 1;
      text-transform: uppercase;
      @media screen and (max-width: 1024px) {
        font-size: 24px;
        color: #0D0D0D;
        font-weight: 300;
        text-transform: unset;
      }
    }
    >span {
      text-align: center;
      font-size: 24px;
      color: #FFFFFF;
      z-index: 1;
      width: 470px;
      @media screen and (max-width: 1024px) {
        color: #0D0D0D;
        margin: 27px 0px;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        width: unset;
      }
    }
    .div-button-start {
      z-index: 1;
      .div-time {
        display:flex;
        margin-bottom: 20px;
        justify-content:center;
        >img {
          height: 27px;
          margin-right: 15px;
        }
        >span {
          font-weight: 500;
          font-size: 20px;
          letter-spacing: 0.1em;
          color: #FFFFFF;
        }
      }
      >button {
        padding: 0px 86px;
        height: 76px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        background: #ffffff;
        font-size: 24px;
        border: none;
        box-shadow: 0px -2.62813px 5.25626px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        @media screen and (max-width: 1024px) {
          width: calc(100vw - 72px);
          height: 48px;
          color: #FFFFFF;
          background: #0D0D0D;
          font-size: 14px;
          padding: unset;
        }
      }
    }
  }
  .img-bg {
    width:100%;
    height: calc(100vh - 110px);
    position: absolute;
    z-index: 0;
    object-fit: cover;
    object-position:center;
    @media screen and (max-width: 1024px) {
      position: relative;
      width:100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
}