.div-subscription-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .bt-update-payment {
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: auto;
      margin-bottom: 40px;
      margin-top: 30px;
    }
    >button {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.2em;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #0D0D0D;
    }
  }
  .div-info-payment-error {
    width:50%;
    background: #EB5757;
    border-radius: 6px;
    padding: 14px 16px;
    display: flex;
    @media screen and (max-width: 1024px) {
      width: calc(100% - 60px);
      margin-top: 30px;
    }
    >img {
      width:23px;
    }
    >span {
      margin-left: 14px;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      color: #FFFFFF;
    }
  }
  .div-tracking-box {
    padding: 30px 0px;
    width: calc(324px * 1.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1440px){
      width: 324px;
    }
    @media screen and (max-width: 1080px){
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      background: #ffffff;
    }
    .title {
      font-size: 18px;
      color: #0D0D0D;
      margin-top: 0px;
    }
    .div-step {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      >hr {
        position: absolute;
        height: 1px;
        width: calc(100% - 50px);
        background: #8D8D8D;
        top: 0px;
        margin: 0px;
        margin-top: 11px;
        z-index: 0;
        margin-left: 20px;
        margin-right: 30px;
      }
      .item-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        &.active {
          .bg-circle {
            background: #0D0D0D;
            color: #ffffff;
          }
          >span {
            color: #0D0D0D;
          }
        }
        .bg-circle {
          width: calc(22px * 1.5);
          height: calc(22px * 1.5);
          color: #8D8D8D;
          background: #E2E2E2;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 1440px){
            width: 22px;
            height: 22px;
          }
          @media screen and (max-width: 1080px){
            font-size: 12px;
          }
        }
        >span {
          font-size: 10.5px;
          text-align: center;
          text-transform: uppercase;
          color: #8D8D8D;
          margin-top: 5px;
        }
      }
    }
  }

  .div-content-sub {
    flex: 1;
    background: #F5ECDC;
    padding: 66px 71px;
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: 1080px){
      padding: 25px 8px;
    }
    .div-subscription-goal {  
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 18px;
        color: #0D0D0D;
        margin-top: 0px;
      }
      .__content {
        margin-top: 4.5rem;
        width: auto;
        @media screen and (max-width: 1024px){
          margin-top: 2rem;
          width: 100%;
        }
        .__content-bar {
          top: 108px;
          height: 3px;
          width: 100%;
          background: #c4c4c4;
          border-radius: 1.4px;
          @media screen and (max-width: 1440px) {
            top: 108px;
          }
          @media screen and (max-width: 767.98px) {
            top: 72px;
          }
        }
    
        .__content-list {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @media screen and (max-width: 1024px){
            display: -webkit-box;
            overflow-x: auto;
            &::-webkit-scrollbar {
              width: 0px;
              height: 0px;
              background-color: transparent;
            }
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: transparent;
            }
          }
          .item {
            width: 130px;
            // height: 81px;
            &.margin-space {
              margin-right: 30px;
            }
            @media screen and (max-width: 767.98px) {
              width: 81px;
              margin-right: 46px;
              // height: 49px;
              &:not(:last-child) {
                padding-bottom: 1.875rem;
              }
            }
            .__image {
              border-radius: 6px;
              overflow: hidden;
              img {
                width: 100%;
                height: 81px;
                object-fit: cover;
                @media screen and (max-width: 767.98px) {
                  height: 49px;
                }
                &.front {
                  z-index: 2;
                }
              }
            }
          }
          .item--coming {
            @media screen and (max-width: 767.98px) {
              &:not(:last-child) {
                padding-bottom: 1.875rem;
              }
            }
            .__image {
              background: #f0f0f0;
              border: 2px dashed #8d8d8d;
              box-sizing: border-box;
              border-radius: 6px;
              width: 130px;
              height: 81px;
              @media screen and (max-width: 767.98px) {
                width: 81px;
                height: 49px;
              }
              .img-fluid {
                width: 28px;
                @media screen and (max-width: 767.98px) {
                  width: 20px;
                }
              }
            }
          }
    
          .__milestone {
            margin-top: 20px;
            @media screen and (max-width: 767.98px) {
              margin-top: 15px;
            }
            .__milestone-checkmark {
              z-index: 2;
              border-radius: 50%;
              min-width: 18px;
              min-height: 18px;
              background: #e2e2e2;
              i {
                color: #8d8d8d;
                font-size: 10px;
              }
    
              &.active {
                background: #0d0d0d;
                i {
                  color: #fff;
                }
              }
            }
    
            .__milestone-title {
              margin-top: 10px;
              margin-bottom: 0rem;
              font-weight: 500;
              font-size: 12px;
              line-height: 1.5rem;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #0d0d0d;
              text-align: center;
              @media screen and (max-width: 767.98px) {
                font-size: 9px;
                line-height: 1rem;
              }
            }
    
            .__milestone-month {
              margin: 0;
              font-size: 0.875rem;
              line-height: 1.5rem;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #0d0d0d;
    
              @media screen and (max-width: 1440px) {
                font-size: 0.65rem;
              }
              @media screen and (max-width: 767.98px) {
                font-size: 7px;
                line-height: 0.5rem;
              }
            }
          }
        }
      }
    }
    

    .div-subscription-detail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 90px;
      &.none-text {
        margin-top: 0px;
      }
      @media screen and (max-width: 768px){
        align-items: center;
        margin-top: 40px;
      }
      .title-subscription {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;

      }
      .description-none {
        margin-top: 26px;
        margin-bottom: 70px;
        font-size: 16px;
        color: #0D0D0D;
        @media screen and (max-width: 1080px){
          text-align: center;
        }
      }
      .div-button-dark {
        >a {
          background: #0D0D0D;
          border: 0.75px solid #0D0D0D;
          border-radius: 6px;
          font-size: 13.5px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
          height: 43px;
          padding: 0px 2rem;
          text-decoration: none;
          line-height: 43px;
          display: inline-block;
          -webkit-appearance: initial;
        }
      }
      >hr {
        margin: 20px 0px 50px 0px;
        width: 83%;
        height: 1px;
        background: #E2E2E2;
        @media screen and (max-width: 768px){
          margin: 20px 0px 30px 0px;
          width: 100%;
        }
      }
      .info {
        margin-top: 34px;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
        @media screen and (max-width: 768px){
          width: 100%;
        }
        .info-item {
          min-width: 160px;
          display: flex;
          flex-direction: column;
          padding-left: 0px;
          padding-right: 0px;
          @media screen and (max-width: 768px){
            align-items: center;
            margin-bottom: 30px;
          }
          >span:nth-child(1) {
            font-style: italic;
            font-size: 12px;
            line-height: 14px;
            color: #8D8D8D;
          }
          >span:nth-child(2) {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #0D0D0D;
            margin-top: 10px;
          }
        }
      }
      .div-update-payment {
        width: 87%;
        display:flex;
        align-items: center;
        margin-top: 20px;
      }
      .info-personal {
        width: 87%;
        @media screen and (max-width: 768px){
          width: 100%;
        }
        .input-account-detail {
          >span {
            font-size: 12px !important;
          }
          >input {
            font-size: 12px !important;
            border-bottom: 1px solid #8D8D8D;
          }
        }
      }
      .div-button {
        margin-top: 64px;
        @media screen and (max-width: 768px){
          margin-top: 40px;
          display: flex;
          flex-direction: column;
        }
        >button {
          font-size: 13.5px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #0D0D0D;
          border: 0.75px solid #0D0D0D;
          border-radius: 6px;
          padding: 0rem 2rem;
          height: 43px;
          background: transparent;
          @media screen and (max-width: 768px){
            width: 203px;
          }
        }
        .bg-background {
          background: #0D0D0D;
          color: #ffffff;
          text-transform: uppercase;
          margin-left: 37px;
          @media screen and (max-width: 768px){
            margin-top: 40px;
            margin-left: unset;
          }
        }
      }
    }

    .div-persionality-quiz {
      display: flex;
      flex-direction: column;
      margin-top: 63px;
      width: 87%;
      @media screen and (max-width: 1080px){
        width: 100%;
        align-items: center;
        margin-top: 40px;
      }
      .title-quiz {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
      }
      .div-outcome-quiz {
        margin-top: 33px;
        margin-bottom: 63px;
        align-items: flex-end;
        .div-image {
          display: flex;
          flex-direction: row;
          >img {
            width: 18px;
            margin-right: 5px;
          }
          .span-text {
            font-family: Playfair Display;
            font-size: 24px;
            @media screen and (max-width: 1080px){
              font-size: 20px;
            }
          }
          @media screen and (max-width: 1080px){
            align-items: center;
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            justify-content: center;
          }
        }
        .row {
          margin-left: 0px;
          margin-right: 0px;
        }
        .col {
          padding-left: 0px;
          padding-right: 0px;
        }
        >img {
          width: 240px;
        }
        .div-change-quiz {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          @media screen and (max-width: 1080px){
            align-items: center;
            display: flex;
            flex-direction: column;
          }
          >span {
            font-style: italic;
            font-size: 12px;
            color: #8D8D8D;
          }
          >button {
            font-size: 13.5px;
            letter-spacing: 0.2em;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #0D0D0D;
            padding: 0px;
            background: transparent;
            border: none;
            font-weight: 500;
          }
        }
      }
      .div-button {
        >button {
          font-size: 13.5px;
          line-height: 16px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          font-weight: 500;
          color: #FFFFFF;
          height: 43px;
          background: #0D0D0D;
          border-radius: 6px;
          padding: 0px 2rem;
          border: none;
        }
      }
    }
  }
}

.div-modal-unsubcription {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 99;
  .div-background {
    position: absolute;
    background:rgba($color: #000000, $alpha: 0.7);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .div-body-modal {
    width: 534px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 1;
    @media screen and (max-width: 768px){
      width: calc(100vw - 32px);
    }
    .button-close {
      background: transparent;
      border: none;
      position: absolute;
      top: 16px;
      right: 16px;
      >img {
        width: 16px;
      }
    }
    .div-content-modal {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      .div-header {
        font-family: Playfair Display;
        font-size: 32px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 40px;
        @media screen and (max-width: 768px){
          font-size: 21px;
        }
      }
      .div-content {
        margin: 60px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 768px){
          margin: 40px 10px;
        }
        .div-text {
          font-size: 16px;
          text-align: center;
          color: #0D0D0D;
          @media screen and (max-width: 768px){
            font-size: 12px;
          }
        }
        .title-ceo {
          font-style: italic;
          font-size: 12px;
          color: #8D8D8D;
          @media screen and (max-width: 768px){
            font-size: 9px;
          }
        }
        .title-name {
          font-weight: 500;
          font-size: 12px;
          text-align: center;
          color: #0D0D0D;
          @media screen and (max-width: 768px){
            font-size: 9px;
          }
        }
        
        .header-1 {
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #8D8D8D;
          @media screen and (max-width: 768px){
            font-size: 12px;
          }
        }
      }
      >hr {
        background: #E2E2E2;
        width: 100%;
        margin: 0px;
      }
      .div-footer-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        >span {
          padding: 22px 32px;
          @media screen and (max-width: 768px){
            padding: 16px 20px;
          }
        }
        .button-normal {
          background: #0D0D0D;
          border-radius: 6px;
          font-weight: 500;
          font-size: 13.5px;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #FFFFFF;
          height: 43px;
          width: 210px;
          @media screen and (max-width: 768px){
            font-size: 10px;
            height: 35px;
            width: 160px;
          }
        }
        .button-link {
          margin: 15px 0px;
          font-size: 12px;
          text-decoration: underline;
          color: #8D8D8D;
          background: transparent;
          border: none;
          @media screen and (max-width: 768px){
            font-size: 9px;
          }
        }
      }
    }
  }
}