.div-testimonials-v2 {
  background: #fff;
  padding: 0px 0px 50px 0px;
  width: calc(100vw - 60px * 2);
  position: relative;
  background: #F5ECDC;
  @media screen and (max-width: 1440px) {
    width: calc(100vw - 45px * 2);
    padding: 0px 0px 37.5px 0px;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 15px);
    padding: 0px 0px 15px 0px;
    width: calc(100vw - 15px);
    margin-left: 15px;
  }
  .div-bt-to-top {
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 48px;
    right: -13vw;
    bottom: 40px;
    >button {
      width: 48px;
      height: 48px;
      padding: 0px;
    }
    >span {
      margin-top: 12px;
      font-weight: 500;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #0D0D0D;
    }
  }
  >hr {
    background: #C4C4C4;
    width: 455px;
    margin-bottom: 50px;
    @media screen and (max-width: 1440px) {
      width: 341px;
      margin-bottom: 37.5px;
    }
    @media screen and (max-width: 1024px){
      width: calc(100vw - 30px * 2);
      margin-bottom: 30px;  
    }
  }
  .div-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 27px;
    @media screen and (max-width: 1440px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 1024px) {
      margin-top: 30px;
    }
  }
  
  .slick-slider{
    padding-top: 125px;
    @media screen and (max-width: 1440px) {
      padding-top: 96px;
    }
    @media screen and (max-width: 1024px) {
      padding-top: 0px;
    }
    .slick-dots {
      bottom: 100px;
      @media screen and (max-width: 1440px) {
        bottom: 85px;
      }
      @media screen and (max-width: 1024px) {
        bottom: -25px;
        >li {
          margin: 0px;
          >button::before {
            color: #C4C4C4;
          }
        }
        .slick-active {
          >button::before {
            color: #B79B53;
          }
        }
      }
    }
  }
  .div-testimonials-items {
    padding: 0px 30px 0px 30px;
    @media screen and (max-width: 1024px){
      padding: 0px;
    }
    .header_4 {
      width: 971px;
      margin: auto;
      @media screen and (max-width: 1440px) {
        width: 728px;
      }
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 40px * 2);
      }
      .rich-text {
        >p {
          margin-bottom: 0px;
        }
      }
    }
    .div-image {
      margin-bottom: 30px;
      >img {
        height: 23px;
      }
    }
  }
  .slick-slider .slick-arrow.slick-prev::before {
    width: 36px;
    height: 27px;
    background: url('../image/icon/ic-prev-terminate.svg');
    background-size: contain;
    left: -20px;
  }
  .slick-slider .slick-arrow.slick-next::before {
    width: 36px;
    height: 27px;
    background: url('../image/icon/ic-next-terminate.svg');
    background-size: contain;
    right: -20px;
  }
  .dots-custome-landing {
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0px;
    }
    >ul {
      display: flex;
      height: 57px;
      align-items: center;
      width: 100%;
      margin: 0px;
      padding: 0px;
      justify-content: center;
      @media screen and (max-width: 1440px) {
        height: 45px
      }
      >li {
        width: auto;
        height: 100%;
        margin: 0px 50px;
        @media screen and (max-width: 1440px) {
          margin: 0px 37px;
        }
        >div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .line-active {
            position: absolute;
            bottom: 0px;
            // left: 0px;
            height: 2px;
            width: 0%;
            background-color: #B79B53;
            transition: width 0.2s;
          }
          &:hover {
           .line-active {
            width: 100%;
           } 
          }
          >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .slick-active {
        // >div {
        //   border-bottom: 2px solid #B79B53;
        // }
        >div >.line-active {
          // border-bottom: 2px solid #B79B53;
          width: 100%;
        }
      }
    }
  }
}