.div-testimonials {
  background: #fff;
  padding: 0px 40px 60px 40px;
  width: 65vw;
  position: relative;
  .div-bt-to-top {
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 48px;
    right: -13vw;
    bottom: 40px;
    >button {
      width: 48px;
      height: 48px;
      padding: 0px;
    }
    >span {
      margin-top: 12px;
      font-weight: 500;
      font-size: 10px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #0D0D0D;
    }
  }
  @media screen and (max-width: 1024px){
    width: 100%;
  }
  >hr {
    background: #C4C4C4;
    width: 333px;
    margin-bottom: 52px;
    @media screen and (max-width: 1024px){
      width: 100%;
    }
  }
  .div-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    @media screen and (max-width: 1024px){
      margin-top: 60px;
    }
    >button, >a {
      height: 56px;
      line-height: 56px;
      width: 400px;
      color: #0D0D0D;
      border: 1.5px solid #0D0D0D;
      border-radius: 6px;
      background: transparent;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: 600;
      &:hover {
        text-decoration: none;
        background: #0d0d00;
        color: #ffffff;
        border: none;
      }
      @media screen and (max-width: 1024px){
        width: calc(100vw - 60px);
        height: 46px;
        line-height: 46px;
        font-size: 14px;
      }
      @media screen and (min-width: 1800px){
        font-size: 22px;
        height: 76px;
        line-height: 76px;
        width: 479px;
      }
      &.active {
        background: #0D0D0D;
        border: none;
      }
    }
  }
  
  // .slick-slider{
  //   > button {
  //     visibility: hidden;
  //   }
  // }
  .div-testimonials-items {
    padding: 0px 30px 70px 30px;
    @media screen and (max-width: 1024px){
      padding: 0px;
    }
    .div-text {
      font-size: 24px;
      font-weight: 500;
      @media screen and (max-width: 1024px){
        font-size: 20px;
      }
      @media screen and (min-width: 1800px){
        font-size: 28px;
      }
    }
    .div-image {
      >img {
        width: 150px;
      }
    }
  }
  .slick-slider .slick-arrow.slick-prev::before {
    width: 36px;
    height: 27px;
    background: url('../image/icon/ic-prev-terminate.svg');
    background-size: contain;
    left: -20px;
  }
  .slick-slider .slick-arrow.slick-next::before {
    width: 36px;
    height: 27px;
    background: url('../image/icon/ic-next-terminate.svg');
    background-size: contain;
    right: -20px;
  }
  .dots-custome-landing {
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0px;
    }
    >ul {
      margin: 0px;
      display: flex;
      height: 84px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      >li {
        width: 110px;
        height: 100%;
        margin: 0px 20px;
        >div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          .line-active {
            position: absolute;
            bottom: 0px;
            // left: 0px;
            height: 2px;
            width: 0%;
            background-color: #B79B53;
            transition: width 0.2s;
          }
          &:hover {
           .line-active {
            width: 100%;
           } 
          }
          >img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .slick-active {
        // >div {
        //   border-bottom: 2px solid #B79B53;
        // }
        >div >.line-active {
          // border-bottom: 2px solid #B79B53;
          width: 100%;
          border-radius: 1px;
        }
      }
    }
  }
}