.text-block-about-us {
  width: calc(100vw - 234px * 2);
  margin-top: 130px;
  margin-bottom: 122px;
  background: #B79B53;
  margin-left: auto;
  margin-right: auto;
  padding: 69px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  @media screen and (max-width: 1440px) {
    width: calc(100vw - 234px * 2 * 0.75);
    margin-top: calc(130px * 0.75);
    margin-bottom: calc(122px * 0.75);
    padding: calc(69px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 30px);
    margin-top: 55px;
    margin-bottom: 55px;
    // padding: 26px 17px;
    padding: 55px 15px 24px 15px;
    border-radius: 6px;
  }
  > h1 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    // text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    @media screen and (max-width: 1440px) {
      font-size: calc(32px * 0.75);  
      margin-bottom: calc(30px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
  >div >.rich-text >p {
    // font-family: Playfair Display;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0px;
    font-weight: 300;
    @media screen and (max-width: 1440px) {
      font-size: calc(24px * 0.75);  
      // line-height: calc(56px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      // line-height: 22px;
    }
  }
}