.thankyou {
  padding: 7rem 14.8125rem;
  // margin-top: 227px;
  @media screen and (max-width: 1440px) {
    // margin-top: 170px;
  }
  @media (max-width: 1440px) and (min-width: 1024px) {
    padding: 7rem 8rem;
    // margin-top: 86px;
  }

  @media (max-width: 767.98px) {
    padding: 3rem 0rem;
    // margin-top: 86px;
  }

  a {
    text-decoration: none;
  }

  .order-detail {
    padding-bottom: 11rem;
    border-bottom: 1px solid #c4c4c4;

    @media (max-width: 767.98px) {
      padding-bottom: 4.375rem;
    }

    .order-overview {
      @media (max-width: 767.98px) {
        padding: 0rem 0.8125rem 5.5rem 0.8125rem;
      }

      .__image {
        @media (max-width: 767.98px) {
          height: 2.875rem;
        }
      }

      .__information {
        padding-top: 3.5rem;
        color: #0D0D0D;

        @media (max-width: 767.98px) {
          padding-top: 1.375rem;
        }

        .__information-thankyou {
          font-weight: normal;
          font-size: 2.5rem;

          padding-bottom: 4.625rem;

          @media (max-width: 767.98px) {
            font-size: 1.5rem;
            padding-bottom: 2.5rem;
          }
        }

        .__information-bankTransfer {
          font-weight: normal;
          font-size: 1.375rem;
          line-height: 1.875rem;
          padding-bottom: 4.625rem;
          margin-top: -2rem;

          @media (max-width: 767.98px) {
            font-size: 0.875rem;
            line-height: 1.375;
            padding-bottom: 2.5rem;
            margin-top: 0;
          }

          .transfer-info {
            background-color: #f0f0f0;
            color: #0D0D0D;
            padding: 1.375rem;
            margin: 1.375rem 0;
            border-radius: 15px;

            @media (max-width: 767.98px) {
              padding: 0.875rem;
              margin: 0.875rem 0;
            }

            p {
              margin-bottom: 5px;
            }
          }
        }

        .__information-email {
          font-weight: normal;
          font-size: 1.375rem;
          line-height: 1.875rem;
          padding-bottom: 4.625rem;

          @media (max-width: 767.98px) {
            font-size: 0.875rem;
            padding-bottom: 2.5rem;
          }
        }

        .__information-orderId {
          font-weight: normal;
          font-size: 1.375rem;
          padding-bottom: 4.625rem;

          @media (max-width: 767.98px) {
            font-size: 0.875rem;
            padding-bottom: 3.5rem;
          }
        }
      }

      .__return {
        a {
          font-weight: 600;
          font-size: 1.5rem;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #ffffff;
          background-color: #0D0D0D;
          padding: 1.25rem 2.75rem;
          border-radius: 6px;

          @media (max-width: 767.98px) {
            font-size: 0.875rem;
            padding: 0.875rem 1.5rem;
          }
        }
      }
    }

    .order-summary {
      color: #0D0D0D;
      background-color: #f0f0f0;
      border-radius: 15px;

      .__header {
        padding: 1.75rem 1.625rem;
        font-weight: 600;
        font-size: 1.375rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border-bottom: 1px solid #c4c4c4;
      }

      .__list {
        padding: 0px;
        border-bottom: 1px solid #c4c4c4;

        @media (max-width: 767.98px) {
          padding: 1.5rem 1.625rem 0rem 1.625rem;
        }

        >ul {
          padding-left: 0px;
          margin-bottom: 0px;
          > li {
            list-style-type: none;
              margin-top: 10px;
          }
        }

        .__list-item {
          padding-bottom: 2rem;

          .__item-image {
            height: 5rem;
            overflow: hidden;
            border-radius: 50%;

            @media (max-width: 767.98px) {
              height: 4rem;
            }

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }

          .__item-information {
            @media (max-width: 767.98px) {
              font-size: 0.75rem;
            }
          }

          .__item-price {
            font-weight: 600;
            font-size: 1.25rem;

            @media (max-width: 767.98px) {
              font-size: 0.75rem;
            }
          }
        }
      }

      .__price {
        border-bottom: 1px solid #c4c4c4;
        padding: 1.75rem 1.625rem 0rem 3rem;

        @media (max-width: 767.98px) {
          padding: 1.25rem 1.625rem 0rem 1.625rem;
        }
        .__price-item {
          padding-bottom: 0.875rem;

          .__price-tag {
            font-size: 1.375rem;
            @media (max-width: 767.98px) {
              font-size: 0.75rem;
            }
          }

          .__price-number {
            font-size: 1.25rem;
            @media (max-width: 767.98px) {
              font-size: 0.75rem;
            }
          }
        }
      }

      .__total {
        padding: 1.75rem 1.625rem 2rem 3rem;

        @media (max-width: 767.98px) {
          padding: 1.25rem 1.625rem 1.5rem 1.625rem;
        }

        .__total-tag {
          font-size: 2rem;

          @media (max-width: 767.98px) {
            font-size: 1.125rem;
          }
        }

        .__total-number {
          color: #34c01e;
          font-size: 2rem;

          @media (max-width: 767.98px) {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  .shipping {
    padding: 3rem 0rem;
    color: #0D0D0D;
    border-bottom: 1px solid #c4c4c4;

    h4 {
      font-size: 1.375rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      @media (max-width: 767.98px) {
        text-align: center;
        font-size: 0.875rem;
      }
    }

    .__information {
      font-size: 1.375rem;

      @media (max-width: 767.98px) {
        font-size: 0.875rem;
      }

      .__information-name {
        padding-top: 2.5rem;

        @media (max-width: 767.98px) {
          padding-top: 1.25rem;
          text-align: center;
        }
      }

      .__information-address {
        @media (max-width: 767.98px) {
          text-align: center;
        }
      }
    }
  }

  .continue {
    padding-top: 10rem;

    @media (max-width: 767.98px) {
      padding-top: 3.25rem;
    }
    a {
      font-weight: 600;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #0D0D0D;
      padding: 1.25rem 1rem;
      border-radius: 6px;

      @media (max-width: 767.98px) {
        padding: 1rem 0.75rem;
        font-size: 0.875rem;
      }
    }
  }
}
