.div-write-review-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 227px;
  @media screen and (max-width: 1440px) {
    // margin-top: 170px;
  }
  @media screen and (max-width: 1024px){
    padding: 0px 18px;
    // margin-top: 86px;
  }
  >h3 {
    font-weight: normal;
    font-size: 60.0417px;
    text-align: center;
    color: #0D0D0D;
    margin-bottom: 30px;
    margin-top: 40px;
    @media screen and (max-width: 1024px){
      font-size: 18px;
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }
  .img-done {
    width: 58px;
    height: 58px;
    @media screen and (max-width: 1024px){
      width: 46px;
      height: 46px;
    }
  }
  .text-des {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #152436;
    margin-top: 38px;
    @media screen and (max-width: 1024px){
      font-size: 16px;
    }
  }

  .div-item-history {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 30px;
    @media screen and (max-width: 1024px){
      margin-top: 40px;
      margin-bottom: unset;
      width: 100%;
    }
    .div-body-item {
      display: flex;
      flex-direction: row;
      width: 850px;
      justify-content: space-between;
      @media screen and (max-width: 1024px){
        flex-direction: column;
        width: 100%;
      }
      .div-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding-right: 10%;
        @media screen and (max-width: 1024px){
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0px;
        }
        >h5 {
          font-style: italic;
          font-size: 12px;
          color: #8D8D8D;
          @media screen and (max-width: 1024px){
            width: 100%;
            text-align: center;
            margin-top: 0px;
          }
        }
        .title {
          font-weight: 500;
          font-size: 12px;
          color: #0D0D0D;
          margin-top: 10px;
          @media screen and (max-width: 1024px){
            margin-top: 23px;
            margin-bottom: 13px;
          }
        }
        .div-product {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 10px;
          @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
          }
          >img {
            width: 102px;
            height: 102px;
            object-fit: contain;
            margin-right: 17px;
            cursor: pointer;
            @media screen and (max-width: 1024px){
              width: 84px;
              height: 84px;
            }
          }
          .text-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media screen and (max-width: 1024px){
              margin-top: 15px;
            }
            >span:nth-child(1) {
              font-size: 12px;
              letter-spacing: 0.2em;
              text-transform: uppercase;
              color: #8D8D8D;
              margin-bottom: 5px;
              @media screen and (max-width: 1024px){
                font-size: 8px;
                text-align: center;
              }
            }
            >span:nth-child(2) {
              font-size: 18px;
              line-height: 22px;
              color: #0D0D0D;
              @media screen and (max-width: 1024px){
                font-size: 14px;
              }
            }
          }
        }
      }

      .div-right {
        width: 40%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1024px){
          width: 100%;
          margin-top: 46px;
        }
        .div-star {
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1024px){
            margin-bottom: 22px;
            padding: 0px 31px;
          }
          >span {
            font-weight: 500;
            font-size: 10px;
            color: #0D0D0D;
            margin-bottom: 5px;
            @media screen and (max-width: 1024px){
              text-align: center;
              font-size: 12px;
            }
          }
          .div-list-star {
            width: 189px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;
            @media screen and (max-width: 1024px){
              width: 100%;
            }
            >button {
              background: transparent;
              padding: 0px;
              border: none;
              width: 30px;
              height: 30px;
              @media screen and (max-width: 1024px){
                width: 35px;
                height: 35px;
              }
              >img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
        .checkbox-review {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
    .title {
      font-weight: 500;
      font-size: 12px;
      color: #0D0D0D;
      margin-top: 10px;
    }
    .comment {
      margin: 20px 0px;
      width: 100%;
      height: 130px;
      font-size: 14px;
      border: 0.750521px solid #E2E2E2;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 20px;
      @media screen and (max-width: 1024px) {
        width: 100%;
        border: 0.750521px solid #E2E2E2;
        padding: 30px;
        border-radius: 6px;
        height: 200px;
      }
    }
    .div-list-post-image {
      width: 100%;
      display: flex;
      @media screen and (max-width: 1024px) {
        justify-content: center;
      }
      .img-up {
        width: 69px;
        height: 73px;
        object-fit: contain;
        object-position: center;
        margin-right: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 1024px) {
          width: 73px;
          height: 69px;
        }
      }
      .div-upload-image {
        @media screen and (max-width: 1024px) {
          display: flex;
          justify-content: center;
        }
        >span {
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 0.05em;
          color: #0D0D0D;
        }
        >section {
          width: 72px;
          height: 72px;
          cursor: pointer;
          @media screen and (max-width: 1024px) {
            width: 72px;
            height: 72px;
          }
          >div {
            width: 100%;
            height: 100%;
            background: #ffffff;
            border: 1px dashed #8D8D8D;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            >img {
              height: 24px;
              @media screen and (max-width: 1024px) {
                height: 24px;
              }
            }
            >span {
              text-align: center;
              color: #8D8D8D;
              font-size: 8px;
              @media screen and (max-width: 1024px) {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
    
    .button-submit {
      margin-bottom: 109px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
      }
      >button {
        background: #0D0D0D;
        border: 0.75px solid #0D0D0D;
        border-radius: 6px;
        border: none;
        width: 206px;
        height: 43px;
        font-size: 13.5px;
        line-height: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .bg-whilte {
        border: 2px solid #0D0D0D;
        box-sizing: border-box;
        border-radius: 6px;
        background: #ffffff;
        color: #0D0D0D;
      }
      >button:nth-child(2) {
        margin-left: 50px;
        @media screen and (max-width: 1024px) {
          margin-left: 0px;
          margin-top: 28px;
        }
      }
    }
  }
}