.div-your-perfume {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #0D0D0D;
  height: calc(100vh - 70px);
  width: 450px;
  @media screen and (max-width: 767.9px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 66%;
    padding: 0px 0px;
  }
  >h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    margin-top: 68px;
    @media screen and (max-width: 767.9px) {
      margin-top: 20px;
      font-size: 24px;
      line-height: 26px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-top: 80px;
      font-size: 28px;
    }
  }
  .subtitle {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 14px;
    }
    @media screen and (max-width: 767.9px) {
      font-size: 10px;
    }
  }
  .div-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .div-button, .div-bt-next {
      margin-bottom: 80px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        display: flex;
        justify-content: center;
        >button {
          width: 100% !important;
          height: 70px;
          font-size: 18px;
        }
      }
      @media screen and (max-width: 767.9px) {
        margin-bottom: 25vh;
      }
    }
  }
  .div-search {
    // margin-top: 120px;
    border: 3px solid #0D0D0D;
    border-radius: 6px;
    width: 100%;
    @media screen and (max-width: 600px) {
      margin-top: -30px;
    }
    @media screen and (min-width: 768.1px) and (max-width: 1024px) {
      width: 612px;
      margin-top: 44px;
    }
    .div-input-search {
      display: flex;
      height: 50px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      border-bottom: 1px solid #E2E2E2;
      background: #ffffff;
      @media screen and (max-width: 767.9px) {
        font-size: 16px;
        height: 45px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        height: 70px;
        font-size: 18px;
      }
      >input {
        border: none;
        width: 100%;
        background: transparent;
        ::placeholder {
          color:'#8D8D8D';
        }
        @media screen and (max-width: 600px) {
          font-size: 16px;
        }
      }
      >button {
        .animate-loading {
          animation: animation-roate-360 1s infinite linear;
        }
        >img {
          width: 24px;
          height: 24px;
          @media screen and (max-width: 600px) {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .div-result {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      border-bottom: 1px solid #E2E2E2;
      padding: 0px 20px;
      background: #ffffff;
      .div-name {
        display: flex;
        flex-direction: column;
        >span {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 16px;
          margin-top: 5px;;
        }
        >h6 {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          margin: 0px;
        }
        .item-perfume {
          margin: 0px !important;
          padding: 0px !important;
          @media screen and (max-width: 600px) {
            font-size: 10px;
          }
        }
      }
      >button {
        >img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .div-list-perfume {
      width: 100%;
      height: 195px;
      overflow-y: auto;
      @media screen and (max-width: 600px) {
        height: 125px;
      }
      &.hidden{
        visibility: hidden;
        height: 0px;
      }
    }
  }
  .item-perfume {
    height: 65px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    margin: 5px 0px;
    background: #ffffff;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      height: 50px;
    }
    >img {
      height: 40px;
      @media screen and (max-width: 600px) {
        height: 30px;
      }
    }
    >span {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
    }
  }
  .div-bt-next {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0px !important;
    margin-top: 20px;
    @media screen and (max-width: 767.9px) {
      position: relative;
      margin-top: 40px;
      bottom: 0px;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-top: 48px;
    }
    > button {
      background: #ffffff !important;
      color: #0D0D0D !important;
      border: 1px solid #0D0D0D !important;
    }
    
  }
  .div-button {
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
    
    @media screen and (max-width: 600px) {
      bottom: 130px;
      position: relative;
      margin-top: 40px;
      bottom: 0px;
    }
    >button {
      width: 190px !important;
      height: 50px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 600;
      @media screen and (min-width: 768.1px) and (max-width: 1024px) {
        width: 400px !important;
        height: 72px;
        font-size: 18px;
      }
    }
    .bt-1 {
      border: none;
      background: #0D0D0D;
      color: #ffffff;
      width: 100%;
      padding: 10px 0px;
      border-radius: 6px;
    }
    .bt-2 {
      border: 1px solid #0D0D0D;
      background: #ffffff;
      color: #0D0D0D;
      width: 100%;
      padding: 10px 0px;
      border-radius: 6px;
    }
    .line-or {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .line {
        flex: 1;
        height: 1px;
        background: '#E2E2E2';
      }
      >span {
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0D0D0D;
        padding: 5px 10px;
      }
    }
  }
}