.review-press {
  padding-top: 5.5rem;
  background-color: #fff;
  padding-bottom: 5rem;

  .__title {
    color: #0D0D0D;

    h3 {
      font-size: 4.5rem;

      @media (max-width: 767.98px) {
        font-size: 2.25rem;
      }
    }

    p {
      text-align: center;
      font-size: 1.375rem;
      padding-top: 1rem;

      @media (max-width: 767.98px) {
        font-size: 0.875rem;
      }
    }
  }

  .press-slider {
    color: #0D0D0D;
    padding-top: 4rem;

    @media (max-width: 767.98px) {
      padding-top: 2rem;
    }

    .slick-dots {
      bottom: -5.5rem;

      li {
        width: 2.25rem;
        button::before {
          font-size: 0.875rem;
        }
      }
    }

    .__item {
      background-color: #fff;
      overflow: hidden;
      margin: 0rem 4.5rem;

      @media (max-width: 1440px) {
        margin: 0rem 2rem;
      }

      .quote {
        @media (max-width: 767.98px) {
          padding-top: 3rem;
        }

        p {
          font-size: 1.2rem;
          text-align: center;
          color: #000000;

          @media (max-width: 767.98px) {
            font-size: 1rem;
          }
        }
      }

      .logo {
        height: 3rem;

        // @media (max-width: 767.98px) {
        //   height: 1.875rem;
        // }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .__quote {
      @media (max-width: 767.98px) {
        padding-top: 3rem;
      }

      p {
        font-size: 1.2rem;
        text-align: center;
        color: #000000;
        @media (max-width: 767.98px) {
          font-size: 1rem;
          padding: 0rem 2.75rem;
        }
      }
    }
  }
}
