@import '../../styles/colors';

.number-header {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  &.disabled {
    .number-text {
      background: $Primary-80;
    }
    .body-text-s-regular {
      color: $Primary-80;
    }
  }
  .number-text {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $Secondary-60;
    color: $Primary-10;
    line-height: 32px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    @media screen and (max-width: 1024px) {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-right: 8px;
    }
  }
  .body-text-s-regular {
    color: $Secondary-60;
  }
}