.div-expand-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #E2E2E2;
  &.close-expand {
    .div-content-expand-card {
      height: 0px;
      transition: all 0.2s;
      * {
        visibility: hidden;
      }
    }
  }
  &.open-expand {
    .div-content-expand-card {
      height: auto;
      transition: all 0.2s;
      * {
        visibility: visible;
      }
    }
  }
  .div-header-expand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    .div-promo-apply {
      width: 100%;
      height: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      >span {
        font-weight: 500;
        font-size: 16px;
        color: #0D0D0D;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }
      >button {
        margin-left: 13px;
        >img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .div-left-gift {
      .title {
        font-weight: 600;
        color: #0D0D0D;
        font-size: 20px;
        text-transform: uppercase;
      }
      .text-green {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: #34C01E;
      }
    }
    >span {
      font-weight: normal;
      color: #0D0D0D;
      font-size: 16px;
      text-transform: uppercase;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        text-transform: unset;
      }
    }
    >button {
      padding: 8px 0px 8px 8px;
      color: #0D0D0D;
      border: none;
      background: transparent;
    }
  }
  .div-content-expand-card {
    width: 100%;
    .div-promo {
      .group {
        width: 100%;
        margin-top: 0px;
        position: relative;
        .icon-show {
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
          width: 20px;
          position: absolute;
        }
        >input {
          &:focus {
            border: 2px solid #B79B53;
            padding-top: 18px;
          }
        }
        .error {
          border: 2px solid #EB5757;
        }
        .success {
          border: 2px solid #4CD964;
        }
        .input-text-bottom {
          padding-top: 18px;
        }
        .label-material {
          padding-bottom: 0px;
          padding-left: 15px;
          margin-bottom: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
        .has-text, .input-material:focus ~ label {
          top: 12px;
          font-size: 10px;
          color: #545454;
        }
      }
      
      >button {
        margin-left: 20px;
        height: 46px;
        padding: 0px 25px;
        background:#0D0D0D;
        border: none;
        color: #ffffff;
        border-radius: 4px;
        font-size: 16px;
        &.disabled {
          background:#C8C8C8;
          
        }
      }
    }
  }
}