.about-event {
  position: relative;
  z-index: 1;
  padding: 4.5rem 38rem;
  @media (max-width: 1440px) {
    padding: 3.375rem 28.5rem;
  }

  @media (max-width: 767.98px) {
    padding: 8.375rem 2.25rem;
  }

  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #fff;
    letter-spacing: 0.2em;

    @media (max-width: 1440px) {
      font-size: 1.25rem;
    }
  }

  p {
    padding: 2.5rem 0rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.1em;
    color: #fff;

    @media (max-width: 1440px) {
      font-size: 0.875rem;
    }

    @media (max-width: 767.98px) {
      padding-top: 1.125rem;
      padding-bottom: 3.5rem;
      font-size: 0.875rem;
    }
  }

  a {
    padding: 1.5rem 4rem;
    font-weight: 600;
    font-size: 1.375rem;
    letter-spacing: 0.2em;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: #ffffff;
    background: #0d0d0d;
    border-radius: 6px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;

    &:hover {
      text-decoration: none;
      background: #fff;
      color: #0d0d0d;
    }

    @media (max-width: 767.98px) {
      padding: 1rem 1.125rem;
    }
  }
}

.about-features {
  padding: 3.5rem 10rem;

  @media (max-width: 1440px) {
    padding: 2.625rem 7.5rem;
  }

  @media (max-width: 767.98px) {
    padding: 2.75rem 3.75rem;
  }

  .__item {
    @media (max-width: 767.98px) {
      padding-top: 3.75rem;
    }

    .__item-title {
      padding-top: 1.875rem;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 2.375rem;
      letter-spacing: 0.1em;

      color: #ffffff;

      @media (max-width: 767.98px) {
        padding-top: 1rem;
      }
    }
  }
}
