.wear-perfume {
  display: flex;
  flex-direction: column;
  align-items: center;
  .item-wear-perfume {
    width: 605px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 0px 20px;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 40px);
      margin-bottom: 17px;
      justify-content: flex-start;
    }
    &.active {
      background: #333333;
      .des-1, .des-2 {
        color: #FFFFFF;
      }
      .div-checkbox {
        .checkbox {
          border: none;
          background: #fff;
          >img {
            visibility: visible;
          }
        }
      }
    }
    .des-1 {
      font-size: 0.875rem;
      font-weight: 400;
      letter-spacing: 0.2em;
      color: #000000;
      text-transform: uppercase;
      @media screen and (max-width: 1440px) {
        font-size: 1rem;
      }
    }
    .des-2 {
      font-size: 0.875rem;
      letter-spacing: 0.05em;
      color: #333333;
      @media screen and (max-width: 1440px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 0.85714rem;
      }
    }
    .div-checkbox {
      display: flex;
      width: fit-content;
      align-items: center;
      .checkbox {
        width: 34px;
        height: 34px;
        margin-right: 15px;
        display: flex;
        border: 1px solid #666666;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        >img {
          width: 14px;
          visibility: hidden;
        }
      }
    }
    .des {
      display: flex;
      flex-direction: column;
    }
  }
}