.what-trending-section {
  border: 1px solid #0d0d0d;
  padding: 1.5rem 2rem;
  @media screen and (max-width: 1024px) {
   display: none;
  }
  .title-center {
    font-size: 22px;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .article {
    padding: 2rem 1rem 1rem;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    &:first-of-type {
      padding: 1rem 1rem 1rem;
    }
    &:last-child {
      border-bottom: none;
    }
    .image-article {
      width: 100%;
      overflow: hidden;
      position: relative;
      .image {
        float: left;
        position: relative;
        width: 100%;
        padding-bottom: 64%; /* = width for a 1:1 aspect ratio */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
      }
    }
    .info-article {
      .info-title {
        display: flex;
        justify-content: center;
        margin: 8px 0;
        font-size: 10px;
        .cat {
          font-weight: 500;
          color: #0d0d0d;
          a{
            color: #0d0d0d;
            text-transform: uppercase;
            &:hover{
              opacity: 0.7;
              text-decoration: none;
            }
          }
        }
      }
      .title {
        margin-top: 8px;
        font-size: 14px;
        color: #0d0d0d;
        text-align: center;
        display: inherit;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
