.subscribe-mail-section {
  border: 1px solid #0d0d0d;
  margin: 1.5rem 0;
  @media screen and (max-width: 1024px) {
    border: none;
    margin: 0rem -15px;
    position: relative;
  }
  .image-sc {
    width: 100%;
    overflow: hidden;
    position: relative;
    .image {
      float: left;
      position: relative;
      width: 100%;
      padding-bottom: 69%; /* = width for a 1:1 aspect ratio */
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (max-width: 1024px) {
        padding-bottom: 69%;
        min-height: 452px;
      }
    }
  }
  .info-sc-mail {
    padding: 2rem 1rem;
    @media screen and (max-width: 1024px) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      margin: 0 3rem;
      background: #ffffff;
      padding: 2;
      text-align: center;
      h4 {
        font-size: 22px;
        letter-spacing: 0.1em;
      }
    }
    .title {
      font-size: 14px;
      margin: 0;
      @media screen and (max-width: 1024px) {
        padding: 1rem 0;
      }
    }
    .ip-sc {
      margin-top: 1.7rem;
      display: flex;
      flex-wrap: nowrap;
      @media screen and (max-width: 1024px) {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
      }
      input {
        padding: 1rem 0.8em;
        font-size: 14px;
        border: 1px solid #8d8d8d;
        width: 100%;
        flex-grow: 1;
        border-radius: 4.5px 0 0 4.5px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          border-radius: 4px;
          padding: 14px;
        }
      }
      .sc-btn {
        font-size: 13px;
        font-weight: bold;
        background: #0d0d0d;
        color: #ffff;
        padding: 1rem 0.8em;
        border: 1px solid #0d0d0d;
        border-radius: 0 4.5px 4.5px 0;
        transition: 0.2s;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        flex-grow: 1;
        &:hover {
          opacity: 0.8;
        }
        @media screen and (max-width: 1024px) {
          letter-spacing: 0.3em;
          width: 80%;
          font-weight: 500;
          border-radius: 4px;
          padding: 14px;
          margin-top: 1.4rem;
        }
      }
    }
  }
}
