.b2b-partnership {
  margin-top: 227px;
  @media (max-width: 1440px) {
    margin-top: 170px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
  }
  .consult-form {
    padding: 0 30%;
    margin-bottom: 50px;
    @media screen and (max-width: 1440px) {
      padding: 0 30%;
      margin-bottom: 37.5px;
    }
    @media screen and (max-width: 767.98px) {
      padding: 0 0.5rem;
      margin-bottom: 30px;
    }
    h3.title {
      margin-bottom: 50px;
      letter-spacing: 0.02em;
      font-size: 36px;
      line-height: 52px;
      @media screen and (max-width: 1440px) {
        font-size: calc(36px * 0.75);
        line-height: calc(52px * 0.75);
        margin-bottom: calc(50px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 30px;
      }
    }
    .divider {
      height: 1px;
      background: #e2e2e2;
      margin-bottom: 2rem;
    }
    .form-group {
      margin-bottom: 14px;
      padding: 0 8px;
      @media screen and (max-width: 1440px) {
        margin-bottom: calc(14px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 19px;
      }
      label {
        color: #8d8d8d;
      }
      .form-control:focus {
        border-color: none;
      }
      .b2b-select {
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        background: #fff;
        height: 46px;
        @media screen and (max-width: 1440px) {
          height: 40px;
        }
        @media screen and (max-width: 1024px) {
          height: 45px;
        }
        &.--error {
          border: 1px solid red;
        }
      }
    }
    
    .input-text {
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 7px 12px 7px 12px;
      border: 1px solid #D9D9D9;
      border-radius: 6px;
      background: #fff;
      height: 46px;
      font-size: 14px;
      @media screen and (max-width: 1440px) {
        height: 40px;
        font-size: 11px;
      }
      @media screen and (max-width: 1024px) {
        height: 45px;
        font-size: 14px;
      }
      &::placeholder {
        color: #8d8d8d;
      }
      &.--error {
        border: 1px solid red;
      }
      &.text-area {
        height: 174px;
        @media screen and (max-width: 1440px) {
          height: calc(174px * 0.75);
        }
        @media screen and (max-width: 1440px) {
          height: calc(174px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          height: 253px;
        }
      }
    }
    .input-select {
      padding: 0px;
      .css-yk16xz-control {
        height: 100%;
        .css-g1d714-ValueContainer {
          height: 100%;
        }
      }
      >div {
        border: none;
        padding: 0px;
        box-shadow: none;
        .css-1hb7zxy-IndicatorsContainer {
          .css-1okebmr-indicatorSeparator {
            display: none;
          }
        }
      }
    }
    .btn-submit {
      background: #0d0d0d;
      border: none;
      text-transform: uppercase;
      margin-bottom: 50px;
      margin-top: 50px;
      width: 223px;
      height: 42px;
      font-size: 13px;
      letter-spacing: 0.15em;
      border-radius: 0px;
      @media screen and (max-width: 1440px) {
        width: 167px;
        height: 31.2px;
        font-size: 9.75px;
        margin-bottom: 37.5px;
        margin-top: 37.5px;
      }
      @media screen and (max-width: 1024px) {
        width: 223px;
        height: 42px;
        font-size: 13px;
      }
    }
    .content-section {
      color: #0D0D0D;
      display: flex;
      flex-direction:column;
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      align-items: center;
      text-align: center;

      @media screen and (max-width: 1440px) {
        font-size: calc(16px * 0.75);
        line-height: calc(23px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
  .form-control:focus {
    box-shadow: none !important;
  }
}
