.product-detail-like-v3 {
  padding-top: 88px;
  padding-bottom: 64px;
  width: 100%;
  align-items: center;
  background: #F5ECDC;
  @media screen and (max-width: 991px) {
    padding-bottom: 0px;
  }
  .header {
    margin-bottom: 76px;
    .header-text {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #2C2C22;
      @media screen and (max-width: 767px) {
        font-size: 36px;
      }
    }
  }
  .list-item-like {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 36px;
    grid-row-gap: 64px;
    width: fit-content;
    @media screen and (max-width: 991px) {
      grid-template-columns: auto auto;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: auto;
      grid-row-gap: 36px;
    }
  }
}