.div-add-customization {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .div-header-customization {
    display: flex;
    flex-direction: row;
    align-items: center;
    >button {
      background: transparent;
      border: none;
    }
    .div-text-header {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 40px;
      @media screen and (max-width: 1024px) {
        padding-left: 30px;
      }
      .line-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >h3 {
          font-size: 38px;
          display: flex;
          color: #0D0D0D;
          margin: 0px;
          @media screen and (max-width: 1024px) {
            font-size: 24px;
          }
        }
      }
      >span {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #8D8D8D;
        margin-top: 10px;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
      }
    }
  }

  .div-scroll-customization {
    margin-top: 50px;
    margin-right: -40px;
    flex: 1;
    overflow-y: auto;
    
    @media screen and (max-width: 1024px) {
      margin-top: 24px;
      margin-right: -10px;
      flex: unset;
      height: 200px;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #E2E2E2;
      border-radius: 33px;
    }
    &::-webkit-scrollbar-thumb {
      background-color :#0D0D0D;
      border-radius: 33px;
    }
    .div-wrap-text-color {
      display: flex;
      flex-direction: column;
      .sp-text {
        font-size: 14px;
        color: #0D0D0D;
        margin-top: 10px;
      }
      .div-text-color {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        width: 95%;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          width: 100%;
          padding-right: 10px;
        }
        .drop-down-item {
          display: flex;
          padding: 10px 0px 10px 20px;
          border-bottom: 1px solid;
          align-items: center;
          cursor: pointer;
          >span {
            font-size: 18px;
          }
          &.none-border {
            border: none;
            padding: 0px;
          }
          .div-square {
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border-radius: 6px;
            background: #ffffff;
            border: 1px solid #000000;
            &.black {
              background: #000000;
              border: 1px solid #000000;
            }
          }
        }
        .dropdown-menu {
          transform: translate3d(0px, 56px, 0px) !important;
          top: 0px !important;
          width: 100% !important;
          padding-bottom: 0px;
          padding-top: 0px;
          border: 1px solid;
        }
        .div-text {
          width: 48%;
          @media screen and(max-width: 1024px){
            width: 100%;
            padding: 0px;
          }
          >span {
            font-size: 16px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #0D0D0D;
            margin-bottom: 10px;
          }
          .div-input {
            margin-top: 10px;
            @media screen and(max-width: 1024px){
              width: 100%;
            }
            >.div-input-text {
              width: 100%;
              height: 56px;
              display: flex;
              flex-direction: row;
              align-items: center;
              border: 1px solid;
              margin-top: 60px #0D0D0D;
              border-radius: 6px;
              color: #0D0D0D;
              >input {
                width: 80%;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;
                color: #0D0D0D;
                background: transparent;
                border: none;
                font-size: 18px;
              }
              >span {
                width: 20%;
                text-align: center;
                color: #0D0D0D;
                font-size: 16px;
              }
            }
          }
        }
        .div-color {
          width: 48%;
          @media screen and(max-width: 1024px){
            width: 100%;
            padding: 0px;
            margin-top: 20px;
          }
          >span {
            font-size: 16px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #0D0D0D;
          }
        }
      }
    }

    .div-pre-make-design {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      >span {
        font-weight: normal;
        font-size: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #0D0D0D;
        margin-bottom: 10px;
      }
      .div-slider-scent {
        .div-slider-item {
          >button {
            width: 95px;
            height: 95px;
            background: transparent;
            border: none;
            padding: 0px;
            margin-right: 26px;
            margin-bottom: 30px;
            @media screen and (max-width: 1024px) {
              width: 65px;
              height: 65px;
              margin-right: 8px;
              margin-bottom: 9px;
            }
            .div-scent {
              width: 100%;
              height: 100%;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              .selected {
                opacity: 0.7;
              }
              .scent {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 26px;
                @media screen and (max-width: 1024px) {
                  border-radius: 21px;
                }
              }
              .ic-checked {
                position: absolute;
                z-index: 1;
                width: 50%;
                height: 50%;
              }
            }
          }
        }
      }
    }

    .div-upload-image {
      margin-top: 50px;
      >span {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #0D0D0D;
      }
      >section {
        width: 162px;
        height: 162px;
        cursor: pointer;
        margin-top: 12px;
        @media screen and (max-width: 1024px) {
          width: 130px;
          height: 130px;
        }
        >div {
          width: 100%;
          height: 100%;
          background: #F0F0F0;
          border: 1px dashed #8D8D8D;
          border-radius: 6px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          >img {
            @media screen and (max-width: 1024px) {
              height: 45px;
            }
          }
          >span {
            text-align: center;
            padding: 0px 10px;
            color: #8D8D8D;
            font-size: 14px;
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      margin-bottom: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text-left {
      margin-top: 21px;
      display: flex;
      flex-direction: column;
     
    }
    .div-bt-right {
      margin-top: 21px;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      .disable {
        background: #8D8D8D !important;
        cursor: not-allowed;
      }
      >button {
        width: 169px;
        height: 76px;
        border-radius: 6px;
        border: none;
        @media screen and (max-width: 1024px) {
          height: 44px;
          width: 120px;
        }
      }
      .bt-cancel {
        border: 2px solid #0D0D0D;
        font-size: 24px;
        letter-spacing: 0.2em;
        color: #0D0D0D;
        background: #fff;
        @media screen and (max-width: 1024px) {
          font-size: 18px;
          border: 1px solid #0D0D0D;
        }
      }
      .bt-apply {
        font-size: 24px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        background: #0D0D0D;
        margin-left: 24px;
        @media screen and (max-width: 1024px) {
          font-size: 18px;
          border: 1px solid #0D0D0D;
        }
      }
    }
  }
}