.div-pick-ingredient {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &.pick-ingredients-product-detail-v2 {
    .title-header {
      font-weight: normal;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      color: #2C2C22;
    }
    .div-filter-search {
      .search-scent-detail-v2 {
        .div-filter {
          .dropdown-filter-product {
            .bt-fillter {
              border: 1px solid #2C2C22;
            }
            .dropdown-menu {
              background: #FFF4E0;
              border-radius: 10px;
              padding: 0px;
              .dropdown-item-filter {
                border-bottom: 1px solid #D4C2A6;
                padding: 8px 10px;
                >span {
                  font-size: 14px;
                  line-height: 24px;
                  color: #2C2C22;
                }
              }
              .dropdown-item-filter:last-child {
                border-bottom: none;
              }
            }
          }
        }
        .div-search {
          flex: 1;
          margin-left: 12px;
          height: 39px;
          border-radius: 30px;
          border: 1px solid #D4C2A6;
          background: #F1E4CD;
          padding: 0px 24px;
          >input {
            font-size: 14px;
            line-height: 24px;
            color: #2c2c2c;
            width: 100%;
            &::placeholder {
              color: #8D826E;
            }
          }
        }
      }
    }
  }

  .div-header-ingredient {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: -25px;
    >button {
      background: transparent;
      border: none;
    }
    .div-text-header {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      >h3 {
        font-size: 25px;
        line-height: 27px;
        display: flex;
        color: #0D0D0D;
        margin: 0px;
        @media screen and (max-width: 1440px) {
          font-size: calc(25px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 21px;
          font-weight: 300;
        }
      }
      .line-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >span {
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #8D8D8D;
          margin-top: 10px;
          @media screen and (max-width: 1024px) {
            font-size: 12px;
          }
        }
      }
      
    }
    .div-filter-search {
      display: flex;
      align-items: center;
    }
  }
  .div-scroll-ingredient {
    margin-top: 22px;
    margin-right: -40px;
    flex: 1;
    overflow-y: auto;
    @media screen and (max-width: 1440px) {
      margin-top: calc(22px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      margin-right: 0px;
      margin-top: 28px;
      height: 200px;
      flex: unset;
      &.small-height {
        height: 170px;
      }
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #E2E2E2;
      border-radius: 33px;
    }
    &::-webkit-scrollbar-thumb {
      background-color :#0D0D0D;
      border-radius: 33px;
    }
    &.ingredient-mini-mobile {
      height: calc(100vh - 170px) !important;
    }
    .recommend-scent-mobile {
      align-items: center;
      margin-bottom: 20px;
      &.recommend-v2 {
        align-items: flex-start;
        margin-top: 40px;
        >h4 {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #2C2C22;
          margin-bottom: 33px;
          text-decoration: capitalize;
        }
        .scent-recommend {
          justify-content: flex-start;
          .item-recommend {
            width: 80px;
            height: 80px;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 8px;
            >img {
              border-radius: 0px;
            }
          }
        }
      }
      >h4 {
        font-weight: 500;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #0D0D0D;
        margin-bottom: 20px;
      }
      .scent-recommend {
        width: 100%;
        justify-content: space-around;
        .item-recommend {
          width: calc(100vw * 0.26);
          height: calc(100vw * 0.26);
          position: relative;
          >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 32px;
          }
          >button {
            position: absolute;
            padding: 0px;
            left: 12px;
            bottom: 9px;
            >img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }
  }
  .div-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      margin-bottom: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text-left {
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
      @media screen and (max-width: 1024px){
        align-items: center;
        justify-content: center;
      }
      &.hidden-class {
        visibility: hidden;
      }
      >h3 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #0D0D0D;
        @media screen and (max-width: 1024px){
          font-size: 12px;
          margin: 0px;
        }
      }
      >button {
        text-align: left;
        background: transparent;
        border: none;
        padding: 0px;
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-decoration: underline;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1024px){
          font-size: 12px;
          margin-top: 7px;
        }
        >img {
          margin-right: 8px;
        }
      }
    }
    .div-bt-right {
      margin-top: 21px;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      @media screen and (max-width: 1024px) {
        margin-top: 20px;
      }
      .disable {
        background: #8D8D8D !important;
        cursor: not-allowed;
      }
      >button {
        width: 169px;
        height: 76px;
        border-radius: 6px;
        border: none;
        @media screen and (max-width: 1024px) {
          height: 44px;
          width: 120px;
        }
      }
     
      .bt-cancel {
        border: 2px solid #0D0D0D;
        font-size: 22px;
        letter-spacing: 0.2em;
        color: #0D0D0D;
        background: #fff;
        @media screen and (max-width: 1024px) {
          font-size: 18px;
          border: 1px solid #0D0D0D;
        }
      }
      .bt-apply {
        font-size: 22px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        background: #0D0D0D;
        margin-left: 24px;
        @media screen and (max-width: 1024px) {
          font-size: 18px;
          border: 1px solid #0D0D0D;
        }
      }
    }
  }

  .div-scent-line {
    display: flex;
    flex-direction: column;
    >span {
      font-size: 16px;
      letter-spacing: 0.05em;
      color: #0D0D0D;
      margin-bottom: 11px;
      font-weight: 300;
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
    }
    &.item-for-candle {
      .list-scent-item {
        >button {
          width: 137px;
          height: 137px;
          margin-right: 19px;
          margin-bottom: 19px;
          @media screen and (max-width: 1024px) {
            width: 65px;
            height: 65px;
            margin-right: 9px;
            margin-bottom: 9px;
          }
          &.low-stock {
            margin-bottom: 43px;
            .div-item {
              &::after {
                content: attr(data-message);
                position: absolute;
                bottom: -30px;
                font-size: 16px;
                color: #C9A047;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                font-weight: 500;
                @media screen and (max-width: 1024px) {
                  bottom: -22px;
                  font-size: 12px;
                }
              }
            }
          }
          &.out-stock {
            margin-bottom: 43px;
            .div-item {
              &::after {
                content: attr(data-message);
                position: absolute;
                bottom: -30px;
                font-size: 16px;
                color: #2B3033;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                font-weight: 500;
                @media only screen and (max-width: 1024px) {
                  bottom: -20px;
                  font-size: 10px;
                }
              }
            }
          }
          .div-item {
            .info {
              width: 23px;
              height: 23px;
              left: 19px;
              bottom: 19px;
              visibility: visible;
              z-index: 1;
              cursor: pointer;
              @media screen and (max-width: 1024px) {
                width: 11px;
                height: 11px;
                left:11px;
                bottom: 14px;
              }
            }
            >img {
              border-radius: 46px;
              @media screen and (max-width: 1024px) {
                border-radius: 22px;
              }
            }
            .div-choose {
              >img {
                width: 40%;
                height: 40%;
              }
            }
          }
        }
      }
    }
    .list-scent-item {
      display: initial;
      >button {
        width: 80px;
        height: 80px;
        padding: 0px;
        background: transparent;
        border: none;
        margin-right: 11px;
        margin-bottom: 11px;
        @media screen and (max-width: 1024px) {
          width: 80px;
          height: 80px;
          margin-right: 9px;
          margin-bottom: 9px;
        }
        &.low-stock {
          margin-bottom: 23px;
          .div-item {
            >img {
              opacity: 1;
            }
            &::after {
              content: attr(data-message);
              position: absolute;
              bottom: -20px;
              font-size: 11px;
              color: #C9A047;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              font-weight: 500;
            }
          }
        }
        &.out-stock {
          margin-bottom: 23px;
          .div-item {
            >img {
              opacity: 0.5;
            }
            &::after {
              content: attr(data-message);
              position: absolute;
              bottom: -20px;
              font-size: 11px;
              color: #2B3033;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              font-weight: 500;
            }
          }
        }
        .div-item {
          position: relative;
          width: 100%;
          height: 100%;
          border: none;
          .info {
            position: absolute;
            width: 12px;
            height: 12px;
            left: 11px;
            bottom: 11px;
            visibility: hidden;
            cursor: pointer;
          }
          .chose {
            opacity: 0.7;
          }
          >img {
            border: 0.634143px solid #152436;
            box-shadow: 0px 1.84694px 1.84694px rgba(0, 0, 0, 0.1);
            border-radius: 26.634px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @media screen and (max-width: 1024px) {
              border-radius: 21px;
            }
          }
          .div-choose {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            >img {
              width: 50%;
              height: 50%;
              object-fit: contain;
            }
          }
        }
        
      }
    }
  }
}