.div-show-list-product {
  margin: 170px 97px 60px 97px;
  position: relative;
  @media screen and (max-width: 1024px) {
    margin: 120px 15px 15px 15px;
  }
  .div-card-list-product {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    @media screen and(max-width: 1024px){
      padding-bottom: 90px;
    }
    .bt-back {
      background: transparent;
      border: none;
      position: absolute;
      top: 50px;
      left: 50px;
      margin: 0px;
      font-size: 24px;
      color: #0D0D0D;
      @media screen and (max-width: 1024px){
        width: 40px;
        height: 40px;
        background: #F7F7F7;
        border-radius: 4px 0px;
        top: 0px;
        left: 0px;
        padding: 0px;
      }
      >img {
        height: 23px;
        margin-right: 21px;
        @media screen and (max-width: 1024px){
          margin: 0px;
          height: 11px;
        }
      }
    }
    .div-header-list-product {
      margin-top: 43px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0px;
      >h3 {
        font-weight: 500;
        font-size: 38px;
        text-align: center;
        color: #152436;
        margin: 0px;
        @media screen and (max-width: 1024px){
          font-size: 24px;
        }
      }
      .div-line {
        width: 48px;
        height: 4px;
        background: #B79B53;
        border-radius: 23px;
        margin: 20px 0px;
        @media screen and (max-width: 1024px){
          width: 34px;
          height: 3px;
          border-radius: 16.5884px;
        }
      }
      >h4 {
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 10px;
      }
      >h4, >span {
        font-style: normal;
        font-size: 14px;
        text-align: center;
        color: #000000;
        @media screen and (max-width: 1024px){
          font-size: 12px;
          padding: 0px 26px;
        }
      }
    }
    .div-body {
      margin: 24px 40px 0px 40px;
      @media screen and (max-width: 1024px){
        margin: 24px 0px 0px 0px;
      }
      .div-silder-product {
        width: 100%;
        .row {
          @media screen and (max-width: 1024px){
            margin: 0px;
          }
        }
        .col-item-product {
          margin: 25px 0px;
        }
      }
      .div-product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .div-image {
          position: relative;
          >img {
            width: 169px;
            height: 169px;
            object-fit: contain;
            object-position: center;
            cursor: pointer;
            @media screen and (max-width: 1024px){
              width: 144px;
              height: 144px;
            }
          }
          >button {
            position: absolute;
            height: 64px;
            width: 59px;
            object-fit: contain;
            background: transparent;
            border: none;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            padding: 0px;
            @media screen and (max-width: 1024px){
              width: 51.5px;
              height: 54px;
            }
          }
        }
        .name {
          font-size: 20px;
          text-align: center;
          color: #152436;
          margin-top: 26px;
          @media screen and (max-width: 1024px){
            font-size: 14px;
          }
        }
        .add-cart {
          margin-top: 26px;
          background: transparent;
          border: none;
          color: #B79B53;
          font-weight: 500;
          font-size: 18px;
          padding: 0px;
          display: flex;
          align-items: center;
          @media screen and (max-width: 1024px){
            font-size: 14px;
            margin-top: 20px;
          }
          >img {
            margin-right: 8px;
          }
        }
        .info {
          font-size: 18px;
          text-align: center;
          color: #8D8D8D;
          margin-top: 5px;
          @media screen and (max-width: 1024px){
            font-size: 10px;
          }
        }
        .price {
          font-weight: 500;
          font-size: 20px;
          text-align: center;
          color: #0D0D0D;
          margin-top: 7px;
        }
      }
    }
  }
}