.scroll-interaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  .main-title {
    text-align: center;
  }

  .block-scents {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    &-inline {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 8px;

      height: 100px;
      transition: all ease-in-out 20ms;
    }
    &-item {
      border-radius: 5px;
      overflow: hidden;
      min-width: 150px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media screen and (max-width: 480px) {
      &-inline {
        height: 50px;
      }
      &-item {
        min-width: 100px;
        border-radius: 10px;
      }
    }
  }
}
