.story-list {
  background: #fff;
  @media screen and (max-width: 1024px) {
    margin: 30px 0px;
  }
  .d-flex {
    @media screen and (max-width: 1024px) {
      background: #ffff;
      padding-bottom: 10px;
    }
  }
  .hover-item {
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.7);
      @media screen and (max-width: 767.98px) {
        box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.7);
      }
    }
  }
  .story-body {
    // padding: 2rem 6rem 2rem 6rem;
    padding: 0rem 6rem 0rem 6rem;
    background-size: cover;
    min-width: 100%;
    background-position: center;
    color: #ffffff;
    overflow: hidden;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    min-height: calc((100vw - 120px) * 200/1800);
    @media screen and (max-width: 1440px) {
      min-height: calc((100vw - 90px) * 200/1800);
    }
    @media screen and (max-width: 1024px) {
      padding: 0rem;
      transition: 0.5s;
      min-height: calc((100vw - 30px) * 1/3);
      position: relative;
    }
    @media screen and (min-width: 1024px) {
      &:hover {
        .des-header {
          opacity: 1;
          transition: 0.7s ease-in-out;
        }
        .btn-show-body {
          opacity: 1;
          transition: 0.7s ease-in-out;
        }
      }
    }
  }
  .des-header-mobile {
    p {
      padding: 0 1.5rem 1rem 1.5rem;
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: unset;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .btn-close-mobile {
    position: absolute;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    button {
      background: none;
      border: none;
      color: #fff;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.15em;
      text-decoration: underline;
      font-weight: normal;
    }
  }
  .content-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1440px) {
      
    }
    @media screen and (max-width: 767.98px) {
      flex-direction: column;
      padding-top: 0rem;
      text-align: center;
    }
    >h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      letter-spacing: 0.02em;
      margin-bottom: 0px;
      @media screen and (max-width: 1440px) {
        font-size: calc(36px * 0.75);
        line-height: calc(52px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: unset;
        margin: auto;
      }
    }
    .des-header {
      // margin-top: 15px;
      // @media screen and (max-width: 1440px) {
      //   margin-top: 35px;
      // }
    }
  }
  .item-header {
    height: 100%;
    @media screen and (max-width: 1024px) {
      margin-bottom: 0px;
    }
    .btn-show-body {
      opacity: 0;
      margin-top: -65px;
      @media screen and (max-width: 1440px) {
        margin-top: -50px;
      }
    }
    .des-header {
      width: fit-content;
      opacity: 0;
      p {
        text-align: right;
        @media screen and (max-width: 767.98px) {
          padding-left: unset;
          text-align: center;
        }
      }
    }
  }
  .join {
    margin: 1rem 0px 1rem !important;
    float: right;
    a {
      cursor: pointer;
      border: 1px solid white;
      padding: 12px 59px !important;
      border-radius: 4px;
      background: white !important;
      color: #0d0d0d;
      &:hover {
        color: #0d0d0d;
      }
    }
  }
  .item-body {
    border-top: 1px solid #ffffff82;
    padding-top: 4.3rem;
    margin-top: 2rem;
    min-height: 345px;
    @media screen and (max-width: 1440px) {
      padding-top: 4rem;
    }
    @media screen and (max-width: 1024px) {
      padding-top: 0rem;
      border-top: none;
      margin-top: 30px;
      position: relative;
      .divider-mobile {
        height: 1px;
        background: #ffffff82;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
      }
    }
    .list-image-icon {
      display: inline-flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      .slider-item {
        padding: 20px;
        cursor: pointer;
        width: 16%;
        margin-top: 0px;
      }
    }
    .slider-item {
      padding: 20px;
      cursor: pointer;
      text-align: left !important;
      .image-item {
        cursor: pointer;
        width: 100%;
        margin-bottom: 16px;
        padding-bottom: 100%;
        background-size: cover;
        float: left;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
      }
      img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        margin: 0px auto;
        margin-bottom: 8px;
      }
      span {
        color: #fff;
      }
    }
  }
  .btn-show-body {
    margin: 0 auto;
    display: block;
    background: none;
    font-size: 0.7rem;
    color: white;
    border: none;
    letter-spacing: 0.1rem;
    p {
      margin-bottom: 0;
    }
    i {
      color: #ffffff;
    }
  }
  .story-detail {
    transition: 1s;
    @media screen and (max-width: 767.98px) {
      transition: 0.5s;
    }
  }
  .story-detail-mobile {
    height: 0;
  }
  .story-detail-item {
    overflow: hidden;
    height: 100%;
    min-width: calc(100vw - 120px);
    margin-left: 60px;
    @media screen and (max-width: 1440px) {
      min-width: calc(100vw - 90px);
      margin-left: 45px;
    }
    .wrapper-slider {
      width: calc(50vw - 60px);
      height: 100%;
      overflow: hidden;
      @media screen and (max-width: 1440px) {
        width: calc(50vw - 45px);
      }
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 30px);
        z-index: 1;
        background: #E2E2E2;
        padding-bottom: 30px;
      }
      .slick-dots {
        @media screen and (max-width: 1024px) {
          bottom: -25px;
          >li {
            margin: 0px;
            >button::before {
              color: #C4C4C4;
            }
          }
          .slick-active {
            >button::before {
              color: #B79B53;
            }
          }
        }
      }
      .slick-list,
      .slick-track,
      .slick-slider {
        height: 100%;
        div {
          height: 100%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .slick-arrow {
          width: 47px;
          &.slick-prev {
            display: block;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0px;
            left: 20px;
            @media screen and (max-width: 1440px) {
              left: 20px;
            }
            &::before {
              content: '';
              background: url('../../../../image/icon/arrow-prev.svg') 0 0/40px 47px no-repeat;
              width: 47px;
              height: 47px;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          &.slick-next {
            display: block;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0px;
            right: 10px;
            &::before {
              content: '';
              background: url('../../../../image/icon/arrow-next.svg') 0 0/40px 47px no-repeat;
              width: 47px;
              height: 47px;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }
      .bt-arrow-partnership {
        position: absolute;
        border: none;
        outline: none;
        padding: 0;
        background: transparent;
        height: 32px;
        width: 32px;
        top: 50%;
        transform: translateY(-50%);
        > i {
          color: #fff;
          font-size: 22px;
        }
        &-right {
          right: 2%;
          @media (min-width: 768px) and (max-width: 1024px) {
            right: 2%;
          }
          @media only screen and (max-width: 600px) {
            right: 2%;
          }
        }
        &-left {
          left: 2%;
          z-index: 2;
          @media (min-width: 768px) and (max-width: 1024px) {
            left: 2%;
          }
          @media only screen and (max-width: 600px) {
            left: 2%;
          }
        }
      }
    }
    .footer-detail {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      align-items: center;
      .join {
        cursor: pointer;
      }
      @media screen and (max-width: 767.98px) {
        margin: 15px 20px 0px 20px;
        flex-direction: column-reverse;
        .price {
          text-align: center;
          margin-bottom: 0px;
          .price-text {
            margin-bottom: 0;
            font-weight: normal;
            font-size: 36px;
            line-height: 52px;
            @media screen and (max-width: 1440px) {
              font-size: calc(36px * 0.75);
              line-height: calc(52px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 21px;
              line-height: 30px;
              font-weight: 300;
            }
          }
          >p {
            margin-bottom: 0px;
            font-size: 18px;
            line-height: 23px;
            @media screen and (max-width: 1440px) {
              font-size: 14px;
              line-height: 17px;
              margin-bottom: 0px;
            }
            @media screen and (max-width: 1024px) {
              font-weight: 300;
              font-size: 10px;
              line-height: 14px;
            }
          }
        }
      }
      .bt-close {
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 19px;
          font-weight: normal;
          letter-spacing: 0.15em;
          text-decoration: underline;
          color: #0D0D0D;
        }
      }
    }
    .bg-left {
      // min-height: 657px;
      height: 100%;
      background-size: cover;
      width: 100%;
      background-position: center;
      color: #ffffff;
      overflow: hidden;
      background-color: black;
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
      @media screen and (max-width: 1024px) {
        min-height: 240px;
        background-color: unset;
        box-shadow: none;

      }
    }
    .detail-right {
      background: #E2E2E2;
      display: flex;
      flex-direction: column;
      padding: 1rem 17% 3rem 17%;
      height: 100%;
      align-items: flex-start;
      justify-content: center;
      margin-top: -65px;
      color: #0d0d0d;
      @media screen and (max-width: 1440px) {
        padding: 2rem 17%;
      }
      @media screen and (max-width: 1024px) {
        padding: 1px 20px 30px 20px;
        margin-top: -1px;
        align-items: center;
        text-align: center;
      }
    }
    .btn-close {
      display: flex;
      background: #e2e2e2;
      justify-content: flex-end;
      padding: 32px 32px 0;
      @media screen and (max-width: 1024px) {
        justify-content: center;
      }
      i {
        color: white;
      }
      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        @media screen and (max-width: 1024px) {
          color: #fff;
          font-size: 14px;
          text-transform: none;
          text-decoration: underline;
        }
      }
    }
    h3 {
      font-weight: normal;
      font-size: 36px;
      line-height: 52px;
      margin-bottom: 30px;
      @media screen and (max-width: 1440px) {
        font-size: calc(36px * 0.75);
        line-height: calc(52px * 0.75);
        margin-bottom: 30px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 21px;
        line-height: 30px;
        font-weight: 300;
      }
    }
    .rich-text {
      text-align: justify;
      @media screen and (max-width: 1024px) {
        text-align: center;
      }
      >p {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0px;
        font-weight: 300;
        @media screen and (max-width: 1440px) {
          font-size: 14px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    .price {
      text-align: right;
      .price-text {
        margin-bottom: 0;
        font-weight: normal;
        font-size: 36px;
        line-height: 52px;
        @media screen and (max-width: 1440px) {
          font-size: calc(36px * 0.75);
          line-height: calc(52px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 21px;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }
  }
  .active-item {
    transform: translateX(-100%);
    // margin-left: -100%;
    transition: 1s;
    background: #fff;
    @media screen and (max-width: 767.98px) {
      height: 100%;
      transition: 0.7s;
    }
  }
  .overlay {
    background-color: white;
    animation-name: whiteAnimation;
    animation-timing-function: ease;
    transition-timing-function: ease;
    animation-duration: 0.35s;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6);
    .item-header {
      position: relative;
      .btn-show-body {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 173px;
        @media screen and (max-width: 1440px) {
          top: 130px;
        }
        >p {
          text-decoration: underline;
          margin-bottom: 0px;
        }
        >img {
          visibility: hidden;
        }
      }
      .content-header {
        height: fit-content;
        margin-top: 73px;
        @media screen and (max-width: 1440px) {
          margin-top: 55px;
        }
        .des-header {
          .rich-text {
            >p {
              font-size: 36px;
              line-height: 52px;
              font-weight: normal;
              letter-spacing: 0.02em;
              margin-bottom: 0px;
              @media screen and (max-width: 1440px) {
                font-size: calc(36px * 0.75);
                line-height: calc(52px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-weight: 300;
                font-size: 10px;
                line-height: 14px;
                letter-spacing: unset;
              }
            }
          }
        }
      }
    }
  }

  @keyframes whiteAnimation {
    from {
      opacity: 0;
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.2);
    }
    to {
      opacity: 1;
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.6);
    }
  }
}
