@import '../../../styles/colors';

.card-total {
  >span {
    font-size: 14px;
    line-height: 22px;
  }
  .card-t {
    .div-free-delivery {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #8D826E;
      border-radius: 20px 20px 0px 0px;
      border: none;
      font-weight: 600;
      color: #F5ECDC;
      padding: 10px 0px;
      letter-spacing: 0.1em;
      font-size: 14px;
      @media screen and (max-width: 1024px) {
        border-radius: 10px 10px 0px 0px;
        padding: 8px 0px;
        font-size: 12px;
      }
    }
    .heading {
      margin-bottom: 32px;
      font-weight: 400;
      font-size: 32px;
      text-align: left;
      margin-top: 40px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 12px;
        margin-top: 0px;
        font-size: 16px;
      }
    }
    .line-1 {
      justify-content: space-between;
      margin-bottom: 12px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 6px;
      }
      >span {
        font-size: 18px;
        line-height: 27px;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
      >span:nth-child(1) {
        color: $Secondary-40;
      }
      >span:nth-child(2) {
        color: $Secondary-60;
        font-weight: bold;
      }
    }
    >hr {
      width: 100%;
      padding: 0px;
      margin: 0px;
      background: $Secondary-60;
      margin-bottom: 12px;
    }
    .line-2 {
      justify-content: space-between;
      margin-bottom: 12px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 16px;
      }
      >span {
        font-size: 24px;
        line-height: 36px;
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          font-weight: 600;
        }
      }
      >span:nth-child(1) {
        color: $Secondary-40;
        @media screen and (max-width: 1024px) {
          color: $Secondary-60;
          margin-left: 24px;
        }
      }
      >span:nth-child(2) {
        color: $Secondary-60;
        font-weight: bold;
      }
    }
    .div-point-card {
      display: flex;
      justify-content: flex-end;
      .line-3 {
        margin-bottom: 24px;
        width: fit-content;
        justify-content: flex-end;
        margin-top: -4px;
        padding: 4px 12px;
        border: 0.8px solid #BCAD93;
        border-radius: 20px;
        background: #FFF4E0;
        @media screen and (max-width: 1024px) {
          justify-content: space-between;
          background: transparent;
          border: none;
          width: 100%;
          padding: 0px;
        }
        >img {
          width: 20px;
          height: 20px;
          margin-right: 12px;
          @media screen and (max-width: 1024px) {
            width: 12px;
            height: 12px;
            margin-right: 8px;
          }
        }
        >span {
          color:$Secondary-60;
          @media screen and (max-width: 1024px) {
            font-size: 12px;
            color: $Secondary-40;
          }
        }
        .div-point-line {
          @media screen and (max-width: 1024px) {
            background: #FFF4E0;
            border: 0.8px solid #BCAD93;
            border-radius: 20px;
            font-size: 10px;
            font-weight: 500;
            line-height: 22px;
            color: $Secondary-60;
            padding: 1px 8px;
            display: flex;
            align-items: center;
          }
          >img {
            @media screen and (max-width: 1024px) {
              width: 16px;
              height: 16px;
              margin-right: 4px;
            }
          }
        }
      }
    }
    .line-4 {
      width: 100%;
      justify-content: space-between;
      @media screen and (max-width: 1024px) {
        margin-bottom: 16px;
      }
      >span:nth-child(1) {
        color: $Secondary-40;
        margin-right: 12px;
        @media screen and (max-width: 1024px) {
          color: $Primary-100;
        }
      }
      >span:nth-child(2) {
        color: $Secondary-60;
        font-weight: bold;
        @media screen and (max-width: 1024px) {
          color: $Primary-100;
        }
      }
    }
    .line-5 {
      justify-content: center;
      margin-top: 52px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }
      >img {
        width: 17px;
        height: 17px;
        margin-right: 12px;
      }
      >span {
        font-size: 12px;
        color: $Secondary-40 ;
      }
    }
    .div-button {
      margin-top: 16px;
      justify-content: space-between;
      >button:nth-child(1) {

      }
      >button:nth-child(2) {
        margin-top: 16px;
      }
    }

    .payment-method {
      align-items: center;
      >hr {
        margin-top: 24px;
        margin-bottom: 24px;
        background: $Secondary-60;
        width: 100%;
      }
      .other-Tagline {
        color: $Primary-100;
        margin-bottom: 16px;
      }
      .list-icon {
        align-items: center;
        justify-content: center;
        >img {
          margin-left: 12px;
          margin-right: 12px;
        }
      }
    }
  }
}