.item-strong {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 17px;
  @media screen and (max-width: 767px) {
    margin: unset;
  }
  z-index: 0;
  &.active {
    .list-col {
      .content-color {
        opacity: 1 !important;
      }
    }
  }
  .list-col {
    width: 142px;
    border-radius: 7.0977px 7.0977px 0px 0px;
    border: 2px solid #D4C2A6;
    @media screen and (max-width: 767px) {
      width: calc((100vw - 24px * 4) /3 );
    }
    .content-color {
      width: 100%;
      height: 100%;
    }
  }
  .text-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #2C2C22;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 34px;
  }
}