.item-glossaire {
  display: flex;
  margin-bottom: 4em;
  @media screen and (max-width: 1024px) {
    margin-bottom: 2em;
  }
  h1 {
    font-size: 72px;
    font-weight: bold;
    margin: -16px 1.2em 0 0.6em;
    width: 20px;
    @media screen and (max-width: 1024px) {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0.5em;
      width: 14px;
    }
  }
  .scent-box-group {
    display: flex;
    flex-grow: 1;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      padding-right: 42px;
    }
  }
  .image-article {
    cursor: pointer;
    width: calc(25% - 50px);
    max-width: 210px;
    overflow: hidden;
    position: relative;
    margin: 0 24px;
    border-radius: 18px;
    @media screen and (max-width: 1024px) {
      width: 43%;
      margin: 0 8px 16px;
    }
    .info-scent {
      position: absolute;
      z-index: 2;
      padding: 8px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #00000040;
      text-transform: uppercase;
      border-radius: 16px;
      .name {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        letter-spacing: 0.2em;
        margin-bottom: 0em;
        opacity: 1;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
      }
      .title {
        font-size: 12px;
        color: white;
        margin: 0;
        letter-spacing: 0.1em;
        // margin-top: 47px;
        @media screen and (max-width: 1024px) {
          font-size: 8px;
        }
      }
    }
    .image {
      float: left;
      position: relative;
      width: 100%;
      transition: 0.1s;
      //   transform: scale(1);
      padding-bottom: 116%; /* = width for a 1:1 aspect ratio */
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 6px;
      overflow: hidden;
      width: 100%;
      height: 140px;
      @media screen and (max-width: 1024px) {
        padding-bottom: 125%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
        border-radius: 16px;
        overflow: hidden;
      }
      .img {
        z-index: 2;
      }
      @media screen and (min-width: 1024px) {
        &:hover {
          // .img {
          //   opacity: 0;
          //   transition: 0.5s;
          // }
          .info-scent {
            opacity: 1;
            transition: 0.5s;
            background: #0000008a;
            .name {
              opacity: 1;
              transition: 0.5s;
            }
            .title {
              margin-top: 0;
              transition: 0.1s;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
