.div-landing-quiz {
  color: #ffffff;
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &.full-screen {
    height: 100vh;
    margin-top: 0px;
  }
  .logo-maison {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    >img {
      width: 140px;
      height: 45px;
      margin: 64px 0px;
    }
  }
  .content-personality {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 64px;
    &.style-bmw {
      justify-content: unset;
      .tx-header {
        font-weight: normal;
      }
      .div-des {
        width: 100%;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0px 20px 0px;
          @media screen and (max-width: 600px) {
            margin: 40px 0px 20px 0px;
          }
          >img:nth-child(1) {
            width: 99px;
            margin-right: 23px;
            @media screen and (max-width: 600px) {
              width: 67px;
            }
          }
          >img:nth-child(2) {
            width: 140px;
            @media screen and (max-width: 600px) {
              width: 94px;
            }
          }
        }
        .description {
          color: #EBD8B8;
          margin-bottom: 16px;
          width: 100%;
          >div
          {
            >h4 {
              font-size: 21px;
              font-weight: normal;
              // font-family: Open Sans;
              width: 80%;
              margin: 0px auto;
              @media screen and (min-width: 1910.1px) {
                font-size: 24px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 18px;
              }
              @media screen and (max-width: 767.9px) {
                font-size: 16px;
                width: 100%;
              }
            }
            @media screen and (max-width: 767.9px) {
              width: 100%;
              padding: 0px 20px;
              font-size: 16px;
              letter-spacing: 0.1em;
            }
          }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            width: 440px;
          }
        }
      }
      .div-bottom {
        flex: 1;
      }
    }
    .tx-header {
      font-weight: 400;
      font-size: 48px;
      text-transform: uppercase;
      width: 782px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #EBD8B8;
      margin-bottom: 12px;
      @media screen and (max-width: 991px) {
        font-size: 36px;
        padding: 0px 64px;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        width: 100%;
        padding: 0px 24px;
      }
      
    }

    .description {
      color: #BCAD93;
      margin-bottom: 16px;
      width: 100%;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0px 20px;
        font-size: 14px;
        letter-spacing: 0.1em;
      }
      .rich-text>h4 {
        font-size: 18px;
        font-weight: 400;
        width: 782px;
        margin: 0px auto;
        letter-spacing: 0px;
        @media screen and (max-width: 991px) {
          padding: 0px 64px;
          width: 100%;
        }
        @media screen and (max-width: 767px) {
          font-size: 16px;
          width: 100%;
          padding: 0px 24px;
        }
      }
    }

    .div-bottom {
      justify-content: center;
      align-items: center;
      .div-time {
        margin-bottom: 32px;
        .div-watch {
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 16px;
          color: #EBD8B8;
        } 
      }
      
      .button-animal {
        >button {
          background: #ffffff;
          color: #0D0D0D;
          padding: 0px 84px;
          height: 76px;
          border: none;
          border-radius: 6px;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          font-weight: 500;
          font-size: 24px;
          @media screen and (min-width: 1910.1px) {
            padding: 0px 126px;
            font-size: 24px;
            height: 114px;
          }
          @media screen and (max-width: 1024px) {
            height: 70px;
            width: calc(100vw - 200px);
            font-size: 18px;
          }
          @media screen and (max-width: 767.9px){
            padding: 0px;
            height: 44px;
            font-size: 18px;
            width: calc(100vw - 100px);
          }
        }
      }
    }
  }
}
