.slider-article {
  .slider-child {
    width: calc(100% - 46px);
    margin: 0.5em auto;
    .wrapper-image {
      position: relative;
      overflow: hidden;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .slick-slide {
      > div {
        padding: 8px;
        > div{
          max-width: 148px;
        }
      }
    }
    .slick-arrow {
      position: absolute;
      width: 46px;
      height: 46px;
      margin-top: 0;
      z-index: 12;
      top: 48%;
      &.slick-prev{
        left: -40px;
      }
      &.slick-next{
        right: -40px;
      }
      &.slick-prev::before{
        background-size: 80%;
        width: 46px;
        background-position: center;
      }
      &.slick-next::before{
        background-size: 80%;
        width: 46px;
        background-position: center;
      }
    }
  }
  .slider-main {
    .image-wrapper {
      width: 100%;
      overflow: hidden;
      position: relative;
      .image {
        float: left;
        position: relative;
        width: 100%;
        padding-bottom: 29%; /* = width for a 1:1 aspect ratio */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        @media screen and (max-width: 1024px) {
          padding-bottom: 80%;
        }
      }
    }
  }
}
