@import '../../styles/colors';
.ingredient-popup-v2 {
  .modal-body {
    position: relative;
    .content-popup {
      padding: 24px 24px 200px 24px;
      background: $Primary-30;
      overflow-y: auto;
      height: 100vh;
      position: relative;
      .header-popup {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        >button {
          margin-right: 18px;
        }
        .other-Tagline {
          color: $Secondary-60;
        }
      }
    }
    .list-button {
      background: $Primary-30;
      padding: 24px;
      position: absolute;
      bottom: 0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}