@import '../../styles/colors';

.checkbox-ct {
  margin-left: 16px;
  &.medium {
    .MuiFormControlLabel-root {
      .MuiFormControlLabel-label {
        font-size: 12px;
      }
    }
  }
   
  .MuiFormControlLabel-root {
    margin-bottom: 0px;
    display: flex;
    align-items: flex-start;
    .MuiCheckbox-root {
      padding-top: 0px;
      color: $Secondary-60;
    }
  }
  .message-error {
    font-size: 14px;
    line-height: 150%;
    color: $Error-60;
    margin-top: 8px;
  }
}