.benefits-scent {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background: #181818;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .title-ferrari {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0px 130px 0px 120px;
    height: 100%;
    font-family: 'Ferrari';
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and (max-width: 991px) {
      font-size: 24px;
      letter-spacing: 0.05em;
      padding: 0px 64px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      padding: 80px 24px;
      width: 100%;
      text-align: center;
      height: fit-content;
    }
  }
  .wrap-benefits-scent {
    width: 50%;
    padding: 84px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    @media screen and (max-width: 991px) {
      padding: 49px 20px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      flex: 1;
      padding: 24px;
      grid-template-columns: 1fr;
      grid-column-gap: 0px;
    }
    .item-scent-strength {
      width: 100%;
      height: 100%;
    }
  }
}