.workshop__list_v2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  .item1 { 
    grid-area: item1; 
    .workshop__list__item >.__image >img {
      height: calc((100vw - 218px * 2)* 0.48);
      object-fit: cover;
      @media screen and (max-width: 1440px) {
        height: calc((100vw - 144px * 2)* 0.48);
      }
      @media screen and (max-width: 1024px) {
        height: calc((100vw - 30px) * 0.52);
      }
    }
  }
  .item2 { 
    grid-area: item2; 
  }
  .item3 { 
    grid-area: item3;
   }
  .item4 {
     grid-area: item4; 
    }
  .item5 { 
    grid-area: item5; 
  }
  .item2, .item3, .item4, .item5 {
    .workshop__list__item >.__image >img {
      object-fit: cover;
      height: calc((100vw - 218px * 2)* 0.24 - 12px);
      @media screen and (max-width: 1440px) {
        height: calc((100vw - 144px * 2)* 0.24 - 12px);
      }
      @media screen and (max-width: 1024px) {
        height: calc((100vw - 30px - 12px) * 0.5);
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      'item1 item1 item2 item3'
      'item1 item1 item4 item5';
    grid-gap: 24px;
    grid-auto-columns: 1fr;
    @media screen and (max-width: 1024px) {
      grid-template-areas:
      'item1 item1'
      'item2 item3'
      'item4 item5';
    }
  }

  .workshop__list__item {
    cursor: pointer;
    position: relative;
    .__image {
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      @media screen and (max-width: 1024px) {
        border-radius: 11px;
      }
      img {
        border-radius: 24px;
        width: 100%;
        @media screen and (max-width: 1024px) {
          border-radius: 11px;
        }
      }
    }

    .__text-des {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      border-radius: 0px 0px 24px 24px;
      color: #FFFFFF;
      padding: 13px 14px;
      @media screen and (max-width: 1024px) {
        border-radius: 0px 0px 11px 11px;
      }
      .bg-text {
        background: #0D0D0D;
        opacity: 0.7;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 0;
        border-radius: 0px 0px 24px 24px;
        @media screen and (max-width: 1024px) {
          border-radius: 0px 0px 11px 11px;
        }
      }
      &.item-first {
        >div {
          .__title {
            font-size: 36px;
            @media screen and (max-width: 1440px) {
              font-size: calc(36px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 20px
            }
          }
          .__price {
            font-size: 24px;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: 600;
            @media screen and (max-width: 1440px) {
              font-size: calc(24px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 14px
            }
          }
        }
        .__description {
          font-size: 18px;
          @media screen and (max-width: 1440px) {
            font-size: calc(18px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 12px
          }
        }
      }
        >div {
          z-index: 1;
          .__title {
            font-size: 14px;
            letter-spacing: 0.05em;
            font-family: Playfair Display;
            @media screen and (max-width: 1024px) {
              font-size: 18px
            }
            @media screen and (max-width: 768px) {
              font-size: 18px
            }
          }
      
          .__price {
            font-weight: 600;
            font-size: 14px;
            @media screen and (max-width: 1024px) {
              font-size: 18px
            }
            @media screen and (max-width: 768px) {
              font-size: 18px
            }
          }
        }
        .__description {
          font-size: 14px;
          margin-top: 6px;
          @media screen and (max-width: 1440px) {
            font-size: calc(14px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 12px
          }
          @media screen and (max-width: 768px) {
            font-size: 12px
          }
        }
      }
    
  }
}

.mobi--col {
  min-width: 50%;
  max-width: 50% !important;
}

.web--col {
  min-width: 25%;
  max-width: 25% !important;
}

.workshop__list_v2 {
  padding: 0px 218px;
  @media screen and (max-width: 1440px) {
    padding: 0 144px;
  }
  @media screen and (max-width: 1024px) {
    padding: unset;
  }
}

@media (max-width: 1024px) {
  .workshop__list_v2 {
    position: relative;
  }
}

@media (max-width: 1024px) {
  .workshop__list_v2 {
    .workshop__list__item {
      position: relative;
      .__image {
        max-height: 13.125rem;
        overflow: hidden;

        img {
          border-radius: 0.625rem;
          height: 13.125rem;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      .__title {
        font-size: 1rem;
      }

      .__price,
      .__description {
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .workshop__list_v2 {
    .workshop__list__item {
      img {
        border-radius: 0.625rem;
      }

      .__title {
        font-size: 1.5rem;
      }
    }
  }
}

