@import '../../styles/colors';

.modal-custom-bottle-v4 {
  max-width: 1330px;
  width: calc(100vw - 110px);
  margin-right: 0px;
  margin-top: 0px;
  @media screen and (max-width: 991px) {
    min-width: 768px;
  }
  @media screen and (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    max-width: unset;
    min-width: unset;  
    margin: 0px !important;
  }

  .modal-content {
    background: #2C2C22;
    // overflow: auto;
    height: 100vh;
    @media screen and (max-width: 767px) {
      padding: 16px;
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
    }
    .modal-body {
      padding: 0px;
    }
  }
}
.div-custome-bottle-v4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;

  .header-div {
    width: calc(100% - 450px);
    height: 97px;
    display: flex;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    box-shadow: 0px 5px 5px rgba(9, 9, 7, 0.1);
    @media screen and (max-width: 1082px) {
      width: calc(100% - 300px);
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      height: unset;
      padding: 0px;
      margin-top: 8px;
    }
    .bt-close {
      background: #EBD8B8;
      width: 44px;
      height: 44px;
      min-width: 44px;
      border-radius: 30px;
      padding: 0px;
      color: #2C2C22 !important;
      @media screen and (max-width: 767px) {
        width: 32px;
        height: 32px;
        min-width: 32px;
      }
    }

    .title-header {
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #EBD8B8;
      @media screen and (max-width: 991px) {
        font-size: 28px;
      }
      @media screen and (max-width: 767px) { 
        font-size: 18px;
        flex: 1;
        text-align: center;
      }
    }
  }
  .div-content-custome {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767px) {
      padding-top: 30px;
      overflow-y: auto;
      height: calc(100vh - 70px);
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
    .main-edit-page {
      display: flex;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      .div-bottle {
        width: 450px;
        position: relative;
        @media screen and (max-width: 1082px) {
          // margin: auto;
          width: 300px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        .div-image-bottle-v3 {
          width: fit-content;
          margin: auto;
          margin-top: 24px;
        }
        .bg-image {
          width: 100%;
          position: absolute;
        }
      }
      .div-text-custome {
        flex: 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: calc(100vh - 97px);
        position: relative;
        @media screen and (max-width: 767px) {
          padding: 0px;
          width: 100%;
          height: auto;
          margin-top: 35px;
          flex: unset;
          overflow-y: unset;
        }
        &::-webkit-scrollbar {
          width: 8px;
          background-color: #969691;
          border-radius: 33px;
        }
        &::-webkit-scrollbar-thumb {
          background-color :#EBD8B8;
          border-radius: 33px;
        }
        .div-title-step {
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          .number-text {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 38px;
            background: #EBD8B8;
            color: #2C2C22;
            font-weight: 500;
          }
          .text-title {
            margin-left: 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            text-transform: uppercase;
            color: #EBD8B8;
          }
          >svg {
            color: #EBD8B8;
            font-size: 20px;
            margin-left: 8px;
          }
        }
        .title-text {
          margin-bottom: 14px;
          font-weight: 600;
          font-size: 12px;
          color: #BCAD93;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .div-text-color {
          display: flex;
          margin-bottom: 18px;
          @media screen and (max-width: 767px) {
            margin-bottom: 12px;
          }
          .div-text {
            @media screen and (max-width: 767px) {
              width: 100%;
            }
            .div-input {
              position: relative;
              width: 483px;
              @media screen and (max-width: 991px) {
                width: 418px;
              }
              @media screen and (max-width: 767px) {
                width: 100%;
              }
              .input-ct >.content >input{
                width: 100%;
                padding-left: 52px;
                background: #414138;
                border: 1px solid #8D826E;
                color: #EBD8B8;
                height: 48px;
                &::placeholder {
                  color: #8D826E;
                  font-weight: 400;
                }
              }
              .MuiSvgIcon-root {
                position: absolute;
                left: 26px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 13px;
                @media screen and (max-width: 767px) {
                  font-size: 12px;
                }
              }
              .max-text {
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 14px;
                color: $Primary-100;
                @media screen and (max-width: 767px) {
                  right: 24px;
                }
              }
            }
          }

          // .div-color {
          //   margin-left: 18px;
          //   .div-list-color {
          //     // height: 56px;
          //     align-items: flex-end;
          //     .outline-bt {
          //       background: transparent;
          //       margin-right: 14px;
          //       display: flex;
          //       justify-content: center;
          //       align-items: center;
          //       &.selected {
          //         >button {
          //           // border: none;
          //           .MuiSvgIcon-root {
          //             visibility: visible;
          //           }
          //         }
          //       }
          //       >button {
          //         width: 44px;
          //         height: 44px;
          //         border-radius: 10px;
          //         border: 1px solid $Primary-100;
          //         @media screen and (max-width: 1024px){
          //           width: 34px;
          //           height: 34px;
          //         }
          //         .MuiSvgIcon-root {
          //           color: #FFF4E0;
          //           visibility: hidden;
          //         }
          //         &.black {
          //           background: $Neutral-100;
          //         }
          //         &.white {
          //           background: $Neutral-10;
          //         }
          //         &.yellow {
          //           background: $Primary-60;
          //         }
          //       }
          //     }
          //   }
          // }
        }

        .div-color {
          @media screen and (max-width: 767px) {
            margin-left: 0px;
            padding-bottom: 150px;
          }
          .div-list-color {
            align-items: flex-end;
            margin-bottom: 144px;
            .outline-bt {
              background: transparent;
              margin-right: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              &.selected {
                >button {
                  // border: none;
                  .MuiSvgIcon-root {
                    visibility: visible;
                  }
                }
              }
              >button {
                width: 44px;
                height: 44px;
                border-radius: 10px;
                border: 1px solid $Primary-100;
                @media screen and (max-width: 767px){
                  width: 42px;
                  height: 42px;
                }
                .MuiSvgIcon-root {
                  color: #FFF4E0;
                  visibility: hidden;
                }
                &.black {
                  background: $Neutral-100;
                }
                &.white {
                  background: $Neutral-10;
                }
                &.yellow {
                  background: $Primary-60;
                }
              }
            }
          }
        }

        .div-font {
          margin-bottom: 0px;
          @media screen and (max-width: 767px) {
            margin-bottom: 24px;
          }
          .list-font {
            display: flex;
            margin-bottom: 18px;
            @media screen and (max-width: 767px) {
              width: 100%;
              display: inline-flex;
              overflow-x: auto;
              &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                background-color: transparent;
              }
              &::-webkit-scrollbar-track {
                background-color: transparent;
              }
              &::-webkit-scrollbar-thumb {
                background-color: transparent;
              }
            }
            >div {
              >button {
                width: 92px;
                height: 33px;
                background: $Primary-30;
                border-radius: 10px;
                font-size: 14px;
                border: none;
                margin-right: 8px;
                @media screen and (max-width: 767px) {
                  margin-right: 4px;
                  width: 60px;
                  height: 48px;
                  font-size: 20px;
                }
              }
              .active {
                background: $Primary-60;
                border: 1px solid $Secondary-60;
              }
            }
          }
        }

        .bt-upload-image {
          margin-bottom: 64px;
          .sub-title {
            font-size: 10px;
            margin-bottom: 24px;
            @media screen and (max-width: 767px) {
              margin-bottom: 8px;
            }
          }
          .div-section-more {
            width: 120px;
            height: 120px;
            background: $Primary-60;
            border-radius: 10px;
            @media screen and (max-width: 767px) {
              width: 145px;
              height: 75px;
            }

            >div {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 16px;
              cursor: pointer;
              .MuiSvgIcon-root {
                color: $Secondary-60;
                font-size: 14px;
                margin-bottom: 8px;
                @media screen and (max-width: 767px) {
                  font-size: 12px;
                }
              }
              >span {
                font-size: 12px;
                // color: $Secondary-30;
                text-align: center;
                @media screen and (max-width: 767px) {
                  font-size: 10px;
                }
              }
            }
          }
          .list-category {
            margin-bottom: 20px;
            display: -webkit-box;
            overflow-x: auto;
            width: 100%;
            &::-webkit-scrollbar {
              width: 0px;
              height: 0px;
              background-color: transparent;
            }
            &::-webkit-scrollbar-track {
              background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: transparent;
            }
            >div {
              >button {
                margin-right: 8px;
                background: #23231B;
                color: #EBD8B8;
                @media screen and (max-width: 767px){
                  margin-right: 4px;
                }
              }
              .small {
                height: 30px;
                border: none;
                @media screen and (max-width: 767px){
                  height: 28px;
                  font-size: 10px;
                  padding: 0px 10px;
                }
                &.active {
                  background: #EBD8B8!important;
                  border: 1px solid #BCAD93;
                  color: #2C2C22;
                }
              }
            }
          }
          .list-image-thumbnail {
            display: flex;
            flex-direction: column;
            .line-image {
              display: -webkit-box;
              .image-thumbnail {
                width: 120px;
                height: 120px;
                border: none;
                border-radius: 10px;
                padding: 0px;
                margin-right: 8px;
                margin-bottom: 8px;
                position: relative;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #F1E4CD;
                overflow: hidden;
                @media screen  and (max-width: 767px) {
                  width: 60px;
                  height: 60px;
                }
                &.active {
                  border: 2px solid #EBD8B8;
                  .text-selected {
                    display: inherit;
                  }
                  .bg-opacity {
                    background: #2C2C22;
                    opacity: 0.8;
                  }
                }
                .bg-opacity {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0px;
                  left: 0px;
                }
                .text-selected {
                  position: absolute;
                  width: 100%;
                  padding: 0px 8px;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  font-weight: 600;
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
                  color: #EBD8B8;
                  display: none;
                }
                &:hover {
                  .bg-opacity {
                    background: #F1E4CD;
                    opacity: 0.6;
                  }
                }
                >img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }

      }

      .list-bt-save {
        display: flex;
        width: calc(100% - 450px);
        margin-left: auto;
        position: absolute;
        box-shadow: 0px -5px 5px rgba(9, 9, 7, 0.1);
        padding: 32px 36px;
        bottom: 0px;
        right: 0px;
        justify-content: space-between;
        background: #2C2C22;
        z-index: 5;
        @media screen and (max-width: 1082px) {
          width: calc(100% - 300px);
        }
        @media screen and (max-width: 767px) {
          position: fixed;
          bottom: 0px;
          width: calc(100% - 32px);
          right: unset;
          // height: fit-content;
          top: unset;
          margin-bottom: unset;
          margin: 0px 16px;
          padding: 24px 0px;
          left: 0px;
          background: #2C2C22;
          box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
        }
        >button {
          width: calc((100% - 12px)/2);
          @media screen and (max-width: 767px) {
            height: 44px;
            font-size: 14px;
          }
        }
        // >button:nth-child(2) {
        //   margin-left: 16px;
        //   @media screen and (max-width: 1024px) {
        //     margin-left: 4px;
        //     flex: 1;
        //   }
        // }
      }

      .div-scale {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 34px;
        padding: 0px 16px;
        @media screen and (max-width: 991px) {
          width: 300px;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        .text-normal {
          font-size: 14px;
          line-height: 24px;
          color: #F5ECDC;
          margin-bottom: 24px;
          text-align: center;
          @media screen and (max-width: 767px) {
            margin-bottom: 8px;
          }
        }
        .scale-box {
          align-items: center;
          width: 328px;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
          @media screen and (max-width: 767px) {
            width: 100%;
          }
          .text-index {
            font-size: 24px;
            color: $Secondary-60;
            cursor: pointer;
            padding: 0;
            min-width: unset;
            width: unset;
            height: unset;
            background: transparent;
          }
          .MuiSlider-colorPrimary {
            margin: 0px 8px;
          }
        }
        >button {
          margin-top: 20px;
        }
      }

    }
  }

  .div-gui-upload-image {
    position: absolute;
    width: 100vw;
    top: 0px;
    // height: calc(100vh - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    background: #0D0D0D88;
    z-index: 9;
    .div-back {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 5px;
      >img {
        width: 50px;
        height: 50px;
        margin-left: 13px;
        margin-right: 14px;
      }
      >span {
        font-size: 14px;
      }
    }
    .div-bottom {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      .img-gui {
        width: 74px;
        height: 240px;
        >img {
          width: 100%;
          height: 100%;
        }
      }
      .text-upload {
        font-size: 14px;
        margin-top: 17px;
      }
      .bt-tap-start {
        width: calc(100vw - 108px);
        border: 2px solid #FFFFFF;
        border-radius: 6px;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.2em;
        height: 44px;
        background: transparent;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .bt-checked {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        align-items: center;
        >img {
          width: 57px;
          height: 63px;
          margin-left: 12px;
        }
      }
      >span {
        text-align: center;
        width: 100%;
        font-size: 14px;
      }
      >img {
        width: 100%;
        margin-top: 18px;
      }
    }
  }

  .div-image-bottle-v3 {
    .img-bottle {
      height: 461px;
      @media screen and (max-width: 767px){
        height: 271px;
      }
    }
    .img-name {
      height: 292px;
      width: 95px;
      top: 123px;
      border-radius: 25px;
      // height: 303px;
      // width: 95px;
      // top: 135px;
      // @media screen and (max-width: 1440px) {
      //   height: calc(303px * 0.75);
      //   width: calc(95px * 0.75);
      //   top: calc(135px * 0.75);
      //   border-radius: 25px;
      // }
      @media screen and (max-width: 767px){
        height: 178px;
        width: 56px;
        top: 78px;
        border-radius: 21px;
      }
    }
    .image-logo {
      width: 67px;
      top: 134px;
      // width: 65px;
      // top: 157px;
      // @media screen and (max-width: 1440px) {
      //   width: calc(65px * 0.75);
      //   top: calc(157px * 0.75);
      // }
      @media screen and (max-width: 767px){
        width: 38.5px;
        top: 92.5px;
      }
    }
    .text-des-custome {
        width: 98px;
        font-size: 10px;
        bottom: 67px;
      // width: 98px;
      // font-size: 10px;
      // bottom: 45px;
      // @media screen and (max-width: 1440px) {
      //   width: calc(98px * 0.75);
      //   font-size: calc(10px * 0.75);
      //   bottom: calc(45px * 0.75);
      // }
      @media screen and (max-width: 767px){
        width: 57.5px;
        font-size: 6px;
        bottom: 26.5px;
      }
    }
    .text-size-custome {
      bottom: 51px;
      font-size: 10px;
      // bottom: 30px;
      // font-size: 10px;
      // @media screen and (max-width: 1440px) {
      //   bottom: calc(30px * 0.75);
      //   font-size: calc(10px * 0.75);
      // }
      @media screen and (max-width: 767px) {
        bottom: 17.5px;
        font-size: 6px;
      }
    }
    .custome-name {
      font-size: 10px;
      top: 362px;
      // font-size: 10px;
      // top: 375px;
      // @media screen and (max-width: 1440px) {
      //   font-size: calc(10px * 0.75);
      //   top: calc(375px * 0.75);
      // }
      @media screen and (max-width: 767px) {
        font-size: 6px;
        top: 224px;
      }
    }
    .custome-only-name {
      font-size: 12px;
      top: 351px;
      // font-size: 12px;
      // top: 258px;
      // @media screen and (max-width: 1440px) {
      //   font-size: calc(12px * 0.75);
      //   top: calc(258px * 0.75);
      // }
      @media screen and (max-width: 767px) {
        font-size: 7px;
        top: 151.5px;
      }
    }
    .custome-only-name-v3 {
      top: 253px !important;
      @media screen and (max-width: 767px) {

      }
      >span {
        font-size: 7px !important;
      }
     
    }

    .div-image-bottle-custom {
      .div-select-image {
        // width: 147px;
        // height: 460px;
        // bottom: 35px;
        bottom: 46px;
        width: 90px;
        height: 290px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 20px;
        overflow: hidden;
        position: absolute;
        @media screen and (max-width: 767px){
          // width: 66px;
          // height: 198px;
          // bottom: 18px;
          border-radius: 20px;
          width: 85%;
          height: 63.68%;
          bottom: 5%;
          background: transparent;
        }
        .drop-suggestion {
          width: 59px;
          height: 59px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          @media screen and (max-width: 1440px){
           width: calc(59px * 0.75);
           height: calc(59px * 0.75);
          }
          @media screen and (max-width: 767px){
            width: 31px;
            height: 31px;
          }
        }
        .div-ver {
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0px;
          background: white;
          &.left {
            left: 32%;
          }
          &.right {
            left: 66%;
          }
        }
        .div-hor {
          height: 1px;
          width: 100%;
          background: white;
          position: absolute;
          left: 0px;
          &.top {
            top: 32%;
          }
          &.bottom {
            top: 66%;
          }
        }
      }
    }

  }
}