.perfume-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  .list-added {
    width: 605px;
    margin-bottom: 10px;
    margin-top: 20px;
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 40px);
      margin-top: 0px;
      margin-bottom: 5px;
    }
    >h4 {
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 0.2em;
      color: #0D0D0D;
      margin-bottom: 0px;
      @media screen and (max-width: 1440px) {
        font-size: 1.1428rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 0.8571rem;
      }
    }
    .item-added {
      width: 100%;
      height: 66px;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      margin-top: 15px;
      border-radius: 16px;
      background: #fff;
      box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
      .item-left {
        align-items: center;
        >img {
          height: 38px;
          margin-right: 10px;
        }
        >span {
          font-weight: normal;
          font-size: 1rem;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            font-size: 1.14285rem;
          }
        }
      }
      >button {
        >img {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
  .div-list-item {
    margin: 20px 0px;
    @media screen and (max-width: 1024px) {
      margin: 0px 0px 10px;
    }
    .div-item-perfume-selection {
      width: calc(100vw / 3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1024px){
        width: 100%;
        margin-top: 10px;
      }
      .div-search {
        width: 605px;
        box-shadow: 7.69231px 7.69231px 57.6923px rgba(0, 0, 0, 0.15);
        background: #FFFFFF;
          // box-shadow: 7.69231px 7.69231px 57.6923px rgba(0, 0, 0, 0.15);
        border-radius: 103.462px;
        @media screen and (max-width: 1024px) {
          width: calc(100vw - 40px);
        }
        &.div-small {
          width: 90%;
          @media screen and (max-width: 1024px) {
            margin-bottom: 30px;
          }
        }
        &.result {
          border-radius: 29px !important;
          .div-input {
            border-bottom: 1px solid #E2E2E2;
            justify-content: flex-start;
            >input {
              margin-left: 40px;
              margin-right: 40px;
              font-size: 0.875rem;
              color: #8D8D8D;
              min-width: 180px;
              @media screen and (max-width: 1440px) {
                font-size: 1rem;
              }
            }
          }
        }
        &.result-quiz {
          min-height: 50px;
          display: flex;
          align-items: center;
          position: relative;
          .bottle-scent {
            height: 42px;
            padding: 0px 15px 0px 30px;
            @media screen and (max-width: 1024px) {
              height: 15px;
            }
          }
          >span {
            font-size: 0.875rem;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 1024px) {
              font-size: 1rem;
              padding-right: 50px;
            }
          }
          .bt-close {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
          }
        }
        .div-input {
          width: 100%;
          min-height: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          position: relative;
          .icon-search {
            height: 16px;
            margin-right: 5px;
          }
          >span {
            color: #0D0D0D !important;
          }
          >span, >input {
            // flex: 1;
            text-align: left;
            color: #8D8D8D;
            border: none;
            background: transparent;
            font-size: 0.875rem;
            font-weight: 500;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
            &::placeholder {
              color: #0D0D0D;
              font-size: 0.875rem;
              font-weight: 500;
              @media screen and (max-width: 1440px) {
                font-size: 1rem;
              }
            }
          }
          >div {
            height: 51px;
            width: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            .animate-loading {
              animation: animation-roate-360 1s infinite linear;
            }
            >img {
              height: 20px;
              object-fit: contain;
              object-position: center;
              position: absolute;
              right: 30px;
            }
            &.bg-color {
              background: #0D0D0D;
            }
          }
        }
      }
      .div-list-search {
        height: 278px;
        width: 100%;
        background: #FFFFFF;
        border-bottom-left-radius: 29px;
        border-bottom-right-radius: 29px;
        box-sizing: border-box;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 0px;
          background-color: #E2E2E2;
        }
        &::-webkit-scrollbar-thumb {
          background-color :#0D0D0D;
          border-radius: 25px;
        }
        .item-perfume {
          display: flex;
          flex-direction: row;
          margin: 10px 0px;
          padding-left: 30px;
          padding-right: 30px;
          align-items: center;
          cursor: pointer;
          >img {
            height: 45px;
            object-fit: contain;
            object-position: center;
          }
          >span {
            text-align: flex-start;
            color: #0D0D0D;
            font-size: 0.875rem;
            flex: 1;
            padding-left: 16px;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
          }
        }
      }
    
      .div-result {
        width: 70%;
        background: #FFFFFF;
        border: 2px solid #0D0D0D;
        box-sizing: border-box;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        @media screen and (max-width: 1024px){
          width: 100%;
        }
        .div-perfume {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid #E2E2E2;
          padding: 8px 0px;
          >img {
            height: 40px;
            margin-left: 10px;
          }
          >span {
            color: #0D0D0D;
            flex: 1;
            text-align: center;
            font-size: 0.875rem;
            @media screen and (max-width: 1440px) {
              font-size: 1rem;
            }
          }
          >button {
            background: transparent;
            border: none;
            >img {
              height: 14px;
            }
          }
        }
        .div-characteristics {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
          >span {
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            font-size: 0.75rem;
            padding: 0px 0px 20px 0px;
            width: 100%;
            @media screen and (max-width: 1440px) {
              font-size: 0.8571rem
            }
          }
          .div-list-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0px;
            width: 100%;
            .div-item-character {
              display: flex;
              flex-direction: row;
              width: 100%;
              padding: 5px 0px;
              >span {
                width: 110px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #0D0D0D;
                font-size: 0.75rem;
                @media screen and (max-width: 1440px) {
                  font-size: 0.8571rem
                }
              }
              .div-process {
                position: relative;
                flex: 1;
                .process-bg {
                  height: 8px;
                  background: #E2E2E2;
                  border-radius: 4px;
                  width: 100%;
                  position: absolute;
                  top: 50%;
                  left: 0px;
                  transform: translateY(-50%);
                }
                .process-percent {
                  height: 8px;
                  background: #6AC684;
                  border-radius: 4px;
                  width: 50%;
                  position: absolute;
                  top: 50%;
                  left: 0px;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
  }
}