@import '../../../styles/colors';

.nav-home-page {
  position:fixed;
  top: 0px;
  width: 100vw;
  z-index: 99;
  .message-menu-v2 {
    position: relative;
    background: $Secondary-60;
    height: 36px;
    @media screen and (max-width: 480px) {
      height: 33px;
    }
    .message-content {
      max-width: 1200px;
      margin: auto;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      @media screen and (max-width: 1252px) {
        max-width: 100%;
        padding: 0px 24px;
      }
      @media screen and (max-width: 991px) {
        max-width: 100%;
        padding: 0px 16px;
      }
      .div-region {
        width: 33.33%;
        height: 100%;
        display: flex;
        @media screen and (max-width: 480px) {
          width: fit-content;
        }
      }
      .block-boutique, .left-block {
        align-items: center;
        height: 100%;
        display: flex;
        // width: fit-content;
        cursor: pointer;
        margin-right: 12px;
        >svg {
          color: $Primary-60;
          font-size: 20px;
          @media screen and (max-width: 480px) {
            font-size: 16px;
          }
        }
        .text {
          font-weight: 500;
          font-size: 12px;
          color: $Primary-60;
          text-transform: uppercase;
          margin: 0px 4px;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
      .right-block {
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 33.33%;
        @media screen and (max-width: 480px) {
          display: none;
        }
        .click-icon {
          cursor: pointer;
          font-size: 18px;
          color: $Primary-60;
          position: relative;
          .number-total {
            font-size: 10px;
            position: absolute;
            top: -4px;
            right: -10px;
            line-height: 21px;
            padding: 0px 8px;
            border-radius: 15px;
            background: $Primary-60;
            color: $Secondary-60;
          }
        }
        .click-icon:nth-child(1) {
          margin-right: 16px;
        }
      }
      .custome-message {
        margin-bottom: 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 33.33%;
        @media screen and (max-width: 480px) {
          // width: unset;
          flex: 1;
        }
        .slick-list {
          .slick-slide {
            .text-message {
              font-weight: 500;
              font-size: 16px;
              color: $Primary-60;
              text-align: center;
              @media screen and (max-width: 480px) {
                width: 50%;
                font-size: 12px;
                text-align: right;
              }
              .rich-text {
                >p >a {
                  color: #B79B53;
                }
              }
            }
          }
        }
        > .slick-arrow {
          position: absolute;
          border: none;
          outline: none;
          padding: 0;
          top: 50%;
          left: 0;
          display: none;
          background: none;
          height: 20px;
          width: 20px;
          transform: translateY(-50%);
        }
        .bt-arrow-menu {
          position: absolute;
          border: none;
          outline: none;
          padding: 0;
          background: black;
          height: 20px;
          width: 20px;
          display: none;
          > i {
            color: #fff;
          }
          &-right {
            right: 22%;
            @media (min-width: 768px) and (max-width: 1024px) {
              right: 17%;
            }
            @media only screen and (max-width: 600px) {
              right: 6%;
            }
          }
          &-left {
            left: 22%;
            z-index: 2;
            @media (min-width: 768px) and (max-width: 1024px) {
              left: 17%;
            }
            @media only screen and (max-width: 600px) {
              left: 6%;
            }
          }
        }
      }
    }
  }
}