SECTION.step-3 {
  padding: 32px 0 0 !important;
  @media screen and (max-width: 1024px) {
    padding: 8px 0 16px !important;
    .btn-back {
      position: unset;
      margin-bottom: 8px;
    }
  }
  .time-select-box {
    padding: 24px 16%;
    background: #e2e2e2;
    display: flex;
    justify-content: space-around;
    position: relative;
    @media screen and (max-width: 1024px) {
      padding: 16px 0;
      background: #e2e2e2;
    }
    > button {
      background: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1024px) {
        padding-top: 6px;
      }
      img {
        max-width: 18px;
        margin: 8px;
        @media screen and (max-width: 1024px) {
          max-width: 50px;
        }
      }
    }
    .disable-button {
      opacity: 0.6;
    }
    input {
      background: black;
      color: white;
      text-align: center;
    }
    .react-datepicker-wrapper {
      position: relative;
    }
    .react-datepicker__tab-loop {
      position: absolute;
    }
    .react-datepicker-popper {
      position: absolute;
      will-change: transform;
      top: 0px;
      left: 0px;
      transform: translate(-50%, 56px) !important;
    }
  }
  .wrapper-timeline-box {
    // display: flex;
    padding: 40px 0 0;
    width: 80%;
    // justify-content: center;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 40px 15px 0;
    }
    .slick-arrow {
      top: 10%;
    }
    .slick-slider .slick-arrow.slick-prev {
      left: -100px;
    }
    .slick-slider .slick-arrow.slick-next {
      right: -100px;
    }
    h4 {
      text-align: center;
      margin: 14px;
      font-weight: 400;
      @media screen and (max-width: 1024px) {
        font-size: 13px;
      }
      @media screen and (max-width: 375px) {
        min-height: 40px;
      }
    }
    .wrapper-image {
      height: 160px;
      position: relative;
      background-size: cover !important;
      background-position: center !important;
      @media screen and (max-width: 1024px) {
        width: auto;
        height: 100px;
      }
    }
  }
  .note-select-box {
    display: flex;
    justify-content: flex-end;
    padding: 40px 4%;
    @media screen and (max-width: 1024px) {
      padding: 26px 7%;
    }
    div {
      display: flex;
      color: #c4c4c4;
      font-size: 20px;
      margin-left: 16px;
      @media screen and (max-width: 1024px) {
        margin-left: 16px;
        font-size: 16px;
      }
    }
    div:before {
      content: "";
      width: 24px;
      height: 24px;
      background-color: #ffffff;
      border: 1px solid #c4c4c4;
      margin-right: 16px;
      @media screen and (max-width: 1024px) {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
    div.unavailable:before {
      background-color: transparent !important;
      background-image: url("../../../../image/layer-mask-timeline.svg") !important;
    }
  }
  .timeline-selection {
    .provider-item {
      cursor: pointer;
      background: #ffffff;
      padding: 10px;
      font-size: 20px;
      text-align: center;
      // mask-image: url("../../../../image/layer-mask-timeline.svg");
      mask-position: 20px center;
      position: relative;
      font-weight: 400;
      @media screen and (max-width: 1024px) {
        font-size: 15px;
      }
      &.disabled-item {
        background: #ffffff;
        color: #c4c4c4;
        cursor: not-allowed;
        &::before {
          content: "";
          background: url("../../../../image/layer-mask-timeline.svg");
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }
      &.active-time-duration {
        background: #ffffff;
        color: #0d0d0d;
        cursor: not-allowed;
        &::before {
          content: unset;
        }
      }
      &.active-time-cell {
        background: #0d0d0d;
        color: #ffffff;
        &::before {
          content: unset;
          background: #0d0d0d;
        }
      }
      &.hidden-slot {
        height: 0px;
        padding: 0px;
        visibility: hidden;
      }
    }
  }
}
