.item-scent {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: flex-start;
  &.disabled {
    opacity: 0.4;
  }
  @media screen and (max-width: 767px) {
    padding: 12px 0px;
    background: unset;
  }
  .image-icon {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    object-fit: cover;
    border-radius: 5px;
  }
  .block-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 12px;
    &.custome-bottle {
      flex-direction: row;
      align-items: center;
      .text-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #2C2C22;
        margin-right: 8px;
      }
      .text-custome {
        font-weight: 400;
        font-size: 14px;
        color: #56564E;
      }
      .color-custome {
        margin: 0px 8px;
        width: 18px;
        height: 18px;
        border: 1px solid #8D826E;
        border-radius: 4px;
      }
      .bt-edit {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid #DADADA;
        >svg {
          color: #DADADA;
          width: 16px;
        }
      }
    }
    .step-scent {
      display: flex;
      justify-content: space-between;
      align-items:center;
      .block-select {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &.none-data {
          justify-content: space-between;
          @media screen and (max-width: 767px) {
            justify-content: space-between;
          }
          .block-text {
            flex: 1;
          }
        }
        .text-name {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2C2C22;
        }
        .bt-delete {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          border: 1px solid rgba(168, 7, 26, 0.3);
          margin-left: 12px;
          >svg {
            color: rgba(168, 7, 26, 0.3);
            width: 16px;
          }
        }
        .block-text {
          padding-right: 12px;
          display: flex;
          flex-direction: column;
          min-height: 48px;
          justify-content: center;
          .tab-text {
            width: fit-content;
            font-weight: 500;
            font-size: 10px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #2C2C22;
            padding: 4px 8px;
            background: #EBD8B8;
            border-radius: 3px;
            margin-bottom: 8px;
          }
          .text-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #2C2C22;
          }
          .text-des {
            font-weight: 400;
            font-size: 14px;
            color: #56564E;
            margin-top: 8px;
          }
        }
        >button {
          height: 40px;
          @media screen and (max-width: 767px) {
            height: 28px;
            width: 28px;
            min-width: unset;
            padding: 0px;
            >svg {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .block-recommend {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    border-top: 1px solid #BCAD93;
    .text {
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #56564E;
      padding: 8px 0px;
    }
    .list-scent {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      .item-scent-recommend {
        align-items: center;
        width: calc((100% - 16px)/3);
        position: relative;
        .image-scent {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          cursor: pointer;
          padding: 8px;
          border: 1px solid #D4C2A6;
          width: 100%;
          border-radius: 8px;
          >img {
            width: 100%;
            height: 60px;
            border-radius: 7.87159px;
            object-fit: cover;
            &:hover, &.active {
              border: 1px solid #2C2C22;
              opacity: 0.7;
            }
          }
          .name-text {
            position: absolute;
            padding: 0px 5px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 8px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color:#EBD8B8;

          }
        }
        .text-family {
          background: #F5ECDC;
          max-width: 90%;
          position: absolute;
          bottom: 71px;
          padding: 0px 4px;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 90%;
          text-align: center;
          font-weight: 600;
          font-size: 8px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #56564E;
          >svg {
            width: 7px;
            height: 7px;
            margin-left: 2px;
          }
        }
      }
    }
  }
  .block-holder {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background: #F1E4CD;
    border-radius: 8px;
    margin-top: 12px;
    >img {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }
    >div {
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #2C2C22;
    }
  }
}