.explore-more-scents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 18px;

  padding: 0;
  margin: 0;

  .scent {
    height: 280px;
    max-height: 280px;
    border-radius: 20px;
    overflow: hidden;

    position: relative;

    cursor: pointer;
    &:hover {
      .div-image > img {
        transform: scale(1.25);
      }
    }

    .div-image {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all ease 400ms;
      }
    }

    .div-content {
      width: 100%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: 99;
      padding: 24px;

      color:#EBD8B8;
      text-align: center;

      .div-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;

        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
      .div-family {
        font-size: 18px;
        line-height: 150%;
      }

      @media screen and (max-width: 480px) {
        padding: 8px;
        .div-name {
          font-size: 14px;
        }
        .div-family {
          font-size: 10px;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: linear-gradient(180deg, rgba(44, 44, 34, 0) 0%, #2C2C22 100%);
      z-index: 9;
    }

    @media screen and (max-width: 480px) {
      height: 108px;
    }
  }
}