.b2b-partnership {
  margin-top: 227px;
  @media (max-width: 1440px) {
    margin-top: 170px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
  }
  .service-list {
    background-position: center center;
    background-size: cover;
    min-height: 210px;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.85);
    .icon-box {
      color: #ffffff;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin-bottom: 1rem;
      }
      p {
        letter-spacing: 0.05rem;
        text-align: center;
      }
    }
    .col-md-3 {
      border: none;
    }
    @media screen and (max-width: 767.98px) {
      padding: 1.1rem 2rem;
      .divider-mobile:first-of-type {
        border-right: 1px solid #b79b53;
        border-bottom: 1px solid #b79b53;
      }
      .divider-mobile:nth-child(2) {
        border-left: 1px solid #b79b53;
        border-bottom: 1px solid #b79b53;
      }
      .divider-mobile:nth-child(3) {
        border-right: 1px solid #b79b53;
        border-top: 1px solid #b79b53;
      }
      .divider-mobile:last-child {
        border-left: 1px solid #b79b53;
        border-top: 1px solid #b79b53;
      }
      .icon-box {
        padding: 2rem 0;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
