@import '../../../styles/colors';

.item-scent-select-v2 {
  margin-bottom: 12px;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    margin-bottom: 8px;
  }
 .item-scent-select-body {
   display: flex;
   flex-direction: row;
   align-items: center;
   .sub-header, .tex-right {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 36px;
     font-weight: bold;
     font-size: 16px;
     color: #56564E;
     margin-right: 8px;
   }
   .tex-right {
    margin-right: 0px;
   }
   .image-header {
     width: 36px;
     height: 36px;
     margin-right: 8px;
   }
   .image-scent {
     width: 56px;
     height: 48px;
     padding-right: 8px;
     border-right: 1px solid #BCAD93;
     @media screen and (max-width: 1024px) {
      height: 32px;
      width: 36px;
      padding-right: 4px;
      margin-right: 4px;
     }
     >img {
       width: 100%;
       height: 100%;
       border-radius: 5px;
     }
   }
   .name-scent {
     padding-left: 14px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     flex: 1;
     @media screen and (max-width: 1024px) {
      padding-left: 10px;
     }
     .items-center {
       >h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: $Secondary-40; 
        margin-bottom: 0px;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
       }
     }
     >span {
      font-size: 12px;
      line-height: 150%;
      color: $Secondary-10;
      @media screen and (max-width: 1024px) {
        font-size: 10px;
      }
     }
   }
   .bt-add-scent {
     @media screen and (max-width: 1024px) {
      width: 36px;
      height: 36px;
      min-width: unset;
      border-radius: 50%;
      padding: 0px;
     }
     &.bt-icon {
      width: 36px;
      height: 36px;
      min-width: unset;
      border-radius: 50%;
      padding: 0px;
     }
   }
   .bt-delete-scent {
    width: 36px;
    height: 36px;
    min-width: unset;
    border-radius: 50%;
    padding: 0px;
   }
 } 
}