.workshop-detail {
  display: flex;
  align-items: stretch;
  column-gap: 48px;
  &-overview {
    width: calc(100% - 416px - 48px);
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .ws-images {
      display: flex;
      column-gap: 8px;

      overflow: auto;
      margin-bottom: 24px;
      .ws-image {
        cursor: pointer;
        flex: 1;
        min-width: 140px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .ws-content {
      .ws-title {
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        color: #2C2C22;
        margin-bottom: 8px;
      }
      .ws-description > div p {
        font-size: 16px;
        line-height: 150%;
        color: #56564E;
      }
    }
  }
  &-adding {
    width: 416px;
    flex-shrink: 0;

    background: #F1E4CD;
    border-radius: 20px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;

    .ws-basic-info {
      display: flex;
      flex-direction: column;
      row-gap: 24px;

      .ws-price {
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        color: #2C2C22;
        > span {
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: #56564E;
        }
      }
      .ws-duration {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #2C2C22;

        display: flex;
        align-items: center;
          > img {
            margin-right: 8px;
          }
      }
      .ws-list {
        &-title {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2C2C22;

          margin-bottom: 12px;
        }
        &-item {
          font-size: 16px;
          line-height: 150%;
          color: #56564E;

          display: flex;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 16px;
          }
          &.no-icon {
            padding-left: 8px;
          }
          > img {
            margin-right: 8px;
          }
          > span {
            margin: 0 16px 0 12px;
          }
        }
      }
    }
    .ws-add-to-cart {
      display: flex;
      align-items: center;
      column-gap: 16px;

      &.block-fixed {
        width: 100%;

        background-color: #F1E4CD;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;

        padding: 24px 48px;

        @media screen and (max-width: 480px) {
          padding: 16px 24px;
        }
      }
      .ws-select {
        width: 84px;
        flex-shrink: 0;
        column-gap: 16px;
        &__control {
          width: 100%;
          height: 54px;

          background: #F5ECDC;
          border: 1px solid #D4C2A6;
          border-radius: 30px;

          outline: none;
          box-shadow: none;
          cursor: pointer;

          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 12px;
        }
        &__indicator-separator {
          display: none;
        }
        &__value-container {
          flex: unset;
        }
        &__single-value {
          margin: 0;
          color: #2C2C22;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
        }
        &__menu {
          background: #F5ECDC;
          &-list {
            padding: 0;
          }
        }
        &__option {
          cursor: pointer;
          text-align: center;
          background-color: transparent;
          &--is-selected {
            background-color: #ebd8b8;
            color: #2C2C22;
            font-weight: 600;
          }
          &:not(.ws-select__option--is-selected):hover {
            background-color: #F1E4CD;
          }
        }
      }
      .ws-btn {
        height: 54px;
        flex-grow: 1;
        > button {
          width: 100%;
          height: 100%;

          border-radius: 30px;
          border: 0;
          background-color: #2C2C22;
          padding: 16px 24px;

          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #EBD8B8;
          text-transform: none;
        }
      }
    }
  }

  .detail-gift-block {
    width: 416px;
  }

  @media screen and (max-width: 991px) {
    flex-direction: column;
    row-gap: 24px;
    column-gap: 0;

    &-overview {
      width: 100%;
      .ws-images .ws-image {
        min-width: 150px;
      }
    }

    &-adding, .detail-gift-block {
      width: 100%;
    }
  }
}