@import '../../styles/colors';

.silder-hero {
  width: 100%;
  height: 573px;
  background: $Primary-10;
  @media screen and (max-width: 991px) {
    height: calc(100vw * 0.397);
  }
  @media screen and (max-width: 767px) {
    height: 226px;
  }
  .content-hero {
    max-width: 100%;
    width: 100%;
    margin: auto;
    height: 100%;
    @media screen and (max-width: 991px) {
      max-width: unset;
    }
    .item-block-hero {
      max-width: 100%;
      height: 573px;
      width: 100%;
      position: relative;
      @media screen and (max-width: 991px) {
        max-width: unset;
        height: calc(100vw * 0.397);
      }
      @media screen and (max-width: 767px) {
        height: 226px;
      }
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .block-text {
        position: absolute;
        z-index: 1;
        // width: 485px;
        width: 1200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 1252px) {
          width: 50%;
          left: 26px;
          transform: translateY(-50%);
        }
        @media screen and (max-width: 991px) {
          left: 16px;
        }
        @media screen and (max-width: 480px) {
          left: 24px;
        }
        .heading {
          width: 485px;
          font-size: 48px;
          @media screen and (max-width: 991px) {
            width: 100%;
            font-size: 36px;
          }
          @media screen and (max-width: 767px) {
            font-size: 18px;
          }
        }
        >button {
          margin-top: 24px;
          font-size: 16px;
          height: 56px;
          padding: 0px 24px;
          border-radius: 30px;
          @media screen and (max-width: 991px) {
            margin-top: 20px;
            height: 44px;
            padding: 0px 20px;
            font-size: 14px;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }

    .slick-slider {
      width: 100%;
      .slick-dots {
        width: max-content;
        bottom: 24px;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 991px) {
          bottom: 8px;
        }
        .slick-active {
          >button{
            border-radius: 50%;
            padding: 0px;
            &::before {
              opacity: 1;
              color: $Secondary-60;
            }
         }
        }
        >li {
          margin: 0px 8px;
          width: 16px;
          height: 16px;
          @media screen and (max-width: 991px) {
            margin: 0px 4px;
            width: 8px;
            height: 4px;
          }
          >button {
            &::before {
              opacity: 1;
              color: $Primary-70;
              font-size: 16px;
              top: 1px;
              width: 16px;
              height: 16px;
              @media screen and (max-width: 991px) {
                font-size: 8px;
                width: 8px;
                height: 8px;
              }
            }
          }
        } 
      }
    }
  }
}