.all-clean-scent-v2 {
  justify-content: flex-end;
  margin-bottom: 60px;
  .content-all {
    padding: 20px 13px;
    align-items: center;
    border: 1px solid #E6E6E6;
    @media screen and (max-width: 1024px) {
      padding: 20px 10px 20px 7px;
    }
    >h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 23px;
      text-align: center;
      color: #545454;
      margin-bottom: 20px;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-size: 1.14rem;
      }
    }
    .list-event {
      display: inline-flex;
      flex-wrap: wrap;
      .item-clean {
        width: 50%;
        margin-bottom: 15px;
        padding-right: 15px;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        >img {
          width: 40px;
          height: 40px;
          margin-right: 8px;
          @media screen and (max-width: 1024px) {
            width: 30px;
            height: 30px;
            margin-right: 14px;
          }
        }
        .text-name {
          >h4 {
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 26px;
            color: #0D0D0D;
            margin-bottom: 7px;
            @media screen and (max-width: 1440px) {
              font-size: 1.28rem;
            }
          }
          >span {
            font-size: 0.8125rem;
            line-height: 19px;
            color: rgba(13, 13, 13, 0.7);
            font-weight: normal;
            @media screen and (max-width: 1440px) {
              font-size: 0.93rem;
            }
          }
        }
      }
    }
  }
  .bt-tearm {
    margin-top: 17px;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 17px;
    color: #545454;
    text-align: right;
    @media screen and (max-width: 1440px){
      font-size: 0.857rem;
    }
    @media screen and (max-width: 1024px) {
      line-height: 13px;
    }
    >span {
      text-decoration: underline;
    }
  }
}