.workshop-tabs {
  display: flex;
  flex-direction: column;

  &-header {
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 48px;
    .tab-item {
      width: 240px;

      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      color: #BCAD93;

      padding: 8px 16px;
      cursor: pointer;
      white-space: nowrap;

      &:not(.tab-item-active):hover {
        color: #56564E;
      }

      &-active {
        color: #2C2C22;
        border-bottom: 1px solid #2C2C22;
        cursor: default;
      }
    }
  }

  @media screen and (max-width: 991px) {
    &-header {
      margin-bottom: 24px;
      .tab-item {
        font-size: 16px;
      }
    }
  }
}