.geneder-quiz {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #181818;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  .div-question {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: 50%;
    }
    .title {
      width: calc(100% - 100px * 2);
      text-align: start;
      font-family: 'Ferrari';
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-top: 0px;
      @media screen and (max-width: 991px) {
        width: calc(100% - 70px * 2);
      }
      @media screen and (max-width: 767px) {
        width: calc(100% - 16px * 2);
        text-align: center;
      }
    }
  }
  .div-answer {
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: 50%;
      padding: 16px;
    }
    .div-item-answer-gender {
      width: 100%;
      height: calc((100% - 24px)/3);
      @media screen and (max-width: 767px) {
        height: calc((100% - 26px)/3);
      }
    }
  }
}