.div-login-page {
  margin-top: 228px;
  background: #fff;
  @media only screen and (max-width: 1440px) {
    margin-top: calc(228px * 0.75);
  }
  @media only screen and (max-width: 1024px) {
    margin-top: 87px;
  }
  display: flex;
  .div-drawer-login {
    margin: auto;
    padding: 30px 0px 100px 0px; 
    @media only screen and (max-width: 1024px) {
      padding: 30px 15px 100px 15px; 
    }
  }
}