.popup-add-to-cart {
  width: 780px !important;
  max-width: 780px !important;
  position: relative;
  color: #EBD8B8;
  @media screen and (max-width: 767px) {
    width: calc(100vw - 15px * 2) !important;
    max-width: calc(100vw - 15px * 2) !important;
    margin: auto !important;;
    margin-top: 30px !important;
  }
  .modal-content {
    border-radius: 0px;
    color: #0D0D0D;
    background: #F7F7F7;
    max-height: 90vh;
    border-radius: 20px;
    overflow: hidden;
    background: #2C2C22;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 1024px) {
      height: calc(100vh - 130px);
      overflow-y: auto;
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      height: 100%;
      max-height: 90vh;
      @media screen and (max-width: 1024px) {
        display: inherit;
        flex-direction: unset;
      }
      .div-body-add-cart {
        height: 100%;
        overflow-y: auto;
        width: 100%;
        .header-title {
          position: relative;
          display: flex;
          width: 100%;
          justify-content:center;
          color: #EBD8B8;
          .bt-close {
            position: absolute;
            top: 24px;
            right: 44px;
            z-index: 1;
            width: 44px;
            height: 44px;
            background: #EBD8B8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 767px) {
              top: 26px;
              left: 26px;
              right: unset;
            }
            >svg {
              font-size: 14px;
            }
          }
          >h2 {
            font-weight: 400;
            font-size: 32px;
            line-height: 120%;
            margin-top: 32px;
            margin-bottom: 32px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            @media screen and (max-width: 767px) {
              font-size: 20px;
              margin-top: 84px;
              margin-bottom: 26px;
            }
          }
        }
        .info-item {
          display: flex;
          align-items: center;
          // height: 260px;
          width: 100%;
          padding: 0px 32px;
          margin-bottom: 32px;
          @media screen and (max-width: 767px) {
            height: unset;
            flex-direction: column;
            padding: 0px 24px;
          }
          .div-image {
            width: 282px;
            height: 100%;
            display: flex;
            justify-content: center;
            margin-right: 36px;

            border-radius: 15px;
            overflow: hidden;
            @media screen and (max-width: 767px) {
              width: 100%;
              height: unset;
              // max-height: 170px;
            }
            >img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
            .div-image-bottle-custom {
              width: fit-content;
              height: fit-content;
              .img-bottle {
                height: 260px;
                // @media screen and (max-width: 767px) {
                //   height: 170px;
                // }
              }
              .img-name {
                width: 54px;
                height: 163px;
                top: 72px;
                border-radius: 20px;
                // @media screen and (max-width: 767px) {
                //   top: 54px;
                //   width: 35px;
                //   height: 108px;
                //   border-radius: 14px;
                // }
              }
              .image-logo {
                top: 83px;
                width: 38px;
                // @media screen and (max-width: 767px) {
                //   top: 59px;
                //   width: 26px;
                // }
              }
              .text-des-custome {
                bottom: 37px;
                font-size: 5px;
                // @media screen and (max-width: 767px) {
                //   bottom: 21px;
                //   font-size: 4px;
                // }
              }
              .text-size-custome {
                bottom: 29px;
                font-size: 5px;
                // @media screen and (max-width: 767px) {
                //   bottom: 14px;
                //   font-size: 4px;
                // }
              }
              .custome-name {
                top: 207px;
                font-size: 6px;
                // @media screen and (max-width: 767px) {
                //   top: 132px;
                //   font-size: 5px;
                // }
              }
              .onMid {
                top: 151px;
                // @media screen and (max-width: 767px) {
                //   top: 100px;
                //   >span {
                //     font-size: 3px;
                //   }
                // }
              }
              .custome-only-name {
                top: 202px;
              }
              .div-ingredients {
                top: 141px;
              }
            }
          }
          .div-name {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 767px) {
              width: 100%;
              height: auto;
              margin-top: 36px;
            }
            >h3 {
              font-weight: normal;
              font-weight: 400;
              font-size: 24px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #EBD8B8;
              margin-bottom: 8px;
            }
            >span {
              font-weight: 600;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              font-size: 12px;
              color: #BCAD93;
              margin-bottom: 16px;
            }
            .info-detail {
              display: flex;
              flex-direction: column;
              margin-bottom: 34px;
              @media screen and (max-width: 767px) {
                // margin: 11px 0px;
              }
              >span:nth-child(1) {
                margin-bottom: 16px;
              }
              >span:nth-child(2) {
                font-weight: 600;
              }
              >span {
                font-size: 20px;
                font-weight: 400;
                font-size: 20px;
                color: #EBD8B8;
              }
            }
            >button {
              color: #EBD8B8;
              width: fit-content;
              @media screen and (max-width: 767px) {
                width: 100%;
              }
            }
          }
        }
        .line-row {
          height: 1px;
          background: #414138;
          width: calc(100% - 32px * 2);
          margin: auto;
          margin-bottom: 24px;
          @media screen and (max-width: 767px) {
            width: calc(100% - 24px * 2);
          }
        }
        .list-related {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 34px;
          width: 100%;
          background: #2C2C22;
          padding-left: 16px;
          padding-right: 16px;
          @media screen and (max-width: 767px) {
            padding: 0px 16px 41px 16px;
          }
          .list-item {
            width: 100%;
          }
          .title-list {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            color: #EBD8B8;
            text-align: center;
            margin-bottom: 16px;
          }
          .item-related {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;
            @media screen and (max-width: 767px) {
              margin: 10px 0px;
            }
            >img {
              height: 142px;
              width: 100%;
              object-fit: contain;
              object-position: center;
              margin-bottom: 16px;
              @media screen and (max-width: 767px) {
                height: 100px;
              }
            }
            .name {
              font-weight: 600;
              font-size: 12px;
              line-height: 150%;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: #EBD8B8;
              margin-bottom: 8px;
            }
            .price {
              font-weight: 600;
              font-size: 12px;
              line-height: 150%;
              color: #EBD8B8;
            }
          }
        }
      }
    }
  }
}