.review-banner {
  // margin-top: 227px;
  // @media screen and (max-width: 1440px) {
  //   margin-top: 170px;
  // }
  // @media screen and (max-width: 1024px){
  //   margin-top: 86px;
  // }
  .div-go-page {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    >span {
      font-size: 10px;
      color: #8D8D8D;
    }
    .input-page {
      width: 40px;
      height: 27px;
      border: 1px solid #E2E2E2;
      border-radius: 3px;
      font-size: 16px;
      color: #0D0D0D;
      text-align: center;
      margin: 0px 5px;
    }
    .bt-go {
      border: none;
      font-size: 10px;
      color: #0D0D0D;
      background: transparent;
      >i {
        font-size: 10px;
        margin-left: 3px;
      }
    }
  }
  .slick-slider {
    .slick-arrow {
      &.slick-prev {
        display: none;
      }
      &.slick-next {
        &::before {
          width: 40%;
          height: 40%;
          bottom: 10%;
          right: 10%;
        }
      }
    }

    .slick-dots {
      width: 40%;
      right: 0px;
      ul {
        display: flex;
      }
      li {
        // width: 0.5rem;
        left: 0px;
        display: inline-block;
        bottom: 4.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #0d0d0d;
        opacity: 0.5;

        .page-numbers {
          i {
            &::before {
              content: "\f054";
            }
          }
        }

        &.slick-active {
          opacity: 1;
          // button::before {
          //   content: "";
          //   opacity: 1;
          //   z-index: 1;
          //   position: absolute;
          //   top: 30%;
          //   left: 30%;
          //   transform: translate(-50%, -50%);
          //   width: 24px;
          //   height: 24px;
          //   background-color: #0D0D0D;
          //   border: 5px solid #fff;
          //   border-radius: 20px;
          // }

          // button::after {
          //   content: "";
          //   position: absolute;
          //   top: 30%;
          //   left: 30%;
          //   transform: translate(-50%, -50%);
          //   width: 28px;
          //   height: 28px;
          //   background-color: #0D0D0D;
          //   border-radius: 20px;
          // }

          // .page-number {
          //   width: fit-content;
          // }
        }
      }
    }
  }

  .__item {
    .banner-content {
      // height: 40rem;
      padding: 5.975rem 7.75rem 0rem 7.75rem;

      @media (max-width: 1440px) and (min-width: 1024px) {
        padding: 5.975rem 4rem 5rem 4rem;
      }

      h3 {
        font-weight: bold;
        font-size: 2.125rem;
        line-height: 2.875rem;

        @media (max-width: 1440px) {
          font-size: 1.5rem;
        }
      }

      p {
        padding: 4.75rem 0rem;
        font-size: 1.375rem;
        line-height: 1.875rem;

        @media (max-width: 1440px) {
          font-size: 1rem;
          padding: 1rem 0rem;
        }
      }

      a {
        background-color: #0D0D0D;
        font-weight: 600;
        font-size: 1.375rem;
        padding: 0.875rem 1rem;
        color: #fff;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border-radius: 0.375rem;
        text-decoration: none;

        @media (max-width: 1440px) and (min-width: 1024px) {
          font-size: 0.875rem;
        }
      }
    }
  }
}
