.wrapper-blogs {
  // margin-top: 70px;
  height: calc(100vh - 104px);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  .anchor {
    position: absolute;
    top: -104px;
  }
  @media screen and (max-width: 1024px) {
    height: calc(100vh - 64px);
    .anchor {
      position: absolute;
      top: -64px;
    }
  }
  .scroll-top-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    position: fixed;
    bottom: 4em;
    right: 1em;
    z-index: 99;
    transition: 0.5s;
    opacity: 0;
    cursor: pointer;
    img {
      margin-bottom: 0.5em;
    }
    @media screen and (max-width: 1024px) {
      bottom: 2em;
      right: 1em;
      position: fixed;
    }
  }
}
