.skin-tone-quiz {
  display: flex;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
  >div {
    width: 50%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  .info-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1E4CD;
    position: relative;
    @media screen and (max-width: 991px) {
      flex: 1;
    }
  }
}