@import '../../styles/colors';

.item-product-page {
  align-items: center;
  max-height: 700px;
  @media screen and (max-width: 480px) {
    max-height: 550px;
  }
  &.product-base {
    width: 300px;
    @media screen and (max-width: 1024px) {
      width: calc((100vw - 24px * 2 - 12px * 2)/3);
    }
    @media screen and (max-width: 768px) {
      width: calc((100vw - 24px * 2 - 12px)/2);
      max-height: 580px;
    }
    .div-content-product {
      width: 100%;
      .div-card {
        width: 100%;
      }
      .image-product {
        position: relative;
        bottom: auto;
        z-index: 2;
        width: 215px;
        height: 300px;
        border-radius: 300px;
        background-color: #fff4e0;
        box-shadow: 4px 4px 20px rgba(141, 130, 110, 0.5);
        background-position: 50% 50%;
        background-size: auto;
        background-repeat: no-repeat;
        @media screen and (max-width: 767px) {
          display: flex;
          justify-content: center;
          width: 85%;
          height: 300px;
          max-width: 220px;
          border-radius: 200px;
        }
        @media screen and (max-width: 480px) {
          width: 100px;
          height: 140px;
          // max-width: 180px;
          min-width: auto;
          margin-right: 12px;
          margin-left: 12px;
          border-radius: 295px;
          // background-size: 80%;
        }
        .image-bg-full {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          opacity: 0.7;
          border-radius: 300px;
          @media screen and (max-width: 767px) {
            border-radius: 200px;
          }
          @media screen and (max-width: 480px) {
            border-radius: 300px;
          }
        }
        .image-bg {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          opacity: 0.7;
          border-radius: 300px;
          @media screen and (max-width: 767px) {
            border-radius: 200px;
          }
          @media screen and (max-width: 480px) {
            border-radius: 300px;
          }
          >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .product-image {
          position: absolute;
          bottom: -20px;
          z-index: 3;
          transform: scale(1) translateX(-50%);
          transition: all 0.2s;
          &:hover {
            transform: scale(1.05) translateX(-47%);
          }
        }
      }
      .div-card {
        position: relative;
        top: -130px;
        z-index: 1;
        width: 100%;
        min-height: 470px;
        padding: 200px 24px 24px 24px;
        border-radius: 30px;
        background-color: #f1e4cd;
        margin-top: unset;
        justify-content: space-between;
        @media screen and (max-width: 480px) {
          // width: auto;
          // min-height: 518px;
          min-height: 348px;
          border-radius: 10px;
          padding: 105px 24px 24px 24px;
          top: -65px;
          padding-right: 12px;
          padding-left: 12px;
        }
        @media screen and (max-width: 370px) {
          min-height: 370px;
        }
        @media screen and (max-width: 318px) {
          min-height: 390px;
        }
        @media screen and (max-width: 312px) {
          min-height: 410px;
        }
        .div-type {
          min-height: 36px;
          @media screen and (max-width: 1024px) {
            min-height: 28px;
          }
          .div-image {
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          >span {
            @media screen and (max-width: 1024px) {
              padding-left: 0px;
              font-size: 10px;
              line-height: 28px;
            }
          }
        }
        >button {
          margin-top: 20px;
          @media screen and (max-width: 1024px) {
            margin-top: 24px;
            padding: 0px 15px;
            font-size: 12px;
          }
        }
      }
    }
  }
  &.item-creation {
    // max-height: 650px;
    @media screen and (max-width: 1024px) {
      max-height: 750px;
    }
    @media screen and (max-width: 480px) {
      max-height: 550px;
    }
    .div-content-product {
      .div-card {
        min-height: 470px;
        @media screen and (max-width: 480px) {
          // min-height: 518px;
          min-height: 348px;
        }
        @media screen and (max-width: 370px) {
          min-height: 370px;
        }
        @media screen and (max-width: 318px) {
          min-height: 390px;
        }
        @media screen and (max-width: 312px) {
          min-height: 410px;
        }
      }
    }
  }
  &.product-fillter {
    width: 263px;
    @media screen and (max-width: 1024px) {
      width: calc((100vw - 24px * 2 - 12px * 2)/3);
    }
    @media screen and (max-width: 768px) {
      width: calc((100vw - 24px * 2 - 12px)/2);
    }
  }
  .div-content-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-product {
    position: relative;
    z-index: 1;
    cursor: pointer;
    >img {
      width: 215px;
    }
    .product-image {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      height: 280px;
      // width: 180px;
      width: 100%;
      object-fit: contain;
      object-position: bottom;
      z-index: 1;
      @media screen and (max-width: 480px) {
        height: 120px;
        // width: 120px;
      }
    }
  }
  .div-card {
    padding: 24px;
    background: $Primary-30;
    border-radius: 30px;
    padding-top: 218px;
    margin-top: -194px;
    z-index: 0;
    .div-text-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: 1;
      .content-text {
        flex: 1;
        .body-text-s-regular {
          font-size: 16px;
          @media screen and (max-width: 991px) {
            font-size: 12px;
          }
        }
      }
      .div-type {
        width: fit-content;
        background: #FFF4E0;
        border: 1px solid $Primary-80;
        box-sizing: border-box;
        border-radius: 40px;
        padding: 0px 20px;
        align-items: center;
        margin-bottom: 16px;
        .div-image {
          padding-right: 12px;
          border-right: 1px solid #BCAD93;
          width: fit-content;
          >img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
        .text-p {
          flex: 1;
          font-weight: 500;
          font-size: 14px;
          line-height: 28px;
          text-transform: uppercase;
          color: $Secondary-60;
          padding-left: 12px;
          @media screen and (max-width: 1024px) {
            padding-left: 0px;
            font-size: 12px;
            line-height: 28px;
          }
        }
      }
      .body-text-s-regular {
        margin-bottom: 16px;
      }
      .other-Tagline {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: $Secondary-60;
        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }
    }
    >button {
      margin-top: 32px;
    }
  }
}