.perfume-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  &.height-quiz {
    min-height: 100vh;
    height: auto !important;
    @media screen and (max-width: 767px) {
      min-height: 100vh;
    }
  }
  .block-info-quiz {
    @media screen and (max-width: 991px) {
      height: calc((100vh - 82px) / 2.5);
    }
    @media screen and (max-width: 767px) {
      height: auto;
    }
    .content-info {
      .text-d {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
  .info-right {
    // flex: 1;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    @media screen and (max-width: 991px) {
      height: auto;
      flex: unset;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
      flex: unset;
    }
  }
  .list-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 40px;
    width: 744px;
    @media screen and (max-width: 991px) {
      width: calc(100vw - 64px * 2);
      flex-direction: column-reverse;
    }
    @media screen and (max-width: 767px) {
      width: calc(100vw - 24px * 2);
      flex-direction: column-reverse;
    }
    >button {
      width: 366px;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
    >button:nth-child(1) {
      color: #2C2C22;
      @media screen and (max-width: 991px) {
        background: transparent;
        border: none;
        color: #BCAD93;
        font-size: 14px;
        &:hover {
          color: #BCAD93;
        }
        &:active {
          background: transparent;
        }
      }
    }
  }
}