.color-selected {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  &.active {
    opacity: 1;
    z-index: 2;
    height: 100%;
  }
  &.hidden-active {
    height: 0px;
    opacity: 0;
    z-index: 0;
  }
}
.question-skin-quiz-v2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  .bt-color-quiz {
    height: 20%;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      height: 25%;
      transition: all 0.2s;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    &.active {
      height: 25%;
    }
  }
}