.gift-card-detail {
  .block-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 72px;
    align-items: stretch;

    @media screen and (max-width: 1199px) {
      column-gap: 48px;
    }

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(1, 100%);
      gap: 48px 0;

      .block-image {
        height: 400px;
      }
      .block-detail {
        height: unset;
      }
    }

    @media screen and (max-width: 767px) {
      row-gap: 24px;
    }
  }
  .block-image {
    flex: 1;
    height: 494px;
    border-radius: 15px;

    position: relative;
    z-index: 1;
    overflow: hidden;

    > img {
      position: absolute;
      z-index: 9;
      top: 0px;
      left: 0px;
    }

    .gift-card-img {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 16px;
      > img {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }
    }
    .block-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      .text-price {
        z-index: 3;

        font-weight: 600;
        font-size: 46px;
        line-height: 120%;

        padding: 0 40px;

        > span {
          font-size: 26px;
        }
      }
      .text {
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        text-transform: uppercase;
        color: #EBD8B8;
        padding: 0 40px;
        margin-bottom: 12px;
        z-index: 3;
      }
      .div-card-name {
        width: 100%;
        height: 80px;
        position: relative;
        margin-bottom: 100px;
        > img {
          width: 100%;
          height: 100%;
        }
        .text-name {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          font-weight: 500;
          font-size: 56px;
          line-height: 120%;
          text-transform: uppercase;
          text-align: right;

          width: 100%;
          padding: 0 42px;

          @media screen and (max-width: 767px) {
            font-size: 42px;
            &.decrease-fsz {
              font-size: 36px;
            }
          }
        }

        @media screen and (max-width: 991px) {
          margin-bottom: 66px;
        }
        @media screen and (max-width: 480px) {
          margin-bottom: 62px;
        }
      }
    }
    .custom-content-text {
      position: relative;
      z-index: 99;
      width: fit-content;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 24px 32px;
      .content-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
        color: #2C2C22;
        margin-bottom: 8px;
      }
      .content-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #56564E;
        margin-bottom: 16px;
      }
      .content-submission {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 8px;

        .text-field {
          flex-grow: 1;
          > input {
            width: 100%;
            height: 56px;
            padding: 0 24px;

            border-radius: 30px;
            border: 1px solid #D4C2A6;
            background-color: #F1E4CD;

            font-size: 14px;
            line-height: 170%;
            color: #8D826E;
          }
        }
        .save-btn {
          flex-shrink: 0;
          text-transform: initial;
          &:disabled {
            opacity: 0.6;
            color: #E6D288;
            background-color: #2C2C22;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: 12px;

      width: calc(100% - 24px);
      height: calc(100% - 24px);

      overflow: hidden;
      border-radius: 20px;
      border: 4px solid;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      overflow: hidden;
      border-radius: 20px;
      z-index: 1;
    }

    &.gift-silver {
      background: linear-gradient(90deg, #EEEEEE 0%, #FFFFFF 48.65%, #EEEEEE 100%);
      .block-content .text-price, .div-card-name .text-name {
        color: #56564E;
      }
      &:before {
        border-color: #2C2C22;
        opacity: 0.1;
      }
      &:after {
        background-image: url('../../../../imagev2/png/silver-gift-card-detail-bg.png');
      }
    }
    &.gift-gold {
      background: linear-gradient(0deg, #E2D5BA, #E2D5BA), linear-gradient(90deg, #E8CE92 0%, #FFF3D3 48.65%, #E8CE92 100%);
      .div-card-name > img {
        mix-blend-mode: soft-light;
      }
      .block-content .text-price, .div-card-name .text-name {
        color: #414138;
      }
      &:before {
        border-color: #FFFFFF;
      }
      &:after {
        background-image: url('../../../../imagev2/png/platinum-gift-card-detail-bg.png');
      }
    }
    &.gift-platinum {
      background: linear-gradient(90deg, #1A1A14 0%, #2C2C22 21.84%, #494938 52.08%, #2C2C22 84.83%, #1A1A14 100%);
      .block-content .text-price, .div-card-name .text-name {
        color: #EBD8B8;
      }
      &:before {
        border-color: #EBD8B8;
        opacity: 0.75;
      }
      &:after {
        opacity: 0.25;
        background-image: url('../../../../imagev2/png/platinum-gift-card-detail-bg.png');
      }
    }
    &.gift-custom {
      background: linear-gradient(94.28deg, #AE6E55 1.53%, #D99B83 12.97%, #AE6E55 49.11%), linear-gradient(94.28deg, #D8E1E8 1.53%, #F8F9FB 12.97%, #DBE3EA 49.11%), linear-gradient(90deg, #EFE5CE 0%, #FFF9E9 48.65%, #EFE5CE 100%);
      .div-card-name {
        > img {
          mix-blend-mode: soft-light;
          opacity: 0.75;
        }
        .text-name {
          color: #EBD8B8;
        }
      }
      .block-content .text {
        color: #56564E;
      }
      &:before {
        border-color: #EBD8B8;
        opacity: 0.4;
      }
      &:after {
        background-image: url('../../../../imagev2/png/custom-gift-card-detail-bg.png');
      }
    }
  }
  .block-detail {
    flex: 1;
    &.block-voucher {
      .des-block {
        height: 494px;
      }
      .block-detail-wrapper .detail-gift-block {
        min-height: 494px;
      }
    }
  }
  .block-bottom {
    display: flex;
    justify-content: flex-end;
    .div-notes {
      max-width: calc(50% - 36px);
      margin-top: 12px;
      padding: 16px;

      background-color: #E6F7FF;
      border: 1px solid #91D5FF;

      &-title {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .div-text {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: #050505;
        }
        .div-icon {
          margin-right: 8px;
        }
      }
      &-description {
        font-size: 16px;
        line-height: 150%;
        color: #333333;
      }

      @media screen and (max-width: 991px) {
        width: 100%;
        max-width: 100%;
      }

      @media screen and (max-width: 480px) {
        &-title {
          .div-text {
            font-size: 14px;
          }
        }
        &-description {
          font-size: 12px;
        }
      }
    }
  }
}