.scroll-top-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 65px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  position: fixed;
  bottom: 4em;
  right: 1em;
  z-index: 99;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  img {
    margin-bottom: 0.5em;
  }
  @media screen and (max-width: 1024px) {
    bottom: 2em;
    right: 1em;
    position: fixed;
  }
}
.wrapper-category-blogs {
  // margin-top: 70px;
  height: calc(100vh - 104px);
  overflow-y: auto;
  @media screen and (max-width: 1024px) {
    // margin-top: 46px;
    height: calc(100vh - 64px);
  }
  .title-cat {
    font-size: 48px;
    padding: 1em 0 0.2em;
    border-bottom: 3px solid #b79a53;
    margin-bottom: 0.8em;
  }
  .des-cat {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3em;
  }
  .paging {
    text-align: center;
    padding: 2rem 0;
    border-top: 2px solid #e2e2e2;
    p {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
    button {
      text-transform: uppercase;
      padding: 8px 50px;
      background: #ffffff;
      border: 2px solid #0d0d0d;
      border-radius: 6px;
      letter-spacing: 0.1em;
    }
  }
  .articles-box-cat {
    .article {
      position: relative;
      margin-bottom: 3rem;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        margin-bottom: 1rem;
      }
      .wrapper-image-article {
        border-radius: 6px;
        overflow: hidden;
        max-height: 446px;
        @media screen and (max-width: 1024px) {
          border-radius: 0;
          max-height: 300px;
        }
        img {
          object-fit: cover;
          min-height: 445px;
          width: 100%;
          @media screen and (max-width: 1024px) {
            min-height: 300px;
          }
        }
      }
      .content-article {
        text-align: center;
        padding: 2rem 3rem;
        border: 1px solid #0d0d0d;
        width: 90%;
        margin: -13% auto auto;
        background: #ffffff;
        transform: translate(0);
        @media screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 1rem 0rem;
          text-align: left;
          border: none;
        }
        .cat {
          font-weight: 500;
          font-size: 12px;
        }
        .title-article {
          display: block;
          font-size: 24px;
          color: #0d0d0d;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          &:hover {
            text-decoration: none;
          }
        }
        h4 {
          margin: 1rem 0;
          font-size: 24px;
        }
        .date {
          font-weight: 500;
          color: #8d8d8d;
          font-size: 12px;
        }
      }
    }
  }
}
