@import '../../styles/colors';

.div-dropdown-checkout {
  .dropdown-checkout {
    border: none;
    background: $Primary-30;
    border-radius: 30px!important;
    box-shadow: none;
    @media screen and (max-width: 1024px) {
      border-radius: 20px!important;
    }
    .accordion-summary-ct {
      .MuiAccordionSummary-expandIconWrapper {
        visibility: hidden;
      }
    }
  }
}