.custome-bottle-quiz {
  display: flex;
  .block-info-quiz {
    @media screen and (max-width: 991px) {
      max-height: calc((100vh - 82px) / 3);
    }
    @media screen and (max-width: 767px) {
      max-height: calc((100vh - 82px) / 2);
    }
  }
  >div {
    width: 50%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }
  .block-info-quiz {
    .content-info {
      .title-quiz {
        @media screen and (max-width: 767px) {
          margin-bottom: 16px;
        }
      }
    }
  }
  .info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F1E4CD;
    @media screen and (max-width: 991px) {
      flex: 1;
    }

    .custom-bottle-question-quiz {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .div-bottle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        .image-temp {
          width: 64px;
          @media screen and (max-width: 767px) {
            width: 30px;
          }
        }
        .div-image-bottle-custom {
          margin: 0px 30px;
          @media screen and (max-width: 767px) {
           margin: 0px 15px;
          }
        }
        .div-image-bottle-custom {
          .img-bottle {
            height: 326px;
            @media screen and (max-width: 767px) {
            //  height: 168px;
            height: 200px;
            }
          }
          .img-name {
             height: 215px;
             top: 94px;
             width: 68px;
             border-radius: 30px;
             @media screen and (max-width: 767px) {
              //  height: 110px;
               height: 131px;
              //  top: 48px;
               top: 57px;
              //  width: 35px;
               width: 41px;
               border-radius: 15px;
              }
          }
          .image-logo {
             top: 103px;
             width: 48px;
             @media screen and (max-width: 767px) {
              //  top: 53px;
               top: 63px;
              //  width: 24px;
              width: 29px;
             }
          }
          .text-des-custome {
             bottom: 37px;
             font-size: 8px;
             width: fit-content;
             @media screen and (max-width: 767px) {
              //  bottom: 19px;
               bottom: 22px;
               font-size: 4px;
             }
          }
          .text-size-custome {
             bottom: 23px;
             font-size: 8px;
             @media screen and (max-width: 767px) {
              //  bottom: 9px;
               bottom: 10px;
               font-size: 4px;
             }
          }
          .custome-name {
           top: 257px;
           font-size: 10px;
           width: fit-content;
           @media screen and (max-width: 767px) {
            //  top: 132px;
             top: 160px;
             font-size: 5px;
           }
          }
        }
      }
    }
    .button-edit-bottle {
      width: 464px;
      height: 56px;
      background: #EBD8B8;
      border: 1px dashed #000000;
      border-radius: 30px;
      font-weight: 500;
      font-size: 16px;
      color: #2C2C22;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      margin-top: 20px;
      @media screen and (max-width: 767px) {
        width: calc(100% - 24px * 2);
        margin-bottom: 12px;
      }
      >svg {
        color: #2C2C22;
        margin-left: 8px;
        width: 20px;
        height: 20px;
      }
    }
    .custome-done {
      width: 464px;
      height: 96px;
      display: flex;
      align-items: center;
      padding: 0px 12px;
      background: #F5ECDC;
      border-radius: 12px;
      margin-bottom: 24px;
      @media screen and (max-width: 767px) {
        width: calc(100vw - 48px);
        margin-bottom: 12px;
        height: 64px;
        padding: 0px 8px;
      }
      >img {
        width: 48px;
        height: 48px;
        border-radius: 5px;
        margin-right: 12px;
        object-fit: contain;
        &.cover-image {
          object-fit: cover;
        }

      }
      .text-custome {
        flex: 1;
        .title-custome {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #2C2C22;
          margin-bottom: 4px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
        .name-color {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #56564E;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
          .space-color {
            margin-left: 6px;
            width: 18px;
            height: 18px;
            border-radius: 4px;
          }
        }
      }
      .edit-custom {
        height: 40px;
        padding: 0px 10px;
        @media screen and (max-width: 991px) {
          height: 32px;
          width: 32px;
          padding: 0px;
          min-width: 32px;
          background: transparent;
          border: 1px solid #2C2C22;
          >svg {
            color: #2C2C22;
          }
        }
      }
    }
    .list-button-next {
      width: 464px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 991px) {
        width: 464px;
        flex-direction: column-reverse;
        align-items: center;
      }
      @media screen and (max-width: 767px) {
        width: calc(100% - 24px * 2);
        flex-direction: column-reverse;
        align-items: center;
      }
      .bt-skip-quiz {
        color: #2C2C22;
        @media screen and (max-width: 991px) {
          background: transparent;
          width: 100%;
        }
      }
      .bt-skip-quiz-mobile {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #BCAD93;
        margin-top: 12px;
      }
      .bt-next-quiz {
        @media screen and (max-width: 991px) {
          display: flex;
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }
}