@import '../../styles/colors';

.accordion-ct {
  margin: 0px !important;
  &::before {
    opacity: 0 !important;
  }
  &.light {
    background: $Primary-10;
    border-radius: 20px !important;
    border: 1px solid #2C2C22;
    // box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  }
  &.extent-bottom {
    position: relative;
    padding-bottom: 30px;
    .bt-arrow {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .accordion-summary-ct {
    padding: 24px;
    .css-o4b71y-MuiAccordionSummary-content {
      margin: 0px; 
    }
  }
  .accordion-detail-ct {
    padding: 0px 32px 24px 32px;
    @media screen and (max-width: 1024px) {
      padding: 0px 18px 24px 18px;
    }
  }
}