@import '../../styles/colors';

.all-product-v2 {
  background: $Primary-10;
  // margin-top: 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // @media screen and (max-width: 1440px) {
  //   margin-top: 170px;
  // }
  // @media screen and (max-width: 1024px) {
  //   margin-top: 87px;
  // }
  .content-product-v2 {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1440px) {
      max-width: 100vw;
      width: 100%;
    }
  }
  .block-faq-new {
    width: '100%';
    @media screen and (max-width: 1024px) {
      margin-top: 64px;
    }
  }
  .float-button-top {
    position: fixed;
    z-index: 9;
    bottom: 23px;
    right: 12px;
    width: 44px;
    height: 44px;
    background: #D4C2A6;
    border: 1px solid #8D826E;
    transition: all 0.2s;
    &:hover {
      background: #D4C2A6 !important;
    }
    &.is-hidden {
      bottom: -50px;
    }
  }
}