<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>

<style type="text/css">
  p {
    margin: 10px 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0;
    padding: 0;
  }
  img,
  a img {
    border: 0;
    height: auto;
    outline: none;
    text-decoration: none;
  }
  .sq {
    height: 25%;
    width: 25%;
    object-fit: cover;
    /* border-radius: 20%; */
  }

  body,
  #bodyTable,
  #bodyCell {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mcnPreviewText {
    display: none !important;
  }
  #outlook a {
    padding: 0;
  }
  img {
    -ms-interpolation-mode: bicubic;
  }
  table {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
  }
  .ReadMsgBody {
    width: 100%;
  }
  .ExternalClass {
    width: 100%;
  }
  p,
  a,
  li,
  td,
  blockquote {
    mso-line-height-rule: exactly;
  }
  a[href^="tel"],
  a[href^="sms"] {
    color: inherit;
    cursor: default;
    text-decoration: none;
  }
  p,
  a,
  li,
  td,
  body,
  table,
  blockquote {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  .ExternalClass,
  .ExternalClass p,
  .ExternalClass td,
  .ExternalClass div,
  .ExternalClass span,
  .ExternalClass font {
    line-height: 100%;
  }
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
  a.mcnButton {
    display: block;
  }
  .mcnImage,
  .mcnRetinaImage {
    vertical-align: bottom;
  }
  .mcnTextContent {
    word-break: break-word;
  }
  .mcnTextContent img {
    height: auto !important;
  }
  .mcnDividerBlock {
    table-layout: fixed !important;
  }

  /*
	@tab Page
	@section background style
	@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
	*/
  body,
  #bodyTable,
  #templateFooter {
    /*@editable*/
    background-color: #222222;
  }
  /*
	@tab Page
	@section background style
	@tip Set the background color and top border for your email. You may want to choose colors that match your company's branding.
	*/
  #bodyCell {
    /*@editable*/
    border-top: 0;
  }
  /*
	@tab Page
	@section heading 1
	@tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
	@style heading 1
	*/
  h1 {
    /*@editable*/
    color: #ffffff !important;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 30px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section heading 2
	@tip Set the styling for all second-level headings in your emails.
	@style heading 2
	*/
  h2 {
    /*@editable*/
    color: #cdd0d5 !important;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 26px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section heading 3
	@tip Set the styling for all third-level headings in your emails.
	@style heading 3
	*/
  h3 {
    /*@editable*/
    color: #cdd0d5 !important;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 18px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Page
	@section heading 4
	@tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
	@style heading 4
	*/
  h4 {
    /*@editable*/
    color: #cdd0d5 !important;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 16px;
    /*@editable*/
    font-style: normal;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    letter-spacing: normal;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Preheader
	@section preheader style
	@tip Set the background color and borders for your email's preheader area.
	*/
  #templatePreheader {
    /*@editable*/
    background-color: #000000;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
  }
  /*
	@tab Preheader
	@section preheader text
	@tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
	*/
  .preheaderContainer .mcnTextContent,
  .preheaderContainer .mcnTextContent p {
    /*@editable*/
    color: #cdd0d5;
    /*@editable*/
    font-family: Arial, Helvetica, sans-serif;
    /*@editable*/
    font-size: 11px;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Preheader
	@section preheader link
	@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
	*/
  .preheaderContainer .mcnTextContent a {
    /*@editable*/
    color: #cdd0d5;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Header
	@section header style
	@tip Set the background color and borders for your email's header area.
	*/
  #templateHeader {
    /*@editable*/
    background-color: #152436;
    background-image: url(https://mcusercontent.com/77bbe54b4048bf071c6504dfa/images/7b4fdaaf-2d30-43ec-a7a1-9c9d489acc5e.png);
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
  }
  /*
	@tab Header
	@section header text
	@tip Set the styling for your email's header text. Choose a size and color that is easy to read.
	*/
  .headerContainer .mcnTextContent,
  .headerContainer .mcnTextContent p {
    /*@editable*/
    color: #cdd0d5;
    /*@editable*/
    font-family: Arial, Helvetica, sans-serif;
    /*@editable*/
    font-size: 15px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Header
	@section header link
	@tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
	*/
  .headerContainer .mcnTextContent a {
    /*@editable*/
    color: #222222;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Body
	@section body style
	@tip Set the background color and borders for your email's body area.
	*/
  #templateBody {
    /*@editable*/
    background-color: #ffffff;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
  }
  /*
	@tab Body
	@section body container
	@tip Set the background color for your email's body container.
	*/
  #bodyBackground {
    /*@editable*/
    background-color: #ffffff;
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
  }
  /*
	@tab Body
	@section body text
	@tip Set the styling for your email's body text. Choose a size and color that is easy to read.
	*/
  .bodyContainer .mcnTextContent,
  .bodyContainer .mcnTextContent p {
    /*@editable*/
    color: #666666;
    /*@editable*/
    font-family: Arial, Helvetica, sans-serif;
    /*@editable*/
    font-size: 18px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
  }
  /*
	@tab Body
	@section body link
	@tip Set the styling for your email's body links. Choose a color that helps them stand out from your text.
	*/
  .bodyContainer .mcnTextContent a {
    /*@editable*/
    color: #c6d137;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Columns
	@section column style
	@tip Set the background color and borders for your email's columns area.
	*/
  #templateColumns {
    background-color: #b79b53;
    background-image: url("https://mcusercontent.com/77bbe54b4048bf071c6504dfa/images/5c562479-b6c9-4a63-8f7c-3d0a58a1ce78.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: 0;
    border-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #templateColumns .columnContainer .mcnTextContent,#templateColumns .columnContainer .mcnTextContent p{
			/*@editable*/color:#202020;
			/*@editable*/font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			/*@editable*/font-size:16px;
			/*@editable*/line-height:200%;
			/*@editable*/text-align:center;
		}
	/*
	@tab Columns
	@section Column Link
	@tip Set the styling for your email's column links. Choose a color that helps them stand out from your text.
	*/
		#templateColumns .columnContainer .mcnTextContent a,#templateColumns .columnContainer .mcnTextContent p a{
			/*@editable*/color:#202020;
			/*@editable*/font-weight:normal;
			/*@editable*/text-decoration:underline;
		}
	/*
	@tab Footer
	@section Footer Style
	@tip Set the background color and borders for your email's footer area.
	*/
  /*
	@tab Columns
	@section left column text
	@tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
	*/
  .leftColumnContainer .mcnTextContent,
  .leftColumnContainer .mcnTextContent p {
    /*@editable*/
    color: #152436;
    /*@editable*/
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Columns
	@section left column link
	@tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
	*/
  .leftColumnContainer .mcnTextContent a {
    /*@editable*/
    color: #c6d137;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Columns
	@section center column text
	@tip Set the styling for your email's center column text. Choose a size and color that is easy to read.
	*/
  .centerColumnContainer .mcnTextContent,
  .centerColumnContainer .mcnTextContent p {
    /*@editable*/
    color: #152436;
    /*@editable*/
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Columns
	@section center column link
	@tip Set the styling for your email's center column links. Choose a color that helps them stand out from your text.
	*/
  .centerColumnContainer .mcnTextContent a {
    /*@editable*/
    color: #c6d137;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Columns
	@section right column text
	@tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
	*/
  .rightColumnContainer .mcnTextContent,
  .rightColumnContainer .mcnTextContent p {
    /*@editable*/
    color: #152436;
    /*@editable*/
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: center;
  }
  /*
	@tab Columns
	@section right column link
	@tip Set the styling for your email's right column links. Choose a color that helps them stand out from your text.
	*/
  .rightColumnContainer .mcnTextContent a {
    /*@editable*/
    color: #c6d137;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  /*
	@tab Footer
	@section footer style
	@tip Set the background color and borders for your email's footer area.
	*/
  #templateFooter {
    /*@editable*/
    border-top: 0;
    /*@editable*/
    border-bottom: 0;
  }
  /*
	@tab Footer
	@section footer text
	@tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
	*/
  .footerContainer .mcnTextContent,
  .footerContainer .mcnTextContent p {
    /*@editable*/
    color: #cdd0d5;
    /*@editable*/
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*@editable*/
    font-size: 11px;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    text-align: right;
  }
  /*
	@tab Footer
	@section footer link
	@tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
	*/
  .footerContainer .mcnTextContent a {
    /*@editable*/
    color: #cdd0d5;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
  }
  @media only screen and (max-width: 480px) {
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
      -webkit-text-size-adjust: none !important;
    }
  }
  @media only screen and (max-width: 480px) {
    body {
      width: 100% !important;
      min-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .templateContainer {
      max-width: 600px !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .columnsContainer {
      display: block !important;
      max-width: 600px !important;
      padding-bottom: 18px !important;
      padding-left: 0 !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnRetinaImage {
      max-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImage {
      height: auto !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnCartContainer,
    .mcnCaptionTopContent,
    .mcnRecContentContainer,
    .mcnCaptionBottomContent,
    .mcnTextContentContainer,
    .mcnBoxedTextContentContainer,
    .mcnImageGroupContentContainer,
    .mcnCaptionLeftTextContentContainer,
    .mcnCaptionRightTextContentContainer,
    .mcnCaptionLeftImageContentContainer,
    .mcnCaptionRightImageContentContainer,
    .mcnImageCardLeftTextContentContainer,
    .mcnImageCardRightTextContentContainer,
    .mcnImageCardLeftImageContentContainer,
    .mcnImageCardRightImageContentContainer {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnBoxedTextContentContainer {
      min-width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupContent {
      padding: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnCaptionLeftContentOuter .mcnTextContent,
    .mcnCaptionRightContentOuter .mcnTextContent {
      padding-top: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardTopImageContent,
    .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
    .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
      padding-top: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardBottomImageContent {
      padding-bottom: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockInner {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageGroupBlockOuter {
      padding-top: 9px !important;
      padding-bottom: 9px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnTextContent,
    .mcnBoxedTextContentColumn {
      padding-right: 18px !important;
      padding-left: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcnImageCardLeftImageContent,
    .mcnImageCardRightImageContent {
      padding-right: 18px !important;
      padding-bottom: 0 !important;
      padding-left: 18px !important;
    }
  }
  @media only screen and (max-width: 480px) {
    .mcpreview-image-uploader {
      display: none !important;
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section heading 1
	@tip Make the first-level headings larger in size for better readability on small screens.
	*/
    h1 {
      /*@editable*/
      font-size: 24px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section heading 2
	@tip Make the second-level headings larger in size for better readability on small screens.
	*/
    h2 {
      /*@editable*/
      font-size: 20px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section heading 3
	@tip Make the third-level headings larger in size for better readability on small screens.
	*/
    h3 {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section heading 4
	@tip Make the fourth-level headings larger in size for better readability on small screens.
	*/
    h4 {
      /*@editable*/
      font-size: 16px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Boxed Text
	@tip Make the boxed text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .mcnBoxedTextContentContainer .mcnTextContent,
    .mcnBoxedTextContentContainer .mcnTextContent p {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Preheader Visibility
	@tip Set the visibility of the email's preheader on small screens. You can hide it to save space.
	*/
    #templatePreheader {
      /*@editable*/
      display: block !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Preheader Text
	@tip Make the preheader text larger in size for better readability on small screens.
	*/
    .preheaderContainer .mcnTextContent,
    .preheaderContainer .mcnTextContent p {
      /*@editable*/
      font-size: 14px !important;
      /*@editable*/
      line-height: 115% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Header Text
	@tip Make the header text larger in size for better readability on small screens.
	*/
    .headerContainer .mcnTextContent,
    .headerContainer .mcnTextContent p {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Body Text
	@tip Make the body text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .bodyContainer .mcnTextContent,
    .bodyContainer .mcnTextContent p {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Left Column Text
	@tip Make the left column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .leftColumnContainer .mcnTextContent,
    .leftColumnContainer .mcnTextContent p {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Center Column Text
	@tip Make the center column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .centerColumnContainer .mcnTextContent,
    .centerColumnContainer .mcnTextContent p {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section Right Column Text
	@tip Make the right column text larger in size for better readability on small screens. We recommend a font size of at least 16px.
	*/
    .rightColumnContainer .mcnTextContent,
    .rightColumnContainer .mcnTextContent p {
      /*@editable*/
      font-size: 18px !important;
      /*@editable*/
      line-height: 125% !important;
    }
  }
  @media only screen and (max-width: 480px) {
    /*
	@tab Mobile Styles
	@section footer text
	@tip Make the body content text larger in size for better readability on small screens.
	*/
    .footerContainer .mcnTextContent,
    .footerContainer .mcnTextContent p {
      /*@editable*/
      font-size: 14px !important;
      /*@editable*/
      line-height: 115% !important;
    }
  }
</style>

<center>
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tbody>
      <tr>
        <td align="center" valign="top" id="bodyCell">
          <!-- BEGIN TEMPLATE // -->
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td align="center" valign="top">
                  <!-- BEGIN HEADER // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" background="https://mcusercontent.com/77bbe54b4048bf071c6504dfa/images/7b4fdaaf-2d30-43ec-a7a1-9c9d489acc5e.png">
                    <tbody>
                      <tr>
                        <td align="center" valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                            <tbody>
                              <tr>
                                <td valign="top" class="headerContainer" style="padding-top:10px; padding-bottom:10px;">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                                    <tbody class="mcnImageBlockOuter">
                                      <tr>
                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                          <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                            <tbody>
                                              <tr>
                                                <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                                  <img align="center" alt="" src="https://mcusercontent.com/77bbe54b4048bf071c6504dfa/images/7ee20534-100f-462c-88c3-059efef3735a.png" width="100" style="max-width:100px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
                                                  <br><br><br>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- // END HEADER -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                    <tbody>
                      <tr>
                        <td align="center" valign="top" style="padding-top:10px; padding-bottom:10px;">
                          <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                            <tbody>
                              <tr>
                                <td align="center" valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyBackground">
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="top">
                                          <!-- BEGIN BODY // -->
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
                                            <tbody>
                                              <tr>
                                                <td valign="top" class="bodyContainer" style="padding-top:10px; padding-bottom:10px;">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;"></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                              <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #151515;text-align: center;">
                                                                  <p style="color: #151515;text-align: center;">
                                                                    <span style="font-size:24px">향기 디자이너에게,</span><br>&nbsp;
                                                                  </p>

                                                                  <p style="color: #151515;text-align: center;">
                                                                    <span style="font-size:14px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">새로운 향수를 만드는 모험에 참여해 주셔서 감사합니다!</span></span>
                                                                  </p>

                                                                  <p style="color: #151515;text-align: center;">
                                                                    <span style="font-size:14px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">여러분이 대답한 질문들은 삶의 보편적 가치들과 연결되어 있고, 
                                                                        여러분의 대답은 여러분의 정체성을 반영합니다. 여러분만의 독특한 개성에 맞는 
                                                                        올바른 향기를 매칭할 수 있도록 돕기 위해 이 자리에 모셨습니다.</span></span>
                                                                  </p>

                                                                  <p style="color: #151515;text-align: center;">
                                                                    <span style="font-size:14px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif">저희는 당신을 위해 최상의 천연 재료를 큐레이팅하지만, 최종 향기를 
                                                                        고르고 최종 결정을 내리는 사람은 바로 당신입니다. Maison 21G 당신이 자기 자신만의 
                                                                        향수 디자이너가 될 수 있도록 도와드릴 것입니다. 여러분은 마침내 여러분이 원했던 대로 
                                                                        그대로의 "순수한 자신"을 표현할 수 있게될것입니다!</span></span></p><p style="color: #151515;text-align: center;"><span style="font-size:14px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif"><br></span></span></p><p style="color: #151515;text-align: center;"><span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;; font-weight: bold; orphans: 2; widows: 2;">결제 시 "WELCOME10" 프로모션 코드를 입력해 10% 할인 혜택을 받으세요!</span><span style="font-size:14px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif"><br></span></span>
                                                                  </p>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  <br>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                              <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #152436;">
                                                                  <div align="center">
                                                                    <span align="center" style="font-size:24px">추천드리는 조합</span><br>
                                                                    <span align="center" style="font-size:14px"><span style="text-align:center;font-family:open sans,helvetica neue,helvetica,arial,sans-serif">다음은 귀하의 성격에 따라 
                                                                        맞춤화된 향수 조햡입니다:</span></span>
                                                                  </div>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;"><br></td></tr></tbody></table>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                                                    <tbody class="mcnImageBlockOuter">
                                                      <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                          <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                                            <tbody>
                                                              <tr>
                                                                <td class="mcnImageContent" valign="top" style="padding-top: 0; padding-bottom: 0; text-align:center;">
                                                                  <a href="{{ chosen_product.url }}" target="_self" style="text-decoration: none;">
                                                                    <img align="center" alt="" src="{{chosen_product.img_scent1}}" class="sq" style="width:20%;border-top-left-radius:10px;border-bottom-left-radius:10px;">
                                                                    <img align="center" alt="" src="{{chosen_product.img_scent2}}" class="sq" style="width:20%;border-top-right-radius:10px;border-bottom-right-radius:10px;">                                                                  
                                                                  </a>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody>
                                                              <tr>
                                                                <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;font-family:roboto,helvetica neue,helvetica,arial,sans-serif line-height: 200%;">
                                                                  <h3 style="text-align: center;">
                                                                    <span style="font-weight:bold;font-family:open sans,helvetica neue,helvetica,arial,sans-serif;font-size:18px;color:#666666">
                                                                      {{ chosen_product.name }}
                                                                    </span>
                                                                  </h3>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <br>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
                                                    <tbody class="mcnButtonBlockOuter">
                                                        <tr>
                                                            <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                                                                <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 4px;background-color: #0D0D0D;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Roboto, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 18px;">
                                                                                <a class="mcnButton " title="DAYPERFUME" href="{{chosen_product.url}}" target="_blank" style="font-weight: bold;letter-spacing: 3px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">데이(낮) 용 향수</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;"></table>
                                                  
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;"><br></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;"><tbody class="mcnButtonBlockOuter">
                                                    </tbody>
                                                </table>
                                                  <br>
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnBoxedTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">
                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                                                            <tbody>
                                                              <tr>
                                                                <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                                                  <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;border: 2px solid #B79B53;">
                                                                    <tbody>
                                                                      <tr>
                                                                        <td valign="top" class="mcnTextContent" style="padding: 18px;color: #152436;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: normal;text-align: center;">
                                                                          <p style="color: #152436;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: normal;text-align: center;">
                                                                            <br>
                                                                            <span style="font-size:14px"><span style="font-family:open sans,helvetica neue,helvetica,arial,sans-serif"><em>저희가 당신의 성격을 토대로 향을 추천드리겠습니다:&nbsp;</em></span></span>
                                                                          </p>
                                                                          <p style="color: #152436;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 14px;font-weight: normal;text-align: center;">
                                                                            <em>
                                                                              <span style="color: rgb(0, 0, 0); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-align: left;">
                                                                                {{ personality_choice.personality.title }}
                                                                              </span>
                                                                            </em>
                                                                          </p>
                                                                          <em>
                                                                          </em>
                                                                          <p style="text-align: center;">
                                                                            <em>
                                                                              <span style="color: rgb(0, 0, 0);text-align: left;">
                                                                                {{ personality_choice.personality.long_description|safe }}&nbsp;</span></em></p>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                  
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">
                                                    <tbody class="mcnBoxedTextBlockOuter">
                                                      <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">
                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
                                                            <tbody>
                                                              <tr>
                                                                <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">
                                                                  <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #B79B53;">
                                                                    <tbody>
                                                                      <tr>
                                                                        <td valign="top" class="mcnTextContent" style="padding: 18px;color: #F2F2F2;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;font-size: 16px;font-weight: normal;line-height: 200%;text-align: center;">
                                                                            Maison 21G에소는 35가지 천연 에센스를 만나보실 수 있으며, 끝없이 맞춤화된 향수 조합을 원하는 대로 혼합하실 수 있습니다. 
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- // END BODY -->
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" id="templateColumns" background="https://mcusercontent.com/77bbe54b4048bf071c6504dfa/images/5c562479-b6c9-4a63-8f7c-3d0a58a1ce78.png">
                          <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                            <tbody>
                              <tr align="center">
                                <td>
                                  <table border="0" cellpadding="0" cellspacing="0" width="200" class="columnWrapper">
                                    <tbody>
                                      <tr>
                                        <td valign="top" class="columnContainer">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageCardBlock">
                                            <tbody class="mcnImageCardBlockOuter">
                                              <tr>
                                                <td class="mcnImageCardBlockInner" valign="top" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                                                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="mcnImageCardTopContent" width="100%" style="background-color: #FFFFFF;">
                                                    <tbody>
                                                      <tr>
                                                        <td class="mcnTextContent" valign="top" style="padding: 18px 18px 0px;color: #202020;text-align: center;" width="146"><p>
                                                          </p><h3 style="text-align: center;
                                                            padding-bottom: 10px;">
                                                            <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif;font-size:18px">
                                                                모험
                                                            </span>
                                                          </h3>
                                                          <h4 style="text-align: center;
                                                            padding-bottom: 7px;">
                                                            <span style="color:#152436"><span style="font-size:14px">솔로 향기 &amp;  키트
                                                                </span></span>
                                                          </h4>
                                                          <a href="https://maison21g.com/products-all/Solo%20Scents?utm_source=marketing%20automation&amp;utm_medium=email&amp;utm_campaign=It's%20Time%20To%20Reveal%20Your%20Scent%20Style" target="_blank">지금만나보세요                                                                                                                                                                                                                     </a><p></p></td></tr><tr><td class="mcnImageCardTopImageContent" align="center" valign="top" style="padding-top:9px; padding-right:0px; padding-bottom:0px; padding-left:0px;">
                                                          <img alt="" src="https://gallery.mailchimp.com/77bbe54b4048bf071c6504dfa/images/fba7ce50-ad01-465e-95b5-796d8617370c.jpg" width="164" style="max-width:1080px;" class="mcnImage">
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table border="0" cellpadding="0" cellspacing="0" width="200" class="columnWrapper">
                                    <tbody>
                                      <tr>
                                        <td valign="top" class="columnContainer">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageCardBlock">
                                            <tbody class="mcnImageCardBlockOuter">
                                              <tr>
                                                <td class="mcnImageCardBlockInner" valign="top" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                                                  <table align="right" border="0" cellpadding="0" cellspacing="0" class="mcnImageCardTopContent" width="100%" style="background-color: #FFFFFF;">
                                                    <tbody>
                                                      <tr>
                                                        <td class="mcnTextContent" valign="top" style="padding: 18px 18px 0px;color: #202020;text-align: center;" width="146"><p>
                                                        </p><h3 style="text-align: center;
                                                          padding-bottom: 10px;">
                                                          <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif;font-size:18px">
                                                            경험
                                                          </span>
                                                        </h3>
                                                          <h4 style="text-align: center;
                                                            padding-bottom: 7px;">
                                                            <span style="color:#152436"><span style="font-size:14px">향수 워크샵</span></span>
                                                          </h4>
                                                          <a href="https://maison21g.com/perfume-workshop?utm_source=marketing%20automation&amp;utm_medium=email&amp;utm_campaign=It's%20Time%20To%20Reveal%20Your%20Scent%20Style" target="_blank">지금 예약하세요                                                                                                                                                                                                                         </a><p></p></td></tr><tr><td class="mcnImageCardTopImageContent" align="center" valign="top" style="padding-top:9px; padding-right:0px; padding-bottom:0px; padding-left:0px;">
                                                          <img alt="" src="https://gallery.mailchimp.com/77bbe54b4048bf071c6504dfa/images/20493ffc-1604-4060-aca9-ce8182e5220b.jpg" width="164" style="max-width:1080px;" class="mcnImage">
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td>
                                  <table border="0" cellpadding="0" cellspacing="0" width="200" class="columnWrapper">
                                    <tbody>
                                      <tr>
                                        <td valign="top" class="columnContainer">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageCardBlock">
                                            <tbody class="mcnImageCardBlockOuter">
                                              <tr>
                                                <td class="mcnImageCardBlockInner" valign="top" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnImageCardTopContent" width="100%" style="background-color: #FFFFFF;">
                                                    <tbody>
                                                      <tr>
                                                        <td class="mcnTextContent" valign="top" style="padding: 18px 18px 0px;color: #202020;text-align: center;" width="146"><p>
                                                          </p><h3 style="text-align: center;
                                                            padding-bottom: 10px;">
                                                            <span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif;font-size:18px">
                                                                개인 맞춤
                                                            </span>
                                                          </h3>
                                                          <h4 style="text-align: center;
                                                            padding-bottom: 7px;">
                                                            <span style="color:#152436"><span style="font-size:14px"> 시그니처 향수</span></span>
                                                          </h4>
                                                          <a href="https://maison21g.com/funnel?utm_source=marketing%20automation&amp;utm_medium=email&amp;utm_campaign=It's%20Time%20To%20Reveal%20Your%20Scent%20Style" target="_blank">지금 만들어 보세요                                                                                                                                                                                                                     </a><p></p></td></tr><tr><td class="mcnImageCardTopImageContent" align="center" valign="top" style="padding-top:9px; padding-right:0px; padding-bottom:0px; padding-left:0px;">
                                                          <img alt="" src="https://gallery.mailchimp.com/77bbe54b4048bf071c6504dfa/images/62042a70-629b-4b29-a18d-ae087c8245e9.jpg" width="164" style="max-width:1080px;" class="mcnImage">
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top">
                          <!-- BEGIN FOOTER // -->
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="background-color: #151515;">
                            <tbody>
                              <tr align="center"></tr>
                                <tr><td align="center" valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                    <tbody>
                                      <tr>
                                        <td valign="top" class="footerContainer" style="padding-top:10px; padding-bottom:10px;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
                                            <tbody class="mcnFollowBlockOuter">
                                              <tr>
                                                <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
                                                    <tbody>
                                                      <tr>
                                                        <td align="center" style="padding-left:9px;padding-right:9px;">
                                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnFollowContent">
                                                            <tbody>
                                                              <tr>
                                                                <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                  <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                      <tr>
                                                                        <td align="center" valign="top">
                                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="display:inline;">
                                                                            <tbody>
                                                                              <tr>
                                                                                <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                  <a href="http://www.facebook.com/maison21g?utm_source=marketing%20automation&amp;utm_medium=email&amp;utm_campaign=It's%20Time%20To%20Reveal%20Your%20Scent%20Style" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                                                                                </td>
                                                                              </tr>
                                                                            </tbody>
                                                                          </table>
                                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="display:inline;">
                                                                            <tbody>
                                                                              <tr>
                                                                                <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                  <a href="http://instagram.com/maison21g?utm_source=marketing%20automation&amp;utm_medium=email&amp;utm_campaign=It's%20Time%20To%20Reveal%20Your%20Scent%20Style" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-instagram-96.png" alt="Instagram" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                                                                                </td>
                                                                              </tr>
                                                                            </tbody>
                                                                          </table>
                                                                          <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked" style="display:inline;">
                                                                            <tbody>
                                                                              <tr>
                                                                                <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:9px;">
                                                                                  <a href="www.maison21g.com?utm_source=marketing%20automation&amp;utm_medium=email&amp;utm_campaign=It's%20Time%20To%20Reveal%20Your%20Scent%20Style" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-link-96.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                                                                                </td>
                                                                              </tr>
                                                                            </tbody>
                                                                          </table>
                                                                        </td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                            <tbody class="mcnTextBlockOuter">
                                              <tr>
                                                <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                    <tbody>
                                                      <tr>
                                                        <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px;color: #FFFFFF;text-align: center;">
                                                          77 Duxton Road 089536,
                                                          Singapore |&nbsp;2020
                                                          ⓒ 21g. ALL Rights
                                                          Reserved<br>
                                                          <br>
                                                          <img data-file-id="4492517" height="151" src="https://gallery.mailchimp.com/77bbe54b4048bf071c6504dfa/images/f298d75d-140e-4f89-96f1-2208a3d38f79.png" width="100">
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- // END FOOTER -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- // END TEMPLATE -->
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>