.about-item {
  color: #ffffff;
  background-color: #0D0D0D;
  .__content {
    padding: 6rem 11rem;
    background-color: #0D0D0D;

    @media (max-width: 1440px) {
      padding: 4.5rem 8.25rem;
    }
    
    @media (max-width: 767.98px) {
      padding: 2.5rem 2.75rem 1.675rem 2.5rem
      
    }

    h3 {
      font-size: 1.75rem;
      text-transform: uppercase;

      @media (max-width: 1440px) {
        font-size: 1.3125rem;
      }

      @media (max-width: 767.98px) {
        font-size: 1.875rem;

      }
    }

    p {
      margin: 0;
      padding-top: 2.5rem;
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 2.25rem;
      letter-spacing: 0.1em;
      color: #ffffff;

      @media (max-width: 1440px) {
        font-size: 0.875rem;
      } 

      @media (max-width: 767.98px) {
        padding-top: 1.675rem;
        font-size: 1rem;
      }
    }
  }
}
