.div-occasions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(196, 196, 196, 0.3);
  width: 100%;
  padding: 15px 0px;
  color: #0D0D0D;

  >h2 {
    font-size: 1.33rem;
    font-weight: normal;
    margin-bottom: calc(8px * 1.33);
    @media screen and (min-width: 1440px) {
      font-size: 1.142857rem;
      margin-bottom: 8px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 0.92857rem;
      margin-bottom: 8px;
    }
  }
  .list-item-occasion {
    width: fit-content;
    max-width: 100%;
    padding: 1px 20px;
    display: -webkit-box;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    @media screen and (max-width: 1024px) {
      padding: 0px 15px;
    }
    .item-occasion {
      display: flex;
      flex-direction: column;
      justify-self: center;
      width: calc(139px * 1.33);
      height: calc(60px * 1.33);
      border-radius: calc(12px * 1.33);
      border: 1px solid #D9D9D9;
      margin-left: calc(15px * 1.33);
      margin-right: calc(15px * 1.33);
      background: #fff;
      @media screen and (max-width: 1440px) {
        width: 139px;
        height: 60px;
        border-radius: 12px;
        margin-left: 15px;
        margin-right: 15px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: 3px;
        margin-right: 3px;
      }
      &.selected {
        height: calc(69px * 1.33);
        @media screen and (max-width: 1440px) {
          height: 69px;
        }
        .content {
          height: calc(50px * 1.33);
          padding: 10px 16px;
          @media screen and (max-width: 1440px) {
            height: 50px;
            padding: 8px 12px;
          }
        }
      }
      &.active {
        border: 2px solid #B79B53;
      }
      .title {
        height: calc(19px * 1.33);
        width: 100%;
        font-size: 0.83125rem;
        line-height: calc(10px * 1.33);
        letter-spacing: 0.1em;
        font-weight: normal;
        text-align: center;
        color: #fff;
        margin: auto;
        background: #B79B53;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        justify-content: center;
        align-items: center;
        display: flex;
        @media screen and (max-width: 1440px) {
          height: 19px;
          line-height: 19px;
          font-size: 0.714285rem;
        }
      }
      .content {
        display: flex;
        align-items: center;
        padding: calc(12px * 1.33);
        height: 100%;
        @media screen and (max-width: 1440px) {
          padding: 12px;
        }
        >img {
          height: 100%;
          margin-right: 9px;
        }
        .name {
          display: flex;
          flex-direction: column;
          width: 106px;
          @media screen and (max-width: 1440px) {
            width: 75px;
          }
          >span:nth-child(1) {
            font-size: 0.914375rem;
            font-weight: normal;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            @media screen and (max-width: 1440px) {
              font-size: 0.78571rem;
            }
          }
          >span:nth-child(2) {
            font-size: 0.665rem;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
            @media screen and (max-width: 1440px) {
              font-size: 0.5714rem;
            }
          }
        }
      }
    }
  }
}