@import "../../../styles/colors";

.product-page-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 64px 0px 64px 0px;
  width: 1248px;
  margin: auto;
  &.show-all-product {
    // padding: 120px 0px 120px 0px;
    width: 1200px;
  }
  @media screen and (max-width: 1290px) {
    padding: 24px;
    width: 100%;
    max-width: unset;
  }
  >div {
    position: relative;
    #id-create-scent {
      position: absolute;
      top: -44px;
    }
  }
  .div-stick {
    position: fixed;
    z-index: 3;
    top: 38px;
    background: $Primary-10;
    // padding-top: 10px;
    transition: top 0.6s ease 0s;
    &.scroll-up {
      top: 38px;
    }
    .sort-fillter-mobile {
      padding: 0px 24px;
    }
  }
  .switch-button {
    margin-bottom: 12px;
    margin: 50px 0px;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      margin: 24px 0px;
    }
  }

  .switch-text {
    height: 72px;
    width: 100%;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    // margin-top: 24px;
    &.add-padding {
      margin-top: 24px;
      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }
    }
    @media screen and (max-width: 1024px) {
      height: 53px;
      padding: 0px;
    }
    >button {
      font-weight: 500;
      font-size: 16px;
      color: $Primary-80;
      text-transform: uppercase;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .active-bt {
      color: $Secondary-60;
    }
    >span {
      color: $Neutral-70;
      padding: 0px 8px;
    }
  }

  .content-product-all {
    padding: 64px 0px;
    width: 100%;
  }

  .sort-fillter-mobile {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    .dropdown-sort-fillter {
      >div {
        transform: unset !important;
        top: 38px !important;
        width: calc((100vw - 24px * 2 - 8px) / 2);
        border-radius: 10px;
        border: 1px solid $Primary-70;
        background: #FFF4E0;
        padding: 0px;
        .drop-down-item-order {
          border-bottom: 1px solid $Primary-70;
          padding: 8px 10px;
          >span {
            font-size: 14px;
            line-height: 24px;
            color: $Secondary-60;
          }
        }
        >div:last-child {
          .drop-down-item-order {
            border-bottom: none;
          }
        }
      }
    }
    .bt-fillter {
      width: calc((100vw - 24px * 2 - 8px) / 2);
      background: $Primary-60;
      border: 1px solid $Secondary-60;
    }
  }
}

.drawer-filter {
  .MuiDrawer-paper {
    width: 100vw;
    background: $Primary-30;
  }
}