.body-item-mobile {
  background: #fff;
  padding: 40px 30px 0px 30px;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  .div-header-modal {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background: #fff;
    top: 0px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    align-items: center;
    >h2 {
      font-size: 16px;
      letter-spacing: 0.2em;
      font-weight: normal;
      margin-bottom: 0px;
    }
    >button >img {
      width: 19px;
      height: 19px;
    }
  }
  .div-order {
    margin-top: 20px;
  }
  .div-summary {
    .free-shipping {
      padding-bottom: 15px;
      >span {
        color: #C9A047;
      }
      .tx-price {
        font-size: 16px;
      }
    }
    .items-center:nth-child(1) {
      padding-top:20px;
    }
    .items-center:nth-child(3) {
      margin-bottom: 30px;
    }
    .line-black, >hr {
      display: none;
    }
    .div-expand {
      .div-header-expand {
        display: none;
      }
      >hr {
        display: none;
      }
      .div-content-expand {
        display: none;
      }
    }
    .bt-checkout {
      display: none;
    }
  }
}