.div-block-list-video-v2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  @media screen and (max-width: 1024px) {
    margin-top: 48px;
  }
  .heading {
    margin-bottom: 80px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 30px;
    }
  }
  .video {
    // border-radius: 20px;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
      // border-radius: 7px;
    }
  }
  .block-usp-wrap {
    @media screen and (max-width: 1024px) {
      padding: 0px;
    }
   .div-block-usp {
     .item-block-usp {
      @media screen and (max-width: 1024px) {
        margin: 12px 0px;
      }
     }
   }
  }
}