.natural-properties {
  display: flex;
  align-items: center;
  justify-content: center;

  .properties {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;

    li {
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .block-title {
        font-size: 14px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;

        margin-top: 8px;
      }
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(2, auto);
      row-gap: 24px;
    }
  }
}