.scent-tags {
  padding-left: 0;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  .tag {
    display: flex;
    align-items: center;

    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #EBD8B8;

    .name {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;

      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #56564E;
    }

    &-has-icon {
      background-color: #80807A;
      .icon {
        margin-right: 8px;
      }
      .name {
        color: #EBD8B8;
      }
    }
  }
}