.gift-banner {
  .block-image {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 108px);
    max-height: 481px;

    z-index: 1;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: 991px) {
      height: calc(100vw * 0.55);
    }
    @media screen and (max-width: 767px) {
      height: auto !important;
      max-height: unset;
      padding: 0 16px;
      overflow: hidden;
      &:before {
        background-color: transparent;
      }
      > img {
        border-radius: 20px;
        height: 352px;
      }
      .block-content {
        position: relative;
        .wrapper {
          margin-top: 24px;
          padding: 0;
        }
      }
    }
  }
  .block-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;

    .wrapper {
      position: relative;
      z-index: 9;
      width: 1200px;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .banner-title, .banner-description {
        max-width: 608px;
      }
      .banner-title {
        line-height: 120%;
      }
      .banner-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #56564E;
      }
      .banner-btn {
        width: fit-content;
        margin-top: 24px;
        text-transform: capitalize;
      }

      @media screen and (max-width: 1200px) {
        padding: 0 24px;
      }

      @media screen and (max-width: 991px) {
        width: 100%;
        .banner-title, .banner-description {
          width: 60%;
        }

        .banner-description {
          font-size: 16px;
        }
        .banner-video {
          font-size: 14px;
        }
      }

      @media screen and (max-width: 767px) {
        .banner-title, .banner-description {
          width: 100%;
        }
      }

      @media screen and (max-width: 480px) {
        .banner-btn {
          width: 100%;
        }
      }
    }

    &-title, &-description, &-video {
      width: 100%;
      color: #F5ECDC;
      text-align: center;
    }
    &-title {
      line-height: 120%;
      margin-bottom: 12px;
    }
    &-description {
      font-size: 18px;
    }
    &-video {
      text-decoration: underline;
      line-height: 150%;
      cursor: pointer;
      width: fit-content;
      margin: 16px auto 0;
      > img {
        margin-left: 8px;
      }
    }

    @media screen and (max-width: 767px) {
      &-title, &-video {
        color: #2C2C22;
      }
      &-description {
        color: #56564E;
      }
    }
  }
}

.gift-dark-banner {
  padding: 24px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  .wrapper {
    max-width: 991px;
  }

  &.gift-bundles-banner .block-image {
    height: calc(100vh - 108px - 72px - 48px);
  }
  &.gift-voucher-banner .block-image, &.gift-bespoke-banner .block-image, &.gift-workshop-banner .block-image {
    height: calc(100vh - 108px - 48px);
  }
  .block-image {
    border-radius: 40px;

    &::before {
      content: '';
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      background-color: #2C2C22;
      opacity: 0.6;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 24px 16px;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
    .block-image {
      border-radius: 0;
      display: flex;
      flex-direction: column-reverse;
      &::before {
        background-color: transparent;
      }
    }
    .block-content {
      .wrapper {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }
  }
}