.gift-bespoke-image {
  position: relative;
  overflow: hidden;

  .bespoke-image-wrapper {
    width: 100%;
    height: 481px;
    position: relative;
    z-index: 1;
    > img {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      object-fit: cover;
    }
  }
  .bespoke-image-content {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 520px;
    padding-left: 120px;
    .main-title {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 991px) {
    .bespoke-image-content {
      max-width: 460px;
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 24px 0;
    .bespoke-image-content {
      position: relative;
      padding: 0;
      margin-bottom: 20px;
      transform: translateY(0);
      .main-title {
        text-align: center;
      }
    }
    .bespoke-image-wrapper {
      padding: 0px 8px;
      height: auto;
      > img {
        height: 380px;
      }
    }
  }
}