.mobi--review-article {
  background-color: #fff;
  padding-bottom: 1.625rem;
  height: 100%;

  .__title {
    color: #0D0D0D;

    h3 {
      font-size: 2.25rem;
    }

    p {
      text-align: center;
      padding-top: 1rem;
      font-size: 0.875rem;
    }
  }

  

  .mobi--item-list {
    padding: 3rem 1.875rem;

    a {
      text-decoration: none;
    }

    .__item {
      .cover {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        padding-top: 0.875rem;
        padding-bottom: 2.625rem;

        p {
          margin-bottom: 0rem;
        }
        .__item-name {
          font-weight: 600;
          font-size: 0.75rem;
          text-transform: uppercase;
          color: #8d8d8d;
        }

        .__item-content {
          padding-top: 1rem;
          font-size: 1rem;
          line-height: 1.25rem;
          color: #000000;
        }

        .__item-date {
          padding-top: 0.5rem;
          font-size: 0.875rem;
          color: #666666;
        }
      }
    }

    .pagination {
      .__navBtn {
        font-weight: 600;
        font-size: 0.875rem;
        // text-transform: uppercase;
        color: #0D0D0D;
      }

      .pageBtn {
        margin: 0rem 0.375rem; 
        width: 2.5rem;
        height: 2.5rem;
        background-color: #fff;
        color: #0D0D0D;
        border-radius: 6px;

        &.active {
          background-color: #0D0D0D;
          color: #fff;
        }
      }
    }
  }
}
