.wrapper-glossaire {
  // margin-top: 114px;
  position: relative;
  @media screen and (max-width: 1024px){
    // margin-top: 87px;
  }
  .alphabet-bar {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    text-align: center;
    position: absolute;
    // top: 5.8em;
    right: 33px;
    @media screen and (max-width: 1024px) {
      font-size: 13px;
      right: 14px;
    }
    > span {
      line-height: 19px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1024px) {
        line-height: 18px;
      }
      @media screen and (min-width: 1366px) and (max-width: 1440px){
        line-height: 17px;
      }
      @media screen and (device-aspect-ratio: 40/71) {
        line-height: 16px;
      }
    }
    i {
      font-size: 8px;
      margin-right: 5px;
      opacity: 0;
    }
    .key {
      cursor: pointer;
      min-width: 12px;
    }
    .active {
      i {
        opacity: 1;
        transition: 0.1s;
        color: #b79b53;
      }
      .key {
        color: #b79b53 !important;
      }
    }
  }
  .banner {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 1024px) {
      min-height: 140px;
    }
    h1 {
      color: white;
      font-size: 52px;
      letter-spacing: 0.2em;
      margin: 0;
      @media screen and (max-width: 1024px) {
        font-size: 28px;
      }
    }
  }
  .search-box {
    margin-bottom: 5em;
    position: absolute;
    left: 0;
    right: 0;
    top: -94px;
    @media screen and (max-width: 1024px) {
      top: -73px;
    }
    .wrapper-search {
      display: flex;
      align-items: center;
      width: 38%;
      // transition: 0.1s ease-in;
      box-shadow: 4.59172px 4.59172px 34.4379px rgba(0, 0, 0, 0.15);
      margin: 0 auto;
      border-radius: 62px;
      background: white;
      overflow: hidden;
      padding: 9px;
      transition: 0.2s ease-in-out;
      @media screen and (max-width: 1024px) {
        width: 90%;
        padding: 4px;
        justify-content: center;
      }
      i {
        font-size: 22px;
        padding: 0px 14px 4px 14px;
        color: #b79a53;
      }
      input {
        border: none;
        flex-grow: 1;
        padding: 9px 16px 9px 0;
        @media screen and (max-width: 1024px) {
          flex-grow: unset;
          padding: 9px 0;
          width: 42%;
        }
      }
    }
  }
  .sticky {
    z-index: 9;
  }
  .wrapper-item-scent {
    margin-top: 6em;
  }
  .sticky .search-box {
    .wrapper-search {
      width: 100%;
      transition: 0.2s ease-in-out;
      border-radius: 0;
    }
  }
  #service-section {
    @media screen and (max-width: 1024px) {
      height: 22px;
    }
  }
  .service-section {
    background-position: center;
    background-size: cover;
    padding-top: 1.2em;
    margin-top: 7rem;
    color: white;
    @media screen and (max-width: 1024px) {
      display: none;
    }
    .service-box {
      text-align: center;
      padding: 14px 0;
      img {
        height: 63px;
        width: auto;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 1em;
      }
    }
  }
  .scroll-top {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    cursor: pointer;
    bottom: 0;
    right: 0;
    @media screen and (max-width: 1024px) {
      padding: 0 6px 8px;
      margin-top: -3em;
    }
    @media screen and (min-width: 1366px) and (max-width: 1440px){
      img{
        width: 80%;
      }
    }
  }
  .alphabet-sticky {
    position: relative;
    z-index: 1;
  }
}
