@keyframes yes-no-active {
  0% { width: 60%; }
  50% { width: 100%; }
  100% { width: 50%; }
}
@keyframes yes-no-un-active {
  0% { width: 40%; }
  50% { width: 0%; }
  100% { width: 50%; }
}
.yes-no-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  .title-question-quiz {
    padding: 60px 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 991px) {
      height: calc((100vh - 82px) / 2);
      justify-content: center;
    }
    @media screen and (max-width: 767px){
      padding: 42px 24px;
      height: auto;
    }
    .title-q {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #2C2C22;
      margin-bottom: 12px;
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
    .des-q {
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: #56564E;
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  .answers-quiz {
    width: 100%;
    flex: 1;
    display: flex;
    &.layout-animation {
      display: -webkit-box;
      .active {
        animation-name: yes-no-active;
        animation-duration: 1s;
      }
      .un-active {
        animation-name: yes-no-un-active;
        animation-duration: 1s;
      }
    }
    >div {
      width: 50%;
      transition: all 0.2s ease;
      &:hover {
        width: 60%;
      }
    }
  }
}