.product-section {
  border: 1px solid #0d0d0d;
  padding: 1.5rem 2rem;
  @media screen and (max-width: 1024px) {
    border: none;
    margin-bottom: 1em;
    padding: 0 0;
    margin-top: 2em;
    position: relative;
    z-index: 9;
  }
  .title-center {
    h1 {
      font-size: 22px;
      letter-spacing: 0.1em;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      @media screen and (max-width: 1024px) {
        margin-bottom: 1rem;
      }
    }
  }
  .products-box {
    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
    }
  }
  .product {
    padding: 2rem 1rem 1rem;
    border-bottom: 1px solid #e2e2e2;
    @media screen and (max-width: 1024px) {
      border-bottom: none;
    }
    @media screen and (min-width: 1024px) {
      &:first-of-type {
        padding: 0rem 1rem 1rem;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .image-product {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 1.5rem;
      .image {
        float: left;
        position: relative;
        width: 100%;
        padding-bottom: 70%; /* = width for a 1:1 aspect ratio */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 6px;
      }
    }
    .info-product {
      .info-title {
        margin: 8px 0;
        font-size: 10px;
        text-align: center;

        .info {
          font-size: 12px;
          color: #0d0d0d;
          margin-bottom: 0;
          line-height: 16px;
          max-height: calc(16px * 3);
          overflow: hidden;
          margin-bottom: 8px;
        }
        .price {
          font-size: 20px;
          color: #0d0d0d;
          font-weight: 500;
          margin-bottom: 0;
          @media screen and (max-width: 1024px) {
            font-size: 18px;
          }
        }
      }
      .title {
        margin-top: 12px;
        font-size: 18px;
        color: #0d0d0d;
        text-align: center;
        font-weight: 400;
        @media screen and (max-width: 1024px) {
          font-size: 16px;
        }
      }
    }
  }
  .link-shop {
    color: #0d0d0d;
    font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
  }
}
