.gift-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }
  &__block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "item-1 item-1"
      "item-2 item-3";
    gap: 24px;

    &.block-full {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "item-1 item-1 item-1"
      "item-2 item-3 item-4";
    }

    .gift-block {
      height: 400px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      border-radius: 15px;
      z-index: 1;
      &.item-1 {
        grid-area: item-1;
        height: 420px;
        .title {
          font-size: 32px;
        }
      }
      &.item-2 {
        grid-area: item-2;
      }
      &.item-3 {
        grid-area: item-3;
      }
      &.item-4 {
        grid-area: item-4;
      }
      &:hover {
        .gift-image {
          > img {
          transform: scale(1.25);
          }
          &:before {
            background-color: rgba(44, 44, 34, 0.8);
            opacity: 1;
          }
        }
      }
      &__image {
        width: 100%;
        height: 100%;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #2C2C22;
          opacity: 0.5;
          transition: all ease 600ms;
          z-index: 9;
        }

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all ease 600ms;
        }
      }
      &__content {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        padding: 24px;
        z-index: 9;

        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          margin: 0;
          font-weight: 600;
          font-size: 24px;
          line-height: 150%;
          color: #F5ECDC;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .gift-block, &.item-1 {
        height: 320px !important;
      }
    }
    @media screen and (max-width: 786px) {
      .gift-block, &.item-1 {
        height: 260px !important;
      }
    }
    @media screen and (max-width: 480px) {
      grid-template-areas:
        "item-1 item-1"
        "item-2 item-3";
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;

      &.block-full {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "item-1 item-2"
        "item-3 item-4";
      }
      .gift-block {
        height: 220px !important;
        &__content .title, &.item-1 .title {
          font-size: 16px;
        }
      }
    }
  }
}