.div-faq {
  // margin-top: 227px;
  // @media screen and (max-width: 1440px) {
  //   margin-top: 170px;
  // }
  // @media screen and (max-width: 1024px) {
  //   margin-top: 86px;
  // }
  >h1 {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #0D0D0D;
    padding: 80px 0px;
    margin-bottom: 0px;
    @media only screen and (max-width: 1024px) {
      font-size: 20px;
      padding: 50px 0px;
    }
  }
  .content-faq {
    max-width: 731px;
    border-top: 1px solid rgba(38, 38, 38, 0.1);
    margin: auto;
    @media only screen and (max-width: 1024px) {
      max-width: calc(100% - 28px);
    }
    .collapse-item {
      display: flex;
      flex-direction: column;
      &.sub-item {
        >button {
          padding-left: 30px;
          @media only screen and (max-width: 1024px) {
            padding-left: 0px;
          }
          >span {
            font-weight: normal;
            font-size: 16px;
            text-transform: capitalize;
            letter-spacing: unset;
            @media only screen and (max-width: 1024px) {
              font-size: 14px;
            }
          }
        }
      }
      >button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 47px 0px;
        border: none;
        background: transparent;
        border-bottom: 1px solid rgba(38, 38, 38, 0.1);
        text-align: left;
        @media only screen and (max-width: 1024px) {
          padding: 37px 0px;
        }
        >img {
          width: 16px;
          margin-right: 30px;
        }
        >span {
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0.2em;
          color: #0D0D0D;
          text-transform: uppercase;
          @media only screen and (max-width: 1024px) {
            font-size: 16px;
          }
        }
      }
      .text-answer {
        padding: 30px 64px 14px 74px;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #545454;
        border-bottom: 1px solid #E2E2E2;
        @media only screen and (max-width: 1024px) {
          font-size: 14px;
          line-height: 24px;
          padding: 30px 0px 14px 45px;
        }
      }
      .ReactCollapse--collapse {
        transition: height 500ms;
      }
    }
    .div-need-more {
      padding: 80px 0px 64px 0px;
      @media only screen and (max-width: 1024px) {
        padding: 50px 0px 34px 0px;
      }
      >h2 {
        font-family: Playfair Display;
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
        margin-bottom: 40px;
        @media only screen and (max-width: 1024px) {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .des-need-more {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  .block-icon-line {
    border-top: 1px solid #E2E2E2;
  }
}