.banner-articles-blog {
  //   breadcrumb
  position: relative;
  .banner-articles {
    position: relative;
    color: #ffffff;
    // box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 20.9vw;
  }
  .info-banner {
    color: #0D0D0D;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 91px 0px 70px 0px;
    .owner-info {
      display: flex;
      >span:nth-child(1) {
        font-size:12px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-right: 1rem;
      }
      >span:nth-child(2) {
        font-size: 10px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #8D8D8D;
        margin-left: 1rem;

      }
    }
  }
  .back-btn {
    margin: 1.5rem 2rem;
    display: block;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    &:hover {
      opacity: 0.8;
      transition: 0.2s ease-out;
    }
    img {
      width: 8px;
      margin-right: 10px;
    }
  }
  .breadcrumb {
    background: none;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
    // position: absolute;
    // bottom: 3em;
    // left: 0;
    // right: 0;
    a {
      &:hover {
        text-decoration: none;
        opacity: 0.8;
        transition: 0.1s;
      }
    }
    .breadcrumb-item.active {
      // color: #0D0D0D;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      padding-right: 0.5rem;
      content: "/";
    }
  }
  .tag {
    width: fit-content;
    background: #b79a53;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .info-banner {
    .title {
      margin: 34px 0px 30px 0px;
      font-size: 36px;
      max-width: 800px;
    }
    .cat {
      margin-bottom: 12px;
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.1em;
    }
    .time {
      margin-bottom: 16px;
      display: inline-block;
      border-top: 2px solid #b79b53;
      padding-top: 8px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.1em;
    }
  }
}
