.item-yes-no {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #EDDCBF;
  &.right {
    background: #D4C2A6;
  }
  &.active {
    background: #2C2C22;
    .text-info-yes-no {
      color: #EBD8B8;
    }
    >svg {
      display: inherit;
    }
  }
  >img {
    width: 160px;
    height: 224px;
    margin-bottom: 24px;
    @media screen and (max-width: 767px) {
      width: 1000px;
      height: 148px;
    }
  }
  .text-info-yes-no {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #2C2C22;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      padding: 0px 24px;
    }
  }
  >svg {
    font-size: 40px;
    color: #EBD8B8;
    display: none;
  }
} 