.column-chart {
  align-items: center;
  .div-chart {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    width: 48px;
    .div-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      .column-value {
        height: 60%;
        width: 100%;
        background: red;
        border-radius: 5px;
        margin-bottom: 5px;
      }
    }
    .div-image {
      width: 100%;
      height: 48px;
      padding: 8px;
      border: 0.5px solid #8D826E;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      >img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .body-text-s-regular {
    text-transform: capitalize;
    font-size: 10px;
    margin-top: 4px;
  }
}