.block-info-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 991px) {
    flex-direction: column;
    justify-content: flex-start;
  }
  .div-image, .div-right-info {
    width: calc((100% - 48px)/2);
    height: 678px;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  } 
  .div-image {
    object-fit: cover;
    @media screen and (max-width: 991px) {
      height: 420px;
    }
    @media screen and (max-width: 767px) {
      height: 270px;
    }
  }

  &.sephora-result {
    .div-right-info {
      height: auto;
      width: 100%;
      margin-top: 24px;
      @media screen and (max-width: 991px) {
        margin-top: 0px;
      }
      .div-header {
        margin-bottom: 0px;
      }
    }
  }
  .div-right-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
    padding-right: 16px;
    @media screen and (max-width: 991px) {
      height: auto;
      padding: 36px 16px 48px 16px;
      margin-bottom: 0px;
    }
    .div-header {
      padding: 24px;
      align-items: center;
      background: #2C2C22;
      border-radius: 20px;
      width: auto;
      // min-width: 570px;
      margin-bottom: 48px;
      @media screen and (max-width: 991px) {
        width: 100%;
        margin-bottom: 24px;
        padding: 36px 16px;
        min-width: unset;
      }
      .title-header {
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #EBD8B8;
        margin-bottom: 12px;
        text-align: center;
        @media screen and (max-width: 991px) {
          width: 100%;
          font-size: 16px;
        }
      }
    }
    .div-name {
      align-items: center;
      justify-content: center;
      width: 100%;
      .image-icon {
        width: 42px;
        height: 42px;
        margin-right: 16px;
        @media screen and (max-width: 991px) {
          width: 24px;
          height: 24px;
        }
      }
      .header_2 {
        font-weight: 400;
        font-size: 45px;
        color: #EBD8B8;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        line-height: 120%;
        width: max-content;
        @media screen and (max-width: 991px) {
          font-size: 26px;
          width: auto;
        }
        @media screen and (max-width: 600px) {
          width: min-content;
        }
      }
    }
    .body-text-s-regular {
      margin-bottom: 18px;
    }
    .list-tab {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;
      flex-wrap: wrap;
      >div {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #EBD8B8;
        padding: 5px 10px;
        background: #56564E;
        border-radius: 5px;
        margin-right: 8px;
        margin-bottom: 10px;
      }
    }
    .des {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #56564E;
      margin-bottom: 24px;
      width: 570px;
      @media screen and (max-width: 1200px) {
        width: 100%;
        padding-right: 16px;
      }
      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }
    .list-icon {
      display: flex;
      @media screen and (max-width: 991px) {
        width: 460px;
        justify-content: space-between;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .item-icon {
        margin-left: 16px;
        width: 86px;
        align-items: center;
        margin-right: 16px;
        @media screen and (max-width: 991px) {
          margin-left: unset;
          margin-right: unset;
        }
        >img {
          width: 48px;
          height: 48px;
          margin-bottom: 6px;
        }
        >div {
          font-weight: 400;
          font-size: 16px;
          color: #2C2C22;
        }
      }
    }
    .bt-retake {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      color: #2C2C22;
      margin-bottom: 32px;
      >svg {
        color: #2C2C22;
        font-size: 20px;
        margin-right: 4px;
      }
    }
  }
}