.b2b-partnership {
  margin-top: 227px;
  @media (max-width: 1440px) {
    margin-top: 170px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
  }
  .our-ingredients {
    .bg-right {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .left-col {
      background-color: #b79b53;
      color: #ffffff;
    }
    .content {
      padding: 0 3rem;
      font-size: 14px;
      h3 {
        margin-top: 3rem;
        letter-spacing: 7px;
        font-size: 3rem;

        @media screen and (max-width: 767.98px) {
          margin-top: 0.6rem;
          letter-spacing: 2px;
          font-size: unset;
        }
      }
      p {
        margin-top: 8px;
      }
      @media screen and (max-width: 767.98px) {
        padding: 0;
      }
    }
    .icon-box {
      text-align: center;
      padding: 10px 21px;
      @media screen and (max-width: 767.98px) {
        p {
          font-size: 12px;
        }
      }
      .wrapper-icon {
        height: 50px;
        @media screen and (max-width: 767.98px) {
          height: 40px;
        }
        img {
          height: 100%;
        }
      }

      @media (max-width: 1440px) and (min-width: 1024px) {
        img {
          width: auto !important;
          height: 100%;
        }
        p {
          margin-top: 12px;
          font-size: 14px;
        }
      }
    }
  }
  .content-wrapper {
    height: 100%;
    text-align: center;
    position: relative;
    img {
      height: 100%;
    }
    .btn-back {
      position: absolute;
      color: #00000091;
      display: block;
      border: none;
      background: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      padding: 0px;
      left: 58px;
      top: 0px;
      @media screen and (max-width: 1440px) {
        font-size: calc(16px * 0.75);
        line-height: calc(23px * 0.75);
        left: calc(58px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        left: 0px;
        top: 20px;
      }
      >img {
        height: 20px;
        margin-right: 20px;
        @media screen and (max-width: 1440px) {
          height: calc(20px * 0.75);
          margin-right: calc(20px * 0.75);
        }
      }
    }
    .content-detail-brand {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding-right: calc((50vw - 60px) * 152/900);
      @media screen and (max-width: 1024px) {
        align-items: center;
        padding: 30px 20px 30px 20px;
      }
      img {
        height: 110px;
        @media screen and (max-width: 1440px) {
          height: calc(110px * 0.75);
        }
        @media screen and (max-width: 767.98px) {
          height: 55px;
        }
      }
      >h4 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 25px;
        line-height: 27px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(50px * 0.75);
          margin-bottom: calc(30px * 0.75);
          font-size: calc(25px * 0.75);
          line-height: calc(27px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-weight: 300;
          font-size: 17px;
          line-height: 25px;
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
      .rich-text {
        width: 60%;
        >p {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px;
          text-align: end;
          @media screen and (max-width: 1440px) {
            font-size: 14px;
            line-height: 17px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 13px;
            line-height: 19px;
            margin-bottom: 0px;
            text-align: center;
          }
        }
      }
    }
  }
}
