.glossary-breadcrumb {
  padding: 10px 0;
  .list {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;

    .link-redirect {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #BCAD93;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      .slash {
        padding: 0 8px;
        color: #56564E;
      }
    }
    .current {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2C2C22;
      cursor: initial;
    }

    @media screen and (max-width: 480px) {
      .link-redirect, .current {
        font-size: 14px;
      }
    }
  }
}