.discovery {
  background-color: #000;
  @media (max-width: 767.98px) {
    padding-bottom: 2.5rem;
  }
  .background {
    padding: 2rem 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 1440px) {
      padding: 2rem 2.5rem;
    }

    @media (max-width: 767.98px) {
      padding: 0;
      min-height: 245px;
      width: 100%;
    }
  }
  .__content {
    padding: 0rem 3rem;
    width: fit-content;
    @media (max-width: 767.98px) {
      margin-top: 1rem;
    }
    .__content__title {
      h2 {
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 3rem;
        line-height: 4rem;
        letter-spacing: 0.05em;
        color: #ffffff;

        @media screen and (max-width: 1440px) {
          font-size: 2.25rem;
        }

        @media (max-width: 767.98px) {
          font-size: 1.875rem;
          text-align: center;
        }
      }

      h3 {
        margin-top: 1.875rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.05em;
        color: #ffffff;

        @media screen and (max-width: 1440px) {
          font-size: 1.5rem;
        }

        @media (max-width: 767.98px) {
          margin-top: 1rem;
          font-size: 1.125rem;
        }
      }
    }

    .__content__description {
      margin-top: 1.75rem;
      p {
        text-align: center;
        display: block;
        font-size: 1.125rem;
        line-height: 1.3rem;
        letter-spacing: 0.05em;
        color: #ffffff;

        @media screen and (max-width: 1440px) {
          font-size: 0.85rem;
        }
      }

      .price {
        cursor: pointer;
        margin: 1.3rem 0rem;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        width: fit-content;
        height: 100%;
        padding: 1.25rem 3rem;
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.625rem;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #0d0d0d;
        text-decoration: none;

        @media screen and (max-width: 1440px) {
          font-size: 1rem;
          padding: 1.25rem 2.25rem;
        }
      }

      .extra {
        font-size: 0.875rem;
        @media screen and (max-width: 1440px) {
          font-size: 0.65rem;
        }

        @media (max-width: 767.98px) {
          margin-top: -1rem;
        }
      }
    }
  }
}
