.recomment-combo-item {
  padding: 0 14px;
  position: relative;
  flex-grow: 1;
  @media screen and (max-width: 1024px) {
    margin-bottom: 2em;
  }
  h4 {
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    margin: 1em 0;
    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }
  }
  .scent-mix {
    position: relative;
    width: 67%;
    overflow: hidden;
    margin: 0 auto 40px;
    border-radius: 30%;
    box-shadow: 6px 6px 11px 0px #00000059;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    span {
      position: absolute;
      top: 50%;
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
    > div {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
    }
    .wrapper-scent {
      > div {
        width: 50%;
        position: relative;
        overflow: hidden;
      }
    }
  }
  .scent-mix:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .btn-shop {
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
      transition: 0.1;
    }
  }
  .div-progress {
    width: 67%;
    margin: 0em auto 1em;
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    .div-process-line {
      .progressLine {
        margin-bottom: 20px;
        .div-progress {
          height: 6px;
          margin-top: 2px;
        }
        span {
          font-size: 12px;
          @media screen and (max-width: 1024px) {
            font-size: 11px;
          }
        }
      }
    }
    .div-process-circle {
      display: flex;
      justify-content: space-around;
      margin-top: 1.5em;
      @media screen and (max-width: 1024px) {
        margin-top: 1em;
      }
      .progress-circle {
        span {
          font-size: 12px;
          @media screen and (max-width: 1024px) {
            font-size: 11px;
          }
        }
        .div-circle {
          width: 60%;
          @media screen and (max-width: 1024px) {
            width: 80%;
            .CircularProgressbar-text {
              font-size: 20px !important;
            }
          }
        }
      }
    }
  }
}
