@keyframes animation-gender {
  0% {height: 47.5%; background: #D4C2A6;}
  50%  {height: 100%; background: #2C2C22;}
  100% {height: 33.3%; background: #2C2C22;}
}
@keyframes fadein-gender {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.question-gender {
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (max-width: 991px) {
    width: 33.33%;
    height: 100%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  &:hover {
    height: 47.5%;
    transition: all 0.2s;
    @media screen and (max-width: 991px) {
      height: 100%;
      width: 40%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &.male {
    background: #D4C2A6;
  }
  &.female {
    background: #EDDCBF;
  }
  &.unsex {
    background: #F1E4CD;
    @media screen and (max-width: 767px) {
      grid-area: 2 / 1 / span 2 / span 2;
    }
  }
  &.active {
    background: #2C2C22;
    // animation: animation-gender 1s ease;
    @media screen and (max-width: 767px) {
      animation: unset;
    }
    &:hover {
      height: 33.3%;
      @media screen and (max-width: 991px) {
        height: 100%;
      }
    }
    .content-question {
      >div {
        color: #EBD8B8;
      }
      >svg {
        display: inline;
      }
    }
  }
  &.selected-data {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    animation: fadein-gender 0.2s ease;
    &.male {
      background: #D4C2A6;
    }
    &.female {
      background: #EDDCBF;
    }
    &.unsex {
      background: #F1E4CD;
    }
  }
  .content-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .image-icon {
      height: 16vh;
      width: auto;
      margin-bottom: 12px;
      @media screen and (max-width: 991px) {
        margin-bottom: 24px;
      }
      >img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    
    >div {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: #2C2C22;
    }
    >svg {
      width: 40px;
      height: 40px;
      color: #EBD8B8;
      display: none;
    }
  }
}