.bottle-step {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 253px;
  height: 253px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  align-items: center;
  .image-bg {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .bottle {
    height: 231px;
    margin-bottom: 22px;
    z-index: 1;
    margin-top: -35px;
  }
  .text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    z-index: 1;
  }
}