.top-stories-section {
  padding-bottom: 2rem;
  margin-top: 2em;
  @media screen and (max-width: 1024px) {
    margin-top: 1em;
  }
  .hr-title-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .hr {
      flex-grow: 1;
      height: 3px;
      border-radius: 50px;
      @media screen and (max-width: 1024px) {
        height: 1px;
      }
      &:first-of-type {
        background: rgb(227, 191, 97);
        background: linear-gradient(
          90deg,
          rgba(227, 191, 97, 1) 0%,
          rgba(183, 155, 83, 1) 100%
        );
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      &:last-child {
        background: rgb(183, 155, 83);
        background: linear-gradient(
          90deg,
          rgba(183, 155, 83, 1) 0%,
          rgba(227, 191, 97, 1) 100%
        );
        @media screen and (max-width: 1024px) {
          width: 100%;
          background: rgb(227, 191, 97);
          background: linear-gradient(
            90deg,
            rgba(227, 191, 97, 1) 0%,
            rgba(183, 155, 83, 1) 100%
          );
        }
      }
    }
    span {
      padding: 0 16px;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        width: 100%;
        text-align: center;
        padding: 0 0 8px;
      }
    }
  }
  .article {
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      margin-bottom: 2rem;
    }
    .image-article {
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 6px;
      &:hover {
        .image {
          transform: scale(1.3);
          transition: 0.5s;
        }
        .hover-l {
          display: block;
          transition: 0.2s;
        }
        .tag {
          display: none;
          transition: 0.4s;
        }
      }
      .image {
        float: left;
        position: relative;
        width: 100%;
        transition: 0.5s;
        transform: scale(1);
        padding-bottom: 108%; /* = width for a 1:1 aspect ratio */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 6px;
        @media screen and (max-width: 1024px) {
          padding-bottom: 80%;
        }
      }
      .hover-l {
        height: 96%;
        width: 96%;
        position: absolute;
        left: 50%;
        border: 1px solid #b79953;
        border-radius: 6px;
        right: 0;
        transition: 0.2s;
        display: none;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .tag {
        width: auto;
        position: absolute;
        top: 0.5rem;
        display: block;
        transition: 0.4s;
        right: 0.5rem;
        background: #b79a53;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        letter-spacing: 0.1em;
        border-radius: 4px;
      }
    }
    .info-article {
      .info-title {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
        font-size: 10px;
        .cat {
          font-weight: 500;
          color: #0d0d0d;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
            opacity: 0.7;
          }
        }
        .date {
          color: #8d8d8d;
          text-transform: uppercase;
        }
      }
      .title {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 500;
        color: #0d0d0d;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @media screen and (max-width: 1024px) {
          margin-top: 4px;
          margin-bottom: 4px;
        }
        &:hover {
          text-decoration: none;
        }
      }
      .des {
        max-height: calc(1.45em * 2);
        overflow: hidden;
        p{
          display: none;
        }
        p:first-of-type {
          display: none;
          font-size: 14px;
          color: #0d0d0d;
          margin-top: 1px;
          line-height: 1.5em;
          margin-bottom: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
