.step-info {
  padding: 11px 0px;
  border-bottom: 1px solid #E2E2E2;
  .step-item {
    align-items: center;
    &.click-able {
      cursor: pointer;
    }
    .ic-next {
      width: 8px;
      margin-right: 10px;
    }
    .ic-done {
      width: 14px;
      height: 14px;
      margin-right: 3px;
    }
    >span {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 20px;
      color: rgba(13, 13, 13, 0.6);
      margin-right: 10px;
      @media screen and (max-width: 1024px) {
        font-size: 0.86rem;
        line-height: 17px;
      }
    }
    .active {
      font-weight: 600;
      color: #0D0D0D;
    }
  }
}