@import '../../../styles/colors';
.div-select-scent-flip {
  width: 100%;
  position: relative;
  @media screen and (max-width: 1024px) {
      padding: 24px;
  }
  #anchor-select-scent {
    position: absolute;
    top: -60px;
  }
  .select-scent {
    @media screen and (max-width: 1024px) {
      padding: 0px 0px 48px 0px;
    }
    .list-scent-mobile {
      @media screen and (max-width: 1024px) {
        margin-left: 20px;
        flex: 1;
        margin-top: 20px;
      }
      .div-view-scent {
        @media screen and (max-width: 1024px) {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 12px;
          >div {
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #2C2C22;
          }
        }
      }
    }
  }
  &.show-choose-scent .flip-card-inner {
    transform: rotateY(180deg);
    .div-select-scent-front {
      z-index: 0;
    }
    .div-select-scent-back {
      z-index: 1;
    }
  }

  .block-scent-bottle {
    display: flex;
    width: 257px;
    height: 368px;
    position: relative;
    @media screen and (max-width: 1024px) {
      width: 107px;
      height: 150px;
    }
    &.one-image {
      cursor: pointer;
      .image-left {
        border-radius: 150px !important;
        .content {
          padding-right: unset !important;
        }
      }
      .image-right {
        display: none;
      }
    }
    &.oil-burner {
      .div-image-type {
        bottom: -90px;
        @media screen and (max-width: 1024px) {
          bottom: -35px;
        }
      }
    }
    &.mini-candle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      .div-image-type {
        .image-product {
          width: 200px;
          height: 130px;
          @media screen and (max-width: 1024px) {
            width: 88px;
            height: 88px;
          }
          >img {
            object-fit: cover;
            object-position: bottom;
          }
        }
      }
      .div-empty-scent {
        &.image-left {
          border-top-left-radius: 295px;
          border-bottom-left-radius: 0px;
          .content {
            padding-right: 0px;
            padding-bottom: 20px;
            justify-content: flex-end;
            .des {
              @media screen and (max-width: 1024px) {
                padding: 0px;
              }
            }
          }
        }
        &.image-right {
          border-top-right-radius: 295px;
          border-bottom-right-radius: 0px;
          .content {
            padding-left: 0px;
            padding-bottom: 20px;
            justify-content: flex-end;
            .des {
              @media screen and (max-width: 1024px) {
                padding: 0px;
              }
            }
          }
        }
        &.image-left-bottom {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 295px;
          background: #EFE0C6;
          .content {
            justify-content: flex-start;
          }
        }
        &.image-right-bottom {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 295px;
          background: #EBD8B8;
          .content {
            justify-content: flex-start;
          }
        }
      }
    }
    .div-empty-scent {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .full-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.image-left {
        background: $Primary-60;
        border-top-left-radius: 295px;
        border-bottom-left-radius: 295px;
        .content {
          padding-right: 20px;
          @media screen and (max-width: 1024px) {
            padding-right: 10px;
          }
        }
      }
      &.image-right {
        background: $Primary-40;
        border-top-right-radius: 295px;
        border-bottom-right-radius: 295px;
        .content {
          padding-left: 20px;
          @media screen and (max-width: 1024px) {
            padding-left: 10px;
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        .img-empty {
          width: 64px;
          height: 64px;
          @media screen and (max-width: 1024px) {
            width: 24px;
            height: 24px;
          }
        }
        .des {
          font-size: 14px;
          line-height: 120%;
          text-align: center;
          text-transform: uppercase;
          color: #000000;
          padding: 20px 14px 12px 14px;
          @media screen and (max-width: 1024px) {
            font-size: 10px;
            padding: 10px 4px 12px 4px;
          }
        }
        >button {
          height: 32px;
          font-size: 10px;
          padding: 0px;
          background: #FFF4E0;
          border-radius: 16px;
        }
      }
    }
    .div-image-type {
      position: absolute;
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 1024px) {
        bottom: -26px;
      }
      &.wax-type {
        bottom: -90px;
        @media screen and (max-width: 1024px) {
          bottom: -36px;
        }
      }
      &.mini-type {
        bottom: -50px;
        left: 54%;
        @media screen and (max-width: 1024px) {
          bottom: -16px;
        }
        .image-product {
          width: unset;
          height: 130px;
          @media screen and (max-width: 1024px) {
            height: 65px;
          }
        }
      }
      .image-product {
        width: 200px;
        height: 200px;
        @media screen and (max-width: 1024px) {
          width: 88px;
          height: 88px;
        }
        >img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .bottle-product-detail-v2 {
        .img-bottle {
          height: 264px;
          @media screen and (max-width: 1024px) {
            height: 117px;
          }
        }
        .img-name {
          width: 54px;
          height: 163px;
          top: 82px;
          border-radius: 20px;
          @media screen and (max-width: 1024px) {
            top: 37px;
            width: 24px;
            height: 74px;
            border-radius: 10px;
          }
        }
        .image-logo {
          top: 88px;
          width: 38px;
          @media screen and (max-width: 1024px) {
            top: 41px;
            width: 18px;
          }
        }
        .text-des-custome {
          bottom: 29px;
          font-size: 5px;
          @media screen and (max-width: 1024px) {
            bottom: 15px;
            font-size: 3px;
          }
        }
        .text-size-custome {
          bottom: 21px;
          font-size: 5px;
          @media screen and (max-width: 1024px) {
            bottom: 10px;
            font-size: 3px;
          }
        }
        .custome-name {
          top: 212px;
          font-size: 6px;
          @media screen and (max-width: 1024px) {
            top: 91px;
            font-size: 4px;
          }
        }
        .div-ingredients {
          top: 170px;
          &.onMid {
            top: 145px;
            @media screen and (max-width: 1024px) {
              top: 69px;
              >span {
                font-size: 2px;
              }
            }
          }
          >span {
            font-size: 6px;
            @media screen and (max-width: 1024px) {
              font-size: 4px;
            }
          }
        }
        
        .custome-only-name {
          font-size: 8px;
          top: 143px;
          @media screen and (max-width: 1024px) {
            font-size: 5px;
            top: 64px;
          }
        }
      }
    }
  }

  .product-summary {
    width: 410px;
    height: fit-content;
    background: #EBD8B8;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      width: 100%;
      background: transparent;
      box-shadow: none;
      padding: 0px;
      border-radius: none;
    }
    .MuiTypography-h3 {
      margin-bottom: 26px;
    }
    .custome-bottle {
      width: 100%;
      margin: 0px auto 24px auto;
      background: $Primary-30;
      padding: 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        padding: 12px;
      }
      .div-image {
        width: 64px;
        height: 64px;
        margin-right: 8px;
        @media screen and (max-width: 1024px) {
          margin-right: 8px;
          width: 48px;
          height: 48px;
        }
        >img {
          width: 100%;
          height: 100%;
        }
      }
      .text-bottle {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .icon-next {
        height: 100%;
        display: flex;
        align-self: flex-end;
        .MuiSvgIcon-root {
          font-size: 12px;
        }
      }
    }
    .text-price {
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      text-transform: uppercase;
      margin-bottom: 12px;
      text-align: right;
      @media screen and (max-width: 1024px) {
        font-size: 20px;
        margin-bottom: 4px;
      }
    }
    .line-point {
      height: 30px;
      background: #FFF4E0;
      border: 0.8px solid #BCAD93;
      border-radius: 20px;
      align-items: center;
      padding: 0px 12px;
      margin-bottom: 44px;
      width: fit-content;
      align-self: flex-end;
      @media screen and (max-width: 1024px) {
        height: 26px;
        padding: 0px 6px;
        margin-bottom: 24px;
      }
      >img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      >span {
        font-size: 14px;
        @media screen and (max-width: 1024px) {
          font-size: 10px;
        }
      }
    }
    .line-button {
      align-items: center;
      .div-button-quantity {
        height: 44px;
        border: 1px solid #2C2C22;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        padding: 0px 15px;
        >span {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .disabled {
        cursor: not-allowed;
      }
      >button {
        flex: 1;
      }
    }
  }

  .block-character-scent {
    position: relative;
    width: 446px;
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 48px;
    }
    #anchor-character {
      position: absolute;
      top: -40px;
    }
    .char-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      .heading {
        text-align: center;
      }
      >img {
        margin-top: 77px;
        margin-bottom: 26px;
        width: 120px;
        height: 120px;
        @media screen and (max-width: 1024px) {
          margin-top: 30px;
          margin-bottom: 12px;
          width: 64px;
          height: 64px;
        }
      }
      .body-text-s-regular {
        color: $Secondary-40;
        width: 50%;
        text-align: center;
      }
    }
  }

  .flip-card-inner {
    padding: 64px 0px;
    margin: auto;
    max-width: 1200px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    .div-select-scent-front, .div-select-scent-back {
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .div-select-scent-back {
      transform: rotateY(180deg);
      z-index: 0;
    }
    .div-select-scent-front {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      z-index: 1;
      
    }

    .div-select-scent-back {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .select-scent-back {
        width: 655px;
        height: 650px;
      }
      .info-character {
        width: 496px;
        display: flex;
        flex-direction: column;
        justify-content : center;
        align-items: center;

        height: 650px;
        overflow-y: auto;
        .ingredients-block {
          height: 650px;
          display: block;
          .div-video {
            overflow: hidden;
            >div {
              height: -webkit-fill-available;
            }
          }
        }
        .info-empty {
          justify-content : center;
          align-items: center;
          >img {
            width: 120px;
            height: 120px;
            margin-bottom: 24px;
          }
          .body-text-s-regular{
            width: 200px;
            text-align: center;
          }
        }
      }
    }
  }
}