@import '../../../../styles/colors';
.our-clients {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__head {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 24px;

    .block-introduce {
      width: 100%;
      display: flex;
      flex-direction: column;
      // text-align: center;
      // width: 600px;
      // max-width: 50%;
      .main-title {
        margin-bottom: 12px;
      }
      .description {
        font-size: 18px;
        line-height: 150%;
        color: #56564E;
      }
    }
    // .block-counter {
    //   display: flex;
    //   align-items: center;
    //   column-gap: 24px;
    //   &__item {
    //     display: flex;
    //     flex-direction: column;
    //     .number-plus {
    //       margin-bottom: 16px;
    //     }
    //     .name {
    //       font-weight: 600;
    //       font-size: 16px;
    //       line-height: 150%;
    //       letter-spacing: 0.1em;
    //       text-transform: uppercase;
    //       color: #2C2C22;
    //     }
    //   }
    // }

    @media screen and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      column-gap: 0;
      row-gap: 24px;

      .block-introduce {
        width: 100%;
        max-width: 100%;
        align-items: center;
        .main-title, .description {
          text-align: center;
        }
      }
      .block-counter {
        justify-content: center;
        column-gap: 16px;
        &__item {
          align-items: center;
          .number-plus, .name {
            text-align: center;
          }
        }
      }
    }
  }
  &__quotes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    .item-quote {
      padding: 24px;
      background-color: #F1E4CD;
      border-radius: 20px;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      row-gap: 24px;

      &__middle {
        font-size: 16px;
        line-height: 150%;
        color: #56564E;
      }
      &__bottom {
        margin-top: auto;

        display: flex;
        align-items: center;
        // justify-content: flex-end;

        .block-author {
          .name, .role {
            text-align: left;
            text-transform: uppercase;
            font-size: 14px;
          }
          .name {
            font-weight: 600;
            letter-spacing: 0.1em;
            color: #2C2C22;

            margin-bottom: 2px;
          }
          .role {
            color: #56564E;
            margin-bottom: 0;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0;
      row-gap: 24px;
    }
    @media screen and (max-width: 480px) {
      row-gap: 16px;
    }
  }

  .slick-slider {
    width: 100%;
    .slick-list {
      margin-bottom: 48px;
      @media screen and (max-width: 480px) {
        margin-bottom: 24px;
      }
      .slick-slide {
        @media screen and (max-width: 991px) and (min-width: 480px) {
          margin-right: 24px;
        }
      }
      .slide-wrapper {
        width: 384px !important;
        height: 384px;
        padding: 24px;
        background-color: #F1E4CD;

        border-radius: 20px;
        overflow: hidden;

        @media screen and (max-width: 480px) {
          width: 100% !important;
        }
        .slide-item {
          height: 100%;
          display: flex;
          flex-direction: column;
          &-head {
            margin-bottom: 24px;
          }
          &-content {
            font-size: 16px;
            line-height: 150%;
            color: #56564E;
            margin-bottom: 24px;
          }
          &-footer {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .block-author {
              text-align: right;
              text-transform: uppercase;
              .name {
                font-weight: 600;
                line-height: 150%;
                letter-spacing: 0.1em;
                margin-bottom: 2px;
              }
              .role {
                letter-spacing: 0.05em;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      width: max-content;
      bottom: -8px;
      display: block;

      @media screen and (max-width: 480px) {
        left: 50%;
        transform: translateX(-50%);
      }
      .slick-active {
        > button{
          border-radius: 50%;
          padding: 0px;
          &::before {
            opacity: 1;
            color: $Secondary-60;
          }
        }
      }
      > li {
        margin: 0px 4px;
        width: 16px;
        height: 16px;
        > button {
          &::before {
            opacity: 1;
            color: $Primary-70;
            font-size: 16px;
            top: 1px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}