.footer-v2 {
  background-color: #2c2c22 !important;
  .content-footer {
    max-width: 1200px;
    margin: auto;
    padding: 0px 16px;
    @media screen  and (max-width: 767px){
      max-width: 100%;
      width: 100%;
      padding: 24px 16px;
    }
    .footer-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      padding-top: 64px;
      @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        padding-top: 6px;
        margin-bottom: 32px;
      }
      @media screen and (max-width: 480px) {
        padding-top: 4px;
        align-items: center;
      }
      .form-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 767px) {
          width: 100%;
        }
        .heading {
          margin-bottom: 16px;
          color: #ebd8b8;
          text-transform: capitalize;
          font-size: 36px;
          line-height: 120%;
          letter-spacing: 0.05em;
          @media screen and (max-width: 767px) {
            font-size: 22px;
          }
        }
        // .body-text-s-regular {
        //   color: #f5ecdc;
        //   margin-bottom: 16px;
        //   font-weight: 400;
        // }
        .w-form {
          display: flex;
          flex-direction: column;
          .wrap-input {
            width: 100%;
            display: flex;
            margin-bottom: 4px;
            margin-top: 32px;
            @media screen and (max-width: 767px) {
              margin-top: 0px;
              margin-bottom: 4px;
            }
            @media screen and (max-width: 480px) {
              flex-direction: column;
              margin-bottom: 12px;
            }
            .input-email {
              flex: 1;
              margin-right: 8px;
              @media screen and (max-width: 480px) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 8px;
              }
              .content {
                >input {
                  border-color: #414138;
                  background-color: #56564e;
                  color: #fff;
                }
              }
            }
            >button {
              @media screen and (max-width: 480px) {
                width: 100%;
              }
            }
          }
          .checkbox-footer {
            margin-left: 0px;
            .MuiFormControlLabel-root {
              .MuiCheckbox-root {
                padding: 9px;
                color: #56564e;
              }
              .MuiTypography-root {
                height: 100%;
                margin-top: auto;
                margin-bottom: auto;
                .label-email {
                  color: #bcad93;
                  font-size: 16px;
                  font-weight: 400;
                  @media screen and (max-width: 767px) {
                    font-size: 14px;
                  }
                  >a {
                    color: #ebd8b8;
                    font-weight: 500;
                    text-decoration: none;
                    &:hover {
                      color: #ebd8b8;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .footer-logo {
        width: 150px;
        height: 150px;
        @media screen and (max-width: 767px) {
          width: 140px;
          height: 140px;
          margin-bottom: 30px;
        }
        @media screen and (max-width: 480px) {
          width: 93px;
          height: 93px;
          margin-bottom: 27px;
        }
        >img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .footer-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1.75fr;
      grid-column-gap: 24px;
      grid-template-rows: auto;
      text-align: left;
      display: grid;
      grid-auto-columns: 1fr;
      grid-row-gap: 16px;
      @media screen and (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
      &.grid-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.75fr;
        @media screen and (max-width: 767px) {
          grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;
        }
      }
      .item-col {
        .vertical-menu-title {
          margin-bottom: 16px;
          color: #ebd8b8;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .w-list-unstyled {
          margin-top: 16px;
          margin-bottom: 16px;
          padding-left: 0;
          list-style: none;
          @media screen and (max-width: 767px) {
            margin-bottom: 0px;
          }
          .vertical-menu-list-item {
            margin-bottom: 12px;
            >a {
              color: #8d826e;
              font-size: 14px;
              font-weight: 400;
              text-decoration: none;
              transition: opacity 200ms ease;
              &:hover {
                text-decoration: none;
                color: #ebd8b8;
              }
            }
          }
        }
      }
      .footer-right {
        display: flex;
        flex-direction: column;
        height: 100%;
        .cc-wrapper {
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          opacity: 0.5;
          margin-bottom: 24px;
          @media screen and (max-width: 767px) {
            justify-content: flex-start;
          }
          >img {
            margin-left: 4px;
            height: 40px;
            @media screen and (max-width: 767px) {
              margin-left: 0px;
              margin-right: 4px;
            }
          }
          >img:nth-child(1) {
            width: 81px;
          }
          >img:nth-child(2) {
            width: 69px;
          }
          >img:nth-child(3) {
            width: 80px;
          }
        }
        .footer-contact-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: 16px;
          @media screen and (max-width: 767px) {
            justify-content: flex-start;
          }
          >a {
            text-align: end;
            margin-bottom: 12px;
            color: #8d826e;
            font-weight: 400;
            text-decoration: none;
            width: 100%;
            transition: opacity 200ms ease;
            font-size: 16px;
            @media screen and (max-width: 767px) {
              text-align: start;
            }
            &:hover {
              color: #ebd8b8;
            }
          }
          .contact-link-footer {
            color: #ebd8b8;
          }
        }
        .sm-icons-wrapper {
          display: flex;
          justify-content: flex-end;
          height: 24px;
          @media screen and (max-width: 767px) {
            justify-content: flex-start;
          }
          >a {
            color: #2c2c22;
            font-weight: 600;
            text-decoration: none;
            margin-right: 12px;
            opacity: 0.5;
            transition: opacity 200ms ease;
            &:hover {
              opacity: 1;
              outline: 0;
            }
            >img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: flex-start;
      margin-top: 32px;
      padding-top: 32px;
      padding-bottom: 64px;
      @media screen and (max-width: 767px) {
        padding-bottom: 0px;
      }
      @media screen and (max-width: 480px) {
        margin-top: 26px;
      }
      .copy-right {
        margin-bottom: 8px;
        font-size: 14px;
        color: #8d826e;
        text-align: right;
      }
    }
  }
}