.block-faq-v2 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;
  padding: 120px 0px;
  @media screen and (max-width: 1248px) {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    padding: 120px 64px;
  }
  @media screen and (max-width: 767px) {
    padding: 120px 16px;
  }
  .header-faq {
    width: 780px;
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2C2C22;
    margin: auto;
    margin-bottom: 80px;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      font-size: 35px;
    }
  }
  .list-faq {
    .accordion-ct {
      margin-bottom: 12px !important;
      border-radius: 40px !important;
      box-shadow: none;
    }
  }
}