.subscribe {
  padding: 32px 0;
  .subscribe-block {
    // height: 190px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    padding: 48px;

    &:before {
      content: '';
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background: linear-gradient(270deg, #2C2C22 0%, rgba(44, 44, 34, 0.7) 100%);
      z-index: 9;

      @media screen and (max-width: 480px) {
        background: linear-gradient(0deg, #2C2C22 21.08%, rgba(44, 44, 34, 0.53) 100%, rgba(44, 44, 34, 0.7) 100%);
      }
    }
    .block-image {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .block-content {
      position: relative;
      z-index: 9;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .div-group {
        width: 521px;
        max-width: calc(100% - 44% - 16px);
        flex-shrink: 0;

        display: flex;
        flex-direction: column;
        .div-title {
          color: #EBD8B8;
          font-size: 32px;
          line-height: 120%;

          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
        .div-description {
          color: #BCAD93;
          font-size: 16px;
          line-height: 150%;
        }
      }
      .div-form {
        width: 443px;
        max-width: 44%;
        flex-shrink: 0;

        display: flex;
        flex-direction: column;

        .div-field {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          column-gap: 8px;

          .text-field {
            width: calc(100% - 119px - 8px);

            input {
              font-family: unset;

              background-color: #56564E;
              border: 1px solid #414138;
              color: #BCAD93;
            }
          }
          .subscribe-btn {
            width: 119px;
            flex-shrink: 0;
            text-transform: initial;
          }
        }
        .div-check-policy {
          display: flex;
          align-items: center;
          margin-top: 8px;

          .checkbox-policy {
            margin-left: 0px;
            position: relative;
            svg {
              fill: #BCAD93;
            }

            .MuiCheckbox-root {
              position: relative;
              &:before {
                content: '';
                width: 16px;
                height: 16px;

                position: absolute;
                top: 51%;
                left: 51%;

                transform: translate(-51%, -51%);
                background-color: #BCAD93;
              }
            }
            .MuiFormControlLabel-root {
              margin-right: 0;
              .MuiCheckbox-root {
                padding: 9px;
                color: #56564e;
              }
              .MuiTypography-root {
                height: 100%;
                margin-top: auto;
                margin-bottom: auto;
                .label-email {
                  color: #bcad93;
                  font-size: 16px;
                  font-weight: 400;
                  @media screen and (max-width: 767px) {
                    font-size: 14px;
                  }
                  > a {
                    color: #ebd8b8;
                    font-weight: 500;
                    text-decoration: none;
                    &:hover {
                      color: #ebd8b8;
                    }
                  }
                }
              }
            }

            &.checked {
              .MuiCheckbox-root:before {
                content: unset;
              }
              svg {
                background-color: transparent;
              }
            }
          }

          .div-label {
            color: #BCAD93;
            font-size: 14px;
            line-height: 150%;

            span {
              color: #EBD8B8;
              font-weight: 600;
            }
          }
        }
      }

      @media screen and (max-width: 991px) {
        flex-direction: column;
        .div-group {
          margin-bottom: 24px;
        }
        .div-group, .div-form {
          width: 100%;
          max-width: 100%;
        }
      }

      @media screen and (max-width: 480px) {
        .div-group {
          text-align: center;
          .div-title {
            font-size: 24px;
          }
          .div-description {
            font-size: 12px;
          }
        }
        .div-form {
          .div-field {
            .subscribe-btn {
              width: 100%;
              order: 3;
              height: 45px;
            }

            .div-check-policy {
              order: 2;
              margin-bottom: 8px;
            }

            .text-field {
              width: 100%;
              order: 1;
              input {
                background-color: #F1E4CD;
                color: #8D826E;
                border: 1px solid #D4C2A6;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      padding: 24px;
    }
  }
}