.tab-scent-character {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  &.text-block-info-v2 {
    .info-scent {
      .info-scent-content {
        .block-evolution {
          .div-image {
            height: 220px;
            font-size: 14px;
            >img {
              margin-top: -70px;
            }
          }
        }
      }
    }
  }
  .block-text-info {
    width: 100%;
    background: #F1E4CD;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    &.has-bg-image {
      background: unset;
      .text-info-content {
        color: #EBD8B8;
        border: 1px solid #EBD8B8;
        position: inherit;
      }
      .bg-opacity {
        display: inherit;
      }
    }
    .bg-image {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 10px;
    }
    .bg-opacity {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: #09090780;
      display: none;
      border-radius: 10px;
    }
    .text-info-content {
      margin: 12px;
      padding: 24px;
      border: 1px solid #2C2C22;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #2C2C22;
      z-index: 1;
      .sub-text {
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 8px;
        z-index: 1;
      }
      .hear-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        z-index: 1;
      }
      .list-char {
        margin-top: 16px;
        z-index: 1;
        >div {
          font-weight: 500;
          font-size: 10px;
          line-height: 20px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #EBD8B8;
          width: fit-content;
          padding:  0px 10px;
          height: 30px;
          background: #2C2C22;
          border: 1px solid #EBD8B8;
          border-radius: 5px;
          margin: 0px 4px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .list-button-scent {
    padding: 12px;
    border-radius: 10px;
    background: #F1E4CD;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    overflow: hidden;
    &.list-3 {
      .list-button-scent-q {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'item-full item-ele-0 item-ele-1 item-ele-2';

        &.list-button-not-combo {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas: 'item-ele-0 item-ele-1 item-ele-2';
        }

        @media screen and (max-width: 991px) {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
          'item-full item-full item-full'
          'item-ele-0 item-ele-1 item-ele-2';

          &.list-button-not-combo {
            grid-template-areas: 'item-ele-0 item-ele-1 item-ele-2';
          }
        }
      }
      .button-scent {
        &.scent-2 {
          >img {
            width: 33.33%;
          }
        }
      }
    }
    &.list-4 {
      .list-button-scent-q {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'item-full item-ele-0 item-ele-1 item-ele-2 item-ele-3';

        &.list-button-not-combo {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-areas: 'item-ele-0 item-ele-1 item-ele-2 item-ele-3';
        }

        @media screen and (max-width: 991px) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-areas:
          'item-full item-full item-full item-full'
          'item-ele-0 item-ele-1 item-ele-2 item-ele-3';

          &.list-button-not-combo {
            grid-template-areas: 'item-ele-0 item-ele-1 item-ele-2 item-ele-3';
          }
        }
      }
      .button-scent {
        &.scent-2 {
          >img {
            width: 25%;
          }
        }
      }
    }
    .list-button-scent-q {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      'item-full item-ele-0 item-ele-1';
      grid-column-gap: 8px;
      grid-row-gap: 8px;
      width: 100%;
      &.list-button-not-combo {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'item-ele-0 item-ele-1';
      }
      @media screen and (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'item-full item-full'
        'item-ele-0 item-ele-1';

        &.list-button-not-combo {
          grid-template-areas: 'item-ele-0 item-ele-1';
        }
      }
      .button-scent {
        width: 100%;
      }
      .item-full {
        grid-area: item-full;
      }
      .item-ele-0 {
        grid-area: item-ele-0;
      }
      .item-ele-1 {
        grid-area: item-ele-1;
      }
      .item-ele-2 {
        grid-area: item-ele-2;
      }
      .item-ele-3 {
        grid-area: item-ele-3;
      }
    }
    .button-scent {
      position: relative;
      width: 100%;
      height: 60px;
      border-radius:10px;
      overflow: hidden;
      &.button-center {
        >img {
          object-position: center;
          @media screen and (max-width: 767px) {
            object-position: top;
          }
        }
      }
      &.active {
        border: 2px solid #2C2C22;
        // border-radius: 10px;
        >img {
          opacity: 0.5;
        }
        .text-name {
          color: #2c2c2c;
          background: linear-gradient(0deg, rgba(245, 236, 220, 0.5), rgba(245, 236, 220, 0.5));
        }
      }
      &.scent-2 {
        display: flex;
        >img {
          width: 50%;
        }
      }
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
      .text-name {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #EBD8B8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px 5px;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(44, 44, 34, 0.8) 0%, rgba(44, 44, 34, 0) 100%);
      }
    }
  }

  .info-scent {
    background: #F1E4CD;
    padding: 12px;
    border-radius: 10px;
    .info-scent-content {
      padding: 24px;
      border: 1px solid #2C2C22;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 767px){
        padding: 24px 8px;
      }
      .block-evolution {
        justify-content: center;
        .title-header {
          color:#2C2C22;
          margin-bottom: 8px;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
        .div-image {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          position: relative;
          @media screen and (max-width: 1024px) {
            font-size: 10px;
          }
          >span {
            position: absolute;
            bottom: 0px;
            transform: translateX(-50%);
            animation: animateOpacity 2s;
            opacity: 1;
            font-weight: 400;
            color: #56564E;
          }
          >span:nth-child(2) {
            left: 23%;
          }
          >span:nth-child(3) {
            left: 39%;
          }
          >span:nth-child(4) {
            left: 58%;
          }
          >span:nth-child(5) {
            left: 78%;
          }
        } 
      }
      >hr {
        width: 100%;
        background: #000000;
        margin: 16px 0px;
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      .div-chart {
        display: flex;
        flex-direction: column;
        width: 100%;
        // margin-bottom: 40px;
        @media screen and (max-width: 767px) {
          width: 100%;
          margin-bottom: 36px;
        }
        .div-chart-scent {
          display: flex;
          width: 100%;
          margin-bottom: 32px;
          margin-top: 24px;
          .div-title {
            color: #2c2c2c;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            align-items: center;
            .div-icon {
              width: 28px;
              height: 28px;
              border: 1px solid #D4C2A6;
              border-radius: 5px;
              background: #EBD8B8;
              margin-right: 8px;
              font-weight: 600;
              font-size: 12px;
              color: #56564E;
              text-transform: uppercase;
              display: flex;
              >svg {
                width: 16px;
                height: 16px;
                margin: auto;
              }
            }
          }
          .chart-column-product {
            display: flex;
            justify-content: space-evenly;
            height: 90px;
            margin-top: 10px;
            min-width: 174px;
            @media screen and (max-width: 991px) {
              min-width: unset;
            }
            .column-chart {
              width: 50px;
              @media screen and (max-width: 991px) {
                width: 40px;
                max-width: 30%;
              }
              .div-chart {
                width: 100%;
                margin-bottom: 0px;
                .column-value {
                  margin-bottom: 0px;
                  border-bottom-right-radius: 0px;
                  border-bottom-left-radius: 0px;
                }
              }
              .body-text-s-regular {
                margin-top: 4px;
                color: #56564E;
              }
            }
          }
          .chart-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
          }
          .chart-lasting, .chart-strength {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          // .chart-lasting {
          //   padding-right: 30px;
          // }
          .chart-strength {
            // padding-left: 30px;
            border-left: 1px dashed #56564E;
          }
        }
        .line-row {
          width: 100%;
          height: 1px;
          border-bottom: 1px dashed #56564E;
          margin-bottom: 32px;
        }
        .chart-scent {
          width: 379px;
          margin: auto;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
          .div-title {
            margin-bottom: 12px;
            color: #2c2c2c;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            align-items: center;
            .div-icon {
              width: 28px;
              height: 28px;
              border: 1px solid #D4C2A6;
              border-radius: 5px;
              background: #EBD8B8;
              margin-right: 8px;
              font-weight: 600;
              font-size: 12px;
              color: #56564E;
              text-transform: uppercase;
              display: flex;
              >svg {
                width: 16px;
                height: 16px;
                margin: auto;
              }
            }
          }
          .line-chart {
            margin-top: 8px;
            .text-title {
              text-align: left;
            }
          }
        }
        .div-des-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 24px;
          margin-top: 24px;
          border-top: 1px solid #2C2C22;
          .title-des {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #2C2C22;
            margin-bottom: 12px;
          }
          .des-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #56564E;
            text-align: center;
          }
        }
      }
      // .chart-info {
      //   width: fit-content;
      //   display: flex;
      //   margin-bottom: 12px;
      //   .progress-circle-version-2 {
      //     margin-right: 24px;
      //   }
      //   .chart-column {
      //     margin-left: 24px;
      //   }
      // }
      // .chart-line {
      //   width: 100%;
      //   display: flex;
      //   flex-direction: column;
      //   .line-text-chart {
      //     align-items: center;
      //     margin-top: 12px;
      //     .text-title {
      //       width: 90px;
      //       font-weight: 500;
      //       font-size: 11px;
      //       color: #56564E;
      //       text-align: start;
      //       @media screen and (max-width: 767px) {
      //         width: 95px;
      //       }
      //     }
      //     .progressLine {
      //       margin-bottom: 0px;
      //     }
      //     .ver-3 {
      //       .div-text {
      //         display: none;
      //       }
      //       .div-progress {
      //         height: 18px;
      //         flex: 1;
      //         .bg-progress {
      //           border-radius: 12px;
      //           background: #EBD8B8;
      //         }
      //         .tint-color {
      //           border-radius: 12px;
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
  .div-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background: #F1E4CD;
    margin-top: 12px;
    border-radius: 10px;
    .title-header {
      color:#2C2C22;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 12px 0px;
    }
    .video-react, .video-react-video {
      border-radius: 10px;
    }
    .video-react-poster {
      border-radius: 10px;
    }
  }
}