@keyframes animate-scroll-text {
  0%   {transform: translate3d(0px, -3%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
  25%   {transform: translate3d(0px, -36%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
  50%   {transform: translate3d(0px, -70%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
  75%   {transform: translate3d(0px, -36%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
  100%   {transform: translate3d(0px, -3%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);}
}
.landing-quiz-v2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
  @media screen and (max-width:767px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  .bg-gray, .bg-video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    >div {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      .video-react {
        padding-top: unset !important;
        height: 100vh;
        .video-react-video {
          object-fit: cover;
        }
      }
    }
  }
  .bg-gray {
    z-index: 1;
    opacity: 0.8;
    background-image: linear-gradient(180deg, rgba(44, 44, 34, 0.8), rgba(44, 44, 34, 0.8));
  }
  .navigation-bar {
    padding-top: 64px;
    padding-bottom: 48px;
    display: flex;
    z-index: 2;
    @media screen and (max-width: 991px) {
      padding-bottom: 64px;
    }
    @media screen and (max-width: 767px) {
      padding-bottom: 24px;
    }
    >img {
      height: 45px;
      margin: auto;
    }
  }
  .content-info {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 828px;
    z-index: 2;
    margin: auto;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    .text-title-1 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #EBD8B8;
      font-size: 16px;
      font-weight: 600;
      .text-be {
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-right: 12px;
      }
      .tag-rotate {
        position: relative;
        height: 20px;
        overflow: hidden;
        .tag-rotate-contain {
          transform: translate3d(0px, -3%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
          will-change: transform;
          animation-name: animate-scroll-text;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          .tagline {
            text-transform: uppercase;
            color: #EBD8B8;
            letter-spacing: 0.1em;
            text-decoration: underline;
            left: 0px;
            top: 0px;
          }
        }
      }
    }
    .header-title {
      margin-top: 24px;
      margin-bottom: 24px;
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #EBD8B8;
      @media screen  and (max-width: 767px){
        font-size: 24px;
      }
    }
  }
}