@import '../../styles/colors';

.switch-button {
  align-items: center;
  position: relative;
  #switch-button-product {
    position: absolute;
    top: -70px;
    @media screen and (max-width: 1440px) {
      top: -70px;
    }
    @media screen and (max-width: 1024px) {
      top: -86px;
    }
  }
  .icon-info-filter {
    margin-left: 18px;
  }
  .switch-content {
    display: flex;
    background: $Primary-30;
    border-radius: 40px;
    height: 75px;
    width: 474px;
    padding: 0px 12px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: none;
    @media screen and (max-width: 1024px) {
      height: 53px;
      width: calc(100vw - 24px * 2);
      padding: 0px 4px;
    }
    .item {
      width: 213px;
      @media screen and (max-width: 1024px) {
        width: calc((100vw - 24px * 2)/2);
      }
    }
    .bt-active {
      width: 213px;
      height: 51px;
      background: $Secondary-60;
      border-radius: 30px;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s;
      justify-content: center;
      display: flex;
      align-items: center;
      color: $Primary-60;
      font-size: 18px;
      @media screen and (max-width: 1024px) {
        width: calc((100vw - 24px * 2)/2);
        height: 45px;
        left: 4px;
        font-size: 14px;
      }
      &.r-right {
        left: 249px;
        @media screen and (max-width: 1024px) {
          left: calc((100vw - 24px * 2)/2 + 4px);
        }
      }
    }
  }
  .icon-button {
    background: transparent;
    color: #2d2d2d!important;
  }
}
#switch-button {
  .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    background: #2C2C22;
    border-radius: 20px;
    height: 41px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../../imagev2/svg/ic-retangle.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }
  }
}