.block-email {
  width: 1200px;
  margin: auto;
  padding: 64px 0px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    padding: 48px 16px;
    flex-direction: column;
  }
  >img {
    width: 52.5%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    @media screen and (max-width: 991px) {
      width: 100%;
      height: 370px;
      margin-bottom: 24px;
    }
  }
  .div-content-text {
    display: flex;
    flex-direction: column;
    width: 43.5%;
    height: 600px;
    justify-content: center;
    @media screen and (max-width: 1199px) {
      padding-right: 16px;
    }
    @media screen and (max-width: 991px) {
      width: 100%;
      height: auto;
    }
    .title-header {
      font-weight: 400;
      font-size: 48px;
      text-transform: uppercase;
      color: #2C2C22;
      margin-bottom: 12px;
      line-height: 120%;
      @media screen and (max-width: 991px) {
        width: 100%;
        height: auto;
      }
    }
    .text-des {
      font-weight: 400;
      font-size: 18px;
      color: #56564E;
      margin-bottom: 28px;
    }
    .div-bottom-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
      .div-input {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        @media screen and (max-width: 991px) {
          flex-direction: column;
        }
        .input-email {
          flex: 1;
          margin-right: 8px;
          @media screen and (max-width: 991px) {
            margin-bottom: 8px;
            margin-right: 0px;
            width: 100%;
          }
        }
        >button {
          width: 150px;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
        }
      }
      .row-check-box {
        margin-bottom: 16px;
        width: 100%;
        .check-box-email {
          width: fit-content;
          >label {
            margin-right: 0px;
            .MuiCheckbox-root {
              color: #BCAD93;
            }
          }
        }
        .link-text {
          color: #56564E;
          @media screen and (max-width: 991px) {
            font-size:12px;
          }
          >a {
            font-weight: 600;
            color: #2c2c2c;
          }
        }
      }
    }
  }
}