.toolbar-quiz {
  width: 100%;
  height: 72px;
  background: #F5ECDC;
  box-shadow: 0px 5px 20px rgba(141, 130, 110, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  z-index: 2;
  @media screen and (max-width: 767px) {
    height: 88px;
  }
  .bt-back-quizv4 {
    width: 80px;
    display: flex;
    align-items: center;
    color: #D4C2A6;
    font-weight: 500;
    font-size: 16px;
    @media screen and (max-width: 767px) {
      display: none;
    }
    >svg {
      font-size: 20px;
      margin-right: 4px;
      color: #D4C2A6;
    }
    &.active {
      color: '#2C2C22';
      >svg {
        color: '#2C2C22';
      }
    }
  }
  .process-bar-quiz {
    margin-left: 16px;
    width: calc(100% - (120px * 2));
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      width: calc(100% - 120px);
      margin-left: unset;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .bar-gray {
      width: 100%;
      height: 4px;
      background: #D4C2A6;
      padding: 0px;
      position: relative;
      &.add-tooltip {
        .bar-percen {
          &::after {
            content: attr(dataTooltip);
            position: absolute;
            right: 0px;
            top: 4px;
            padding-top: 5px;
            color: #F5ECDC;
            font-weight: 400;
            font-size: 10px;
            transform: translateX(50%);
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content:center;
            background-image: url('../../../imagev2/svg/tooltip.svg');
            background-size: cover;
            z-index: 4;
          }
        }
      }
      .bar-percen {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 4px;
        width: 100%;
        background: #2C2C22;
        transition: all 0.2s;
      }
    }
    .list-image {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      >img {
        width: 36px;
        height: 56px;
        @media screen and (max-width: 767px) {
          width: 32px;
          height: 56px;
        }
      }
      .step {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        position: relative;
        height: 100%;
        .number {
          width: 20px;
          height: 20px;
          border-radius: 38.0208px;
          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          color: #F5ECDC;
          background: #D4C2A6;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 767px) {
            width: 24px;
            height: 24px;
          }
          &.active {
            background: #2C2C22;
          }
        }
        .text {
          position: absolute;
          bottom: 8px;
          color: #2C2C22;
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }
  }
}