.about-commitment {
  padding: 4.25rem 6rem;

  @media (max-width: 1440px) {
    padding: 3.2rem 4.5rem;
  }

  @media (max-width: 767.98px) {
    padding: 2.75rem 1.125rem;
  }

  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #fff;
    letter-spacing: 0.2em;


    @media (max-width: 1440px) {
      font-size: 1.25rem;
    }
  }

  .about-commitment-list {
    padding-top: 5.625rem;
    padding-bottom: 1rem;
    @media (max-width: 767.98px) {
      padding-top: 0.5rem;
    }

    .__item {
      padding: 0rem 0.75rem;
      width: 25%;

      @media (max-width: 767.98px) {
        padding: 2rem 0rem;
        width: 100%;
      }

      .__content-title {
        padding-top: 2.875rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: 0.2em;
        color: #ffffff;

        @media (max-width: 1440px) {
          font-size: 1.125rem;
        }

        @media (max-width: 767.98px) {
          padding-top: 1rem;
        }
      }

      .__content-description {
        padding-top: 0.75rem;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
        letter-spacing: 0.1em;
        color: #ffffff;

        @media (max-width: 1440px) {
          font-size: 16px;
          line-height: 1.3rem;
        }

        @media (max-width: 767.98px) {
          padding: 1rem 1.5rem;
        }
      }

      .__content-learnmore {
        padding-top: 1.25rem;
        text-align: center;
        
        a {
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 1.625rem;
          text-align: center;
          letter-spacing: 0.1em;
          color: #ffffff;
          text-decoration: underline;
        }

        @media (max-width: 1440px) {
          ffont-size: 0.9rem;
          line-height: 1.3rem;
        }
      }
    }
  }
}
