.funnelV3 {
  &-content {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    padding: 64px 0;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1248px) {
      padding: 32px 24px;
    }
    @media screen and (max-width: 767px) {
      padding: 24px 12px;
    }
  }
  &-title {
    text-align: center;
    text-transform: uppercase;

    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.05em;
    color: #2C2C22;

    margin-bottom: 12px;

  }
  &-list {
    padding: 0;
    margin-bottom: 0;
    margin-top: 48px;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;

    @media screen and (max-width: 991px) {
      column-gap: 12px;
      margin-top: 24px;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 12px 0;
    }
  }

  @media screen and (max-width: 767px) {
    &-content {
      height: calc(100vh - 93px);
    }
    &-title {
      font-size: 24px;
    }
    &-list {
      height: calc(100% - 53px);
      margin-top: 12px;

      grid-template-rows: repeat(3, calc(33.33% - 12px));
    }
  }

  @media screen and (max-width: 480px) and (max-height: 667px) {
    &-content {
      height: auto;
    }
  }
}