.collab-brand {
  margin-top: 50px;
  @media screen and (max-width:1440px) {
    margin-top: calc(50px * 0.75);
  }
  @media screen and (max-width: 1024px) {
    margin-top: 30px;
  }
  .logo-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    border: 1px solid #C4C4C4;
    button {
      min-height: 10rem;
      border-radius: 0;
      background: #ffffff;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      @media screen and (max-width: 767.98px) {
        min-height: 7rem;
      }
      &:focus {
        box-shadow: unset;
      }
      >img {
        width: 80%;
      }
      >span {
        color: #0d0d0d;
        text-decoration: underline;
        font-size: 13px;
        letter-spacing: 0.15em;
        position: absolute;
        bottom: 30px;
      }
    }
  }
  .content-wrapper {
    height: 100%;
    text-align: center;
    position: relative;
    img {
      height: 100%;
    }
    .btn-back {
      position: absolute;
      color: #00000091;
      display: block;
      border: none;
      background: none;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      padding: 0px;
      left: 58px;
      top: 0px;
      @media screen and (max-width: 1440px) {
        font-size: calc(16px * 0.75);
        line-height: calc(23px * 0.75);
        left: calc(58px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        left: 0px;
        top: 20px;
      }
      >img {
        height: 20px;
        margin-right: 20px;
        @media screen and (max-width: 1440px) {
          height: calc(20px * 0.75);
          margin-right: calc(20px * 0.75);
        }
      }
    }
    .content-detail-brand {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      padding-right: calc((50vw - 60px) * 152/900);
      @media screen and (max-width: 1024px) {
        align-items: center;
        padding: 30px 20px 30px 20px;
      }
      img {
        height: 110px;
        @media screen and (max-width: 1440px) {
          height: calc(110px * 0.75);
        }
        @media screen and (max-width: 767.98px) {
          height: 55px;
        }
      }
      >h4 {
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 25px;
        line-height: 27px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(50px * 0.75);
          margin-bottom: calc(30px * 0.75);
          font-size: calc(25px * 0.75);
          line-height: calc(27px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-weight: 300;
          font-size: 17px;
          line-height: 25px;
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
      .rich-text {
        width: 60%;
        >p {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px;
          text-align: end;
          @media screen and (max-width: 1440px) {
            font-size: 14px;
            line-height: 17px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 13px;
            line-height: 19px;
            margin-bottom: 0px;
            text-align: center;
          }
        }
      }
    }
  }
  .div-left {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    color: #ffffff;
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.63);
    height: calc((50vw - 60px) * 600/900);
    @media screen and (max-width: 1440px) {
      height: calc((50vw - 45px) * 600/900);
    }
    @media screen and (max-width: 1024px) {
      min-height: 288px;
    }
    .content-collab {
      padding-left: calc(16.8%);
      width: 400px;
      @media screen and (max-width: 1024px) {
        padding: 4rem 2rem;
        width: 100%;
      }
      h3 {
        color: #fff;
        margin-bottom: 10px;
        width: 80%;
        @media scents and (max-width: 1440px) {
          margin-bottom: 7px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
          width: 100%;
          text-align: center;
        }
      }
      .rich-text {
        >p {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px;
          @media screen and (max-width: 1440px) {
            font-size: 14px;
            line-height: 17px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 13px;
            line-height: 19px;
            text-align: center;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  .detail-brand {
    .brand-detail-left {
      background-size: cover;
      color: #ffffff;
      box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.63);
      background-position: center;
      min-height: 480px;
    }
    .content-collab {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 8rem;
      @media screen and (max-width: 1024px) {
        padding: 30px 20px 0rem 20px;
      }
      .header_2 {
        @media screen and (max-width: 1024px) {
          color: #0d0d0d;
          text-align: center;
          font-weight: 300;
          font-size: 17px;
          line-height: 25px;
          padding-bottom: 0px;
        }
      }
      h3 {
        padding-bottom: 1rem;
        color: #fff;
        margin-bottom: 10px;
        @media scents and (max-width: 1440px) {
          margin-bottom: 7px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 10px;
        }
      }
      .rich-text {
        >p {
          font-weight: 300;
          font-size: 16px;
          line-height: 23px;
          @media screen and (max-width: 1440px) {
            font-size: 14px;
            line-height: 17px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 13px;
            line-height: 19px;
            text-align: center;
            margin-bottom: 0px;
          }
        }
      }
    }
    h4{
      letter-spacing: 2.2px;
    }
    .caption {
      letter-spacing: 2.5px;
      padding: 4rem 0 1rem 0;
      @media screen and (max-width: 767.98px) {
        padding: 1rem 0 1rem 0;
      }
    }
    .detail-mobile {
      display: flex;
      flex-direction: column-reverse;
      .brand-detail-left {
        min-height: 18rem;
      }
    }
    .div-text-des {
      padding: 30px 20px
    }
  }
  .content-brand-slider {
    padding: 1.8rem 2rem 3rem 2rem;
    text-align: center;
    p {
      padding: 0 3rem;
    }
    @media screen and (max-width: 767.98px) {
      padding: 0rem 2rem;
      p {
        padding: 0;
      }
    }
    .title-item {
      color: #b79b53;
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
      }
    }
    .des {
      margin-top: 33px;
      margin-bottom: 20px;
      @media screen and (max-width: 1440px) {
        margin-top: calc(33px * 0.75);
        margin-bottom: calc(20px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 13px;
        line-height: 19px;
      }
    }
    .rich-text {
      >p {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 0px;
        @media screen and (max-width: 1440px) {
          font-size: 14px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 19px;
          text-align: center;
          margin-bottom: 0px;
        }
      }
    }
    .header_4 {
      @media screen and (max-width: 1024px) {
        font-weight: 300;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: none !important;
  border-color: none;
}
