@import '../../styles/colors';

.item-product {
  padding: 0px;
  align-items: center;
  @media screen and (max-width: 1024px) {
    padding: 12px;
    background: #F1E4CD;
    border-radius: 10px;
  }
  .div-image {
    padding: 0px 24px 0px 16px;
    @media screen and (max-width: 1024px) {
      padding: 2px 30px 2px 2px;
    }
    >img {
      width: 73px;
    }
  }
  .div-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    flex: 1;
    border-left: 1px solid #BCAD93;
    position: relative;
    @media screen and (max-width: 1024px) {
      padding-left: 12px;
    }
    .div-left {
      .sp-title {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $Primary-100;
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          margin-bottom: 2px;
        }
      }
      .sub-title {
        margin-top: 6px;
        margin-bottom: 16px;
        @media screen and (max-width: 1024px) {
          margin-top: 2px;
          margin-bottom: 8px;
        }
      }
      .text-price {
        @media screen and (max-width: 1024px) {
          font-weight: 500;
          margin-bottom: 35px;
          color: $Secondary-60;
        }
      }
    }
    >button {
      @media screen and (max-width: 1024px) {
        position: absolute;
        bottom: 0px;
      }
    }
    .custom-button.small {
      @media screen and (max-width: 1024px) {
        height: 23px;
        font-size: 10px;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}