@import '../../styles/colors';

.accordion-drop {
  &.light {
    border-radius: 30px !important;
    background: $Primary-60;
    box-shadow: none;
    margin-bottom: 16px !important;
  }
  .accordion-summary-ct {
    padding: 0px;
    .MuiAccordionSummary-content {
      width: 100%;
      .choose-option-checkout {
        width: 100%;
        margin: 0px;
        border: none;
      }
    }
    .MuiAccordionSummary-expandIconWrapper {
      display: none;
    }
  }
}
.choose-option-checkout {
  padding: 16px 26px 16px 15px;
  background: $Primary-60;
  border: 1px solid $Secondary-60;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    padding: 12px;
    border-radius: 20px;
    margin-bottom: 8px;
  }
  &.check-payment {
    .div-left-choose {
      width: 100%;
    }
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .div-left-choose {
    align-items: center;
    &.fit-width {
      width: fit-content;
    }
    .label-left-icon {
      align-items: center;
      &.div-icons {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: flex-start;
        }
        .body-text-s-regular {
          @media screen and (max-width: 1024px) {
            margin-left: 0px;
          }
        }
        .div-icon {
          display: flex;
          align-items: center;
          >img {
            height: 24px;
          }
        }
      }
      >img {
        height: 32px;
        width: 32px;
      }
      .body-text-s-regular {
        color: $Secondary-60;
        margin-left: 16px;
        @media screen and (max-width: 1024px) {
          margin-left: 8px;
        }
      }
      .text-2 {
        margin-left: 16px;
        font-family: Biotif;
        font-size: 16px;
        color: $Primary-100;
        @media screen and (max-width: 1024px) {
          margin-left: 12px;
          font-size: 12px;
        }
      }
    }
    .label-left {
      .body-text-s-regular:nth-child(1) {
        color: $Secondary-60;
      }
      .body-text-s-regular:nth-child(2) {
        color: $Secondary-40;
      }
    }
  }
  .div-right {
    font-weight: 500;
    font-size: 18px;
    color: $Secondary-60;
    padding-left: 20px;
    @media screen and (max-width: 1024px) {
      font-size: 12px;
    }
    &.bt-change {
      text-decoration: underline;
    }
  }
}