.div-ebook {
  position: relative;
  .div-bg {
    display: flex;
    flex-direction: column;
    width: 100%;
    .div-bg-1 {
      padding-top: 248px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: transparent;
      width: calc(100% + 164px);
      @media screen and (max-width: 1440px) {
        width: calc(100% + 123px);
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      .div-body {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .header_1 {
          font-weight: 300;
          letter-spacing: 0.07em;
          color: #0D0D0D;
          margin: 0px;
        }
        .des-1 {
          color: #0D0D0D;
          margin: 30px 0px 50px 0px;
          @media screen and (max-width: 1440px) {
            margin: 22.5px 0px 37.5px 0px;
          }
        }
        .div-line-check {
          display: flex;
          margin-bottom: 20px;
          >img {
            height: 1rem;
            margin-right: 10px;
          }
          // >span {
          //   font-weight: 500;
          //   font-size: 14px;
          //   letter-spacing: 0.1em;
          //   color: #0D0D0D;
          // }
        }
        .des-2 {
          // font-weight: 500;
          // font-size: 14px;
          // letter-spacing: 0.1em;
          color: #0D0D0D;
          margin-top: 16px;
          width: 60%;
        }
      }
    }
    .div-bg-2 {
      display: flex;
      flex-direction: row;
      background: #B79B53;
      justify-content: flex-end;
      width: calc(100% + 164px);
      @media screen and (max-width: 1440px) {
        width: calc(100% + 123px);
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      .div-body {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding-top: 75px; 
        padding-bottom: 115px;
        >input {
          background: transparent;
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid #ffffff;
          font-size: 16px;
          letter-spacing: 0.1em;
          color: #FFFFFF;
          padding-bottom: 5px;
          width: 352px;
          &::placeholder {
            color: #FFFFFF;
          }
          
        }
        >div {
          margin-top: 42px;
          // >button {
          //   height: 56px;
          //   background: #0D0D0D;
          //   border-radius: 6px;
          //   border: none;
          //   font-weight: 500;
          //   font-size: 18px;
          //   letter-spacing: 0.2em;
          //   text-transform: uppercase;
          //   color: #FFFFFF;
          //   padding: 0px 44px;
          // }
        }
      }
    }
  }

  .div-image {
    position: absolute;
    bottom: 78px;
    left: 0px;
    width: 423px;
    height: 573px;
    .div-image-body {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      >img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
      .div-text-footer {
        flex: 1;
        background: #141617;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >h4 {
          font-weight: bold;
          font-size: 22px;
          text-align: center;
          letter-spacing: 0.2em;
          color: #FFFFFF;
          margin: 0px;
        }
        >span {
          font-size: 12px;
          text-align: center;
          letter-spacing: 0.2em;
          color: #FFFFFF;
          padding: 14px 40px 51px 40px;
        }
        >img {
          width: 39px;
        }
      }
    }
  }
}

.div-ebook-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  .div-image {
    position: relative;
    width: 100%;
    height: calc(100vw - 30px);
    .div-image-body {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .div-text-footer {
        flex: 1;
        background: #141617;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >h4 {
          font-weight: bold;
          font-size: 12.7858px;
          text-align: center;
          letter-spacing: 0.2em;
          color: #FFFFFF;
          margin: 0px;
        }
        >span {
          font-size: 6.39291px;
          text-align: center;
          letter-spacing: 0.2em;
          color: #FFFFFF;
          padding: 8px 20px 30px 20px;
        }
        >img {
          width: 22px;
        }
      }
    }
  }
  .div-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 30px 20px;
    >h3 {
      margin: 0px;
    }
    .des-1 {
      margin: 20px 0px;
      text-align: center;
    }
    .div-line-check {
      display: flex;
      margin-bottom: 20px;
      justify-content: center;
      >img {
        height: 14px;
        margin-right: 10px;
      }
      >span {
        // font-size: 14px;
        // letter-spacing: 0.1em;
        color: #0D0D0D;
      }
    }
    .des-2 {
      // font-weight: 600;
      // font-size: 14px;
      // letter-spacing: 0.1em;
      color: #0D0D0D;
      margin-top: 30px;
    }
  }
  .div-bg-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .div-body-email {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 20px 30px 20px;
      >input {
        background: transparent;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #8D8D8D;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #0d0d0d;
        padding-bottom: 5px;
        width: 100%;
        &::placeholder {
          color: #8D8D8D;
        }
      }
      >div {
        margin-top: 42px;
        // >button {
        //   height: 49px;
        //   background: #0D0D0D;
        //   border-radius: 6px;
        //   border: none;
        //   font-weight: 600;
        //   font-size: 14px;
        //   letter-spacing: 0.2em;
        //   text-transform: uppercase;
        //   color: #FFFFFF;
        //   padding: 0px 30px;
        // }
      }
    }
  }
}