.reviews-v2 {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;
  .div-header-review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .div-text-left {
      display: flex;
      flex-direction: column;
      .title-header {
        font-weight: 400;
        font-size: 48px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #2C2C22;
      }
    }
  }
  .slider-comments {
    display: -webkit-box;
    transition: transform 500ms ease 0s;
  }
  .button-next {
    margin-top: 48px;
    display: flex;
    >button {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid #2C2C22;
      display: flex;
      justify-content: center;
      align-items: center;
      >svg {
        width: 20px;
        color: #2C2C22;
      }
    }
    .disabled {
      border: transparent;
      cursor: default;
      >svg {
        color: transparent;
      }
    }
    .bt-prev {
      transform: rotate(-180deg);
      margin-right: 24px;
    }
  }
}