.item-like {
  width: 376px;
  @media screen and (max-width: 991px) {
    width: calc((100vw - 64px * 2 - 36px) / 2);
  }
  @media screen and (max-width: 767px) {
    width: calc((100vw - 16px * 2));
  }
  .tag-top {
    height: 36px;
    width: 100%;
    background: #2C2C22;
    border-radius: 15px 15px 0px 0px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #EBD8B8;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  >img {
    width: 100%;
    height: 376px;
    object-fit: contain;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 16px;
  }
  .text-1 {
    width: 100%;
    padding: 6px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2C2C22;
    margin-bottom: 16px;
    text-transform: uppercase;
    background: #EBD8B8;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    @media screen and (max-width: 991px) {
      padding: unset;
      font-weight: 600;
      font-size: 10px;
      color: #414138;
      letter-spacing: 0.1em;
      background: transparent;
      justify-content: unset;
    }
    >svg {
      font-size: 17px;
      margin-right: 7px;
      @media screen and (max-width: 991px) {
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }
  .text-2 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2C2C22;
    margin-bottom: 12px;
  }
  .text-3 {
    color: #56564E;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .text-4 {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .text-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.1em;
      color: #56564E;
      margin-right: 8px;
      @media screen and (max-width: 991px) {
        font-size: 10px;
        color: #2C2C22;
      }
    }
    .point-black {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #BCAD93;
      margin-right: 4px;
      &.active {
        background: #56564E;
      }
    }
  }
  .text-5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #2C2C22;
    margin-bottom: 24px;
  }
  >button {
    width: 100%;
    height: 48px;
  }
}