.video-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &.list-grid {
    width: fit-content;
    >h3 {
      font-weight: 400;
      font-size: 28px;
      line-height: 120%;
      text-transform: uppercase;
      color: #2C2C22;
      margin-top: 96px;
      margin-bottom: 56px;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        margin-top: 56px;
        margin-bottom: 32px;
      }
    }
    .list-video {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 36px 64px;
      width: 100%;
      overflow-x: unset;
      @media screen and (max-width: 991px) {
        grid-gap: 36px 36px;
      }
      @media screen and (max-width: 767px) {
        grid-gap: 24px 24px;
      }
      .video-item {
        width: 464px !important;
        margin: 0px !important;
        @media screen and (max-width: 991px) {
          width: calc((100vw - 48px - 36px)/2) !important;
        }
        @media screen and (max-width: 767px) {
          width: calc((100vw - 32px - 24px)/2) !important;
        }
        .thumbnail-video {
          width: 100% !important;
          margin-bottom: 16px;
          >img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }
    }
  }
  >h3 {
    margin: 65px 0px;
    font-weight: 300;
    text-align: center;
    color: #0D0D0D;
    @media screen and (max-width: 1440px) {
      margin-top: calc(65px * 0.75);
      margin-bottom: calc(65px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      margin: 36px 0px;
    }
  }
  .list-video {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    @media screen and (max-width: 1024px) {
      display: unset;
      overflow: hidden;
      // flex-direction: column;
      // align-items: center;
    }
    &.center {
      display: flex;
      justify-content: center;
    }
    &.scroll-item {
      justify-content: flex-start;
      .video-item {
        width: calc(((100% - (108px*3)) / 3) + 40px);
        @media screen and (max-width: 1440px) {
          width: calc(((100% - (108px*3)) / 3) + 30px);
        }
      }
    }
    .slick-slider {
      .slick-dots {
        bottom: 0px;
        .slick-active {
          >button{
            &::before {
              opacity: 1;
              color: #B79B53;
            }
         }
        }
        >li >button {
          &::before {
            opacity: 1;
            color: #C4C4C4;
            font-size: 10px;
            top: 1px;
          }
        }
      }
    }
    .video-item {
      width: calc((100% - (108px*3)) / 3);
      margin: 0px 54px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      @media screen and (max-width: 1440px) {
        width: calc((100% - (108px*3 * 0.75)) / 3);
        margin: 0px 40.5px;
      }
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 30px);
        margin: 0px auto 33px auto;
      }
      .thumbnail-video {
        position: relative;
        width: 400px;
        margin: auto;
        margin-bottom: 40px;
        @media screen and (max-width: 1440px) {
          width: calc(400px * 0.75);
          margin-bottom: calc(40px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          width: calc(100% - 20px);
          margin-bottom: 14px;
        }
        >img {
          border-radius: 20px;
          @media screen and (max-width: 1024px) {
            border-radius: calc(20px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            border-radius: 11px;
          }
        }
        >button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      >span {
        font-weight: 300;
        width: 100%;
        text-align: center;
      }
      .title {
        font-size: 22px;
        font-weight: 300;
        color: #152436;
        width: 100%;
        text-align: center;
        text-align: center;
        @media screen and (max-width: 1440px) {
          font-size: calc(22px * 0.75);
          
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin: auto;
        }
      }
      >div >.video-react-controls-enabled {
        >video {
          border-radius: 8px;
        }
        .video-react-poster {
          border-radius: 8px;
        }
      }
    }
  }
}