.footer-result {
  width: 100%;
  height: 98px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 991px) {
    height: 83px;
  }
  @media screen and (max-width: 767px) {
    height: 67px;
  }
  >img {
    height: 50px;
    @media screen and (max-width: 991px) {
      height: 45px;
    }
    @media screen and (max-width: 767px) {
      height: 31px;
    }
  }
}