.item-scent-match {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #30303080;
  @media screen and (max-width: 767px) {
    padding: 24px 12px;
  }
  .sub-text {
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #DA291C;
    margin-bottom: 8px;
    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  } 
  .title-text {
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  .des-text {
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 36px;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
  .div-chart {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 36px;
    }
    .div-chart-scent {
      display: flex;
      width: 100%;
      margin-bottom: 24px;
      .div-title {
        font-family: 'Ferrari';
        font-size: 8px;
        color: #FFFFFF;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        .div-icon {
          width: 28px;
          height: 28px;
          border: 1px solid #303030;
          border-radius: 0px;
          background: transparent;
          margin-right: 8px;
          display: flex;
          >svg {
            width: 16px;
            height: 16px;
            margin: auto;
          }
        }
      }
      .chart-column {
        display: flex;
        justify-content: space-evenly;
        height: 90px;
        margin-top: 10px;
        .column-chart {
          width: 50px;
          @media screen and (max-width: 767px) {
            width: 40px;
          }
          .div-chart {
            width: 100%;
            margin-bottom: 0px;
            .column-value {
              margin-bottom: 0px;
              border-bottom-right-radius: 0px;
              border-bottom-left-radius: 0px;
              border-radius: 0px;
            }
          }
        }
      }
      .chart-content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 25px;
        align-items: center;
        height: 100px;
        .progress-circle-version-3 {
          width: 110px;
        }
      }
      .chart-lasting, .chart-strength {
        width: 50%;
      }
    }
    .chart-scent {
      .div-title {
        margin-bottom: 12px;
        font-family: 'Ferrari';
        font-size: 8px;
        color: #FFFFFF;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        .div-icon {
          font-family: 'Ferrari';
          width: 28px;
          height: 28px;
          border: 1px solid #303030;
          border-radius: 0px;
          background: transparent;
          margin-right: 8px;
          font-weight: 400;
          font-size: 8px;
          color: #FFFFFF;
          text-transform: uppercase;
          display: flex;
          >svg {
            width: 16px;
            height: 16px;
            margin: auto;
          }
        }
      }
      .line-chart {
        margin-top: 8px;
        .line-bg {
          background: #303030;
        }
        .text-title {
          text-align: left;
          font-size: 12px;
          line-height: 150%;
          color: #FFFFFF;
        }
      }
    }
  }
  .list-video {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .item-video {
      width: calc((100% - 24px) / 2);
      display: flex;
      flex-direction: column;
      .wrap-video {
        width: 100%;
        height: 200px;
        >div {
          .video-react {
            height: 100%;
            padding-top: unset !important;
          }
        }
      }
      .text-name {
        margin-top: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }
    }
  }
}
