.slider-header {
  padding: 0 0 2rem;
  .wrap-a {
    &:hover {
      text-decoration: none;
    }
  }
  .slick-track {
    max-height: 470px !important;
    overflow: hidden !important;
  }
  .tag-slider {
    width: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #b79a53;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    letter-spacing: 0.1em;
    border-radius: 4px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0rem 0 2rem;
  }
  img {
    height: 50vh;
    min-height: 490px;
    object-fit: cover;
    width: 100%;
    @media screen and (max-width: 1024px) {
      height: 246px;
      min-height: unset;
    }
  }
  .wrapper-content-sli {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20px);
    text-align: center;
    @media screen and (max-width: 1024px) {
      padding-top: 1rem;
      min-height: 215px;
    }
    a {
      background: none;
      color: white;
      border: 2px solid white;
      padding: 0.7em 1.8em;
      border-radius: 6px;
      font-size: 22px;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 0.2em;
      &:hover {
        text-decoration: none;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    h3 {
      font-size: 28px;
      color: #b79b53;
      font-weight: lighter;
      letter-spacing: 0.2em;
      margin-bottom: 0;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }

    h2 {
      font-size: 46px;
      padding: 0 4rem 0 4rem;
      margin: 0;
      letter-spacing: 0.05em;
      color: #ffffff;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @media screen and (max-width: 1024px) {
        font-size: 22px;
        margin: 0rem 1rem 0 1rem;
        padding: 0 1rem 0 1rem;
        line-height: 1em;
        // height: 3em;
        overflow: hidden;
      }
    }
  }
  .slick-arrow {
    margin-top: 0 !important;
    top: 50% !important;
    &.slick-prev::before {
      width: 36px;
      height: 27px;
      background-size: contain;
      left: -20px;
      background: url("../../../../image/icon/ic-prev-slider.svg") 1rem 0/20%
        auto no-repeat !important;
    }
    &.slick-next::before {
      width: 36px;
      height: 27px;
      background: url("../../../../image/icon/ic-next-slider.svg") 1rem 0/20%
        auto no-repeat !important;
      background-size: contain;
      right: -20px;
    }
  }
  .slick-dots {
    bottom: 5%;
    right: -25%;
    ul {
      padding-left: 0;
    }
    @media screen and (max-width: 1024px) {
      bottom: 20px;
      right: 0;
      padding: 10px 13px 3px 13px !important;
    }
  }
  .dot {
    width: fit-content;
    margin: 0;
    padding: 2px;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.1s ease-in;
    .s-dot {
      width: 12px;
      height: 12px;
      background: #565656;
      border-radius: 30px;
      transition: 0.1s ease-in;
      @media screen and (max-width: 1024px) {
        width: 8px;
        height: 8px;
      }
    }
  }
  .slick-active {
    .dot {
      border: 2px solid #b79b53;
      .s-dot {
        background: #b79b53;
      }
    }
  }
}
