.gender-quiz {
  display: flex;
  width: 100%;
  height: calc(100vh - 72px);
  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 767px){
    height: calc(100vh - 120px);
  }
  >div {
    width: 50%;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .info-right {
    display: flex;
    flex-direction: column;
    position: relative;
    @media screen and (max-width: 992px) {
      flex-direction: row;
      display: inherit;
      flex: 1;
    }
    @media screen and (max-width: 767px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0px;
    }
  }
}