@import '../../styles/colors';

.custom-button {
  &.primary {
    box-shadow:none;
    &.contained {
      color: $Primary-60;
      &:hover {
        background-color: $Secondary-50;
        box-shadow:none;
      }
      &:active {
        background-color: $Secondary-80;
        box-shadow:none;
      }
      &:disabled {
        color: $Neutral-70;
      }
    }
    &.outlined {
      color: $Secondary-60;
      &:hover {
        color: $Secondary-80;
        box-shadow:none;
      }
      &:active {
        background-color: $Secondary-80;
        box-shadow:none;
      }
    } 
    &.text {
      padding: 0px;
      height: 20px;
      background: transparent;
      text-transform: capitalize;
      text-decoration: underline;
      font-weight: normal;
      min-width: unset;
    }
  }
  &.secondary {
    box-shadow:none;
    &.contained {
      color: $Secondary-60;
      &:hover {
        background-color: $Primary-40;
        box-shadow:none;
      }
      &:active {
        background-color: $Primary-70;
        box-shadow:none;
      }
      &:disabled {
        background: $Neutral-70;
        color: $Neutral-80;
      }
    }
    &.outlined {
      color: #EBD8B8;
      &:hover {
        color: #EBD8B8;
        box-shadow:none;
      }
      &:active {
        background-color: $Secondary-80;
        box-shadow:none;
      }
    } 
  }
  &.large {
    height: 56px;
    padding: 0px 24px;
    &.icon-button {
      height: 52px;
      min-width: 52px;
      width: 52px;
      border-radius: 50%;
    }
  }
  &.medium {
    height: 44px;
    padding: 0px 20px;
    &.icon-button {
      height: 36px;
      min-width: 56px;
      width: 56px;
      border-radius: 30px;
    }
  }
  &.small {
    height: 39px;
    padding: 0px 20px;
    &.icon-button {
      height: 36px;
      min-width: 56px;
      width: 56px;
      border-radius: 50%;
    }
    &.text {
      font-size: 12px;
      height: 18px;
    }
  }
}