SECTION.book-workshop {
    width: calc(100vw - 320px * 2);
    min-width: 1140px;
    margin: 0px auto 0;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px 0 32px;
    padding-bottom: 60px;
    position: relative;
    @media screen and (max-width: 1024px) {
        // margin-top: 86px;
        margin-bottom: 0;
        padding-bottom: 0;
        min-width: unset;
        width: auto;
        padding: 8px 0 32px;
    }
    > .title-step {
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 32px;
        text-transform: uppercase;
        @media screen and (max-width: 1024px) {
            font-size: 26px;
            margin-bottom: 10px;
            margin-top: 4px;
        }
    }

    // progress bar
    .wrapper-progress-bar {
        display: block;
        position: relative;
        width: 75%;
        margin: 0 auto;
        padding: 8px 0 60px;
        min-height: 121px;
        @media screen and (max-width: 1024px) {
            min-height: 114px;
            width: 100%;
            padding: 0 0 104px;
        }
        UL.progressbar-custom {
            counter-reset: step;
            width: 100%;
            @media screen and (max-width: 1024px) {
                padding: 0;
            }
        }
        .progressbar-custom li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: 14px;
            position: relative;
            text-align: center;
            color: #e2e2e2;
            transition: 0.2s all;
            @media screen and (max-width: 1024px) {
                font-size: 10px;
            }
        }
        .sum-step-3 li {
            width: 32%;
        }
        .progressbar-custom li:before {
            width: 60px;
            height: 60px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #b79b53;
            font-size: 18px;
            position: relative;
            border: 1px solid #b79b53;
            z-index: 2;
            @media screen and (max-width: 1024px) {
                width: 42px;
                height: 42px;
                font-size: 15px;
            }
        }
        .progressbar-custom li.active {
            color: #0d0d0d;
        }
        .progressbar-custom li.active:last-child {
            color: #b79b53 !important;
        }
        .progressbar-custom li:after {
            width: 100%;
            height: 1px;
            content: "";
            position: absolute;
            background-color: #b79b53;
            top: 30px;
            left: -50%;
            z-index: 1;
            @media screen and (max-width: 1024px) {
                height: 1px;
                top: 22px;
            }
        }
        .progressbar-custom li:first-of-type:after {
            content: none;
        }
        .progressbar-custom li.active:before {
            background: #e2e2e2;
        }
        .progressbar-custom li.active:after {
            background-color: #b79b53;
        }
        .progressbar-custom li.current-step {
            color: #b79b53;
            &::before {
                background: white;
            }
        }
    }
    .wrapper-step {
        padding: 40px 0 0;
        width: 68%;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 24px 16px 0;
        }
    }
    .btn-back {
        position: absolute;
        background: none;
        top: -90px;
        left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 14px;
        letter-spacing: 0.2em;
        img {
            max-width: 14px;
            margin-right: 10px;
        }
    }
    .btn-back-mobile {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 12px;
        letter-spacing: 0.2em;
        margin-left: 8px;
        img {
            margin-right: 10px;
            max-width: 14px;
        }
    }
}
