.recommended-mix {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 0;

  .mix-scents {
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(3, 1fr);

    column-gap: 16px;
    padding-left: 0;
    margin-bottom: 40px;

    .recommended-scent {
      max-width: 282px;
      height: 280px;

      border-radius: 15px;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      // cursor: pointer;
      .scent-group {
        height: 36px;
        flex-shrink: 0;

        text-align: center;
        background-color: #2C2C22;

        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        text-transform: uppercase;
        color: #EBD8B8;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .scent-image {
        height: calc(100% - 36px);
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          // transition: all ease 400ms;
        }
        .scent-name {
          position: absolute;
          top: 50%;
          left: 50%;

          transform: translate(-50%, -50%);

          font-size: 24px;
          font-weight: 600;
          color: #ffffff;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          text-align: center;
        }
      }

      // &:hover {
      //   .scent-image > img {
      //     transform: scale(1.25);
      //   }
      // }

      @media screen and (max-width: 480px) {
        height: 118px;

        .scent-group {
          font-size: 12px;
        }
        .scent-image .scent-name {
          font-size: 10px;
        }
      }
    }

    @media screen and (max-width: 480px) {
      column-gap: 8px;
      margin-bottom: 32px;
    }
  }
  .recommended-create {
    text-align: center;
    width: fit-content;
    border: 1px solid #2C2C22;
    border-radius: 30px;
    overflow: hidden;
    background-color: #F5ECDC;
    .create-btn {
      height: 56px;
      padding: 12px 24px;

      font-weight: 500;
      font-size: 16px;
      line-height: 150%;

      display: flex;
      align-items: center;
      color: #2C2C22;

      > svg {
        margin-left: 12px;
        transition: all ease 400ms;
      }
    }
    &:hover {
      text-decoration: none;
      .create-btn {
        > svg {
          transform: translateX(8px);
        }
      }
    }

    @media screen and (max-width: 480px) {
      width: 100%;
      .create-btn {
        justify-content: center;
        height: 45px;
      }
    }
  }
}