.customer-say {
  margin-top: 35px;
  width: 100%;
  padding-bottom: 30px;
  // @media scents and (max-width: 1440px) {
  //   margin-top: calc(35px * 0.75);
  // }
  @media screen and (max-width: 1024px) {
    margin-top: 32px;
  }
  .line-header {
    width: 100%;
    margin-bottom: 23px;
    align-items: center;
    // @media screen and (max-width: 1440px) {
    //   margin-bottom: calc(23px * 0.75);
    // }
    @media screen and (max-width: 1024px) {
      margin-bottom: 23px;
    }
    .line {
      height: 1px;
      flex: 1;
      background: #E6E6E6;
    }
    >h3 {
      margin: 0px 6px;
      font-weight: 600;
      font-size: 1rem;
      color: #545454;
      @media screen and (max-width: 1440px) {
        font-size: 1.14rem;
      }
      @media screen and (max-width: 1024px) {
        margin: 0px 6px;
        font-size: 1.14rem;
      }
    }
  }
  .content-slider {
    .slick-slider {
      .slick-arrow {
        top: 50%;
        transform: translateY(-50%);
        margin: 0px;
        &::before {
          width: 45px;
          height: 30px;
          top: 50%;
          transform: translateY(-50%);
        }
        &.slick-prev {
          left: -20px;
        }
        &.slick-next {
          right: -20px;
        }
      }
      .slick-dots {
        >li {
          margin: 0px;
          >button {
            &::before {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
  .item-say {
    width: 100%;
    padding: 0px 23px;
    // @media screen and (max-width: 1440px) {
    //   padding: 0px 18px;
    // }
    @media screen and (max-width: 1024px) {
      padding: 0px 23px;
    }
    .line-star {
      >img {
        width: 16px;
        height: 16px;
        margin-right: 7px;
        // @media screen and (max-width: 1440px){
        //   width: calc(16px * 0.75);
        //   height: calc(16px * 0.75);
        //   margin-right: calc(7px * 0.75);
        // }
        @media screen and (max-width: 1024px) {
          width: 16px;
          height: 16px;
          margin-right: 7px;
        }
      }
    }
    .des {
      font-style: normal;
      font-weight: normal;
      font-size: 0.75rem;
      line-height: 17px;
      color: #000000;
      margin: 11px 0px 13px 0px;
      @media screen and (max-width: 1440px) {
        font-size: 0.875rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 0.875rem;
        line-height: 17px;
        margin: 11px 0px 13px 0px;
      }
    }
    .account-say {
      >img {
        width:30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 8px;
        // @media screen and (max-width: 1440px) {
        //   width: calc(30px * 0.75);
        //   height: calc(30px * 0.75);
        //   margin-right: calc(8px * 0.75);
        // }
        @media screen and (max-width: 1024px) {
          width:30px;
          height: 30px;
          margin-right: 8px;
        }
      }
      .name-time {
        justify-content: center;
        >h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 0.75;
          line-height: 17px;
          color: #000000;
          margin-bottom: 3px;
          @media screen and (max-width: 1440px) {
            font-size: 0.875rem;
          }
          @media screen and (max-width: 1024px) {
            font-size: 0.875rem;
            line-height: 17px;
            margin-bottom: 3px;
          }
        }
        >span {
          font-size: 0.5625rem;
          line-height: 13px;
          color: #8D8D8D;
          @media screen and (max-width: 1440px) {
            font-size:0.64rem;
          }
          @media screen and (max-width: 1024px) {
            font-size:0.64rem;
            line-height: 13px;
          }
        }
      }
    }
  }
}