.how-old {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .tile-how-old {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 50px;
    @media screen and (max-width: 991px) {
      font-size: 48px;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px; 
    }
  }
  .div-progress-bar {
    width: calc(100% - 150px * 2);
    position: relative;
    margin-bottom: 50px;
    @media screen and (max-width: 991px) {
      width: calc(100% - 64px * 2);
    }
    @media screen and (max-width: 767px) {
      width: calc(100% - 25px * 2);
    }
    .rangeslider {
      height: 12px;
      background: #D4C2A6;
      border-radius: 20px;
      box-shadow: none;
      .rangeslider__fill {
        background: #2c2c2c;
        box-shadow: unset;
      }
      .rangeslider__labels {
        display: inherit;
        .rangeslider__labels-item {
          font-size: 14px;
          font-weight: 600;
          color: #56564E;
        }
        .rangeslider__label-item:nth-child(1) {
          @media screen and (max-width: 991px) {
            left: unset !important;
            right: -20px !important;
          }
        }
        .rangeslider__label-item:nth-child(2) {
          @media screen and (max-width: 991px) {
            left: 0px !important;
          }
        }
      }
      .rangeslider__handle {
        width: 72px;
        height: 72px;
        background: #2c2c2c;
        border-radius: 50%;
        border: none;
        box-shadow: none;
        @media screen and (max-width: 991px) {
          width: 64px;
          height: 64px;
        }
        &::after {
          width: 0px;
          height: 0px;
        }
        .rangeslider__handle-label {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          font-size: 32px;
          line-height: 150%;
          color: #F5ECDC;
          @media screen and (max-width: 991px) {
            font-size: 28px;
          }
        }
      }
    }
    .lable-number {
      display: flex;
      flex-direction: row;
    }
  }
  .button-next-quiz {
    padding: 0px 40px;
  }
}