@import '../../../styles/colors';
.order-detail {
  background: $Primary-30;
  border-radius: 30px;
  padding: 24px;
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  #anchor-step4 {
    position: absolute;
    top: -90px;
  }
  .heading {
    margin-bottom: 24px;
  }
  .sum-step {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .text {
      color: $Secondary-60;
      .body-text-s-regular:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
  .sum-step:not(:last-child) {
    margin-bottom: 24px;
  }
}