.mobi--workshop__detail {
  position: relative;
  background: #ffffff;
  padding-top: 24px;
  select:not([multiple]) {
    background-size: 36% !important;
  }
  &__banner {
    margin-bottom: 32px;
    img {
      width: 100%;
      max-height: calc(100vw * 0.563);
      object-fit: cover;
      object-position: center;
    }
    .slick-dots li.slick-active button:before {
      opacity: 0.75;
      color: #b79b53;
    }
    .slick-dots li button:before {
      font-size: 10px;
    }
  }
  .mobi--workshop__detail__back {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    z-index: 1;
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .slider-images {
    .p-1 {
      position: relative;
    }
    img {
      object-fit: cover;
      height: 3rem;
      width: 6rem;
    }
    .play-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .information__header {
    .information__header__title {
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
    }

    .information__header__price {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 0.5rem;
      white-space: pre-wrap;
      p {
        margin-bottom: 6px;
      }
    }
  }
  .mobi--workshop__detail__info {
    align-items: baseline;
    h3 {
      font-size: 28px;
      margin: 0;
    }

    .__content {
      font-size: 1rem;
    }
  }

  .mobi--workshop__detail__about,
  .mobi--workshop__detail__contact {
    h4 {
      font-size: 0.875rem;
      font-weight: 600;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .__subtitle {
      font-size: 0.875rem;
      font-weight: 600;
    }

    .__content {
      font-size: 0.875rem;
    }
  }

  .mobi--workshop__detail__bookNow {
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    p {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    button {
      padding: 0.5rem 1rem;
      border: 0.1rem solid #0d0d0d;
      box-sizing: border-box;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #0d0d0d;
      border-radius: 0;
      margin-left: 0;
      width: 100%;
      text-align: center;
      height: 50px;
      &:hover {
        color: #ffffff;
        background-color: #0d0d0d;
      }
    }
    input {
      margin-right: 16px;
    }

    a {
      text-decoration: none;
      flex-grow: 1;
    }
  }
  @media screen and (max-width: 1024px) {
    .wrapper-list {
      gap: unset !important;
      margin: 0 -8px;
      > * {
        margin: 0 8px;
      }
    }
  }
  .wrapper-list > div:last-child > div {
    margin-right: 16px;
  }
  .mobi--workshop__detail__benefit {
    padding-top: 0;
    margin-bottom: 16px;

    .mobi--workshop__detail__benefit__title {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      display: -webkit-box;
      border-bottom: 1px solid #0d0d0d;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      padding-bottom: 6px;
    }

    .mobi--workshop__detail__benefit__item {
      width: 13.5rem;
      padding: 10px;
      font-size: 0.875rem;
      background: #ffffff;
      border: 1px solid #0d0d0d;
      box-sizing: border-box;
      border-radius: 6px;
      height: 100%;
      flex-grow: 1;

      .mobi--workshop__detail__benefit__item__icon {
        text-align: center;
        img {
          height: 40px;
          width: auto;
          object-fit: contain;
        }
      }

      .mobi--workshop__detail__benefit__item__title {
        font-weight: 500;
        padding-top: 0.7rem;
      }

      .mobi--workshop__detail__benefit__item__content {
        padding-top: 0.14px;
      }
    }
  }
  .wrapper-select {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: 1px solid #e2e2e2;
    height: 50px;
    width: 30%;
    justify-content: space-around;
    img {
      width: 25%;
    }
    select {
      border: none;
      max-height: 46.19px;
      padding-left: 7px;
      font-size: 18px;
      width: 40px;
      &:focus {
        outline: none;
        border: none;
        box-shadow: unset;
      }
    }
  }
  .div-faq {
    max-width: 100%;
    margin: 0px auto 48px;
  }
  .div-recommend > button {
    padding: 20px !important;
    > span {
      color: #0d0d0d !important;
      font-weight: 500;
    }
  }
  .slick-slide {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      height: 360px;
    }
    @media screen and (max-width: 767.9px) {
      height: 225px;
    }
    overflow: hidden;
  }
  .div-content-faq {
    & > div:first-of-type {
      background: #0d0d0d !important;
    }
    .div-recommend {
      // border-left: 1px solid #0d0d0d !important;
      // border-right: 1px solid #0d0d0d !important;
      border-bottom: 1px solid #E2E2E2 !important;
      > button span {
        padding-right: 20px;
        font-weight: 400 !important;
        font-size: 14px !important;
        text-transform: inherit !important;
        letter-spacing: 0.05rem !important;
      }
    }
    .ReactCollapse--content {
      .rich-text {
        font-size: 13px !important;
      }
    }
  }
}
