.padding-y {
  padding: 64px 0;

  @media screen and (max-width: 991px) {
    padding: 48px 0;
  }

  @media screen and (max-width: 480px) {
    padding: 24px 0;
  }
}
.glossary-v2 {
  display: flex;
  flex-direction: column;

  .block-video {
    grid-area: item-1;
    border-radius: 20px;
    overflow: hidden;
    .video-react {
      background-color: #000000;
      padding-top: 39.2% !important;
    }

    @media screen and (max-width: 991px) {
      .video-react {
        padding-top: 56.25% !important;
      }
    }
  }
  .glossary-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      padding: 0 16px;
    }

    @media screen and (max-width: 480px) {
      padding: 0 24px;
    }
  }
  .glossary-head {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    .glossary-title {
      font-size: 48px;
      line-height: 120%;

      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #2C2C22;
    }
    .glossary-sub-title {
      margin-top: 12px;
      font-size: 18px;
      line-height: 150%;

      text-align: center;
      color: #56564E;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 24px;
      .glossary-title {
        font-size: 24px;
      }
      .glossary-sub-title {
        font-size: 14px;
      }
    }
  }
  .glossary-detail {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .block-charts {
      .tab-scent-character {
        margin-top: 0;
        height: 100%;
        .info-scent {
          height: 100%;
        }
        .info-scent-content {
          flex-direction: row;
          align-items: stretch;
          .block-evolution {
            width: 100%;
            flex: 1 0 34%;
            .title-header {
              font-size: 16px;
              margin-bottom: 12px;
            }
          }
          hr {
            display: none;
          }
          > .div-chart {
            flex: 1 0 34%;
            margin-bottom: 0;
            padding-left: 24px;
            border-left: 1px dashed #56564E;
            .div-chart-scent {
              margin: 0;
              padding-bottom: 24px;
            }
            .div-title {
              align-items: center;
              font-weight: 600;
              font-size: 12px;
              line-height: 150%;
              color: #56564E;
            }
            .chart-strength {
              border-left: 1px dashed #56564E;
            }
            .chart-lasting .div-title {
              width: 100%;
            }
            .chart-strength .div-title {
              min-width: 174px;
            }
            .chart-scent {
              width: 100%;
            }
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      gap: 16px 0;
      .block-charts .tab-scent-character {
        .info-scent-content {
          flex-direction: column;
          .block-evolution {
            padding-bottom: 24px;
            border-bottom: 1px dashed #56564E;
          }
          .div-chart {
            border-left: 0;
            padding-left: 0;
            .div-chart-scent {
              padding-top: 24px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      .info-scent-content {
        padding: 24px 12px;

        .title-header {
          font-size: 12px !important;
        }
        .div-chart {
          .div-chart-scent .div-title, .chart-scent .div-title {
            font-size: 10px !important;
            margin-bottom: 12px;
            .div-icon {
              width: 24px;
              height: 24px;
            }
          }
          .chart-strength .div-title {
            min-width: unset !important;
          }
        }
      }
    }
  }
  .glossary-ingredients {
    padding: 48px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .glossary-recommended {
    .glossary-head {
      margin-bottom: 24px;
      .glossary-title {
        margin-bottom: 12px;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 0;
      }
    }
  }
  .glossary-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 48px;
    .glossary-head {
      width: 60%;
      margin-bottom: 0;
      .glossary-title, .glossary-sub-title {
        text-align: left;
      }
    }
    .glossary-more-scents {
      text-align: center;
      width: fit-content;

      .view-btn {
        display: flex;
        align-items: center;
        color: #2C2C22;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;

        border: 1px solid #2C2C22;
        border-radius: 30px;
        overflow: hidden;

        padding: 16px 24px;

        > svg {
          margin-left: 12px;
          transition: all ease 400ms;
        }
      }

      &:hover {
        text-decoration: none;
        .view-btn > svg {
          transform: translateX(8px);
        }
      }

      &.second-btn {
        display: none;
        margin-top: 40px;
      }
    }

    &.second-block {
      margin-bottom: 0;
    }

    @media screen and (max-width: 480px) {
      margin-bottom: 24px;

      .glossary-more-scents {
        display: none;
      }
      .glossary-head {
        width: 100%;
        align-items: center;
        .glossary-sub-title {
          text-align: center;
        }
      }
      .glossary-more-scents.second-btn {
        width: 100%;
        display: block;
        .view-btn {
          justify-content: center;
          padding: 10px 24px;
        }
      }
    }
  }
}