@import '../../styles/colors';

.block-faq-new {
  padding: 120px 0px;
  background: $Primary-10;
  position: relative;
  max-width: 1200px;
  margin: auto;
  @media screen and (max-width: 1252px) {
    max-width: 100%;
    padding: 0px 26px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0px 0px 150px 0px;
    width: calc(100vw - 24px * 2);
    margin: auto;
  }
  #id-faq {
    position: absolute;
    top: 0px;
  }
  .header-text {
    font-weight: 400;
    font-size: 72px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2C2C22;
    margin-bottom: 16px;
    text-align: center;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }
  .des-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #56564E;
    margin-bottom: 80px;
    @media screen and (max-width: 767px) {
      display: none;
      margin-bottom: 0px;
    }
  }
}