.b2b-partnership {
  margin-top: 227px;
  @media (max-width: 1440px) {
    margin-top: 170px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
  }
  .list-option {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    height: 100%;
    .div-border {
      border: 1px solid rgba(0, 0, 0, 0.329);
      padding: 20px;
      font-size: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .img-left {
    max-height: 450px;
  }
  a,
  button,
  .slider-item,
  .join {
    cursor: pointer;
  }
}
