.popup-delivery {
  width: 448px !important;
  max-width: 448px !important;
  position: relative;
  @media screen and (max-width: 1440px) {
    width: calc(448px * 0.75) !important;
    max-width: calc(448px * 0.75) !important;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 37px * 2) !important;
    max-width: calc(100vw - 37px * 2) !important;
    margin: auto !important;
    margin-top: -20px !important;
  }
  .bt-close {
    position: absolute;
    top: 23px;
    right: 22px;
    z-index: 1;
    @media screen and (max-width: 1440px) {
      top: calc(20px * 0.75);
      right: calc(18px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      top: 20px;
      right: 18px;
    }
    >img {
      width: 14px;
      height: 14px;
    }
  }
  .modal-content {
    border-radius: 0px;
    .modal-body {
      padding: 48px 36px;
      @media screen and (max-width: 1440px) {
        padding: 36px 27px;
      }
      @media screen and (max-width: 1024px) {
        padding: 32px 18px 39px 18px;
      }
      .header_2 {
        margin-bottom: 28px;
        @media screen and (max-width: 1440px) {
          margin-bottom: calc(28px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 15px;
        }
      }
      .text-1 {
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.02em;
        @media screen and (max-width: 1440px) {
          font-size: calc(20px * 0.75);
          line-height: calc(29px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 23px;
          letter-spacing: unset;
        }
      }
      hr {
        border-top: 1px solid #ECE9F1;
        margin-top: 20px;
        margin-bottom: 15px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(20px * 0.75);
          margin-bottom: calc(15px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 14px;
          margin-bottom: 15px;
        }
      }
      .emojiFlag {
        font-size: 20px !important;
        @media screen and (max-width: 1440px) {
          font-size: calc(20px * 0.75) !important;
        }
        @media screen and (max-width: 1024px) {
          font-size: 12px !important;
        }
      }
      .text-2 {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        padding-top: 16px;
        @media screen and (max-width: 1440px) {
          font-size: calc(24px * 0.75);
          line-height: calc(28px * 0.75);
          padding-top: calc(16px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          font-size: 14px;
          line-height: 25px;
          padding-top: 16px;
        }
      }
      .div-country {
        margin-top: 24px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(24px * 0.75); 
        }
        @media screen and (max-width: 1024px) {
          margin-top: 20px;
        }
        .text-title {
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.15em;
          color: #000000;
          margin-bottom: 20px;
          text-align: left;
          @media screen and (max-width: 1440px) {
            font-size: calc(18px * 0.75);
            line-height: calc(26px * 0.75);
            margin-bottom: calc(20px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.15em;
            margin-bottom: 16px;
          }
        }
        .input-select {
          margin-bottom: 18px;
          @media screen and (max-width: 1440px) {
            margin-bottom: calc(18px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-bottom: 14px;
          }
          .css-1pahdxg-control, .css-1pahdxg-control:hover {
            box-shadow: unset;
            border-radius: 0px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            .css-1hb7zxy-IndicatorsContainer {
              .css-1okebmr-indicatorSeparator {
                visibility: hidden;
              }
            }
          }
          .css-yk16xz-control {
            border-radius: 0px;
            border: 1px solid rgba(0, 0, 0, 0.08);
            .css-1hb7zxy-IndicatorsContainer {
              .css-1okebmr-indicatorSeparator {
                visibility: hidden;
              }
            }
          }
        }
        .button-custom {
          width: 100%;
          height: 50px;
          background: #C9A047;
          @media screen and (max-width: 1440px) {
            height: calc(50px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 42px;
          }
        }
      }
    }
  }
}