.button-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 298px;
  height: 59px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  background: #0D0D0D;
  border: none;
  border-radius: 4px;
  padding: 0px 30px;
  text-align: center;
  @media screen and (max-width: 1024px) {
    height: 45px;
    font-size: 14px;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.bt-text {
    background: none;
    color: #0d0d0d;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    min-width: unset;
    letter-spacing: 0.1em;
    text-decoration: underline;
    font-weight: normal;
    min-height: unset;
    height: unset;
  }
  &.button-a {
    display: inline-block;
    text-decoration: none;
    line-height: 59px;
    width: fit-content;
    @media screen and (max-width: 1024px) {
      line-height: 45px;
    }
    &.bg-white {
      background: #ffffff;
      color: #0d0d0d;
      &.animated-hover {
        transition: all 0.2s ease;
        &:hover{
          background: #DCDCDC;
          transform: translateY(0px);
        }
      }
    }
    &.bg-white-bt {
      background: #ffffff;
      color: #0d0d0d;
      &.animated-hover {
        transition: all 0.2s ease;
        &:hover{
          background: #DCDCDC;
          transform: translateY(0px);
          color: #0d0d0d;
        }
      }
    }
    &.link-text {
      width: fit-content;
      padding: 0px;
      height: fit-content;
      background: transparent;
      color: #0D0D0D;
      min-width: unset;
      position: relative;
      font-weight: 500;
      &.animated-hover {
        transition: all 0.2s ease;
        &:hover{
          color: #B79B53;
          background: transparent;
          transform: translateY(0px);
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 10px;
        left: 0px;
        background: #B79B53;
        border-radius: 1px;
        z-index: 1;
      }
    }
    &.link-text-landingpage {
      height: 19px;
      line-height:19px;
      font-weight: 300;
      font-size: 13px;
      letter-spacing: 0.15em;
      @media screen and (max-width: 1440px) {
        font-size: 9.75px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 10px;
      }
      &.animated-hover {
        transition: all 0.2s ease;
        &:hover{
          color: #B79B53;
          background: transparent;
          transform: translateY(0px);
          &::after {
            background: #B79B53;
          }
        }
      }
      &::after {
        height: 1px;
        bottom: 2px;
        background: #0D0D0D;
        &:hover{
          background: #B79B53;
        }
      }
    }
  }
  &.outline-bt {
    border: 2px solid #0D0D0D;
    color: #0D0D0D;
    background: #FFF;
    &.animated-hover {
      transition: all 0.2s ease;
      &:hover{
        background: #FFF;
        transform: translateY(-10px);
        color: #0D0D0D;
      }
    }
  }
  &.animated-hover {
    transition: all 0.2s ease;
    &:hover{
      background: #353535;
      transform: translateY(-10px);
    }
  }
  &.secondary-bt {
    background: #B79B53;
    &.animated-hover {
      transition: all 0.2s ease;
      &:hover{
        background: #CCAF65;
        transform: translateY(-10px);
      }
    }
  }
  &.button-black {
    min-width: 223px;
    height: 41.6px;
    line-height: 41.6px;
    background: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0px;
    @media screen and (max-width: 1440px) {
      min-width: 167px;
      height: 31.2px;
      line-height: 35.2px;
      font-size: 9.75px;
    }
    @media screen and (max-width: 1024px) {
      min-width: 170px;
      height: 42px;
      line-height: 42px;
      font-size: 13px;
    }
    &.animated-hover {
      transition: all 0.2s ease;
      &:hover{
        background: #B3AFA5;
        color: #FFFFFF;
        transform: unset;
      }
    }
    &.bg-white {
      background: #fff;
      color: #0d0d0d;
    }
  }
  &.bt-icon-left {
    border: 0.562535px solid #FFFFFF;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    height: 44px;
    @media screen and (max-width: 1440px) {
      height: 33px;
    }
    @media screen and (max-width: 1024px) {
      height: 44px;
    }
    > img {
      height: 10.4px;
      margin-right: 9.1px;
      @media screen and (max-width: 1440px) {
        height: 7.8px;
        margin-right: 6.83px;
      }
      @media screen and (max-width: 1024px) {
        height: 10.4px;
        margin-right: 9.1px;
      }
    }
  }
  &.bt-out-line {
    width: 223px;
    height: 41.57px;
    background: #FFFFFF;
    border: 0.38px solid #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #0D0D0D;
    border-radius: 0px;
    padding: 0px;
    min-width: unset;
    @media screen and (max-width: 1440px) {
      width: 167px;
      height: 31px;
      font-size: 9.75px;
      line-height: 14px;
    }
    @media screen and (max-width: 1024px) {
      width: 223px;
      height: 41.57px;
      font-size: 13px;
      line-height: 19px;
      border: 1px solid #000000;
    }
  }
  &.bt-bg-cart {
    width: 223px;
    height: 41.57px;
    background: #000000;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0px;
    padding: 0px;
    min-width: unset;
    @media screen and (max-width: 1440px) {
      width: 167px;
      height: 31px;
      font-size: 9.75px;
      line-height: 14px;
    }
    @media screen and (max-width: 1024px) {
      width: 223px;
      height: 41.57px;
      font-size: 13px;
      line-height: 19px;
    }
  }
}