.buy-more-gift-shipping {
  width:100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 2px;
  padding: 25px 20px;
  color: #0D0D0D;
  align-items: center;
  @media screen and (max-width: 1024px) {
    background: #F2F2F2;
    border-radius: 2px;
    padding: 25px 10px;
  }
  >h3 {
    font-weight: 300;
    font-size: 1.0625rem;
    line-height: 25px;
    margin-bottom: 15px;
    @media screen and (max-width: 1440px) {
      font-size: 1.214rem;
    }
  }
  .content-info {
    position: relative;
    width: 100%;
    height: 122px;
    margin-top: 30px;
    @media screen and (max-width: 1024px) {
      height: 150px;
    }
    &.two-item {
      height: 80px;
      @media screen and (max-width: 1024px) {
        height: 110px;
      }
      #div-item-render-2 {
        position: absolute;
        transform: unset;
        top: 20px;
        right: 0px;
        bottom: unset;
        left: unset;
        @media screen and (max-width: 1024px) {
          width: 135px;
          top: 44px;
        }
      }
    }
    .cus-progress {
      width: 50%;
      position:absolute;
      height: 6px;
      border-radius: 42px;
      transform-origin: 0px 0px;
      background-color: #E5E5E5;
      .progress-bar {
        background-color: #B79B53;
      }
    }
    #div-item-render-1 {
      position: absolute;
      left: 22px;
      top: 0px;
      @media screen and (max-width: 1024px) {
        left: 0px;
        width: 135px;
      }
    }
    #div-item-render-2 {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
    #div-item-render-3 {
      position: absolute;
      right: 22px;
      top: 0px;
      @media screen and (max-width: 1024px) {
        right: 0px;
        width: 135px;
      }
    }
    #cus-progress-1 {
      left: 0px;
    }
    #cus-progress-2 {
      right: 0px;
    }
    .item-render {
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-self: center;
      width: fit-content;
      z-index: 1;
      &.class-bottom {
        flex-direction: column-reverse;
        >span {
          margin-top: 6px;
        }
      }
      >span {
        font-size: 0.8125rem;
        font-style: normal;
        margin-bottom: 6px;
        text-align: center;
        @media screen and (max-width: 1440px) {
          font-size: 0.928rem;
        }
      }
      .div-icon {
        position: relative;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        width: 33px;
        height: 33px;
        display: flex;
        >img {
          width: 20px;
          margin: auto;
        }
        .number {
          position: absolute;
          bottom: 0px;
          right: 0px;
          background: #B79B53;
          font-weight: 600;
          font-size: 0.5rem;
          line-height: 11px;
          color: #FFFFFF;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media scents and (max-width: 1440px) {
            font-size: 0.571rem;
          }
        }
      }
    }
  }

  .message1 {
    font-size: 0.8125rem;
    line-height: 19px;
    margin-bottom:11px;
    text-align: left;
    @media screen and (max-width: 1440px) {
      font-size: 0.9285rem;
    }
  }
  .message2 {
    font-size: 0.8125rem;
    line-height: 19px;
    text-align: left;
    @media screen and (max-width: 1440px) {
      font-size: 0.9285rem;
    }
  }
  .message-got {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      margin-top: 11px;
      align-items: flex-start;
    }
    .div-icon {
      >img {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
      .text-qualify {
        font-size: 0.875rem;
        line-height: 20px;
        color: #008526;
        margin-right: 20px;
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
        }
      }
    }
    
    .message-gift {
      >span:nth-child(1) {
        margin-right: 5px;
      }
      >span {
        font-size: 0.75rem;
        line-height: 17px;  
        color: #0D0D0D;    
        @media screen and (max-width: 1440px) {
          font-size: 0.857rem;
        }
      }
    }
  }
  .div-progress {
    position: relative;
    width: 100%;
    margin: 8px 0px;
    .cus-progress {
      height: 6px;
      border-radius: 42px;
      background-color: #E5E5E5;
      .progress-bar {
        background-color: #B79B53;
      }
    }
    .number-percent:nth-child(2) {
      left: 50%;
    }
    .number-percent:nth-child(3) {
      left: 70%;
    }
    .number-percent {
      position: absolute;
      width: 28px;
      background: #E5E5E5;
      border: 3px solid #c4c4c4;
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 1024px) {
        width: 24px;
        height: 24px;
      }
      &.active {
        border: 3px solid #ffffff;
        background: #B79B53;
        >div {
          >span {
            color: #ffffff;
          }
        }
        .show-bottle {
          >span {
            color: #B79B53;
          }
        }
      }
      &.div-bottle {
        background: transparent;
        width: 21px;
        height: auto;
        border: none;
        margin-left: -20px;
        .show-bottle {
          position: relative;
          .bottle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >img {
              width: 20px;
              padding: 1px 0px;
            }
          }
          >span {
            position: absolute;
            bottom: -20px;
            font-size: 0.75rem;
            font-weight: normal;
            @media screen and (max-width: 1440px) {
              font-size: 0.8571rem;
            }
          }
        }
      }
      &.ic-truck {
        width: 35px;
        .show-bottle {
          .bottle {
            >img {
              width: 35px;
            }
          }
        }
      }
      >div {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content:center;
        align-items: center;
        >span {
          font-weight: bold;
          font-size: 0.625rem;
          line-height: 10px;
          text-align: center;
          color: #0D0D0D;
          margin: auto;
          @media screen and (max-width: 1024px) {
            font-size: 0.714rem;
          }
          @media screen and (max-width: 1024px) {
            font-size: 0.5rem;
            line-height: 7px;
          }
        }
      }
    }
  }
  >span {
    font-size: 0.875rem;
    color: #0D0D0D;
    text-align: center;
    &.span-bottle {
      margin-top: 24px;
    }
    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }
  }
}