.drawer-menu-v3 {
  position: absolute;
  background-attachment: scroll !important;
  overflow: hidden;
  left: 0;
  top: 108px;
  right: 0;
  width: 100%;
  z-index: 9;
  background: #55555555 !important;
  @media screen and (max-width: 480px) {
    top: 104px;
  }
  &.menu-simple {
    top: 72px;
  }
  .drawer-content {
    position: absolute;
    top: -400px;
    background-attachment: scroll !important;
    left: 0%;
    background-color: #f5ecdc;
    // box-shadow: inset 0px 1px 0px #2C2C22;
    box-shadow: 2px 2px 1px 0 rgba(255, 255, 255, 0.1);
    color: #f5ecdc;
    padding: 0px;
    width: 100%;
    transition: all 0.4s ease;
    @media screen and (max-width: 991px) {
      top: -400px;
      padding: 8px 30px 28px;
    }
    @media screen and (max-width: 480px) {
      top: -400px;
      padding: 8px 22px 20px;
    }

    &.open {
      top: 0px;
    }
    .button-menu {
      margin-top: 16px;
      > button:nth-child(1) {
        margin-bottom: 12px;
      }
      > button {
        height: 48px;
      }
    }

    .content-desktop {
      max-width: 1200px;
      margin: auto;

      @media screen and (max-width: 1248px) and (min-width: 991px) {
        padding: 0 24px;
      }
    }
  }
  .out-click {
    width: 100%;
    flex: 1;
    height: 100%;
    cursor: pointer;
  }
}
