@import '../../../styles/colors';

.info-user-v2 {
  .div-line-wrap {
    width: 100%;
    margin: 24px 0px;
    display: flex;
    align-items: center;
    .line-type {
      flex: 1;
      height: 1px;
      background: $Primary-100;
    }
    .other-Tagline {
      padding: 0px 24px;
      color: $Primary-100;
    }
  }

  .shipping-info, .customer-detail {
    margin-bottom: 24px;
    position: relative;
    @media screen and (max-width: 1024px) {
      border: 1px solid $Secondary-60;
      border-radius: 20px;
    }
    #anchor-step2, #anchor-step1 {
      position: absolute;
      top: -70px;
    }
    .text-extend {
      width: 100%;
      display: flex;
      justify-content: space-between;
      >button {
        width: 160px;
      }
    }
    .header-customer-detail {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .number-header {
        margin: unset;
      }
      .account-login {
        display: flex;
        align-items: center;
        >button {
          text-decoration: underline;
          margin-left: 8px;
          font-weight: 600;
        }
      }
    }

    .list-address {
      color: $Secondary-60;
      .address-item-choose {
        cursor: pointer;
        background: $Primary-30;
        border: 1px solid $Secondary-60;
        border-radius: 10px;
        padding: 18px;
        @media screen and (max-width: 1024px) {
          padding: 12px;
        }
        &.choosed {
          border: 1px solid #8D826E;
          background: $Primary-60;
          cursor: not-allowed;
          .body-text-s-regular {
            color: $Primary-90;
          }
        }
        .body-text-s-regular {
          color: $Secondary-60;
        }
      }
      .address-item-choose:not(:last-child) {
        margin-bottom: 12px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 8px;
        }
      }
    }

    .detail-customer-detail {
      display: flex;
      flex-direction: column;
      width: 100%;
      z-index: 3;
      &.create-account {
        .input-ct {
          >select {
            background: $Primary-10;
          }
          &.s-light >.content > input {
            background: $Primary-10;
          }
          .auto-complete-v2 {
            >div {
              >div {
                background: $Primary-10;
              }
            }
          }
        }
      }
      .accordion-ct {
        .MuiButtonBase-root {
          .MuiAccordionSummary-content {
            margin: 0px;
          }
        }
      }
      .choose-option-checkout {
        min-height: 82px;
        @media screen and (max-width: 1024px) {
          min-height: 56px;
        }
      }
      .accordion-drop.light {
        @media screen and (max-width: 1024px) {
          border-radius: 20px !important;
        }
      }
      .account-login {
        display: flex;
        align-items: center;
        margin-top: -19px;
        margin-bottom: 12px;
        margin-left: 40px;
        z-index: 3;
        >button {
          text-decoration: underline;
          margin-left: 8px;
          font-weight: 600;
          font-size: 12px;
        }
      }
      .other-Tagline {
        margin-bottom: 24px;
        @media screen and (max-width: 1024px){
          margin-bottom: 16px;
        }
      }
      .checkbox-create-address {
        margin-bottom: 24px;
        @media screen and (max-width: 1024px){
          margin-bottom: 16px;
        }
      }
      .input-ct {
        &.error >.content > input {
          border: 1px solid #F5222D;
        }
        >.content > input {
          background: $Primary-60;
          border: 1px solid $Secondary-60;
        }
      }
      .line-3, .line-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        position: relative;
        @media screen and (max-width: 1024px) {
          margin-bottom: 8px;
        }
        .text-info {
          .info-sa {
            color: $Secondary-60;
            font-size: 14px;
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
        .text-info, .input-ct {
          width: calc((100% - 12px)/2);
          @media screen and (max-width: 1024px) {
            width: calc((100% - 8px)/2);
          }
          .other-Input-Text {
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
          &.error >.input-select {
              border: 1px solid #F5222D;
          }
          .input-select {
            border: 1px solid $Secondary-60;
          }
        }
      }
      .line-2 {
        margin-bottom: 24px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 8px;
        }
        .input-ct {
          width: 100%;
          .other-Input-Text {
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
        .check-keep-me {
          margin-top: 8px;
        }
      }
      .line-3 {
        margin-bottom: 0px;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
        }
        .input-ct {
          @media screen and (max-width: 1024px) {
            width: 100%;
            margin-bottom: 8px;
          }
        }
        .PhoneInput, .input-phone {
          width: calc((100% - 12px)/2);
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
        .PhoneInput {
          display: flex;
          align-items: center; 
          width: 100%;
          .PhoneInputCountry {
            .PhoneInputCountryIconUnicode {
              width: 20px;
              height: 20px;
              font-size: 1.75rem;
              line-height: 23px;
              padding-right: 30px;
            }
          }
          >input {
            background: $Primary-60;
            border: 1px solid $Secondary-60;
          }
        }
        .input-phone {
          position: relative;
          &.error {
            >input {
              border: 1px solid #F5222D;
            }
          }
         .des-birth {
          font-size: 12px;
          line-height: 150%;
          margin-top: 6px;
          margin-left: 16px;
         } 
         .option-birth {
           position: absolute;
           right: 24px;
           bottom: 37px;
           color: $Primary-100;
           @media screen and (max-width: 1024px) {
             font-size: 12px;
             bottom: 40px;
           }
         }
        }
      }
      .div-button-next {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 24px;
        .bt-next {
          width: 185px;
          @media screen and (max-width: 1024px) {
            width: 100%;
            height: 44px;
          }
        }
      }
    }
  }
  .payment-info {
    position: relative;
    #anchor-step3 {
      position: absolute;
      top: -70px;
    }
    @media screen and (max-width: 1024px) {
      border: 1px solid $Secondary-60;
      border-radius: 20px;
    }
  }
  .detail-payment {
    .text-order {
      margin-top: -8px;
      margin-bottom: 16px;
      @media screen and (max-width: 1024px) {
        margin-top: 0px;
      }
      .icons-list {
        align-items: center;
        margin-bottom: 8px;
        .div-line {
          margin-right: 24px;
          align-items: center;
          @media screen and (max-width: 1024px) {
            margin-right: 12px;
          }
          >img {
            margin-right: 7px;
            @media screen and (max-width: 1024px) {
              width: 24px;
              margin-right: 4px;
            }
          }
          .body-text-s-regular {
            color: $Secondary-60;
          }
        }
      }
    }
    .body-text-s-regular {
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
    .div-button-next {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 24px;
      .bt-next {
        width: 185px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          height: 44px;
        }
      }
    }
  }

}