.candle-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  @media screen and (max-width: 1024px) {
    align-items: flex-start;
  }
  &.version-2 {
    padding: 0px 12px;
    .div-image {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      >img {
        width: 100%;
        height: 100%;
      }
    }
    .des {
      flex: 1;
      margin: auto;
      font-weight: 600;
      font-size: 14px;
      color: #2C2C22;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin-right: 12px;
    }
    >button {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 12px;
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
      >img {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
      }
    }
  }
  .div-image {
    width: 65px;
    height: 65px;
    margin-right: 23px;
    @media screen and (max-width: 1440px) {
      width: calc(65px * 0.75);
      height: calc(65px * 0.75);
      margin-right: calc(23px * 0.75);
    }
    @media screen and (max-width: 1024px) {
      width: 48px;
      height: 48px;
    }
    >img {
      width: 100%;
      height: 100%;
    }
  }
  .des {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 12px;
    // >div:nth-child(1) {
    //   font-weight: 500;
    //   font-size: 10px;
    //   line-height: 11px;
    //   color: #EBD8B8;
    //   letter-spacing: 0.1em;
    //   text-transform: uppercase;
    //   padding: 4px 8px;
    //   background: #56564E;
    //   border-radius: 3px;
    //   width: fit-content;
    // }
    >div:nth-child(1) {
      font-weight: 400;
      font-size: 13.5px;
      line-height: 20px;
      margin: 8px 0px 4px 0px;
      color: #2C2C22;
    }
    >div:nth-child(2) {
      font-weight: 400;
      font-size: 13.5px;
      line-height: 150%;
      color: #8D8D8D;
    }
  }
  .option-select {
    display: flex;
    >button:nth-child(1) {
      margin-right: 24px;
      @media screen and (max-width: 1024px) {
        margin-right: 8px;
      }
    }
    .active {
      >img {
        opacity: 1;
      }
      >div {
        background: #B79B53;
        border-radius: 10px;
        color: #F3ECDE;
      }
    }
    >button {
      display: flex;
      flex-direction:column;
      align-items:center;
      >img {
        width: 60px;
        height: 60px;
        margin-bottom: 4px;
        opacity: 0.5;
        @media screen and (max-width: 1024px) {
          width: 45px;
          height: 45px;
        }
      }
      >div {
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #56564E;
        padding: 1px 6px;
        @media screen and (max-width: 1024px) {
          font-size: 6px;
        }
      }
    }
  }
}