SECTION.book-workshop-res {
    width: calc(100vw - 320px * 2);
    min-width: 1140px;
    margin: 227px auto 0;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px 0 32px;
    padding-bottom: 60px;
    position: relative;
    @media screen and (max-width: 1024px) {
        margin-top: 86px;
        margin-bottom: 0;
        padding-bottom: 0;
        min-width: unset;
        width: auto;
        padding: 8px 0 32px;
    }
    .wrapper-step {
        padding: 40px 0 0;
        width: 68%;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 24px 16px 0;
        }
    }
    .wrapper-content {
        display: flex;
        padding: 8px 4em;
        gap: 16px;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            padding: 8px 1em;
        }
        > div {
            width: 50%;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }
        .left {
            h3 {
                font-weight: 400;
                font-size: 30px;
            }
            text-align: center;
            img {
                margin-bottom: 32px;
            }
            .info {
                margin-top: 32px;
                text-align: left;
                font-size: 16px;
            }
        }
    }
    a.btn-backhome {
        background: #0d0d0d;
        border-radius: 4px;
        display: inherit;
        border: none;
        color: white;
        padding: 14px;
        min-width: 30%;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.2em;
        color: white;
        width: 58%;
        margin-top: 32px;
        display: block;
        text-align: center;
        @media screen and (max-width: 1024px) {
            font-size: 15px;
            margin-top: 0px;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .breakdown {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background: #f0f0f0;
        border-radius: 4px;
        @media screen and (max-width: 1024px) {
            margin-bottom: 8px;
        }
        h4 {
            margin-bottom: 24px;
            font-weight: 400;
        }
        .total-info {
            .info {
                display: flex;
                p {
                    flex-grow: 1;
                    max-width: 15%;
                    white-space: nowrap;
                }
                .name {
                    width: 70%;
                    max-width: 70% !important;
                    white-space: pre-wrap;
                }
            }
            .text-right {
                margin-right: 8px;
            }
        }
        .foot-info {
            display: flex;
            justify-content: space-between;
        }
    }
    input {
        border: 1px solid #d9d9d9;
        padding: 12px;
        font-size: 14px;
        border-radius: 4px;
    }
    .foot-info {
        padding-top: 20px;
        border-top: 2px solid #0d0d0d;
        @media screen and (max-width: 1024px) {
            border-top: 1px solid #e2e2e2;
        }
    }
}
