.wrapper-ct {
  margin-bottom: 16px;
  .label {
    margin: 0 0 6px 16px;
    font-size: 14px;
  }
  .MuiFormControl-root {
    width: 100%;
    height: 56px;

    .MuiOutlinedInput-root {
      height: 100%;
      border-radius: 30px;
      background-color: #F1E4CD;
      padding-right: 24px;

      input {
        padding: 16px 24px;
        font-size: 14px;
        &::placeholder {
          color: #948974;
        }
        -webkit-text-fill-color: #2C2C22;
      }
      fieldset {
        top: 0;
        border: 1px solid #948974;

        legend {
          display: none;
        }
      }

      &.Mui-focused fieldset {
        border: 1px solid #2C2C22;
      }
    }
  }
}

.MuiPaper-root {
  background-color: transparent;
}
.MuiCalendarPicker-root {
  border-radius: 10px !important;
  overflow: hidden;

  background-color: #F5ECDC !important;

  @media screen and (max-width: 991px) {
    border-radius: 0 !important;
  }

  .MuiButtonBase-root {
    background-color: transparent !important;
    &.Mui-selected {
      background-color: #F1E4CD;
      border: 1px solid #333333;
      color: #2C2C22;
      &.MuiPickersDay-today {
        background-color: #F1E4CD;
      }
      .MuiTouchRipple-root {
        background-color: transparent;
      }
    }
    &:hover {
      background-color: #F1E4CD;
      &.Mui-selected {
        background-color: #F1E4CD;
      }
    }
    &.MuiPickersDay-today {
      background-color: #F1E4CD;
      border: 1px solid #D4C2A6;
      .MuiTouchRipple-root {
        background-color: transparent;
      }
    }
  }
}
.MuiPickersToolbar-root {
  background-color: #F5ECDC;
  display: none !important;
}
.MuiDialogActions-root {
  background-color: #F5ECDC;
}
.MuiDialogActions-root button {
  color: #2C2C22;
}