.modal-info-quiz {
  .MuiDialog-container {
    .MuiPaper-root {
      width: 520px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      background: #F1E4CD;
      border-radius: 20px;
      @media screen and (max-width: 767px){
        width: 100%;
      }
      .modal-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .title-modal {
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #2C2C22;
          @media screen and (max-width: 767px){
            font-size: 18px;
          }
        }
        .bt-close {
          width: 24px;
          height: 24px;
          min-width: 24px;
          padding: unset;
          background: #D4C2A6;
          @media screen and (max-width: 767px){
            width: 22px;
            height: 22px;
            min-width: 22px;
          }
          >svg {
            font-size: 14px;
            color: '#2C2C22'
          }
        }
      }
      .modal-content-quiz {
        display: flex;
        .des-modal {
          flex: 1;
          font-weight: 400;
          font-size: 16px;
          color: #56564E;
          @media screen and (max-width: 767px){
            font-size: 12px;
          }
        }
        .image-modal {
          padding-left: 24px;
          @media screen and (max-width: 767px){
            padding-left: 16px;
          }
          >img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
            object-fit: cover;
            @media screen and (max-width: 767px){
              width: 125px;
              height: 125px;
            }
          }
        }
      }
    }
  }
}