.div-questions {
  position: relative;
  // margin-top: 70px;
  height: auto;
  // height: calc(100vh - 70px);
  // overflow-y: auto;
  .content-list {
    padding-top: 57px;
    width: calc(100vw - 100px * 2);
    background: transparent;
    margin: auto;
    margin-top: 0px;
    @media screen and (max-width: 1024px) {
      padding-top: 0px;
      width: 100%;
      margin-top: 0px;
    }

    .header-question-item {
      height: 66px;
      align-items: flex-end;
      width: 100%;
      font-weight: 500;
      font-size: 0.875rem;
      letter-spacing: 0.2em;
      text-align: center;
      display: flex;
      justify-content: center;
      background: #EEEEEE;
      @media screen and (max-width: 1440px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 1024px) {
        height: 46px;
        align-items: center;
        color: #FFFFFF;
        background: #AEAEAE;
        font-size: 0.92857rem;
      }
    }
    .about-you {
      position: relative;
      .header-question-item {
        background: #EEEEEE;
        @media screen and (max-width: 1024px) {
          background: #AEAEAE;
        }
      }
      .question-type {
        background: #EEEEEE;
        @media screen and (max-width: 1024px) {
          background: linear-gradient(0deg, #EAEAEA, #EAEAEA), #F8F8F8;
        }
      }
    }
    .scent-preferences {
      position: relative;
      .header-question-item {
        background: #F8F8F8;
        @media screen and (max-width: 1024px) {
          background: #AEAEAE;
        }
      }
      .question-type {
        background: #F8F8F8;
        @media screen and (max-width: 1024px) {
          background: linear-gradient(0deg, #EAEAEA, #EAEAEA), #F8F8F8;
        }
      }
    }
    .write-create {
      position: relative;
      .header-question-item {
        background: #EEEEEE;
        @media screen and (max-width: 1024px) {
          background: #AEAEAE;
        }
      }
      .question-type {
        background: #EEEEEE;
        @media screen and (max-width: 1024px) {
          background: linear-gradient(0deg, #EAEAEA, #EAEAEA), #F8F8F8;
        }
      }
      .question-type:nth-child(4) {
        background: #FFF;
      }
    }

    .bt-next-question {
      width: 394px;
      height: 39px;
      border: 1px solid #000000;
      background: transparent;
      font-size: 0.875rem;
      font-weight: normal;
      letter-spacing: 0.2em;
      color: #0D0D0D;
      margin: 20px 0px;
      @media screen and (max-width: 1440px){
        font-size: 1rem;
      }
      @media screen and (max-width: 1024px){
        width: calc(100vw - 40px);
      }
      &.disabled {
        cursor: not-allowed;
      }
      &.bt-black {
        height: 42px;
        font-size: 0.8125rem;
        letter-spacing: 0.15em;
        color: #FFFFFF;
        background: #0D0D0D;
        @media screen and (max-width: 1440px){
          font-size: 0.9285rem;
        }
      }
      &.bt-yellow {
        height: 48px;
        font-size: 0.875rem;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        background: #C9A047;
        box-shadow: 0px -2.62813px 5.25626px rgba(0, 0, 0, 0.05);
        border: none;
        @media screen and (max-width: 1440px){
          font-size: 1rem;
        }
      }
    }
    .bt-skip-question {
      background: transparent;
      border: none;
      font-weight: 500;
      font-size: 0.8125rem;
      letter-spacing: 0.2em;
      text-decoration-line: underline;
      &.bt-grey {
        letter-spacing: unset;
        color: #8D8D8D;
      }
      @media screen and (max-width: 1440px){
        font-size: 0.9285rem;
      }
    }
  }
}