.icon-block-checkout {
  display: flex;
  background: #E8E8E8;
  justify-content: space-evenly;
  align-items: center;
  color: #0D0D0D;
  padding: 7px 0px;
  // @media screen and (max-width: 1440px) {
  //   padding: 6px 0px;
  // }
  @media screen and (max-width: 1024px) {
    padding: 7px 0px 16px 0px;
    display: block;
  }
  .slick-slider {
    .slick-dots {
      bottom: -17px;
      >li {
        margin: 0px;
      }
    }

  }
  .item-icon {
    justify-content: center;
    align-items: center;
    // @media screen and (max-width: 1024px) {
    //   width: 100vw;
    // }
    .icon {
      width: 37px;
      height: 37px;
      // @media screen and (max-width: 1440px) {
      //   width: calc(37px * 0.75);
      //   height: calc(37px * 0.75);
      // }
      @media screen and (max-width: 1024px) {
        width: 30px;
        height: 30px;
      }
    }
    >span {
      font-weight: normal;
      font-size: 1rem;
      margin-left: 10px;
      margin-right: 8px;
      // @media screen and (max-width: 1440px) {
      //   font-size: calc(14px * 0.75);
      //   margin-left: calc(10px * 0.75);
      //   margin-right: calc(8px * 0.75);
      // }
      @media screen and (max-width: 1024px) {
        font-size: 1rem;
        margin-left: 8px;
        margin-right: 6px;
      }
    }
    >button {
      >img {
        width: 18px;
        height: 18px;
        // @media screen and (max-width: 1440px) {
        //   width: calc(18px * 0.75);
        //   height: calc(18px * 0.75);
        // }
        @media screen and (max-width: 1024px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

.modal-detail-info {
  text-align: center;
  .modal-content {
    border: none;
    border-radius: 2rem;
    max-height: 93vh;
    color: #0d0d0d;
    .body-modal-detail {
      max-height: 93vh;
      height: auto;
      padding: 2rem 4rem;
      @media screen and (max-width: 1024px){
        padding: 2rem 1.5rem;
      }
    }
    .wrapper-modal-detail {
      overflow: auto;
      height: 100%;
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #e2e2e2;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #0d0d0d;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #e2e2e2;
        border-radius: 10px;
      }
      .modal-body {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
  .bt-close {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
    cursor: pointer;
    >img {
      width: 21px;
    }
  }
  .content-modal-detail {
    padding: 2rem 5rem 0rem 5rem;
  }
}