.item-scent-ferrari {
  width: 140px;
  height: 140px;
  position: relative;
  cursor: pointer;
  @media screen and (max-width: 991px) {
    width: 123px;
    height: 123px;
  }
  @media screen and (max-width: 767px) {
    width: calc((100vw - 24px - 10px) / 3);
    height: calc((100vw - 24px - 10px) / 3);
  }
  &.active {
    .bg-scent {
      background: linear-gradient(0deg, rgba(218, 218, 218, 0.3), rgba(218, 218, 218, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      >svg {
        display: inherit;
      }
    }
  }
  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg-scent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    &:hover {
      background: linear-gradient(0deg, rgba(218, 218, 218, 0.3), rgba(218, 218, 218, 0.3)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      >svg {
        display: inherit;
      }
    }
    >svg {
      font-size: 27px;
      margin-top: 10px;
      display: none;
      @media screen and (max-width: 991px) {
        font-size: 24px;
      }
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
  }
}