.workshop__detail {
  background-color: #ffffff;
  border-radius: 1.25rem;
  position: absolute;
  top: 0;
  opacity: 0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);

  .workshop__detail__back {
    position: absolute;
    top: -2.5rem;
    font-size: 1rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .workshop__detail__layout {
    .workshop__detail__video {
      border-top-left-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      overflow: hidden;
    }
  }

  .workshop__detail__information {
    padding-left: 0rem;
    padding-right: 2rem;
    padding-top: 2.25rem;

    .information__header {
      padding-bottom: 2rem;

      .information__header__title {
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
      }

      .information__header__price {
        font-style: normal;
        font-weight: bold;
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
      }
    }

    .information__body {
      .information__body__price {
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }

      .information__body__content {
        padding-top: 1.5rem;
        font-style: normal;
        font-size: 1.125rem;
      }

      .information__body__booking {
        padding-top: 1.5rem;

        p {
          margin-bottom: 0rem;
          padding-bottom: 2.25rem;
          font-weight: bold;
          font-size: 1.125rem;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }

        .booking__btn {
          width: 15rem;
          padding: 0rem 2rem 0rem 0rem;
          border: 0.1rem solid #0D0D0D;
          box-sizing: border-box;
          border-radius: 1.625rem;
          font-style: normal;
          font-weight: bold;
          font-size: 1.125rem;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          background-color: #ffffff;

          &:hover {
            color: #ffffff;
            background-color: #0D0D0D;
          }
        }
        
        a {
          text-decoration: none;
        }
      }
    }
  }

  .workshop__detail__about__title {
    font-weight: bold;
    font-size: 1.125rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  .workshop__detail__about__content {
    padding-top: 1.5rem;
    font-style: normal;
    font-size: 1.125rem;
  }

  .workshop__detail__contact {
    padding-top: 2.5rem;

    .workshop__detail__contact__title {
      font-weight: bold;
      font-size: 1.125rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .workshop__detail__contact__content {
      padding-top: 1.5rem;
      font-style: normal;
      font-size: 1.125rem;
    }
  }

  .workshop__detail__benefit {
    padding-top: 1.5rem;
    padding-bottom: 0.375rem;

    .workshop__detail__benefit__title {
      padding-bottom: 2rem;
      font-weight: 600;
      font-size: 1.125rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .workshop__detail__benefit__item {
      width: 12.5rem;
      padding: 0.75rem 0.25rem 1.125rem 1.125rem;
      font-size: 0.875rem;
      background: #ffffff;
      border: 0.0625rem solid #e2e2e2;
      box-sizing: border-box;
      border-radius: 0.375rem;

      .workshop__detail__benefit__item__icon {
        img {
          height: 1.875rem;
          width: 2.375rem;
          object-fit: contain;
        }
       
      }

      .workshop__detail__benefit__item__title {
        padding-top: 0.7rem;
      }

      .workshop__detail__benefit__item__content {
        padding-top: 0.7rem;
      }
    }
  }

  .workshop__detail__images {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    // height: 28.125rem;

    .workshop__detail__images__item {
      -webkit-box-flex: 1;
      flex: 1 0 33%;
      padding: 0.375rem;
      border-radius: 0.375rem;

      img {
        object-fit: cover;
        height: 10.625rem;
        width: 100%;
      }
    }
  }
}