.chart-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .div-columns {
    height: 76px;
    display: flex;
    align-items: flex-end;
    .col-1, .col-2, .col-3 {
      width: 21px;
      background: #EBD8B8;
      border: 0.491179px solid #D4C2A6;
      border-radius: 2px 2px 0px 0px;
      &.active {
        background: #56564E;
      }
    }
    .col-1 {
      height: 46%;
    }
    .col-2 {
      margin: 0px 8px;
      height: 75%;
    }
    .col-3 {
      height: 100%;
    }
  }
  .name {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2C2C22;
    margin-top: 4px;
    text-align: center;
  }
}