.funnel-item {
  display: block;

  width: 100%;
  height: 597px;
  border-radius: 240px 240px 24px 24px;
  overflow: hidden;

  position: relative;
  z-index: 1;
  cursor: pointer;

  &-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 24px;

    display: flex;
    flex-direction: column;
    .div-wrapper {
      position: relative;
      z-index: 9;

      margin-top: auto;
      height: 45%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .div-block {
        display: flex;
        column-gap: 12px;

        .block-icon {
          flex-shrink: 0;
          width: 64px;
          text-align: center;
        }

        .block-text {
          display: flex;
          flex-direction: column;
          .div-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;

            text-transform: uppercase;
            color: #EBD8B8;

            margin-bottom: 12px;
          }

          .div-description {
            font-size: 16px;
            line-height: 150%;
            color: #BCAD93;
            margin-bottom: 24px;

            .rich-text p {
              margin-bottom: 0;
            }
          }
        }
      }
      .div-button {
        height: 45px;
        text-transform: initial;
        font-size: 14px;

        &:hover {
          text-decoration: none;
          .btn-title {
            background-color: #F1E4CD;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background: linear-gradient(180deg, rgba(44, 44, 34, 0) 39.61%, #2C2C22 75.59%);
      transition: height ease 600ms;
      z-index: 1;
    }
  }
  &-img {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: all ease 600ms;

    position: relative;
  }

  &:hover {
    .funnel-item-content:before {
      height: calc(100% * 1.28);
    }
    .funnel-item-img {
      transform: scale(1.4) translateY(-38px);
    }
  }

  @media screen and (max-width: 1024px) {
    height: 376px;
    &-content {
      padding: 24px 12px;
      &:before {
        background: linear-gradient(179.97deg, rgba(44, 44, 34, 0) 34.87%, #2C2C22 67.83%);
      }
      .div-wrapper {
        height: 56.5%;
        .div-block {
          column-gap: 16px;
          .block-icon {
            width: 32px;
          }
          .block-text {
            .div-title, .div-description {
              font-size: 12px;
            }
            .div-description {
              margin-bottom: 16px;
            }
          }
        }
        .div-button {
          height: 42px;
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    height: 100%;

    margin-bottom: 12px;
    border-radius: 24px;

    &-content {
      padding: 18px;
      &:before {
        background: linear-gradient(180deg, rgba(44, 44, 34, 0) 16.07%, rgba(44, 44, 34, 0.67438) 32.77%, rgba(44, 44, 34, 0.87337) 49.45%, #2C2C22 68.51%);
      }

      .div-wrapper {
        height: 100%;
        .div-block {
          margin-top: auto;
        }

        .div-button {
          width: 100%;
          .btn-title {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) and (max-height: 667px) {
    height: 200px;
  }
}