.convince {
  background-color: #b79b53;
  .__left {
    width: 40%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

    @media (max-width: 767.98px) {
      min-height: 150px;
      width: 100%;
    }
  }
  .__right {
    padding: 7.5rem 8rem;
    width: 60%;
    color: #ffffff;

    @media (max-width: 1440px) {
      padding: 7.5rem 6rem;
    }

    @media (max-width: 767.98px) {
      padding: 1.875rem 2rem;
      width: 100%;
    }

    h3 {
      font-weight: 500;
      font-size: 28px;
      line-height: 2.25rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      @media (max-width: 1440px) {
        font-size: 28px;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 18px;
      line-height: 1.25rem;
      @media (max-width: 1440px) {
        font-size: 18px;
      }
      @media (max-width: 1024px) {
        font-size: 14px;
      }
    }

    .__start {
      cursor: pointer;
      margin-top: 2.5rem;
      border-radius: 6px;
      background-color: #0d0d0d;
      padding: 1.25rem 2.25rem;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.375rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      @media (max-width: 1440px) {
        padding: 1.25rem 1.5rem;
      }
    }
  }
}

.feature {
  opacity: 0.8;
  background-color: #0d0d0d;
  padding: 3.5rem 10rem;

  @media (max-width: 1440px) {
    padding: 2.625rem 7.5rem;
  }

  @media (max-width: 767.98px) {
    padding: 0rem 0rem 3.75rem 0rem;
  }

  .__item {
    @media (max-width: 767.98px) {
      padding-top: 3.75rem;
    }

    .__item-title {
      padding-top: 1.875rem;
      font-weight: bold;
      font-size: 1.75rem;
      letter-spacing: 0.1em;

      color: #ffffff;

      @media (max-width: 767.98px) {
        padding-top: 1rem;
      }
    }
  }
}
