.email-result-ferrari {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  .img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .l-bg {
    background: linear-gradient(90deg, #000000 20.69%, rgba(0, 0, 0, 0) 60.07%);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .div-block-text {
    height: fit-content;
    width: 536px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 64px;
    top: 50%;
    transform: translateY(-50%);
    // padding-top: 147px;
    @media screen and (max-width: 991px) {
      width: 370px;
      padding: 0px 24px;
      // padding-top: 101px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      margin-left: unset;
      align-items: center;
      // padding-top: 93px;
    }
    .logo {
      width: 140px;
      margin-bottom: 40px;
      @media screen and (max-width: 991px) {
        width: 120px;
        margin-bottom: 24px;
      }
    }
    .title-ferrari {
      font-family: 'Ferrari';
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 24px;
      @media screen and (max-width: 991px) {
        font-size: 24px;
        margin-bottom: 16px;
      }
      @media screen and (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 16px;
        text-align: center;
      }
    }
    .des {
      font-family: 'Ferrari';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      margin-bottom: 16px;
      @media screen and (max-width: 991px) {
        font-size: 11px;
        margin-bottom: 11px;
      }
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
    .check-list {
      font-family: 'Ferrari';
      font-weight: 400;
      font-size: 12px;
      color: #FFFFFF;
      margin-bottom: 16px;
      @media screen and (max-width: 991px) {
        font-size: 9px;
        margin-bottom: 14px;
      }
      >svg {
        font-size: 20px;
        margin-right: 8px;
        @media screen and (max-width:991px) {
          font-size: 14px;
          margin-right: 5px;
        }
      }
    }
    .input-email {
      margin-top: 40px;
      margin-bottom: 6px;
      @media screen and (max-width: 991px) {
        margin-top: 30px;
        margin-bottom: 4px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .content {
        >input {
          font-family: 'Ferrari';
          background: rgba(48, 48, 48, 0.4);
          border: 1px solid #FFFFFF;
          color: #FFFFFF;
          @media screen and (max-width:991px) {
            height: 39px;
            font-size: 8px;
          }
          &::placeholder {
            color: #8F8F8F;
          }
        }
      }
    }
    .row-check-box {
      margin-bottom: 16px;
      @media screen and (max-width: 991px) {
        margin-bottom: 11px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      .check-box-email {
        .MuiFormControlLabel-root {
          margin-right: 0px;
          .MuiCheckbox-root {
            color: #ffffff;
          }
        }
      }
      .link-text {
        color: #ffffff;
        font-size: 14px;
        line-height: 24px;
        @media screen and (max-width: 991px) {
          font-size: 9px;
        }
        >a {
          color: #ffffff;
        }
      }
    }
    .bt-result {
      font-family: 'Ferrari';
      background: #FFFFFF;
      color: #2C2C22;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .bt-skip {
      font-family: 'Ferrari';
      font-size: 14px;
      letter-spacing: 0.05em;
      margin-top: 12px;
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}