.timeline {
  padding: 3.75rem 3.75rem;

  @media screen and (max-width: 1440px) {
    padding: 3.75rem 2.815rem;
  }

  @media screen and (max-width: 1024px) {
    padding: 3rem calc((100vw - 295px)/2);
  }

  .__header {
    h3 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.2em;
      color: #0d0d0d;

      @media screen and (max-width: 1440px) {
        font-size: 24px;
      }
    }

    p {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.05em;
      color: #0d0d0d;

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }
      @media screen and (max-width: 1024px) {
        font-size: 14px;
      }
    }
  }

  .slick-dots {
    li {
      margin: 0;
      button {
        &::before {
          font-size: 12.5px;
        }
      }
    }
  }

  .__content {
    margin-top: 4.5rem;

    .__content-bar {
      top: 185px;
      height: 5px;
      width: 100%;
      background: #c4c4c4;
      border-radius: 2.5px;
      @media screen and (max-width: 1440px) {
        top: 181px;
      }

      @media screen and (max-width: 1024px) {
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
      }
    }

    .__content-list {
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1024px) {
          &:not(:last-child) {
            padding-bottom: 1.875rem;
          }
        }
        .__image {
          border-radius: 6px;
          overflow: hidden;
          width: 225px;
          height: 140px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            &.front {
              z-index: 2;
            }
          }
        }
      }
      .item--coming {
        @media screen and (max-width: 1024px) {
          &:not(:last-child) {
            padding-bottom: 1.875rem;
          }
        }
        .__image {
          background: #f0f0f0;
          border: 2px dashed #8d8d8d;
          box-sizing: border-box;
          border-radius: 6px;
          width: 225px;
          height: 140px;
        }
      }

      .__milestone {
        margin-top: 2rem;
        @media screen and (max-width: 1024px) {
          margin-top: 0rem;
        }
        .__milestone-checkmark {
          z-index: 2;
          border-radius: 50%;
          min-width: 30px;
          min-height: 30px;
          background: #e2e2e2;
          i {
            color: #8d8d8d;
          }

          &.active {
            background: #0d0d0d;
            i {
              color: #fff;
            }
          }

          @media screen and (max-width: 1024px) {
            position: absolute;
            left: -38%;
            top: 25%;
          }
        }

        .__milestone-title {
          margin-top: 1.25rem;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.5rem;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #0d0d0d;
          text-align: center;
          padding: 0px 10px;
          height: 48px;
          @media screen and (max-width: 1440px) {
            font-size: 12px;
            height: 42px;
          }

          @media screen and (max-width: 1024px) {
            margin-bottom: 0rem;
            width: 225px;
            text-align: center;
            height: unset;
          }
        }

        .__milestone-month {
          margin: 0;
          font-size: 14px;
          line-height: 1.5rem;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #0d0d0d;

          @media screen and (max-width: 1440px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .join {
    cursor: pointer;
    margin-top: 5rem;
    background: #b79b53;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: fit-content;
    padding: 1rem 2.25rem;
    font-weight: 500;
    font-size: 1.375rem;
    letter-spacing: 0.2em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    @media screen and (max-width: 1440px) {
      font-size: 1rem;
    }
  }
}
