@import '../../styles/colors';

.cart-page {
  display: flex;
  flex-direction: column;
  background: $Primary-10;
  // margin-top: 70px;
  // @media screen and (max-width: 1440px) {
  //   margin-top: 70px;
  // }
  // @media screen and (max-width: 1024px) {
  //   margin-top: 70px;
  // }
  .cart-page-content {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .shopping-bag {
    display: flex;
    flex-direction: row;
    padding: 64px 120px;
    .list-item-cart {
      width: 66.67%;
      padding-right: 36px;
      >h2 {
        margin-bottom: 27px;
      }
      .empty-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 26px 72px 24px 72px;
        margin-top: 64px;
        .other-Tagline {
          margin-top: 26px;
          margin-bottom: 24px;
        }
        // >button {
        //   width: 100%;
        // }
      }
      .gift-box {
        margin-top: 30px;
        background: $Primary-30;
        // box-shadow: 8px 8px 20px rgba(24, 24, 19, 0.1);
        border-radius: 20px;
        padding: 24px;
      }
    }
    .div-reedem {
      width: 33.33%;
      .margin-card-redeem {
        margin-bottom: 24px;
      }
    }
  }
}

.cart-page, .cart-page-mobile {
  .div-selected {
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1024px) {
      position: relative;
      top: unset;
      right: unset;
      transform: unset;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-top: 14px;
      border-top: 1px solid #EBD8B8;
      margin-top: 10px;
    }
    .body-text-s-regular {
      color: $Secondary-60;
    }
    >span:nth-child(1) {
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
    >span:nth-child(2) {
      @media screen and (max-width: 1024px) {
        font-size: 10px;
      }
    }
  }
  .margin-card-gift {
    @media screen and (max-width: 1024px) {
      margin-bottom: 24px;
    }
    .accordion-ct {
      box-shadow: none;
    }
    // margin-bottom: 32px;
    .MuiPaper-root {
      .MuiButtonBase-root {
        .MuiAccordionSummary-expandIconWrapper {
          @media screen and (max-width: 1024px) {
            position: absolute;
            position: absolute;
            right: 24px;
            top: 24px;
          }
        }
      }
    }
    .summary-gift {
      position: relative;
      width: 100%;
      .content-header {
        align-items: flex-start;
        >img {
          height: 32px;
          width: 32px;
          margin-right: 10px;
        }
        .title-summary {
          margin-bottom: 6px;
          >span {
            // color: $Secondary-30;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }

    .line-progress {
      position: relative;
      width: 237px;
      height: 51px;
      @media screen and (max-width: 1024px) {
        width: calc(100% - 71px);
      }
      .MuiLinearProgress-root {
        position: absolute;
        width: 100%;
        height: 6px;
        border-radius: 5px;
        bottom: 10px;
        background: $Primary-70;
        .MuiLinearProgress-bar {
          background: $Secondary-60;
        }
      }
      .div-gift {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
        .price {
          font-size: 12px;
          line-height: 22px;
          color: $Secondary-60;
        }
        .div-content {
          background: #FFF4E0;
          border: 0.8px solid #BCAD93;
          border-radius: 20px;
          padding: 4px 12px;
          >span {
            margin-right: 2px;
            color: $Secondary-60;
            font-weight: bold;
          }
          >img {
            width: 18px;
            height: 18px;
          }
        }
        &.gift-end {
          right: 0px;
          transform: translateX(98%);
        }
        &.active {
          .div-content {
            border: 0.8px solid $Success-30;;
            background: $Success-10;;
            >span {
              color: $Success-60;
            }
          }
        }
      }
      
    }

    .div-wrapper-list {
      position: relative;
      .bt-arrow-left, .bt-arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
      .bt-arrow-left {
        left: -24px;
      }
      .bt-arrow-right {
        right: -24px;
      }
    }
    .list-product-detail {
      margin-top: 12px;
      display: -webkit-box;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .list-wrap {
        .text-note {
          text-align: center;
          font-size: 12px;
          color: $Secondary-20;
          width: 175px;
          margin: auto;
          margin-top: 6px;
        }
      }
      .product-cart {
        width: 175px;
        margin: 0px 4px;
        background: #F1E4CD;
        border-radius: 17.7682px;
        padding: 14px;
        height: fit-content;
        position: relative;
        @media screen and (max-width: 1024px) {
          width: 166px;
        }
        .product-gift {
          @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
          }
          .div-content-product {
            @media screen and (max-width: 1024px) {
              display: flex;
              flex-direction: row;
            }
          }
          .image-product {
            @media screen and (max-width: 1024px) {
              width: 48px;
              height: 65px;
              margin-right: 5px;
            }
            >img {
              width: 84px;
              @media screen and (max-width: 1024px) {
                width: 100%;
              }
            }
            .product-image {
              width: 60px;
              height: 90px;
              bottom: -15px;
              @media screen and (max-width: 1024px) {
                width: 100%;
                height: auto;
                bottom: 0px;
                max-height: 40px;
              }
            }
          }
          .div-card {
            padding: 0px;
            margin-top: 0px;
            align-items: center;
            @media screen and (max-width: 1024px) {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              flex: 1;
            }
            .div-type {
              margin-top: 20px;
              padding: 2px 12px;
              border-radius: 23px;
              margin-bottom: 9px;
              @media screen and (max-width: 1024px) {
                margin-top: 6px;
                margin-bottom: 6px;
                padding: 1.42px 7px;
                justify-content: center;
                align-items: center;
                height: 13px;
                border-radius: 14px;
              }
              .div-image {
                padding-right: 7px;
                @media screen and (max-width: 1024px) {
                  padding-right: 5px;
                  width: auto;
                  height: auto;
                  font-size: 5px;
                }
                >img {
                  width: 14.5px;
                  height: 14.5px;
                  @media screen and (max-width: 1024px) {
                    width: 8px;
                    height: 8px;
                  }
                }
              }
              >span {
                font-size: 8.29185px;
                line-height: 17px;
                @media screen and (max-width: 1024px) {
                  padding-left: 5px;
                  font-size: 5px;
                  line-height: unset;
                }
              }
            }
            .MuiTypography-h4 {
              font-size: 14px;
              text-align: center;
              height: 34px;
              @media screen and (max-width: 1024px) {
                font-size: 10px;
                line-height: 120%;
                height: unset;
                text-align: start;
              }
            }
            .body-text-s-regular {
              font-size: 12px;
              margin-bottom: 0px;
              @media screen and (max-width: 1024px) {
                font-size: 8px;
              }
            }
            >button {
              margin-top: 24px;
            }
          }
          .custom-button.small {
            margin-top: 24px;
            @media screen and (max-width: 1024px) {
              width: 100%;
              height: 28px;
              font-size: 12px;
              margin-top: 16px;
            }
          }
        }
      }
    }

  }
}

.cart-page-mobile {
  display: flex;
  flex-direction: column;
  // margin-top: 70px;
  background: $Primary-10;
  position: relative;
  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 72px 24px 72px;
    .other-Tagline {
      margin-top: 26px;
      margin-bottom: 24px;
    }
    >button {
      width: 100%;
    }
  }

  .total-mobile-html {
    margin: 24px auto 0px auto;
    width: calc(100vw - 24px * 2);
    background: $Primary-60;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    .text-total {
      margin-left: 12px;
      .price {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }

  .div-content {
    padding: 24px;
    .title-page {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      .MuiSvgIcon-root {
        margin-right: 14px;
      }
    }
    .card-total {
      @media screen and (max-width: 1024px) {
        margin-bottom: 24px;
      }
    }
  }

  .gift-box {
    @media screen and (max-width: 1024px) {
      margin-bottom: 24px;
    }
  }

  .payment-method {
    @media screen and (max-width: 1024px) {
      align-items: center;
      .other-Tagline {
        color: $Primary-100;
        margin-bottom: 16px;
      }
      .list-icon {
        align-items: center;
        justify-content: center;
        >img {
          margin-left: 12px;
          margin-right: 12px;
        }
      }
    }
    
  }

}