.landing-text {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  @media screen and (max-width: 767px) {
    padding: 0px 24px;
  }
  .text {
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 700px;
    margin-bottom: 36px;
    @media screen and (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 24px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 18px;
      width: 100%;
    }
    &.sub-t {
      margin-bottom: 48px;
      @media screen and (max-width: 991px) {
        margin-bottom: 33px;
      }
    }
  }
  >button {
    width: 90px;
    @media screen and (max-width: 991px) {
      width: 60px;
    }
  }
}
.div-landing-ferrari {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .header-log {
    width: 100%;
    height: 98px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0.19%, rgba(0, 0, 0, 0.7) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    @media screen and (max-width: 991px) {
      height: 67px;
    }
    >img {
      height: 50px;
      @media screen and (max-width: 991px) {
        height: 34px;
      }
    }
  }
  .footer-text {
    padding-bottom: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.19%, rgba(0, 0, 0, 0.7) 100%);
    @media screen and (max-width: 991px) {
      padding-bottom: 44px;
    }
    @media screen and (max-width: 767px) {
      padding: 80px 24px;
    }
    .text {
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 0px;
      font-family: 'Ferrari';
      width: 700px;
      text-align: center;
      @media screen and (max-width: 991px) {
        font-size: 24px;
        width: 500px;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    >button {
      width: 90px;
      @media screen and (max-width: 991px) {
        width: 60px;
      }
    }
  }
}