@import '../../../styles/colors';

.card-sum {
  @media screen and (max-width: 1024px) {
    background: $Primary-60;
    border-radius: 10px;
    padding: 24px 12px;
  }
  .MuiTypography-h4 {
    margin-bottom: 6px;
  }
  .MuiTypography-h6 {
    margin-bottom: 12px;
  }
  .sub-title {
    margin-bottom: 16px;
  }
  .card-reddeem {
    margin-bottom: 24px;
    .div-input {
      display: flex;
      width: 100%;
      margin-top: 0px;
      .input-wrap {
        display: flex;
        width: 100%;
        position: relative;
        >img {
          position: absolute;
          width: 22px;
          height: 15px;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
        }
        .input-ct {
          flex: 1;
          margin-right: 4px;
          .content {
            >input {
              padding-left: 54px;
            }
          }
        }
      }
    }
  }
  .text-tax {
    margin-top: -15px;
    margin-bottom: 20px;
    color: #56564E;
    font-size: 14px;
  }
  .line-5 {
    justify-content: center;
    margin-top: 16px;
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      margin-top: 16px;
    }
    >img {
      width: 17px;
      height: 17px;
      margin-right: 12px;
    }
    >span {
      font-size: 12px;
      color: $Secondary-40 ;
    }
  }
  .line-1 {
    justify-content: space-between;
    margin-bottom: 12px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 6px;
    }
    >span {
      font-size: 18px;
      line-height: 27px;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
        line-height: 18px;
      }
    }
    >span:nth-child(1) {
      color: $Secondary-40;
    }
    >span:nth-child(2) {
      color: $Secondary-60;
      font-weight: bold;
    }
  }
  >hr {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: $Secondary-60;
    margin-bottom: 12px;
  }
  .line-2 {
    justify-content: space-between;
    margin-bottom: 12px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 16px;
    }
    >span {
      font-size: 24px;
      line-height: 36px;
      @media screen and (max-width: 1024px) {
        font-size: 14px;
        font-weight: 600;
      }
    }
    >span:nth-child(1) {
      color: $Secondary-40;
      @media screen and (max-width: 1024px) {
        color: $Secondary-60;
        // margin-left: 24px;
      }
    }
    >span:nth-child(2) {
      color: $Secondary-60;
      font-weight: bold;
    }
  }
  .div-point-card {
    display: flex;
    justify-content: flex-end;
    .line-3 {
      margin-bottom: 24px;
      width: fit-content;
      justify-content: flex-end;
      margin-top: -4px;
      padding: 4px 12px;
      border: 0.8px solid #BCAD93;
      border-radius: 20px;
      background: #FFF4E0;
      @media screen and (max-width: 1024px) {
        justify-content: space-between;
        background: transparent;
        border: none;
        width: 100%;
        padding: 0px;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 12px;
      }
      >img {
        width: 20px;
        height: 20px;
        margin-right: 12px;
        @media screen and (max-width: 1024px) {
          width: 12px;
          height: 12px;
          margin-right: 8px;
        }
      }
      >span {
        color:$Secondary-60;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
          color: $Secondary-40;
        }
      }
      .div-point-line {
        @media screen and (max-width: 1024px) {
          background: #FFF4E0;
          border: 0.8px solid #BCAD93;
          border-radius: 20px;
          font-size: 10px;
          font-weight: 500;
          line-height: 22px;
          color: $Secondary-60;
          padding: 1px 8px;
          display: flex;
          align-items: center;
        }
        >img {
          @media screen and (max-width: 1024px) {
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }
        }
      }
    }
  }
  .line-4 {
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      margin-bottom: 16px;
    }
    >span:nth-child(1) {
      color: $Secondary-40;
      margin-right: 12px;
      @media screen and (max-width: 1024px) {
        color: $Primary-100;
      }
    }
    >span:nth-child(2) {
      color: $Secondary-60;
      font-weight: bold;
      @media screen and (max-width: 1024px) {
        color: $Primary-100;
      }
    }
  }
  .div-note-html {
    >div {
      margin-bottom: 4px;
    }
  }
}
.mini-html-checkout-mobile {
  padding: 36px 24px 24px 24px;
  justify-content:  space-between;
  align-items: center;
  .div-left {
    align-items: center;
    >img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
    .div-text {
      .body-text-s-regular {
        color: #2C2C22;
        margin-bottom: 2px;
      }
      .div-line {
        align-items: center;
        .MuiSvgIcon-root {
          margin-left: 15px;
          font-size: 14px;
        }
      }
    }
  }
  .body-text-s-regular {
    color: #2C2C22;
  }
}
.full-html-checkout-mobile {
  padding: 24px 24px 100px 24px;
  overflow-y: auto;
  height: 100vh;
  .div-header {
    .MuiSvgIcon-root {
      margin-right: 14px;
      margin-bottom: 6px;
    }
  }
}