@import '../../styles/colors';

.item-product-v2 {
  align-items: center;
  &.product-base {
    width: 300px;
    @media screen and (max-width: 1024px) {
      width: calc((100vw - 24px * 2 - 12px * 2)/3);
    }
    @media screen and (max-width: 768px) {
      width: calc((100vw - 24px * 2 - 12px)/2);
    }
    .div-content-product {
      width: 100%;
      .div-card {
        width: 100%;
      }
      .image-product {
        @media screen and (max-width: 1024px) {
          display: flex;
          justify-content: center;
        }
        >img {
          width: 215px;
          @media screen and (max-width: 1024px) {
            width: 60%;
          }
        }
      }
      .div-card {
        @media screen and (max-width: 1024px) {
          padding: 12px;
          border-radius: 10px;
          padding-top: 160px;
          margin-top: -140px;
        }
        @media screen and (max-width: 768px) {
          padding: 12px;
          border-radius: 10px;
          padding-top: 104px;
          margin-top: -92px;
        }
        .div-type {
          .div-image {
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }
          >span {
            @media screen and (max-width: 1024px) {
              padding-left: 0px;
              font-size: 10px;
              line-height: 28px;
            }
          }
        }
        >button {
          margin-top: 32px;
          @media screen and (max-width: 1024px) {
            margin-top: 8px;
          }
        }
      }
    }
  }
  &.product-fillter {
    width: 263px;
    @media screen and (max-width: 1024px) {
      width: calc((100vw - 24px * 2 - 12px * 2)/3);
    }
    @media screen and (max-width: 768px) {
      width: calc((100vw - 24px * 2 - 12px)/2);
    }
  }
  .div-content-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-product {
    position: relative;
    z-index: 1;
    cursor: pointer;
    >img {
      width: 215px;
    }
    .product-image {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      height: 89px;
      width: 180px;
      object-fit: contain;
      z-index: 1;
    }
  }
  .div-card {
    padding: 24px;
    background: $Primary-30;
    border-radius: 30px;
    padding-top: 218px;
    margin-top: -194px;
    z-index: 0;
    .div-type {
      width: fit-content;
      background: #FFF4E0;
      border: 1px solid $Primary-80;
      box-sizing: border-box;
      border-radius: 40px;
      padding: 0px 20px;
      align-items: center;
      margin-bottom: 16px;
      .div-image {
        padding-right: 12px;
        border-right: 1px solid #BCAD93;
        >img {
          width: 24px;
          height: 24px;
        }
      }
      >span {
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        text-transform: uppercase;
        color: $Secondary-60;
        padding-left: 12px;
      }
    }
    .body-text-s-regular {
      margin-bottom: 16px;
    }
    >button {
      margin-top: 32px;
    }
  }
}