.introduce-mmo-start {
  text-align: center;
  .title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2.8rem;
    margin-bottom: 0;
    width: 100%;
  }
  .video-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    @media screen and (min-width: 1440px) {
      margin-top: 4rem;
    }
  }
  .video-react {
    padding-top: 28%;
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      padding-top: 25%;
    }
  }
  .btn-start {
    color: #ffffff;
    background: #0d0d0d;
    padding: 0px 84px;
    height: 64px;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 24px;
    @media screen and (min-width: 1440px) {
      margin-top: 4rem;
    }
  }
  .video-react-control-bar,
  .video-react-big-play-button {
    display: none;
  }
  .video-react-loading-spinner{
    display: none !important;
  }
}
.multi-step-mmo-mobile {
  .video-wrapper {
    margin-top: 10rem !important;
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      margin-top: 14rem !important;
    }
  }
  .btn-start {
    margin: 17% auto 0 !important;
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      margin: 25% auto 0 !important;
    }
  }
}
