.scent-description {
  height: 100%;

  background-color: #F1E4CD;
  border-radius: 10px;
  overflow: hidden;

  padding: 12px;

  .scent-block {
    height: 100%;
    border-radius: 10px;
    border: 1px solid #2C2C22;

    padding: 24px;

    display: flex;
    align-items: stretch;

    .block-item {
      flex: 1 0 34%;
    }
    .block-title {
      padding: 0 24px;
      display: flex;
      flex-direction: column;

      .div-top {
        padding: 16px 0 32px;
        border-bottom: 1px dashed #56564E;

        .scent-title {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;

          letter-spacing: 0.1em;
        }
        .scent-name {
          font-size: 36px;
          line-height: 120%;

          letter-spacing: 0.05em;
        }
        .scent-properties {
          display: flex;
          align-items: center;
          column-gap: 8px;

          padding: 0;
          margin: 0;

          li {
            height: 30px;
            text-align: center;
            text-transform: uppercase;

            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.1em;

            background: #56564E;
            color: #EBD8B8;

            border-radius: 5px;
            padding: 0 10px;

            display: flex;
            align-items: center;

            @media screen and (max-width: 480px) {
              font-size: 10px;
            }
          }
        }
        .text-ct {
          color: #2C2C22;
          text-transform: uppercase;
          margin-bottom: 8px;
        }
      }
      .div-bottom {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .block-custom {
          margin-bottom: 12px;
        }

        .benefits {
          padding-left: 32px;
          display: flex;
          align-items: center;
          column-gap: 12px;

          margin: 0;

          li {
            font-size: 14px;
            line-height: 150%;

            display: flex;
            align-items: center;
            color: #56564E;
            .dot {
              width: 4px;
              height: 4px;

              background-color: #56564E;
              border-radius: 50%;
              margin: 8px;
            }
          }
        }
      }
    }
    .block-content {
      display: flex;
      flex-direction: column;
      padding-left: 24px;

      border-left: 1px dashed #56564E;
      .div-title {
        width: fit-content;

        font-size: 16px;
        line-height: 150%;
        color: #2C2C22;
        text-align: center;

        padding: 10px 16px;
        margin-bottom: 16px;

        border-bottom: 1px solid #56564E;
      }
      .div-description {
        display: flex;
        flex-direction: column;

        .block-top {
          font-size: 16px;
          line-height: 150%;

          color: #56564E;
        }
        .divider {
          margin: 24px 0;
          border-bottom: 1px dashed #56564E;
        }
        .block-middle {
          display: flex;
          flex-direction: column;
          align-items: center;

          .block-custom {
            margin-bottom: 12px;
          }
        }
        .block-bottom {
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0;
          margin: 0;

          gap: 24px 32px;
          .block-custom {
            margin-bottom: 8px;
          }
          .block-name {
            padding-left: 36px;
            font-size: 14px;
            line-height: 150%;
            color: #56564E;
          }
        }
      }
    }
    .block-custom {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .block-icon {
        width: 28px;
        height: 28px;

        border-radius: 5px;
        border: 1px solid #D4C2A6;
        overflow: hidden;

        background-color: #EBD8B8;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .block-text {
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #56564E;
        text-transform: uppercase;
      }
    }

    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      .block-title {
        flex: unset;
        width: 100%;

        border-bottom: 1px dashed #56564E;
        padding: 0;
        margin-bottom: 24px;
        .div-top {
          text-align: center;
          .scent-properties {
            justify-content: center;
          }
        }
        .div-bottom {
          padding: 24px 0;
          text-align: center;
          align-items: center;
          .benefits {
            padding-left: 0;
          }
        }
      }
      .block-content {
        border-left: 0;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        .div-description {
          text-align: center;
        }
      }
    }

    @media screen and (max-width: 480px) {
      padding: 24px 12px;
      .block-title .div-top {
        .scent-title {
          font-size: 12px;
        }
        .scent-name {
          font-size: 24px;
        }
      }
      .block-content .div-description {
        .block-top p {
          margin-bottom: 0;
          font-size: 12px;
        }
        .block-middle .benefits li {
          font-size: 12px;
        }
        .block-bottom {
          justify-content: center;
          .block-name {
            font-size: 12px;
            padding-left: 30px;
          }
        }
      }
      .block-custom {
        .block-icon {
          width: 24px;
          height: 24px;
        }
        .block-text {
          font-size: 10px;
        }
      }
    }
  }
}

ul {
  list-style-type: none;
}