.b2b-partnership {
  margin-top: 227px;
  padding: 0px 60px;
  @media (max-width: 1440px) {
    margin-top: 170px;
    padding: 0px 45px;
  }
  @media (max-width: 1024px) {
    margin-top: 86px;
    padding: 0px 15px;
  }
  .club-banner {
    background-size: cover;
    background-position: center;
    position: relative;
    height: calc((100vw - 2 * 60px) * 600 / 1800);
    @media screen and (max-width: 1440px) {
      height: calc((100vw - 2 * 45px) * 600 / 1800);
    }
    @media screen and (max-width: 1024px) {
      height: calc((100vw - 2 * 15px));
    }
    .icon-client {
      display: flex !important;
      min-height: 50px;
      justify-content: center;
      align-items: center;
    }
    .header-client {
      position: absolute;
      margin-top: 0%;
      left: 0;
      right: 0;
      top: 79%;
      left: 50%;
      transform: translateX(-50%);
      width: 65%;
      @media screen and (max-width: 767.98px) {
        width: 85%;
      }
      .description {
        margin-bottom: 1rem;
      }
    }
    .__header {
      p {
        margin: 0;
        color: #fff;
        text-align: center;
      }

      .title {
        font-weight: normal;
        font-size: 44px;
        letter-spacing: 0.07em;
        line-height: 48px;
        color: #FFFFFF;
        text-transform: unset;
        @media screen and (max-width: 1440px) {
          font-size: calc(44px * 0.75);
          line-height: calc(48px * 0.75);
        }

        @media screen and (max-width: 767.98px) {
          font-size: 26px;
          line-height: 32px;
          color: #EBEBEB;
        }
      }

      .description {
        letter-spacing: 2px;
        font-size: 1.125rem;
      }
    }

    .__content {
      margin-top: 2.875rem;
      .price {
        p {
          color: #fff;
          font-size: 1.5rem;
          letter-spacing: 0.05em;
          text-transform: capitalize;

          @media screen and (max-width: 1440px) {
            font-size: 1.125rem;
          }
        }
      }
      .join {
        margin-top: 1.25rem;
        a {
          background: #b79b53;
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          border-radius: 6px;
          cursor: pointer;
          padding: 1.25rem 2.25rem;
          display: block;
          font-weight: 500;
          font-size: 1.375rem;
          letter-spacing: 0.2em;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;

          @media screen and (max-width: 1440px) {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
