
@import '../../styles/colors';

.div-faqs {
  background: #F5ECDC;
}
.div-product-detail-v2 {
  color: $Secondary-60;
  position: relative;
  // padding-top: 227px;
  overflow: hidden;
  background: $Primary-10;
  // @media screen and (max-width: 1440px) {
  //   padding-top: 170px;
  // }
  // @media (max-width: 1024px) {
  //   padding-top: 86px;
  // }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: 600px) {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.8rem;
  }
  .div-route-link {
    width: 1200px;
    margin: auto;
    height: 124px;
    display: flex;
    align-items: center;
    >button {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      text-transform: uppercase;
      color: $Primary-80;
    }
    .active {
      color: #2C2C22;
      cursor: not-allowed;
    }
    >span {
      margin: 0px 8px;
      font-size: 16px;
      line-height: 150%;
      color: #858585;
    }
  }
  .hidden-page-1 {
    left: -100vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .hidden-page-2 {
    left: 100vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .show-page-1 {
    left: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .show-page-2 {
    left: 0px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .show-page-1 {
    .div-hero {
      max-width: 1248px;
      padding-bottom: 64px;
      margin: auto;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 1024px) {
        padding: 24px 24px 0px 24px;
        width: 100%;
        max-width: 100%;
        flex-direction: column;
      }
      .image-block-v2 {
        width: 45%;
        padding-left: 0px;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        .div-image-block {
          margin-left: 0px;
        }
        &.best-seller {
          width: 500px;
          margin-left: 0px;
          @media screen and (max-width: 992px) {
            width: 50%;
          }
          @media screen and (max-width: 767px) {
            width: calc(100% - 32px);
          }
        }
      }
      .text-block-v2 {
        width: 55%;
        padding-left: 64px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          padding-left: 0px;
          margin-top: 24px;
        }

        .div-text-block-v2 {
          .div-type {
            width: fit-content;
            background: #FFF4E0;
            border: 1px solid $Primary-80;
            box-sizing: border-box;
            border-radius: 40px;
            padding: 0px 20px;
            align-items: center;
            margin-bottom: 16px;
            @media screen and (max-width: 1024px) {
              padding: 0px 14px;
              margin-bottom: 8px;
            }
            .div-image {
              padding-right: 12px;
              border-right: 1px solid #BCAD93;
              width: fit-content;
              @media screen and (max-width: 1024px) {
                padding-right: 8px;
              }
              >img {
                width: 24px;
                height: 24px;
                object-fit: contain;
                @media screen and (max-width: 1024px) {
                  width: 16px;
                  height: 16px;
                }
              }
            }
            .text-p {
              flex: 1;
              font-weight: 500;
              font-size: 14px;
              line-height: 28px;
              text-transform: uppercase;
              color: $Secondary-60;
              padding-left: 12px;
              @media screen and (max-width: 1024px) {
                padding-left: 8px;
                font-size: 10px;
                line-height: 120%;
              }
            }
          }
          .div-type {
            min-height: 36px;
            @media screen and (max-width: 1024px) {
              min-height: 28px;
            }
            .div-image {
              @media screen and (max-width: 1024px) {
                // display: none;
              }
            }
            >span {
              @media screen and (max-width: 1024px) {
                padding-left: 0px;
                font-size: 10px;
                line-height: 28px;
              }
            }
          }
          .MuiTypography-h3 {
            margin: 8px 0px;
          }
          .text-price-total {
            display: flex;
            align-items: center;
            .price-total-t {
              font-weight: 600;
              font-size: 36px;
              line-height: 150%;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: $Secondary-60;
              margin-right: 32px;
              @media screen and (max-width: 1024px) {
                font-size: 20px;
              }
            }
            .line-point {
              height: 30px;
              background: #FFF4E0;
              border: 0.8px solid #BCAD93;
              border-radius: 20px;
              align-items: center;
              padding: 0px 12px;
              width: fit-content;
              @media screen and (max-width: 1024px) {
                height: 26px;
                padding: 0px 6px;
              }
              >img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
              }
              >span {
                font-size: 14px;
                @media screen and (max-width: 1024px) {
                  font-size: 10px;
                }
              }
            }
          }
          .div-review {
            align-items: center;
            .text-score {
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.1em;
              color: $Secondary-60;
              @media screen and (max-width: 1024px) {
                font-size: 12px;
              }
            }
            .line-star {
              margin: 0px 12px;
              @media screen and (max-width: 1024px) {
                margin: 0px 8px;
              }
              >img {
                width: 16px;
                height: 16px;
                @media screen and (max-width: 1024px) {
                  width: 14px;
                  height: 14px;
                  margin: 0px 2px;
                }
              }
            }
            >button {
              text-decoration: underline;
              font-size: 14px;
              letter-spacing: 0.1em;
              font-weight: 600;
              @media screen and (max-width: 1024px) {
                font-size: 12px;
              }
            }
          }

          .div-description {
            margin-top: 16px;
            color: $Secondary-40;
            @media screen and (max-width: 1024px) {
              margin-top: 8px;
            }
            >span >p {
              margin-bottom: 0px;
              // text-align: justify;
            }
            >span, >span >p, >span >p >span, >span >ul >li >span{
              background-color: transparent!important;
              font-size: 14px !important;
              line-height: 17px !important;
              @media screen and (max-width: 1024px) {
                font-size: 12px !important;
                line-height: 19px !important;
                background-color: transparent !important;
              }
            }
            .show-hidden {
              max-height: 70px;
              overflow-y: hidden;
              &.smalle-des {
                max-height: 50px;
              }
              @media screen and (max-width: 1024px) {
                height: 70px;
              }
            }
           .bt-hidden-mobile {
             position: relative;
              &:after {
                content: '';
                width: 100%;
                height: 50px;
                top: -40px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F5ECDC 100%);;
                z-index: 2;
                position: absolute;
              }
            }
            >div >button {
              font-weight: 300;
              background: transparent;
              padding: 0px;
              border-bottom: 1px solid;
              border-left: none;
              border-right: none;
              border-top: none;
              
            }
          }
          .line {
            margin: 24px 0px;
          }

          .dropdown-item-v2 {
            margin-bottom: 44px;
            @media screen and (max-width: 1024px) {
              margin-bottom: 24px;
            }
            .dropdown {
              .header-dropdown {
                height: 56px;
                width: 100%;
                background: #F1E4CD;
                border: 1px solid #D4C2A6;
                border-radius: 30px;
                padding: 0px 24px;
                cursor: pointer;
                @media screen and (max-width: 1024px) {
                  height: 44px;
                }
                >span {
                  font-size: 14px;
                  color: #2C2C22;
                  @media screen and (max-width: 1024px) {
                    font-size: 12px;
                  }
                }
              }
            }
            .dropdown-menu {
              top: 0px;
              padding: 0px;
              background: #FFF4E0;
              border: 1px solid #D4C2A6;
              border-radius: 30px;
              width: 622px;
              right: 85px;
              left: unset;
              @media screen and (max-width: 1024px) {
                width: calc(100% - 48px);
                right: 24px;
              }
              .drop-down-item {
                height: 56px;
                font-size: 14px;
                color: #2C2C22;
                display: flex;
                width: 100%;
                align-items: center;
                padding: 0px 24px;
                cursor: pointer;
                @media screen and (max-width: 1024px) {
                  height: 44px;
                  font-size: 12px;
                }
            
              }
              >div:not(:last-child) {
                border-bottom: 1px solid #D4C2A6;
              }
            }
          }

          .scent-how-to {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 1024px) {
              flex-direction: column;
            }
            .scent-list-choose {
              width: 44%;
              margin-right: 24px;
              @media screen and (max-width: 1024px) {
                width: 100%;
                margin-right: 0px;
              }
              .button-shop {
                margin-top: 30px;
                width: 100%;
              }
            }
            .how-to-mix {
              flex: 1;
              position: relative;
              @media screen and (max-width: 1024px) {
                width: 100%;
              }
              .how-mix {
                border: none;
                box-shadow: none;
                background: #F1E4CD;
                position: absolute;
                top: 0px;
                @media screen and (max-width: 1024px) {
                  position: relative;
                  top: unset;
                }
                .accordion-detail-ct {
                  padding: 24px;
                  .detail-how-mix {
                    margin-top: -45px;
                    .body-text-s-regular {
                      margin-bottom: 20px;
                    }
                    .item-how-mix:not(:last-child) {
                      margin-bottom: 12px;
                      @media screen and (max-width: 1024px) {
                        margin-bottom: 8px;
                      }
                    }
                    .item-how-mix {
                      cursor: pointer;
                      >img {
                        width: 48px;
                        height: 48px;
                        padding-right: 8px;
                        @media screen and (max-width: 1024px) {
                          width: 32px;
                          height: 32px;
                        }
                      }
                      .div-col {
                        >span:nth-child(1) {
                          font-weight: 600;
                          font-size: 14px;
                          line-height: 20px;
                          letter-spacing: 0.1em;
                          text-transform: uppercase;
                          color: $Secondary-60;
                          @media screen and (max-width: 1024px) {
                            font-size: 12px;
                          }
                        }
                        >span:nth-child(2) {
                          font-size: 14px;
                          line-height: 150%;
                          color: $Secondary-40;
                          @media screen and (max-width: 1024px) {
                            font-size: 12px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .what-will-receive {
            .accordion-ct.light {
              border: none;
              box-shadow: none;
              .accordion-summary-ct {
                padding: 0px;
                min-height: unset;
                margin-bottom: 24px;
                .MuiAccordionSummary-expandIconWrapper {
                  display: none;
                }
                .MuiAccordionSummary-content {
                  .summary {
                    text-transform: uppercase;
                    align-items: center;
                    @media screen and (max-width: 1024px) {
                      justify-content: space-between;
                      font-size: 12px;
                      width: 100%;
                    }
                  }
                }
              }
            }
            .MuiCollapse-root {
              .accordion-detail-ct {
                .detail {
                  .heading {
                    text-align: center;
                  }
                  .div-image {
                    width: 372px;
                    margin: 24px auto 44px auto;
                    @media screen and (max-width: 1024px) {
                      width: 100%;
                      margin: 24px auto;
                    }
                  }
                }
              }
            }
          }

          .price-mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #2C2C22;
            margin-bottom: 24px;
            .text-price {
              font-weight: 600;
              font-size: 20px;
              line-height: 150%;
              letter-spacing: 0.1em;
              margin-bottom: 6px;
            }
            .line-point {
              background: #FFF4E0;
              border: 0.8px solid #BCAD93;
              border-radius: 20px;
              align-items: center;
              padding: 0px 12px;
              width: fit-content;
              height: 26px;
              padding: 0px 6px;
              >img {
                width: 16px;
                height: 16px;
                margin-right: 4px;
              }
              >span {
                font-size: 10px;
              }
            }
          }

          .add-card-block {
            display: flex;
            align-items: center;
            .div-quantity {
              height: 44px;
              min-width: 95px;
              border: 1px solid #2C2C22;
              border-radius: 30px;
              margin-right: 15px;
              padding: 0px 15px;
              .div-number {
                display: flex;
                height: 100%;
                align-items: center;
                .quanity {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0px 15px;
                  font-weight: 500;
                }
                .disabled {
                  cursor: not-allowed;
                }
                >button {
                  >img {
                    width: 11px;
                    height: 100%;
                  }
                }
              }
            }
            >button {
              flex: 1;
            }
          }
        }

      }
    }
  }


  
  .div-ingredient-local {
    height: 100%;
    display: flex;
    flex-direction: column;
    .div-content-local {
      width: 100%;
      flex: 1;
      .div-ingredient-detail {
        .div-content {
          padding-top: 80px;
          // height: 500px;
          height: auto;
          overflow-y: hidden;
        }
        .div-banel {
          height: 130px;
          z-index: 2;
          border-radius: 0px;
          @media screen and (max-width: 1440px) {
            height: 80px;
          }
          @media screen and (max-width: 1024px) {
            height: 84px;
          }
          .bt-close {
            position: absolute;
            top: 19px;
            left: 19px;
            @media screen and (max-width: 1440px) {
              top: calc(19px * 0.75);
              left: calc(19px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              top: 29px;
              left: 19px;
            }
          }
          .div-text {
            >h2 {
              font-size: 36px;
              font-weight: normal;
              @media screen and (max-width: 1440px) {
                font-size: calc(36px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-size: 21px;
              } 
            }
          }
          >span {
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
        .wrap-header {
          .div-info-v2 {
            &.list-secondary {
              margin-top: -10px;
            }
            .div-strength, .div-duration, .div-persinal-image {
              .div-title {
                z-index: 1;
                margin-bottom: 0px;
                >span {
                  font-size: 14px;
                  font-weight: 300;
                }
              }
              .div-image {
                width: 110%;
              }
            }
            .div-duration {
              height: 100%;
              .div-image {
                width: 75%;
                height: 100%;
                >span {
                  bottom: 13%;
                  width: 100px;
                  text-align: center;
                  font-weight: 300;
                }
              }
            }
            .div-strength {
              .div-image {
                width: 120%;
                >span {
                  bottom: 13%;
                  font-weight: 300;
                }
              }
            }
            .div-persinal-image {
              .div-image {
                width: 90%;
                #span-1 {
                  bottom: 0px;
                  font-weight: 300;
                }
                #span-2 {
                  left: 17%;
                  top: 17%;
                  font-weight: 300;
                }
                #span-3 {
                  right: 17%;
                  top: 17%;
                  font-weight: 300;
                }
              }
            }
            .div-evolution {
              .div-title {
                z-index: 1;
                margin-bottom: 0px;
                margin-top: 20px;
                >span {
                  font-size: 14px;
                  font-weight: 300;
                }
              }
              .div-image {
                margin-top: -60px;
                width: 80%;
                >span {
                  font-size: 12px;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
    .div-list-button {
      display: flex;
      justify-content: center;
      
    }
  }
  .div-page1, .div-page2 {
    position: relative;
    top: 0px;
    width: 100%;
    padding-bottom: 40px;
    .pick-ingredients-product-detail-v2 {
      height: 650px;
      &.dual-candles {
        height: fit-content;
      }
      .div-header-ingredient {
        margin-right: 0px;
      }
      .div-scroll-ingredient {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        .div-scent-line {
          margin-top: 8px;
          >span {
            font-size: 16px;
            color: $Secondary-40;
          }
          .list-scent-item {
            >button {
              width: 80px;
              height: 80px;
              margin-right: 8px;
              margin-bottom: 16px;
              border-radius: 8px;
              .div-item {
                >img {
                  border: none;
                  box-shadow: none;
                  border-radius: 8px;
                }
              }
              &.out-stock {
                .div-item {
                  &::after {
                    content: attr(data-message);
                    position: absolute;
                    bottom: -14px;
                    font-size: 8px;
                    color: #56564E;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    font-weight: 600;
                    @media only screen and (max-width: 1024px) {
                      bottom: -15px;
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .list-button {
        padding-left: 24px;
        padding-right: 24px;
        justify-content: space-between;
        padding-top: 20px;
      }
    }
    .div-filter-search {
      margin-top: 30px;
      @media screen and (max-width: 1440px){
        margin-top: calc(30px * 0.75);
      }
      @media screen and (max-width: 1024px){
        margin-top: 25px;
      }
    }
    .div-filter-search-scent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      .div-filter {
        .header-filter {
          height: 46px;
          width: 194px;
          justify-content: center;
          align-items: center;
          display: flex;
          border: 1px solid #0D0D0D;
          padding-left: 10px;
          padding-right: 10px;
          justify-content: space-between;
          @media screen and (max-width: 1440px) {
            height: 34px;
            width: 145px;
            padding-left: 7px;
            padding-right: 7px;
          }
          @media screen and (max-width: 1024px) {
            height: 29px;
            width: 122px;
            padding-left: 6px;
            padding-right: 6px;
          }
          >span {
            font-size: 16px;
            color: #0D0D0D;
            cursor: pointer;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: 12px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
          >img {
            height: 12.75px;
            @media screen and (max-width: 1440px) {
              height: 9.56px;
            }
            @media screen and (max-width: 1024px) {
              height: 8px;
            }
          }
        }
        .dropdown-item-filter {
          padding: 12px;
          >span {
            font-size: 18px;
            font-weight: 300;
            color: #152436;
            cursor: pointer;
            @media screen and (max-width: 1440px) {
              font-size: 14px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
        .dropdown-menu {
          width: 200px !important;
          left: -10px !important;
          transform: translate3d(0px, 41px, 0px) !important;
        }
      }
      .div-search {
        border: 1px solid #0D0D0D;
        padding: 0px 10px;
        height: 46px;
        margin: 0px;
        width: 194px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1440px) {
          height: 34px;
          width: 145px;
        }
        @media screen and (max-width: 1024px) {
          height: 29px;
          width: 122px;
        }
        >button {
          background: transparent;
          border: none;
          font-size: 16px;
          color: #0D0D0D;
        }
        >input {
          width: 100px;
          border: none;
          font-weight: 300;
          font-size: 16px;
          color: #0D0D0D;
          height: 100%;
          background: transparent;
          @media screen and (max-width: 1440px){
            font-size: 12px;
          }
          @media screen and (max-width: 1024px){
            font-size: 10px;
            width: 90px;
            height: 39px;
          }
          &::placeholder {
            font-weight: 300;
            color: #0D0D0D;
            font-size: 16px;
            @media screen and (max-width: 1440px){
              font-size: 12px;
            }
            @media screen and (max-width: 1024px){
              font-size: 10px;
            }
          }
        }
        >img {
          height: 16px;
          @media screen and (max-width: 1440px) {
            height: 12px;
          }
          @media screen and (max-width: 1024px) {
            height: 10px;
          }
        }
      }
    }

    .div-text-block {
      color: #0D0D0D;
      .div-point-detail {
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 1024px) {
          margin: 8px 0px;
        }
        >img {
          width: 17px;
          height: 17px;
          margin-right: 5px;
          @media screen and (max-width: 1440px) {
            width: 15px;
            height: 15px;
            margin-right: 4px;
          }
          @media screen and (max-width: 1024px) {
            width: 11px;
            height: 11px;
            margin-right: 3px;
          }
        }
        >span {
          color: #B79B53;
          @media screen and (max-width: 1024px) {
            font-size: 8px;
          }
        }
      }
      .choose-type-perfume {
        display: flex;
        border: 1px solid #E2E2E2;
        >div {
          width: 50%;
        }
        &.list-hand_sanitizer {
          border-top: none;
          >div {
            width: 100%;
          }
        }
      }
      .option-sanitizer {
        margin-top: 50px;
        @media screen and (max-width: 1440px) {
          margin-top: calc(50px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 10px;
        }
        .dropdown-hand-sanitizer {
          &.show {
            >span {
              .item-hand-sanitizer {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-bottom: none;
              }
            }
          }
          >span {
            .item-hand-sanitizer {
              border-radius: 6px;
              cursor: pointer;
            }
          }
          .dropdown-menu {
            width: 100%;
            border: unset;
            padding: 0px;
            border: none;
            top: 37px!important;
            transform: unset !important;
            .item-hand-sanitizer {
              border-bottom: none;
              cursor: pointer;
              &.active {
                background: linear-gradient(0deg, #7C7C7C, #7C7C7C), #FFFFFF;
                .title {
                  >h2, >span {
                    color: #FFFFFF;
                  }
                }
              }
            }
            .item-hand-sanitizer:last-child() {
              border-bottom: 1px solid #E2E2E2;
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
            }
          }
        }
        .item-hand-sanitizer {
          display: flex;
          height: 51px;
          padding: 0px 20px;
          align-items: center;
          justify-content:space-between;
          border: 1px solid #E2E2E2;
          color: #0D0D0D;
          @media screen and (max-width: 1440px) {
            height: 38px;
            padding: 0px 15px;
          }
          .title {
            display: flex;
            align-items: center;
            margin: 0px;
            >h2 {
              font-size: 18px;
              font-weight: 300;
              color: #0D0D0D;
              margin-bottom: 0px;
              margin-right: 8px;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
            >span {
              font-weight: 300;
              font-size: 18px;
              color: #545454;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
          }
          >img {
            height: 18px;
            transform: rotate(90deg);
            @media screen and (max-width: 1440px) {
              height: calc(18px * 0.75);
            }
          }
        }
      }

      .item-select-type-perfume {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 24px 0px;
        cursor: pointer;
        @media screen and (max-width: 1440px) {
          padding: 18px 0px;
        }
        @media screen and (max-width: 1024px) {
          padding: 10px;
        }
        &.b-right {
          border-right: 1px solid #E2E2E2;
        }
        &.active {
          background: rgba(255, 233, 175, 0.1);
          border: 1px solid #B79B53;
        }
        >div {
          display: flex;
          >img {
            height: 80px;
            margin-right: 27px;
            @media screen and (max-width: 1440px) {
              height: calc(80px * 0.75);
              margin-right: calc(27px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              height: 62px;
              margin-right: 18px;
            }
          }
          .item-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            >h3 {
              margin-bottom: 0px;
              font-size: 24px;
              font-weight: normal;
              text-align: center;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(24px * 0.75);
              }
              @media screen and (max-width: 1440px) {
                font-size: 10px;
              }
            }
            >span {
              padding: 5px 0px;
              color: #545454;
              font-size: 14px;
              font-weight: 300;
              @media screen and (max-width: 1440px) {
                padding: 3.5px 0px;
                font-size: calc(14px * 0.75);
              }
              @media screen and (max-width: 1440px) {
                font-size: 10px;
              }
            }
            >h4 {
              margin-bottom: 0px;
              font-weight: 500;
              font-size: 20px;
              text-align: center;
              color: #B79B53;
              @media screen and (max-width: 1440px) {
                font-size: calc(20px * 0.75);
              }
              @media screen and (max-width: 1440px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      .item-scent-select {
        display: flex;
        align-items: center;
        padding: 21px 0px;
        cursor: pointer;
        flex-direction: column;
        @media screen and (max-width: 1440px) {
          padding: 15px 0px;
        }
        @media screen and (max-width: 1024px) {
          padding: 13px 0px;
          flex-direction: column;
        }
        .item-scent-select-body {
          display: flex;
          width: 100%;
          align-items: center;
        }
        .image-scent {
          width: 65px;
          height: 65px;
          margin-right: 23px;
          >img {
            height: 100%;
            width: 100%;
            // object-fit: contain;
            object-fit: cover;
            border-radius: 16px;
          }
          .icon {
            object-fit: contain;
          }
          @media screen and (max-width: 1440px) {
            width:calc(65px * 0.75);
            height: calc(65px * 0.75);
            margin-right: calc(23px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            width: 48px;
            height: 48px;
          }
        }
        .name-scent {
          flex: 1;
          >div {
            >h3 {
              font-weight: 300;
              font-size: 18px;
              line-height: 26px;
              margin-bottom: 0px;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-weight: 300;
                font-size: 17px;
                line-height: 25px;
              }
            }
            >button {
              display: flex;
              padding-left: 12px;
              padding-right: 12px;
              @media screen and (max-width: 1024px) {
                padding-left: 15px;
                padding-right: 15px;
              }
              >img {
                width: 20px;
                height: 20px;
                @media screen and (max-width: 1440px) {
                  width: calc(20px * 0.75);
                  height: calc(20px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  width: 20px;
                  height: 20px;
                }
              }
            }
            >span {
              font-weight: 500;
              font-size: 14px;
              color: #BC5A59;

            }
          }
          >span {
            font-weight: 300;
            font-size: 18px;
            color: #8D8D8D;
            line-height: 26px;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
              line-height: calc(26px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-weight: 300;
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
        .recommend-data {
          display: flex;
          flex-direction: column;
          margin-top: 19px;
          @media screen and (max-width: 1440px) {
            margin-top: calc(19px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-right: 0px;
            flex-direction: column;
            width: 100%;
            padding: unset;
            margin-top: 27px;
          }
          >h3 {
            font-size: 18px;
            line-height: 26px;
            font-weight: normal;
            text-align: center;
            margin-bottom: 13px;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
              line-height: calc(26px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 10px;
              line-height: 14px;
              margin-bottom: 15px;
              text-align: center;
            }
          }
          .list-scent {
            display: flex;
            justify-content: center;
            @media screen and (max-width: 1024px) {
              justify-content: space-around;
            }
            .image-content {
              width: 95px;
              height: 95px;
              margin-right: 10px;
              cursor: pointer;
              margin: 0px 30px;
              position: relative;
              @media screen and (max-width: 1440px) {
                width: calc(95px * 0.75);
                height: calc(95px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                width: 73px;
                height: 73px;
                margin: unset;
                margin-right: 0px;
              }
              .scent {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 31px;
                box-shadow: 0px 5.33333px 5.33333px rgba(0, 0, 0, 0.25);
                @media screen and (max-width: 1440px) {
                  border-radius: calc(31px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  border-radius: 20px;
                }
              }
              .info {
                width: 17px;
                height: 17px;
                bottom: 10px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                @media screen and (max-width: 1440px) {
                  width: calc(17px * 0.75);
                  height: calc(17px * 0.75);
                  bottom: calc(10px * 0.75);
                }
                @media screen and (max-width: 1024px) {
                  width: 11px;
                  height: 11px;
                  bottom: 9px;
                }
              }
            }
          }
        }
        >img {
          height: 21px;
          @media screen and (max-width: 1440px) {
            height: calc(21px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            height: 13px;
          }
        }
      }
      >.div-custome-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        .header-text {
          display: flex;
          flex-direction: row;
          >span {
            font-weight: 600;
            font-size: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #0D0D0D;
            padding-right: 20px;
            border-right: 1px solid #8D8D8D;
          }
          >button {
            background: transparent;
            border: none;
            color: #8D8D8D;
            height: 1rem;
            margin-left: 10px;
          }
        }
        .div-image {
          display: flex;
          flex-direction: row;
          >img {
            height: 55px;
            object-fit: contain;
            object-position: center;
            margin-right: 20px;
            margin-top: 10px;
          }
          >.div-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            >span {
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              display: flex;
              align-items: center;
              color: #0D0D0D;
            }
            >button {
              font-size: 12px;
              background: transparent;
              border: none;
              padding: 0px;
              >img {
                height: 12px;
                margin-right: 5px;
              }
            }
          }
          
        }
      }

      .text-gify-buy {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #B79B53;
        margin-left: 20px;
        @media screen and (max-width: 1440px) {
          font-size: calc(16px * 0.75);
          line-height: calc(23px * 0.75);
          margin-left: calc(20px * 0.75); 
        }
        @media screen and (max-width: 1024px) {
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
          margin-left: 0px;
        }
      }

      .header {
        @media (max-width: 1024px) {
          margin-top: 1.5rem;
        }
        >h1 {
          font-size: 25px;
          line-height: 27px;
          font-weight: normal;
          margin-bottom: 0px;
          @media screen and (max-width: 1440px) {
            font-size: calc(25px * 0.75);
            line-height: calc(27px * 0.75);
          }
          @media (max-width: 1024px) {
            font-size: 17px;
            line-height: 25px;
          }
        }
        > span {
          font-weight: 300;
          font-size: 25px;
          line-height: 27px;
          @media only screen and (max-width: 1440px) {
            font-size: calc(25px * 0.75);
          }
          @media (max-width: 600px) {
            font-size: 17px;
            line-height: 25px;
          }
        }
        
      }
      .header2 {
        padding: 10px 0px;
        width: 100%;
        justify-content: space-between;
        >span {
          color: #8D8D8D;
          letter-spacing: 2px;
        }
        .div-review {
          >button {
            padding: 0px;
            font-weight: normal;
            background: transparent;
            border-bottom: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-left: 6px;
            font-size: 13px;
            line-height: 19px;
            letter-spacing: 0.15em;
            @media screen and (max-width: 1440px) {
              font-size: calc(13px * 0.75);
              line-height: calc(19px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              line-height: 19px;
            }
          }
        }
        .div-point-detail {
          flex: 1;
          justify-content: flex-end;
          >img {
            width: 17px;
            height: 17px;
            margin-right: 5px;
            @media screen and (max-width: 1440px) {
              width: 15px;
              height: 15px;
              margin-right: 4px;
            }
            @media screen and (max-width: 1024px) {
              width: 12px;
              height: 12px;
              margin-right: 2px;
            }
          }
          >span {
            color: #B79B53;
          }
        }
        &.div-line-start {
          @media screen and (max-width: 1024px) {
            width: 100%;
            height: 44px;
            border-radius: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .line-star {
            display: flex;
            align-items: center;
            >img {
              width: 20px;
              height: 20px;
              margin-right: 5px;
              @media screen and (max-width: 1440px) {
                width: calc(20px * 0.75);
                height: calc(20px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      .line {
        height: 1px;
        width: 100%;
        background: #E2E2E2;
      }

      .bt-out-line {
        background: #C9A047;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
      .div-add-cart {
        width: 100%;
        @media screen and (max-width: 1024px) {
          display: flex;
        }
        &.none-border {
          border-top: none;
        }
        &.main-add-card {
          >select {
            @media screen and (max-width: 1024px) {
              height: 42px !important;
            }
          }
          .bt-checkout {
            @media screen and (max-width: 1024px) {
              height: 42px !important;
            }
          }
        }
        &.footer-add-cart-mobile {
          width: 100%;
          color: #0D0D0D;
          position: fixed;
          bottom: 0px;
          left: 0px;
          z-index: 21;
          display: flex;
          >select {
            border-radius: 0px;
            border: 1px solid #E2E2E2;
          }
          >button {
            border-radius:0px;
          }
        }
        .bt-checkout {
          border-radius:0px;
        }
        .bt-out-line {
          margin-right: 10px;
          @media screen and (max-width: 1440px) {
            margin-right: calc(10px * 0.75);
          }
        }
        .div-quantity {
          display: flex;
          flex-direction:column;
          align-items: center;
          .header_4 {
            margin-bottom: 7px;
            @media screen and (max-width: 1440px) {
              margin-bottom: calc(7px * 0.75);
            }
          }
          .div-number {
            display: flex;
            height: 42px;
            align-items: center;
            @media screen and (max-width: 1440px) {
              height: calc(42px * 0.75);
            }
            .quanity {
              height: 100%;
              width: 67px;
              border: 1px solid #0D0D0D;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0px 15px;
              @media screen and (max-width: 1440px) {
                width: calc(67px * 0.75);
                margin: 0px calc(15px * 0.75);
              }
            }
            .disabled {
              cursor: not-allowed;
            }
            >button {
              >img {
                width: 11px;
                height: 100%;
              }
            }
          }
        }
        >select {
          margin-right: 30px;
          width: 81px;
          height: 50px;
          padding: 0.5rem 1rem 0.5rem 2rem !important;
          @media (max-width: 1024px) {
            margin-right: 0px;
            width: 100px;
            border-radius: 0px;
          }
        }
        >button {
          height: 50px;
          flex: 1;
          letter-spacing: 2px;
          @media (max-width: 1024px) {
            height: 42px;
          }
        }
        .border-checkout {
          padding: 0.5rem 1rem;
          height: 50px;
          border-radius: 6px;
          &.disabled {
            cursor: no-drop;
          }
          @media screen and (max-width: 1024px) {
            border-radius: 0px;
          }
        }
        select:not([multiple]) {
          background-position: 80% 50%;
          background-image: url('../../image/icon/ic-select.svg')
        }
      }

      

      .div-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        line-height: 159%;
        @media screen and (max-width: 1440px) {
          font-size: 14px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 13px;
          line-height: 19px;
        }
        >span >p {
          margin-bottom: 0px;
          // text-align: justify;
        }
        >span, >span >p, >span >p >span, >span >ul >li >span{
          font-weight: 300 !important;
          font-size: 18px !important;
          line-height: 26px !important;
          // text-align: justify;
          background-color: #ffffff!important;
          @media screen and (max-width: 1440px) {
            font-size: 14px !important;
            line-height: 17px !important;
          }
          @media screen and (max-width: 1024px) {
            font-size: 12px !important;
            line-height: 19px !important;
          }
        }
        .name-description {
          font-size: 21px;
          color: #152436;
        }
        .show-hidden {
          max-height: 70px;
          overflow-y: hidden;
          &.smalle-des {
            max-height: 50px;
          }
          @media screen and (max-width: 1024px) {
            height: 70px;
          }
        }
       .bt-hidden-mobile {
         position: relative;
          &:after {
            content: '';
            width: 100%;
            height: 50px;
            top: -40px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F5ECDC 100%);;
            z-index: 2;
            position: absolute;
          }
        }
        >div >button {
          font-weight: 300;
          background: transparent;
          padding: 0px;
          border-bottom: 1px solid;
          border-left: none;
          border-right: none;
          border-top: none;
          
        }
      }
      .div-scent {
        >button {
          padding: 13px 0px;
          border-left: none;
          border-top: 1px solid #E2E2E2;
          border-bottom: 1px solid #E2E2E2;
          border-right: none;
          color: #8D8D8D;
          background: transparent;
          @media (max-width: 1024px) {
            border: 1px solid #E2E2E2;
          }
           >div >img {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            object-position: center;
            border-radius: 50%;
            object-fit: cover;

          }
        }
        .active {
          border-bottom: 2px solid #0D0D0D;
          font-weight: 700px;
          color: #0D0D0D;
          @media (max-width: 1024px) {
            border-bottom: 1px solid #0D0D0D;
            border: 1px solid #0D0D0D;
          }
        }
      }

      .div-make-designs {
        >span {
          letter-spacing: 1px;
        }
        .slick-slider {
          margin-top: 1.5rem;
          .slick-list {
            margin-left: 50px;
            margin-right: 50px;
          }
          .sub-slice {
            display: flex!important;
            flex-direction: column;
            justify-content: center!important;
            align-items: center!important;
            cursor: pointer;
          }
          .slick-arrow {
            &.slick-next {
                height: 64px;
                margin-top: 0px;
                top: 0px;
                &:before {
                    height: 64px;
                    top: 50%;
                    transform: translateY(10px);
                }
            }
            &.slick-prev {
                height: 64px;
                margin-top: 0px;
                top: 0px;
                &:before {
                  height: 64px;
                  top: 50%;
                  transform: translateY(10px);
                }
            }
          }
        }
        @media (max-width: 1024px) {
          .slick-slider .slick-list {
            margin-left: 35px;
            margin-right: 35px;
          }
          .slick-slider .slick-arrow.slick-prev:before {
            height: 42px;
            top: 50%;
            transform: translateY(10px);
            width: 42px;
          }
          .slick-slider .slick-arrow.slick-next:before {
            height: 42px;
            top: 50%;
            transform: translateY(10px);
            width: 42px;
          }
          .slick-slide {
            width: 50px!important;
            .sub-slice {
              display: flex!important;
              flex-direction: column;
              justify-content: center!important;
              align-items: center!important;
              cursor: pointer;
              >img {
                height: 42px !important;
              }
            }
            // .slick-arrow {
            //   &.slick-next {
            //       height: 42px;
            //       margin-top: 0px;
            //       top: 0px;
            //       &:before {
            //           height: 42px;
            //           top: 50%;
            //           transform: translateY(10px);
            //       }
            //   }
            //   &.slick-prev {
            //       height: 42px;
            //       margin-top: 0px;
            //       top: 0px;
            //       &:before {
            //         height: 42px;
            //         top: 50%;
            //         transform: translateY(10px);
            //       }
            //   }
            // }
          }
        }
      }
      .div-custom-name {
        >span {
          letter-spacing: 1px;
        }
        .div-input {
          width: 274px;
          height: 50px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          @media (max-width: 1024px) {
            width: 100%;
            height: 42px;
          }
          >input {
            width: 200px;
            border: none;
            @media (max-width: 1024px) {
              width: calc(100% - 60px);
              font-size: 0.8rem;
            }
          }
        }
      }
      .button-back {
        height: 50px;
        letter-spacing: 1px;
      }
    }
  }

  .list-pre-made {
    margin-top: 50px;
    .div-pemade-product {
      .slice-image {
        .slick-slider {
          .slick-track {
            .product-fillter {
              margin: auto;
            }
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      margin-top: 24px;
    }
    
  }

  .div-scent-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1024px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    &.div-multiple {
      .div-info {
        .div-info-detail {
          >img {
            margin: auto;
          }
          .text-info {
            margin-left: 30px;
          }
          .div-image-combo {
            margin: auto;
          }
          .text-info-combo {
            margin-left: 30px;
          }
        }
      }
    }
    >h3 {
      margin: 65px 0px;
      font-weight: 300;
      text-align: center;
      color: #0D0D0D;
      @media screen and (max-width: 1440px) {
        margin-top: calc(65px * 0.75);
        margin-bottom: calc(65px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        margin: 36px 0px;
      }
    }
    .info-character {
      // width: 90%;
      width: fit-content;
      .info-character-right {
        width: 305px;
        height: 305px;
        margin-right: 122px;
        @media screen and (max-width: 1440px) {
          width: calc(305px * 0.75);
          height: calc(305px * 0.75);
          margin-right: calc(122px * 0.75);
        }
        .div-image-combo {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          position: relative;
          &.multiple-4 {
            display: grid;
            grid-gap: 0px 0px;
            grid-template-columns: auto auto;
            >img {
              width: 100%;
              height: calc(305px/2);
              object-position: center;
              @media screen and (max-width: 1440px) {
                height: calc(305px * 0.75 / 2);
              }
            }
            >img:nth-child(1) {
              border-top-left-radius: 102px;
              border-bottom-left-radius: 0px;
              @media screen and (max-width: 1440px) {
                border-top-left-radius: calc(102px * 0.75);
                border-bottom-left-radius: 0px;
              }
            }
            >img:nth-child(2) {
              border-top-right-radius: 102px;
              border-bottom-right-radius: 0px;
              @media screen and (max-width: 1440px) {
                border-top-right-radius: calc(102px * 0.75);
                border-bottom-right-radius: 0px;
              }
            }
            >img:nth-child(3) {
              border-top-left-radius: 0px;
              border-bottom-left-radius: 102px;
              @media screen and (max-width: 1440px) {
                border-top-left-radius: 0px;
                border-bottom-left-radius: calc(102px * 0.75);
              }
            }
            >img:nth-child(4) {
              border-top-right-radius: 0px;
              border-bottom-right-radius: 102px;
              @media screen and (max-width: 1440px) {
                border-top-right-radius: 0px;
                border-bottom-right-radius: calc(102px * 0.75);
              }
            }
          }
          >img {
            width: 50%;
            object-fit: cover;
            object-position: bottom;
          }
          >img:nth-child(1) {
            border-top-left-radius: 102px;
            border-bottom-left-radius: 102px;
            @media screen and (max-width: 1440px) {
              border-top-left-radius: calc(102px * 0.75);
              border-bottom-left-radius: calc(102px * 0.75);
            }
          }
          >img:nth-child(2) {
            border-top-right-radius: 102px;
            border-bottom-right-radius: 102px;
            @media screen and (max-width: 1440px) {
              border-top-right-radius: calc(102px * 0.75);
              border-bottom-right-radius: calc(102px * 0.75);
            }
          }
          >span {
            font-weight: bold;
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        }
        .div-image {
          width: 100%;
          height: 100%;
          >img {
            width: 100%;
            height: 100%;
            border-radius: 102px;
            object-fit: cover;
            object-position: center;
            @media screen and (max-width: 1440px) {
              border-radius: calc(102px * 0.75);
            }
          }
        }
      }
      .info-character-left {
        flex: 1;
        margin: auto;
      }
    }
    .list-button {
      margin-bottom: 65px;
      font-size: 24px;
      @media screen and (max-width: 1440px) {
        font-size: calc(24px * 0.75);
        margin-bottom: calc(65px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        font-size: 18px;
        margin-bottom: 36px;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        width: 100%;
      }
      >button:nth-child(1) {
        border-right: 1px solid #E2E2E2;
      }
      >button {
        padding: 0px 46px;
        color: #8D8D8D;
        &.active {
          color: #000000;
        }
        @media screen and (max-width: 1024px) {
          width: max-content;
          white-space: nowrap;
        }
      }
    }
    .div-button-scent {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      margin-left: -14px;
      @media screen and (max-width: 1440px) {
        margin-bottom: calc(30px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        margin-bottom: 36px;
        margin-left: unset;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
        display: -webkit-inline-box;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background-color: transparent;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
      .none-select {
        opacity: 0.5;
      }
      >button {
        width: 234px;
        height: 78px;
        background: transparent;
        border: none;
        margin: 0px 14px;
        padding: 0px;
        @media only screen and (max-width: 1440px) {
          width: calc(234px * 0.75);
          height: calc(78px * 0.75);
        }
        &.multiple-4 {
          .div-bt-image-combo {
            >img {
              width: 25%;
            }
          }
        }
        .div-bt-image-combo {
          display: flex;
          flex-direction: row;
          position: relative;
          width: 100%;
          height: 100%;
          .full-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
          }
          >img:nth-child(1) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          >img:nth-child(2) {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          >span {
            font-weight: bold;
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 12px;
          @media screen and (max-width: 1440px) {
            border-radius: calc(12px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            border-radius: 8px;
          }
        }
        @media screen and (max-width: 1440px) {
          width: calc(194px * 0.75);
          height: calc(78px * 0.75);
          margin: 0px 11px;
        }
        @media screen and (max-width: 1024px) {
          width: 136px;
          height: 55px;
          margin: 0px 11px;
        }
      }
    }
    .img-scent-mobile {
      width: 175px;
      height: 175px;
      border-radius: 58px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 36px;
    }
    .div-image-combo-mobile {
      width: 175px;
      height: 175px;
      margin-bottom: 36px;
      position: relative;
      &.multiple-4 {
        display: grid;
        grid-gap: 0px 0px;
        grid-template-columns: auto auto;
        >img {
          width: 100%;
          height: calc(175px/2);
          object-position: center;
        }
        >img:nth-child(1) {
          border-top-left-radius: 58px;
          border-bottom-left-radius: 0px;
        }
        >img:nth-child(2) {
          border-top-right-radius: 58px;
          border-bottom-right-radius: 0px;
        }
        >img:nth-child(3) {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 58px;
        }
        >img:nth-child(4) {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 58px;
        }
      }
      >img {
        width: 50%;
        object-fit: cover;
        object-position: bottom;
      }
      >img:nth-child(1) {
        border-top-left-radius: 58px;
        border-bottom-left-radius: 58px;
      }
      >img:nth-child(2) {
        border-top-right-radius: 58px;
        border-bottom-right-radius: 58px;
      }
    } 
    .span-info-mobile {
      font-size: 14px;
      text-align: center;
      color: #152436;
      margin-bottom: 36px;
      
    }
    .div-bt-view > button {
      background: transparent;
      border: none;
      padding: 0px;
      margin-top: 40px;
      @media screen and (max-width: 1440px) {
        margin-top: calc(40px * 0.75);
      }
      >img {
        width: 19px;
        height: 19px;
        margin-right: 5px;
        @media screen and (max-width: 1440px) {
          width: calc(19px * 0.75);
          height: calc(19px * 0.75);
        }
      }
      >span{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.2em;
        text-decoration: underline;
        text-transform: uppercase;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: calc(18px * 0.75);
        }
      }
    }
    .div-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }
      .div-process-line {
        width: 324px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        @media screen and (max-width: 1440px) {
          width: calc(324px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          width: 85%;
        }
        .progressLine {
          .div-text {
            >span {
              font-size: 18px;
              font-weight: 300;
              letter-spacing: unset;
              text-transform: unset;
              text-transform: capitalize;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
              @media screen and (max-width: 1024px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      .div-process-circle {
        // width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 76px;
        margin-right: 22px;
        @media screen and (max-width: 1440px) {
          margin-left: calc(76px * 0.75);
          margin-right: calc(22px * 0.75);
        }
        @media screen and (max-width: 1024px) {
          margin-top: 20px;
          width: 80%;
          justify-content: center;
          margin-left: 0px;
          margin-right: 0px;
          flex-direction: row;
        }
        .progress-circle:nth-child(1) {
          margin-bottom: 20px;
          @media screen and (max-width: 1440px) {
            margin-bottom: calc(20px * 0.75);
          }
          @media screen and (max-width: 1024px) {
            margin-bottom: unset;
          }
        }
        .progress-circle {
          width: 117px;
          @media screen and (max-width: 1440px) {
            width: 88px;
          }
          @media screen and (max-width: 1024px) {
            width: 100px;
          }
          .div-circle {
            width: 45%;
          }
          >span {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: unset;
            text-transform: unset;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
            @media screen and (max-width: 1024px) {
              font-size: 12px;
            }
          }
        }
      }
      
      .div-info-detail {
        display: flex;
        flex-direction: row;
        width: 40%;
        padding-left: 45px;
        border-left: 1px solid #E2E2E2;
        @media screen and (max-width: 1440px) {
          padding-left: calc(45px * 0.75);
        }
        .div-image-combo {
          width: 175px;
          height: 175px;
          display: flex;
          flex-direction: row;
          position: relative;
          @media screen and (max-width: 1440px) {
            width: calc(175px * 0.75);
            height: calc(175px * 0.75);
          }
          >img {
            width: 50%;
            object-fit: cover;
            object-position: bottom;
          }
          >img:nth-child(1) {
            border-top-left-radius: 58px;
            border-bottom-left-radius: 58px;
            @media screen and (max-width: 1440px) {
              border-top-left-radius: calc(58px * 0.75);
              border-bottom-left-radius: calc(58px * 0.75);
            }
          }
          >img:nth-child(2) {
            border-top-right-radius: 58px;
            border-bottom-right-radius: 58px;
            @media screen and (max-width: 1440px) {
              border-top-right-radius: calc(58px * 0.75);
              border-bottom-right-radius: calc(58px * 0.75);
            }
          }
          >span {
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-weight: 300;
          }
        }
        >img {
          width: 175px;
          height: 175px;
          border-radius: 58px;
          object-fit: cover;
          object-position: center;
          @media screen and (max-width: 1440px) {
            width: calc(175px * 0.75);
            height: calc(175px * 0.75);
            border-radius: calc(58px * 0.75);
          }
        }
        .text-info-combo {
          display: flex;
          flex: 1;
          flex-direction: column;
          // margin-left: 59px;
          justify-content: center;
          @media screen and (max-width: 1440px) {
            // margin-left: calc(59px * 0.75);
          }
          >span{
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            color: #152436;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
          }
        }
        .text-info {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          // margin-left: 59px;
          @media screen and (max-width: 1440px) {
            // margin-left: calc(59px * 0.75);
          }
          >span {
            font-size: 18px;
            color: #152436;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: calc(18px * 0.75);
            }
          }
          .div-bt-view > button {
            background: transparent;
            border: none;
            padding: 0px;
            margin-top: 40px;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              margin-top: calc(40px * 0.75);
            }
            >img {
              width: 19px;
              height: 19px;
              margin-right: 5px;
              @media screen and (max-width: 1440px) {
                width: calc(19px * 0.75);
                height: calc(19px * 0.75);
              }
            }
            >span{
              font-size: 18px;
              font-style: normal;
              font-weight: 300;
              letter-spacing: 0.2em;
              text-decoration: underline;
              text-transform: uppercase;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
          }
        }
      }
    }
  }
  .div-scent-selection {
    overflow: hidden;
    .div-1 {
      display: flex;
      flex-direction: column;
      .div-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >h3 {
          font-size: 38px;
          align-items: center;
          color: #0D0D0D;
          margin: 0px;
          @media screen and (max-width: 1440px) {
            font-size: calc(38px * 0.75);
          }
        }
        .div-select {
          display: flex;
          flex-direction: row;
          >button {
            background: transparent;
            border: none;
            width: 120px;
            color: #8D8D8D;
            height: 38px;
            @media screen and (max-width: 1440px) {
              height: calc(38px * 0.75);
            }
          }
          .bt-active {
            color: #0D0D0D;
          }
          >button:nth-child(1) {
            float: left;
            border-right: 1px solid #8D8D8D;
          }
          >button:nth-child(2) {
            float: right;
          }
        }
      }
      .div-list-scent {
        .div-item-scent-selection {
          display: flex;
          flex-direction: row;
          position: relative;
          padding: 20px 0px;
          border-bottom: 1px solid #E2E2E2;
          cursor: pointer;
          @media screen and (max-width: 1440px) {
            padding-top: calc(20px * 0.75);
            padding-bottom: calc(20px * 0.75);
          }
          >img {
            width: 65px;
            height: 65px;
            border-radius: 21px;
            object-fit: cover;
            object-position: center;
            @media screen and (max-width: 1440px) {
              width: calc(65px * 0.75);
              height: calc(65px * 0.75);
              border-radius: calc(21px * 0.75);
            }
          }
          .div-text {
            display: flex;
            flex-direction: column;
            margin-left: 23px;
            justify-content: center;
            @media screen and (max-width: 1440px) {
              margin-left: calc(23px * 0.75);
            }
            >h3 {
              font-weight: 500;
              font-size: 18px;
              letter-spacing: 0.1em;
              color: #0D0D0D;
              margin-bottom: 3px;
              @media screen and (max-width: 1440px) {
                font-size: calc(18px * 0.75);
              }
            }
            >span {
              font-size: 16px;
              color: #8D8D8D;
              @media screen and (max-width: 1440px) {
                font-size: calc(16px * 0.75);
              }
            }
          }
          .bt-click-more {
            background: transparent;
            border: none;
            height: 21px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: (translateY(-50%));
            @media screen and (max-width: 1440px) {
              height: calc(21px * 0.75);
            }
          }
        }
      }
    }
    .div-2 {
      display: flex;
      flex-direction: column;
      .div-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
        cursor: pointer;
        @media screen and (max-width: 1440px) {
          margin-bottom: calc(24px * 0.75);
        }
        >button {
          background: transparent;
          border: none;
          margin-right: 37px;
          @media screen and (max-width: 1440px) {
            margin-right: calc(37px * 0.75);
          }
        }
        >h3 {
          font-size: 38px;
          align-items: center;
          color: #0D0D0D;
          margin: 0px;
          @media screen and (max-width: 1440px) {
            font-size: calc(38px * 0.75);
          }
        }
      }
      .div-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >button {
          width: 186px;
          height: 186px;
          border: none;
          background: transparent;
          padding: 0px;
          >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 62px;
            @media screen and (max-width: 1440px) {
              border-radius: calc(62px * 0.75);
            }
          }
          @media screen and (max-width: 1440px) {
            width: calc(186px * 0.75);
            height: calc(186px * 0.75);
          }
        }
      }
    }
    .div-text-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0px;
      @media screen and (max-width: 1440px) {
        padding-top: calc(24px * 0.75);
        padding-bottom: calc(24px * 0.75);
      }
      >button {
        background: transparent;
        border: none;
        font-size: 18px;
        text-decoration: underline;
        padding: 0px;
        margin: 0px;
        @media screen and (max-width: 1440px) {
          font-size: calc(18px * 0.75);
        }
      }
      >span {
        font-weight: 500;
        font-size: 32px;
        text-transform: uppercase;
        color: #152436;
        @media screen and (max-width: 1440px) {
          font-size: calc(32px * 0.75);
        }
      }
    }
  }
}

.modal-view-full-image {
  max-width: 100vw;
  margin: 0px;
  height: 100vh;
  overflow-y: hidden;
  .modal-content {
    height: 100%;
    border-radius: 0px;
    background-color: #F5ECDC;
    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
    .modal-body {
      padding: 110px 64px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1440px) {
        padding: 82px 48px;
      }
      @media screen and (max-width: 1024px) {
        padding: 20px;
        display: unset;
        align-items: unset;
        flex: unset;
      }
      .div-image-block {
        width: 100%;
        .div-image {
          .image-gallery {
            .image-gallery-content {
              .image-gallery-slide-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  .image-gallery {
    .image-gallery-content {
      display: flex;
      @media screen and (max-width: 1024px) {
        display: unset;
      }
      .image-gallery-thumbnails-wrapper {
        height: 100vh;
        @media screen and (max-width: 1024px) {
          height: auto;
        }
      }
    }
  }
}