.reviews-v3 {
  display: flex;
  justify-content: center;
  align-items: center;
  .content-reviews {
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 94px;

    @media screen and (max-width: 1248px) {
      &.padding-x {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    @media screen and (max-width: 1199px) {
      &.padding-x {
        padding: 16px;
      }
    }

    .text-title {
      font-weight: 400;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: start;
      color: #2C2C22;
      margin-bottom: 60px;
      width: 1200px;

      @media screen and (max-width: 1248px) {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        width: 100%;
        padding: 0px 16px;
        text-align: center;
      }

      .text-des {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #56564E;
        text-transform: initial;
        letter-spacing: 0;
        margin-top: 8px;
      }
    }
    .slick-slider {
      width: 100%;
      .slick-arrow {
        width: 56px;
        height: 56px;
        &.slick-prev {
          display: block;
          left: 20px;
          top: unset;
          bottom: -116px;
          left: 0px;
          &::before {
            content: '';
            background: url('../../../imagev2/png/icon-prev-v2.png') no-repeat;
            width: 56px;
            height: 56px;
            position: absolute;
            top: 0;
            right: 0;
            background-size: 100%;
          }
        }
        &.slick-next {
          display: block;
          bottom: -116px;
          top: unset;
          left: 79px;
          &::before {
            content: '';
            background: url('../../../imagev2/png/icon-next-v2.png') no-repeat;
            width: 56px;
            height: 56px;
            position: absolute;
            top: 0;
            right: 0;
            background-size: 100%;
          }
        }
      }
    }
    .row-review {
      .item-review-v3 {
        width: 384px;
        height: 472px;
        padding: 24px;
        background: #F1E4CD;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        > img {
          width: 48px;
          margin-bottom: 24px;
          @media screen and (max-width: 767px) {
            width: 43px;
          }
        }
        .div-des {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #56564E;
          margin-bottom: 24px;
          flex: 1;
          height: 146px;
          overflow-y: auto;
        }
        .name {
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          margin-bottom: 2px;
        }
        .date {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #8D826E;
          text-transform: uppercase;
        }
        .gift {
          font-size: 14px;
          line-height: 150%;
          text-transform: uppercase;
          color: #56564E;
        }
      }

      @media screen and (max-width: 1199px) {
        flex-direction: column;
        align-items: center;
        .item-review-v3 {
          max-width: calc(100% - 16px);
        }
      }

      @media screen and (max-width: 767px) {
        .item-review-v3 {
          width: 100%;
          max-width: 100%;
          margin-bottom: 16px;
        }
      }
    }
  }
}