@import '../../../styles/colors';

.express-checkout-v2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  .express-only-paypal {
    width: 100%;
    &.show-apple {
      .express-header {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #8D826E;
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
      }
      .div-list-button {
        display: flex;
        justify-content: space-between;
        .div-button-apple, .button-paypal {
          height: 64px;
          width: calc((100% - 24px) / 2);
          background: $Primary-30;
          border: 1px solid $Secondary-60;
          border-radius: 20px;
          @media screen and (max-width: 1024px) {
            height: 48px;
            border-radius: 10px;
            width: calc((100% - 16px) / 2);
          }
          .bt-apple-pay {
            height: 100%;
          }
        }
        .div-button-apple {
          border: none;
          background: transparent;
        }
      }
    }
    .bt-paypal-only {
      width: 100%;
      height: 96px;
      display: flex;
      justify-content: space-between;
      padding: 0px 32px 0px 32px;
      background: $Primary-30;
      border: 1px solid #2C2C22;
      border-radius: 20px;
      align-items: center;
      @media screen and (max-width: 1024px) {
        height: 68px;
        padding: 0px 24px;
      }
      .div-image {
        align-items: center;
        >img {
          height: 24px;
          margin-right: 24px;
          @media screen and (max-width: 1024px) {
            height: 18px;
            margin-right: 12px;
          }
        }
        .MuiSvgIcon-root {
          font-size: 12px;
          @media screen and (max-width: 1024px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}