.div-faq-block {
  width: calc(100vw - 214px * 2);
  margin-bottom: 50px;
  @media screen and(max-width: 1440px){
    margin-bottom: 37.5px;
    width: calc(100vw - 160px * 2);
  }
  @media screen and(max-width: 1024px) {
    width: calc(100vw - 15px * 2);
    margin-bottom: 30px;
  }
  .div-content-faq {
    >h3 {
      font-weight: 300;
      font-size: 2.25rem;
      color: #0D0D0D;
      margin-bottom: calc(40px * 1.33);
      width: 100%;
      text-align: center;
      @media screen and (max-width: 1440px) {
        font-weight: 300;
        font-size: 1.9285rem;
        margin-bottom: 40px;
      }
      @media screen and(max-width: 1024px) {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
    }
    .line-top {
      width: 100%;
      height: 1px;
      background: #e2e2e2;
    }
  }
}