.item-list-scent {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  cursor: pointer;
  @media screen and (max-width: 1440px) {
    margin-top: 11.5px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 15px;
  }
  &.no-scent {
    margin-top: 25px;
    @media screen and (max-width: 1440px) {
      margin-top: 25px;
    } 
    @media screen and (max-width: 1024px) {
      margin-top: 25px;
    }
    >img {
      object-fit: contain;
      box-shadow: none;
    }
  }
  &.item-v2 {
    margin: 0px;
    .text {
      .div-row {
        >span {
          font-weight: 300;
          color: #8D8D8D;
          font-size: 1.6625rem;
          line-height: calc(29px * 1.33);
          margin-bottom: calc(5px * 1.33);
          @media screen and (max-width: 1440px) {
            font-size: 1.4285rem;
            line-height: 29px;
            margin-bottom: 5px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 1.2142rem;
            line-height: 25px;
            margin-bottom: 1px;
          }
        }
      }
      .header_4 {
        font-weight: 300;
        font-size: 1.33rem;
        color: #0D0D0D;
        font-weight: 300;
        @media screen and (max-width: 1440px) {
          font-size: 1.1428rem;
        }
      }
    }
  }
  &.item-v3 {
    >img {
      width: calc(48px * 1.33);
      height: calc(48px * 1.33);
      margin-right: calc(20px * 1.33);
      border-radius: calc(16px * 1.33);
      box-shadow: unset;
      @media screen and (max-width: 1440px) {
        width: 48px;
        height: 48px;
        margin-right: 20px;
        border-radius: 16px;
      }
      @media screen and (max-width: 1024px) {
        margin-right: 13px;
        border-radius: 15px;
      }
    }
    .text {
      .div-row {
        justify-content: space-between;
        >span {
          font-weight: 300;
          color: #0D0D0D;
          font-size: 1.49625rem;
          line-height: calc(26px * 1.33);
          margin-bottom: 0px;
          @media screen and (max-width: 1440px) {
            font-size: 1.2857rem;
            line-height: 26px;
            margin-bottom: 0px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 1.2142rem;
            line-height: 25px;
            margin-bottom: 1px;
          }
        }
        .bt-change {
          font-size: 0.9975rem;
          @media screen and (max-width: 1440px) {
            font-size: 0.85714rem;
          }
          @media screen and (max-width: 1024px) {
            font-size: 0.6428rem;
            margin-right: 2px;
          }
          >img {
            height: calc(18px * 1.33);
            margin-left: calc(9px * 1.33);
            @media screen and (max-width: 1440px) {
              height: 18px;
              margin-left: 9px;
            }
            @media screen and (max-width: 1024px) {
              height: 14px;
              margin-left: 2px;
            }
          }
        }
      }
      .header_4 {
        font-weight: 300;
        font-size: 1.16375rem;
        line-height: calc(20px * 1.33);
        color: #8D8D8D;
        font-weight: 300;
        @media screen and (max-width: 1440px) {
          font-size: 1rem;
          line-height: 20px;
        }
      }
    }
  }
  .div-image {
    display: flex;
    width: calc(76px * 1.33);
    height: calc(76px * 1.33);
    margin-right: calc(20px * 1.33);
    @media screen and (max-width: 1440px) {
      width: 76px;
      height: 76px;
      margin-right: 20px;
    }
    @media screen and (max-width: 1024px) {
      width: 49px;
      height: 49px;
      margin-right: 12px;
    }
    >img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    >img:nth-child(1) {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      @media screen and (max-width: 1024px) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }
    >img:nth-child(2) {
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      @media screen and (max-width: 1024px) {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
  >img {
    box-shadow: 0px 5.33333px 5.33333px rgba(0, 0, 0, 0.25);
    width: 86px;
    height: 86px;
    margin-right: 35px;
    border-radius: 29.12px;
    object-fit: cover;
    @media screen and (max-width: 1440px) {
      width: 65px;
      height: 65px;
      box-shadow: 0px 4.00025px 4.00025px rgba(0, 0, 0, 0.25);
      border-radius: 22.12px;
      margin-right: 26.5px;
    }
    @media screen and (max-width: 1024px) {
      width: 48px;
      height: 48px;
      box-shadow: none;
      border-radius: 16.128px;
      margin-right: 13px;
    }
  }
  
  .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    >div {
      align-items: baseline;
      >span {
        font-weight: 300;
        font-size: 1rem;
        line-height: 23px;
        color: #0D0D0D;
        margin-right: 15px;
        @media screen and (max-width: 1440px) {
          font-size: 0.8571rem;
          line-height: 17px;
          margin-right: 10.76px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 1.2142rem;
          line-height: 25px;
          margin-right: 16.25px;
        }
      }
      >button {
        >img {
          width: 20px;
          height: 20px;
          @media screen and (max-width: 1440px) {
            width: 15px;
            height: 15px;
          }
          @media screen and (max-width: 1024px) {
            width: 13px;
            height: 13px;
          }

        }
      }
    }
    .header_4 {
      color: #8D8D8D;
    }
  }
  .bt-info, .view-more {
    font-style: normal;
    font-weight: normal;
    font-size: 0.7222rem;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #0D0D0D;
    @media screen and (max-width: 1440px) {
      font-size: 0.7142rem;
      line-height: 14px;
    }
    >img {
      @media screen and (max-width: 1024px) {
        height: 11.5px;
      }
    }
  }
  .bt-info {
    font-size: 0.9975rem;
    text-decoration-line: unset;
    @media screen and (max-width: 1440px) {
      font-size: 0.85714rem;
    }
    @media screen and (max-width: 1024px) {
      font-size: 0.5rem;
    }
    >img {
      height: calc(11.5px * 1.33);
      margin-left: 10px;
      @media screen and (max-width: 1440px) {
        height: 11.5px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: 7px;
      }
    }
  }
}