.item-list-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  @media screen and (max-width: 1440px) {
    margin-top: 22.5px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 15px;
  }
  &.item-type-v2 {
    padding-left: 32px;
    @media screen and (max-width: 1440px) {
      padding-left: 24px;
    }
    @media screen and (max-width: 1024px) {
      padding-left: unset;
    }
    .div-radio {
      width: calc(37px * 1.33);
      margin-right: unset;
      @media screen and (max-width: 1440px) {
        width: 37px;
      }
      @media screen and (max-width: 1024px) {
        width: 50px;
      }
      .radio-button {
        margin: unset;
        &.active {
          .point {
            border: 2.13118px solid #0D0D0D;
            >button {
              background: #0D0D0D;
            }
          }
        }
        .point {
          border: 2.13118px solid #0D0D0D;
          background: #F5ECDC;
        }
      }
    }
    >span {
      font-weight: 300;
    }
    .text-active {
      font-weight: 400;
    }
  }
  .div-radio {
    width: 86.67px;
    margin-right: 35.3px;
    display: flex;
    @media screen and (max-width: 1440px) {
      width: 65px;
      margin-right: 26.5px;
    }
    @media screen and (max-width: 1024px) {
      width: 48px;
      margin-right: 13px;
    }
    .radio-button {
      margin: auto;
      &.active {
        .point {
          border: 2.13118px solid #B79B53;
          margin-right: 0px;
          >button {
            background: #B79B53;
          }
        }
      }
      .point {
        border: 2.13118px solid #B79B53;
        width: 24px;
        height: 24px;
        margin-right: 0px;
        @media screen and (max-width: 1440px) {
          width: 19px;
          height: 19px;
        }
        @media screen and (max-width: 1024px) {
          width: 16.39px;
          height: 16.39px;
        }
        >button {
          width: 12px;
          height: 12px;
          @media screen and (max-width: 1440px) {
            width: 9px;
            height: 9px;
          }
          @media screen and (max-width: 1024px) {
            width: 8.19px;
            height: 8.19px;
          }
        }
      }
    }
  }
  >span {
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #0D0D0D;
    flex: 1;
    padding-right: 13px;
    @media only screen and (max-width: 1440px) {
      padding-right: 15px;
      font-size: 16px;
    }
    @media only screen and (max-width: 1024px) {
      padding-right: 4px;
      font-size: 13px;
    } 
    >span {
      margin-left: 1rem;
    }
  }
  .price {
    display: flex;
    flex-direction: row;
    .header_4 {
      color: #0D0D0D;
      margin-right: 76px;
      @media screen and (max-width: 1440px) {
        margin-right: 57px;
      }
      @media screen and (max-width: 1024px) {
        margin-right: 17px;
      }
    }
    .view-more {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.15em;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #0D0D0D;
      @media screen and (max-width: 1440px) {
        font-size: 9.75061px;
        line-height: 14px;
      }
      >img {
        @media screen and (max-width: 1024px) {
          height: 11.5px;
        }
      }
      &.disable {
        cursor: not-allowed;
      }
    }
  }
  .bt-info {
    font-size: calc(12px * 1.33);
    @media screen and (max-width: 1440px) {
      font-size: 12px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 7px;
    }
    >img {
      height: calc(11.5px * 1.33);
      margin-left: 10px;
      @media screen and (max-width: 1440px) {
        height: 11.5px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: 7px;
      }
    }
  }
}