.item-bottle {
  width: 100%;
  cursor: pointer;
  padding-left: 32px;
  @media screen and (max-width: 1440px) {
    padding-left: 24px;
  }
  @media screen and (max-width: 1024px) {
    padding-left: 15px;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .div-left {
    flex: 1;
    align-items: center;
    .div-image-bottle-custom {
      margin-right: calc(30px * 1.33);
      @media screen and (max-width: 1440px) {
        margin-right: 30px;
      }
      .img-bottle {
        height: calc(51px * 1.33);
        @media screen and (max-width: 1440px) {
          height: 51px;
        }
        @media screen and (max-width: 1024px) {
          height: 44px;
        }
      }
      .img-name {
        top: 19px;
        height: 43px;
        width: 13px;
        @media screen and (max-width: 1440px) {
          top: 15px;
          height: 33px;
          width: 9px;
        }
        @media screen and (max-width: 1024px) {
          top: 13px;
          height: 29px;
          width: 8px;
        }
      }
      .text-des-custome, .text-size-custome, .custome-name, .image-logo {
        visibility: hidden;
      }
    }
    .div-text {
      .line-1 {
        >img {
          width: calc(12px * 1.33);
          margin-right: calc(5px * 1.33);
          @media screen and (max-width: 1440px) {
            width: 12px;
            margin-right: 5px;
          }
        }
        font-size: calc(18px * 1.33);
        color: #B79B53;
        line-height: calc(26px * 1.33);
        @media screen and (max-width: 1440px) {
          font-size: 18px;
          line-height: 26px;
        }
      }
      .line-2 {
        font-weight: 300;
        font-size: calc(16px * 1.33);
        color: rgba(141, 141, 141, 0.7);
        @media screen and (max-width: 1440px) {
          font-size: 16px;
        }
      }
    }
  }
  >button {
    >img {
      height: calc(11.5px * 1.33);
      @media screen and (max-width: 1440px) {
        height: 11.5px;
      }
    }
  }
}