.modal-info-result {
  width: 900px !important;
  max-width: 900px !important;
  @media screen and (max-width: 1440px) {
    width: 675px !important;
    max-width: 675px !important;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 30px) !important;
    max-height: calc(80vh);
    margin: auto;
  }
  .modal-content {
    width: 900px;
    max-width: 900px;
    padding: 50px 100px 122px 100px;
    border: none;
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
    border-radius: 0px;
    display: inline-block;
    &::-webkit-scrollbar {
      display: none;
    }
    @media screen and (max-width: 1440px) {
      width: 675px;
      max-width: 675px;
      padding: 37.5px 75.75px 91.5px 75.75px;
    }
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 30px);
      max-width: calc(100vw - 30px);
      padding: 50px 35px 70px 35px;
      margin: auto;
      max-height: calc(80vh);
    }
    .bt-close {
      width: 23.88px;
      height: 23.88px;
      position: absolute;
      top: 15px;
      left: 15px;
      display: flex;
      @media screen and (max-width: 1440px) {
        width: 17.88px;
        height: 17.88px;
      }
      @media screen and (max-width: 1024px) {
        width: 10px;
        height: 10px;
      }
    }
    .body-modal {
      display: flex;
      flex-direction:column;
      .full-scent {
        display: flex;
        flex-direction: column;
        align-items: center;
        .div-combo-image {
          width: calc(180px * 1.33);
          height: calc(180px * 1.33);
          border-radius: 30%;
          overflow: hidden;
          position: relative;
          margin: 20px 0px 50px 0px;
          @media screen and (max-width: 1440px){
            width: 180px;
            height: 180px;
          }
          @media screen and (max-width: 1024px) {
            width: 180px;
            height: 180px;
            margin: 0px 0px 50px 0px;
          }
          >img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          >span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: calc(26px * 1.33);
            color: white;
            text-align: center;
            @media screen and (max-width: 1440px) {
              font-size: 26px;
            }
          }
        }
        >h4 {
          margin-bottom: 30px;
          text-align: center;
        }
        .des {
          text-align: center;
        }
        .div-slide-color {
          display: flex !important;
          flex-direction: column;
          margin-top: 10px;
          width: 100%;

          .div-process-circle {
            flex-direction: row;
            display: flex;
            justify-content: center;
            .progress-circle:nth-child(1) {
              margin-bottom: 40px;
              @media screen and (max-width: 1440px) {
                margin-bottom: 30px;
              }
            }
            .progress-circle {
              width: 173px;
              @media screen and (max-width: 1440px) {
                width: 130px;
              }
              @media screen and (max-width: 1024px) {
                width: 110px;
              }
              >span {
                font-size: 18px;
                letter-spacing: unset;
                font-weight: 300;
                @media screen and (max-width: 1440px) {
                  font-size: calc(18px * 0.75);
                }
              } 
            }
          }
          .div-process-line {
            width: 300px;
            margin: auto;
            @media screen and (max-width: 1440px) {
              width: 300px;
            }
            @media screen and (max-width: 1024px) {
              width: 100%;
              flex: 1;
            }
            .progressLine {
              margin-bottom: 12px;
              display: flex;
              flex-direction: column-reverse;
              @media screen and (max-width: 1440px) {
                margin-bottom: 12px;
              }
              @media screen and (max-width: 1024px) {
                margin-bottom: 10px;
              }
              .div-text {
                margin-top: 16.42px;
                margin-bottom: 0px;
                @media screen and (max-width: 1440px) {
                  margin-top: 12.31px;
                }
                @media screen and (max-width: 1024px) {
                  margin-top: 10px;
                }
                >span {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 23px;
                  color: #0D0D0D;
                  @media screen and (max-width: 1440px) {
                    font-size: 12px;
                    line-height: 17px;
                  }
                  @media screen and (max-width: 1024px) {
                    font-size: 13px;
                    line-height: 19px;
                  }
                }
              }
              .div-progress {
                height: 9.38px;
                @media screen and (max-width: 1440px) {
                  height: 7.04px;
                }
                @media screen and (max-width: 1024px) {
                  height: 9.38px;
                }
              }
            }
          }
        }
      }
      .div-image {
        width: 100%;
        height: 500px;
        @media screen and (max-width: 1440px) {
          width: 100%;
          height: 375px;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          height: calc(100vw - 30px - 35px * 2);
        }
        .item-image {
          height: 500px;
          object-fit: cover;
            @media screen and (max-width: 1440px) {
              width: 100%;
              height: 375px;
            }
            @media screen and (max-width: 1024px) {
              width: 100%;
              height: calc(100vw - 30px - 35px * 2);
            }
        }
        .slick-slider {
          .slick-dots {
            bottom: -40px;
            @media screen and (max-width: 1440px) {
              bottom: -34.5px;
            }
            @media screen and (max-width: 1024px) {
              bottom: -30px;
            }
            >li {
              margin: 0px;
              >button::before {
                color: #C4C4C4;
                font-size: 14px;
                @media screen and (max-width: 1440px) {
                  font-size: 11px;
                }
                @media screen and (max-width: 1024px) {
                  font-size: 7.38px;
                }
              }
            }
            .slick-active {
              >button::before {
                color: #B79B53;
              }
            }
          }
        }
      }
      .title {
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 27px;
        display: flex;
        color: #0D0D0D;
        margin-top: 75px;
        margin-bottom: 16.5px;
        @media screen and (max-width: 1440px) {
          font-size: 18.75px;
          line-height: 20px;
          margin-top: 56.25px;
          margin-bottom: 12.3px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 17px;
          line-height: 25px;
          margin-top: 37px;
          margin-bottom: 9px;
        }
      }
      .des {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #0D0D0D;
        @media screen and (max-width: 1440px) {
          font-size: 12px;
          line-height: 17px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 10px;
          line-height: 14px;
        }

      }
    }
  }
}