.div-card-perfume, .div-card-perfume-v2 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items:center;
  padding: 50px 0px;
  padding-left: calc(100vw * 0.08215);
  border-bottom: 1.25184px solid #000000;
  @media screen and (max-width: 1440px) {
    padding: 37.5px 0px;
    padding-left: calc(100vw * 0.08215);
  }
  @media screen and (max-width: 1024px) {
    padding: 25px 0px;
    padding-left: 35px;
    padding-right: 35px;
    flex-direction: column;
  }

  // for mobile
  .div-name-scents {
    align-items: center;
    margin: auto;
    >span {
      font-style: normal;
      text-align: center;
      color: #0D0D0D;
    }
    .sp1 {
      font-weight: normal;
      letter-spacing: 0.02em;
      @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
        line-height: 30px;
      }
    }
    .sp2 {
      font-weight: 300;
      @media screen and (max-width: 1024px) {
        font-size: 0.7142rem;
        line-height: 14px;
      }
    }
    &.image-external {
      @media screen and (max-width: 1024px) {
        margin-bottom: 14px;
      }
      >div {
        @media screen and (max-width: 1024px) {
          flex: 1;
          justify-content: center;
          align-items: center;
        }
      }
      .img-external {
        @media screen and (max-width: 1024px) {
          margin-top: 10px;
          height: 64px;
          margin-left: unset;
        }
      }
    }
  }

  .swiper-perfume {
    width: 490px;
    height: 100%;
    margin-right: 120px;
    @media screen and (max-width: 1440px) {
      width: 367.5px;
      height: 100%;
      margin-right: 90px;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
      margin-right: unset;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    .slick-slider {
      .slick-list {
        .slick-track {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .slick-dots {
        bottom: -30px;
        @media screen and (max-width: 1440px) {
          bottom: -22.5px;
        }
        @media screen and (max-width: 1024px) {
          bottom: -40px;
        }
        >li {
          margin: 0px;
          >button::before {
            color: #C4C4C4;
            font-size: 0.75rem;
            @media screen and (max-width: 1440px) {
              font-size: 0.6428rem;
            }
            @media screen and (max-width: 1024px) {
              font-size: 0.71428rem;
            }
          }
        }
        .slick-active {
          >button::before {
            color: #B79B53;
          }
        }
      }
    }
    .div-slide-color {
      display: flex !important;
      .div-process-circle {
        .progress-circle:nth-child(1) {
          margin-bottom: 40px;
          @media screen and (max-width: 1440px) {
            margin-bottom: 30px;
          }
        }
        .progress-circle {
          width: 173px;
          @media screen and (max-width: 1440px) {
            width: 130px;
          }
          @media screen and (max-width: 1024px) {
            width: 110px;
          }
          >span {
            font-size: 1.125rem;
            letter-spacing: unset;
            font-weight: 300;
            @media screen and (max-width: 1440px) {
              font-size: 0.964rem;
            }
          } 
        }
      }
      .div-process-line {
        width: 317px;
        margin: auto;
        @media screen and (max-width: 1440px) {
          width: 238px;
        }
        @media screen and (max-width: 1024px) {
          width: unset;
          flex: 1;
        }
        .progressLine {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column-reverse;
          @media screen and (max-width: 1440px) {
            margin-bottom: 22.5px;
          }
          @media screen and (max-width: 1024px) {
            margin-bottom: 10px;
          }
          .div-text {
            margin-top: 16.42px;
            margin-bottom: 0px;
            @media screen and (max-width: 1440px) {
              margin-top: 12.31px;
            }
            @media screen and (max-width: 1024px) {
              margin-top: 10px;
            }
            >span {
              font-style: normal;
              font-weight: 300;
              font-size: 1rem;
              line-height: 23px;
              color: #0D0D0D;
              @media screen and (max-width: 1440px) {
                font-size: 0.857rem;
                line-height: 17px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 0.9285rem;
                line-height: 19px;
              }
            }
          }
          .div-progress {
            height: 9.38px;
            @media screen and (max-width: 1440px) {
              height: 7.04px;
            }
            @media screen and (max-width: 1024px) {
              height: 9.38px;
            }
          }
        }
      }
    }

    .div-slide-scent {
      .div-item-image-scent {
        height: 490px;
        padding-top: unset;
        @media screen and (max-width: 1440px) {
          height: 367px;
        }
        @media screen and (max-width: 1024px) {
          height: 168px;
        }
        .scent-image {
          .div-img-bottle {
            .text-ingredients {
              >span {
                font-size: 9px;
                @media screen and (max-width: 1440px) {
                  font-size: 7px;
                }
                @media screen and (max-width: 1024px) {
                  font-size: 4px;
                }
              }
            }
            .custom-image-name {
              width: 66%;
              @media screen and (max-width: 1024px) {
                width: 38%;
                border-radius: 12px;
              }
            }
            .custom-text-name{
              font-size: 10px;
              @media screen and (max-width: 1440px) {
                font-size: 8px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 4px;
              }
              top: 82%;
            }
            .custom-size {
              font-size: 8px;
              @media screen and (max-width: 1440px) {
                font-size: 6px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 3px;
              }
            }
            .custom-des {
              font-size: 8px;
              width: 100%;
              top: 86%;
              @media screen and (max-width: 1440px) {
                font-size: 6px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 3px;
              }
            }
          }
        }
      }
    }
  }
  .div-scents-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 732px;
    @media screen and (max-width: 1440px) {
      width: 549px;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    // for browser
    .div-name-scents {
      align-items: center;
      &.image-external {
        >div {
          flex: 1;
          align-items: flex-start;
          justify-content: center;
        }
        .img-external {
          height: 84px;
          margin-left: 20px;
          @media screen and (max-width: 1440px) {
            height: 64px;
            margin-left: 15px;
          }
        }
      }
      .sp1, .sp2 {
        font-style: normal;
        text-align: center;
        color: #0D0D0D;
      }
      .sp1 {
        font-weight: normal;
        font-size: 2.25rem;
        line-height: 52px;
        letter-spacing: 0.02em;
        @media screen and (max-width: 1440px) {
          font-size: 1.9285rem;
          line-height: 39px;
        }
      }
      .sp2 {
        font-weight: 300;
        font-size: 1rem;
        line-height: 23px;
        @media screen and (max-width: 1440px) {
          font-size: 1.14285rem;
          line-height: 23px;
        }
        @media screen and (max-width: 1024px) {
          font-size: 0.7142rem;
          line-height: 14px;
        }
      }
    }

    .list-scents {
      width: 100%;
      border-top: 1.25184px solid #000000;
      border-bottom: 1.25184px solid #000000;
      padding-top: 15px;
      padding-bottom: 30px;
      margin-top: 30px;
      @media screen and (max-width: 1440px) {
        border-top: 0.938879px solid #000000;
        border-bottom: 0.938879px solid #000000;
        padding-top: 11px;
        padding-bottom: 22.75px;
        margin-top: 22.75px;
      }
      @media screen and (max-width: 1024px) {
        border-top: 0.671673px solid #000000;
        border-bottom: 0.671673px solid #000000;
        padding-top: 0px;
        padding-bottom: 15px;
        margin-top: 22.75px;
        .item-list-scent:nth-child(1) {
          padding-bottom: 11px;
        }
      }
    }
    .list-button {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        margin: 15px 0px 30px 0px;
        align-items: center;
        flex-direction: column-reverse;
      }
      >button {
        margin: 30px 17.5px 50px 17.5px;
        @media screen and (max-width: 1440px) {
          margin: 22.5px 9.5px 37.8px 9.5px;
        }
        @media screen and (max-width: 1024px) {
          margin: 15px 0px 0px 0px;
        }
      }
      &.list-v2 {
        justify-content: flex-start;
        .bt-bg-cart {
          width: calc(305px * 1.33);
          height: calc(42px * 1.33);
          font-weight: normal;
          font-size: 1.080625rem;
          letter-spacing: 0.15em;
          color: #FFFFFF;
          background: #B79B53;
          margin-left: 0px;
          @media screen and (max-width: 1440px) {
            width: 305px;
            height: 42px;
            font-size: 0.9285rem;
          }
          @media screen and (max-width: 1024px) {
            width: calc(100vw - 70px);
          }
        }
      }
    }
  }
}

.div-card-perfume-v2 {
  padding: 0px;
  width: calc(100vw - 266px);
  align-items: flex-start;
  position: relative;
  padding-top: calc(160px * 1.33);
  border-bottom: none;
  @media screen and (max-width: 1440px) {
    width: calc(100vw - 200px);
    padding-top: 160px;
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 70px);
    padding-top: 100px;
  }
  .image-perfume {
    width: 50%;
    padding-right: calc(30px * 1.33);
    @media screen and (max-width: 1440px) {
      padding-right: 30px;
    }
    @media screen and (max-width: 1024px) {
      padding-right: unset;
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .div-scents-result {
    width: 50%;
    border-left: 1px solid rgba(141, 141, 141, 0.3);
    padding-left: calc(30px * 1.33);
    @media screen and (max-width: 1440px) {
      padding-left: 30px;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      border-left: none;
      padding-left: unset;
    }
    .list-scents {
      margin-top: -15px;
      border-top: unset;
      border-bottom: unset;
      padding: 0px;
      @media screen and (max-width: 1440px) {
        margin-top: -11.5px;
      }
    }
    .list-type {
      margin-top: -30px;
      @media screen and (max-width: 1440px) {
        margin-top: -22.5px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: 15px;
      }
    }
  }

  .div-name-scents {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #0D0D0D;
    width: 100%;
    @media screen and (max-width: 1024px) {
      top: 30px;
    }
    .sp1 {
      font-size: 2.3275rem;
      font-weight: normal;
      margin-bottom: 5px;
      @media screen and (max-width: 1440px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
      }
      >img {
        height: calc(30px * 1.33);
        margin-right: 7px;
        @media screen and (max-width: 1440px) {
          height: 30px;
        }
        @media screen and (max-width: 1024px) {
          height: 27px;
          margin-right: 11px;
        }
      }
    }
    .sp2 {
      font-weight: 300;
      font-size: 1.49625rem;
      @media screen and (max-width: 1440px) {
        font-size: 1.2857rem;
      }
      @media screen and (max-width: 1024px) {
        font-size: 0.714285rem;
      }
    }
  }

  .header-step {
    padding: 18px 32px;
    width: 100%;
    background: #EBD8B8;
    border-radius: calc(72px * 1.33);  
    display: flex;
    align-items: center;
    margin: 26px 0px;
    @media screen and (max-width: 1440px) {
      padding: 14px 24px;
      border-radius: 72px;
      margin: 20px 0px;
    }
    @media screen and (max-width: 1024px) {
      padding: 12px 30px;
      width: 100vw;
      border-radius: 0px;
      margin: 15px 0px;
      margin-left: -30px;
    }
    &.disabled {
      opacity: 0.5;
    }
    .step {
      width: calc(21px * 1.33);
      height: calc(21px * 1.33);
      font-size: 0.9975rem;
      line-height: calc(21px * 1.33);
      margin-right: calc(10px * 1.33);
      color: #0D0D0D;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      border: 1px solid;
      @media screen and (max-width: 1440px) {
        width: 21px;
        height: 21px;
        font-size: 0.8571rem;
        margin-right: 10px;
        line-height: 21px;
      }
    }
    >span {
      font-weight: 500;
      font-size: 1.33rem;
      color: #0D0D0D;
      @media screen and (max-width: 1440px) {
        font-size: 1.1428rem;
      }
    }
  }
}