.yes-no-quiz-ferrari {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #181818;
  .title-ferrari {
    padding: 80px 140px;
    text-align: center;
    font-family: 'Ferrari';
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    @media screen and (max-width: 991px) {
      padding: 55px 130px;
      font-size: 24px;
      letter-spacing: 0.05em;
    }
    @media screen and (max-width: 767px) {
      padding: 64px 32px;
      font-size: 18px;
    }
  }
  .wrap-div-yes-no {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      padding: 0px 12px;
      flex-direction: column;
      width: 100%;
    }
    .div-yes-no {
      width: calc((100% - 9px) / 2);
      height: 100%;
      @media screen and (max-width: 767px) {
        width: 100%;
        height: calc((100% - 8px) / 2);
      }
    }
  }
}