@import '../../styles/colors';

.block-usp-wrap {
  padding: 64px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1024px) {
    padding: 24px;
  }
  .header-text {
    margin-bottom: 116px;
  }
  .div-block-usp {
    display: flex;
    margin: auto;
    align-items: flex-start;
    @media screen and (max-width: 1024px) {
      padding: 24px;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
    .item-block-usp {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 282px;
      margin: 0px 12px;
      @media screen and (max-width: 1024px) {
        margin: 24px 0px;
        width: 100%;
      }
      >img {
        margin-bottom: 24px;
        width: 64px;
        height: 64px;
        @media screen and (max-width: 1024px) {
          margin-bottom: 12px;
          width: 32px;
          height: 32px;
        }
      }
      .des {
        margin-top: 12px;
        font-size: 16px;
        line-height: 150%;
        color: $Secondary-40;
      }
    }
  }
}

