.step-check-out {
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  @media screen and (max-width: 1024px) {
    height: 72px;
  }
  &.only-gift {
    .div-step-item {
      width: 50%;
    }
    .div-step-item:nth-child(2) { 
      border-left: 1px solid #8D826E;
      border-right: none;
    }
  }
  .div-step-item {
    width: 33.33%;
    margin: auto;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
    }
  }
  .div-step-item:nth-child(2) {
    border-left: 1px solid #8D826E;
    border-right: 1px solid #8D826E;
  }
}