.mobi--review-banner {
  margin-top: 40px;
  background-color: #e5e5e5;

  .slick-dots {
    bottom: -2rem;
    ul {
      padding-left: unset;
    }
    li {
      &.slick-active {
        color: #0D0D0D;
        font-weight: 600;
        button::before {
          content: "";
          opacity: 1;
          z-index: 1;
          position: absolute;
          top: 40%;
          left: 40%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 8px;
          background-color: #0D0D0D;
          border: 2px solid #fff;
          border-radius: 20px;
        }

        button::after {
          content: "";
          position: absolute;
          top: 40%;
          left: 40%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 12px;
          background-color: #0D0D0D;
          border-radius: 20px;
        }
      }
    }
  }

  .mobi__item {
    .banner-image {
      img {
        width: 100vw;
      }
    }

    .banner-content {
      padding-top: 1.625rem;

      h3 {
        font-weight: bold;
        font-size: 1.3125rem;
      }

      p {
        font-size: 0.875rem;
        text-align: center;
        padding: 1.375rem 2rem 1.25rem 2rem;
        margin-bottom: 0rem;
      }
    }
  }

  .banner-link {
    padding-top: 4.625rem;

    .readBtn {
      background-color: #0D0D0D;
      font-weight: 600;
      font-size: 0.875rem;
      padding: 0.875rem 4rem;
      color: #fff;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border: 1px solid #0D0D0D;
      border-radius: 0.375rem;
    }

    a {
      text-decoration: none;
    }
  }

  .down-btn {
    padding-top: 1.5rem;
    
    i {
      font-size: 1.5rem;
    }
  }
}
