.detail-scent-glossaire {
  flex-grow: 1;
  .header-detail {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 72px);
    padding: 0 16px;
    margin-bottom: 3em;
    @media screen and (max-width: 1024px) {
      margin-bottom: 1em;
    }
    .info {
      h2 {
        font-size: 48px;
        margin-top: -8px;
        @media screen and (max-width: 1024px) {
          font-size: 28px;
          margin-bottom: 0;
          margin-top: 0px;
        }
      }
      span {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @media screen and (max-width: 1024px) {
          font-size: 10px;
        }
      }
    }
    .action-box {
      .btn-back {
        border: 0;
        background: 0;
        padding: 0;
        margin-bottom: 20px;
        font-size: 14px;
        width: 100%;
        text-align: right;
        letter-spacing: 0.1em;
        font-weight: 500;
        display: flex;
        align-items: center;
        white-space: nowrap;
        img {
          height: 13px;
          margin-left: 16px;
          margin-bottom: 1px;
        }
      }
      .group-box {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        button {
          width: 84px;
          border: 1px solid #8d8d8d;
          padding: 8px 0;
          background: white;
          text-transform: uppercase;
          font-size: 12px;
          display: flex;
          letter-spacing: 0.2em;
          font-weight: 500;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 1024px) {
            width: 105px;
            padding: 12px 0;
          }
          &:disabled {
            img {
              opacity: 0.4;
            }
          }
        }
        .btn-next {
          border-left: 1px solid #8d8d8d80;
          img {
            height: 10px;
            margin-left: 8px;
            margin-bottom: 1px;
          }
        }
        .btn-prev {
          border-right: 1px solid #8d8d8d80;
          img {
            height: 10px;
            margin-right: 8px;
            margin-bottom: 1px;
          }
        }
      }
    }
  }
  .wrapper-detail {
    padding-right: 89px;
    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      margin-left: -35px;
      padding-right: 50px;
    }
    .content-detail {
      padding-left: 5em;
      padding-right: 5em;
      text-align: center;
      @media screen and (max-width: 1024px) {
        padding: 24px 8px 8px;
        text-align: center;
        margin-bottom: 2em;
      }
      h3 {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 1em;
        letter-spacing: 0.1em;
        font-weight: 500;
      }
      .content {
        font-size: 16px;
        line-height: 159%;
        color: #0d0d0d;
        padding: 8px 3em;
        @media screen and (max-width: 1024px) {
          padding: 8px 0;
        }
        p {
          margin-bottom: 0em;
        }
        // ellipse text
        // @media screen and (max-width: 1024px) {
          .read-more-btn {
            font-size: 14px;
            color: #0d0d0d;
            text-decoration: underline;
            cursor: pointer;
            /* font-weight: 500; */
            /* text-transform: uppercase; */
            letter-spacing: 0.1em;
            &:hover {
              opacity: 0.8;
            }
          }
          // div {
          //   display: none;
          //   &:first-of-type {
          //     display: block;
          //     overflow: hidden;
          //     margin-bottom: 0.7em;
          //     text-overflow: ellipsis;
          //     display: -webkit-box;
          //     -webkit-line-clamp: 5;
          //     -webkit-box-orient: vertical;
          //   }
          // }
          p, div {
            margin-bottom: 0em;
            display: none;
            &:first-of-type {
              display: block;
              overflow: hidden;
              margin-bottom: 0;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 10;
              -webkit-box-orient: vertical;
              @media screen and (max-width: 1024px) {
                margin-bottom: 0.7em;
                -webkit-line-clamp: 7;
              }
            }
          }
        // }
      }
      // @media screen and (max-width: 1024px) {
        .active-full-content {
          .read-more-btn {
            display: none;
          }
          .div,
          p {
            margin-bottom: 0;
            display: block !important;
            overflow: unset !important;
            text-overflow: unset !important;
          }
        }
      // }
    }
    .video-detail {
      width: 860px;
      max-width: 870px;
      position: unset;
      transform: translate(0);
      height: 480px;
      min-height: 370px;
      max-height: 480px;
      margin: 0 auto 3rem;
      @media screen and (min-width: 1366px) and (max-width: 1440px){
        height: 480px;
        min-height: 480px;
      }
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 200px;
        min-height: 200px;
        max-height: 300px;
        margin: 0 auto;
      }
      .video-react-icon-fullscreen {
        visibility: hidden;
        display: none;
      }
      .video-react {
        background: #0d0d0d;
      }
      .video-react-big-play-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2b333f00 !important;
      }
      .info-video-custom {
        right: 0;
        position: absolute;
        bottom: 8px;
        justify-content: space-between;
        display: flex;
        left: 0;
        padding: 0 16px;
        align-items: center;
        span {
          background: black;
          color: #ffffff;
          padding: 4px 8px;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
  .item-ingredient-wrapper {
    padding-right: 89px;
    margin: 5em 0;
    @media screen and (max-width: 1024px) {
      margin: 0;
      margin-left: -35px;
      margin-right: -15px;
      padding-right: 50px;
    }
    
    .div-persinal-image {
      width: 70%;
      .div-image {
        >span {
          position: absolute;
          bottom: 20%;
        }
      }
    }
    .div-evolution {
      width: 100%;
      @media screen and (max-width: 1024px) {
        margin-top: 50px;
      }
      .div-image {
        width: 100%;
        font-size: 12px;
        font-weight: 500;
        >span {
          position: absolute;
          bottom: 20%;
          transform: translateX(-50%);
          animation: animateOpacity 2s;
          opacity: 1;
        }
        >span:nth-child(2) {
          left: 23%;
        }
        >span:nth-child(3) {
          left: 39%;
        }
        >span:nth-child(4) {
          left: 58%;
        }
        >span:nth-child(5) {
          left: 78%;
        }
      } 
    }
    .div-strength {
      width: 70%;
      @media screen and (max-width: 1024px) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .div-image {
        font-size: 12px;
        color: #0D0D0D;
        font-weight: 500;
        width: 83%;
        >span {
          position: absolute;
          animation: animateOpacity 2s;
          opacity: 1;
        }
        >span:nth-child(2) {
          left: 5%;
          bottom: 15%;
        }
        >span:nth-child(3) {
          right: 5%;
          bottom: 15%;
        }
        >span:nth-child(4) {
          bottom: 30%;
          right: 26%;
          font-size: 16px;
        }
      }
    }
    .div-title {
      width: 230px;
      text-align: center;
      margin-bottom: 20px;
      @media screen and (max-width: 600px){
        width: 100%;
        margin-bottom: 15px;
      }
      >span {
        width: 100%;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-size: 12px;
        text-transform: uppercase;
        color: #0D0D0D;

        @media screen and (max-width: 600px){
          font-size: 12px;
        }
      }
    }
    .div-image {
      position: relative;
      width: 75%;
      #span-1 {
        position: absolute;
        left: 50%;
        bottom: 6%;
        transform: translateX(-50%);
        font-weight: 500;
        font-size: 12px;
        animation: animateOpacity 2s;
        opacity: 1;
        letter-spacing: 0.01rem;
      }
      #span-2 {
        position: absolute;
        left: 20%;
        top: 20%;
        font-weight: 500;
        font-size: 12px;
        animation: animateOpacity 2s;
        opacity: 1;
        letter-spacing: 0.01rem;
      }
      #span-3 {
        position: absolute;
        right: 20%;
        top: 20%;
        font-weight: 500;
        font-size: 12px;
        animation: animateOpacity 2s;
        opacity: 1;
        letter-spacing: 0.01rem;
      }
    }
    // img {
    //   padding: 0 1em;
    // }
    .div-title {
      text-transform: uppercase;
      text-align: center;
      padding: 16px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.1em;
      @media screen and (max-width: 1024px) {
        padding: 42px 16px 24px;
      }
    }
  }
  .hr-benefit {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  .item-benefit-wrapper {
    padding-right: 89px;
    text-align: center;
    padding-left: 16px;
    margin: 3em 0px 3em;
    @media screen and (max-width: 1024px) {
      padding-left: 0;
      margin: 1em 0px 0 -25px;
      padding-right: 50px;
    }
    .content-benefit {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .title-benefit {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-bottom: 16px;
      text-transform: uppercase;
      @media screen and (max-width: 1024px) {
        padding: 1em 16px;
        font-size: 16px;
      }
      .content-benefit {
        width: 70%;
        margin: 0 auto;
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    span {
      font-size: 16px;
      margin-right: 16px;
      white-space: nowrap;
      @media screen and (max-width: 1024px) {
        margin-right: 24px;
      }
      i {
        font-size: 13px;
        color: #b79b53;
        margin-right: 3px;
      }
    }
  }

  .recomment-combo-wrapper {
    padding-right: 89px;
    @media screen and (max-width: 1024px) {
      margin-left: -35px;
      padding-right: 50px;
    }
    .recommend-title {
      margin: 1.5em 0 1.1em;
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @media screen and (max-width: 1024px) {
        margin: 2em 0 1em;
        font-size: 16px;
      }
    }
    // .recomment-combo-item {
    //   padding: 0 47px;
    // }
    // & :first-of-type .recomment-combo-item {
    //   padding-right: 80px;
    // }
    // .col-md-4:last-child .recomment-combo-item {
    //   padding-left: 80px;
    // }
  }

  // recomment ingredient
  .recomment-ingredient-wrapper {
    padding-right: 89px;
    margin-top: 4em;
    @media screen and (max-width: 1024px) {
      margin-top: 1em;
      margin-left: -35px;
      padding-right: 50px;
    }
    h3 {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        margin-bottom: 2.8em;
      }
    }
    .items-ingredient {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }
  .image-ingredient {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
    max-width: 17%;
    margin: 0 24px;
    @media screen and (max-width: 1024px) {
      max-width: 44%;
      margin: 0 0 18px 18px;
    }
    .image {
      float: left;
      position: relative;
      z-index: 2;
      width: 100%;
      padding-bottom: 120%; /* = width for a 1:1 aspect ratio */
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 6px;
      opacity: 1;
      @media screen and (max-width: 1024px) {
        padding-bottom: 80%;
        padding-bottom: 125%;
      }
    }
    .tag {
      width: auto;
      position: absolute;
      top: 0;
      z-index: 3;
      bottom: 0;
      display: flex;
      transition: 0.4s;
      right: 0;
      left: 0;
      background: #0d0d0d73;
      padding: 2px 8px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 0.1em;
      border-radius: 4px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .name {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.2em;
        margin-bottom: 0em;
        text-align: center;
        @media screen and (max-width: 1024px) {
          font-size: 12px;
        }
      }
      .des {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;
        @media screen and (max-width: 1024px) {
          font-size: 8px;
        }
      }
    }
  }
  .image-ingredient-hover {
    .image-hover {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    @media screen and (min-width: 1024px) {
      &:hover {
        // .image {
        //   opacity: 0;
        //   transition: 0.1s ease-in-out;
        // }
        .tag {
          background: #0d0d0db5;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }

  .div-logo {
    margin: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      width: calc(100% - 94px);
      margin: 40px;
      transform: translateX(-25px);
      >img {
        object-fit: contain;
        object-position: center;
      }
    }
  }

  // icon info ingredient
  .ic-info-ingredient {
    display: flex;
    justify-content: space-around;
    padding-right: 5em;
    padding-left: 16px;
    flex-wrap: nowrap;
    margin: 6rem 0 6rem;
    @media screen and (max-width: 1024px) {
      margin-left: -35px;
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 50px;
    }
    .ic-box {
      flex-grow: 1;
      text-align: center;
      width: 100%;
      @media screen and (max-width: 1024px) {
        width: 50%;
        margin-bottom: 32px;
      }
      img {
        max-height: 41px;
      }
      .info-ic {
        margin-top: 12px;
        p {
          margin-bottom: 0em;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          font-weight: 500;
          @media screen and (max-width: 1024px) {
            font-size: 10px;
          }
          &:first-of-type {
            font-size: 18px;
            font-weight: 500;
            @media screen and (max-width: 1024px) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .wrapper-footer-ingredients {
    display: flex;
  }
  .footer-detail {
    padding-right: 89px;
    padding-left: 16px;
    margin: 5rem 0 4em;
    text-align: center;
    @media screen and (max-width: 1024px) {
      padding-right: 50px;
      margin-left: -35px;
      margin-top: 0;
      margin-bottom: 1em;
    }
    h2,
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
    h3 {
      @media screen and (max-width: 1024px) {
        font-size: 16px !important;
      }
    }
    a {
      width: 30%;
      margin: 1em 0 3em;
      padding: 16px;
      border: 1px solid #0d0d0d;
      background: white;
      border-radius: 5px;
      letter-spacing: 0.2em;
      font-weight: 500;
      font-size: 20px;
      text-decoration: none;
      color: #0d0d0d;
      display: inline-block;
      @media screen and (max-width: 1024px) {
        width: 86%;
        padding: 12px;
        border: 2px solid #0d0d0d;
        margin: 0.5em 0 2em;
      }
      &:hover {
        text-decoration: none;
        opacity: 0.8;
        transition: 0.1s;
      }
    }
    .image-ingredient {
      margin: 1em auto;
      @media screen and (max-width: 1024px) {
        margin: 16px 10px !important;
      }
      .des {
        @media screen and (max-width: 1024px) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  .hr-footer {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    @media screen and (max-width: 1024px) {
      right: 50px;
    }
  }

  // mobile action box
  .action-box-mobile {
    padding-right: 50px;
    margin-left: 8px;
    margin-left: -16px;
    margin-top: 1em;
    margin-bottom: 2em;
    .btn-back {
      border: 0;
      background: 0;
      padding: 0;
      margin-bottom: 16px;
      font-size: 14px;
      width: 100%;
      text-align: right;
      letter-spacing: 0.1em;
      font-weight: 500;
      display: flex;
      align-items: center;
      white-space: nowrap;
      justify-content: center;
      margin-top: 2em;
      img {
        height: 13px;
        margin-right: 16px;
        margin-bottom: 1px;
      }
    }
    .group-box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 16px;
      button {
        width: 86px;
        border: 1px solid #8d8d8d;
        padding: 8px 0;
        background: white;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        letter-spacing: 0.2em;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        &:disabled {
          img {
            opacity: 0.4;
          }
        }
      }
      .btn-next {
        border-left: 1px solid #8d8d8d80;
        img {
          height: 10px;
          margin-left: 8px;
          margin-bottom: 1px;
        }
      }
      .btn-prev {
        border-right: 1px solid #8d8d8d80;
        img {
          height: 10px;
          margin-right: 8px;
          margin-bottom: 1px;
        }
      }
    }
  }
}
.icon-fullscreen-custom-glossaire {
  cursor: pointer;
  img:hover {
    box-shadow: inset 0 0 9px 0px #ffffff59, 0px 1px 20px 4px #ffffff59;
  }
}
.modal-video-detail {
  max-width: calc(100vw - 100px) !important;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    border: none;
  }
  .video-react {
    background: #0d0d0d;
  }
  .video-react-big-play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b333f00 !important;
  }
}
