.gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  .title-text {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #2C2C22;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
  }
  .des-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #56564E;
    margin-bottom: 52px;
    text-align: center;
  }
  .list-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'item-1 item-2 item-3'
      'item-4 item-4 item-4';
    gap: 12px;

    @media screen and (max-width: 767px) {
      gap: 8px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        'item-1'
        'item-2'
        'item-3'
        'item-4';
    }
  }
}