.club21g {
  // margin-top: 227px;
  // @media screen and (max-width: 1440px) {
  //   margin-top: 170px;
  // }
  // @media screen and (max-width: 1024px) {
  //   margin-top: 86px;
  // }
  .div-block-video-club {
    width: 100%;
    // padding-top: 56.25%;
    position: relative;
  }

  .div-block-icon-header-v2 {
    >h2 {
      font-family: Playfair Display;
    }
  }

  .div-discover-block {
    position: relative;
    // padding-top: 39.07%;
    width: 100%;
    @media screen and (max-width: 1024px){
      padding-top: 0px;
    }
    .div-info {
      width: 100%;
      height: 100%;
      background: transparent;
      // position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      @media screen and (max-width: 1024px){
        position: relative;
        flex-direction: column;
        justify-content: center;
      }
      .div-image {
        // position: relative;
        width: 45%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        >img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        @media screen and (max-width: 1024px){
          position: relative;
          width: 100vw;
          height: calc(100vw * 0.78);
        }
      }
      .div-wrap-text {
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #0D0D0D;
        padding: 40px 65px;
        @media screen and (max-width: 1024px){
          width: 100%;
          padding: 40px 35px;
        }
        >h3 {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          letter-spacing: 0.2em;
          color: #FFFFFF;
          margin: 0px;
          @media screen and (max-width: 1024px){
            font-size: 18px;
            text-align: center;
          }
        }
        .div-button-tab {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 13px;
          @media screen and (max-width: 1024px){
            width: 100%;
            margin-top: 44px;
          }
          >button {
            background: transparent;
            border: none;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #8D8D8D;
            padding: 0px 48px;
            @media screen and (max-width: 1024px){
              font-size: 12px;
              padding: 0px;
              width: 50%;
            }
          }
          >button:nth-child(1) {
            border-right: 1px solid #8D8D8D;
          }
          .active {
            color: #FFFFFF;
          }
        }
        >span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          text-align: center;
          letter-spacing: 0.05em;
          color: #FFFFFF;
          margin: 60px 0px;
          @media screen and (max-width: 1024px){
            font-size: 14px;
            margin: 44px 0px;
          }
        }
        .div-scent {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          
          >h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media screen and (max-width: 1024px){
              font-size: 10px;
            }
          }
          .div-scent-info {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 15px 0px;
            @media screen and (max-width: 1024px){
              flex-direction: column;
              align-items: center;
              margin: 20px 0px;
            }
            >img {
              width: 131px;
              height: 131px;
              box-shadow: 0px 3.0756px 3.0756px rgba(0, 0, 0, 0.1);
              border-radius: 44.352px;
              margin-right: 40px;
              object-fit: cover;
              object-position: center;
              @media screen and (max-width: 1024px){
                margin-right: 0px;
                visibility: hidden;
              }
            }
            .div-process-line {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: flex-start;
              @media screen and (max-width: 1024px){
                width: 100%;
                margin-bottom: 20px;
              }
              .progressLine {
                .div-text {
                  >span {
                    color: #ffffff;
                    font-size: 14px;
                  }
                }
              }
              
            }
            .div-process-circle {
              flex: 1;
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              @media screen and (max-width: 1024px){
                width: 100%;
              }
              .progress-circle {
                >span {
                  color: #ffffff;
                  font-size: 14px;
                }
                .div-circle {
                  .CircularProgressbar-path {
                    stroke: #B79B53;
                  }
                  .CircularProgressbar-text {
                    fill: #ffffff;
                  }
                }
              }
            }
          }
          .div-bt-more {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            @media screen and (max-width: 1024px){
              margin-top: 10px;
            }
            >button {
              background: transparent;
              border: none;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              letter-spacing: 0.2em;
              text-decoration: underline;
              text-transform: uppercase;
              color: #FFFFFF;
              >img {
                padding-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}