.color-selected {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  &.active {
    opacity: 1;
    z-index: 1;
  }
  &.hidden-active {
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 0;
  }
}
.question-skin-quiz {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  >button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    @media screen and (max-width: 767px) {
      width: calc((100vw - 150px)/5);
      height: calc((100vw - 150px)/5);
    }
    >svg {
      width: 33%;
      height: 33%;
      margin: auto;
      display: none;
    }
    &:hover {
      box-shadow: 10px 10px 15px rgba(191, 151, 137, 0.5);
    }
    &.active {
      border: 2px solid #B79B53;
      >svg {
        display: inherit;
      }
    }
  }
}