.header-quiz {
  width: 100%;
  height: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #303030;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  opacity: 1;
  transition: all 0.2s;
  @media screen and (max-width: 991px) {
    height: 101px;
  }
  @media screen and (max-width: 767px) {
    height: 93px;
  }
  &.hidden-opacity {
    opacity: 0;
  }
  .div-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    >img {
      height: 45px;
      @media screen and (max-width: 991px) {
        height: 24px;
      }
      @media screen and (max-width: 767px) {
        height: 24px;
      }
    }
  }
  .tabs {
    width: 100%;
    display: flex;
    .tabs-item {
      width: 33.33%;
      height: 78px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      font-family: 'Ferrari';
      color: #FFFFFF;
      @media screen and (max-width: 991px) {
        font-size: 8.25px;
        height: 53px;
      }
      @media screen and (max-width: 767px) {
        font-size: 8.25px;
        height: 53px;
      }
      &.active {
        border-bottom: 3px solid #DA291C;
      }
    }
  }
}