.div-result-scent-v3 {
  align-items: center;
  padding: 0px 60px;
  // margin-top: 70px;
  @media screen and (max-width: 1440px) {
    padding: 0px 45px;
    // margin-top: 70px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0px;
    // margin-top: 70px;
  }
  &.outcome-v3 {
    padding: 0px;
    .block-faq {
      padding: 65px 0px;
      width: 65%;
      @media screen and (max-width: 1440px) {
        padding: 50px 0px;
      }
      @media screen and (max-width: 1024px) {
        padding: 30px 0px;
        width: calc(100vw - 70px);
      }
      .div-faq-block {
        width: 100%;
      }
    }
    .block-icon {
      background: #F5ECDC;
      width: calc(100vw - 90px * 1.33);
      @media screen and (max-width: 1440px) {
        width: calc(100vw - 90px);
      }
      @media screen and (max-width: 1024px) {
        width: 100vw;
      }
    }

    .block-custome-say {
      width: 67vw;
      @media screen and (max-width: 1024px) {
        width: calc(100vw - 70px);
      }
      .customer-say {
        .line-header {
          .line {
            visibility: hidden;
          }
          >h3 {
            font-weight: 300;
            font-size: 36px;
            letter-spacing: 0.02em;
            color: #0D0D0D;
            line-height: 52px;
            @media screen and (max-width: 1440px) {
              font-size: 27px;
              line-height: 39px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 21px;
              line-height: 30px;
            }
          }
        }
        .content-slider {
          .item-say {
            display: flex !important;
            justify-content: center;
            align-items: center;
            .des {
              text-align: center;
            }
          }
        }
      }
    }

    .block-blogs {
      .div-testimonials-v2 {
        @media screen and (max-width: 1024px) {
          width: 100vw;
          margin-left: 0px;
        }
        >hr {
          visibility: hidden;
        }
      }
    }

    .icon-blocks {
      width: 100%;
      margin-top: 65px;
      @media screen and (max-width: 1440px) {
        margin-top: 50px;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 30px;
      }
    }

  }
  .footer-v2 {
    width: 100%;
  }
  .div-persionality-text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    @media only screen and (max-width: 1440px) {
      height: 225px;
    }
    @media screen and (max-width: 1024px) {
      height: auto;
      flex-direction: column;
    }
    .line-button-results {
      @media screen and (max-width: 1024px) {
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.15em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 15px;
        margin-top: 30px;
        &.bt-view-more {
          margin-top: 10px;
          margin-bottom: 14px;
        }
      }
    }
    .text-persionality {
      margin-top: 39px;
      margin-right: 50px;
      min-width: 334px;
      @media screen and (max-width: 1440px) {
        margin-top: 29px;
        margin-right: 37px;
        min-width: 250px;
      }
      @media screen and (max-width: 1024px) {
        margin-top: 19px;
        margin-right: unset;
        min-width: auto;
        padding: 0px 15px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .div-name {
        margin-bottom: 15px;
        @media screen and (max-width: 1440px) {
          margin-bottom: 11.25px;
        }
        @media screen and (max-width: 1024px) {
          margin-bottom: 9.78px;
          width: 100%;
          justify-content: center;
        }
        >img {
          height: 53px;
          margin-right: 15px;
          @media screen and (max-width: 1440px) {
            height: 39.75px;
            margin-right: 10.8px;
          }
          @media screen and (max-width: 1024px) {
            height: 36.2px;
            margin-right: 12px;
          }
        }
        .header_2 {
          color: #B79B53;
          @media screen and (max-width: 1024px) {
            font-size: 26px;
            line-height: 32px;
          }
        }
      }
      .header_4 {
        width: 334px;
        color: #ffffff;
        @media screen and (max-width: 1440px) {
          width: 250px;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          text-align: center;
        }
      }
    }

    .swiper-persionality {
      width: 332px;
      margin-left: 50px;
      @media screen and (max-width: 1440px) {
        margin-left: 37px;
        width: 250px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: unset;
        width: calc(100vw - 49px * 2);
        margin: auto;
      }
      >div {
        .slick-dots {
          bottom: -28px;
          >li {
            margin: 0px;
            .dots-custom {
              background: #C4C4C4;
              border-radius: 50%;
              width: 10.39px;
              height: 10.39px;
              @media screen and (max-width: 1440px) {
                width: 7.79px;
                height: 7.79px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 5.61px;
              }
            }
            >button::before {
              color: #C4C4C4;
              font-size: 10.39px;
              @media screen and (max-width: 1440px) {
                font-size: 7.79px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 5.61px;
              }
            }
          }
          .slick-active {
            >button::before {
              color: #B79B53;
            }
          }
        }
        .item-slider {
          align-items: center;
          .__header {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #FFFFFF;
            padding: 39px 0px 14.8px 0px;
            @media screen and (max-width: 1440px) {
              font-size: 12px;
              padding: 29.24px 0px 10.6px 0px;
            }
            @media screen and (max-width: 1024px) {
              font-size: 13px;
              padding: 23px 0px 21px 0px;
            }
          }
          .__list {
            width: 100%;
            .__list-item {
              ._list-item-progress {
                height: 2.68px;
                background-color: #e2e2e2;
                border-radius: 0px;
                position: relative;
                @media screen and (max-width: 1440px) {
                  height: 2px;
                }
                @media screen and (max-width: 1024px) {
                  height: 2.42px;
                }
                ._list-item-progress-percentage {
                  position: relative;
                  height: 2.68px;
                  width: 0px;
                  border-radius: 0px;
                  transition: 1s;
                  @media screen and (max-width: 1440px) {
                    height: 2px;
                  }
                  @media screen and (max-width: 1024px) {
                    height: 2.42px;
                  }
                  ._list-item-progress-dot {
                    content: "";
                    border-radius: 0px;
                    width: 10px;
                    height: 5.9px;
                    right: 0px;
                    top: -2px;
                    position: absolute;
                    background-color: #CC9410;
                    @media screen and (max-width: 1440px) {
                      width: 7.61px;
                      height: 4.42px;
                      top: -1px;
                    }
                    @media screen and (max-width: 1024px) {
                      width: 8.48px;
                      height: 6.32px;
                      top: -2px;
                    }
                  }
                }
              
              }
        
              ._list-item-content {
                padding-top: 0px;
                margin-bottom: 10px;
                @media screen and (max-width: 1440px) {
                  padding-top: 0px;
                  margin-bottom: 7px;
                }
                @media screen and (max-width: 1024px) {
                  padding-top: 0px;
                  margin-bottom: 9px;
                }
                span {
                  font-style: normal;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 17px;
                  color: #FFFFFF;
                  @media screen and (max-width: 1440px) {
                    font-size: 9px;
                    line-height: 13px;
                  }
                  @media screen and (max-width: 1024px) {
                    font-size: 10px;
                    line-height: 14px;
                  }
                }
              }
            }
          }
        }
        .bt-icon-right {
          font-style: normal;
          font-weight: 300;
          font-size: 10px;
          line-height: 14px;
          letter-spacing: 0.15em;
          color: #FFFFFF;
          border: none;
          margin-right: 6.64px;
          background: transparent;
          height: fit-content;
          padding: 0px;
          bottom: 0px;
          position: absolute;
          right: 0px;
          margin: 0px;
          min-width: unset;
          bottom: -4px;
          @media screen and (max-width: 1440px) {
            font-size: 7.5px;
            line-height: 11px;
            margin-right: 4.98px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 10px;
            line-height: 14px;
            margin-right: 5.64px;
          }
        }
      }
    }
  }

  .bt-icon-left {
    width: fit-content;
    padding: 0px;
    min-width: unset;
    font-weight: 400;
    background: transparent;
    border: none;
    color: #ffffff;
    position: absolute;
    top: 54px;
    left: 60px;
    @media screen and (max-width: 1440px) {
      top: 34px;
      left: 44px;
    }
    @media screen and (max-width: 1024px) {
      width: calc(100vw - 35px * 2);
      color: #0D0D0D;
      top: unset;
      left: unset;
      margin: auto;
      margin-bottom: 42px;
      margin-top: -30px;
      position: relative;
    }
  }

  .list-scents-all {
    width: 100%;
    align-items: center;
    .div-card-perfume:last-child {
      border-bottom: none;
    }
    .block-video-quiz {
      width: calc(100vw - 120px);
      background: #F5ECDC;
      margin-top: calc(50px * 1.33);
      padding-bottom: 65px;
      @media screen and (max-width: 1440px) {
        width: calc(100vw - 90px);
        margin-top: 50px;
        padding-bottom: calc(65px * 0.75);
      }
      @media screen and (max-width: 1024px) {
        width: 100vw;
        margin-top: 30px;
        padding-bottom: 40px;
      }
      .video-ingredient {
        >h3 {
          font-weight: 300;
          font-size: 36px;
          color: #0D0D0D;
          margin-bottom: calc(40px * 1.33);
          width: 100%;
          text-align: center;
          @media screen and (max-width: 1440px) {
            font-size: 27px;
            line-height: 39px;
            margin-bottom: 40px;
          }
          @media screen and(max-width: 1024px) {
            font-size: 21px;
            margin-bottom: 30px;
          }
        }
        .list-video {
          .video-item {
            width: calc(100vw * 0.347 + 40px);
            @media screen and (max-width: 1440px) {
              width: calc(100vw * 0.347 + 30px);
            }
            @media screen and (max-width: 1024px) {
              width: 100%;
            }
            .thumbnail-video {
              width: calc(100vw * 0.347);
              @media screen and (max-width: 1440px) {
                width: calc(100vw * 0.347);
              }
              @media screen and (max-width: 1024px) {
                width: calc(100% - 20px);
                margin: auto;
              }
            }
            >span {
              font-weight: 300;
              font-size: calc(16px * 1.33);
              width: 100%;
              text-align: center;
              @media screen and (max-width: 1440px) {
                font-size: 16px;
              }
              @media screen and (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}