.des-block {
  width: 100%;

  display: flex;
  flex-direction: column;

  .title-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2C2C22;
    margin-bottom: 12px;

    display: flex;
    align-items: center;

    > img {
      margin-right: 12px;
    }
  }
  .des-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .title-des {
      padding: 8px 12px;

      width: fit-content;
      font-size: 16px;
      line-height: 150%;
      color: #2C2C22;

      cursor: pointer;

      &.active {
        border-bottom: 1px solid #2C2C22;
      }
    }
  }
  .des-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #56564E;

    margin-bottom: 16px;
    p {
      span {
        font-family: unset !important;
      }
      margin-bottom: 0;
    }
    ul {
      margin-bottom: 0;
      li span {
        font-family: unset !important;
      }
    }
  }
  .des-properties {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: #56564E;
    font-size: 16px;

    > span {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #2C2C22;
      margin-right: 6px;
    }
    .list-point {
      display: flex;
      align-items: center;
      margin-left: 6px;
      column-gap: 6px;
      .point-i {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #BCAD93;
        &.active {
          background-color: #56564E;
        }
      }
    }
  }
  .list-scents {
    padding-left: 0;
    margin-bottom: 16px;
    list-style-type: none;

    display: flex;
    align-items: center;
    column-gap: 16px;

    li {
      border-radius: 5px;
      width: 100px;
      height: 54px;
      overflow: hidden;

      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .scent-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
      }
    }
  }
  .div-gift-include {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
    margin-top: 24px;
    .text-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #2C2C22;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .line-step {
      margin-left: 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #56564E;
      margin-bottom: 12px;
    }
  }
  .line-temp {
    margin: 16px 0;
    border-bottom: 1px solid #2C2C22;
  }
  .div-voucher-tabs {
    display: flex;
    flex-direction: column;
    .div-title {
      width: fit-content;

      font-size: 12px;
      font-weight: 600;
      line-height: 150%;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #565656;
      margin-bottom: 24px;
      padding-bottom: 8px;
      border-bottom: 1px solid #BCAD93;
    }
    .div-group {
      display: flex;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 24px;
      .div-btn {
        width: 120px;
        height: 52px;
        background-color: #F1E4CD;
        color: #BCAD93;

        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        padding: 0 16px;

        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        &.active {
          color: #EBD8B8;
          background-color: #2C2C22;
        }
      }
    }
    .div-content {
      padding-left: 8px;
      margin-bottom: 16px;
      .rich-text {
        ol {
          padding-left: 16px;
          li:not(:last-child) {
            margin-bottom: 4px;
          }
        }
        ol, p {
          margin: 0;
        }
      }
    }
  }
  .div-point-price {
    display: flex;
    flex-direction: column;

    margin-top: auto;
    border-top: 1px solid #333333;
    @media screen and (min-width: 992px) {
      margin-bottom: 24px;
    }
    .price {
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      color: #2C2C22;
      margin: 12px 0 8px;
      text-align: end;
      @media screen and (max-width: 767px) {
        font-size: 32px;
        margin-top: 12px;
        margin-bottom: 8px;
      }
    }
    .line-point {
      height: 30px;
      background: #FFF4E0;
      border: 0.8px solid #BCAD93;
      border-radius: 20px;
      align-items: center;
      padding: 0px 12px;
      width: fit-content;
      align-self: flex-end;
      @media screen and (max-width: 767px) {
        height: 24px;
        padding: 0px 6px;
        margin-bottom: 0px;
      }
      > img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      > span {
        font-size: 14px;
        @media screen and (max-width: 767px) {
          font-size: 10px;
        }
      }
    }
  }
  .add-card-block {
    display: flex;
    align-items: center;

    @media screen and (max-width: 991px) {
      position: fixed;
      border: 0px;
      display: flex;
      z-index: 14;
      background: #F5ECDC;
      width: 100%;
      left: 0px;
      bottom: 0px;
      padding: 24px 48px;
      box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
    }

    @media screen and (max-width: 480px) {
      padding: 16px 24px;
    }
    .div-quantity {
      height: 56px;
      min-width: 95px;
      border: 1px solid #2C2C22;
      border-radius: 30px;
      margin-right: 15px;
      padding: 0px 25px;
      .div-number {
        display: flex;
        height: 100%;
        align-items: center;
        .quantity {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 15px;
          font-weight: 500;
        }
        .disabled {
          cursor: not-allowed;
        }
        > button {
          > img {
            width: 11px;
            height: 100%;
          }
        }
      }
    }
    > button {
      text-transform: initial;
      flex: 1;
    }
  }
  .tab-scent-character {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 767px) {
    height: unset;
    padding: 0px;
    .title-text {
      font-size: 24px;
    }
  }
}